<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>portlet</title>
{#commonInclude#}
<script type="text/javascript" src="{#jsPath#}/attendance-list.js"></script>
<!-- <script type="text/javascript" src="{#comboGrid#}/yxcombogrid-customer.js"></script> -->
</head>
<body>
<table id="attendanceTable">
	<tr bgcolor="#F0F0F0">
	<td width="150" align="center">请假类型</td>
	<td width="150" align="center">离职时间</td>
	<td width="150" align="center">复职时间</td>
	<td width="150" align="center">假期时长</td>
	</tr>
</table>
</body>
</html>