<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en_US" xml:lang="en_US">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=gb2312"/>
        <link rel="stylesheet" type="text/css" href="css/yxstyle.css"/>
		<link rel="stylesheet" type="text/css" href="js/jquery/style/yxgrid.css" />
		<link rel="stylesheet" type="text/css" href="js/jquery/style/yxmenu.css" media="screen" />
		<link rel="stylesheet" type="text/css" href="js/jquery/style/yxmenu.theme.css" media="screen" />

	    <script type="text/javascript" src="js/jquery/jquery-1.4.2.js"></script>
		<script type="text/javascript" src="js/common/businesspage.js"></script>
	    <script type="text/javascript" src="js/DatePicker/WdatePicker.js"></script>

		<script type="text/javascript" src="js/jquery/woo.js"></script>
		<script type="text/javascript" src="js/jquery/component.js"></script>
		<script type="text/javascript" src="js/jquery/dump.js"></script>

		<script type="text/javascript" src="js/jquery/combo/yxcombo.js"></script>
		<script type="text/javascript" src="js/jquery/grid/yxsgrid.js"></script>
		<script type="text/javascript" src="js/jquery/grid/yxgrid.js"></script>
		<script type="text/javascript" src="js/jquery/combo/yxcombogrid.js"></script>

		<script type="text/javascript" src="js/jquery/combo/business/yxcombogrid-purchcontract.js"></script>
		<script type="text/javascript" src="js/jquery/combo/business/yxcombogrid-supplier.js"></script>

		<script type="text/javascript" src="view/template/finance/payablesapply/js/payablesapply-purcontract-addpedal.js"></script>

		<title>付款申请源单选择</title>
	</head>
<body>
<div class="main_head"><span class="main_head_title">请选择需要申请的付款类型</span></div>
<table class="form_main_table">
	<!--tr>
		<td class="form_text_left">无源单类</td>
		<td class="form_text_right">
			<input type="button" id="noSourceType" class="txt_btn_a" onclick="openNoSourceType()" value="确认选择"/>
		</td>
	</tr-->
	<tr>
		<td class="form_text_left">采购订单</td>
		<td class="form_text_right">
			<input type="button" id="purchase" class="txt_btn_a" onclick="openPurcontract()" value="确认选择"/>
			<span class="red">新增采购订单付款申请请先选择供应商和订单</span>
		</td>
	</tr>
	<tr>
		<td class="form_text_left">选择供应商</td>
		<td class="form_text_right">
			<input id="supplierName" type="text" class="txtlong"/>
			<input id="supplierId" type="hidden"/>
		</td>
	</tr>
	<tr>
		<td class="form_text_left">选择订单</td>
		<td class="form_text_right">
			<input id="objCode" type="text" class="txtlong"/>
			<input id="objId" type="hidden"/>
			<input id="sendUserId" type="hidden" value="{sendUserId}"/>
		</td>
	</tr>
</table>
</body>
</html>
