<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>查看退款申请单</title>
	<meta http-equiv="Content-Type" content="text/html; charset=gb2312"/>
    <link rel="stylesheet" type="text/css" href="css/yxstyle2.css" />

    <script type="text/javascript" src="js/jquery/jquery-1.4.2.js"></script>
	<script type="text/javascript" src="js/common/businesspage.js"></script>
	<script type="text/javascript" src="js/common/approval.js"></script>
	<script type="text/javascript" src="js/Lodop/printer.js"></script>

	<script type="text/javascript" src="view/template/finance/payablesapply/js/payablesapply-print.js"></script>
</head>
<body>
	<div id="payablesapply">
	<table class="form_main_table">
		<tr class="main_head">
			<td colspan="4">
				<span style="font-size:18px;font-weight:bold;letter-spacing:5px;"> 退 款 申 请 单 </span>
				<span style="float:right;margin:2px 8px 0px 0px;">{id}</span>
				<span id="isReprint" style="border:1px;font-weight:bold;float:right;margin:2px 8px 0px 0px;"></span>
				<input type="hidden" id="printCount" value="{printCount}"/>
			</td>
		</tr>
		<tr>
			<td colspan="4">
				&nbsp;珠海世纪鼎利通信科技股份有限公司
			</td>
		</tr>
		<tr>
			<td class="form_text_left">收款单位</td>
			<td class="form_text_right">
				{supplierName}
			</td>
			<td class="form_text_left">申请部门
			</td>
			<td class="form_text_right">
				{deptName}
			</td>
		</tr>
		<tr>
			<td class="form_text_left">银行账号</td>
			<td class="form_text_right">
				{account}
			</td>
			<td class="form_text_left">申 请 人</td>
			<td class="form_text_right" width="30%">
				{salesman}
			</td>
		</tr>
		<tr>
			<td class="form_text_left">开户银行</td>
			<td class="form_text_right">
				{bank}
			</td>
			<td class="form_text_left">申请单号</td>
			<td class="form_text_right">
				{formNo}
			</td>
		</tr>
		<tr>
			<td class="form_text_left">总 金 额</td>
			<td class="form_text_right" style="font-weight:bold;">
				{currencyCode}：<span class="formatMoney">{payMoney}</span>
			</td>
			<td class="form_text_left">单据日期</td>
			<td class="form_text_right">
				{formDate}
			</td>
		</tr>
		<tr>
			<td class="form_text_left">总 金 额</td>
			<td class="form_text_right" style="font-weight:bold;">
				{currency}：<span class="chinseMoney" style="font-weight:bold;" title="{payMoney}"></span>
			</td>
			<td class="form_text_left">付款类型</td>
			<td class="form_text_right">
				{payForCN}
			</td>
		</tr>
		<tr>
			<td class="form_text_left">退款说明</td>
			<td colspan="3" class="form_text_right">
				<textarea class="textarea_read_blue" readonly="readonly">{remark}</textarea>
			</td>
		</tr>
		<!--tr>
			<td class="innerTd" colspan="4">
				<table class="form_in_table">
					<thead>
						<tr align="left">
							<td colspan="13" class="form_header">款项内容</td>
						</tr>
						<tr class="main_tr_header">
							<th>序号</th>
							<th width="8%">源单类型</th>
							<th width="13%">源单编号</th>
							<th>订单金额</th>
							<th>申请金额</th>
							<th>物料编号</th>
							<th>物料名称</th>
							<th>单位</th>
							<th>数量</th>
							<th>含税单价</th>
							<th>价税合计</th>
						</tr>
					</thead>
					<tbody id="invbody">
						{detail}
					</tbody>
				</table>
			</td>
		</tr-->
		<tr>
			<td colspan="4" class="td_table" id="approvalView">
				<input type="hidden" id="pid" value="{exaId}"/>
				<input type="hidden" id="itemType" value="{exaCode}"/>
				<input type="hidden" id="isPrint" value="1"/>
			</td>
		</tr>
	</table>
	</div>
	<table class="form_main_table">
		<tr>
			<td>
				<input type="button" onclick="changePrintCount({id});" class="txt_btn_a" value="打印预览" />
				<input type="button" onclick="javascript:prn_design('payablesapply','付款申请')" class="txt_btn_a" value="页面设置"/>
				<input type="button" class="txt_btn_a" value="关闭" onclick="closeFun();"/>
			</td>
		</tr>
	</table>
</body>
</html>