<!--
body{font-size:13px;}
#sug{margin:0px; padding:0px; margin-left: 0; position:absolute ;z-index: 2; background-color: white; margin-left: -2px;}
#show{border:1px solid #9abcde; line-height:23px;  width: 100% margin:0px; padding:0px; cursor:default}
#show li{list-style:none; text-align: left;  padding-right: 18px;  vertical-align:middle; line-height:20px ; font-size: 14;}
-->