.hidden {
	display: none;
}

#main {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	overflow-x: auto;
	z-index: -1;
}

#loading {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	background: rgba(255, 255, 255, 0.5);
	z-index: 9999;
}

#loading .loading {
	width: 80px;
	height: 55px;
	border-radius: 5px;
	background: url("../../../../../images/loading1.gif") center no-repeat;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -27px;
	margin-left: -40px;
}

#left {
	width: 200px;
	padding: 5px;
	border-right: #eee solid 1px;
	position: fixed;
	left: 0;
	left: 0;
	bottom: 0;
	top: 0;
	overflow: auto;
}

#right {
	padding: 5px;
	position: fixed;
	left: 210px;
	bottom: 0;
	top: 0;
	right: 0;
	overflow: auto;
	z-index: 990;
}

#column_div {
	display: none;
	position: fixed;
	width: 120px;
	margin: 0 0 5px 0;
	padding: 0px 5px;
	border: 1px solid #95B8E7;
	font-size: 12px;
	background: #fff;
	z-index: 991;
}

#column_div label {
	margin: 5px 0;
	display: block;
	cursor: pointer;
}

#column_div button {
	margin: 5px;
}

#column_div span {
	background: none repeat scroll 0 0 #EEEEEE;
	cursor: pointer;
	display: block;
	height: 25px;
	line-height: 25px;
	margin-top: 5px;
	text-align: center;
}

#columns_box {
	width: 200px;
}

#columns_box label {
	margin: 10px;
	display: block;
}

#moreProductConfig_dialog_data .product_tree {
	width: 25%;
	height: 700px;
	overflow: auto;
	float: left;
}

#moreProductConfig_dialog_data .product_chose_box {
	width: 70%;
	float: left;
}

table.box_table {
	width: 360px;
	margin: 100px 0 0 130px;
	border: none;
	border-collapse: collapse;
	background: #f4f4f4;
	text-align: center;
}

table.box_table td, table.box_table th {
	height: 30px;
	border: 1px solid #ddd;
	border-collapse: collapse;
}

#loss_rate {
	height: 20px;
	margin-top: -5px;
	width: 20px;
	text-align: center;
}

#save_config_list_form table {
	border: none;
	border-collapse: collapse;
	background: #f4f4f4;
	text-align: center;
	margin-bottom: 15px;
}

#save_config_list_form table td, #save_config_list_form table th {
	height: 30px;
	border: 1px solid #ddd;
	border-collapse: collapse;
}

#bom_detail_box {
	padding: 5px;
	margin: 10px 0;
	border: #95B8E7 solid 1px;
	display: none;
	font-size: 12px;
}

.bom_list_config {
	margin-bottom: 5px;
}

.bom_list_config span {
	margin: 0 0 5px 2px;
}

.bom_list_config input {
	border: 1px solid #ccc;
	background: #ddd;
}