<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en_US" xml:lang="en_US">
<head>
	<title></title>
{#commonInclude#}
    <script type="text/javascript" src="{#jsPath#}/chance-competitor.js"></script>
</head>
<body>

</div>
<form id="form1" method="post" action="?model=projectmanagent_chance_chance&action=competitorAdd" name="form1">
<table class="form_main_table">
 <div class="main_head"><span class="main_head_title">添加竞争对手信息</span></div>
<tr>
		<td colspan="6" class="innerTd">
		<fieldset style="width:200"><legend style="text-align:left">
		  <b>竞争对手</b>
		   <img src="images/icon/icon002.gif" alt="新增选项" /></legend>
		    <div id="competitorList"></div>
		</fieldset>
		</td>
</tr>

<td colspan="6">
<table class="form_main_table">
<tr>
		<td class="txt_btn" colspan="4">
		   <input type="hidden" name="chance[chanceId]" value="{chanceId}" id="chanceId" />
		   <input type="submit" class="txt_btn_a" value=" 保  存 " />&nbsp;
		   <input type="button" class="txt_btn_a" value=" 关  闭 " onclick="closeFun();"/>&nbsp;
		</td>
</tr>
</table>
</td>
</tr>
</table>
</form>
</body>
</html>