<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" " http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>
			编辑服务经理
		</title>
		{#commonInclude#}
		<script type="text/javascript" src="js/jquery/combo/business/yxcombogrid-branch.js"></script>
		<script type="text/javascript" src="{#jsPath#}/manager-common.js"></script>
		<script type="text/javascript" src="{#jsPath#}/manager-edit.js"></script>
	</head>
	<body>
		<form id="form1" method="post" action="?model=engineering_officeinfo_manager&action=edit" onsubmit="return checkRepeat();">
			<table class="form_main_table">
				<tr>
					<td colspan="4">
						<div class="main_head">
							<span class="main_head_title">
								编辑服务经理信息
							</span>
						</div>
					</td>
				</tr>
				<tr>
					<td class="form_text_left">
						<label for="productLine" style="color:blue;">执行区域</label>
					</td>
					<td class="form_text_right">
						<select id="productLine" name="manager[productLine]" class="select">
							{productLine}
						</select>
						<input type="hidden" id="oldProductLine" name="manager[oldProductLine]" value="{oldProductLine}"/>
					</td>
				</tr>
				<tr>
					<td class="form_text_left">
						省份
					</td>
					<td class="form_text_right">
						<select id="provinceId" name="manager[provinceId]" class="select"></select>
						<input type="hidden" id="province" name="manager[province]" value="{province}"/>
						<input type="hidden" id="provinceIdHidden" name="manager[oldProvinceId]" value="{provinceId}"/>
					</td>
				</tr>
				<tr>
					<td class="form_text_left">
						服务经理
					</td>
					<td class="form_text_right">
						<input type="text" class="txtlong" id="managerName" name="manager[managerName]" value="{managerName}" readonly="readonly"/>
						<input type="hidden" id="managerId" name="manager[managerId]" value="{managerId}" />
					</td>
				</tr>
				<tr>
					<td class="form_text_left">
						<label for="businessBelongName" style="color:blue;">归属公司</label>
					</td>
					<td class="form_text_right">
						<input type="text" class="txtlong" id="businessBelongName" name="manager[businessBelongName]" readonly="readonly" value="{businessBelongName}"/>
						<input type="hidden" id="businessBelong" name="manager[businessBelong]" value="{businessBelong}"/>
						<input type="hidden" id="formBelongName" name="manager[formBelongName]" value="{formBelongName}"/>
						<input type="hidden" id="formBelong" name="manager[formBelong]" value="{formBelong}"/>
						<input type="hidden" id="oldBelong" name="manager[oldBusinessBelong]" value="{businessBelong}"/>
					</td>
				</tr>
				<tr>
					<td class="form_text_left">
						<label for="remark">备注信息</label>
					</td>
					<td class="form_text_right">
						<textarea name="manager[remark]" id="remark" rows="4" class="txt_txtarea_font">{remark}</textarea>
					</td>
				</tr>
				<tr>
					<td class="txt_btn" colspan="4">
						<input type="hidden" id="id" name="manager[id]" value="{id}" />
						<input type="submit" class="txt_btn_a" value=" 保  存 " />
						<input type="button" class="txt_btn_a" value=" 关  闭 " onclick="self.parent.tb_remove();"/>
					</td>
				</tr>
			</table>
		</form>
	</body>
</html>