<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Language" content="zh_cn"/>
    <meta http-equiv="Content-Type" content="text/html; charset=GBK"/>
    <link rel="stylesheet" href="css/yxstyle.css" type="text/css" media="screen"/>
</head>
<body>
<div class="main_head2">
    <span class="main_head_title">
      	查看区域信息
    </span>
</div>
<div align="center">
    <table class="form_main_table">
        <tr>
            <td class="form_text_left">执行区域</td>
            <td class="form_text_right">{productLine}</td>
        </tr>
        <tr>
            <td class="form_text_left">所属板块</td>
            <td class="form_text_right">{module}</td>
        </tr>
        <tr>
            <td class="form_text_left">执行区域负责人</td>
            <td class="form_text_right">{head}</td>
        </tr>
        <tr>
            <td class="form_text_left">区域名称</td>
            <td class="form_text_right">{officeName}</td>
        </tr>
        <tr>
            <td class="form_text_left">归属部门</td>
            <td class="form_text_right">{feeDeptName}</td>
        </tr>
        <tr>
            <td class="form_text_left">归属公司</td>
            <td class="form_text_right">{businessBelongName}</td>
        </tr>
        <tr>
            <td class="form_text_left">服务总监</td>
            <td class="form_text_right">{mainManager}</td>
        </tr>
        <tr>
            <td class="form_text_left">服务经理</td>
            <td class="form_text_right">{managerName}</td>
        </tr>
        <tr>
            <td class="form_text_left">责任范围</td>
            <td class="form_text_right">{rangeName}</td>
        </tr>
        <tr>
            <td class="form_text_left">后台人员</td>
            <td class="form_text_right">{assistant}</td>
        </tr>
        <tr>
            <td class="form_text_left">是否开启</td>
            <td class="form_text_right">
                {stateCN}
            </td>
        </tr>
        <tr>
            <td class="form_text_left">备&nbsp;&nbsp;&nbsp;&nbsp;注</td>
            <td class="form_text_right">{remark}</td>
        </tr>
        <tr>
            <td class="txt_btn" colspan="2">
                <input name="" type="button" class="txt_btn_a" value=" 返回 " onclick="self.parent.tb_remove();"/></td>
        </tr>
    </table>
</div>
</body>
</html>