<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" " http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns=" http://www.w3.org/1999/xhtml">
<head>
	<title>编辑扣款申请</title>
   {#commonInclude#}
   <script type="text/javascript" src="js/jquery/formvalidator/formValidator-4.1.1.js"	charset="UTF-8"></script>
   <script type="text/javascript" src="js/jquery/formvalidator/formValidatorRegex.js"	charset="UTF-8"></script>
   <script type="text/javascript" src="{#jsPath#}/deduct-edit.js" ></script>   
</head>
<body>
<form id="form1" method="post" action="?model=contract_deduct_deduct&action=edit" >
<table class="form_main_table">
   <tr>
      <td colspan="4">
          <div class="main_head">
             <span class="main_head_title">
               	编辑扣款申请信息
             </span>
         </div>     
      </td>
   </tr>
<tr>
		<td class="form_text_left">合同id</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" name="deduct[contractId]"  value="{contractId}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">合同名称</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" name="deduct[contractName]"  value="{contractName}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">合同编号</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" name="deduct[contractCode]"  value="{contractCode}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">合同金额</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" name="deduct[contractMoney]"  value="{contractMoney}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">扣款金额</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" name="deduct[deductMoney]"  value="{deductMoney}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">扣款原因</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" name="deduct[deductReason]"  value="{deductReason}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">审批状态</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" name="deduct[ExaStatus]"  value="{ExaStatus}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">审批日期</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" name="deduct[ExaDT]"  value="{ExaDT}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">修改时间</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" name="deduct[updateTime]"  value="{updateTime}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">修改人名称</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" name="deduct[updateName]"  value="{updateName}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">修改人Id</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" name="deduct[updateId]"  value="{updateId}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">创建时间</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" name="deduct[createTime]"  value="{createTime}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">创建人名称</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" name="deduct[createName]"  value="{createName}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">创建人ID</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" name="deduct[createId]"  value="{createId}" />
		</td>
</tr>        
   <tr>
		<td class="txt_btn" colspan="4">
         <input  type="hidden" name="deduct[id]" value="{id}" />
		   <input  type="submit" class="txt_btn_a" value=" 保  存 "/>
		   <input  type="button" class="txt_btn_a" value=" 关  闭 " onclick="self.parent.tb_remove();"/>
		</td>
</tr>
</table>
</form>
</body>
</html>