<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" " http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns=" http://www.w3.org/1999/xhtml">
<head>
	<title>新增盘点总结属性</title>
   {#commonInclude#}
   <script type="text/javascript" src="{#jsPath#}/templatesummary-add.js" ></script>   
</head>

<body>
   <form id="form1" method="post" action="?model=hr_inventory_templatesummary&action=add" >
      <table class="form_main_table">
      	<tr>
      		<td colspan="4">
            <div class="main_head">
             <span class="main_head_title">
               	新增盘点总结属性
             </span>
            </div>
            </td>
         </tr>
       <tr>
      		<td class="form_text_left">模板id</td>
      		<td class="form_text_right" >
      			 <input type="text" class="txt" id="templateId" name="templatesummary[templateId]" />
      		</td>
       </tr>        
       <tr>
      		<td class="form_text_left">问题</td>
      		<td class="form_text_right" >
      			 <input type="text" class="txt" id="question" name="templatesummary[question]" />
      		</td>
       </tr>        
       <tr>
      		<td class="form_text_left">顺序</td>
      		<td class="form_text_right" >
      			 <input type="text" class="txt" id="orderIndex" name="templatesummary[orderIndex]" />
      		</td>
       </tr>        
      <tr>
      		<td class="form_text_left" >备注</td>
      		<td class="form_text_right" >
                  <textarea class="txt_txtarea_font" id="remark" name="templatesummary[remark]"></textarea>
      		</td>
      </tr>  
                                    
          <tr>
      		<td class="txt_btn" colspan="4">
      		   <input  type="submit" class="txt_btn_a" value=" 保  存 "/>
      		   <input  type="button" class="txt_btn_a" value=" 关  闭 " onclick="self.parent.tb_remove();"/>
      		</td>
       </tr>
      </table>
   </form>
</body>
</html>