<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" " http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns=" http://www.w3.org/1999/xhtml">
<head>
<title>编辑盘点模板</title>
{#commonInclude#}
<script type="text/javascript" src="{#jsPath#}/template-edit.js"></script>
<script type="text/javascript"
	src="js/jquery/combo/business/yxcombogrid-attrvals.js"></script>
</head>
<body>
<form id="form1" method="post"
	action="?model=hr_inventory_template&action=edit">
<table class="form_main_table">
	<tr>
		<td colspan="4">
		<div class="main_head"><span class="main_head_title">
		编辑盘点模板 </span></div>
		</td>
	</tr>
	<tr>
		<td class="form_text_left"><span style="color:blue">模板名称</span></td>
		<td class="form_text_right"><input type="text" class="txt"
			id="templateName" name="template[templateName]"
			value="{templateName}" /></td>


	</tr>
	<tr>
		<td class="form_text_left">备注</td>
		<td class="form_text_right" colspan="3">
		<textarea cols="40"class='txt_txtarea_font'rows="3" name="template[remark]" id="remark">{remark}</textarea></td>

	</tr>
	<tr>
		<td colspan="4" id="templateAttr" class="innerTd">
		<fieldset style="width:200"><legend style="text-align:left">
		<b>模板属性:</b> <img src="images/icon/icon002.gif" alt="新增选项" /></legend>
		<div id="templateAttrList"></div>
		</fieldset>
		</td>
	</tr>
	<tr>
		<td colspan="4" id="templateAttr" class="innerTd" >
		<fieldset style="width:200"><legend style="text-align:left">
		<b>总结属性:</b> <img src="images/icon/icon002.gif" alt="新增选项" /></legend>
		<div id="templateSummaryList"></div>
		</fieldset>
		</td>
	</tr>


	<tr>
		<td class="txt_btn" colspan="4"><input type="hidden" id="id"
			name="template[id]" value="{id}" /><input type="submit"
			class="txt_btn_a" value=" 保  存 " /> <input type="button"
			class="txt_btn_a" value=" 关  闭 " onclick="self.parent.tb_remove();" />
		</td>
	</tr>
</table>
</form>
</body>
</html>
