<html>
<head>
<link rel="stylesheet" type="text/css" href="css/yxstyle.css" />
<title>查看供应商基本信息</title>
<script type="text/javascript" src="js/jquery.js"></script>
<link rel="stylesheet" href="js/thickbox.css" type="text/css"
	media="screen" />
<script type="text/javascript" src="js/thickbox.js"></script>
<script type="text/javascript" src="js/topoptions.js"></script>
<script type="text/javascript" src="js/common/businesspage.js"></script>
</head>

<body>

<table class="form_main_table">
	<tr>
		<td colspan="4" class="form_header">供应商注册信息</td>
	</tr>
	<tr>
		<td class="form_text_left">注册人</td>
		<td class="form_text_right">{createName}</td>

	</tr>
	<tr class="tr_even">
		<td class="form_text_left">注册时间</td>
		<td class="form_text_right">{createTime}</td>
	</tr>

</table>
</body>
</html>
