<html>
<head>
        <meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
        <link rel="stylesheet" type="text/css" href="css/yxstyle.css" />
        <link rel="stylesheet" type="text/css" href="js/ext/resources/css/ext-all.css"/>
        <link rel="stylesheet" type="text/css" href="js/ext/css/styles.css"/>
        <link rel="stylesheet" type="text/css" href="js/thickbox.css" />
        <link rel="stylesheet" type="text/css" href="js/jquery/style/Validator.css"/>

        <script type="text/javascript" src="js/ext/ext-base.js"></script>
		<script type="text/javascript" src="js/ext/ext-all.js"></script>

		<script type="text/javascript" src="js/ext/ux/tree/MyTree.class.js"></script>
		<script type="text/javascript" src="js/ext/ux/combox/ComboBoxTree.class.js"></script>

        <script type="text/javascript" src="js/jquery.js"></script>
        <script type="text/javascript" src="js/thickbox.js"></script>
        <script type="text/javascript" src="js/jquery/formValidator.js" charset="UTF-8"></script>
		<script type="text/javascript" src="js/jquery/formValidatorRegex.js" charset="UTF-8"></script>
		<script type="text/javascript" src="js/DatePicker/WdatePicker.js"></script>
		<script type="text/javascript" src="view/template/supplierManage/formal/js/sfcontact-add-formValidator.js"></script>


		<script type="text/javascript" src="js/common/businesspage.js"></script>
		<script type="text/javascript" src="js/util.js"></script>
</head>
<body>
<form name="form1" id="form1" method="post" action="?model=supplierManage_formal_flibrary&action=flibedit">
<table class="form_main_table">
	<tr>
		<td colspan="4" class="form_header">分配负责人</td>
	</tr>
	<tr>
		<td class="form_text_left">负责人名称</td>
	    <td class="form_view_right">
	    	<input type="hidden" id="id" name="flibrary[id]" value="{id}">
	         <input type="hidden" id="manageUserId" name="flibrary[manageUserId]" value="{manageUserId}">
             <input type="text" class="txtlong readonlyCmp" id="manageUserName" name="flibrary[manageUserName]" value="{manageUserName}" readonly>
             <!-- 单选 -->
             <input type="button" value="选 择" class="txt_btn_a" onclick="loadOrgWindow('manageUserId','manageUserName')">
             <!-- 多选 -->
             <input type="button" value="清 空" class="txt_btn_a" onclick="clearOrgInfo('manageUserId','manageUserName')">
             <span class='red'>[*]</span>
             <br/><div id="manageUserNameTip" class="tipLongTxt" ></div>
	     </td>
	</tr>
	<tr>
		<td class="txt_btn" colspan="4">
			<input name="" type="submit" class="txt_btn_a" value="保  存"/>
			<input name="" type="button" class="txt_btn_a" value="返  回" onclick="self.parent.tb_remove();"/>
		</td>
	</tr>


</table>
</form>
</body>
</html>
