<html>
<title>导入EXCEL数据</title>
	<link rel="stylesheet" type="text/css" href="css/yxstyle.css" />
    <script type="text/javascript" src="js/jquery/jquery-1.4.2.js"></script>
    <script type="text/javascript" src="js/common/businesspage.js"></script>
<body>
<div class="main_head">
      <span class="main_head_title">
            导入更新供应商等级
      </span>
</div>
<form action="?model=supplierManage_formal_flibrary&action=excelImport" ENCTYPE="multipart/form-data" method="POST" id="form1">
<table class="form_main_table" align="center" width="90%" border="0">
	<tr>
		<td class="form_text_left">
			<label for="file">上传文件:</label>
		</td>
		<td class="form_text_right">
		    <input type="file" class="txt" name="inputExcel" id="inputExcel"/>
		    <input type="button" class="txt_btn_a" value="下载模版" onclick="location='upfile/供应商信息.xls'">
            <input type="submit" class="txt_btn_a" value=" 导 入">
		</td>
	</tr>
	<tr>
		<td class="form_text_right">
		</td>
		<td class="form_text_right">
			注：<br/>
			<span style="color:blue">
			1.供应商等级说明:<br/>
			&nbsp&nbsp&nbspA、B、C为合格供应商<br/>
			&nbsp&nbsp&nbspD为不合格供应商<br/>
			&nbsp&nbsp&nbspE为其他供应商<br/><br/>

			2.该功能只更新供应商等级,不更新供应商其余信息。<br/>
			</span><br/>
			导入之前请确保excel格式与模板格式保持一致。<br/>
		</td>
	</tr>
	<tr id="loading" style="display:none">
		<td colspan="2">
			<img src="images/loading1.gif">
		</td>
	</tr>
</table>
</form>
</body>
</html>