<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=GBK"/>
    <title>支付决算配置功能</title>
    <link rel="stylesheet" type="text/css" href="css/yxstyle.css"/>
    <script type="text/javascript" src="js/jquery/jquery-1.4.2.js"></script>
    <script type="text/javascript" src="view/template/engineering/records/js/esmfieldrecord-init.js"></script>
</head>
<body>
<div class="main_head2">
    <span class="main_head_title">
        支付决算配置功能
    </span>
</div>
<div id="grid">
    <div id="showDiv"></div>
    支付过滤的费用项：
    <!--<input type="button" class="txt_btn" id="selectBtn" value="选择费用项"/>&nbsp;&nbsp;-->
    <input type="button" class="txt_btn" id="saveBtn" value="保存费用项">&nbsp;&nbsp;
    <input type="button" class="txt_btn" id="initBtn" value="初始化支付决算">
    <br><br>
    <textarea style="height: 150px; width: 400px;" id="value">{value}</textarea>
    <br><br>

    报销过滤的费用项：
    <input type="button" class="txt_btn" id="saveExpense" value="保存费用项">&nbsp;&nbsp;
    <br><br>
    <textarea style="height: 150px; width: 400px;" id="expense">{expense}</textarea>
</div>
</body>
</html>