<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
{#commonInclude#}
<link rel="stylesheet" type="text/css"
	href="js/ext/resources/css/ext-all.css" />
<link rel="stylesheet" type="text/css" href="js/ext/css/styles.css" />
<script type="text/javascript" src="js/ext/ext-base.js"></script>
<script type="text/javascript" src="js/ext/ext-all.js"></script>
<script type="text/javascript" src="js/ext/ux/tree/MyTree.class.js"></script>
<script type="text/javascript" src="{#jsPath#}/template.js"></script>
</head>

<body>
<select id='projectType'>
	{projectType}
</select>
<div id='tree' />
</body>

</html>