<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en_US" xml:lang="en_US">
<head>
<title>查看奖惩</title>
{#commonInclude#}
<script type="text/javascript" src="{#jsPath#}/incentive-view.js"></script>
</head>
<body>

<table class="form_main_table">
	<tr>
		<td colspan="4">
		<div class="main_head"><span class="main_head_title">
		查看奖惩信息 </span></div>
		</td>
	</tr>
	<tr>
		<td class="form_text_left">员工编号</td>
		<td class="form_text_right" width="30%">{userNo}</td>
		<td class="form_text_left">员工姓名</td>
		<td class="form_text_right">{userName}</td>
	</tr>
	<tr>
		<td class="form_text_left">所属部门</td>
		<td class="form_text_right">{deptName}</td>
		<td class="form_text_left">授予单位</td>
		<td class="form_text_right">{grantUnitName}</td>
	</tr>
	<tr>
		<td class="form_text_left">奖惩属性</td>
		<td class="form_text_right">{incentiveTypeName}</td>
		<td class="form_text_left">奖惩日期</td>
		<td class="form_text_right">{incentiveDate}</td>
	</tr>
	<tr>
		<td class="form_text_left">工资月份</td>
		<td class="form_text_right">{rewardPeriod}</td>
		<td class="form_text_left">奖惩金额</td>
		<td class="form_text_right"><span class="formatMoney">{incentiveMoney}</span></td>
	</tr>
	<tr>
		<td class="form_text_left">记 录 人</td>
		<td class="form_text_right">{recorderName}</td>
		<td class="form_text_left">记录日期</td>
		<td class="form_text_right">{recordDate}</td>
	</tr>
	<tr>
		<td class="form_text_left">附  件</td>
		<td colspan="3" class="form_text_right">{file}</td>
	</tr>
	<tr>
		<td class="form_text_left">奖惩原因</td>
		<td class="form_text_right divChangeLine" colspan="3">{reason}</td>
	</tr>
	<tr>
		<td class="form_text_left">奖惩说明</td>
		<td class="form_text_right divChangeLine" colspan="3">{description}</td>
	</tr>
	<tr>
		<td class="form_text_left">备注说明</td>
		<td class="form_text_right divChangeLine" colspan="3">{remark}</td>
	</tr>
	<tr>
		<input  type="hidden" id="id"  value="{id}" />
		<td class="txt_btn" colspan="4"><input type="button"
			class="txt_btn_a" value=" 关  闭 " onclick="self.parent.tb_remove();" />
		</td>
	</tr>
</table>
</body>
</html>
