<HTML>
<HEAD>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
{#commonInclude#}
<script type="text/javascript" src="{#jsPath#}/fusionCharts-report.js"></script>
<script type="text/javascript" src="js/jquery/jquery.xml2json.js"></script>
<script type="text/javascript" src="FusionCharts/js/FusionCharts.js"></script>
<script type="text/javascript"
	src="FusionCharts/js/FusionChartsExportComponent.js"></script>
</HEAD>
<BODY style="text-align:center">
<table class="form_main_table">
	<tr>
	<tr>
		<td class="form_text_left">开始日期</td>
		<td class="form_view_right"><input type="text" class="txtshort"
			name="startTime" onfocus="WdatePicker()" id="startTime" /></td>
		<td class="form_text_left">结束日期</td>
		<td class="form_view_right"><input type="text" class="txtshort"
			name="endTime" onfocus="WdatePicker()" id="endTime" /></td>
	</tr>
	<tr>
		<td class="form_text_left">分析对象</td>
		<td class="form_view_right"><select class="select"
			id="reportType1">
			<option value="contract">合同</option>
			<!-- <option value="customer">客户</option>
			<option value="dept">部门</option>
			<option value="user">员工</option> -->
		</select></td>
		<td class="form_text_left">统计数据</td>
		<td class="form_view_right"><select class="select"
			id="analysisData">
			<input type="hidden" name="analysisDataText" id="analysisDataText" />
		</select> Y轴</td>
	</tr>
	<tr>
		<td class="form_text_left">统计条件</td>
		<td class="form_view_right"><select class="select"
			id="analysisConditionData">
		</select> X轴</td>
		<td class="form_text_left">统计值</td>
		<td class="form_view_right">
		<div id="analysisConditionValue"></div>
		<input class="txt" readOnly type="text" id="analysisCondition"
			name="analysisCondition" /> <input type="hidden"
			id="analysisConditionValue" name="analysisConditionValue" /></td>
	</tr>
	<tr>
		<td class="form_text_left">统计分类</td>
		<td class="form_view_right"><select class="select"
			id="analysisTypeData">
			<option value="">请选择..</option>
		</select> X轴分类</td>
		<td class="form_text_left">统计值</td>
		<td class="form_view_right"><input class="txt" readOnly
			type="text" id="analysisType" name="analysisType" /> <input
			type="hidden" id="analysisTypeValue" name="analysisTypeValue" /></td>
	</tr>
	<tr>
		<td class="form_text_left">统计图形</td>
		<td class="form_view_right"><select class="select" id="chartType">
			<option value="2d">2D柱状</option>
			<option value="SSGrid.swf">网格图</option>
		</select></td>
		<td class="form_text_left">总计</td>
		<td class="form_view_right">
		<div id="allCount"></div>
		</td>
	</tr>
	<tr>
		<td class="form_text_left">宽度</td>
		<td class="form_view_right">
			<input type='text' id="swfWidth" class="txt" value="800"/>
		</td>
		<td class="form_text_left"></td>
		<td class="form_view_right">
		</td>
	</tr>
	<tr>
		<td align="center" class="" colspan="4"><input id="searchButton"
			class="txt_btn_a" type="button" value="搜索" />
			<input id="exportButton"
			class="txt_btn_a" type="button" value="导出" />
			</td>
	</tr>
</table>
<div style="overflow:auto;">
<div id="chart"></div>
<div id="grid" style="dispaly:none">
<table class="main_table" id="mytable">
	<thead>
	<tr class="main_tr_header"></tr>
	</thead>
	<tbody>
	</tbody>
</table>

</div>
</div>
</BODY>

</HTML>
