<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<link rel="stylesheet" type="text/css" href="css/yxstyle.css"/>
<script type="text/javascript" src="js/jquery.js"></script>

<script type="text/javascript" src="js/common/businesspage.js"></script>
<script>
	$(document).ready(function(){

		$("#rdpj").bind("click",function(){
			parent.document.getElementById("main").src="index1.php?model=rdproject_project_rdproject&action=rpApprovalNo";
		});

		$("#esm").bind("click",function(){
			parent.document.getElementById("main").src="index1.php?model=engineering_project_esmproject&action=rpApprovalNo";
		});

		//正在开发

//		$("#member").bind("click",function(){
//			parent.document.getElementById("main").src="index1.php?model=log_operation_operation&action=developing&tabId=subordinateLog";
//		});
	});
</script>
</head>
<body>
<div class="menu_wrap">
	<p class="menu_top">
		<span class="left"><img src="images/menu_close1.gif"></span>
		<span class="right"><img src="images/menu_close3.gif"></span>
	</p>
	<div class="menu_content">
		<p class="menu_title"><img src="images/menu_ico.gif"/>立项审批</p>
		<ul class="menu_menus">
			<li class="selected" id="rdpj">研发项目立项审批 　 <img src="images/menu_ico1.gif" /></li>
			<li id="esm">工程项目立项审批 　 <img src="images/menu_ico1.gif" /></li>
			<!--li id="member">里程碑变更审批 　 <img src="images/menu_ico1.gif" /></li-->
		</ul>

	</div>
</div>
</body>
</html>