<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
	<title>我的审批</title>
	<link rel="stylesheet" type="text/css" href="css/yxstyle.css"/>
</head>
<body style="overflow-x:hidden;overflow-y:hidden">
<iframe src="?model=rdproject_project_rdproject&action=menu" id="menu" align="left" width="17%" height="100%" marginwidth="0" marginheight="0" frameborder="0" scrolling="no"> </iframe>
<iframe src="?model=rdproject_project_rdproject&action=rpApprovalNo" id="main" align="right" width="83%" height="100%" marginwidth="0" marginheight="0" frameborder="0" scrolling="yes"> </iframe>

</body>
</html>