<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<link rel="stylesheet" type="text/css" href="css/yxstyle.css"/>
<script type="text/javascript" src="js/jquery.js"></script>

<script type="text/javascript" src="js/common/businesspage.js"></script>
<script>
	$(document).ready(function(){
		$("#supp").bind("click",function(){
			parent.document.getElementById("main").src="index1.php?model=supplierManage_temporary_temporary&action=rpApprovalNo";
		});
	});


</script>
</head>
<body>
<div class="menu_wrap">
	<p class="menu_top">
		<span class="left"><img src="images/menu_close1.gif"></span>
		<span class="right"><img src="images/menu_close3.gif"></span>
		<span class="close"><img src="images/menu_close.gif" /></span>
	</p>
	<div class="menu_content">
		<p class="menu_title"><img src="images/menu_ico.gif"/> 审批类型</p>
		<ul class="menu_menus">
			<li class="selected" id="supp">供应商审批 　 <img src="images/menu_ico1.gif" /></li>
		</ul>

			<!-- li><a href="#" class="menu-link">关闭与暂停 　 <img src="images/menu_ico1.gif" /></a></li>

			<li class="over"><a href="#" class="menu-link2">选中咯c</a></li>
			<li id="ceshi1">测试1</li>
			<li><a href="#" class="menu-link">测试2</a></li>
		</ul>
		<ul class="menu_menu">
			<li><img src="images/menu_ico.gif"/> 资料管理</li>
			<li><img src="images/menu_ico.gif"/> 图书管理</li>
		</ul-->

	</div>
</div>
</body>
</html>