<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<link rel="stylesheet" type="text/css" href="css/yxstyle.css" />
<!-- 主题css，可切换 -->
<link rel="stylesheet" type="text/css" href="js/jquery/style/yxmenu.css"
	media="screen" />
<link rel="stylesheet" type="text/css"
	href="js/jquery/style/yxmenu.theme.css" media="screen" />
<link rel="stylesheet" type="text/css" href="js/jquery/style/yxgrid.css" />
<script type="text/javascript" src="js/jquery/jquery-1.4.2.js"></script>
<script type="text/javascript" src="js/jquery/woo.js"></script>
<script type="text/javascript" src="js/jquery/component.js"></script>
<script type="text/javascript" src="js/jquery/dump.js"></script>
<script type="text/javascript" src="js/jquery/combo/yxcombo.js"></script>
<script type="text/javascript" src="js/jquery/grid/yxsgrid.js"></script>
<script type="text/javascript" src="js/jquery/grid/yxgrid.js"></script>
<script type="text/javascript" src="js/jquery/combo/yxcombogrid.js"></script>

<script type="text/javascript" src="js/common/businesspage.js"></script>
<title>客户信息</title>
</head>
<body>

	<input type="hidden" id="id" value="{id}">
<table class='form_main_table'>
	<tr class="form_main_table" >
		<td class="main_tr_header" colspan="4" align="center">
			客户信息
		</td>
	</tr>
    <tr>
        <td class="form_text_left">
			客户编号
        </td>
        <td class="form_view_right">
           {objectCode}
        </td>
        <td class="form_text_left">
			客户名称
        </td>
        <td class="form_view_right" >
           {Name}
        </td>
    </tr>
    <tr>
        <td class="form_text_left">
			区域负责人
        </td>
        <td class="form_view_right">
           {AreaLeaderNow}
        </td>
		<td class="form_text_left">
			使用状态
		</td>
		<td class="form_view_right">
			{isUsing}
		</td>
	</tr>
    <tr>
        <td class="form_text_left">
			销售工程师
        </td>
        <td class="form_view_right" colspan="3">
           {SellMan}
        </td>
    </tr>
    <tr>
    	<td class="form_text_left">
    		固定电话
    	</td>
    	<td class="form_view_right">
   			{Tell}
    	</td>
    	<td  class="form_text_left">
    		手机号码
    	</td>
    	<td class="form_view_right">
			{Mobile}
    	</td>
    </tr>
	<tr>
    	<td class="form_text_left">
    		网址
    	</td>
    	<td class="form_view_right">
   			{Url}
    	</td>
    	<td class="form_text_left">
    		电子邮箱
    	</td>
    	<td class="form_view_right">
			{Email}
    	</td>
    </tr>
    <tr>
    	<td class="form_text_left">
    		传真
    	</td>
    	<td class="form_view_right">
   			{Fax}
    	</td>
    	<td class="form_text_left">
    		邮编
    	</td>
    	<td class="form_view_right">
			{PostalCode}
    	</td>
    </tr>
     <tr>
    	<td class="form_text_left">
    		国家
   		</td>
    	<td class="form_view_right">
    		{Country}
    	</td>
    	<td class="form_text_left">
    		省份
    	</td>
    	<td class="form_view_right">
			{Prov}
    	</td>
    </tr>
    <tr>
    	<td class="form_text_left">
    		城市
   		</td>
    	<td class="form_view_right">
    		{City}
    	</td>
    	<td class="form_text_left">
    		客户性质
    	</td>
    	<td class="form_view_right" width="30%">
			{TypeOne}
    	</td>
    </tr>
    <tr>
		<td colspan="4" class="main_tr_header">
			通信地址
		</td>
	</tr>
	<tr>
		<td colspan="4">
			<p style="padding:10px 5px 10px 5px;">
				<font size="2">
                  	{Address}
				</font>
           </p>
		</td>
	</tr>
	<tr>
		<td colspan="4" class="main_tr_header">
			备注
		</td>
	</tr>
	<tr>
		<td colspan="4">
			<p style="padding:10px 5px 10px 5px;">
				<font size="2">
                  	{Remark}
				</font>
            </p>
		</td>
	</tr>
	<tr>
		<td colspan="4" class="">
			<input class="txt_btn_a" type="button" onclick="parent.parent.tb_remove()" value="关闭" />
 		</td>
	</tr>
    </table>
</body>
</html>