<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" " http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns=" http://www.w3.org/1999/xhtml">
<head>
<title>编辑临聘人员记录</title>
	{#commonInclude#}
	<script type="text/javascript" src="js/jquery/combo/business/yxcombogrid-tempperson.js" ></script>
	<script type="text/javascript" src="{#jsPath#}/personrecords-edit.js"></script>
</head>
<body>
<form id="form1" method="post" action="?model=engineering_tempperson_personrecords&action=edit">
<table class="form_main_table">
	<tr>
		<td colspan="4">
			<div class="main_head">
				<span class="main_head_title">
				编辑临聘人员记录信息
				</span>
			</div>
		</td>
	</tr>
        <tr>
      		<td class="form_text_left">临聘人员</td>
      		<td class="form_text_right" >
      			<input type="text" class="txt" name="personrecords[personName]" id="personName" value="{personName}" readonly="readonly"/>
      			<input type="hidden" name="personrecords[personId]" id="personId" value="{personId}"/>
      			<input type="hidden" name="personrecords[workDays]" value="{workDays}"/>
      			<input type="hidden" name="personrecords[orgPersonId]" value="{personId}"/>
				<span class="red">[*]</span>
      		</td>
      		<td class="form_text_left">身份证号</td>
      		<td class="form_text_right" >
      			 <input type="text" class=readOnlyTxtNormal name="personrecords[idCardNo]" id="idCardNo" value="{idCardNo}" readonly="readonly"/>
      		</td>
        </tr>
        <tr>
      		<td class="form_text_left">工资及补助</td>
      		<td class="form_text_right" >
      			<input type="text" class="txt formatMoney" name="personrecords[money]" id="money" value="{money}"/>
				<span class="red">[*]</span>
      		</td>
      		<td class="form_text_left">日 期</td>
      		<td class="form_text_right" >
      			<input type="text" class="txt" name="personrecords[thisDate]" id="thisDate" value="{thisDate}" onfocus="WdatePicker()"/>
				<span class="red">[*]</span>
      		</td>
        </tr>
        <tr>
      		<td class="form_text_left">工作内容</td>
      		<td class="form_text_right" colspan="3">
      			 <textarea class="txt_txtarea_800" name="personrecords[workContent]">{workContent}</textarea>
      		</td>
		</tr>
		<tr>
			<td class="txt_btn" colspan="4">
				<input type="hidden"  name="personrecords[id]" value="{id}" />
				<input type="submit" class="txt_btn_a" value=" 保  存 " />
				<input type="button" class="txt_btn_a" value=" 关  闭 " onclick="self.parent.tb_remove();" />
			</td>
		</tr>
	</table>
</form>
</body>
</html>
