<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ch">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Demo</title>
<script type="text/javascript" src="module/Chinamap/swfobject.js"></script>
<script type="text/javascript">
	function eventHandler(e) {
		parent.document.getElementById('iframe2').src='?model=engineering_personnel_personnel&action=byOfficeList&provinceId=' + e.value;
	}
</script>
</head>

<body id="player">
	<!--容器end-->
	<div id="container">Get the Flash Player to see this player</div>
	<!--容器end-->
	<!--init code-->
	<script type="text/javascript">
		var s1 = new SWFObject("module/Chinamap/ChinaMap.swf","ply","600","500","10","#FFFFFF");
		s1.addParam("allowfullscreen","true");
		s1.addParam("allownetworking","all");
		s1.addParam("allowscriptaccess","always");
		s1.addParam("wmode","transparent");
		s1.addVariable("title","中国地图");
		s1.addVariable("xmlurl","module/Chinamap/data/esmpersonnel.xml");
		s1.addVariable("jsHandler","eventHandler");
		s1.write("container");
	</script>
	<!--/init code-->

</body>
</html>
