<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=gbk"/>
        <title>OA</title>
        <script language="javascript" type="text/javascript" src="js/DatePicker/WdatePicker.js"></script>
        <link rel="stylesheet" type="text/css" href="js/jqeasyui/themes/default/easyui.css"/>
        <link rel="stylesheet" type="text/css" href="js/jqeasyui/themes/icon.css"/>
        <script type="text/javascript" src="js/jqeasyui/jquery.min.js"></script>
        <script type="text/javascript" src="js/jqeasyui/jquery.easyui.min.js"></script>
		<script type="text/javascript" src="js/jqeasyui/locale/easyui-lang-zh_CN.js"></script>
		<script type="text/javascript" src="js/jquery-autocomplete/jquery.autocomplete.min.js"></script>
		<link rel="stylesheet" href="js/jquery-autocomplete/jquery.autocomplete.css" type="text/css" />
        <script type="text/javascript">
        $("<div class=\"datagrid-mask\"></div>").css({display:"block",width:"100%",height:$(window).height()}).appendTo("body");
        $("<div class=\"datagrid-mask-msg\"></div>").html("正在处理，请稍候。。。").appendTo("body").css({display:"block",left:($(document.body).outerWidth(true) - 190) / 2,top:($(window).height() - 45) / 2});
	$(function() {
		var add_auth = '{add_auth}';
		$('#patent')
				.datagrid(
						{
							url : '?model=product_management_patent&action=list_data',
							title : '以下记录可双击显示详细信息',
							iconCls: 'icon-edit',
							sortName:'id',
							sortOrder:'desc',
							pagination : true,
							pageSize : 20,
							singleSelect : true,
							idField : 'id',
							fit : true,
							columns : [ [/*{
											field: 'id',
											title: 'ID',
											width: 40,
											align: 'center'
										},*/
									{
										field : 'typename',
										title : '产品类型',
										width : 80,
										align : 'left',
										editor : 'text'
									},
									{
										field : 'product_name',
										title : '所属产品',
										width : 80,
										align : 'left',
										editor : 'text'
									},{
										field : 'patent_type',
										title : '专利类型',
										width : 55,
										align : 'left',
										editor : 'text'
									},
									{
										field : 'patent_name',
										title : '专利名称',
										width : 150,
										align : 'left',
										editor : 'text',
										sortable:true
									},{
										field : 'patent_status',
										title : '受理情况',
										width : 80,
										align : 'left',
										editor : 'text',
										sortable:true
									},{
										field : 'certificate_number',
										title : '专利申请号',
										width : 120,
										align : 'left',
										editor : 'text'
									},{
										field : 'project',
										title : '所属项目',
										width : 100,
										align : 'left',
										editor : 'text'
									},{
										field : 'finance_project_name',
										title : '财务项目名称',
										width : 80,
										align : 'left',
										editor : 'text'
									},{
										field : 'dept_name_str',
										title : '部门',
										width : 200,
										align : 'left',
										editor : 'text'
									},{
										field : 'user_name_str',
										title : '负责人',
										width : 100,
										align : 'left',
										editor : 'text'
									},{
										field : 'submitted',
										title : '提交日期',
										width : 80,
										align : 'left',
										editor : 'text',
										sortable:true
									},
									{
										field : 'remark',
										title : '备注说明',
										width : 120,
										align : 'left',
										editor : 'text'
									},
									{
										field : 'action',
										title : '操作',
										width : 80,
										align : 'center',
										formatter : function(value, row, index) {
											if (row.editing) {
												var s = '<a href="#" onclick="saverow(\'cpu\','
														+ index + ')">保存</a> ';
												var c = '<a href="#" onclick="cancelrow(\'cpu\','
														+ index + ')">取消</a>';
												return s + c;
											} else {
												var b = '<a href="#" onclick="show_info('+ index+ ')">'+(add_auth==1 ? '查看' : '查看详细')+'</a> ';
												var e = '<a href="#" onclick="edit_patent('
														+ index
														+ ',\'edit\')">修改</a> ';
												var d = '<a href="#" onclick="del_patent('
														+ index + ')">删除</a>';
												if (add_auth == 1)
												{
													return b + e + d;
												}else{
													return b;
												}
												
											}
										}
									} ] ],
									rowStyler:function(index,row,css){
										if (row.patent_status == '已获证书' || row.patent_status == '已获受理书'){
											return 'background-color:#D7E7E7;';
										}
									},
							onBeforeEdit : function(index, row) {
								row.editing = true;
								//updateActions('patent');
							},
							onAfterEdit : function(index, row) {
								row.editing = false;
								//updateActions('patent');
							},
							onCancelEdit : function(index, row) {
								row.editing = false;
								//updateActions('patent');
							},
							onDblClickRow:function(index,row){
								show_info(index);
							}
						});
		if (add_auth == 1)
		{
			$('#patent').datagrid('getPager').pagination({
				buttons : [ {
					iconCls : 'icon-add',
					text : '添加产品专利',
					handler : function() {
						add_patent();
					}
				} ]
			});
		}
		$('#dept_tree').combotree({   
		    url:'?model={t_model}&action=get_dept_data'  
		}); 
		
		//绑定负责人输入框
        $("#user_name_str").autocomplete('ajax.php?model=autocomplete&action=GetTable&table=user&field=user_name&return_field=user_id,user_name', {
            multiple: true,
            mustMatch: true,
            width: 100,
            max: 200,
            //dataType: 'json',
            parse: function(data){
                var rows = [];
                var row = eval(unescape(data));
                for (var i = 0; i < row.length; i++) {
                    rows[i] = {
                        data: row[i],
                        value: row[i].user_name,
                        result: row[i].user_name
                    }
                }
                //alert(rows.length);
                return rows;
            },
            formatItem: function(row, i, n){
                return row.user_name;
            }
            
        });
	});

	function show_info(index)
	{
		$('#patent').datagrid('selectRow', index);
		var row = $('#patent').datagrid('getSelected');
		for(k in row)
		{
			$('#_'+k).html(row[k]);
		}
		$('#show_patent').window('open');
	}
	
	/**
	 *添加产品专利
	 **/
	function add_patent() {
		$('#file_list').css('display','none');
		$('#submit_type').val('');
		$('#identification').val('');
		$('#id').val('');
		$('#product_id').attr('value', '');
		$('#patent_name').val('');
		$('#patent_type').val('');
		$('#submitted').val('');
		$('#patent_status').attr('value', '');
		$('#certificate_number').val('');
		$('#project').val('');
		$('#finance_project_name').attr('value','');
		$('#dept_tree').combotree('setText','');
		$('#dept_tree').combotree('setValue','');
		$('#dept_tree').combotree('setValues','');
		$('#user_name_str').val('');
		$('#remark').val('');
		$('#add_patent').window('open');
	}

	function edit_patent(index, type) {
		$('#patent').datagrid('selectRow', index);
		var row = $('#patent').datagrid('getSelected');
		
		$('#file_list').css('display','');
		$('#file_list_str').html(row.filename);
		$('#submit_type').val(type);
		$('#identification').val(row.identification);
		$('#id').val(row.id);
		$('#product_id').attr('value', row.product_id);
		$('#patent_type').attr('value',row.patent_type);
		$('#patent_name').val(row.patent_name);
		$('#patent_status').attr('value', row.patent_status);
		$('#certificate_number').val(row.certificate_number);
		$('#project').val(row.project);
		$('#finance_project_name').attr('value',row.finance_project_name);
		$('#dept_tree').combotree('setText',row.dept_name_str);
		$('#user_name_str').val(row.user_name_str);
		$('#submitted').val(row.submitted);
		$('#remark').val(row.remark);
		$('#add_patent').window({
			title : type == 'edit' ? '修改产品专利' : '变更产品专利状态'
		});
		$('#add_patent').window('open');
	}
	/**
	 *保存产品专利数据
	 */
	function patent_save() {
		var msg = '';
		var type = $('#submit_type').val();
		var identification = $('#identification').val();
		var id = $('#id').val();
		var product_id = $('#product_id').val();
		var patent_name = $('#patent_name').val();
		var patent_type = $('#patent_type').val();
		var submitted = $('#submitted').val();
		var patent_status = $('#patent_status').val();
		var certificate_number = $('#certificate_number').val();
		var project = $('#project').val();
		var finance_project_name = $('#finance_project_name').val();
		var dept_name_str = $('#dept_tree').combotree('getText');
		var user_name_str = $('#user_name_str').val();
		var remark = $('#remark').val();

		/*if (product_id == '')
			msg += '- 请选择所属产品！\r\n';*/
		if (patent_name == '')
			msg += '- 请填写专利名称！\r\n';
		if (patent_type == '')
			msg +='- 请选择专利类型！\r\n';
		/*if (submitted == '')
			msg +='- 请选择提交日期！\r\n';*/
		if (patent_status == '')
			msg += '- 请选择专利状态！\r\n';
		/*if (project == '')
			msg +='- 请选择所属项目！\r\n';
		if (finance_project_name == '')
			msg +='- 请选择财务项目！\r\n';*/
		if (dept_name_str == '')
			msg +='- 请选择归属部门！\r\n';
		if (user_name_str == '')
			msg +='- 请填写负责人！\r\n';
		if (msg != '') {
			alert(msg);
			return false;
		} else {
			$.post('?model={t_model}&action=save&id=' + id
					+ '&type=' + type, {
				identification:identification,
				product_id:product_id,
				patent_status:patent_status,
				patent_name:patent_name,
				patent_type:patent_type,
				submitted:submitted,
				certificate_number:certificate_number,
				project:project,
				finance_project_name:finance_project_name,
				dept_name_str:dept_name_str,
				user_name_str:user_name_str,
				remark:remark,
				rand:Math.random(0, 99999)
			}, function(data) {
				if (data == 1) {
					$.messager.show({
						title : '提示',
						msg : '操作成功！',
						timeout : 3000,
						showType : 'show'
					});
					$('#add_patent').window('close');
					$('#patent').datagrid('reload');
				} else {
					$.messager.show({
						title : '提示',
						msg : '操作失败，请与OA管理员联系！',
						timeout : 3000,
						showType : 'show'
					});
				}
			});
		}
	}
	/**
	 *删除产品专利
	 */
	function del_patent(index) {
		$('#patent').datagrid('selectRow', index);
		var row = $('#patent').datagrid('getSelected');
		$.messager.confirm('删除确认', '您确定要删除该条产品专利记录吗？', function(r) {
			if (r) {
				$.post('?model=product_management_patent&action=del', {
					id : row.id,
					rand : Math.random(0, 9999)
				}, function(data) {
					if (data == 1) {
						$.messager.show({
							title : '提示',
							msg : '删除成功！',
							timeout : 3000,
							showType : 'show'
						});
						$('#patent').datagrid('reload');
					} else {
						$.messager.alert('提示', '删除失败，请与OA管理员联系！');
					}
				});
			}
		});

	}
	
	function show_dept()
	{
		var tmp = $('#dept_tree').combotree('getText');
		alert(tmp);
	}
	var input_num = 0;
	function append_input()
	{
		input_num++;
		$('#file_input').append('<div style="width:500px;" id="input_'+input_num+'"><input size="50" type="file" onchange="append_input();" name="upfile[]" value="" /> <input type="button" onclick="del_input('+input_num+')" value=" 删除 " /></div>');
	}
	
	function del_input(id)
	{
		$('#input_'+id).remove();
	}
</script>
        <style type="text/css">
			label { font-weight:bold;float:left; text-align:right; width:90px;}
			.ddv {
					left:-2px;
					border-left:1px dotted #ccc;
					background:#fafafa url('js/jqeasyui/themes/default/images/datagrid_header_bg.gif') repeat-x left bottom;
				}
			.list_info {float:left; position: relative;left:-2px;}
			.list_info li {float:left; line-height:20px; list-style:none; text-align:center; border:solid 0px red;}
			.list_info li {
				border-left:1px dotted #ccc;
				font-size:12px;
				font-weight:normal;
				background:#fafafa url('js/jqeasyui/themes/default/images/datagrid_header_bg.gif') repeat-x left bottom;
				border-bottom:1px dotted #ccc;
				border-top:1px dotted #fff;
			}
			#info p {margin:0px; padding:0px; width:580px; float:left; height: 25px;}
			#info .text {width:200px; display:block; float:left; text-align: left;}}
        </style>
    </head>
    <body id="tabdiv" class="easyui-layout" border="false">
    	<div region="center" border="false" style="padding:5px;">
    		<table id="patent"></table>
    	</div>
        <div id="add_patent" class="easyui-window" title="添加产品专利" iconCls="icon-edit" modal="false" closed="true" style="width:620px;height:400px;padding:5px;">
		<div class="easyui-layout" fit="true">
			<div id="info" region="center" border="false">
			<input type="hidden" id="submit_type" name="submit_type" value="" />
			<input type="hidden" name="id" id="id" value="" />
			<input type="hidden" id="identification" name="identification" value="" />
				<p>
					<label>所属产品：</label>
					<span>
						<select id="product_id" name="product_id">
							<option value="">选择所属产品</option>
							{product_option}
						</select>
					</span>
				</p>
				<p>
					<label>专利名称：</label>
					<span class="text" style="width:450px;">
						<input type="text" style="width:431px;" name="patent_name" id="patent_name" value="" />
					</span>
				</p>
				<p>
					<label>专利类型：</label>
					<span class="text">
						<select id="patent_type" name="patent_type">
							<option value="">选择专利类型</option>
							<option value="发明型">发明型</option>
							<option value="外观型">外观型</option>
							<option value="实用新型">实用新型</option>
						</select>
					</span>
					<label>提交日期：</label>
					<span class="text">
						<input type="text" readonly onClick="WdatePicker();" class="Wdate" id="submitted" name="submitted" value=""/>
					</span>
				</p>
				<p>
					<label>受理情况：</label>
					<span class="text">
						<select id="patent_status" name="patent_status">
							<option value="">选择状态</option>
							<option value="待提交">待提交</option>
							<option value="已提交，正在受理中">已提交，正在受理中</option>
							<option value="已获受理书">已获受理书</option>
							<option value="已获证书">已获证书</option>
						</select>
					</span>
					<label>专利申请号：</label>
					<span class="text">
						<input type="text" name="certificate_number" id="certificate_number" value="" />
					</span>
				</p>
				<p>
					<label>所属项目：</label>
					<span class="text">
						<input type="text" name="project" id="project" value="" />
					</span>
					<label>财务项目 ：</label>
					<span class="text">
						<select name="finance_project_name" id="finance_project_name">
							<option value="">选择财务项目</option>
							{ipo_option}
						</select>
					</span>
				</p>
				<p>
					<label>归属部门：</label>
					<span class="text">
						<select id="dept_tree" multiple="true" style="width:200px;"></select>
					</span>
					<label>负责人 ：</label>
					<span class="text">
						<input type="text" name="user_name_str" id="user_name_str" value="" />
					</span>
				</p>
				<p style="height:60px;">
					<label style=" line-height: 70px;">备注说明：</label>
					<textarea style="width:80%;height:60px;" id="remark" name="remark"></textarea>
				</p>
				<!--  
				<p id="file_list" style="display:none;">
					<label>已存附件：</label>
					<span id="file_list_str" style=" float:left; display: block; width: 400px;">
					</span>
				</p>
				<p>
					<label>附件上传：</label>
					<span id="file_input" style=" float: left; display: block; width: 400px;">
						<input size="50" type="file" id="upfile[]" onchange="append_input();" name="upfile" value="" />
					</span>
				</p>
				-->
			</div>
			<div region="south" border="false" style="text-align:center;height:30px;line-height:30px;">
				<input type="button" id="save" onclick="patent_save();"  value=" 确定提交 " />
				<input type="button" onclick="$('#add_patent').window('close');" value=" 取消关闭 " />
				</form>
			</div>
		</div>
		</div>
		
		<div id="show_patent" class="easyui-window" title="查看专利详细" iconCls="icon-edit" modal="false" closed="true" style="width:620px;height:400px;padding:5px;">
		<div class="easyui-layout" fit="true">
			<div id="info" region="center" border="false">
				<p>
					<label>所属产品：</label>
					<span id="_product_name"></select>
					</span>
				</p>
				<p>
					<label>专利名称：</label>
					<span class="text" style="width:450px;" id="_patent_name"></span>
				</p>
				<p>
					<label>专利类型：</label>
					<span class="text" id="_patent_type"></span>
					<label>提交日期：</label>
					<span class="text" id="_submitted"></span>
				</p>
				<p>
					<label>受理情况：</label>
					<span class="text" id="_patent_status"></span>
					<label>专利申请号：</label>
					<span class="text" id="_certificate_number"></span>
				</p>
				<p>
					<label>所属项目：</label>
					<span class="text" id="_project"></span>
					<label>财务项目 ：</label>
					<span class="text" id="_finance_project_name"></span>
				</p>
				<p>
					<label>归属部门：</label>
					<span class="text" id="_dept_name_str"></span>
					<label>负责人 ：</label>
					<span class="text" id="_user_name_str"></span>
				</p>
				<p style="height:60px;">
					<label style=" line-height: 70px;">备注说明：</label>
					<span id="_remark" style="width: 80%;line-height: 20px;"></span>
				</p>
			</div>
			<div region="south" border="false" style="text-align:center;height:30px;line-height:30px;">
				<input type="button" onclick="$('#show_patent').window('close');" value=" 关闭返回 " />
				</form>
			</div>
		</div>
		</div>
    </body>
</html>
