.t_selected {

float: left;
overflow: hidden;
width: 182px;
height: 15px;
line-height: 22px;
color: #000;

font-size: 12px;
text-align: left;
position: relative;
z-index: 1;
cursor: pointer;
display:block;
}

.t_select_list {
 position: absolute;
 background: #f7f7fe;
 margin-top: 0px;
 border: #8686ae 1px solid;
 padding: 2px;
 line-height: 150%;
 font-size: 12px;
 text-align: left;
 display: none;
 z-index: 2;
 width:180px;
 height:325px;
 outline:0
}

.t_select_list_table {
 position: relative;
 border-bottom: #8686ae 1px solid;
 height:300px;
 z-index:3;
 overflow:auto;
}