<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=gb2312"/>
	<title>采购询价单</title>
	<link rel="stylesheet" type="text/css" href="css/yxstyle2.css"/>

		<!-- 主题css，可切换 -->
	<link rel="stylesheet" type="text/css" href="js/jquery/style/yxmenu.css" media="screen" />
	<link rel="stylesheet" type="text/css" href="js/jquery/style/Validator.css"/>
	<link rel="stylesheet" type="text/css" href="js/jquery/style/yxmenu.theme.css" media="screen" />
	<link rel="stylesheet" type="text/css" href="js/jquery/style/yxgrid.css" />


    <script type="text/javascript" src="js/jquery/jquery-1.4.2.js"></script>
	<script type="text/javascript" src="js/jquery/woo.js"></script>
	<script type="text/javascript" src="js/jquery/component.js"></script>
	<script type="text/javascript" src="js/jquery/dump.js"></script>
	<script type="text/javascript" src="js/jquery/combo/yxcombo.js"></script>
	<script type="text/javascript" src="js/jquery/grid/yxsgrid.js"></script>
	<script type="text/javascript" src="js/jquery/grid/yxgrid.js"></script>
	<script type="text/javascript" src="js/jquery/combo/yxcombogrid.js"></script>
	<script type="text/javascript" src="js/jquery/combo/business/yxselect-dept.js"></script>
	<script type="text/javascript" src="js/jquery/combo/business/yxselect-user.js"></script>
	<script type="text/javascript" src="js/jquery/formValidator.js" charset="UTF-8"></script>
	<script type="text/javascript" src="js/jquery/formValidatorRegex.js" charset="UTF-8"></script>
	<script type="text/javascript" src="view/template/purchase/inquiry/js/inquirysheet-add-validator.js"></script>
	<script type="text/javascript" src="view/template/purchase/inquiry/js/inquirysheet-add.js"></script>
	<script type="text/javascript" src="js/common/businesspage.js"></script>
    <script type="text/javascript" src="js/DatePicker/WdatePicker.js"></script>

	<!-- 附件上传开始 -->
	<script type="text/javascript" src="swfupload/swfupload.js"></script>
	<script type="text/javascript" src="swfupload/swfupload.queue.js"></script>
	<script type="text/javascript" src="swfupload/fileprogress.js"></script>
	<script type="text/javascript" src="swfupload/handlers.js"></script>
	<link rel="stylesheet" type="text/css" href="swfupload/upload.css" />

	<script>
		var uploadfile;
		$(function() {
			uploadfile = createSWFUpload({
				"serviceType": "oa_purch_inquiry"
			});

			/**选择组织机构和人员*/
			$("#purcherName").yxselect_user({
						hiddenId : 'purcherId',
						isGetDept:[true,"deptId","deptName"]
			});
		});

		function checkSubmit(){
			$("#uploadfileList").html();
			if($("#uploadfileList").html()){
				return true;
			}else{
				alert("请上传询价附件");
				return false;
			}
		}
	</script>
</head>
<body onload="myload()">
<div class="main_head">
    <span class="main_head_title">
      	添加采购询价单
    </span>
</div>

<div class="form_main">
<form id="form1" method="post" action="?model=purchase_inquiry_inquirysheet&action=add&type={type}"  onsubmit="return checkSubmit();">
	<table class="form_main_table">
	<!--
		<tr>
			<td class="form_text_left">采购询价单编号</td>
			<td class="form_text_right" colspan="3">
            	<input type="text" id="inquiryCode" name="inquirysheet[inquiryCode]" class="txtlong" value="{inquiryCode}" readonly/>
            </td>
		</tr>-->
		<tr>
			<td class="form_text_left">采购部门</td>
			<td class="form_text_right">
 				<input type="text" id="deptName" name="inquirysheet[deptName]" class="readOnlyText" value="{deptName}" readonly/>
				<input type="hidden" id="deptId" name="inquirysheet[deptId]" value="{deptId}"/>
				<!--
				<input type="button" value="选 择" class="txt_btn_a" onclick="loadOrgWindowDept('deptId','deptName')" />
	            <input type="button" value="清 空" class="txt_btn_a" onclick="clearOrgInfo('deptId','deptName')" />
				<span class="red">[*]</span>
				<br />
				<div id="deptNameTip" class="tipShortTxt" ></div>  -->
			</td>
			<td class="form_text_left">采购员</td>
			<td class="form_text_right">
				<input type="text" id="purcherName" name="inquirysheet[purcherName]" class="txt" value="{purcherName}" readonly/>
				<input type="hidden" id="purcherId" name="inquirysheet[purcherId]" value="{purcherId}"/>
				<!--
				<input type="button" class="txt_btn_a" value="选 择" onclick="loadOrgWindow('purcherId','purcherName');" title="选择人员"/>
				<input type="button" class="txt_btn_a" value="清 空" title="清空人员" onclick="clearOrgInfo('purcherId','purcherName');"/>  -->
				<span class="red">[*]</span>
				<br />
				<div id="purcherNameTip" class="tipShortTxt" ></div>
			</td>

		</tr>
		<tr>
			<td class="form_text_left">询价日期</td>
			<td class="form_text_right">
				<input type="text" id="inquiryBgDate" name="inquirysheet[inquiryBgDate]" class="txt" value="{inquiryBgDate}" onfocus="WdatePicker()" readonly/>
				<span class="red">[*]</span>
				<br/>
				<div id="inquiryBgDateTip" class="tipShortTxt"></div>
			</td>
		    <td class="form_text_left">报价截止日期</td>
			<td class="form_text_right">
				<input type="text" id="inquiryEndDate" name="inquirysheet[inquiryEndDate]" class="txt" value="{inquiryEndDate}" onfocus="WdatePicker()" readonly/>
				<span class="red">[*]</span>
				<br/>
				<div id="inquiryEndDateTip" class="tipShortTxt"></div>
			</td>
		</tr>
		<tr>
			<td class="form_text_left">生效日期</td>
			<td class="form_text_right">
				<input type="text" id="effectiveDate" name="inquirysheet[effectiveDate]" class="txt" value="{effectiveDate}" onfocus="WdatePicker()" readonly/>
				<span class="red">[*]</span>
				<br/>
				<div id="effectiveDateTip" class="tipShortTxt"></div>
			</td>
		    <td class="form_text_left">失效日期</td>
			<td class="form_text_right">
				<input type="text" id="expiryDate" name="inquirysheet[expiryDate]" class="txt" value="{expiryDate}" onfocus="WdatePicker()" readonly/>
				<span class="red">[*]</span>
				<br/>
				<div id="expiryDateTip" class="tipShortTxt"></div>
			</td>
		</tr>
		<tr>
			<td class="form_text_left">备注</td>
			<td class="form_text_right" colspan="4">
				<textarea id="" class="txt_txtarea_font" name="inquirysheet[remark]"></textarea>
			</td>
		</tr>
	<!--
		<tr>
			<td class="form_text_left">付款条件</td>
			<td class="form_text_right">
		      <select class="select">
                  <option>电汇</option>
                  <option>信用证</option>
                  <option>票汇</option>
              </select>
			</td>
		    <td class="form_text_left">结算币别</td>
			<td class="form_text_right">
				<input type="text" class="txt" value="">
			</td>
		</tr>
		<tr>
			<td class="form_text_left">制单人</td>
			<td colspan="3" class="form_text_right">
				<input type="text" class="txt" value="">
			</td>
		</tr>
	 -->
		<tr>
			<td class="form_text_left">附  件</td>
			<td colspan="3" class="form_text_right">
				<div class="upload">
					<div class="upload" id="fsUploadProgress"></div>
					<div class="upload">
						<span id="swfupload"></span>
						<input id="btnCancel" type="button" value="中止上传" onclick="cancelQueue(uploadfile);" disabled="disabled" /><font color="blue">[*请上传询价附件]</font> <br />
						<br />
					</div>
					<div id="uploadfileList" class="upload"></div>
				</div>
			</td>
		</tr>
	</table>

	<div class="form_mian">
	<table  id="mytable" class="main_table">
     <thead>
        <tr>
			<td colspan="8" class="form_header">采购询价清单
			</td>
		</tr>
       <tr class="main_tr_header">
         <th>序号</th>
         <th>物料编号/名称</th>
         <th>规格型号</th>
         <th>单位</th>
         <th>询价总数量</th>
		<th class="td_table" width="50%">
			<table  class="main_table_nested" frame=void>
					<th width="30%">
						任务编号
					</th>
					<th width="30%">
						采购类型
					</th>
					<th  width="20%">
						询价数量
					</th>
					<th  width="20%">
						备注
					</th>
			</table>
		</th>
         <th>操作</th>
       </tr>
      </thead>
	<tbody>
      {list}
     </tbody>
     </table>
     </div>

     <div class="form_main">
       <table class="form_main_table">
         <tr>
            <td colspan="4">
                <input type="submit" class="txt_btn_a" value=" 下一步 " />&nbsp;&nbsp;&nbsp;
                <input type="hidden" id="back" value="{type}"/>
                <!-- <input type="button" class="txt_btn_a" value=" 返 回 " onclick="backToTask();"/> -->
                <input type="button" class="txt_btn_a" value=" 返 回 " onclick="history.back();"/>
            </td>
         </tr>
       </table>
     </div>
</form>
</div>
</body>
</html>