<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" " http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns=" http://www.w3.org/1999/xhtml">
<head>
	<title>编辑BOM分录表</title>
   {#commonInclude#}
   <script type="text/javascript" src="js/jquery/formvalidator/formValidator-4.1.1.js"	charset="UTF-8"></script>
   <script type="text/javascript" src="js/jquery/formvalidator/formValidatorRegex.js"	charset="UTF-8"></script>
   <script type="text/javascript" src="{#jsPath#}/bomitem-edit.js" ></script>   
</head>
<body>
<form id="form1" method="post" action="?model=produce_bom_bomitem&action=edit" >
<table class="form_main_table">
   <tr>
      <td colspan="4">
          <div class="main_head">
             <span class="main_head_title">
               	编辑BOM分录表信息
             </span>
         </div>     
      </td>
   </tr>
<tr>
		<td class="form_text_left">BOM单id</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" id="mainId" name="bomitem[mainId]"  value="{mainId}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">物料id</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" id="productId" name="bomitem[productId]"  value="{productId}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">物料编码</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" id="productCode" name="bomitem[productCode]"  value="{productCode}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">物料名称</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" id="productName" name="bomitem[productName]"  value="{productName}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">规格型号</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" id="pattern" name="bomitem[pattern]"  value="{pattern}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">单位</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" id="unitName" name="bomitem[unitName]"  value="{unitName}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">物料属性</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" id="properties" name="bomitem[properties]"  value="{properties}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">用量</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" id="useNum" name="bomitem[useNum]"  value="{useNum}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">使用状态</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" id="useStatus" name="bomitem[useStatus]"  value="{useStatus}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">计划百分比</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" id="planPercent" name="bomitem[planPercent]"  value="{planPercent}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">损耗率</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" id="lossRate" name="bomitem[lossRate]"  value="{lossRate}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">生效日期</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" id="effectiveDate" name="bomitem[effectiveDate]"  value="{effectiveDate}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">失效日期</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" id="expirationDate" name="bomitem[expirationDate]"  value="{expirationDate}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">是否禁用</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" id="isAllow" name="bomitem[isAllow]"  value="{isAllow}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">子项类型</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" id="productType" name="bomitem[productType]"  value="{productType}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">配置属性</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" id="configPro" name="bomitem[configPro]"  value="{configPro}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">是否有特性</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" id="isCharacter" name="bomitem[isCharacter]"  value="{isCharacter}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">关键件</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" id="isKeyObj" name="bomitem[isKeyObj]"  value="{isKeyObj}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">发料仓库代码</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" id="stockCode" name="bomitem[stockCode]"  value="{stockCode}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">发料仓库名称</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" id="stockName" name="bomitem[stockName]"  value="{stockName}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">发料仓库id</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" id="stockId" name="bomitem[stockId]"  value="{stockId}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">备注</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" id="remark" name="bomitem[remark]"  value="{remark}" />
		</td>
</tr>        
   <tr>
		<td class="txt_btn" colspan="4">
         <input  type="hidden" id="id" name="bomitem[id]" value="{id}" />
		   <input  type="submit" class="txt_btn_a" value=" 保  存 "/>
		   <input  type="button" class="txt_btn_a" value=" 关  闭 " onclick="self.parent.tb_remove();"/>
		</td>
</tr>
</table>
</form>
</body>
</html>