<html>
<head>
	<title>查看盘点入库</title>
	<meta http-equiv="Content-Type" content="text/html;charset=gb2312"/>
	<link rel="stylesheet" type="text/css" href="css/yxstyle.css"/>
	<link rel="stylesheet" type="text/css" href="js/thickbox.css"/>
	<link rel="stylesheet" type="text/css" href="js/jquery/style/Validator.css"/>

	<script type="text/javascript" src="js/jquery.js"></script>
	<script type="text/javascript" src="js/thickbox.js"></script>

	<script type="text/javascript" src="js/common/businesspage.js"></script>

</head>
<script>
	$(document).ready(function(){
		//审批表单隐藏关闭按钮
		if("{actType}"=="audit"){
			$("input[name='close']").hide();
		}
	})
</script>
<body>

<div class="main_head">
    <span class="main_head_title">
      	查看盘点入库信息
    </span>
</div>
<table class="form_main_table">
<tr>
		<td class="form_text_left">盘点类型</td>
		<td class="form_text_right">
			{checkType}
		</td>
		<td class="form_text_left">仓库名称</td>
		<td class="form_text_right">
			{stockName}
		</td>
</tr>
<tr>
		<td class="form_text_left">仓库代码</td>
		<td class="form_text_right">
			{stockCode}
		</td>
		<td class="form_text_left">经办人</td>
		<td class="form_text_right">
			{dealUserName}
		</td>
</tr>
<tr>
		<td class="form_text_left">审核人</td>
		<td class="form_text_right">
			{auditUserName}
		</td>
		<td class="form_text_left">创建人</td>
		<td class="form_text_right">
			{createName}
		</td>
</tr>
<tr>
		<td class="form_text_left">创建日期</td>
		<td class="form_text_right">
			{createTime}
		</td>
</tr>
		<tr>
			<td colspan="4">
				附件 &nbsp;{file}
			</td>
		</tr>
<tr>
		<td colspan="6">
		<table class="main_table">
			<tr class="main_tr_header">
				<td colspan="10">盘点产品清单：</td>
			</tr>
		</table>
	<table class="main_table">
	<thead>
  		<tr class="main_tr_header">
  			<th width="5%" >序号</th>
		    <th width="10%" >类型编号</th>
		    <th width="15%" >产品类型名称</th>
		    <th width="10%" >产品编号</th>
		    <th width="10%" >产品名称</th>
		    <th width="15%" >调整数量</th>
  		</tr>
 		</thead>
{list}
		</table>
		</td>
	</tr>
<tr>
		<td class="txt_btn" colspan="4">
	      <input name="close" type="button" class="txt_btn_a" value=" 关 闭 " onclick="closeFun();"/>
		</td>
</tr>
</table>
</body>
</html>