<html>
<head>
	<title>修改盘点入库清单</title>
	<meta http-equiv="Content-Type" content="text/html;charset=gb2312"/>
	<link rel="stylesheet" type="text/css" href="css/yxstyle.css"/>
	<link rel="stylesheet" type="text/css" href="js/thickbox.css"/>
	<link rel="stylesheet" type="text/css" href="js/jquery/style/Validator.css"/>

	<script type="text/javascript" src="js/jquery.js"></script>
	<script type="text/javascript" src="js/thickbox.js"></script>
	<script type="text/javascript" src="js/common/businesspage.js"></script>
    <script type="text/javascript" src="js/jquery/formValidator.js" charset="UTF-8"></script>
	<script type="text/javascript" src="js/jquery/formValidatorRegex.js" charset="UTF-8"></script>
	<script type="text/javascript" src="js/DatePicker/WdatePicker.js"></script>
</head>
<body>
<div class="main_head">
    <span class="main_head_title">
      	修改盘点入库清单信息
    </span>
</div>
<form id="form1" method="post" action="?model=stock_checkinfo_stockinstocklist&action=edit" name="form1">
<table class="form_main_table">
<input type="hidden" class="txt"  name="stockinstocklistid" value="{id}">
<tr>
		<td class="form_text_left">库存盘点id</td>
		<td class="form_text_right">
			 <input type="text" class="txt" name="stockinstocklist[checkId]" value="{checkId}"  />
		</td>
<tr>     
<tr>
		<td class="form_text_left">类型编码</td>
		<td class="form_text_right">
			 <input type="text" class="txt" name="stockinstocklist[typecode]" value="{typecode}"  />
		</td>
<tr>     
<tr>
		<td class="form_text_left">产品类型名称</td>
		<td class="form_text_right">
			 <input type="text" class="txt" name="stockinstocklist[proType]" value="{proType}"  />
		</td>
<tr>     
<tr>
		<td class="form_text_left">产品id</td>
		<td class="form_text_right">
			 <input type="text" class="txt" name="stockinstocklist[productId]" value="{productId}"  />
		</td>
<tr>     
<tr>
		<td class="form_text_left">产品编号</td>
		<td class="form_text_right">
			 <input type="text" class="txt" name="stockinstocklist[sequence]" value="{sequence}"  />
		</td>
<tr>     
<tr>
		<td class="form_text_left">产品名称</td>
		<td class="form_text_right">
			 <input type="text" class="txt" name="stockinstocklist[productName]" value="{productName}"  />
		</td>
<tr>     
<tr>
		<td class="form_text_left">调整数量</td>
		<td class="form_text_right">
			 <input type="text" class="txt" name="stockinstocklist[adjust]" value="{adjust}"  />
		</td>
<tr>     
<tr>
		<td class="txt_btn" colspan="4">
      	<input name="" type="submit" class="txt_btn_a" value="保  存"/>
		   <input name="" type="button" class="txt_btn_a" value="关  闭" onclick="self.parent.tb_remove();"/>
		</td>
</tr>
</table>
</form>
</body>
</html>