<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>ECharts</title>
    {#commonInclude#}
</head>
<body>
<div style="height:800px;width:15%;float:left">
    <div class="menu_content">
        <p class="menu_title"><img src="images/menu_ico.gif"/>视图导航</p>
        <ul class="menu_menus">
            <li id="all-link" >所有<img src="images/menu_ico1.gif"/></li>
            <!--<li id="summary-link" class="selected">&nbsp;&nbsp;项目概况<img src="images/menu_ico1.gif"/></li>-->
            <li id="revenue-link">&nbsp;&nbsp;营收分析<img src="images/menu_ico1.gif"/></li>
            <!--<li id="geography-link">&nbsp;&nbsp;区域视图<img src="images/menu_ico1.gif"/></li>-->
            <!--<li id="KPI-link">&nbsp;&nbsp;KPI<img src="images/menu_ico1.gif"/></li>-->
        </ul>
        <br>
        <div style="font-family: '微软雅黑', '宋体', Verdana;">
            <b> 统计区间 ：<br>&nbsp;&nbsp;{section} </b>
        </div>
    </div>
</div>
<div style="height:100%;width:85%;float:right">
    <!-- 项目概况-->
    <div id="summary" class="hidden">
        <div id="xmsltj" style="height:250px;width:800px;float:left"></div>
        <div id="xmsltjPie" style="height:250px;width:800px;float:left"></div>
    </div>
    <!--营收分析-->
    <div id="revenue" class="hidden">
        <div id="yszk" style="height:300px;width:450px;float:left"></div>
        <div id="mlzk" style="height:300px;width:450px;float:right"></div>
        <div id="mlldb" style="height:350px;width:1000px;float:left"></div>
    </div>
    <!--区域视图-->
    <div id="geography" class="hidden">
        <div id="proNumGeo" style="height:600px;width:900px;float:left"></div>
    </div>
    <!--KPI-->
    <!--<div id="KPI" class="hidden">-->
        <!--<div id="" style="height:250px;width:800px;float:left"></div>-->
    <!--</div>-->
</div>
<script src="echarts/build/dist/echarts.js"></script>
<script type="text/javascript" src="{#jsPath#}/conproject-conProjectEcharts.js"></script>
</body>