<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en_US" xml:lang="en_US">
<head>
	<title>确认借试用归还信息</title>
	{#commonInclude#}
	<script type="text/javascript" src="js/common/approval.js"></script>
	<script type="text/javascript" src="{#jsPath#}/borrowreturn-saleConfirm.js"></script>
</head>
<body>
<form id="form1" method="post" action="?model=projectmanagent_borrowreturn_borrowreturn&action=saleConfirm">
	<table class="form_main_table">
		<tr>
			<td colspan="4">
			<div class="main_head2"><span class="main_head_title">
			确认借试用归还信息 </span></div>
			</td>
		</tr>
		<tr>
			<td class="form_text_left">归还单编号</td>
			<td class="form_text_right" width="30%">{Code}</td>
			<td class="form_text_left">申请类型</td>
			<td class="form_text_right" width="30%">{applyTypeName}</td>
		</tr>
		<tr>
			<td class="form_text_left">借用单编号</td>
			<td class="form_text_right">{borrowCode}</td>
			<td class="form_text_left">借用类型</td>
			<td class="form_text_right">{borrowLimit}</td>
		</tr>
	    <tr>
	        <td class="form_text_left">申 请 人</td>
	        <td class="form_text_right">{salesName}</td>
	        <td class="form_text_left">申请人部门</td>
	        <td class="form_text_right">{deptName}</td>
	    </tr>
		<tr>
			<td class="form_text_left">客户名称</td>
			<td class="form_text_right" colspan="3">{customerName}</td>
		</tr>
		<tr>
			<td class="form_text_left">备注</td>
			<td class="form_text_right" colspan="3">
			<div id="remark" class="divChangeLine">{remark}</div>
			</td>
		</tr>
		<tr style="display:none;">
			<td class="form_text_left">修改原因</td>
			<td class="form_text_right" colspan="3">
			<div id="editReason" class="divChangeLine">{editReason}</div>
			</td>
		</tr>
		<tr style="display:none;">
			<td class="form_text_left">打回原因</td>
			<td class="form_text_right" colspan="3">
			<div id="backReason" class="divChangeLine">{backReason}</div>
			</td>
		</tr>
		<tr>
			<td colspan="4" class="innerTd">
			<div id="productInfo"></div>
			</td>
		</tr>
	</table>
	<table class="form_main_table">
		<tr>
			<td colspan="4" class="td_table" id="approvalView">
				<input type="hidden" id="pid" value="{id}"/>
				<input type="hidden" id="itemType" value="oa_borrow_return"/>
			</td>
		</tr>
	</table>
	<table class="form_main_table">
		<tr>
			<td class="txt_btn" colspan="4">
				<input type="hidden" id="id" name="borrowreturn[id]" value="{id}" />
				<input type="submit" class="txt_btn_a" value=" 确  认 " />
				<input type="button" class="txt_btn_a" value=" 关  闭 " onclick="closeFun();" />
			</td>
		</tr>
	</table>
</form>
</body>
</html>