<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en_US" xml:lang="en_US">
<head>
	<title>查看借试用归还管理</title>
      {#commonInclude#}
   <script type="text/javascript" src="{#jsPath#}/borrowreturnDis-view.js" ></script>
</head>
<body>
<form id="form1" method="post" action="?model=projectmanagent_borrowreturn_borrowreturnDis&action=comSub" >
<table class="form_main_table">
<tr>
	<td colspan="4">
      <div class="main_head">
          <span class="main_head_title">
            	查看借试用归还管理信息
          </span>
      </div>
   </td>
</tr>
      <tr>
            <td class="form_text_left">归还单编号</td>
      		<td class="form_text_right" >
      			 {Code}
      		</td>
      		<td class="form_text_left">借用单编号</td>
      		<td class="form_text_right" >
      			 {borrowCode}
      		</td>
       </tr>
       <tr>
            <td class="form_text_left">处理方式</td>
      		<td class="form_text_right" id = "disposeType">
      			{disposeType}
      		</td>
      		<td class="form_text_left">借用类型</td>
      		<td class="form_text_right" >
      			{borrowLimit}
      		</td>
       </tr>
       <tr id="compensateView" style="display:none">
            <td class="form_text_left"><span style="color:blue">损坏级别</span></td>
      		<td class="form_text_right" >
                {damageLevelName}
      		</td>
      		<td class="form_text_left"><span style="color:blue">赔偿方式</span></td>
      		<td class="form_text_right">
                {compensateTypeName}
      		</td>
       </tr>
       <tr>
      		<td class="form_text_left"><span style="color:blue">处理结果</span></td>
      		<td class="form_text_right">
                {resultTypeName}
      		</td>
      		<td class="form_text_left">处理意见</td>
      		<td class="form_text_right" colspan="3">
      			<div id="remark" class="divChangeLine">{disposeIdea}</div>
      		</td>
       </tr>

       <tr id="product">
		<td colspan="6">
		<fieldset style="width:200">
		     <legend class="legend" onclick="showAndHideDiv('productImg','productInfo')">归还物料清单
				<img src="images/icon/info_up.gif" id="productImg" />
			  </legend>
			<div id="productInfo"></div>
		</fieldset>
		</td>
	  </tr>
   <tr>
		<td class="txt_btn" colspan="4">
         <input  type="hidden" id="id" name="borrowreturnDis[id]"  value="{id}" />
          <input  type="submit" class="txt_btn_a" value=" 确  定 "/>
	      <input  type="button" class="txt_btn_a" value=" 关  闭 " onclick="closeFun();"/>
		</td>
</tr>
</table>
</form>
</body>
</html>