<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en_US" xml:lang="en_US">
	<head>
		<title>
			归还确认单
		</title>
		{#commonInclude#}
		<!-- 引入质检报告用的类 -->
		<script type="text/javascript" src="view/template/produce/quality/js/qualityereportequitem-showqualitydetail.js" ></script>
		<script type="text/javascript" src="{#jsPath#}/borrowreturnDis-view.js"></script>
	</head>
	<body>
		<table class="form_main_table">
			<tr>
				<td colspan="4">
					<div class="main_head2">
						<span class="main_head_title">
							归还确认单
						</span>
					</div>
				</td>
			</tr>
			<tr>
				<td class="form_text_left">
					归还单编号
				</td>
				<td class="form_text_right">
					{Code}
				</td>
				<td class="form_text_left">
					借用单编号
				</td>
				<td class="form_text_right" width="30%">
					{borrowCode}
				</td>
			</tr>
			<tr>
				<td class="form_text_left">
					借用类型
				</td>
				<td class="form_text_right">
					{borrowLimit}
				</td>
				<td class="form_text_left">
					申请类型
				</td>
				<td class="form_text_right">
					{applyTypeName}
				</td>
			</tr>
			<tr>
				<td class="form_text_left">
					设备责任人
				</td>
				<td class="form_text_right">
					{chargerName}
				</td>
				<td class="form_text_left">
					责任人部门
				</td>
				<td class="form_text_right">
					{deptName}
				</td>
			</tr>
			<tr id="product">
				<td colspan="4" class="innerTd">
					<div id="productInfo">
					</div>
				</td>
			</tr>
			<tr>
				<td class="txt_btn" colspan="4">
					<input type="hidden" id="id" value="{id}" />
					<input type="hidden" id="qualityObjId" value="{borrowreturnId}"/>
					<input type="button" class="txt_btn_a" value=" 关  闭 " onclick="closeFun();"/>
				</td>
			</tr>
		</table>
		<div id="showQualityReport"></div>
	</body>
</html>