<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />

<link rel="stylesheet" type="text/css" href="css/yxstyle.css" />
<link rel="stylesheet" type="text/css" href="js/thickbox.css" />
<link rel="stylesheet" type="text/css" href="js/jquery/style/Validator.css"/>

<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/thickbox.js"></script>

<script type="text/javascript" src="js/jquery/formValidator.js" charset="UTF-8"></script>
<script type="text/javascript" src="js/jquery/formValidatorRegex.js" charset="UTF-8"></script>

<script type="text/javascript" src="js/DatePicker/WdatePicker.js"></script>
<script type="text/javascript" src="js/common/businesspage.js"></script>

<script type="text/javascript" src="js/ext/ext-base.js"></script>
<script type="text/javascript" src="js/ext/ext-all.js"></script>
<script type="text/javascript" src="js/ext/common-ext.js"></script>
<link rel="stylesheet" type="text/css" href="js/ext/resources/css/ext-all.css" />
<link rel="stylesheet" type="text/css" href="js/ext/css/styles.css" />

<script type="text/javascript" src="js/ext/ux/grid/MyGrid.class.js"></script>
<script type="text/javascript" src="js/ext/ux/combox/MyGridComboBox.class.js"></script>
<script type="text/javascript" src="view/template/common/combogrid/engineeringinfoComboGrid.js"></script>
<script type="text/javascript" src="view/template/engineering/light/js/rdlight-edit-formValidator.js"></script>
</head>
<body>
<form action="?model=engineering_light_rdlight&action=editlightinfo" method="POST" name="form1" id="form1">
<table class="form_main_table">
	<tr>
		<td class="main_tr_header" colspan="4">基本信息</td>
	</tr>

	<tr>
		<td class="form_text_left">标识灯颜色</td>
		<td class="form_text_right">
				{lightcol}
	    </td>
	</tr>
	<tr>
			<td class="form_text_left">
				范围(上)
			</td>
			<td class="form_view_right">
				<input type="text" class="txt" id="Max" name="rdlight[Max]"  value="{Max}"><span class='red'>[*]</span>
				<div id="MaxTip" class="dbcolumnTipTxt"></div>
			</td>
	</tr>
	<tr>
		<td class="form_text_left">范围(下)</td>
		<td class="form_text_right" >
			<input type="text" class="txt" name="rdlight[Min]" id="Min" value="{Min}"><span class='red'>[*]</span>
			<div id="MinTip" class="dbcolumnTipTxt"></div>

		</td>
	</tr>

	<tr>
		<td colspan="4">
		<input type="hidden" name="rdlight[id]" id="id" value="{id}">
		<input type="submit" class="txt_btn_a" value=" 保存 ">
		<input type="button" class="txt_btn_a" onclick="self.parent.tb_remove();" value="返回 ">
		</td>
	</tr>
</table>
</form>
</body>
</html>

