<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>附件列表显示</title>
<link rel="stylesheet" type="text/css"
	href="js/ext/resources/css/ext-all.css" />
<link rel="stylesheet" type="text/css"
	href="js/ext/css/styles.css" />
<script>
	var projectId='{objId}';
	var serviceType="{objTable}";
	var serviceId="{objId}";
</script>
<script type="text/javascript" src="js/ext/ext-base.js"></script>
<script type="text/javascript" src="js/ext/ext-all.js"></script>
<script type="text/javascript" src="js/ext/ux/tree/MyTree.class.js"></script>
<script type="text/javascript" src="{jsUrl}"></script>
{#commonInclude#}
<script type="text/javascript" src="view/template/file/uploadfile/js/uploadfile_grid.js"></script>
<script type="text/javascript">
	            $(document).ready(function() {
            	//显示tab表头
	                topTabShow({varName}, "{tabId}","{objIdPlus}");
            });
	    //删除附件
	   function delFile(id){
		   if(confirm("确认删除？")){
			   this.location="?model=file_uploadfile_management&action=deletes&id="+id+ "&url=" + escape(document.location.search);
		   }
	   }
</script>
<!-- 附件上传开始 -->
<script type="text/javascript" src="swfupload/swfupload.js"></script>
<script type="text/javascript" src="swfupload/swfupload.queue.js"></script>
<script type="text/javascript" src="swfupload/fileprogress.js"></script>
<script type="text/javascript" src="swfupload/handlers.js"></script>
<script type="text/javascript"
	src="view/template/file/uploadfile/js/uploadfiletype_tree.js"></script>
<link rel="stylesheet" type="text/css" href="swfupload/upload.css">
<link rel="stylesheet" type="text/css" href="css/yxstyle.css" />

</head>

<body>

<div class="tab_options"></div>
<div id='tree'
	style="float: left; width: 25%;  overflow: auto;">
</div>
<div>

	<div class="upload">
	<span  id="fsUploadProgress"></span>
	<span id="swfupload"></span> <input
		id="btnCancel" type="button" value="中止上传" style="display:none"
		onclick="cancelQueue(uploadfile);" disabled="disabled" /> <br />
	</div>
</div>
<div style="75%; overflow: auto;">
<table id='table' style="overflow: auto;" ></table></div>
<!-- <div class="main_wraper">

<table class="main_table" style='width: 84%'>
	<thead>
		<tr class="main_tr_header">
			<th width="5%">序号</th>
			<th width="15%">分类</th>
			<th width="15%">上传人</th>
			<th width="15%">上传时间</th>
			<th width="20%">文件名</th>
			<th width="20%">新文件名</th>
			<th width="10%">文件大小</th>
			<th width="20%">操作</th>
		</tr>
	</thead>
	<tbody>
		{list}
	</tbody>
</table>
</div>
{pageDiv}</div>-->
</body>

</html>