<html>
<head>
<title>附件信息</title>
	<link rel="stylesheet" href="css/yxstyle.css" type="text/css" media="screen" />
	<script type="text/javascript" src="js/jquery.js"></script>
	<script type="text/javascript" src="js/common/businesspage.js"></script>
</head>
<body>
<table class="main_table">
	<tr>
		<td colspan="4" class="main_tr_header">附件信息</td>
	</tr>
	<tr>
		<td class="form_text_left">
			业务编号
		</td>
		<td class="form_text_right">
			{serviceNo}
		</td>
		<td class="form_text_left">
			业务类型
		</td>
		<td class="form_text_right">
			{serviceType}
		</td>
	</tr>
	<tr>
		<td class="form_text_left">
			上传人
		</td>
		<td class="form_text_right">
			{createName}
		</td>
		<td class="form_text_left">
			上传时间
		</td>
		<td class="form_text_right">
			{createTime}
		</td>
	</tr>
	<tr>
		<td class="form_text_left">
			原文件名
		</td>
		<td class="form_text_right">{originalName}</td>
		<td class="form_text_left">
			新文件名
		</td>
		<td class="form_text_right">{newName}</td>
	</tr>
	<tr>
		<td class="form_text_left">
			所属文件夹
		</td>
		<td class="form_text_right">{inDocument}</td>
	</tr>
	<tr>
		<td class="form_text_left">
			下载
		</td>
		<td class="form_text_right">
			<p class="readtext">
				<a href="?model=file_uploadfile_management&action=toDownFile&newName={newName}&originalName={originalName}&inDocument={serviceType}" >{originalName}</a>
			</p>
     	</td>
	</tr>

	<tr>
		<td colspan="4"class="footform">
		<input type="button" class="txt_btn_a" value=" 关  闭 " onclick="self.parent.tb_remove();"/>
	</tr>
</table>
</body>
</html>