<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>查看租赁合同</title>
<link rel="stylesheet" type="text/css" href="css/yxstyle.css" />
<script type="text/javascript" src="js/jquery.js"></script>
</head>

<body>
<div class="form_main">
<form action="" method="POST" >
	<table class="form_main_table">
		<tr>
			<td colspan="4" class="form_header">
				查看租赁合同
			<td>
		</tr>
		<tr>
			<td  class="form_text_left">承租方</td>
			<td class="form_view_right">
				某某公司
			</td>
			<td  class="form_text_left">出租方</td>
			<td class="form_view_right">
				世纪鼎利
			</td>
		</tr>
		<tr>
			<td  class="form_text_left">承租方负责人</td>
			<td class="form_view_right">
				CEO
			</td>
			<td  class="form_text_left">出租方负责人</td>
			<td class="form_view_right">
				陈总
			</td>
		</tr>
		<tr>
			<td  class="form_text_left">期限</td>
			<td class="form_text_right">
				1年
			</td>
			<td  class="form_text_left">鼎利合同号</td>
			<td class="form_text_right">
				DL-rentalContract4836
			</td>
		</tr>
		<tr>
			<td  class="form_text_left">承租开始日期</td>
			<td class="form_text_right">
				2011年1月21日"
			</td>
			<td  class="form_text_left">承租截止日期</td>
			<td class="form_text_right">
				2012年1月20日
			</td>
		</tr>
		<tr>
			<td  class="form_text_left">付款方式</td>
			<td class="form_text_right">
					现金
			</td>
			<td  class="form_text_left">支付方案</td>
			<td class="form_text_right">
				 半年付
			</td>
		</tr>
		<tr>
			<td class="form_text_left">已付款项</td>
			<td class="form_text_right">
				定金支付
			</td>
			<td class="form_text_left">已付款项金额(元)</td>
			<td class="form_text_right">
				1000
			</td>
		</tr>
		<tr>
			<td class="form_text_left">须付余额(元)</td>
			<td class="form_text_right">
				1400
			</td>
			<td  class="form_text_left">租金总额(元)</td>
			<td class="form_text_right">
				2400
			</td>
		</tr>
		<tr>
			<td colspan="4" class="td_table">
				<table class="main_table">
					<tr>
						<td colspan="8" class="form_header">租赁清单</td>
					</tr>
					<tr class="main_tr_header">
						<th>序号</th>
						<th>租赁物品名称</th>
						<th>租赁物品数量</th>
						<th>租赁物品原价</th>
						<th>出租费用</th>
						<th>出租期限</th>
						<th>出租生效日期</th>
						<th>出租截止日期</th>
					</tr>
					<tr >
						<td>1</td>
						<td>N97</td>
						<td>2</td>
						<td>4000</td>
						<td>60</td>
						<td>20天</td>
						<td>2010-10-10</td>
						<td>2010-10-30</td>
					</tr>
					<tr>
						<td>2</td>
						<td>N85</td>
						<td>2</td>
						<td>3000</td>
						<td>60</td>
						<td>20天</td>
						<td>2010-10-10</td>
						<td>2010-10-30</td>
					</tr>
				</table>
			<td>
		</tr>
		<tr>
			<td  class="form_text_left">合同附件</td>
			<td class="form_text_right" colspan="3">
				附件一
			</td>
		</tr>
		<tr>
			<td class="form_text_left">支付详情</td>
			<td class="form_text_right" colspan="3">
				<textarea name=""  class="txt_txtarea_font" cols="136"></textarea>
			</td>
		</tr>
		<tr>
			<td class="form_text_left">备注</td>
			<td class="form_text_right" colspan="3">
				<textarea name=""  class="txt_txtarea_font" cols="136"></textarea>
			</td>
		</tr>
	</table>
</form>
</div>
</body>