<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en_US" xml:lang="en_US">
<head>
	<title></title>
	<meta http-equiv="Content-Type" content="text/html;charset=gb2312"/>
	<link rel="stylesheet" type="text/css" href="css/yxstyle.css"/>
	<link rel="stylesheet" type="text/css" href="js/thickbox.css" media="screen" />

	<script type="text/javascript" src="js/jquery/jquery-1.4.2.js"></script>
	<script type="text/javascript" src="js/common/businesspage.js"></script>
	<script type="text/javascript" src="js/thickbox.js"></script>
    <script type="text/javascript" src="js/common/approval.js"></script>
	<script type="text/javascript" src="view/template/projectmanagent/borrow/js/borrow-to-orderequ.js"></script>
    <script type="text/javascript" src="view/template/projectmanagent/order/js/order-view.js"></script>

</head>

<body>
<div class="main_head"><span class="main_head_title">租赁合同</span></div>

	<table class="form_main_table">
        <tr>
        <td class="form_text_left">是否签约</td>
        <td class="form_text_right" >
           {sign}
        </td>
         <td class="form_text_left">纸质合同状态</td>
        <td class="form_text_right" >
           {orderstate}
        </td>
        <td class="form_text_left">合同属性</td>
		     <td class="form_text_right" >
		        {orderNatureName}
             </td>

        </tr>
	    <tr>
			<td  class="form_text_left">鼎利合同号</td>
			<td class="form_view_right">
				 {orderCode}
			</td>
			<td  class="form_text_left">临时合同号</td>
			<td class="form_view_right">
				{orderTempCode}
			</td>
			<td  class="form_text_left">合同名称</td>
			<td class="form_view_right">
				{orderName}
			</td>
		</tr>
        <tr>
	   <td class="form_text_left">金额币别</td>
		<td class="form_text_right" >
		   <span id = "currency">{currency}</span>
	   </td>
	   <td class="form_text_left">预计金额(人民币)</td>
		<td class="form_text_right formatMoney">
		   {orderTempMoney}
	   </td>
	   <td class="form_text_left">签约金额(人民币)</td>
		<td class="form_text_right formatMoney">
		   {orderMoney}
	   </td>
	</tr>
	<tr id="currencyRate" style="display:none">
	    <td class="form_text_left">汇率</td>
		<td class="form_text_right">
		   {rate}
	   </td>
	   <td class="form_text_left">预计金额<span id="cur"></span></td>
		<td class="form_text_right formatMoney">
           {orderTempMoneyCur}
	   </td>
	   <td class="form_text_left">签约金额<span id="cur1"></span></td>
		<td class="form_text_right formatMoney">
		   {orderMoneyCur}
	   </td>
	</tr>
		<tr>
			<td  class="form_text_left">客户名称</td>
			<td class="form_view_right">
				{tenant}
			</td>
			<td class="form_text_left">客户类型</td>
			<td class="form_text_right">
                {customerType}
			</td>
			<td class="form_text_left">发票类型</td>
			<td class="form_text_right">
			   {invoiceType}
			</td>
		</tr>
		<tr>
		    <td class="form_text_left">所属省份</td>
			<td class="form_text_right">
			   {orderProvince}
			</td>
			<td class="form_text_left">所属城市</td>
			<td class="form_text_right">
			   {orderCity}
			</td>
			<td class="form_text_left">合同归属区域</td>
		    <td class="form_text_right" >
                 {areaName}
		    </td>
		</tr>
		<tr>
			<td  class="form_text_left">承租方负责人</td>
			<td class="form_view_right">
				{tenantName}
			</td>
			<td  class="form_text_left">技术负责人</td>
			<td class="form_text_right">
				{scienceMan}
			</td>
			<td class="form_text_left">区域负责人</td>
		     <td class="form_text_right" >
                 {areaPrincipal}
		     </td>
		</tr>
		<tr>
			<td  class="form_text_left">承租开始日期</td>
			<td class="form_text_right">
				{beginTime}
			</td>
			<td  class="form_text_left">承租截止日期</td>
			<td class="form_text_right">
				{closeTime}
			</td>
			<td  class="form_text_left">合同负责人</td>
			<td class="form_view_right">
				{hiresName}
			</td>
		</tr>
		<tr>
			<td class="form_text_left">支付详情</td>
			<td class="form_text_right" colspan="3">
				{details}
			</td>
			<td class="form_text_left">签收类型</td>
	        <td class="form_text_right" >
	          <div id="signinType" >{signinType}</div>
	        </td>
		</tr>
		<tr>
			<td class="form_text_left">备注</td>
			<td class="form_text_right" colspan="5">
				{remark}
			</td>
		</tr>
		<tr>
		    <td align="center" colspan="2">附件 &nbsp;{file}</td>
		    <td align="center" colspan="2">合同文本 &nbsp;{file2}</td>
		    <td class="form_text_left">发货条件</td>
			<td class="form_text_right" >{shipCondition}</td>
	    </tr>
	        </table>
<div id="borrowOrderequ">
    <input type="hidden" id="orderId" value="{id}" />
    <input type="hidden" id="orderType" value="lease" />
</div>
<table class="form_main_table" id="mytable">
	<thead>
		<tr align="left">
			<td colspan="12" class="form_header">产品清单
			 <img src="images/verpic_open.gif" onclick="dis('invbody')" title="缩放" /></td>
		</tr>
	</thead>
	<tbody id="invbody">
		<tr class="main_tr_header">
			<td style="text-align:center" width="5%">序号</td>
			<td style="text-align:center" width="10%">产品编号</td>
			<td style="text-align:center" width="16%">产品名称</td>
			<td style="text-align:center" width="9%">型号/版本</td>
			<td style="text-align:center" width="8%">数量</td>
			<td style="text-align:center" width="8%">单价</td>
			<td style="text-align:center" width="8%">金额</td>
			<td style="text-align:center" width="8%">保修期</td>

			<td style="text-align:center" width="9%">承租开始日期</td>
			<td style="text-align:center" width="9%">承租截止日期</td>

			<td style="text-align:center" width="8%">加密配置</td>
           <td style="text-align:center" width="4%">合同内</td>
		</tr>
		{rentalcontractequ}
	</tbody>
	</table>
	<table class="form_main_table" id="pre">
	<tr>
		 <td colspan="8" class="form_header">
		 	   自定义清单
			 <img src="images/verpic_open.gif" onclick="dis('mycustom')" title="缩放" />
		</td>
	</tr>
</table>
<table id="mycustom" class="form_main_table">
	<tr class="main_tr_header">
		<td width="5%" style="text-align:center">序号</td>
		<td style="text-align:center">产品编号</td>
		<td style="text-align:center">产品名称</td>
		<td width="8%" style="text-align:center">产品型号</td>
		<td width="8%" style="text-align:center">数量</td>
		<td width="8%" style="text-align:center">单价</td>
		<td width="8%" style="text-align:center">金额</td>
		<td width="8%" style="text-align:center">计划交货日期</td>
		<td width="15%" style="text-align:center">备注</td>
		<td style="text-align:center" width="8%">加密配置</td>
		<td width="4%" style="text-align:center">合同内</td>
	</tr>
	{customizelist}
</table>
<table class="main_table" width="100%" id="" cellspacing='1' cellpadding='0'>
			<thead>
			<tr>
				<td colspan="7" class="form_header">
						培训计划
						<img src="images/verpic_open.gif" onclick="dis('mytra')" title="缩放"/>
				</td>
			</tr>
		</thead>
		<tbody id="mytra">

			<tr class="main_tr_header">
				<td nowrap width="5%" style="text-align:center">
					序号
				</td>
				<td nowrap width="8%" style="text-align:center">
					培训开始时间
				</td>
				<td nowrap width="8%" style="text-align:center">
					培训结束时间
				</td>
				<td nowrap width="8%" style="text-align:center">
					参与人数
				</td>
				<td nowrap width="18%" style="text-align:center">
					培训地点
				</td>
				<td nowrap style="text-align:center">
					培训内容
				</td>
				<td nowrap width="20%" style="text-align:center">
					培训工程师要求
				</td>

			</tr>
			{trainingplan}
			</tbody>
		</table>
<table class="main_table">
<tr>
	            <td colspan="4" class="td_table" id="approvalView">
	                <input type="hidden" id="type" value="lease" />
					<input type="hidden" id="pid" value="{id}"/>
					<input type="hidden" id="itemType" value="oa_sale_lease"/>
					<input type="hidden" id="isChange" value="1"/>
				</td>
			</tr>
</table>
</div>
</body>