<html>
<head>
<link rel="stylesheet" type="text/css" href="css/yxstyle.css" />
<script type="text/javascript" src="js/jquery.js"></script>
</head>
<body>
	<div class="form_main">
		<form method="post" action="">
			<table class="form_main_table">
				<tr class="main_tr_header">
					<th colspan="2">租赁完成确认单</th>
				</tr>
				<tr>
					<td class="form_text_left">租借是否延期</td>
					<td class="form_text_right">
						<input type="radio" name="datedelay" >是
						<input type="radio" name="datedelay" >否
					</td>
				</tr>
				<tr>
					<td class="form_text_left">租借物品是否完好无损</td>
					<td class="form_text_right">
						<input type="radio" name="state" >是
						<input type="radio" name="state" >否
					</td>
				</tr>
				<tr>
					<td class="form_text_left">是否有纸质凭条</td>
					<td class="form_text_right">
						<input type="radio" name="paperitem" >是
						<input type="radio" name="paperitem" >否
					</td>
				</tr>
				<tr>
					<td class="form_text_left">是否强制中止合同</td>
					<td class="form_text_right">
						<input type="radio" name="endcontract" >是
						<input type="radio" name="endcontract" >否
					</td>
				</tr>
				<tr>
					<td colspan="2">
						<input type="button" class="txt_btn_a" value="确  定" onclick="if(confirm('确定要完成租赁合同吗？'))history.back();">&nbsp;
						<input type="button" class="txt_btn_a" value="返  回" onclick="history.back();">
					</td>
				</tr>

			</table>
		</form>
	</div>
</body>
</html>