<html>
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=gb2312"/>
	<title>查看变更通知</title>
	<link rel="stylesheet" type="text/css" href="css/yxstyle.css"/>

</head>
<body>
<div class="main_head">
    <span class="main_head_title">
      	查看变更通知
    </span>
</div>

<div class="form_main">
<form id="form1" method="post" action="">
	<table class="form_main_table">
		<tr>
			<td class="form_text_left">变更单编号</td>
			<td class="form_text_right" colspan="3">
            	changenotice-1294881893780
            </td>
		</tr>
		<tr>
			<td class="form_text_left">申请单编号</td>
			<td class="form_text_right">
 				purchcontract-129480024295
			</td>
			<td class="form_text_left">变更主题</td>
			<td class="form_text_right">
			    租赁合同变更
			</td>

		</tr>
		<tr>
			<td class="form_text_left">变更原因</td>
			<td class="form_text_right" colspan="3">

			</td>
		</tr>
		<tr>
		    <td class="form_text_left">变更明细</td>
			<td class="form_text_right"  colspan="3">
				租赁截止日期:2011-01-20=>2011-02-21;
			</td>
		</tr>
		<tr>
            <td colspan="4">
                <input type="button" class="txt_btn_a" value="返 回" onclick="history.back();"/>
            </td>
         </tr>
	</table>
</form>
</div>
</body>
</html>