<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" " http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns=" http://www.w3.org/1999/xhtml">
<head>
	<title>新增考勤信息</title>
   {#commonInclude#}
   <script type="text/javascript" src="{#jsPath#}/attendance-add.js" ></script>   
</head>

<body>
   <form id="form1" method="post" action="?model=hr_personnel_attendance&action=add" >
      <table class="form_main_table">
      	<tr>
      		<td colspan="4">
            <div class="main_head">
             <span class="main_head_title">
               	新增考勤信息
             </span>
            </div>
            </td>
         </tr>
       <tr>
      		<td class="form_text_left">员工编号</td>
      		<td class="form_text_right" >
      			 <input type="text" class="txt" name="attendance[userNo]" />
      		</td>
       </tr>        
       <tr>
      		<td class="form_text_left">员工账号</td>
      		<td class="form_text_right" >
      			 <input type="text" class="txt" name="attendance[userAccount]" />
      		</td>
       </tr>        
       <tr>
      		<td class="form_text_left">员工姓名</td>
      		<td class="form_text_right" >
      			 <input type="text" class="txt" name="attendance[userName]" />
      		</td>
       </tr>        
       <tr>
      		<td class="form_text_left">公司类型</td>
      		<td class="form_text_right" >
      			 <input type="text" class="txt" name="attendance[companyType]" />
      		</td>
       </tr>        
       <tr>
      		<td class="form_text_left">公司名称</td>
      		<td class="form_text_right" >
      			 <input type="text" class="txt" name="attendance[companyName]" />
      		</td>
       </tr>        
       <tr>
      		<td class="form_text_left">二级部门</td>
      		<td class="form_text_right" >
      			 <input type="text" class="txt" name="attendance[deptNameS]" />
      		</td>
       </tr>        
       <tr>
      		<td class="form_text_left">二级部门id</td>
      		<td class="form_text_right" >
      			 <input type="text" class="txt" name="attendance[deptIdS]" />
      		</td>
       </tr>        
       <tr>
      		<td class="form_text_left">三级部门</td>
      		<td class="form_text_right" >
      			 <input type="text" class="txt" name="attendance[deptNameT]" />
      		</td>
       </tr>        
       <tr>
      		<td class="form_text_left">三级部门id</td>
      		<td class="form_text_right" >
      			 <input type="text" class="txt" name="attendance[deptIdT]" />
      		</td>
       </tr>        
       <tr>
      		<td class="form_text_left">开始时间</td>
      		<td class="form_text_right" >
      			 <input type="text" class="txt" onfocus="WdatePicker()" readOnly  name="attendance[beginDate]" />
      		</td>
       </tr>                        
       <tr>
      		<td class="form_text_left">结束时间</td>
      		<td class="form_text_right" >
      			 <input type="text" class="txt" name="attendance[endDate]" />
      		</td>
       </tr>        
       <tr>
      		<td class="form_text_left">天数</td>
      		<td class="form_text_right" >
      			 <input type="text" class="txt" name="attendance[days]" />
      		</td>
       </tr>        
       <tr>
      		<td class="form_text_left">请假类型编码</td>
      		<td class="form_text_right" >
      			 <input type="text" class="txt" name="attendance[typeCode]" />
      		</td>
       </tr>        
       <tr>
      		<td class="form_text_left">请假类型</td>
      		<td class="form_text_right" >
      			 <input type="text" class="txt" name="attendance[typeName]" />
      		</td>
       </tr>        
       <tr>
      		<td class="form_text_left">状态编码</td>
      		<td class="form_text_right" >
      			 <input type="text" class="txt" name="attendance[docStatus]" />
      		</td>
       </tr>        
       <tr>
      		<td class="form_text_left">状态名称</td>
      		<td class="form_text_right" >
      			 <input type="text" class="txt" name="attendance[docStatusName]" />
      		</td>
       </tr>        
       <tr>
      		<td class="form_text_left">制单人id</td>
      		<td class="form_text_right" >
      			 <input type="text" class="txt" name="attendance[inputId]" />
      		</td>
       </tr>        
       <tr>
      		<td class="form_text_left">制单人名称</td>
      		<td class="form_text_right" >
      			 <input type="text" class="txt" name="attendance[inputName]" />
      		</td>
       </tr>        
       <tr>
      		<td class="form_text_left">创建人</td>
      		<td class="form_text_right" >
      			 <input type="text" class="txt" name="attendance[createName]" />
      		</td>
       </tr>        
       <tr>
      		<td class="form_text_left">创建人ID</td>
      		<td class="form_text_right" >
      			 <input type="text" class="txt" name="attendance[createId]" />
      		</td>
       </tr>        
       <tr>
      		<td class="form_text_left">创建时间</td>
      		<td class="form_text_right" >
      			 <input type="text" class="txt" name="attendance[createTime]" />
      		</td>
       </tr>        
       <tr>
      		<td class="form_text_left">修改人</td>
      		<td class="form_text_right" >
      			 <input type="text" class="txt" name="attendance[updateName]" />
      		</td>
       </tr>        
       <tr>
      		<td class="form_text_left">修改人ID</td>
      		<td class="form_text_right" >
      			 <input type="text" class="txt" name="attendance[updateId]" />
      		</td>
       </tr>        
       <tr>
      		<td class="form_text_left">修改时间</td>
      		<td class="form_text_right" >
      			 <input type="text" class="txt" name="attendance[updateTime]" />
      		</td>
       </tr>        
          <tr>
      		<td class="txt_btn" colspan="4">
      		   <input  type="submit" class="txt_btn_a" value=" 保  存 "/>
      		   <input  type="button" class="txt_btn_a" value=" 关  闭 " onclick="self.parent.tb_remove();"/>
      		</td>
       </tr>
      </table>
   </form>
</body>
</html>