<html>
<title>导入EXCEL数据</title>
	<link rel="stylesheet" type="text/css" href="css/yxstyle.css" />
    <script type="text/javascript" src="js/jquery/jquery-1.4.2.js"></script>
    <script type="text/javascript" src="js/common/businesspage.js"></script>
<body>
<div class="main_head">
      <span class="main_head_title">
            导入更新任职资格
      </span>
</div>
<form action="?model=hr_personnel_certifyapply&action=excelUpdate" ENCTYPE="multipart/form-data" method="POST" id="form1">

<table class="form_main_table" width="90%">
	<tr>
		<td class="form_text_left">
			<label>执行操作:</label>
		</td>
		<td class="form_text_right">
			<input type="radio" name="actionType" value="1" title="任职资格更新功能" checked="checked"/>
			<span id="span0">更新任职资格信息</span>
		</td>
	</tr>
	<tr>
		<td class="form_text_left">
			<label>上传文件:</label>
		</td>
		<td class="form_text_right">
		    <input type="file" class="txtlong" name="inputExcel" id="inputExcel"/>
            <input type="submit" class="txt_btn_a" value=" 导 入">
		</td>
	</tr>
	<tr>
		<td class="form_text_left">
			<label>模板下载</label>
		</td>
		<td class="form_text_right">
		    <input type="button" class="txt_btn_a" value="任职资格导入更新模版" onclick="location='upfile/人资-任职资格导入更新模版.xls'"/>
		</td>
	</tr>
	<tr>
		<td class="form_text_right">
		</td>
		<td class="form_text_right">
			导入功能说明：<br/>
			<span id="remarkInfo" style="color:blue">
				此功能只用于导入任职资格更新操作。<br/>
				此功能暂无重复导入验证。
			</span><br/><br/>
			注：<br/>
			<span class="red">1. 导入时,员工编号、申请日期、现属级别、现属级等、申请通道、申请级别为必填项。</span><br/>
			<span class="red">2. 此更新暂时只更新'现属级别'、'现属级等'、'考试得分'、'考试结果'、'认证结果'、'认证得分'、'认证通道'、'认证级别'、'认证级等'、'人证称谓'和'认证结果生效日期'等。</span><br/>
			<span class="red">3. 导入功能暂不支持单元格公式计算。</span><br/>
			<span class="red">4. 单元格内请勿带特殊符号。</span><br/>
			<span class="red">5. 日期格式请使用 YYYY-MM-DD 的形式。</span><br/>
		</td>
	</tr>
	<tr id="loading" style="display:none">
		<td colspan="2">
			<img src="images/loading1.gif">
		</td>
	</tr>
</table>
</form>
</body>
</html>