<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en_US" xml:lang="en_US">
<head>
<title>查看员工等级信息</title>
{#commonInclude#}
</head>
<body>
		<table cellpadding="2" width="100%" class="form_main_table">
			<tr>
				<td colspan="1">
				<fieldset><legend><b>个人信息</b></legend>
				<table cellpadding="2" width="100%">
					<tr>
						<td class="form_text_left_three_new" >员工姓名</td>
						<td class="" width="20%" align="left" colspan="3">{staffName}</td>
						<!-- 附件图片-->
						<td  style="text-align:center" rowspan="6" width="33%" colspan="2"><img
							id="photo" src="{photo}""
							style="height:140px;width:100px;" class="imgBorder" /></td>
						<!-- 附件图片-->
					</tr>
					<tr>
						<td class="form_text_left_three_new" >员工编号</td>
						<td class="" width="20%" align="left">{userNo}</td>
						<td class="form_text_left_three_new">OA关联帐号</td>
						<td class="" width="20%" align="left">{userName}</td>
					</tr>
					<tr>
						<td class="form_text_left_three_new">曾用名(英)</td>
						<td width="20%" align="left">{englishName}</td>
						<td class="form_text_left_three_new">性别</td>
						<td width="20%" align="left">{sex}</td>
					</tr>
					<tr>
						<td class="form_text_left_three_new">出生日期</td>
						<td width="20%" align="left">{birthdate}</td>
						<td class="form_text_left_three_new">年龄</td>
						<td width="20%" align="left">{age}</td>
					</tr>
					<tr>
						<td class="form_text_left_three_new">籍贯</td>
						<td width="20%" align="left">{nativePlacePro}
						&nbsp;&nbsp;{nativePlaceCity}</td>
						<td class="form_text_left_three_new">民族</td>
						<td width="20%" align="left">{nation}</td>
					</tr>
					<tr>
						<td class="form_text_left_three_new">移动电话</td>
						<td width="20%" align="left">{mobile}
						</td>
						<td class="form_text_left_three_new">公司邮箱</td>
						<td width="20%" align="left">{compEmail}</td>
					</tr>
					<tr>
						<td class="form_text_left_three_new">最高学历</td>
						<td width="20%" align="left">{highEducationName}
						</td>
						<td class="form_text_left_three_new">毕业学校</td>
						<td width="20%" align="left">{highSchool}</td>
						<td class="form_text_left_three_new">专业</td>
						<td width="20%" align="left">{professionalName}</td>
					</tr>
				</table>
				</fieldset>
				</td>
			</tr>
			<tr>
				<td colspan="1">
				<fieldset><legend><b>戶口信息</b></legend>
				<table cellpadding="2" width="100%">
					<tr>
						<td class="form_text_left_three_new">档案编号</td>
						<td class="" width="20%" align="left">{archivesCode}</td>
						<td class="form_text_left_three_new">档案所在地</td>
						<td class="" width="20%" align="left">{archivesLocation}</td>
						<td class="form_text_left_three_new">户籍地</td>
						<td class="" width="20%" align="left">{residencePro}&nbsp;&nbsp;{residenceCity}</td>
					</tr>
					<tr>
						<td class="form_text_left_three_new">户籍类型</td>
						<td class="" width="20%" align="left">{householdType}</td>
						<td class="form_text_left_three_new">集体户口</td>
						<td class="" width="20%" align="left">{collectResidence}</td>
					</tr>
				</table>
				</fieldset>
				</td>
			</tr>
			<tr>
				<td colspan="1">
				<fieldset><legend><b>服务线拓展信息</b></legend>
				<table cellpadding="2" width="100%">
					<tr>
						<td class="form_text_left_three_new">技术等级</td>
						<td class="" width="20%" align="left">{personLevel}</td>
						<td class="form_text_left_three_new">归属区域</td>
						<td class="" width="20%" align="left">{officeName}</td>
						<td class="form_text_left_three_new">无补助城市</td>
						<td class="" width="20%" align="left">{eprovince}{ecity}</td>
					</tr>
					<tr>
						<td class="form_text_left_three_new">技术领域</td>
						<td width="20%" align="left">
								{technologyName}
						</td>
						<td class="form_text_left_three_new">网络</td>
						<td width="20%" align="left">
							{networkName}
						</td>
						<td class="form_text_left_three_new">设备厂家及级别</td>
						<td width="20%" align="left">
								{deviceName}
						</td>
					</tr>
					<tr>
						<td class="form_text_left_three_new">外包公司</td>
						<td width="20%" align="left">
								{outsourcingSupp}
						</td>
						<td class="form_text_left_three_new">外包性质</td>
						<td width="20%" align="left">
							{outsourcingName}
						</td>
					</tr>
				</table>
				</fieldset>
				</td>
			</tr>

		</table>

<table class="form_main_table">
	<tr>
		<td class="txt_btn" colspan="4"><input type="hidden" id="id"
			value="{id}" /> <input type="button" class="txt_btn_a"
			value=" 关  闭 " onclick="closeFun();" /></td>
	</tr>
</table>

</body>
</html>
