<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" " http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns=" http://www.w3.org/1999/xhtml">
<head>
	<title>新增社会关系信息</title>
   {#commonInclude#}
   <script type="text/javascript" src="{#jsPath#}/society-add.js" ></script>
</head>

<body>
   <form id="form1" method="post" action="?model=hr_personnel_society&action=add" >
      <table class="form_main_table">
      	<tr>
      		<td colspan="4">
            <div class="main_head">
             <span class="main_head_title">
               	新增社会关系信息
             </span>
            </div>
            </td>
         </tr>
       <tr>
      		<td class="form_text_left">员工编号</td>
      		<td class="form_text_right" >
      			 <input type="text" class="readOnlyText" id="" name="society[userNo]" value="{userNo}" readonly/>
      			 <input type="hidden" class="readOnlyText" id="" name="society[userAccount]" value="{userAccount}" />
      		</td>
      		<td class="form_text_left">员工姓名</td>
      		<td class="form_text_right" >
      			 <input type="text" class="readOnlyText" id="" name="society[userName]" value="{userName}"  readonly/>
      		</td>
       </tr>
       <tr>
      		<td class="form_text_left"><span style="color:blue">关系人姓名</span></td>
      		<td class="form_text_right" >
      			 <input type="text" class="txt" id="relationName" name="society[relationName]" />
      		</td>
      		<td class="form_text_left">年龄(岁)</td>
      		<td class="form_text_right" >
      			 <input type="text" class="txt" id="age" name="society[age]" />
      		</td>
       </tr>
       <tr>
      		<td class="form_text_left">与本人关系</td>
      		<td class="form_text_right" >
      			 <input type="text" class="txt" id="isRelation" name="society[isRelation]" />
      		</td>
      		<td class="form_text_left"><span style="color:blue">联系方式</span></td>
      		<td class="form_text_right" >
      			 <input type="text" class="txt" id="information" name="society[information]" />
      		</td>
       </tr>
       <tr>
      		<td class="form_text_left">工作单位</td>
      		<td class="form_text_right" >
      			 <input type="text" class="txt" id="workUnit" name="society[workUnit]" />
      		</td>
      		<td class="form_text_left">职位</td>
      		<td class="form_text_right" >
      			 <input type="text" class="txt" id="job" name="society[job]" />
      		</td>
       </tr>
      <tr>
      		<td class="form_text_left" >备注</td>
      		<td class="form_text_right"  colspan="3">
                  <textarea class="txt_txtarea_font" id="remark" name="society[remark]"></textarea>
      		</td>
      </tr>
          <tr>
      		<td class="txt_btn" colspan="4">
      		   <input  type="submit" class="txt_btn_a" value=" 保  存 "/>
      		   <input  type="button" class="txt_btn_a" value=" 关  闭 " onclick="self.parent.tb_remove();"/>
      		</td>
       </tr>
      </table>
   </form>
</body>
</html>