<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>人事管理-基础信息-工作经历列表</title>
     {#commonInclude#}
   <script type="text/javascript" src="view/template/hr/personnel/js/work-grid.js"></script>
</head>
<body>
   <table id="workGrid" style="display: none"></table>
      <div style="visibility:hidden;">
<form id='form2' name='form2' action="?model=hr_personnel_work&action=excelOutSelect" method="post" onsubmit="">

	<input type="text" id="listSql" name="work[listSql]"></input>
	<input type="text"  id="totalSize"></input>
</form>
</div>
</body>
</html>