<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en_US" xml:lang="en_US">
<head>
	<title>新增期初余额表(应付应收)</title>
	<meta http-equiv="Content-Type" content="text/html;charset=gb2312"/>
	<link rel="stylesheet" type="text/css" href="css/yxstyle.css"/>
	<link rel="stylesheet" type="text/css" href="js/jquery/style/Validator.css"/>
	<link rel="stylesheet" type="text/css" href="js/jquery/style/yxgrid.css" />
	<link rel="stylesheet" type="text/css" href="js/jquery/style/yxmenu.css" media="screen" />
	<link rel="stylesheet" type="text/css" href="js/jquery/style/yxmenu.theme.css" media="screen" />

	<script type="text/javascript" src="js/jquery/jquery-1.4.2.js"></script>
	<script type="text/javascript" src="js/common/businesspage.js"></script>
    <script type="text/javascript" src="js/DatePicker/WdatePicker.js"></script>
    <script type="text/javascript" src="js/jquery/formValidator.js" charset="UTF-8"></script>
	<script type="text/javascript" src="js/jquery/formValidatorRegex.js" charset="UTF-8"></script>

	<script type="text/javascript" src="js/jquery/woo.js"></script>
	<script type="text/javascript" src="js/jquery/component.js"></script>

	<script type="text/javascript" src="js/jquery/combo/yxcombo.js"></script>
	<script type="text/javascript" src="js/jquery/grid/yxsgrid.js"></script>
	<script type="text/javascript" src="js/jquery/grid/yxgrid.js"></script>
	<script type="text/javascript" src="js/jquery/combo/yxcombogrid.js"></script>

	<script type="text/javascript" src="js/jquery/combo/business/yxcombogrid-customer.js"></script>

	<script type="text/javascript" src="view/template/finance/balance/js/balance-income-combo.js"></script>
</head>
<body>
<div class="main_head">
    <span class="main_head_title">
      	添加期初余额 - {formTypeCN}
    </span>
</div>
<form id="form1" method="post" action="?model=finance_balance_balance&action=add">
<table class="form_main_table">
    <tr>
		<td class="form_text_left">供应商名称</td>
		<td class="form_text_right" colspan="3">
			 <input type="text" class="txt" id="objectName" name="balance[objectName]" />
			 <input type="hidden" id="objectId" name="balance[objectId]" />
			 <span class="red">[*]</span>
		</td>
    </tr>
    <tr>
		<td class="form_text_left">会计年度</td>
		<td class="form_text_right" >
			 <input type="text" id="thisYear" class="readOnlyTxtNormal" readonly="readonly" name="balance[thisYear]" value="{thisYear}"/>
		</td>
		<td class="form_text_left">会计月份</td>
		<td class="form_text_right" >
			 <input type="text" id="thisMonth" class="readOnlyTxtNormal" readonly="readonly" name="balance[thisMonth]" value="{thisMonth}"/>
		</td>
    </tr>
    <tr>
		<td class="form_text_left">科目方向</td>
		<td class="form_text_right" >
			 <input type="hidden" name="balance[directions]" />
			 <input type="text" class="txt" name="balance[directionsName]" />
		</td>
		<td class="form_text_left">日期</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" name="balance[thisDate]" value="{thisDate}" onfocus="WdatePicker();" onchange="thisChange(this.value)"/>
		</td>
    </tr>
    <tr>
		<td class="form_text_left">本期应收</td>
		<td class="form_text_right" >
			 <input type="text" class="txt formatMoney" id="needPay" name="balance[needPay]"/>
		</td>
		<td class="form_text_left">本期实收</td>
		<td class="form_text_right" >
			 <input type="text" class="txt formatMoney" id="payed" name="balance[payed]" />
		</td>
    </tr>
    <tr>
		<td class="form_text_left">期末余额</td>
		<td class="form_text_right" colspan="3">
			 <input type="text" class="txt formatMoney" id="balance" name="balance[balance]" />
		</td>
    </tr>
	<tr>
		<td class="txt_btn" colspan="4">
			<input type="hidden" name="balance[formType]" value="{formType}"/>
			<input type="hidden" name="balance[isUsing]" value="1"/>

		    <input type="submit" class="txt_btn_a" value="保  存"/>
		    <input type="button" class="txt_btn_a" value="关  闭" onclick="self.parent.tb_remove();"/>
		</td>
   </tr>
</table>
</form>
</body>
</html>