<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" " http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns=" http://www.w3.org/1999/xhtml">
<head>
	<title>新增portlet分类</title>
   {#commonInclude#}

   <script type="text/javascript" src="js/jquery/formvalidator/formValidator-4.1.1.js"	charset="UTF-8"></script>
   <script type="text/javascript" src="js/jquery/formvalidator/formValidatorRegex.js"	charset="UTF-8"></script>
   <script type="text/javascript" src="{#jsPath#}/portlettype-add.js" charset="UTF-8"></script>
</head>

<body>
   <form id="form1" method="post" action="?model=system_portal_portlettype&action=add" >
      <table class="form_main_table">
      	<tr>
      		<td colspan="4">
            <div class="main_head">
             <span class="main_head_title">
               	添加portlet分类
             </span>
            </div>
            </td>
         </tr>
       <tr>
      		<td class="form_text_left">名称</td>
      		<td class="form_text_right" >
      			 <input type="text" class="txt" name="portlettype[typeName]" id="typeName"/>
      		</td>
       </tr>
       <!--<tr>
      		<td class="form_text_left">上级</td>
      		<td class="form_text_right" >
      			 <input type="hidden" class="txt" id="parentId" name="portlettype[parentId]" value="-1"/>
      			 <input type="text" class="txt" id="parentId" name="portlettype[parentId]" value="{parentId}"/>
      		</td>
       </tr>-->
       <tr>
      		<td class="form_text_left">上级名称</td>
      		<td class="form_text_right" >
      			 <input type="hidden" class="txt" id="parentId" name="portlettype[parentId]" value="{parentId}"/>
      			 <input type="text" class="txt" id="parentName" name="portlettype[parentName]" value="{parentName}"/>
      		</td>
       </tr>
       <tr>
      		<td class="form_text_left">备注</td>
      		<td class="form_text_right" >
      			 <textarea  class="txt_txtarea_font" name="portlettype[remark]" value="{remark}"></textarea>
      		</td>
       </tr>
       <tr>
      		<td class="txt_btn" colspan="4">
      		   <input  type="submit" class="txt_btn_a" value=" 保  存 "/>
      		   <input  type="button" class="txt_btn_a" value=" 关  闭 " onclick="self.parent.tb_remove();"/>
      		</td>
       </tr>
      </table>
   </form>
</body>
</html>