<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" " http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns=" http://www.w3.org/1999/xhtml">
<head>
	<title>修改portlet</title>
   {#commonInclude#}
   	<script type="text/javascript" src="{#jsPath#}/portlet-add.js"></script>
</head>
<body>
<form id="form1" method="post" action="?model=system_portal_portlet&action=edit" >
<table class="form_main_table">
   <tr>
      <td colspan="4">
          <div class="main_head">
             <span class="main_head_title">
               	修改portlet信息
             </span>
         </div>
      </td>
   </tr>
<tr>
		<td class="form_text_left">所属分类名称</td>
		<td class="form_text_right" >
			 <input type="hidden" class="txt" id="typeId" name="portlet[typeId]"  value="{typeId}" />
			 <input type="text" class="txt" id="typeName" name="portlet[typeName]"  value="{typeName}" />
		</td>
</tr>
<tr>
		<td class="form_text_left">名称</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" name="portlet[portletName]"  value="{portletName}" />
		</td>
</tr>
<tr>
		<td class="form_text_left">url</td>
		<td class="form_text_right" >
		<textarea class="txt_txtarea_font" name="portlet[url]">{url}</textarea>
		</td>
</tr>
 <tr>
      		<td class="form_text_left">是否权限控制</td>
      		<td class="form_text_right" >
      			<input type="checkbox" name="portlet[isPerm]" value="1" {isPerm}/>
      			(注：如果不勾选此选项，则该portlet无需授权，即所有人员都可视)
      		</td>
       </tr>
<tr>
		<td class="form_text_left">默认宽度</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" name="portlet[width]"  value="{width}" />
		</td>
</tr>
<tr>
		<td class="form_text_left">默认高度</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" name="portlet[height]"  value="{height}" />
		</td>
</tr>
<tr>
		<td class="form_text_left">备注</td>
		<td class="form_text_right" >
			<textarea class="txt_txtarea_font" name="portlet[remark]">{remark}</textarea>

		</td>
</tr>
<tr>
		<td class="txt_btn" colspan="4">
         <input  type="hidden" name="portlet[id]" value="{id}" />
		   <input  type="submit" class="txt_btn_a" value=" 保  存 "/>
		   <input  type="button" class="txt_btn_a" value=" 关  闭 " onclick="self.parent.tb_remove();"/>
		</td>
</tr>
</table>
</form>
</body>
</html>