<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Portal</title>
<meta http-equiv="Content-Type" content="text/html; charset=GBK" />
 {#commonInclude#}
 <link rel="stylesheet" type="text/css" href="js/ext/resources/css/ext-all.css" />
<link rel="stylesheet" type="text/css" href="js/ext/resources/css/Portal.css" />

<script type="text/javascript" src="js/ext/ext-base.js"></script>
<script type="text/javascript" src="js/ext/ext-all.js"></script>

<script type="text/javascript" src="js/ext/ux/portal/Portal.js"></script>
<script type="text/javascript" src="js/ext/ux/portal/PortalColumn.js"></script>
<script type="text/javascript" src="js/ext/ux/portal/Portlet.js"></script>

<script type="text/javascript" src="view/template/system/portal/js/jquery.portal.js"></script>
<script src="view/template/system/portal/js/portal-index.js"
	type="text/javascript"></script>


</head>
<body >
<h3>&nbsp;我的门户 <input type='button' class="txt_btn_a"
	id="addPortlet" value="添加" /> <input type='button' class="txt_btn_a"
	id="savePortlet" value="保存" /> <input type='button' class="txt_btn_a"
	id="setPortlet" value="设置" /></h3>


</body>
</html>

