<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" " http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns=" http://www.w3.org/1999/xhtml">
<head>
	<title>修改portlet</title>
   {#commonInclude#}
 <script src="{#jsPath#}/usercustomize.js"></script>
</head>

<body>
   <form id="form1" method="post" onsubmit="return combine()" action="?model=system_portal_usercustomize&action=edit" >
      <table class="form_main_table">
      	<tr>
      		<td colspan="4">
            <div class="main_head">
             <span class="main_head_title">
               	设置portlet
             </span>
            </div>
            </td>
         </tr>
       <tr>
      	<td class="form_text_left">页面列数</td>
      		<td class="form_text_right" >
      			 <input type="text" class="txt" id="cols" onblur="getcols()" name="usercustomize[colNum]" value="{colNum}" />
      		</td>
			<td></td>
       </tr>
       <tr style="table-layout:fixed;">
      		<td class="form_text_left">每列宽度（小数）</td>
      		<td class="form_text_right" id= "width" >

      		</td>
			<td align="left">
			<pre>
友情提示：
1.请在【页面列数】上输入个人桌面页面的列数。
2.在【每列宽度（小数）】中输入每列的宽度百分比,如0.3代表30%。
			</pre>
			</td>
			<input type="hidden"  id="colsStr" name="usercustomize[customizeStr]" value="{customizeStr}"/>
			<input type="hidden"  id="setid" name="usercustomize[id]" value="{id}"/>
       </tr>
       <tr>
      		<td class="txt_btn" colspan="4">
      		   <input  type="submit" class="txt_btn_a" value=" 保存"/>
      		   <input  type="button" class="txt_btn_a" value=" 关闭" onclick="parent.tb_remove();"/>
      		</td>
       </tr>
      </table>
   </form>
</body>
</html>