<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=GBK" />
   <title>测试卡使用记录(oa_cardsys_cardrecords)列表</title>
     {#commonInclude#}
   <script type="text/javascript" src="view/template/cardsys/cardrecords/js/cardrecords-grid.js"></script>
</head>
<body>
   <table id="cardrecordsGrid" style="display: none"></table>
</body>
</html>