<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=gbk" />
    <link rel="stylesheet" type="text/css" href="css/yxstyle.css" />
    <link rel="stylesheet" type="text/css" href="js/thickbox.css" />

    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/thickbox.js"></script>

    <script type="text/javascript" src="js/common/businesspage.js"></script>
<script>

</script>
</head>
<body>
<div class="main_head">
    <span class="main_head_title">
        研发数据导入
    </span>
</div>
<div class="main_wraper">
	<table  class="main_table">
		<tr>
			<td>
				<input type="button" class="txt thickbox" value="01.生成项目组合      " title="01.生成项目组合      "
					alt="?model=rdproject_baseinfo_rddatain&action=toAddGroup&placeValuesBefore&TB_iframe=true&modal=false&height=400&width=800">
			</td>
		</tr>
		<tr>
			<td>
				<input type="button" class="txt" value="02.生成项目、项目团队"/>
			</td>
		</tr>
		<tr>
			<td>
				<input type="button" class="txt" value="03.生成计划、计划权限"/>
			</td>
		</tr>
		<tr>
			<td>
				<input type="button" class="txt" value="04.生成任务          "/>
			</td>
		</tr>
		<tr>
			<td>
				<input type="button" class="txt" value="05.虚拟办公室、知识库"/>
			</td>
		</tr>
		<tr>
			<td>
				<span class="red">注：此功能无验证机制，请使用者自行查对数据</span>
			</td>
		</tr>
	</table>
</div>
</body>
</html>