<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>修改里程碑</title>
		<link rel="stylesheet" type="text/css" href="css/yxstyle.css" />
        <link rel="stylesheet" type="text/css" href="js/thickbox.css" />
        <link rel="stylesheet" type="text/css" href="js/jquery/style/Validator.css"/>

        <script type="text/javascript" src="js/jquery.js"></script>
        <script type="text/javascript" src="js/thickbox.js"></script>
        <script type="text/javascript" src="js/jquery/formValidator.js" charset="UTF-8"></script>
		<script type="text/javascript" src="js/jquery/formValidatorRegex.js" charset="UTF-8"></script>
		<script type="text/javascript" src="js/DatePicker/WdatePicker.js"></script>

		<script type="text/javascript" src="js/common/businesspage.js"></script>
		<script type="text/javascript" src="js/util.js"></script>
	<script type="text/javascript" src="view/template/rdproject/baseinfo/js/rdproject-addmile-formValidator.js"></script>

</head>
<body>
<form id="form1" method="post" action="?model=rdproject_baseinfo_rdmilestoneinfo&action=editMilestone">
<table class="form_main_table">
		<input type="hidden" id="id" name="rdmilestoneinfo[id]" value="{rdmilestoneinfo[id]}" />
		<tr>
			<td  class="form_text_left">里程碑名称</td>
			<td class="form_view_right">
				<input type="text" value="{rdmilestoneinfo[milestoneName]}" class="txt" id="editMilestoneName" name="rdmilestoneinfo[milestoneName]">
				<span class="red">[*]</span>
				<div id="editMilestoneNameTip" class="tipShortTxt"></div>
			</td>
		</tr>

		<tr>
			<td  class="form_text_left">前置里程碑</td>
			<td class="form_view_right">
				<select name="rdmilestoneinfo[frontNumb]" id="frontNumb" class="select">
					<!--
					<option value="{rdmilestoneinfo[frontNumb]}">{frontName}</option>
					<option>无前置里程碑</option>
					-->
					{exMilestoneName}
				</select>
			<!--  input type="text" name="rdmilestoneinfo[exMilestoneName]" id="exMilestoneName" value="{ex}" -->
			</td>
		</tr>
		<input type="hidden" id="numb" name="rdmilestoneinfo[numb]" value='{rdmilestoneinfo[numb]}'/>

				<tr>
			<td class="form_text_left">描述</td>
			<td class="form_view_right" colspan="2">
				<textarea  class="txt_txtarea_font" id="milestoneDescription" name="rdmilestoneinfo[milestoneDescription]">{milestoneDescription}</textarea>
			</td>
		</tr>
			<tr>
			<td class="txt_btn" colspan="4">
				<input name="save" type="submit" class="txt_btn_a" value=" 保存 " />
				<input name="" type="button" class="txt_btn_a" value=" 关闭 " onclick="self.parent.tb_remove();" />

			</td>
		</tr>
</table>
</form>
</body>
</html>