<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>应付其他发票列表</title>
	{#commonInclude#}
	<script type="text/javascript" src="view/template/finance/invother/js/invother-viewgrid.js"></script>
</head>
<body>
<div>
	<input type="hidden" id="objId" value="{objId}"/>
	<input type="hidden" id="objType" value="{objType}"/>
	<input type="hidden" id="userId" value="{userId}"/>
</div>
<table id="myinvotherGrid" style="display: none"></table>
</body>
</html>