<html>
<head>
<title>关闭合同</title>
<meta http-equiv="Content-Type" content="text/html;charset=gb2312" />
<link rel="stylesheet" type="text/css" href="css/yxstyle.css" />
<link rel="stylesheet" type="text/css" href="js/thickbox.css" />
<link rel="stylesheet" type="text/css" href="js/jquery/style/Validator.css" />

<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/thickbox.js"></script>
<script type="text/javascript" src="js/common/businesspage.js"></script>
<script type="text/javascript" src="js/jquery/formValidator.js" charset="UTF-8"></script>
<script type="text/javascript" src="js/jquery/formValidatorRegex.js" charset="UTF-8"></script>
<script type="text/javascript" src="js/DatePicker/WdatePicker.js"></script>

</head>
<body>
<table>
	<tr>
		<td><img src="images/sys_config.gif"> <b> <font>关闭合同</font> </b></td>
	</tr>
</table>
<table class='form_main_table'>
	<tr>
		<td class="form_text_left">合同名称</td>
		<td class="form_text_right" colspan="3">{orderName}{view}

		<input type="hidden" id="state" name="order[state]" value="3" />

		</td>
	</tr>
	<tr>
		<td class="form_text_left">关闭操作人</td>
		<td class="form_text_right">{closeName} </td>
		<td class="form_text_left">申请关闭日期</td>
		<td class="form_text_right" width="30%">{closeTime}</td>
	</tr>
    <tr>
        <td class="form_text_left">关闭类型</td>
        <td class="form_text_right"><span class="red">{closeType}</span>

        </td>

    </tr>
	<tr>
		<td class="main_head" colspan="4" align="left"><img src="images/sys_config.gif"> <b> <font>关闭说明</font> </b></td>
	</tr>
	<tr>
		<td colspan="4">
		    <textarea name="order[closeRegard]" id="reason" rows="5" style="width:100%">{closeRegard}</textarea></td>
	</tr>

</table>
</form>
</body>
</html>

