<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=GBK" />
<title>未执行合同列表</title>
<link rel="stylesheet" type="text/css" href="css/yxstyle.css" />
<link rel="stylesheet" type="text/css" href="js/jquery/style/yxgrid.css" />
<script type="text/javascript" src="js/jquery/jquery-1.4.2.js"></script>
<script type="text/javascript" src="js/jquery/woo.js"></script>
<script type="text/javascript" src="js/jquery/component.js"></script>
<script type="text/javascript" src="js/jquery/dump.js"></script>
<script type="text/javascript" src="js/thickbox.js"></script>
<link rel="stylesheet" href="js/thickbox.css" type="text/css" media="screen" />

<script type="text/javascript" src="js/jquery/grid/yxsgrid.js"></script>
<script type="text/javascript" src="js/jquery/grid/yxgrid.js"></script>
<script type="text/javascript" src="js/jquery/grid/yxegrid.js"></script>
<script type="text/javascript" src="js/jquery/menu/yxmenu.js"></script>
<link type="text/css" href="js/jquery/style/yxmenu.css" media="screen" rel="stylesheet" />
<!-- 主题css，可切换 -->
<link type="text/css" href="js/jquery/style/yxmenu.theme.css" media="screen" rel="stylesheet" />
<script type="text/javascript" src="js/thickbox.js"></script>
<script type="text/javascript" src="js/topoptions.js"></script>
<script type="text/javascript" src="js/common/businesspage.js"></script>
<script type="text/javascript" src="view/template/rdproject/yxrdproject/js/rdproject-listwsp.js"></script>
<script>

</script>
</head>

<body>
<input type="hidden" id="userId" value="{userId}" />
<table class="rdprojectListGrid" style="display: none">

</table>

</body>
</html>
