<html>
<head>
<title></title>
{#commonInclude#}
<script type="text/javascript" src="js/jquery/combo/business/yxselect-user.js"></script>
<script>
$(function(){
	$("#TO_NAME").yxselect_user({
		hiddenId : 'TO_ID',
		mode : 'check'
	});
});
</script>
</head>
<body>
<form id="form1" method="post" action="?model=purchase_plan_basic&action=feedbackpush" >
<table>
	<tr>
		<td><img src="images/sys_config.gif"></td>
	</tr>
</table>
<table class='form_main_table'>
	<tr>
		<td class="form_text_left">单据编号</td>
		<td class="form_view_right">{planNumb}</td>
		<td class="form_text_left">采购申请人</td>
		<td class="form_view_right">{sendName}</td>
	</tr>
	<tr>
	    <td class="form_text_left"><span style="color:blue">输入内容:</span></td>
		<td class="form_text_right" colspan="3">
		    <textarea class="txt_txtarea_font_con" id="content" name="objInfo[content]"></textarea>
		</td>
	</tr>
<!--	<tr>-->
<!--	   	 <td class="form_text_left">是否发送邮件-->
<!--         </td>-->
<!--	   	 <td colspan="3" class="form_text_right">-->
<!--             <input type="radio" name="objInfo[issend]" value="y"  onclick="checkEmailTA(this)"/>是-->
<!--             <input type="radio" name="objInfo[issend]" value="n" checked="checked" onclick="checkEmailTA(this)"/>否-->
<!--		 </td>-->
<!--	</tr>-->
	<tr id="maildiv">
	   		<td class="form_text_left">邮件接收人
	       	</td>
	       	<td colspan="3" class="form_text_right">
			    <input type="text" name="objInfo[TO_NAME]" id="TO_NAME" class="txtlong" readonly="readonly" value="{sendName}"/>
	    		<input type="hidden" name="objInfo[TO_ID]" id="TO_ID" readonly="readonly" value="{sendUserId}"/>
		    </td>
	   	</tr>

	<tr>
		<td class="txt_btn" colspan="4">
		    <input type="submit" class="txt_btn_a" value=" 确 认 " />
		    <input type="button" class="txt_btn_a" value=" 关 闭 " onclick="closeFun();"/>
		</td>
	</tr>
</table>
</form>
</body>
</html>

