<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
	<title>采购申请</title>
	<!-- link rel="stylesheet" type="text/css" href="css/tab.css"/ -->
	<link rel="stylesheet" type="text/css" href="css/yxstyle.css"/>
</head>
<body style="overflow-x:hidden;overflow-y:hidden">



<iframe src="?model=purchase_plan_basic&action=applymenu" id="menu" align="left" width="17%" height="100%" marginwidth="0" marginheight="0" frameborder="0" scrolling="no"> </iframe>
<iframe src="?model=purchase_plan_basic&action=toSalesPlan" id="main" align="right" width="83%" height="100%" marginwidth="0" marginheight="0" frameborder="0" scrolling="yes"> </iframe>

</body>
</html>