<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en_US" xml:lang="en_US">
<head>
	<title>新增oa_system_region</title>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<link rel="stylesheet" type="text/css" href="css/yxstyle.css" />
<link rel="stylesheet" type="text/css" href="js/jquery/style/Validator.css"/>
<link rel="stylesheet" type="text/css" href="js/jquery/style/yxgrid.css" />
<link rel="stylesheet" type="text/css" href="js/jquery/style/yxmenu.css" media="screen" />
<link rel="stylesheet" type="text/css" href="js/jquery/style/yxmenu.theme.css" media="screen" />
<link type="text/css" href="js/jquery/style/yxtree.css" media="screen" rel="stylesheet" />

<script type="text/javascript" src="js/jquery/jquery-1.4.2.js"></script>
<script type="text/javascript" src="js/common/businesspage.js"> </script>

<script type="text/javascript" src="js/jquery/woo.js"></script>
<script type="text/javascript" src="js/jquery/component.js"></script>
<script type="text/javascript" src="js/jquery/dump.js"></script>

<script type="text/javascript" src="js/jquery/menu/yxmenu.js"></script>
<script type="text/javascript" src="js/jquery/grid/yxsgrid.js"></script>
<script type="text/javascript" src="js/jquery/grid/yxgrid.js"></script>
<script type="text/javascript" src="js/jquery/grid/yxeditgrid.js"></script>
<script type="text/javascript" src="js/jquery/grid/yxsubgrid.js"></script>
<script type="text/javascript" src="js/jquery/grid/yxtreegrid.js"></script>


<!-- 树形组件 -->
<script type="text/javascript" src="js/jquery/ztree/yxtree.js"></script>

<!-- 下拉组件 -->
<script type="text/javascript" src="js/jquery/combo/yxcombo.js"></script>
<script type="text/javascript" src="js/jquery/combo/yxcombotext.js"></script>
<script type="text/javascript" src="js/jquery/combo/yxcombogrid.js"></script>
<script type="text/javascript" src="js/jquery/combo/yxcombotree.js"></script>
<script type="text/javascript" src="js/jquery/combo/business/yxcombogrid-branch.js"></script>

<script type="text/javascript" src="js/jquery/combo/business/yxselect-dept.js"></script>
<script type="text/javascript" src="js/jquery/combo/business/yxselect-user.js"></script>
<script type="text/javascript" src="js/validate.js"> </script>
<script type="text/javascript" src="js/jquery/formValidator.js" charset="UTF-8"></script>
<script type="text/javascript" src="js/DatePicker/WdatePicker.js"> </script>
<script type="text/javascript" src="view/template/system/region/js/region-add.js" ></script>

</head>
<body>
<div class="main_head">
    <span class="main_head_title">
      	添加销售区域
    </span>
</div>
<form id="form1" method="post" action="?model=system_region_region&action=add" name="form1" onsubmit="return sub();">
<table class="form_main_table">
<tr>
		<td class="form_text_left">区域名称</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" name="region[areaName]" id="areaName"/>
		</td>
<!--	    <td class="form_text_left">区域编码</td>-->
<!--		<td class="form_text_right" >-->
<!--			 <input type="text" class="txt" name="region[areaCode]" />-->
<!--		</td>-->
</tr>
<tr>
		<td class="form_text_left">区域负责人</td>
		<td class="form_text_right" colspan="3">
			 <input type="text" class="readOnlyTxtNormal" name="region[areaPrincipal]" id="areaPrincipal" readonly="readonly"/>
			 <input type="hidden" class="txt" name="region[areaPrincipalId]" id="areaPrincipalId"/>
		</td>
</tr>
<tr>
		<td class="form_text_left">区域销售人员</td>
		<td class="form_text_right" colspan="3">
			 <input type="text" class="readOnlyTxtLong" name="region[areaSalesman]" id="areaSalesman" readonly="readonly"/>
			 <input type="hidden" class="txt" name="region[areaSalesmanId]" id="areaSalesmanId"/>
		</td>
</tr>
<tr>
		<td class="form_text_left">省份</td>
		<td class="form_text_right" colspan="3">
			 <input type="text" class="txtlong" name="region[province]" id="province" readonly="readonly"/>
		</td>
</tr>
<tr>
		<td class="form_text_left">省经理</td>
		<td class="form_text_right" colspan="3">
            <input type="text" class="readOnlyTxtNormal" name="region[provinceManager]" id="provinceManager" readonly="readonly" />
            <input type="hidden" class="txt" name="region[provinceManagerId]" id="provinceManagerId"/>
		</td>
</tr>
<tr>
		<td class="form_text_left">部门领导</td>
		<td class="form_text_right" colspan="3">
            <input type="text" class="readOnlyTxtNormal" name="region[departmentLeader]" id="departmentLeader" readonly="readonly" />
            <input type="hidden" class="txt" name="region[departmentLeaderId]" id="departmentLeaderId"/>
		</td>
</tr>
<tr>
		<td class="form_text_left">部门总监</td>
		<td class="form_text_right" colspan="3">
            <input type="text" class="readOnlyTxtNormal" name="region[departmentDirector]" id="departmentDirector" readonly="readonly" />
            <input type="hidden" class="txt" name="region[departmentDirectorId]" id="departmentDirectorId"/>
		</td>
</tr>
<tr>
		<td class="form_text_left">归属公司</td>
		<td class="form_text_right" colspan="3">
			 <input type="text" class="txtlong" name="region[businessBelongName]" id="businessBelongName" value="{businessBelongName}" readonly="readonly"/>
			 <input type="hidden" name="region[businessBelong]" id="businessBelong" value="{businessBelong}"/>
			 <input type="hidden" name="region[formBelong]" id="formBelong" value="{formBelong}" />
			 <input type="hidden" name="region[formBelongName]" id="formBelongName" value="{formBelongName}"/>
		</td>
</tr>
<tr>
		<td class="form_text_left">是否开启</td>
		<td class="form_text_right" colspan="3">
			 <input type="radio" name="region[isStart]" value="0" checked/>开启
			 <input type="radio" name="region[isStart]" value="1"   />关闭
		</td>
</tr>
<tr>
		<td class="form_text_left">所属板块</td>
		<td class="form_view_right">
		   <select class="select" name="region[module]" id="module"></select>
			<input type="hidden" name="region[moduleName]" id="moduleName" value="" />
		</td>
	</tr>
<tr>
		<td class="form_text_left">备注</td>
		<td class="form_text_right" colspan="3">
			 <textarea class="txt_txtarea_font" name="region[remark]"></textarea>
		</td>
</tr>
<tr>
		<td class="form_text_left">扩展控制</td>
		<td class="form_text_right" colspan="3">
			 <input type="radio" name="region[expand]" value="1"/>是
			 <input type="radio" name="region[expand]" value="0" checked/>否
			 &nbsp;&nbsp;&nbsp;&nbsp;<span style="color:blue">针对贝讯专区合同添加的控制字段</span>
		</td>
</tr>
<tr>
		<td class="form_text_left">邮件接收人</td>
		<td class="form_text_right" colspan="3">
			 <input type="text" class="readOnlyTxtLong" name="region[tomailName]" id="tomailName" readonly="readonly"/>
			 <input type="hidden" class="txt" name="region[tomailId]" id="tomailId"/>
			 &nbsp;&nbsp;&nbsp;&nbsp;<span style="color:blue">合同通过后给对应人员发送邮件通知</span>
		</td>
</tr>
<tr>
		<td class="txt_btn" colspan="4">
		   <input  type="submit" class="txt_btn_a" value=" 保  存 "/>
		   <input  type="button" class="txt_btn_a" value=" 关  闭 " onclick="self.parent.tb_remove();"/>
		</td>
</tr>
</table>
</form>
</body>
</html>