<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en_US" xml:lang="en_US">
<head>
	<title>查看盖章申请表(oa_sale_stampapply)</title>
	{#commonInclude#}
	<script type="text/javascript" src="{#jsPath#}/stampapply-view.js"></script>
</head>
<body>

	<table class="form_main_table">
		<tr>
			<td colspan="4">
				<div class="main_head2">
					<span class="main_head_title">
						查看盖章申请表
					</span>
				</div>
			</td>
		</tr>
		<tr>
			<td class="form_text_left">申 请 人</td>
			<td class="form_text_right" width="30%">{applyUserName}</td>
			<td class="form_text_left">所属部门</td>
			<td class="form_text_right">{deptName}</td>
		</tr>
		<tr>
			<td class="form_text_left">盖章文件名</td>
			<td class="form_text_right" >
				{fileName}
			</td>
			<td class="form_text_left">文件发往单位</td>
			<td class="form_text_right" >
				{signCompanyName}
			</td>
		</tr>
        <tr>
      		<td class="form_text_left">盖章类型</td>
      		<td class="form_text_right" >
				{stampType}
      		</td>
      		<td class="form_text_left">盖章性质</td>
      		<td class="form_text_right"  colspan="3">
      			{stampExecution}
      		</td>
        </tr>
		<tr>
			<td class="form_text_left">公司</td>
			<td class="form_text_right" >
				{stampCompany}
			</td>
		</tr>
        <tr>
      		<td class="form_text_left">文件类型</td>
      		<td class="form_text_right">
				{contractType}
      		</td>
      		<td class="form_text_left">合同编号</td>
      		<td class="form_text_right" >
				{contractCode}
      		</td>
        </tr>
        <tr>
      		<td class="form_text_left">盖章类别</td>
      		<td class="form_text_right" >
				{categoryId}
      		</td>
            <td class="form_text_left">是否双面印刷</td>
            <td class="form_text_right" >
                {printDoubleSideStr}
            </td>
        </tr>
        <tr>
            <td class="form_text_left">文件份数</td>
            <td class="form_text_right" >
                {fileNum}
            </td>
            <td class="form_text_left">每份文件页数</td>
            <td class="form_text_right" >
                {filePageNum}
            </td>
        </tr>
		<tr>
			<td class="form_text_left">状&nbsp;&nbsp;&nbsp;&nbsp;态</td>
			<td class="form_text_right">{status}</td>
			<td class="form_text_left">申请日期</td>
			<td class="form_text_right">{applyDate}</td>
		</tr>
		<tr>
			<td class="form_text_left">审批状态</td>
			<td class="form_text_right">{ExaStatus}</td>
			<td class="form_text_left">审批时间</td>
			<td class="form_text_right">{ExaDT}</td>
		</tr>
	    <tr>
			<td class="form_text_left_three">附&nbsp;&nbsp;&nbsp;&nbsp;件</td>
			<td class="form_text_right_three">
				{file}
			</td>
			<td class="form_text_left">使用事项</td>
			<td class="form_text_right">{useMatters}</td>
	    </tr>
		<tr>
			<td class="form_text_left">备&nbsp;&nbsp;&nbsp;&nbsp;注</td>
			<td class="form_text_right" colspan="3">{remark}</td>
		</tr>
	</table>
</body>
</html>
