<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>
			费用发票
		</title>
		<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
		<link rel="stylesheet" type="text/css" href="css/yxstyle.css" />
		<script type="text/javascript" src="js/jquery/jquery-1.4.2.js"></script>
		<script type="text/javascript" src="js/common/businesspage.js"></script>
	</head>
	<body>
		<div class="main_head">
			<span class="main_head_title">
				查看费用发票
			</span>
		</div>
		<div>
			<table class="form_main_table">
				<tr>
					<td class="form_text_left">
						供货单位(供应商)
					</td>
					<td class="form_text_right" colspan="3">
						{supplierName}
					</td>
				</tr>
				<tr>
					<td class="form_text_left">
						发票编号
					</td>
					<td class="form_text_right">
						{objCode}
					</td>
					<td class="form_text_left">
						发票号码
					</td>
					<td class="form_text_right" width="30%">
						{objNo}
					</td>
				</tr>
				<tr>
					<td class="form_text_left">
						采购方式
					</td>
					<td class="form_text_right">
						{purType}
					</td>
					<td class="form_text_left">
						付款日期
					</td>
					<td class="form_text_right">
						{payDate}
					</td>
				</tr>
				<tr>
					<td class="form_text_left">
						纳税登记号
					</td>
					<td class="form_text_right">
						{taxNo}
					</td>
					<td class="form_text_left">
						往来科目
					</td>
					<td class="form_text_right">
						{subjects}
					</td>
				</tr>
				<tr>
					<td class="form_text_left">
						开户银行
					</td>
					<td class="form_text_right">
						{bank}
					</td>
					<td class="form_text_left">
						币别
					</td>
					<td class="form_text_right">
						{currency}
					</td>
				</tr>
				<tr>
					<td class="form_text_left">
						汇率
					</td>
					<td class="form_text_right">
						{excRate}
					</td>
					<td class="form_text_left">
						记账
					</td>
					<td class="form_text_right">
						{acount}
					</td>
				</tr>
				<tr>
					<td class="form_text_left">
						部门
					</td>
					<td class="form_text_right">
						{departments}
					</td>
					<td class="form_text_left">
						业务员
					</td>
					<td class="form_text_right">
						{salesman}
					</td>
				</tr>
				<tr>
					<td class="form_text_left">
						地址
					</td>
					<td class="form_text_right" colspan="3">
						<textarea class="textarea_read" readonly>{adress}</textarea>
					</td>
				</tr>
				<tr>
					<td class="form_text_left">
						总金额
					</td>
					<td class="form_text_right formatMoney">
						{amount}
					</td>
					<td class="form_text_left">
						关联合同
					</td>
					<td class="form_text_right">
						{purcontCode}
					</td>
				</tr>
			</table>
			<table class="form_main_table" id="mytable">
				<thead>
					<tr align="left">
						<td colspan="8">
							发票明细
						</td>
					</tr>
					<tr class="main_tr_header" align="center">
						<th>
							序号
						</th>
						<th>
							费用代码
						</th>
						<th>
							费用名称
						</th>
						<th>
							费用类型
						</th>
						<th>
							计量单位
						</th>
						<th>
							数量
						</th>
						<th>
							单价
						</th>
						<th>
							金额
						</th>
					</tr>
				</thead>
				{invcostDetail}
			</table>
			<table class="form_main_table">
				<tr>
					<td>
						<input type="button" class="txt_btn_a" value="返 回" onclick="self.parent.tb_remove();"/>
					</td>
				</tr>
			</table>
		</div>
	</body>

</html>