<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" " http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns=" http://www.w3.org/1999/xhtml">
<head>
	<title>复制资源计划</title>
   {#commonInclude#}

   	<link rel="stylesheet" href="js/jquery/ztree/css/zTreeStyle.css" type="text/css"/>
	<script type="text/javascript" src="js/jquery/ztree/jquery.ztree.core-3.0.js"></script>
	<script type="text/javascript" src="js/jquery/ztree/jquery.ztree.excheck-3.0.js"></script>
	<script type="text/javascript" src="js/jquery/ztree/jquery.ztree.exedit-3.0.js"></script>
	<script type="text/javascript" src="js/common/dateUtil.js"></script>
    <script type="text/javascript" src="{#jsPath#}/esmbudget-copy.js" ></script>
    <script type="text/javascript" src="{#jsPath#}/esmbudget-common.js" ></script>


</head>

<body>
   <form id="form1" method="post" action="?model=engineering_budget_esmbudget&action=copy" >
      <table class="form_main_table">
      	<tr>
      		<td colspan="4">
            <div class="main_head2">
             <span class="main_head_title">
               	复制资源计划
             </span>
            </div>
            </td>
         </tr>
         <tr>
      		<td class="form_text_left">复制位置</td>
			<td class="form_text_right" >
				 <input type="hidden" class="readOnlyText" name="esmbudget[activityId]" id="activityId" value="-1" readonly/>
				 <input type="text" class="readOnlyText" name="esmbudget[activityName]" id="activityName" value="项目" readonly/>
			</td>
         </tr>
      </table>
      <div style="float:left;width:200px; overflow:auto;">
        <b>请选择复制位置</b>
		<ul id="tree" class="ztree"></ul>
	  </div>
      <div id="importTable"></div>

      <table class="form_main_table">
          <tr>
      		<td class="txt_btn" colspan="4">
      		    <input type="hidden" id="projectId" value="{projectId}"/>
      			<input type="hidden" id="ids" name="esmbudget[ids]"  value="{ids}" />
      			<input type="hidden" id="parentId" name="esmbudget[projectId]"  value="{projectId}" />
      		   <input  type="submit" class="txt_btn_a" value=" 保  存 "/>
      		   <input  type="button" class="txt_btn_a" value=" 关  闭 " onclick="self.parent.tb_remove();"/>
      		</td>
       </tr>
      </table>
   </form>
</body>
</html>