<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" " http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns=" http://www.w3.org/1999/xhtml" lang="en_US" xml:lang="en_US">
<head>
    <link rel="stylesheet" type="text/css" href="css/yxstyle.css" />
    <link rel="stylesheet" type="text/css" href="js/thickbox.css" />
    <link rel="stylesheet" type="text/css" href="js/jquery/style/Validator.css"/>
    <link rel="stylesheet" type="text/css" href="js/ext/resources/css/ext-all.css" />
    <title></title>
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/thickbox.js"></script>
    <script type="text/javascript" src="js/jquery/formValidator.js" charset="UTF-8"></script>
	<script type="text/javascript" src="js/jquery/formValidatorRegex.js" charset="UTF-8"></script>
	<script type="text/javascript" src="js/DatePicker/WdatePicker.js"></script>

	<script type="text/javascript" src="js/common/businesspage.js"></script>
	<script type="text/javascript" src="js/util.js"></script>

    <script type="text/javascript">
    </script>
</head>

<body>
<div class="main_head">
    <span class="main_head_title">
        关闭评估
    </span>
</div>
<div class="form_main">
	<form method="POST" id="form1" action="?model=supplierManage_assess_assessment&action=assClose">
	<table class="form_main_table">
        <tr>
            <th class="main_tr_header" colspan="4">
                基本信息
                </td>
        </tr>
        <tr>
            <td class="form_text_left">
                评估方案名称
            </td>
            <td class="form_text_right" colspan="3">
                {assessment[assesName]}
            </td>
        </tr>
        <tr class="tr_even">
            <td class="form_text_left">
                评估类型
            </td>
            <td class="form_text_right">
                {assessment[assesTypeName]}
            </td>
            <td class="form_text_left">
                责任人
            </td>
            <td class="form_view_right">
                {assessment[manageName]}
            </td>
        </tr>
        <tr>
            <td class="form_text_left">
                起始日期
            </td>
            <td class="form_text_right">
                {assessment[beginDate]}
            </td>
            <td class="form_text_left">
                截止日期
            </td>
            <td class="form_text_right">
                {assessment[endDate]}
            </td>
        </tr>
        <tr>
            <td class="form_text_left">
                评估说明
            </td>
            <td class="form_text_right" colspan="3">
                <textarea  cols="80" class="textarea_read">{assessment[assesRemarks]}</textarea>
            </td>
        </tr>
        <tr>
            <td colspan="4">
	        	<table class="main_table">
				{list}
				</table>
			</td>
		</tr>
	    <tr>
	        <td class="txt_btn" colspan="4">
	        	<input type="hidden" name="assId" value="{assessment[id]}" />
	            <input type="submit" class="txt_btn_a" value=" 完成 " />
	            <input type="button" class="txt_btn_a" value=" 返回 " onclick="history.go(-1);" />
	        </td>
	    </tr>
	</table>
	</form>
</div>
</body>
</html>