<html>
<head>
    <title>查看采购合同</title>
    <meta http-equiv="Content-Type" content="text/html; charset=gb2312">
	<link rel="stylesheet" type="text/css" href="js/thickbox.css" />
	<link rel="stylesheet" type="text/css" href="css/yxstyle.css" />

	<script type="text/javascript" src="js/jquery.js"></script>
	<script type="text/javascript" src="js/jquery/dump.js"></script>
	<script type="text/javascript" src="js/thickbox.js"></script>

	<script type="text/javascript" src="js/common/businesspage.js"></script>
	<script type="text/javascript" src="js/common/checkBoxTab.js"></script>
		<!-- 附件上传开始 -->
	<script type="text/javascript" src="swfupload/swfupload.js"></script>
	<script type="text/javascript" src="swfupload/swfupload.queue.js"></script>
	<script type="text/javascript" src="swfupload/fileprogress.js"></script>
	<script type="text/javascript" src="swfupload/handlers.js"></script>
	<link rel="stylesheet" type="text/css" href="swfupload/upload.css" />
</head>
	<body scroll="yes">
	<div class="main_head">
	   	<span class="main_head_title">查看采购合同</span>
	</div>
	<div class="main_wraper">
	<table class="form_main_table">
			<tr >
				<td class="form_text_left">
					申请人
				</td>
				<td class="form_text_right">
					&nbsp;{createName}
				</td>
				<td class="form_text_left" >
					供应商名称
				</td>
				<td class="form_text_right">
					&nbsp;{suppName}
				</td>
			</tr>
			<tr>
				<td class="form_text_left">
					预计到货日期
				</td>
				<td class="form_text_right">
					&nbsp;{dateHope}
				</td>
				<td class="form_text_left" >
					期望完成时间
				</td>
				<td class="form_text_right">
					&nbsp;{dateFact}
				</td>
			</tr>
			<tr>
				<td class="form_text_left">
					采购合同编号
				</td>
				<td class="form_text_right">
					&nbsp;{hwapplyNumb}
				</td>
				<td class="form_text_left" >
					发票类型
				</td>
				<td class="form_text_right">
					&nbsp;{bType}
				</td>
			</tr>
			<tr>
				<td class="form_text_left" >
					开户银行
				</td>
				<td class="form_text_right">
					&nbsp;{suppBank}
				</td>
				<td class="form_text_left" >
					付款类型
				</td>
				<td class="form_text_right">
					&nbsp;{pType}
				</td>
			</tr>
			<tr >
				<td class="form_text_left" >
					供应商账号
				</td>
				<td class="form_text_right">
					&nbsp;{suppAccount}
				</td>
				<td class="form_text_left" >
					联系电话
				</td>
				<td class="form_text_right">
					&nbsp;{suppTel}
				</td>
			</tr>
			<tr >
				<td class="form_text_left" >
					供应商地址
				</td>
				<td class="form_text_right" colspan="3">
					&nbsp;{suppAddress}
				</td>
			</tr>
			<tr>
				<td colspan="6" class="td_table">
					<table class="main_table_nested">
						<tr class="form_header">
							<td colspan="9">
								&nbsp;&nbsp;<font>采购合同清单</font>
							</td>
						</tr>
						<tr class="main_tr_header">
							<th width="5%">
								序号
							</th>
							<th  width="16%">
								设备编号/名称
							</th>
							<th width="16%">
								业务对象编号
							</th>
							<th  width="10%">
								采购类型
							</th>
							<th width="8%">
								采购合同数量
							</th>
							<th width="8%">
								已到货数量
							</th>
							<th >
								预计到货时间
							</th>
							<th width="8%">
								申请单价
							</th>
							<th>
								备注
							</th>
						</tr>
					{list}
					</table>
				</td>
			</tr>
			<tr>
				<td class="form_text_left">
					变更原因
				</td>
				<td colspan="3" class="form_text_right">
					<textarea rows="5" id="changereason" name="contract[changeReason]" cols="136" readOnly>{changeReason}</textarea>
				</td>
			</tr>
			<tr >
				<td class="form_text_left">
					采购说明
				</td>
				<td colspan="3" class="form_text_right">
					<textarea rows="5" id="instruction" name="applybasic[instruction]" cols="136" readOnly>{instruction}</textarea>
				</td>
			</tr>
			<tr>
				<td class="form_text_left">
					备注
				</td>
				<td colspan="3" class="form_text_right">
					<textarea rows="5" id="remark" name="applybasic[remark]" cols="136" readOnly>{remark}</textarea>
				</td>
			</tr>
			<!--tr>
				<td class="form_text_left">
					查看历史版本
				</td>
				<td colspan = "3" class="form_text_right">
					{history}
				</td>
			</tr-->
			<tr align="center" >
				<td class="tableheader form_text_left">
					签约状态
				</td>
				<td class="form_text_right">
					{signStatus}
				</td>
			</tr>
			<tr>
				<td class="form_text_left">合同附件</td>
				<td colspan="3" class="form_text_right">{file}</td>
			</tr>
			<tr align="center" class="TableHeader" height="28">
				<td colspan="6"class="footform">
					<input type="button" value="返  回" class="txt_btn_a" onclick="history.back();" />&nbsp;
					<input type="button" value="关  闭" class="txt_btn_a" onclick="closeFun();" >
				</td>
			</tr>
		</table>
		<br>
		</div>
	</body>
</html>