<html>
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=gb2312"/>
	<title>查看变更通知</title>
	<link rel="stylesheet" type="text/css" href="css/yxstyle.css"/>

</head>
<body>
<div class="main_head">
    <span class="main_head_title">
      	查看变更通知
    </span>
</div>

<div class="form_main">
<form id="form1" method="post" action="">
	<table class="form_main_table">
		<tr>
			<td class="form_text_left">变更单编号</td>
			<td class="form_text_right" colspan="3">
            	{changeNumb}
            </td>
		</tr>
		<tr>
			<td class="form_text_left">申请单编号</td>
			<td class="form_text_right">
 				{basicNumb}
			</td>
			<td class="form_text_left">变更主题</td>
			<td class="form_text_right">
			    {subject}
			</td>

		</tr>
		<tr>
			<td class="form_text_left">变更原因</td>
			<td class="form_text_right" colspan="3">
				<textarea  class="textarea_read">{reason}</textarea>
			</td>
		</tr>
		<tr>
		    <td class="form_text_left">变更明细</td>
			<td class="form_text_right"  colspan="3">
				<textarea  class="textarea_read">{remark}</textarea>
			</td>
		</tr>
		<tr>
            <td colspan="4">
                <input type="button" class="txt_btn_a" value="关闭" onclick="self.parent.tb_remove();"/>
            </td>
         </tr>
	</table>
</form>
</div>
</body>
</html>