<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" " http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns=" http://www.w3.org/1999/xhtml">
<head>
	<title>编辑租车单位</title>
   {#commonInclude#}
   <script type="text/javascript" src="js/jquery/formvalidator/formValidator-4.1.1.js"	charset="UTF-8"></script>
   <script type="text/javascript" src="js/jquery/formvalidator/formValidatorRegex.js"	charset="UTF-8"></script>
   <script type="text/javascript" src="view/template/system/procity/js/cpcCmp.js"></script>
   <script type="text/javascript" src="{#jsPath#}/units-edit.js" ></script>
</head>
<body>
<form id="form1" method="post" action="?model=carrental_units_units&action=edit" >
<table class="form_main_table">
   <tr>
      <td colspan="4">
          <div class="main_head">
             <span class="main_head_title">
               	编辑租车单位信息
             </span>
         </div>
      </td>
   </tr>
       <tr>
      		<td class="form_text_left">单位名称</td>
      		<td class="form_text_right" colspan="3">
      			 <input type="text" class="txtlong" name="units[unitName]" value="{unitName}"/>
      			 <input type="hidden" name="units[unitCode]"  value="{unitCode}"/>
				 <span class="red">[*]</span>
      		</td>
       </tr>
	<tr>
		<td class="form_text_left">国家</td>
		<td class="form_view_right" nowrap>
		<select class="select" name="units[countryCode]" id='country' val='{countryCode}'>
		</select>
		<input type='hidden' name='units[countryName]' id='countryName' />
		</td>
		<td class="form_text_left">省份</td>
		<td class="form_view_right" nowrap>
		<select class="select" name="units[provinceCode]" id='province' val='{provinceCode}'>
		</select>
		<input type='hidden' name='units[provinceName]' id='provinceName' />
		</td>
	</tr>
       <tr>
		<td class="form_text_left">城市</td>
		<td class="form_view_right" nowrap>
			<select class="select" name="units[cityCode]" id='city' val='{cityCode}'>
			</select>
			<input type='hidden' name='units[cityName]' id='cityName' /></td>

      		<td class="form_text_left">单位性质</td>
			<td class="form_view_right" nowrap><select class="select" name="units[unitNature]" id="unitNature">
				{unitNature}
			</select>
			<span class="red">[*]</span></td>
		</tr>
		<tr>
	      	<td class="form_text_left">联系人</td>
	      	<td class="form_text_right" >
	      			 <input type="text" class="txt" name="units[linkMan]" id="linkMan" value="{linkMan}"/>
					 <span class="red">[*]</span>
	      		</td>
	      	<td class="form_text_left">联系电话</td>
	      	<td class="form_text_right" >
	      			 <input type="text" class="txt" name="units[linkPhone]" id="linkPhone" value="{linkPhone}" />
					 <span class="red">[*]</span>
	      		</td>
       </tr>
       <tr>
      		<td class="form_text_left">单位地址</td>
			<td class="form_view_right" colspan="3"><textarea class="txt_txtarea_font" rows="4"
			name="units[address]" cols="70">{address}</textarea></td>
       </tr>
       <tr>
      		<td class="form_text_left">备注说明</td>
			<td class="form_view_right" colspan="3">
				<textarea class="txt_txtarea_font" rows="4" name="units[remark]" cols="70">{remark}</textarea>
			</td>
       </tr>
   <tr>
		<td class="txt_btn" colspan="4">
         <input  type="hidden" name="units[id]" value="{id}" />
		   <input  type="submit" class="txt_btn_a" value=" 保  存 "/>
		   <input  type="button" class="txt_btn_a" value=" 关  闭 " onclick="closeFun();"/>
		</td>
</tr>
</table>
</form>
</body>
</html>