<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="GBK">
    {#commonInclude#}
    <script type="text/javascript" src="view/template/contract/counting/js/counting-update.js"></script>
</head>
<body>
<table class="form_main_table" width="90%">
    <tr>
        <td class="form_text_left">
            <label>执行操作:</label>
        </td>
        <td class="form_text_right">
            <input type="radio" name="actionType" value="1" title="更新项目" checked onclick="changeInfo(this.value)"/>
            <span id="span1">更新项目</span>
        </td>
    </tr>
    <tr>
        <td class="form_text_left">
            <label>更新范围:</label>
        </td>
        <td class="form_text_right">
            <span id="range1" val='1'>
                合同编号：
                <input type="text" id="contractCode1" style="width:150px;"/>
                合同创建年份：
                <input type="text" id="year1" style="width:60px;" value="{year}"/>
                合同创建月份：
                <input type="text" id="month1" style="width:60px;"/>
            </span>
        </td>
    </tr>
    <tr>
        <td class="form_text_left">
            <label>操作:</label>
        </td>
        <td class="form_text_right">
            <span id="condition1" val='1'>
                <button id="confirm1" class="txt_btn_a">确认更新</button>
                <button id="resetDel" class="txt_btn_a">撤回删除</button>
                <button id="resetTrue" class="txt_btn_a">撤回立项标记</button>
            </span>
        </td>
    </tr>
    <tr>
        <td class="form_text_left">
            功能说明:
        </td>
        <td class="form_text_right">
            <span id="remarkInfo1">
                1.确认更新后，系统会更新合同分账数据。<br/>
                2.如果填入了更新范围，则系统只更新范围内的数据。
            </span>
        </td>
    </tr>
    <tr id="trip" style="display:none;">
        <td colspan="2">
            <img src="images/loading1.gif" alt="loading..." id="imgLoading" style="display:none;">
            <span id="showMsg"></span>
        </td>
    </tr>
</table>
</body>
</html>