<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" " http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns=" http://www.w3.org/1999/xhtml">
<head>
<title>新增续签信息</title>
{#commonInclude#}
<script type="text/javascript"
	src="js/jquery/combo/business/yxcombogrid-jobs.js">
        </script>
<script type="text/javascript"
	src="{#jsPath#}/recontract-addApproval.js">
        </script>
</head>
<script>
$(document).ready(function() {
$('#conNum').val('{conNum}');
$('#conState').val('{conState}');
$('#sysCompanyId').val('{sysCompanyId}');
});
function selectCS(obj)
{
	if(obj.value==1)
	{
		$('#conState').val('{conState}');
		$('#csh').css('display','none');
		
	}else
	{
		$('#csh').css('display','block');
	}
	
}
function selectCN(obj)
{
	if(obj.value==1)
	{
		$('#conNum').val('{conNum}');
		$('#cnh').css('display','none');
		$('#conNum').click();
	}else
	{
		$('#cnh').css('display','block');
	}
	
}
function selectCP(obj)
{
	if(obj.value==1)
	{
		$('#sysCompanyId').val('{sysCompanyId}');
		$('#sysCompanyId').click();
		$('#cph').css('display','none');
		
	}else
	{
		$('#cph').css('display','block');
	}
	
}
var checkSubmitFlag=true;
function toApp() {
  if(true==checkSubmitFlag)
		   {
			 checkSubmitFlag = false; 
			$("#form1").attr("action","?model=hr_recontract_recontractApproval&action=add&act=app");
		    }
		  else
		  {
			alert("你已经提交了表单，请勿重复提交。");
		   
		  }
	$("#form1").attr("action",
			"?model=hr_recontract_recontractApproval&action=add&act=app");
	// document.getElementById('form1').action =
	// "index1.php?model=hr_recontract_recontractApproval&action=add&act=app";
}
function agree(obj)
{
	init();
	if(obj.value==1)
	{
		$('#idlist').css('display','');
		$('#idlist1').css('display','');
		$('#idlist2').css('display','');
		$('#idlist3').css('display','');
		
	}else
	{
		$('#idlist').css('display','none');
		$('#idlist1').css('display','none');
		$('#idlist2').css('display','none');
		$('#idlist3').css('display','none');
	}
}
function init()
{
	$('#conNum').val('{conNum}');
	$('#conState').val('{conState}');
	$('#sysCompanyId').val('{sysCompanyId}');
	$('#conNum').click();
	$('#sysCompanyId').click();
	$('#cnh').css('display','none');
	$('#csh').css('display','none');
	$("input[name=cn]:eq(0)").attr("checked",'checked');
	$("input[name=cs]:eq(0)").attr("checked",'checked');
	$("input[name=cp]:eq(0)").attr("checked",'checked');
}

    </script>
<body>

<form id="form1" method="post"
	action="?model=hr_recontract_recontractApproval&action=addApploval">
<table class="form_main_table" style='border: 0px;'>
	<tr>
		<td colspan="4" style='border: 0px;'>
		<div class="main_head" style='width: 99%;'><span
			class="main_head_title"> 续签审批 </span> <b>当前步骤：<font color="red">{item}</font></b>
		<a href="javascript:showEView('{fspId}');"> <img
			src='../../../images/email_atta.gif' border='0'>领导审批步骤 </a></div>
		</td>
	</tr>
	<tr>
		<td class="innerTds" colspan="4" style='border: 0px;'>
		<fieldset><legend class="legend">基 本 信 息</legend>
		<table class="form_in_table">

			<tr>
				<td class="form_text_left">员工姓名</td>
				<td class="form_text_right"><input type="text" readonly
					class="readOnlyTxtNormal" value="{userName}"
					name="recontractApproval[userName]" /> <input type="hidden"
					class="txt" id="userAccount" value="{userAccount}"
					name="recontractApproval[userAccount]" /> <input type="hidden"
					class="txt" id="recontractId" value="{pid}"
					name="recontractApproval[recontractId]" /></td>
				<td class="form_text_left">员工编号</td>
				<td class="form_text_right"><input type="text" readonly
					class="readOnlyTxtNormal" value="{userNo}"
					name="recontractApproval[userNo]" id="userNo" /></td>
			</tr>
			<tr>
				<td class="form_text_left">部门</td>
				<td class="form_text_right"><input type="text" readonly
					class="readOnlyTxtNormal" value="{deptName}" id="deptName"
					name="recontractApproval[deptName]" /> <input type="hidden" class="txt"
					id="deptId" value="{deptId}" name="recontractApproval[deptId]" /></td>
				<td class="form_text_left">职位</td>
				<td class="form_text_right"><input type="text" readonly
					class="readOnlyTxtNormal" value="{jobName}" id="jobName"
					name="recontractApproval[jobName]" /> <input type="hidden" class="txt"
					id="jobId" value="{jobId}" name="recontractApproval[jobId]" /></td>

			</tr>

		</table>
		</fieldset>
		</td>
	</tr>
    <tr>
		<td class="innerTds" colspan="4" style='border: 0px;'>
		<fieldset><legend class="legend">执行步骤</legend>
		<table class="form_in_table">

			<tr>
				<td colspan="4">
				<table class="form_main_table">
					<tr>
						<td class="form_text_left"
							style="width: auto;min-width:10px; text-align: center;">操作步骤</td>
						<td class="form_text_left"
							style="width: auto; min-width:10px;text-align: center;">操作人</td>
						<td class="form_text_left"
							style="width: auto; min-width:10px;text-align: center;">是否续签</td>
						<td class="form_text_left"
							style="width: auto;min-width:10px; text-align: center;">用工年限</td>
						<td class="form_text_left"
							style="width: auto;min-width:10px; text-align: center;">用工方式</td>
						<td class="form_text_left"
							style="width: auto; min-width:10px;text-align: center;">开始时间</td>
						<td class="form_text_left"
							style="width: auto; min-width:10px;text-align: center;">结束时间</td>
						<td class="form_text_left"
							style="width: auto;min-width:10px; text-align: center;">操作时间</td>
						<td class="form_text_left"
							style="width: auto;min-width:10px; text-align: center;">意见</td>
					</tr>
					{applist}
				</table>
				</td>
			</tr>

		</table>
		</fieldset>
		</td>
	</tr>
	<tr>
		<td class="innerTds" colspan="4" style='border: 0px;'>
		<fieldset><legend class="legend">续 签 审 批</legend>
		<table class="form_in_table"><tr >
				<td class="form_text_left">是否续签</td>
				<td class="form_text_right" colspan="3"><input type="radio"
					name="recontractApproval[isFlag]" value="1" checked
					onclick="agree(this);" />同意 <input type="radio"
					name="recontractApproval[isFlag]" onclick="agree(this);" value="2" />不同意 <font style="color:#F00; margin-left:40px;">以下结果默认为上一操作人结果</font></td>

			</tr>
			<tr id='idlist'>
			<td class="form_text_left">签订公司</td>
				<td class="form_text_right">
				<input type="text" readonly
					class="readOnlyTxtNormal" value="{sysCompanyName}" />
				</td>
				<td class="form_text_right" ><input type="radio"
					name="cp" value="1" checked
					onclick="selectCP(this);" />同意 <input type="radio"
					name="cp" onclick="selectCP(this);" value="2" />不同意</td>
				<td id="cph" class="form_text_right" style="display:none;border:0px;"><select id="sysCompanyId"
					class="select" value="{sysCompanyId}" name="recontractApproval[sysCompanyId]"
					>
				</select></td>
				
			</tr>
			<tr id='idlist1'>
			<td class="form_text_left">用工方式</td>
				<td class="form_text_right">
				<input type="text" readonly
					class="readOnlyTxtNormal" value="{conStateName}" />
				</td>
				<td class="form_text_right" ><input type="radio"
					name="cs" value="1" checked
					onclick="selectCS(this);" />同意 <input type="radio"
					name="cs" onclick="selectCS(this);" value="2" />不同意</td>
				<td id="csh" class="form_text_right" style="display:none;border:0px;"><select id="conState"
					class="select" name="recontractApproval[conState]"
					>
				</select></td>
				
			</tr>
			<tr id='idlist2'>
				<td class="form_text_left">用工年限</td>
				<td class="form_text_right">
				<input  type="text" readonly
					class="readOnlyTxtNormal"  value="{conNumName}" />
				</td>
				<td class="form_text_right" ><input type="radio"
					name="cn" value="1" checked
					onclick="selectCN(this);" />同意 <input type="radio"
					name="cn" onclick="selectCN(this);" value="2" />不同意</td>
				<td id="cnh" class="form_text_right" style="display:none;border:0px;border-top:1px  " >
                <select id="conNum" class="select" name="recontractApproval[conNum]">
				</select></td>
			</tr>
			<tr id='idlist3'>
				<td class="form_text_left">开始时间</td>
				<td class="form_text_right"><input id='beginDate' type="text"
					readOnly class="readOnlyTxtNormal" value="{beginDate}"
					name="recontractApproval[beginDate]" /></td>
				<td class="form_text_left">结束时间</td>
				<td class="form_text_right"><input id='closeDate' type="text"
					readOnly class="readOnlyTxtNormal" value="{closeDate}"
					name="recontractApproval[closeDate]" /></td>
			</tr>
			
			<tr>
				<td class="form_text_left">审批意见</td>
				<td class="form_text_right" colspan="3"><textarea
					class="txt_txtarea_font" name="recontractApproval[conContent]"></textarea>
				</td>
			</tr>
			<tr>
				<td class="form_text_left">通知HR</td>
				<td class="form_text_right" colspan="3"><input type="radio"
					name="recontractApproval[isSend]" value="1" checked="checked">是<input
					type="radio" name="recontractApproval[isSend]" value="2">否

				</td>
			</tr>
			<tr>
				<td class="form_text_left">通知下一审批者</td>
				<td class="form_text_right" colspan="3"><input type="radio"
					name="recontractApproval[isSendNext]" value="1" checked="checked">是<input
					type="radio" name="recontractApproval[isSendNext]" value="2">否
				</td>
			</tr>
			<tr>
				<td class="form_text_left">记录人</td>
				<td class="form_text_right"><input type="text"
					class="readOnlyTxtNormal" readonly
					name="recontractApproval[recorderName]" id="recorderName"
					value="{recorderName}" /> <input type="hidden" class="txt"
					id="recorderId" name="recontractApproval[recorderId]"
					value="{recorderId}" /></td>
				<td class="form_text_left">记录时间</td>
				<td class="form_text_right"><input type="text" readonly
					class="readOnlyTxtNormal" name="recontractApproval[recordDate]"
					id="recordDate" value="{recordDate}" /></td>
			</tr>
			<tr>
				<td class="txt_btn" colspan="4"><input type="hidden"
					name="recontractApproval[mark]" id="spid" value="SP"> <input
					type="hidden" name="recontractApproval[fspId]" id="spid"
					value="{fspId}"> <input type="submit" class="txt_btn_a"
					value=" 提交 " /></td>
			</tr>


		</table>
		</fieldset>
		</td>
	</tr>

	

</table>

</form>
</body>
</html>