<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" " http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns=" http://www.w3.org/1999/xhtml">
<head>
	<title>编辑合同信息</title>
   {#commonInclude#}
   <script type="text/javascript" src="js/jquery/combo/business/yxcombogrid-jobs.js"></script>
   <script type="text/javascript" src="{#jsPath#}/contract-edit.js" ></script>
</head>
<body>
<form id="form1" method="post" action="?model=hr_contract_contract&action=edit" >
<table class="form_main_table">
   <tr>
      <td colspan="4">
          <div class="main_head">
             <span class="main_head_title">
               	编辑合同信息信息
             </span>
         </div>
      </td>
   </tr>
<tr>
		<td class="form_text_left">员工姓名</td>
		<td class="form_text_right" >
			 <input type="text" readonly class="readOnlyTxtNormal" name="contract[userName]"  value="{userName}" />
		</td>
		<td class="form_text_left">员工编号</td>
		<td class="form_text_right" >
			 <input type="text" readonly class="readOnlyTxtNormal" name="contract[userNo]"  value="{userNo}" />
		</td>
</tr>
<tr>
		<td class="form_text_left">合同编号</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" name="contract[conNo]"  value="{conNo}" />
		</td>
		<td class="form_text_left">合同名称</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" name="contract[conName]"  value="{conName}" />
		</td>
</tr>
<tr>
		<td class="form_text_left">合同类型</td>
		<td class="form_text_right" >
			 <select id="conType" name="contract[conType]" class="select">
			 	{conType}
			 </select>
		</td>
		<td class="form_text_left">合同状态</td>
		<td class="form_text_right" >
			 <select id="conState" name="contract[conState]" class="select">
			 	{conState}
			 </select>
		</td>
</tr>
<tr>
		<td class="form_text_left">开始时间</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" name="contract[beginDate]" onfocus="WdatePicker()"  value="{beginDate}" />
		</td>
		<td class="form_text_left">结束时间</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" name="contract[closeDate]" onfocus="WdatePicker()"  value="{closeDate}" />
		</td>
</tr>
<tr>
		<td class="form_text_left">职位</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" name="contract[jobName]" id="jobName"  value="{jobName}" />
			 <input type="hidden" class="txt" name="contract[jobId]" id="jobId" value="{jobId}" />
		</td>
		<td class="form_text_left">合同次数</td>
		<td class="form_text_right" >
			 <select id="conNum" name="contract[conNum]" class="select">
			 	{conNum}
			 </select>
		</td>
</tr>
<tr>
		<td class="form_text_left">合同内容</td>
		<td class="form_text_right" colspan="3">
			 <textarea class="txt_txtarea_font" name="contract[conContent]">{conContent}</textarea>
		</td>
</tr>
   <tr>
		<td class="txt_btn" colspan="4">
         <input  type="hidden" name="contract[id]" value="{id}" />
		   <input  type="submit" class="txt_btn_a" value=" 保  存 "/>
		   <input  type="button" class="txt_btn_a" value=" 关  闭 " onclick="closeFun();"/>
		</td>
</tr>
</table>
</form>
</body>
</html>