<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" " http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns=" http://www.w3.org/1999/xhtml">
    <head>
        <title>新增续签信息</title>
        {#commonInclude#}
        <script type="text/javascript" src="js/jquery/combo/business/yxcombogrid-jobs.js">
        </script>
        <script type="text/javascript" src="{#jsPath#}/recontract-addApproval.js">
        </script>
    </head>
    <script>
        
       
    </script>
    <body>

        <form id="form1" method="post" action="?model=hr_recontract_recontractApproval&action=addApploval">
            <table class="form_main_table">
            	
                <tr>
                    <td colspan="4">
                        <div class="main_head">
                            <span class="main_head_title">续签审批</span>
							    	<b>当前步骤：<font color="red">{item}</font></b>
<a href="javascript:showEView('{fspId}');">
    <img src='../../../images/email_atta.gif' border='0'>领导审批步骤
</a>
                        </div>
                    </td>
                </tr>
				<tr>
                    <td class="form_text_left">
                        员工姓名
                    </td>
                    <td class="form_text_right">
                        <input type="text" readonly class="readOnlyTxtNormal" value="{userName}" name="recontractApproval[userName]" /><input type="hidden" class="txt" id="userAccount" value="{userAccount}" name="recontractApproval[userAccount]" /><input type="hidden" class="txt" id="recontractId" value="{pid}" name="recontractApproval[recontractId]" />
                    </td>
                    <td class="form_text_left">
                        员工编号
                    </td>
                    <td class="form_text_right">
                        <input type="text" readonly class="readOnlyTxtNormal" value="{userNo}" name="recontractApproval[userNo]" id="userNo" />
                    </td>
                </tr>
                <tr>
                    <td colspan="4">
                        <table class="form_main_table">
                           <tr>
						<td class="form_text_left"
							style="width: auto;min-width:10px; text-align: center;">执行步骤</td>
						<td class="form_text_left"
							style="width: auto; min-width:10px;text-align: center;">执行人</td>
						<td class="form_text_left"
							style="width: auto; min-width:10px;text-align: center;">执行结果</td>
						<td class="form_text_left"
							style="width: auto; min-width:10px;text-align: center;">用工年限</td>
							<td class="form_text_left"
							style="width: auto; min-width:10px;text-align: center;">用工方式</td>
						<td class="form_text_left"
							style="width: auto; min-width:10px;text-align: center;">开始时间</td>
						<td class="form_text_left"
							style="width: auto; min-width:10px;text-align: center;">结束时间</td>
						<td class="form_text_left"
							style="width: auto; min-width:10px;text-align: center;">执行时间</td>
						<td class="form_text_left"
							style="width: auto; min-width:10px;text-align: center;">执行意见</td>
					</tr>
                            {applist}
                        </table>
                    </td>
                </tr>
                
            </table>
        </form>
    </body>
</html>