<!DOCTYPE html>
<html>
<head>
    <title>回款邮件通知</title>
    {#commonInclude#}
    <script type="text/javascript" src="js/jquery/combo/business/yxcombogrid-signcompany.js"></script>
    <script type="text/javascript" src="js/ckeditor/ckeditor.js"></script>
    <script type="text/javascript" src="js/ckeditor/adapters/jquery.js"></script>
    <script type="text/javascript" src="{#jsPath#}/other-sendmail.js"></script>
</head>
<body>
<div class="main_head">
    <span class="main_head_title">
      	回款邮件通知
    </span>
</div>
<form id="form1" method="post" action="?model=contract_other_other&action=sendMail">
    <table class="form_main_table">
        <tr>
            <td class="form_text_left"><span class="blue">签约公司</span></td>
            <td class="form_text_right">
                <input type="text" class="txt" name="other[signCompanyName]" id="signCompanyName"/>
                <input type="hidden" id="signCompanyId"/>
                <input type="button" class="txt_btn_a" value="搜索" onclick="loadContract();"/>
                搜索签约公司后，会将合同信息加载到邮件模板中
            </td>
        </tr>
        <tr>
            <td class="form_text_left"><span class="blue">收件人</span></td>
            <td class="form_text_right">
                <input type="text" class="txtlong" name="other[mailUser]" id="mailUser"/>
                <input type="hidden" name="other[mailUserId]" id="mailUserId"/>
            </td>
        </tr>
        <tr>
            <td class="form_text_left"><span class="blue">邮件内容</span></td>
            <td class="form_text_right">
                <textarea name="other[mailContent]" id="mailContent" class="editor" style="height:300px"></textarea>
            </td>
        </tr>
        <tr>
            <td class="txt_btn" colspan="2">
                <input type="submit" class="txt_btn_a" value="提 交"/>
                <input type="button" class="txt_btn_a" value="关 闭" onclick="self.parent.tb_remove();"/>
            </td>
        </tr>
    </table>
</form>
</body>
</html>