<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en_US" xml:lang="en_US">
<head>
	<title>分配增员负责人</title>
	{#commonInclude#}
	<script type="text/javascript" src="{#jsPath#}/apply-give.js"></script>
</head>
<body>
	<form id="form1" method="post" action="?model=hr_recruitment_apply&action=assignHead" onsubmit="return check();">
		<table class="form_main_table">
			<tr>
				<td colspan="6">
					<div class="main_head">
						<span class="main_head_title">
							分配增员负责人
						</span>
					</div>
				</td>
			</tr>
			<tr>
				<td class="form_text_left_three">需求部门</td>
				<td class="form_text_right_three">
					{deptName}
				</td>
				<td class="form_text_left_three">职位类型</td>
				<td class="form_text_right_three">
					{postTypeName}
				</td>
				<td class="form_text_left_three">需求职位</td>
				<td class="form_text_right_three">
					{positionName}
				</td>
			</tr>
			<tr>
				<td class="form_text_left_three">研发职位</td>
				<td class="form_text_right_three">
					{developPositionName}
				</td>
				<td class="form_text_left_three">级别</td>
				<td class="form_text_right_three">
					{positionLevel}
				</td>
				<td class="form_text_left_three">是否紧急</td>
				<td class="form_text_right_three">
					{isEmergency}
				</td>
			</tr>
			<tr>
				<td class="form_text_left_three">需求人数</td>
				<td class="form_text_right_three">
					{needNum}
				</td>
				<td class="form_text_left_three">希望到岗时间</td>
				<td class="form_text_right_three">
					{hopeDate}
				</td>
				<td class="form_text_left_three">工作地点</td>
				<td class="form_text_right_three">
					{workPlace}
				</td>
			</tr>
			<tr>
				<td class="form_text_left_three">工资范围</td>
				<td class="form_text_right_three">
					{wageRange}
				</td>
				<td class="form_text_left_three">建议补充方式</td>
				<td class="form_text_right_three">
					{addMode}
				</td>
				<td class="form_text_left_three">增员类型</td>
				<td class="form_text_right_three">
					{addType}
				</td>
			</tr>
			<tr>
				<td class="form_text_left_three"><span id="leaveStyle">离职/换岗人姓名</td>
				<td class="form_text_right_three">
					{leaveManName}
				</td>
				<td class="form_text_left_three">用工类型</td>
				<td class="form_text_right_three">
					{employmentType}
				</td>
				<td class="form_text_left_three"><span id="leaveStyle">归属区域<br/>(支撑中心)</td>
				<td class="form_text_right_three">
					{useAreaName}
				</td>
			</tr>
			<tr>
				<td class="form_text_left_three">项目类型</td>
				<td class="form_text_right_three">
					{projectType}
				</td>
				<td class="form_text_left_three"><span id="leaveStyle">所在项目组</td>
				<td class="form_text_right_three">
					{projectGroup}
				</td>
				<td class="form_text_left_three">性别</td>
				<td class="form_text_right_three">
					{sex}
				</td>
			</tr>
			<tr>
				<td class="form_text_left_three">年龄</td>
				<td class="form_text_right_three">
					{age}
				</td>
				<td class="form_text_left_three">婚姻</td>
				<td class="form_text_right_three">
					{maritalStatusName}
				</td>
				<td class="form_text_left_three">学历</td>
				<td class="form_text_right_three">
					{educationName}
				</td>
			</tr>
			<tr>
				<td class="form_text_left_three">专业要求</td>
				<td class="form_text_right_three">
					{professionalRequire}
				</td>
				<td class="form_text_left_three">工作经验要求</td>
				<td class="form_text_right_three">
					{workExperiernce}
				</td>
				<td class="form_text_left_three">填表人</td>
				<td class="form_text_right_three">
					{formManName}
				</td>
			</tr>
			<tr>
				<td class="form_text_left_three">填表日期</td>
				<td class="form_text_right_three">
					{formDate}
				</td>
				<td class="form_text_left_three">简历发送至</td>
				<td class="form_text_right_three"  colspan="3">
					{resumeToName}
				</td>
			</tr>
			<tr>
				<td class="form_text_left_three"><span style="color:blue">负责人</span></td>
				<td class="form_text_right_three">
					<input type="text" class="txt" id="recruitManName" name="apply[recruitManName]" readonly/>
					<input type="hidden" id="recruitManId" name="apply[recruitManId]"/>
				</td>
				<td class="form_text_left_three">协助人</td>
				<td class="form_text_right_three" colspan="3">
					<input type="text" class="txtlong" id="assistManName" name="apply[assistManName]" readonly/>
					<input type="hidden" id="assistManId" name="apply[assistManId]"/>
				</td>
			</tr>
			<tr>
				<td class="form_text_left_three">分配人</td>
				<td class="form_text_right_three">
					<input type="text" class="readOnlyText" id="assignedManName" name="apply[assignedManName]" value="{assignedManName}" readonly/>
					<input type="hidden" id="assignedManId" name="apply[assignedManId]" value="{assignedManId}"/>
				</td>
				<td class="form_text_left_three">分配日期</td>
				<td class="form_text_right"colspan="3">
					<input type="text" class="readOnlyText" id="assignedDate" name="apply[assignedDate]" value="{assignedDate}" readonly/>
				</td>
			</tr>
			<tr>
				<td class="txt_btn" colspan="6">
					<input type="hidden" id="id" value="{id}" name="apply[id]"/>
					<input type="hidden" id="formCode" value="{formCode}" name="apply[formCode]"/>
					<input type="hidden" id="state" value="2" name="apply[state]"/>
					<input type="submit" class="txt_btn_a" value=" 下  达 "/>&nbsp;&nbsp;
					<input type="button" class="txt_btn_a" value=" 关  闭 " onclick="closeFun();"/>
				</td>
			</tr>
		</table>
	</form>
</body>
</html>