<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>增员申请简历库列表</title>
     {#commonInclude#}
   <script type="text/javascript" src="view/template/hr/recruitment/js/applyResume-grid.js"></script>
</head>
<body>
   <table id="applyResumeGrid" style="display: none"></table>
   <input type="hidden" value="{id}" id="id"/>
    <input type="hidden" value="{stateC}" id="stateC"/>
    <input type="hidden" value="{ExaStatus}" id="ExaStatus"/>
</body>
</html>