<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en_US" xml:lang="en_US">
<head>
	<title></title>
   {#commonInclude#}
	<style type="text/css">
		.rimless_textA {
					border-left: medium none;
					border-right: medium none;
					border-top: medium none;
					border-bottom: 1.7px solid rgb(192, 192, 192);
					font-family: Courier;
					height:18px;
					width:300px;
				}
   </style>
   <script>
      $(function(){
         var addressLoad= parent.$("#provinceName5").val()
         				+ parent.$("#cityName5").val()
         				+ parent.$("#appointAddress").val();
         if(addressLoad != ''){
           $("#address").val(addressLoad);
         }
      })
      function confirmSub(){
          var address=$("#address").val();
          if(address == ""){
             alert("请填写第[10]条中的本人指定邮寄通信地址！");
          }else{
             parent.$("#appointAddress").val(address);
             closeFun();
          }
      }
   </script>
</head>
<body>

<tr>
   <td>
<p>
	&nbsp;</p>
<div>
	<strong style="font-size:15px;"><center>关于填写《世纪鼎利通信职位申请表》的特别说明</center></strong></div></br>
<div style="font-size:13px;">
	&nbsp;1. 申请人在填写入职申请书时，已保证自己符合国家法定的劳动年龄的标准，且与其它任何机构、经济组织、团体无劳动关系。
	    若违反前述承诺，导致用人单位被行政、诉讼或仲裁追究有关经济责任的，所有责任均由申请人承担。</div></br>
<div  style="font-size:13px;">
	2. 申请人如有传染病、精神病或其他可能影响在本公司工作的病史，申请人应在入职前以书面形式向本公司说明。申请人如通缉在案或被取保候审、监视居住的；曾经受过法律处罚或纪律处分的，申请人应在入职前以书面形式向本公司说明。</div></br>
<div  style="font-size:13px;">
	3. 如申请人与其他公司签订仍然生效的保密协议、竞业限制协议的，应以书面形式向本公司说明情况。</div></br>
<div  style="font-size:13px;">
	4. 申请人承诺所填写的本入职申请表所有信息真实有效，并同意授权本公司（或本公司授权其他机构）对本
	   人填写内容进行核实。如有任何虚假，本公司视其为严重违反本公司规章制度而有权随时解除劳动合同，同时追究其因此引起的所有责任。</div></br>
<div  style="font-size:13px;">
	5. 如被公司录用，入职申请表中的信息有变化时申请人应在变更后的两周内以书面形式向本公司人力资源部提交变更申请。</div></br>
<div  style="font-size:13px;">
	6. 申请人如被本公司录用，入职时应出示上家公司提供的真实有效的离职证明书，否则申请人承担由此给本公司带来的损失及向第三方的赔偿损失。</div></br>
<div  style="font-size:13px;">
	7. 如被本公司录用，申请人有责任领取公司发放的《员工手册》并依法在一个月内与本公司签订《劳动合同》及《保密协议》，申请人将认真阅读并遵守《员工手册》、《保密协议》及各项规章制度。</div></br>
<div  style="font-size:13px;">
	8. 申请人清楚本公司可以根据实际情况更新《员工手册》、规章制度与劳动纪律，申请人将随时关注本公司
	   在公司网站、布告栏（包括但不限于）等各种公示方式公示的更新后的《员工手册》、规章制度与劳动纪律并予以严格遵守。</div></br>
<div  style="font-size:13px;">
	9. 如被公司录用，申请人入职后不得将与聘用有关的相关信息（包括但不仅限于工资等信息）未经本公司许
	   可向第三方透露。申请人在职期间或离职后，本公司可以依法将申请人在本单位的工作状况对外公布或向有需要的第三方提供。</div></br>
<div  style="font-size:13px;color:blue" title="请填写指定邮寄通信地址">
	10. 本人指定邮寄通信地址如下：<input type="text" id="address"  class="rimless_textA" readonly /> ，任何有关履行劳动合同的重要书面通知可邮寄到以上地址即视为公司妥善尽到通知义务。
	    如填写的以上任何信息虚假或没有履行以上特殊说明的义务，本人同意被公司视为严重违反《劳动合同法》
	    的诚实信用原则与用人单位的规章制度，公司可以即时解除劳动合同且不用支付经济补偿金。</div></br>
   </td>
</tr>
<table class="form_main_table">
<tr>
		<td class="txt_btn" colspan="4">
		   <input type="hidden" id="gridName" value="{gridName}"/>
		   <input  type="button" class="txt_btn_a" value="确   认" onclick="confirmSub();" />
		   <input  type="button" class="txt_btn_a" value="关   闭 " onclick="closeFun();" />
		</td>
</tr>

</table>

</body>

</html>