<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en_US" xml:lang="en_US">
<head>
	<title>查看招聘管理-面试记录</title>
      {#commonInclude#}
   <script type="text/javascript" src="{#jsPath#}/interview-view.js" ></script>
</head>
<style>
.divChangeLine{
		height : 80px;
	}
</style>
<body>

<table class="form_main_table">
	<tr>
		<td colspan="4">
			<div class="main_head">
	            <span class="main_head_title">
	            	查看招聘管理-面试记录
				</span>
			</div>
		</td>
	</tr>
	<tr>
		<td colspan="4">
			<fieldset><legend><b>基本信息</b></legend>
				<table cellpadding="2" width="100%">
					<tr>
						<td class="form_text_left">姓  名</td>
						<td class="form_text_right" width="30%">
							{userName}
						</td>
						<td class="form_text_left">性  别</td>
						<td class="form_text_right">
							{sexy}
						</td>
					</tr>
					<tr>
						<td class="form_text_left">应聘岗位</td>
						<td class="form_text_right">
							{positionsName}
						</td>
						<td class="form_text_left">用人部门</td>
						<td class="form_text_right">
							{deptName}
						</td>
					</tr>
				</table>
			</fieldset>
		</td>
	</tr>
	<tr>
		<td colspan="4">
			<fieldset><legend><b>用人部门意见</b></legend>
				<table cellpadding="2" width="100%">
					<tr>
						<td class="form_text_left">笔试评价</td>
						<td class="form_text_right divChangeLine" colspan="3">
							{useWriteEva}
						</td>
					</tr>
					<tr>
						<td class="form_text_left">面试评价</td>
						<td class="form_text_right divChangeLine" colspan="3">
							{useInterviewEva}
						</td>
					</tr>
					<tr>
						<td class="form_text_left">所在项目组</td>
						<td class="form_text_right" colspan="3">
							{projectGroup}
						</td>
					</tr>
					<tr>
						<td class="form_text_left">面 试 官</td>
						<td class="form_text_right">
							{useInterviewer}
						</td>
						<td class="form_text_left">面试日期</td>
						<td class="form_text_right" width="30%">
							{useInterviewDate}
						</td>
					</tr>
					<tr>
						<td class="form_text_left">面试结果</td>
						<td class="form_text_right">
							{useInterviewResult}
						</td>
						<td class="form_text_left">职位名称</td>
						<td class="form_text_right">
							{useJobName}
						</td>
					</tr>
					<tr>
						<td class="form_text_left">录用形式</td>
						<td class="form_text_right">
							{useHireTypeName}
						</td>
						<td class="form_text_left">人员归属</td>
						<td class="form_text_right">
							{sysCompanyName}
						</td>
					</tr>
					<tr>
						<td class="form_text_left">试用期基本工资</td>
						<td class="form_text_right">
							<span class="formatMoney">{useTrialWage}</span>
						</td>
						<td class="form_text_left">转正基本工资</td>
						<td class="form_text_right">
							<span class="formatMoney">{useFormalWage}</span>
						</td>
					</tr>
					<tr>
						<td class="form_text_left">办公电脑需求设备类型</td>
						<td class="form_text_right">
							{useDemandEqu}
						</td>
						<td class="form_text_left">签订《竞业限制协议》</td>
						<td class="form_text_right">
							{useSign}&nbsp;&nbsp;&nbsp;{compensation}
						</td>
					</tr>
					<tr>
						<td class="form_text_left">确认人</td>
						<td class="form_text_right">
							{useManager}
						</td>
						<td class="form_text_left">确认日期</td>
						<td class="form_text_right">
							{useSignDate}
						</td>
					</tr>
				</table>
			</fieldset>
		</td>
	</tr>
	<tr>
		<td colspan="4">
			<fieldset><legend><b>确认信息</b></legend>
				<table cellpadding="2" width="100%">
					<tr>
						<td class="form_text_left">人资负责人</td>
						<td class="form_text_right" width="30%">
							{manager}
						</td>
						<td class="form_text_left">副总经理</td>
						<td class="form_text_right">
							{deputyManager}
						</td>
					</tr>
				</table>
			</fieldset>
		</td>
	</tr>
	<tr>
		<td class="txt_btn" colspan="4">
			<input  type="hidden" id="id"  value="{id}" />
			<input  type="button" class="txt_btn_a" value=" 关  闭 " onclick="closeFun();"/>
		</td>
	</tr>
</table>
</body>
</html>