<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" " http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns=" http://www.w3.org/1999/xhtml">
<head>
	<title>编辑面试评语</title>
   {#commonInclude#}
   <script type="text/javascript" src="{#jsPath#}/interviewComment-edit.js" ></script>   
</head>
<style>
	#important{
	    color :#0000FF;	
	}
</style>
<body>
<form id="form1" method="post" action="?model=hr_recruitment_interviewComment&action=edit" >
<table class="form_main_table">
   <tr>
      <td colspan="4">
          <div class="main_head">
             <span class="main_head_title">
               	编辑面试评语信息
             </span>
         </div>     
      </td>
   </tr>
<tr>
      		<td class="form_text_left">应聘者姓名</td>
      		<td class="form_text_right" >
      			 <input type="text" class="readOnlyText" readonly id="applicantName" name="interviewComment[applicantName]" value="{applicantName}"/>
      		</td>
			<td class="form_text_left">性别</td>
      		<td class="form_text_right_three" >
      		     <input type="text" class="readOnlyText" id="sexy" readonly  name="interviewComment[sexy]" value="{sexy}"/>
      		</td>
       </tr>                      
       <tr>
      		<td class="form_text_left">用人部门</td>
      		<td class="form_text_right" >
      			 <input type="text" class="readOnlyText" id="deptName" readonly  name="interviewComment[deptName]" value="{deptName}"/>
      			 <input type="hidden" class="txt" id="deptId" name="interviewComment[deptId]" value="{deptId}"/>
      		</td>
      		<td class="form_text_left">所在项目组</td>
      		<td class="form_text_right" >
      			 <input type="text" class="readOnlyText" id="projectGroup" readonly name="interviewComment[projectGroup]" value="{projectGroup}"/>
      		</td>
       </tr>
       <tr>
      		<td class="form_text_left">面试官</td>
      		<td class="form_text_right" >
      			 <input type="text" class="readOnlyText" id="interviewer" readonly name="interviewComment[interviewer]" value="{interviewer}"/>
      			 <input type="hidden" class="txt" id="interviewerId" name="interviewComment[interviewerId]" value="{interviewerId}"/>
      		</td>
      		<td class="form_text_left">面试日期</td>
      		<td class="form_text_right" >
      			 <input type="text" class="readOnlyText" id="interviewDate"  readOnly  name="interviewComment[interviewDate]" value="{interviewDate}"/>
      		</td>
       </tr>        
       <tr>
      		<td class="form_text_left">笔试评价</td>
      		<td class="form_text_right" colspan="4">
      			 <textarea class="txt_txtarea_font" id="useWriteEva" name="interviewComment[useWriteEva]">{useWriteEva}</textarea>
      		</td>
       </tr>        
       <tr>
      		<td class="form_text_left" id="important">面试评价</td>
      		<td class="form_text_right" colspan="4">
      			 <textarea class="txt_txtarea_font" id="interviewEva" name="interviewComment[interviewEva]">{interviewEva}</textarea>
      		</td>
       </tr>        
            
          <tr>
      		<td class="txt_btn" colspan="4">
      			<input  type="hidden" id="id" name="interviewComment[id]" value="{id}" />
      		   <input  type="submit" class="txt_btn_a" value=" 保  存 "/>
      		   <input  type="button" class="txt_btn_a" value=" 关  闭 " onclick="closeFun();"/>
      		</td>
       </tr>
     </table>
  </form>
 </body>
</html>