<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en_US" xml:lang="en_US">
<head>
	<title>查看职位申请表-项目经历</title>
      {#commonInclude#}
   <script type="text/javascript" src="{#jsPath#}/project-view.js" ></script>  
</head>
<body>

<table class="form_main_table">
<tr>
	<td colspan="4">
      <div class="main_head">
          <span class="main_head_title">
            	查看职位申请表-项目经历信息
          </span>
      </div>
   </td>
</tr>
<tr>
		<td class="form_text_left">职位申请表ID</td>
		<td class="form_text_right">
			{employmentId}
		</td>
</tr>     
<tr>
		<td class="form_text_left">编程语言</td>
		<td class="form_text_right">
			{language}
		</td>
</tr>     
<tr>
		<td class="form_text_left">操作系统</td>
		<td class="form_text_right">
			{system}
		</td>
</tr>     
<tr>
		<td class="form_text_left">数据库</td>
		<td class="form_text_right">
			{dataBank}
		</td>
</tr>     
<tr>
		<td class="form_text_left">目前业内新技术</td>
		<td class="form_text_right">
			{newSkill}
		</td>
</tr>     
<tr>
		<td class="form_text_left">开始时间</td>
		<td class="form_text_right">
			{beginDate}
		</td>
</tr>     
<tr>
		<td class="form_text_left">截止时间</td>
		<td class="form_text_right">
			{closeDate}
		</td>
</tr>     
<tr>
		<td class="form_text_left">项目名称</td>
		<td class="form_text_right">
			{projectName}
		</td>
</tr>     
<tr>
		<td class="form_text_left">主要运用何种技术</td>
		<td class="form_text_right">
			{projectSkill}
		</td>
</tr>     
<tr>
		<td class="form_text_left">在项目中的角色</td>
		<td class="form_text_right">
			{projectRole}
		</td>
</tr>     
   <tr>
		<td class="txt_btn" colspan="4">
         <input  type="hidden" id="id"  value="{id}" />
	      <input  type="button" class="txt_btn_a" value=" 关  闭 " onclick="self.parent.tb_remove();"/>
		</td>
</tr>
</table>
</body>
</html>