<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en_US" xml:lang="en_US">
<head>
	<title></title>
   {#commonInclude#}
	<script>
	function viewToadd() {
		location.replace("?model=hr_recruitment_recommend&action=toAdd");
	}
   </script>
</head>
<body>
<tr>
   <td>
<p>
	&nbsp;</p>
<div>
	<strong style="font-size:15px;">&nbsp;非常感谢您为公司推荐优秀人才！请阅读如下推荐原则：</strong></div></br>
<div style="font-size:13px;">
	1. 公司欢迎所有内部员工推荐优秀人才加入我公司；公司对所有候选人进行公平、公正的考评，在同等资历条件下优先考虑由公司内部员工推荐的候选人。</div></br>
<div  style="font-size:13px;">
	2. 公司对被正式录用候选人的相应推荐人给予物质奖励，但有以下前提条件：</div></br>
<div  style="font-size:13px;padding-left:26px;">
	2.1 被荐人不能为推荐人的直系亲属；</div></br>
<div  style="font-size:13px;padding-left:26px;">
	2.2 被荐人的基本条件要符合公司对人员招聘的基本要求（包括学历、经验、技能等要求）；</div></br>
<div  style="font-size:13px;padding-left:26px;">
	2.3 被荐人所提供的个人简历及人事资料应确保真实有效，否则不予发放推荐奖；</div></br>
<div  style="font-size:13px;padding-left:26px;">
	2.4 推荐人对被荐人的经验、技能等需有过相应的接触或了解，能明确阐述推荐理由、推荐人与被荐人关系。</div></br>
<div  style="font-size:13px;padding-left:26px;">
	2.5 被荐职位需经公告发布，在有物质奖励的职位之列。</div></br>
<div  style="font-size:13px;">
	3. 公司欢迎并鼓励内部员工通过各合法渠道搜集同行优秀人才资料，并将相关信息提供人力资源部进行定向招聘，此类型推荐不纳入内部推荐范畴，但招聘成功的，公司将在不定期发布的内荐公告中予以表扬并酌情另行给予一定奖励。</div></br>
<div  style="font-size:13px;">
	4. 如上规定解释权归人力资源部所有。</div></br>
   </td>
</tr>
<table class="form_main_table">
<tr>
		<td class="txt_btn">
		   <input  type="submit" class="txt_btn_a" value="我 接 受" onclick="viewToadd();" />&nbsp;
		   <input  type="button" class="txt_btn_a" value="我 不 接 受 " onclick="closeFun();" />
		</td>
</tr>

</table>

</body>

</html>