<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" " http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns=" http://www.w3.org/1999/xhtml">
<head>
	<title>引入预算</title>
    {#commonInclude#}
    <script type="text/javascript" src="js/jquery/formvalidator/formValidator-4.1.1.js"	charset="UTF-8"></script>
    <script type="text/javascript" src="js/jquery/formvalidator/formValidatorRegex.js"	charset="UTF-8"></script>
	<script type="text/javascript" src="js/jquery/combo/business/yxcombogrid-person.js" ></script>

    <script type="text/javascript" src="{#jsPath#}/esmperson-addbatch.js" ></script>
    <script type="text/javascript" src="{#jsPath#}/esmperson-common.js" ></script>

</head>

<body>
	<form id="form1" method="post" action="?model=engineering_person_esmperson&action=addBatch" >
		<table class="form_main_table">
      		<tr>
	      		<td colspan="4">
		            <div class="main_head2">
			            <span class="main_head_title">所属任务：{activityName}</span>
		            </div>
	            </td>
			</tr>
		</table>

		<div id="importTable"></div>

		<table class="form_main_table">
			<tr>
				<td class="txt_btn" colspan="4">
	      			<input type="hidden" id="projectId" name="esmperson[projectId]" value="{projectId}"/>
	      			<input type="hidden" id="projectCode" name="esmperson[projectCode]" value="{projectCode}"/>
	      			<input type="hidden" id="projectName" name="esmperson[projectName]" value="{projectName}"/>
	      			<input type="hidden" id="activityId" name="esmperson[activityId]" value="{activityId}"/>
	      			<input type="hidden" id="activityName" name="esmperson[activityName]" value="{activityName}"/>
	      			<input type="hidden" id="planBeginDate" value="{planBeginDate}"/>
	      			<input type="hidden" id="planEndDate" value="{planEndDate}"/>
	      			<input type="hidden" id="days" value="{days}"/>

	      		    <input type="submit" class="txt_btn_a" value=" 保  存 "/>
					<input type="button" class="txt_btn_a" value=" 关  闭 " onclick="self.parent.tb_remove();"/>
	      		</td>
			</tr>
		</table>
	</form>
</body>
</html>