<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>项目人力预算列表</title>
	{#commonInclude#}
</head>
<body>
	<div class="main_head2">
	    <span class="main_head_title">
	      	查看项目人力预算
	    </span>
	</div>
	<table class="main_table">
		<thead>
			<tr class="main_tr_header">
				<th width="15%">
					任务名称
				</th>
				<th>
					人员等级
				</th>
				<th>
					数量
				</th>
				<th width="8%">
					预计加入<br/>项 目
				</th>
				<th width="8%">
					预计离开<br/>项 目
				</th>
				<th>
					预计天数
				</th>
				<th>
					预计人工<br/>天数 (天)
				</th>
				<th>
					预计人力<br/>成本 (天)
				</th>
				<th>
					预计人力<br/>成本金额
				</th>
				<th>
					实际人工<br/>天数 (天)
				</th>
				<th>
					实际人力<br/>成本 (天)
				</th>
				<th>
					实际人力<br/>成本金额
				</th>
			</tr>
		</thead>
		<tbody>
			{list}
		</tbody>
	</table>
</body>
</html>