<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en_US" xml:lang="en_US">
<head>
	<title>新增周报(oa_esm_weeklog)</title>
	<meta http-equiv="Content-Type" content="text/html;charset=gb2312"/>
	<link rel="stylesheet" type="text/css" href="css/yxstyle.css"/>
	<link rel="stylesheet" type="text/css" href="js/jquery/style/Validator.css"/>

	<script type="text/javascript" src="js/jquery/jquery-1.4.2.js"></script>
	<script type="text/javascript" src="js/common/businesspage.js"></script>
    <script type="text/javascript" src="js/jquery/formValidator.js" charset="UTF-8"></script>
	<script type="text/javascript" src="js/jquery/formValidatorRegex.js" charset="UTF-8"></script>
	<script type="text/javascript" src="js/DatePicker/WdatePicker.js"></script>
</head>
<body>
<div class="main_head">
    <span class="main_head_title">
      	新增周报(oa_esm_weeklog)
    </span>
</div>
<form id="form1" method="post" action="?model=engineering_worklog_esmweeklog&action=add">
<table class="form_main_table">
    <tr>
		<td class="form_text_left">日志标题</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" name="esmweeklog[weekTitle]" />
		</td>
    </tr>
    <tr>
		<td class="form_text_left">周次</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" name="esmweeklog[weekTimes]" />
		</td>
    </tr>
    <tr>
		<td class="form_text_left">开始日期</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" name="esmweeklog[weekBeginDate]" />
		</td>
    </tr>
    <tr>
		<td class="form_text_left">结束日期</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" name="esmweeklog[weekEndDate]" />
		</td>
    </tr>
    <tr>
		<td class="form_text_left">部门id</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" name="esmweeklog[depId]" />
		</td>
    </tr>
    <tr>
		<td class="form_text_left">部门名称</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" name="esmweeklog[depName]" />
		</td>
    </tr>
    <tr>
		<td class="form_text_left">考核人ID</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" name="esmweeklog[assessmentId]" />
		</td>
    </tr>
    <tr>
		<td class="form_text_left">考核人</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" name="esmweeklog[assessmentName]" />
		</td>
    </tr>
    <tr>
		<td class="form_text_left">提交状态</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" name="esmweeklog[subStatus]" />
		</td>
    </tr>
    <tr>
		<td class="form_text_left">等级</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" name="esmweeklog[rankCode]" />
		</td>
    </tr>
    <tr>
		<td class="form_text_left">审核人</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" name="esmweeklog[directlyId]" />
		</td>
    </tr>
    <tr>
		<td class="form_text_left">审核人名称</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" name="esmweeklog[directlyName]" />
		</td>
    </tr>
    <tr>
		<td class="form_text_left">存在问题</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" name="esmweeklog[existence]" />
		</td>
    </tr>
    <tr>
		<td class="form_text_left">技能提升举证</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" name="esmweeklog[improvement]" />
		</td>
    </tr>
    <tr>
		<td class="form_text_left">创建人Id</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" name="esmweeklog[createId]" />
		</td>
    </tr>
    <tr>
		<td class="form_text_left">创建人名称</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" name="esmweeklog[createName]" />
		</td>
    </tr>
    <tr>
		<td class="form_text_left">创建时间</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" name="esmweeklog[createTime]" />
		</td>
    </tr>
    <tr>
		<td class="form_text_left">修改人Id</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" name="esmweeklog[updateId]" />
		</td>
    </tr>
    <tr>
		<td class="form_text_left">修改人名称</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" name="esmweeklog[updateName]" />
		</td>
    </tr>
    <tr>
		<td class="form_text_left">修改时间</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" name="esmweeklog[updateTime]" />
		</td>
    </tr>
    <tr>
		<td class="txt_btn" colspan="4">
		   <input type="submit" class="txt_btn_a" value="保  存"/>
		   <input type="button" class="txt_btn_a" value="关  闭" onclick="self.parent.tb_remove();"/>
		</td>
    </tr>
</table>
</form>
</body>
</html>