<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title></title>
<link rel="stylesheet" type="text/css" href="css/yxstyle.css" />
<link rel="stylesheet" href="js/thickbox.css" type="text/css"
	media="screen" />
<script type="text/javascript" src="js/jquery.js">
		</script>
<script type="text/javascript" src="js/common/businesspage.js">
		</script>
<script type="text/javascript"
	src="view/management/mylogwork/topread.js">
		</script>
<script type="text/javascript" src="js/topoptions.js">
		</script>
<script type="text/javascript" src="js/thickbox.js">
		</script>
</head>
<script type="text/javascript">
	//统计考核分数
	function subAssScore(){
		var subScore=0;
		$("select").each(function(){
			var tWeight=$(this).attr("weight");
			var tOpScore=$(this).find("option:selected").val();
			var tSubScore=tWeight*tOpScore;
			subScore=subScore+tSubScore;

		})
		$("#assweekScore").val(Math.round(subScore*100)/10000);
		 var levelData = $.ajax({
				url: "?model=engineering_assessment_assLevel&action=getLevelByScore&score="+Math.round(subScore*100)/10000,
				async: false
				}).responseText;
		 $("#assweekAssLevel").val(levelData);
		}
	$(document).ready(function(){
		subAssScore();
		})
</script>
<body>
<div class="main_head"><span class="main_head_title">
工作周报考核 </span> </div>
<div class="form_main">
<form id="form1"
	action="?model=engineering_assessment_assweek&action=add"
	method="POST">
<table class="form_main_table">
	<tr>
		<td class="form_header" colspan="4">{weekTitle}
		<input type="hidden" name="assweek[option][subStatus]" id="subStatus" value="ZBYKH"></td>
		<input type="hidden" name="assweek[option][id]" id="id" value="{id}"/></td>
	</tr>
	<tr>
		<td class="form_text_left">姓名</td>
		<td class="form_text_right">{createName}</td>
		<td class="form_text_left">级别</td>
		<td class="form_text_right">{rankCode}</td>
	</tr>
	<tr>
		<td class="form_text_left">直属上级</td>
		<td class="form_text_right">{directlyName}</td>
		<td class="form_text_left">考核人</td>
		<td class="form_text_right">{assessmentName}</td>
	</tr>
</table>
</div>

<div class="form_main">
<table class="main_table">
	<tr class="main_tr_header">
		<th>周次</th>
		<th colspan="3">{weekTimes}</th>
		<th>{weekBeginDate}</th>
		<th>{weekEndDate}</th>
		<th></th>

	</tr>
	<tr class="main_tr_header">
		<th>日期</th>
		<th>星期</th>
		<th>地点</th>
		<th>状态</th>
		<th>参与项目</th>
		<th>工作内容</th>
		<th>备注</th>

	</tr>
	{list}
</table>
<table class="form_main_table">
	<tr>
		<td class="form_text_left" colspan="4">本周存在问题及得到的帮助</td>
		<td class="form_text_right" colspan="4">{existence}</td>
	</tr>
	<tr>
		<td class="form_text_left" colspan="4">本周技能提升举证</td>
		<td class="form_text_right" colspan="4">{improvement}</td>
	</tr>

</table>
</div>
<div class="form_main">
<table class="form_main_table">
	<tr class="main_tr_header">
		<td >考核情况</td>
		<td class="form_text_right">考核分数<input type="text" name="assweek[score]" id="assweekScore" value="" readonly></td>
		<td class="form_text_right">考核级别<input type="text" name="assweek[assLevel]" id="assweekAssLevel" value="" readonly>
		</td>
	</tr>
{list1}
	<tr class="main_tr_header">
		<td colspan="4">评语</td>
	</tr>
	<tr>
		<td colspan="4"><textarea rows="3" name="assweek[reviews]" style="width:100%"></textarea></td>
	</tr>
	<tr>
		<td colspan="4">
			<input type="hidden" name="assweek[weekLogId]" id="weekLogId" value="{id}">
			<input type="submit" value="保存考核" class="txt_btn_a"/>
		 	<input type="button" class="txt_btn_a" value="返  回" onclick="self.parent.tb_remove();" />
		</td>
	</tr>
</table>
</div>
</form>
</body>
</html>
