<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=GBK"/>
    <title>日志导出</title>
	{#commonInclude#}
	<script type="text/javascript" src="js/jquery/combo/business/yxcombogrid-esmproject.js"></script>
    <script type="text/javascript" src="view/template/engineering/worklog/js/esmworklog-searchdept-grid.js"></script>
</head>
<body>
	<div class="main_head2">
		<span class="main_head_title">
			日志导出
		</span>
	</div>
	<table class="form_in_table">
		<tr>
			<td class="form_text_left">
				<span class="blue">导出期间:</span>
			</td>
			<td class="form_text_right">
				<input type="text" name='esmworklog[beginDateThan]' id="beginDateThan" class="txtmiddle Wdate" value="{beginDate}" onfocus="WdatePicker()"/>
				至
				<input type="text" name='esmworklog[endDateThan]'  value="{endDate}"  id="endDateThan" class="txtmiddle Wdate" onfocus="WdatePicker()"/>
			</td>
		</tr>
		<tr>
			<td class="form_text_left">
				项目编号:
			</td>
			<td class="form_text_right">
				<input type="text" class="txt" name="esmworklog[projectCode]" id="projectCode"/>
				<input type="hidden" name="esmworklog[projectId]" id="projectId"/>
			</td>
		</tr>
		<tr>
			<td class="form_text_left">
				部门名称:
			</td>
			<td class="form_text_right">
				<input type="text" class="txt" name="esmworklog[deptName]" id="deptName"/>
				<input type="hidden" name="esmworklog[deptId]" id="deptId"/>
				<input type="hidden" id="deptIds" value="{deptIds}"/>
			</td>
		</tr>
		<tr>
			<td class="form_text_left">
				填写人:
			</td>
			<td class="form_text_right">
				<input type="text" class="txt" name="esmworklog[userName]" id="userName" readonly="readonly"/>
				<input type="hidden" name="esmworklog[userAccount]" id="userAccount"/>
			</td>
		</tr>
		<tr>
			<td class="txt_btn" colspan="2">
				<input type='button' class="txt_btn_a" id="search" value='导出' onclick="outExcel()" class="txt_btn_a" />
			</td>
		</tr>
	</table>
    <div id="esmworklogGrid"></div>
</body>
</html>