<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en_US" xml:lang="en_US">
<head>
	<title>查看工作日志</title>
      {#commonInclude#}
   <script type="text/javascript" src="{#jsPath#}/worklog-view.js" ></script>  
</head>
<body>

<table class="form_main_table">
<tr>
	<td colspan="4">
      <div class="main_head">
          <span class="main_head_title">
            	查看工作日志信息
          </span>
      </div>
   </td>
</tr>
<tr>
      		<td class="form_text_left">执行日期</td>
      		<td class="form_text_right" >
      			 {executionDate}
      		</td>
      		<td class="form_text_left">预计完成时间</td>
      		<td class="form_text_right" >
      			 {planEndDate}
      		</td>
       </tr>        
       <tr>
      		<td class="form_text_left">当日投入工作量</td>
      		<td class="form_text_right" >
      			 {workloadDay}
      		</td>
      		<td class="form_text_left">完成率</td>
      		<td class="form_text_right" >
      			 {effortRate}
      		</td>
       </tr>      
       <tr>
      		<td class="form_text_left">预计剩余工作量</td>
      		<td class="form_text_right" >
      			 {workloadSurplus}
      		</td>
       </tr>                              
      <tr>
      		<td class="form_text_left" >描述</td>
      		<td class="form_text_right divChangeLine" colspan="4">
                  <textarea class="txt_txtarea_font" id="description" name="worklog[description]" readonly="true">{description}</textarea>
      		</td>
      </tr>  
                                    
      <tr>
      		<td class="form_text_left" >存在问题</td>
      		<td class="form_text_right divChangeLine" colspan="4">
                  <textarea class="txt_txtarea_font" id="problem" name="worklog[problem]" readonly="true">{problem}</textarea>
      		</td>
      </tr>     
   <tr>
		<td class="txt_btn" colspan="4">
         <input  type="hidden" id="id"  value="{id}" />
	      <input  type="button" class="txt_btn_a" value=" 关  闭 " onclick="self.parent.tb_remove();"/>
		</td>
</tr>
</table>
</body>
</html>