<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" " http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns=" http://www.w3.org/1999/xhtml">
<head>
	<title>新增工作日志</title>
   {#commonInclude#}
   <script type="text/javascript" src="{#jsPath#}/worklog-add.js" ></script>   
</head>

<body>
   <form id="form1" method="post" action="?model=produce_log_worklog&action=add" onsubmit="return checkForm();" >
      <table class="form_main_table">
      	<tr>
      		<td colspan="4">
            <div class="main_head">
             <span class="main_head_title">
               	新增工作日志
             </span>
            </div>
           </td>
         </tr>
     <tr>
      		<td class="form_text_left">成产编号</td>
      		<td class="form_text_right" >
             	<input type="text" class="readOnlyTxtNormal" readonly  name="worklog[produceTaskCode]"  id="produceTaskCode" value="{produceTaskCode}"/>
        		<input type="hidden" name="worklog[produceTaskId]" id="produceTaskId" value="{produceTaskId}"/>  
      		</td>
      		<td class="form_text_left">执行日期</td>
      		<td class="form_text_right" >
      			 <input type="text" class="txt" id="executionDate" value="{executionDate}" onfocus="WdatePicker()" onblur="checkExsitLog(this.value)" readOnly name="worklog[executionDate]" /><font color="red">[*]</font>
      		</td>
        </tr>            
       <tr>
      		<td class="form_text_left">预计完成时间</td>
      		<td class="form_text_right" >
      			 <input type="text" class="txt" id="planEndDate" onfocus="WdatePicker()" readOnly  name="worklog[planEndDate]" /><font color="red">[*]</font>
      		</td>
      		<td class="form_text_left">当日投入工作量</td>
      		<td class="form_text_right" >
      			 <input type="text" class="txt" id="workloadDay" name="worklog[workloadDay]" /><font color="red">[*]</font>
      		</td>
       </tr>        
       <tr>
      		<td class="form_text_left">完成率</td>
      		<td class="form_text_right" >
      			 <input type="text" class="txt" id="effortRate" name="worklog[effortRate]" /><font color="red">[*]</font>
      		</td>
      		<td class="form_text_left">预计剩余工作量</td>
      		<td class="form_text_right" >
      			 <input type="text" class="txt" id="workloadSurplus" name="worklog[workloadSurplus]" />
      		</td>
       </tr>                              
      <tr>
      		<td class="form_text_left" >描述</td>
      		<td class="form_text_right" colspan="4">
                  <textarea class="txt_txtarea_font" id="description" name="worklog[description]"></textarea>
      		</td>
      </tr>  
                                    
      <tr>
      		<td class="form_text_left" >存在问题</td>
      		<td class="form_text_right" colspan="4">
                  <textarea class="txt_txtarea_font" id="problem" name="worklog[problem]"></textarea>
      		</td>
      </tr>
          <tr>
      		<td class="txt_btn" colspan="4">
      		    <input  type="submit" class="txt_btn_a" value=" 保  存 "/>
      		    <input  type="button" class="txt_btn_a" value=" 关  闭 "  onclick="closeFun()"/>
      		</td>
       </tr>
      </table>
   </form>
</body>
</html>