<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>供应商季度考核查询
		</title>
		<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
		<link rel="stylesheet" type="text/css" href="css/yxstyle.css" />
		<link rel="stylesheet" type="text/css" href="js/jquery/style/yxgrid.css"/>
		<link rel="stylesheet" type="text/css" href="js/jquery/style/yxmenu.css"media="screen" />
		<link rel="stylesheet" type="text/css" href="js/jquery/style/yxmenu.theme.css"media="screen" />

		<script type="text/javascript" src="js/jquery/jquery-1.4.2.js"></script>
		<script type="text/javascript" src="js/common/businesspage.js"></script>

		<script type="text/javascript" src="js/jquery/woo.js"></script>
		<script type="text/javascript" src="js/jquery/component.js"></script>

		<script type="text/javascript" src="js/jquery/combo/yxcombo.js"></script>
		<script type="text/javascript" src="js/jquery/grid/yxsgrid.js"></script>
		<script type="text/javascript" src="js/jquery/grid/yxgrid.js"></script>
		<script type="text/javascript" src="js/jquery/combo/yxcombogrid.js"></script>

		<script type="text/javascript" src="js/jquery/combo/business/yxcombogrid-supplier.js"></script>
		<script type="text/javascript" src="js/jquery/combo/business/yxcombogrid-product.js"></script>

		<script type="text/javascript" src="view/template/stock/instock/js/stockin-purchase-todetail.js"></script>
		<script>
		function confirm() {
			var beginYear=$("#beginYear").val();
			var beginQuarter=$("#beginQuarter").val();
			var endYear=$("#endYear").val();
			var endQuarter=$("#endQuarter").val();
			var supplierId=$("#supplierId").val();


			this.opener.location= "?model=supplierManage_assessment_supasses&action=toQuarterReport&beginQuarter="+beginQuarter+"&beginYear="+beginYear
								+"&endQuarter="+endQuarter+"&endYear="+endYear+"&supplierId="+supplierId;
			this.close();
		}
		</script>
	</head>
	<body>
		<div class="main_head">
			<span class="main_head_title">供应商季度考核查询
			</span>
		</div>
		<form id="form1" action="?" method="get" onsubmit="return checkform()">
			<table class="form_main_table">
				<tr>
					<td class="form_text_left">
						单据日期 从
					</td>
					<td class="form_text_right">
						<input type="text" class="txtshort Num" name="beginYear" id="beginYear" value="{beginYear}"/> 年
						<select class="select" name="beginQuarter" id="beginQuarter"  >
							<option value="1">第一季度</option>
							<option value="2">第二季度</option>
							<option value="3">第三季度</option>
							<option value="4">第四季度</option>
						</select>
					</td>
				</tr>
				<tr>
					<td class="form_text_left">
						至
					</td>
					<td class="form_text_right">
						<input type="text" class="txtshort Num" name="endYear" id="endYear" value="{endYear}"/> 年
						<select class="select" name="endQuarter" id="endQuarter"  >
							<option value="1">第一季度</option>
							<option value="2">第二季度</option>
							<option value="3">第三季度</option>
							<option value="4">第四季度</option>
						</select>
					</td>
				</tr>
				<tr>
					<td class="form_text_left">
						供应商名称
					</td>
					<td class="form_text_right">
						<input type="hidden" name="supplierId" id="supplierId"/>
						<input type="text" name="supplierName" id="supplierName" class="txt"/>
					</td>
				</tr>
				<tr>
					<td colspan="2">
						<input type="button" class="txt_btn_a" value="查 询" onclick="confirm();" />
					</td>
				</tr>
			</table>
		</form>
	</body>
</html>