
<html>
<head>
	<title>查看供应商评估任务</title>
      {#commonInclude#}
   <script type="text/javascript" src="{#jsPath#}/task-view.js" ></script>
</head>
<body>

<table class="form_main_table">
<tr>
	<td colspan="4">
      <div class="main_head">
          <span class="main_head_title">
            	查看供应商评估任务信息
          </span>
      </div>
   </td>
</tr>
<tr>
		<td class="form_text_left">评估任务编号</td>
		<td class="form_text_right">
			{formCode}
		</td>
		<td class="form_text_left">评估类型</td>
		<td class="form_text_right">
			{assessTypeName}
		</td>
</tr>
<tr>
		<td class="form_text_left">供应商名称</td>
		<td class="form_text_right">
			{suppName}
		</td>
		<td class="form_text_left">任务负责人</td>
		<td class="form_text_right">
			{assesManName}
		</td>
</tr>
<tr>
		<td class="form_text_left">任务下达时间</td>
		<td class="form_text_right">
			{formDate}
		</td>
		<td class="form_text_left">期望完成时间</td>
		<td class="form_text_right"  colspan="3">
			{hopeDate}
		</td>
</tr>
<tr>
		<td class="form_text_left">任务下达人</td>
		<td class="form_text_right">
			{purchManName}
		</td>
        <td class="form_text_left">考核季度/年份</td>
        <td class="form_text_right"  colspan="3">
            {assesYear}{assesQuarter}
        </td>
</tr>
<tr>
		<td class="form_text_left">备注</td>
		<td class="divChangeLine"  colspan="3">
				<textarea  id="remark" class="textarea_read_blue"   readonly>{approvalRemark}</textarea>

		</td>
</tr>
   <tr>
		<td class="txt_btn" colspan="4">
         <input  type="hidden" id="id"  value="{id}" />
	      <input  type="button" class="txt_btn_a" value=" 关  闭 " onclick="self.parent.tb_remove();"/>
		</td>
</tr>
</table>
</body>
</html>