<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" " http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>修改销售出库单</title>
	{#commonInclude#}
</head>
<script type="text/javascript">
	$(document).ready(function() {
		if ("{isRed}" == "0") {
			$("#itembody").css("color", "blue");
			$("#packbody").css("color", "blue");
		} else {
			$("#itembody").css("color", "red");
			$("#packbody").css("color", "red");
		}
	});

</script>
<body>
<form id="form1" method="post" action="?model=stock_outstock_stockout&action=editCost">
	<table class="form_main_table">
		<tr>
			<td colspan="4">
				<div class="main_head">
                    <span class="main_head_title">
                        销售出库单
                    </span>
				</div>
			</td>
		</tr>
		<tr>
			<td class="form_text_left">单据编号</td>
			<td class="form_text_right">
				{docCode}
			</td>
			<td class="form_text_left">单据日期</td>
			<td class="form_text_right" width="30%">
				{auditDate}
			</td>
		</tr>
		<tr>
			<td class="form_text_left">合同编号</td>
			<td class="form_text_right">
				{contractCode}
			</td>
			<td class="form_text_left">合同名称</td>
			<td class="form_text_right">
				{contractName}
			</td>
		</tr>
		<tr>
			<td class="form_text_left">源单类型</td>
			<td class="form_text_right">
				{relDocTypeName}
			</td>
			<td class="form_text_left">源单编号</td>
			<td class="form_text_right">
				{relDocCode}
			</td>
		</tr>
		<tr>
			<td class="form_text_left">客户(单位)名称</td>
			<td class="form_text_right">
				{customerName}
			</td>
			<td class="form_text_left">发料仓库</td>
			<td class="form_text_right">
				{stockName}
			</td>
		</tr>
		<tr>
			<td class="form_text_left">发货联系人</td>
			<td class="form_text_right">
				{linkmanName}
			</td>
			<td class="form_text_left">发货联系人电话</td>
			<td class="form_text_right">
				{linkmanTel}
			</td>
		</tr>
		<tr>
			<td class="form_text_left">发货地址</td>
			<td class="form_text_right" colspan="3">
				{saleAddress}
			</td>
		</tr>
		<tr>
			<td class="form_text_left">发货员</td>
			<td class="form_text_right">
				{salesmanName}
			</td>
			<td class="form_text_left">所在部门</td>
			<td class="form_text_right">
				{deptName}
			</td>
		</tr>
		<tr>
			<td class="form_text_left">备注</td>
			<td colspan=3 class="form_text_right">
				{remark}
			</td>
		</tr>
		<tr>
			<td colspan="4">
				<table class="main_table" id="itemtable">
					<thead>
					<tr>
						<td colspan="14" class="form_header">
							物料清单
						</td>
					</tr>
					<tr class="main_tr_header">
						<th>
							序号
						</th>
						<th>
							物料编码
						</th>
                        <th>物料分类</th>
						<th>
							k3编码
						</th>
						<th>
							物料名称
						</th>
						<th>
							规格型号
						</th>
						<th>
							单位
						</th>
						<th>
							应发数量
						</th>
						<th>
							实发数量
						</th>
						<th>
							单位成本
						</th>
						<th>
							成本
						</th>
						<th>
							销售单价
						</th>
						<th>
							销售金额
						</th>
						<th>
							发货仓库
						</th>

					</tr>
					</thead>
					<tbody id="itembody">
					{stockoutItems}
					</tbody>
				</table>
			</td>
		</tr>
		<tr>
			<td colspan="4">
				<div style="height: 200px; overflow-y: auto; overflow-x: auto">
					<table class="main_table" id="packtable">
						<thead>
						<tr>
							<td colspan="6" class="form_header">包装物信息&nbsp;
							</td>
						</tr>
						<tr class="main_tr_header">
							<th>序号</th>
							<th>包装物编号</th>
							<th>包装物名称</th>
							<th>数量</th>
							<th>成本</th>
						</tr>
						</thead>
						<tbody id="packbody">
						{stockoutPackItems}
						</tbody>
					</table>
				</div>
			</td>
		</tr>
		<tr>
			<td colspan="4">
				<input type="hidden" name="stockout[id]" value="{id}"/>
				<input type="hidden" name="stockout[docType]" value="{docType}"/>
				<input type="submit" value=" 保 存 " class="txt_btn_a"/>
				<input type="button" value=" 返 回 " class="txt_btn_a" onclick="closeFun()"/>
			</td>
		</tr>
	</table>
</form>
</body>
</html>