<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" " http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns=" http://www.w3.org/1999/xhtml">
<head>
<title>领料出库明细表</title>
{#commonInclude#}
<script type="text/javascript" src="{#jsPath#}/stockout-picking-listdetail-grid.js"></script>
</head>
<body>
<input type="hidden" id="docType" value="{docType}"/>
<input type="hidden" id="beginYear" value="{beginYear}"/>
<input type="hidden" id="beginMonth" value="{beginMonth}"/>
<input type="hidden" id="endYear" value="{endYear}"/>
<input type="hidden" id="endMonth" value="{endMonth}"/>
<input type="hidden" id="productCode" value="{productCode}"/>
<input type="hidden" id="productId" value="{productId}"/>
<input type="hidden" id="pickCode" value="{pickCode}"/>
<input type="hidden" id="pickName" value="{pickName}"/>
<input type="hidden" id="deptCode" value="{deptCode}"/>
<input type="hidden" id="deptName" value="{deptName}"/>
<input type="hidden" id="isRed" value="{isRed}"/>
<input type="hidden" id="ifshow" value="{ifshow}"/>
<input type="hidden" id="docCode" value="{docCode}"/>
<input type="hidden" id="toUse" value="{toUse}"/>
<input type="hidden" id="pattern" value="{pattern}"/>
<input type="hidden" id="serialnoName" value="{serialnoName}"/>
<input type="hidden" id="actOutNum" value="{actOutNum}"/>
<input type="hidden" id="cost" value="{cost}"/>
<input type="hidden" id="subCost" value="{subCost}"/>
<div id="stockoutGrid" ></div>
</body>
</html>
