<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" " http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns=" http://www.w3.org/1999/xhtml">
<head>
    <title>打印领料单</title>
    <style media=print>
    　　.Noprint {
            display: none;
        }
    　　.PageNext {
            page-break-after: always;
        }
　　</style>
    {#commonInclude#}
    <link rel="stylesheet" type="text/css" href="css/yxstyle2.css"/>
    <script type="text/javascript" src="js/Lodop6.058/LodopFuncs.js"></script>
	<object id="LODOP_OB" classid="clsid:2105C259-1E0C-4534-8141-A753534CB4CA" width=0 height=0>
		<embed id="LODOP_EM" type="application/x-print-lodop" width=0 height=0 pluginspage="js/Lodop6.058/install_lodop.exe"></embed>
	</object>
    <script type="text/javascript" src="js/jquery/jquery-1.4.2.js"></script>

    <script type="text/javascript"
            src="{#jsPath#}/stockout-common-print.js" ></script>
</head>
<body>
<form id="table1">
    <table class="form_main_table">
        <tr>
        	<td align="center" colspan="4">
        		<span style="font-size:16px;font-weight:bold;">领料单</span>
            </td>
        </tr>
        <tr>
            <td class="form_text_left">单据编号</td>
            <td class="form_text_right">
                {docCode}
                <input type="hidden" id="docCode" value="{docCode}">
                <input type="hidden" id="year" value="{year}">
                <input type="hidden" id="sortyear" value="{sortyear}">
                <input type="hidden" id="month" value="{month}">
                <input type="hidden" id="day" value="{day}">
                <input type="hidden" id="itemCount" value="{itemCount}">
                <input type="hidden" id="finance" value="{finance}">
                <input type="hidden" id="detpLeader" value="">
                <input type="hidden" id="deptName" value="{deptName}">
                <input type="hidden" id="stockMan" value="{stockMan}">
                <input type="hidden" id="photoPath" value="{photoPath}">
                <input type="hidden" id="pickName" value="{pickName}">
            </td>
            <td class="form_text_left">单据日期</td>
            <td class="form_text_right">
                {auditDate}
            </td>
        </tr>
        <tr>
            <td class="form_text_left">源单名称</td>
            <td class="form_text_right">
                {relDocName}
            </td>
            <td class="form_text_left">制单</td>
            <td class="form_text_right">
                {createName}
            </td>
        </tr>
        <tr>
            <td colspan="4">
                <table class="main_table" id="itemtable">
                    <thead>
                    <tr>
                        <td colspan="5" class="form_header">
                            物料清单
                        </td>
                    </tr>
                    <tr class="main_tr_header">
<!--                        <th>序号</th>-->
                        <th>物料编码</th>
<!--                        <th>k3编码</th>-->
                        <th>物料名称</th>
<!--                        <th>规格型号</th>-->
<!--                        <th>单位</th>-->
<!--                        <th>批次</th>-->
<!--                        <th>发料仓库</th>-->
<!--                        <th>申请数量</th>-->
                        <th>实发数量</th>
<!--                        <th>序列号</th>-->
                        <th>单价</th>
                        <th>金额</th>
<!--                        <th>生产/采购日期</th>-->
<!--                        <th>保质期(天)</th>-->
<!--                        <th>有效期至</th>-->
                    </tr>
                    </thead>
                    <tbody>
                    {stockoutItems}
                    </tbody>
                </table>
            </td>
        </tr>
    </table>
</form>
<div id="printArea"></div>
<script>
$(document).ready(function(){
    var tbody = $("#itemtable tbody");
    //主表跟物料清单标题高度
    var baseHeight = 10;
    baseHeight += $("#table1 .form_main_table tr:eq(0)").height();
    baseHeight += $("#table1 .form_main_table tr:eq(1)").height();
    baseHeight += $("#table1 .form_main_table tr:eq(2)").height();
    baseHeight += $("#itemtable thead").height();
    var pageHeight = 1100;//打印页面容器高度设置为1100
	var ua = navigator.userAgent;
	var verIE = ua.match(/MSIE\D?\d+/i);
	if(verIE == null){//非IE浏览器
		var pageHeight = 1030;//打印页面容器高度设置为1030
	}
    var allItemHeight = tbody.height();//所有物料高度
    var itemHeight = pageHeight - baseHeight;//每页物料高度
    var pageCount = Math.ceil(allItemHeight/itemHeight);//分页页数
    var title = $("#table1 .form_main_table tr:eq(0) span").html();//页面标题
    $("#table1 .form_main_table tr:eq(0) span").html(title + "(1/" + pageCount + ")");//标题增加页面信息
    var head = "<div id='printArea1'><table class='form_main_table'><tr>"; //获取出库单信息
    head += $("#table1 .form_main_table tr:eq(0)").html() + "</tr><tr>";
    head += $("#table1 .form_main_table tr:eq(1)").html()+ "</tr><tr>";
    head += $("#table1 .form_main_table tr:eq(2)").html()+ "</tr>";
    var thead ="<thead>"+$("#itemtable thead").html()+"</thead>"; //获取物料清单thead
    var itemTrSum = tbody.children("tr").length;  //获取物料清单数
    var heightSum = 0;
    var page = 1;//默认页码为1
    var itemTable1 = head+"<tr> " +"<td colspan='4'>" +"<table class='main_table'>"+thead+"<tbody>";
    var itemTable2 = "</tbody></table></td></tr></table></div><br/>";
    var tempItemHeight = itemHeight;
    var ids = 'printArea1';
    for(i = 0;i < itemTrSum;i++){
        var trHeight = tbody.children("tr:eq("+i+")").height();
        var tr = "<tr>"+tbody.children("tr:eq("+i+")").html()+"</tr>";
        if(tempItemHeight > trHeight){
            itemTable1 += tr;
            tempItemHeight -= trHeight;
        }else{
            itemTable1 += itemTable2;
            $("#printArea").append(itemTable1);
        	page ++;//页码
        	ids += ',' + 'printArea' + page;//打印按钮参数
            //标题增加页面信息
            $("#table1 .form_main_table tr:eq(0) span").html(title + "(" + page + "/" + pageCount + ")");
            var head = "<div id='printArea" + page + "'><table class='form_main_table'><tr>"; //获取出库单信息
            head += $("#table1 .form_main_table tr:eq(0)").html() + "</tr><tr>";
            head += $("#table1 .form_main_table tr:eq(1)").html()+ "</tr><tr>";
            head += $("#table1 .form_main_table tr:eq(2)").html()+ "</tr>";
            itemTable1 = head+"<tr> " + "<td colspan='4'>" + "<table class='main_table'>" +thead+"<tbody>";
            itemTable1 += tr;
            heightSum = 0;
            tempItemHeight = itemHeight;
        }
    }
    itemTable1 += itemTable2;
    $("#printArea").append(itemTable1);
    $("#printArea").after("<table class='form_main_table'><tr><td class='txt_btn' colspan='4'><input type='button' class='txt_btn_a' onclick='printBatch(&quot;" + ids + "&quot;)' value='打印预览'/>&nbsp;&nbsp;&nbsp;&nbsp;<input type='button' class='txt_btn_a' onclick='printForPickStockout()' value='领料单打印预览'/></td></tr></table>");
    $("#table1 .form_main_table").hide();
});
</script>
</body>
</html>