<!DOCTYPE html>
<html>
<head>
    <title>新增红色其他出库单</title>
    {#commonInclude#}
    <script type="text/javascript" src="js/jquery/combo/business/yxcombogrid-stockinfo.js"></script>
    <script type="text/javascript" src="js/jquery/combo/business/yxcombogrid-customer.js"></script>
    <script type="text/javascript" src="js/jquery/combo/business/yxcombogrid-product.js"></script>
    <script type="text/javascript" src="js/jquery/combo/business/yxcombogrid-allcontract.js"></script>
    <script type="text/javascript" src="js/jquery/combo/business/yxcombogrid-ship.js"></script>

    <script type="text/javascript" src="{#jsPath#}/stockout-stockinfo-combogrid.js"></script>
    <script type="text/javascript" src="{#jsPath#}/stockout-customer-combogrid.js"></script>
    <script type="text/javascript" src="{#jsPath#}/stockout-productinfo-combogrid.js"></script>
    <script type="text/javascript" src="{#jsPath#}/stockout-contract-combogrid.js"></script>
    <script type="text/javascript" src="{#jsPath#}/stockout-reldoc-combogrid.js"></script>
    <script type="text/javascript" src="{#jsPath#}/stockout-common.js?v=201711"></script>
    <script type="text/javascript" src="{#jsPath#}/stockout-other-add.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            reloadItemProduct();
            reloadItemStock();
            $("#itembody").css("color", "red");

            $("#deptName").yxselect_dept({
                hiddenId: 'deptCode'
            });
            $("#pickName").yxselect_user({
                hiddenId: 'pickCode',
                isGetDept: [true, "deptCode", "deptName"]
            });
            //判断是否有审核权限
            if ("{auditLimit}" != "1") {
                $("#auditButton").hide();
            }
            $("#tableDiv").width(document.documentElement.clientWidth - 30);

            var toUse = $("#toUseOpt").val();
            // 呆料报废的红单页面特殊处理
            if(toUse == 'CHUKUDLBF'){
                var itemscount = $("#itemscount").val();
                $("#stockNameShow").show();
                $("#stockNameInput").hide();
                $("#toUseOpt").after("<input type='text' class='readOnlyTxtNormal' value='呆料报废' readonly/>");
                $("#toUseOpt").hide();
                $("#itemscount").prev("img").hide();
                $("#itembody tr td img").hide();
                for(var i=0;i<itemscount;i++){
                    $("#stockName"+i).before("<input type='text' class='readOnlyTxtNormal' value='"+$("#stockName"+i).val()+"' readonly/>");
                    $("#stockName"+i).next("span").hide();
                    $("#stockName"+i).hide();
                    $("#actOutNum"+i).attr('readonly',true);
                    $("#actOutNum"+i).attr('class','readOnlyTxtNormal');
                    $("#serialnoId"+i).prev("img").hide();
                    $("#remark"+i).attr('readonly',true);
                    $("#remark"+i).attr('class','readOnlyTxtNormal');
                    $("#prodDate"+i).attr('readonly',true);
                    $("#prodDate"+i).attr('class','readOnlyTxtNormal');
                    $("#shelfLife"+i).attr('readonly',true);
                    $("#shelfLife"+i).attr('class','readOnlyTxtNormal');
                }
            }
        });
    </script>
</head>
<body>
<form id="form1" method="post" action="?model=stock_outstock_stockout&action=add" onsubmit="return checkForm();">
    <table class="form_main_table">
        <tr>
            <td colspan="4">
                <div class="main_head">
                    <span class="main_head_title">
                        <font color="red">其他出库单</font>
                    </span>
                </div>
            </td>
        </tr>
        <tr>
            <td class="form_text_left">单据日期</td>
            <td class="form_text_right">
                <input type="text" class="txt" name="stockout[auditDate]" id="auditDate" onfocus="WdatePicker()"
                       value="{auditDate}"/>
            </td>
            <td class="form_text_left">出库用途</td>
            <td class="form_text_right">
                <select class="select" id="toUseOpt" name="stockout[toUse]">
                    {toUse}
                </select>
            </td>
        </tr>
        <tr>
            <td class="form_text_left">合同编号</td>
            <td class="form_text_right">
                <input type="text" class="txt" name="stockout[contractCode]" id="contractCode" value="{contractCode}"/>
                <input type="hidden" name="stockout[contractType]" id="contractType" value="{contractType}"/>
                <input type="hidden" name="stockout[contractId]" id="contractId" value="{contractId}"/>
                <input type="button" value="查看合同审批" class="txt_btn_a" onclick="viewContracAudit()"/></td>
            <td class="form_text_left">合同名称</td>
            <td class="form_text_right">
                <input type="text" class="readOnlyTxtNormal" name="stockout[contractName]" id="contractName"
                       value="{contractName}" readonly/>
            </td>
        </tr>
        <tr>
            <td class="form_text_left">借出开始时间</td>
            <td class="form_text_right">
                <input type="text" class="txt" name="stockout[outStartDate]" onfocus="WdatePicker()"
                       value="{outStartDate}"/>
            </td>
            <td class="form_text_left">借出结束时间</td>
            <td class="form_text_right">
                <input type="text" class="txt" name="stockout[outEndDate]" onfocus="WdatePicker()"
                       value="{outEndDate}"/>
            </td>
        </tr>
        <tr>
            <td class="form_text_left">源单类型</td>
            <td class="form_text_right">
                <input type="text" id="relDocTypeName" class="readOnlyTxtNormal" value="{relDocTypeName}" readonly/>
                <input type="hidden" name="stockout[relDocType]" id="relDocType" value="{relDocType}"/>
            </td>
            <td class="form_text_left">源单编号</td>
            <td class="form_text_right">
                <input type="text" class="readOnlyTxtNormal" name="stockout[relDocCode]" value="{relDocCode}" readonly/>
                <input type="hidden" name="stockout[relDocId]" value="{relDocId}"/>
                <input type="hidden" name="stockout[relDocName]" value="{relDocName}"/>
            </td>
        </tr>
        <tr>
            <td class="form_text_left">客户(单位)名称</td>
            <td class="form_text_right">
                <input type="text" class="txt" name="stockout[customerName]" id="customerName" value="{customerName}"/>
                <input type="hidden" name="stockout[customerId]" id="customerId" value="{customerId}"/>
            </td>
            <td class="form_text_left">发货联系人</td>
            <td class="form_text_right">
                <input type="text" class="txt" name="stockout[linkmanName]" value="{linkmanName}"/>
                <input type="hidden" name="stockout[linkmanId]" value="{linkmanId}"/>
            </td>
        </tr>
        <tr>
            <td class="form_text_left">领料部门名称</td>
            <td class="form_text_right">
                <input type="text" class="txt" name="stockout[deptName]" id="deptName" value="{deptName}"/>
                <input type="hidden" name="stockout[deptCode]" id="deptCode" value="{deptCode}"/>
            </td>
            <td class="form_text_left">领料人名称</td>
            <td class="form_text_right">
                <input type="text" class="txt" name="stockout[pickName]" id="pickName" value="{pickName}"/>
                <input type="hidden" name="stockout[pickCode]" id="pickCode" value="{pickCode}"/>
            </td>
        </tr>
        <tr>
            <td class="form_text_left">发料仓库</td>
            <td class="form_text_right" id="stockNameShow" style="display: none;">
                <input type="text" class="readOnlyTxtNormal" value="{stockName}" readonly/>
            </td>
            <td class="form_text_right" id="stockNameInput">
                <input type="text" class="txt" name="stockout[stockName]" id="stockName" value="{stockName}"/>
                <input type="hidden" class="txt" name="stockout[stockId]" id="stockId" value="{stockId}"/>
                <input type="hidden" class="txt" name="stockout[stockCode]" id="stockCode" value="{stockCode}"/>
            </td>
            <td class="form_text_left">保修状况</td>
            <td class="form_text_right">
                <select class="select" name="stockout[isWarranty]" id="isWarranty">
                    {isWarranty}
                </select>
            </td>
        </tr>
        <tr>
	        <td class="form_text_left">所属板块</td>
	    	<td class="form_text_right" colspan="3">
		        <select class="select" name="stockout[module]" id="module">
		            {module}
		        </select>
	    	</td>
	    </tr>
        <tr>
            <td class="form_text_left">备注</td>
            <td colspan=3 class="form_text_right">
                <textarea style="width:80%" name="stockout[remark]">{remark}</textarea>
            </td>
        </tr>
        <tr>
            <td colspan="4">
                <div id="tableDiv" style="width: 1000px; height: 300px; overflow-y: auto; overflow-x: auto">
                    <table class="main_table" id="itemtable">
                        <thead>
                        <tr>
                            <td colspan="16" class="form_header">
                                物料清单
                                &nbsp;&nbsp; <span id="proTipInfo" style="color:#6CA6CD;text-align:center"></span>
                            </td>
                        </tr>
                        <tr class="main_tr_header">
                            <th>
                                <img src="images/add_item.png" align="absmiddle" onclick="addItems();" title="新增物料"
                                     alt="新增物料"/>
                                <input type="hidden" id="itemscount" value="{itemscount}"/>
                            </th>
                            <th>序号</th>
                            <th>物料编码</th>
                            <th>物料分类</th>
                            <th>k3编码</th>
                            <th>物料名称</th>
                            <th>规格型号</th>
                            <th>单位</th>
                            <th>数量</th>
                            <th>发料仓库</th>
                            <th>序列号</th>
                            <th>单价</th>
                            <th>金额</th>
                            <th>备注</th>
                            <th>生产/采购日期</th>
                            <th>保质期(天)</th>
                        </tr>
                        </thead>
                        <tbody id="itembody">
                        {stockoutItems}
                        </tbody>
                    </table>
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="4">
                <input type="hidden" name="stockout[isRed]" id="isRed" value="1"/>
                <input type="hidden" name="stockout[docType]" id="docType" value="{docType}"/>
                <input type="hidden" name="stockout[docStatus]" id="docStatus" value="WSH"/>
                <input type="hidden" name="stockout[orgId]" id="orgId" value="{orgId}"/>
                <input type="submit" value=" 保 存 " class="txt_btn_a"/>
                <input type="button" id="auditButton" value=" 审 核 " class="txt_btn_a"
                       onclick="return confirmAudit();"/>
                <input type="button" value=" 返 回 " class="txt_btn_a" onclick="closeFun()"/>
            </td>
        </tr>
    </table>
</form>
</body>
</html>