<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
		<link rel="stylesheet" type="text/css" href="css/yxstyle.css">
		<title>
			添加节点
		</title>
	</head>
	<body>
		<table class="form_main_table">
			<tr>
				<th class="main_tr_header" colspan="4">节点信息</th>
			</tr>
			<tr>
				<td class="form_text_left">
					节点名称
				</td>
				<td class="form_text_right">
					{nodeName}
					<input class="txt" type="hidden" name="rdtnode[id]" value="{id}">
				</td>
				<!--td class="form_text_left">
					所属节点
				</td>
				<td class="form_text_right">
					<input class="txt" type="text" id="parentName" name="tknode[parentName]">
					<input type="hidden" id="parentId" name="tknode[parentId]" value="-1">
					<input type="hidden" name="tknode[projectName]" value="测试项目4">
					<input type="hidden" name="tknode[projectId]" value="94">
					<input type="hidden" name="tknode[planName]" value="BBB">
					<input type="hidden" id="planId" name="tknode[planId]" value="31">
				</td-->
			</tr>
			<tr>
				<td class="form_text_left">
					节点描述
				</td>
				<td class="form_text_right">
					<textarea name="rdtnode[remark]" class="textarea_read">{remark}</textarea>
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<input name="" type="button" class="txt_btn_a" value=" 关闭 " onclick="self.parent.tb_remove();">
				</td>
			</tr>
		</table>
	</body>

</html>