<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
		<link rel="stylesheet" type="text/css" href="css/yxstyle.css">
		<link rel="stylesheet" type="text/css" href="js/thickbox.css">
		<link rel="stylesheet" type="text/css" href="js/jquery/style/Validator.css"
		/>
		<script type="text/javascript" src="js/jquery/jquery-1.4.2.js">
		</script>
		<script type="text/javascript" src="js/thickbox.js">
		</script>
		<script type="text/javascript" src="js/jquery/formValidator.js" charset="UTF-8">
		</script>
		<script type="text/javascript" src="js/jquery/formValidatorRegex.js" charset="UTF-8">
		</script>
		<script type="text/javascript" src="js/DatePicker/WdatePicker.js">
		</script>
		<script type="text/javascript" src="view/template/rdproject/template/js/rdtnode-formValidator.js">
		</script>
		<script type="text/javascript" src="js/common/businesspage.js">
		</script>
		<title>
			添加节点
		</title>
	</head>
	<body>
		<form id="form1" action="?model=rdproject_template_rdtnode&action=editSimple" method="POST">
			<table class="form_main_table">
				<tr>
					<th class="main_tr_header" colspan="4">编辑节点</th>
				</tr>
				<tr>
					<td class="form_text_left">
						节点名称
					</td>
					<td class="form_text_right" colspan="3">
						<input class="txt" type="text" name="rdtnode[nodeName]" id="nodeEl" value="{nodeName}">
						<input class="txt" type="hidden" name="rdtnode[id]" value="{id}">
						<span class='red'>
							[*]
						</span>
						<br/>
						<div id="nodeElTip" class="tipShortTxt">
						</div>
					</td>
					<!--td class="form_text_left">
						所属节点
					</td>
					<td class="form_text_right">
						<input class="txt" type="text" id="parentName" name="tknode[parentName]">
						<input type="hidden" id="parentId" name="tknode[parentId]" value="-1">
						<input type="hidden" name="tknode[projectName]" value="测试项目4">
						<input type="hidden" name="tknode[projectId]" value="94">
						<input type="hidden" name="tknode[planName]" value="BBB">
						<input type="hidden" id="planId" name="tknode[planId]" value="31">
					</td-->
				</tr>
				<tr>
					<td class="form_text_left">
						节点描述
					</td>
					<td class="form_text_right" colspan="3">
						<textarea name="rdtnode[remark]" class="txt_txtarea_font">{remark}</textarea>
					</td>
				</tr>
				<tr>
					<td colspan="4">
						<input name="" type="submit" class="txt_btn_a" value=" 保存 ">
						<input name="" type="button" class="txt_btn_a" value=" 返回 " onclick="self.parent.tb_remove();">
					</td>
				</tr>
			</table>
		</form>
	</body>

</html>