<html>
<head>
    <title>查看采购申请单</title>
    <meta http-equiv="Content-Type" content="text/html; charset=gb2312">
    <link rel="stylesheet" type="text/css" href="js/thickbox.css" />
<link rel="stylesheet" type="text/css" href="css/yxstyle.css" />

<script type="text/javascript" src="js/jquery/jquery-1.4.2.js"></script>

<script type="text/javascript" src="js/common/businesspage.js"></script>
<script type="text/javascript" src="js/common/checkBoxTab.js"></script>
</head>
	<body >
		<table>
			<tr>
				<td>
					<img src="images/sys_config.gif">
						<b>
							<font color="#000000">查看采购申请单</font>
						</b>
				</td>
			</tr>
		</table>
	<div class="main_wraper">
	<table  class="form_main_table">
			<tr>
				<td colspan="4" class="form_header">
					<font face="宋体" size="3">采购申请单</font>
				</td>
			</tr>

			<tr>
				<td class="form_text_left" >
					采购申请单编号
				</td>
				<td class="form_text_right">
					&nbsp;{applybasic[applyNumb]}
				</td>
				<td class="form_text_left" >
					申请人
				</td>
				<td class="form_text_right">
					&nbsp;{applybasic[createName]}
				</td>
			</tr>
			<tr>
				<td class="form_text_left" >
					预计到货日期
				</td>
				<td class="form_text_right">
					&nbsp;{applybasic[dateHope]}
				</td>
				<td class="form_text_left" >
					实际完成时间
				</td>
				<td class="form_text_right">
					&nbsp;{applybasic[dateFact]}
				</td>
			</tr>
			<tr>
				<td class="form_text_left"  >
					供应商名称
				</td>
				<td  class="form_text_right">
					&nbsp;{applybasic[suppName]}
				</td>
				<td class="form_text_left" >
					发票类型
				</td>
				<td  class="form_text_right">
					&nbsp;{applybasic[billingType]}
				</td>
			</tr>
			<tr>
				<td class="form_text_left" >
					联系电话
				</td>
				<td class="form_text_right">
					&nbsp;{applybasic[suppTel]}
				</td>
				<td class="form_text_left" >
					开户银行
				</td>
				<td  class="form_text_right">
					&nbsp;{applybasic[suppBank]}
				</td>
			</tr>
			<tr >
				<td class="form_text_left" >
					供应商账号
				</td>
				<td class="form_text_right">
					&nbsp;{applybasic[suppAccount]}
				</td>
				<td class="form_text_left" >
					付款类型
				</td>
				<td class="form_text_right">
					&nbsp;{applybasic[paymetType]}
				</td>
			</tr>
			<tr >
				<td class="form_text_left" >
					供应商地址
				</td>
				<td  class="form_text_right" colspan="3">
					&nbsp;{applybasic[suppAddress]}
				</td>
			</tr>
			<tr>
				<td colspan="6" class="td_table">
					<table class="main_table_nested">
					<thead>
						<tr height="30px" class="tablecontrol">
							<td colspan="9" class="main_tr_header">
								&nbsp;&nbsp;<font>采购清单：</font>
							</td>
						</tr>
						<tr class="main_tr_header">
							<th width="5%">
								序号
							</th>
							<th  width="16%">
								设备编号/名称
							</th>

							<th  width="10%">
								采购类型
							</th>
							<th width="8%">
								申请单数量
							</th>
							<th width="8%">
								已到货数量
							</th>
							<th >
								期望到货时间
							</th>
							<th width="8%">
								申请单价
							</th>
							<th>
								备注
							</th>
						</tr>
					</thead>
						{list}
					</table>
				</td>
			</tr>
			<tr >
				<td class="form_text_left">
					采购说明
				</td>
				<td colspan="3" class="form_text_right" >
					<textarea rows="5" id="instruction" name="applybasic[instruction]" cols="136" readOnly>{applybasic[instruction]}</textarea>
				</td>
			</tr>
			<tr>
				<td class="form_text_left">
					备注
				</td>
				<td colspan="3" class="form_text_right">
					<textarea rows="5" id="remark" name="applybasic[remark]" cols="136" readOnly>{applybasic[remark]}</textarea>
				</td>
			</tr>
			{showExa}
			{goback}
		</table>
		<br>
	</div>
	</body>
</html>