<html>
<head>
    <title>采购申请单</title>
    <meta http-equiv="Content-Type" content="text/html; charset=gb2312">
    <link rel="stylesheet" type="text/css" href="css/nav_tab.css">
    <link rel="stylesheet" href="images/style.css" type="text/css">
    <script type="text/javascript" src="js/jquery.js"></script>
    <style>
    .tdPadding{
        padding-left:5px;
    }
    </style>
    <script language="javascript" >
		//搜索
		function search(){
			var applyNumb=$('#applyNumb').val();
			var changeNumb=$('#changeNumb').val();

			location="?model=purchase_apply_applychange&action=myApproval&clickNumb={clickNumb}&applyNumb="+applyNumb+"&changeNumb="+changeNumb;
		}
    </script>
</head>
<body scroll="yes">
<table border="0" width="100%" cellspacing="0" cellpadding="3" class="small">
  <tr>
    <td class="Big"><img src="images/sys_config.gif"><b><font color="#000000"> 采购申请单审批</font></b>
    </td>
  </tr>
</table>
{topPlan}
<table id="myTab" width="98%" border="0" cellspacing="0" cellpadding="0" class="table" align="center">
	<tr class="tablecontrol" height="28px">
		<td colspan="15" align="left">
			&nbsp;变更单编号：<input type="text" name="changeNumb" id="changeNumb" value="{changeNumb}">
			&nbsp;采购申请单编号：<input type="text" name="applyNumb" id="applyNumb" value="{applyNumb}">
			<input type="button" value="搜索"  onclick="search();">
		</td>
	</tr>
    <tr height="28" align="center" class="tableheader">
        <td    height="30" width="6%">
            	序号
        </td>
        <td   width="12%">
            审批单号
        </td>
        <td >
            采购申请变更单编号
        </td>
        <td >
            采购申请单编号
        </td>
        <td   width="12%">
            申请人
        </td>
        <td   width="15%">
            申请日期
        </td>
        <td width="10%">
			操作
		</td>
    </tr>
    {list}
</table>
<br>
</body>
</html>