<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>项目列表</title>
<link rel="stylesheet" type="text/css" href="css/yxstyle.css" />
<link rel="stylesheet" href="js/thickbox.css" type="text/css"
	media="screen" />
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/common/businesspage.js"></script>
<script type="text/javascript" src="js/tab.js"></script>

<script type="text/javascript" src="js/thickbox.js"></script>




</head>
<body>
<div class="main_head"><span class="main_head_title">未提交项目</span>
</div>

<div class="main_wraper">

<table class="main_table_search">
	<tr>
		<td>
			输入关键字：
				<input type="text" class="txt" id="searchvalue" name="searchvalue" value="" />
			按
				<select id="searchfield" class="select">
			<option>项目编号</option>

		</select>
		<input type="button" name="" class="txt_btn_a" value="搜索" onclick="search();">
		<input type="button" name="" class="txt_btn_a" value="高级搜索">

		<td></td>

	</tr>
</table>
<table class="main_table">
	<thead>
		<tr class="main_tr_header">
			<th width="2%">序号</th>
			<th width="5%">项目编号</th>
			<th width="10%">项目名称</th>
			<th width="5%">客户姓名</th>
			<th width="5%">客户类型</th>
			<th width="7%">负责人姓名</th>
			<th width="5%">操作</th>

		</tr>

	</thead>
		<tr class="tr_even">
			<td>1</td>
            <td>DL-123-321</td>
			<td>商务项目1</td>
			<td>客户</td>
			<td>日常支出</td>
			<td>admin</td>
            <td><a href="#" onclick="showOpenWin('?model=contract_business_business&action=toview')">查看 </a>|
                <a href="#" onclick="showThickboxWin('?model=contract_business_business&action=toreview&placeValuesBefore&TB_iframe=true&modal=false&height=900&width=900')">提交审批</a></td>
		</tr>
		<tr class="tr_odd">
			<td>2</td>
            <td>DL-123-321</td>
			<td>商务项目2</td>
			<td>客户</td>
			<td>日常支出</td>
			<td>admin</td>
            <td><a href="#" onclick="showOpenWin('?model=contract_business_business&action=toview')">查看 </a>|
                <a href="#" onclick="showThickboxWin('?model=contract_business_business&action=toreview&placeValuesBefore&TB_iframe=true&modal=false&height=900&width=900')">提交审批</a></td>
		</tr>
		<tr class="tr_even">
			<td>3</td>
            <td>DL-123-321</td>
			<td>商务项目</td>
			<td>客户</td>
			<td>日常支出</td>
			<td>admin</td>
            <td><a href="#" onclick="showOpenWin('?model=contract_business_business&action=toview')">查看 </a>|
                <a href="#" onclick="showThickboxWin('?model=contract_business_business&action=toreview&placeValuesBefore&TB_iframe=true&modal=false&height=900&width=900')">提交审批</a></td>
		</tr>
		<tr class="tr_even">
			<td>4</td>
            <td>DL-123-321</td>
			<td>商务项目</td>
			<td>客户</td>
			<td>日常支出</td>
			<td>admin</td>
            <td><a href="#" onclick="showOpenWin('?model=contract_business_business&action=toview')">查看 </a>|
                <a href="#" onclick="showThickboxWin('?model=contract_business_business&action=toreview&placeValuesBefore&TB_iframe=true&modal=false&height=900&width=900')">提交审批</a></td>
		</tr>
		<tr class="tr_odd">
			<td>5</td>
            <td>DL-123-321</td>
			<td>商务项目</td>
			<td>客户</td>
			<td>日常支出</td>
			<td>admin</td>
            <td><a href="#" onclick="showOpenWin('?model=contract_business_business&action=toview')">查看 </a>|
                <a href="#" onclick="showThickboxWin('?model=contract_business_business&action=toreview&placeValuesBefore&TB_iframe=true&modal=false&height=900&width=900')">提交审批</a></td>
		</tr>
		<tr class="tr_even">
			<td>6</td>
            <td>DL-123-321</td>
			<td>商务项目</td>
			<td>客户</td>
			<td>日常支出</td>
			<td>admin</td>
            <td><a href="#" onclick="showOpenWin('?model=contract_business_business&action=toview')">查看 </a>|
                <a href="#" onclick="showThickboxWin('?model=contract_business_business&action=toreview&placeValuesBefore&TB_iframe=true&modal=false&height=900&width=900')">提交审批</a></td>
		</tr>
		<tr class="tr_even">
			<td>7</td>
            <td>DL-123-321</td>
			<td>商务项目</td>
			<td>客户</td>
			<td>日常支出</td>
			<td>admin</td>
            <td><a href="#" onclick="showOpenWin('?model=contract_business_business&action=toview')">查看 </a>|
                <a href="#" onclick="showThickboxWin('?model=contract_business_business&action=toreview&placeValuesBefore&TB_iframe=true&modal=false&height=900&width=900')">提交审批</a></td>
		</tr>
		<tr class="tr_odd">
			<td>8</td>
            <td>DL-123-321</td>
			<td>商务项目</td>
			<td>客户</td>
			<td>日常支出</td>
			<td>admin</td>
            <td><a href="#" onclick="showOpenWin('?model=contract_business_business&action=toview')">查看 </a>|
                <a href="#" onclick="showThickboxWin('?model=contract_business_business&action=toreview&placeValuesBefore&TB_iframe=true&modal=false&height=900&width=900')">提交审批</a></td>
		</tr>
		<tr class="tr_even">
			<td>9</td>
            <td>DL-123-321</td>
			<td>商务项目</td>
			<td>客户</td>
			<td>日常支出</td>
			<td>admin</td>
            <td><a href="#" onclick="showOpenWin('?model=contract_business_business&action=toview')">查看 </a>|
                <a href="#" onclick="showThickboxWin('?model=contract_business_business&action=toreview&placeValuesBefore&TB_iframe=true&modal=false&height=900&width=900')">提交审批</a></td>
		</tr>
</table>
</div>
<div class="main_foot_wraper">
<ul class="main_foot_menu">
	<li><img src="images/tab_pages_home.gif" width="16" height="16"
		vspace="5" /></li>
	<li><img src="images/tab_pages_prev.gif" width="16" height="16"
		vspace="5" /></li>
	<li>第</li>
	<li class="font">
	<div align="center"><input name="textfield" type="text"
		class="txt" size="5" /></div>
	</li>
	<li>页</li>
	<li><img src="images/tab_pages_go.gif" width="20" height="20"
		vspace="3" /></li>
	<li><img src="images/tab_pages_next.gif" width="16" height="16"
		vspace="5" /></li>
	<li><img src="images/tab_pages_end.gif" width="16" height="16"
		vspace="5" /></li>
	<li><img src="images/tab_pages_line.gif" width="16" height="16"
		vspace="5" /></li>
	<li>共120页</li>
	<li><img src="images/tab_pages_line.gif" width="16" height="16"
		vspace="5" /></li>
	<li>每页显示</li>
	<li>
	<div align="center"><select name="select">
		<option>10</option>
		<option>20</option>
	</select></div>
	</li>
	<li>条</li>
</ul>
</div>