<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en_US" xml:lang="en_US">
	<head>
		<title>
			查看到款核销记录
		</title>
		{#commonInclude#}
		<script type="text/javascript" src="{#jsPath#}/incomecheck-view.js"></script>
	</head>
	<body>
		<table class="form_main_table">
			<tr>
				<td colspan="4">
					<div class="main_head">
						<span class="main_head_title">
							查看到款核销记录
						</span>
					</div>
				</td>
			</tr>
			<tr>
				<td class="form_text_left">
					合同编号
				</td>
				<td class="form_text_right">
					{contractCode}
				</td>
				<td class="form_text_left">
					合同名称
				</td>
				<td class="form_text_right">
					{contractName}
				</td>
			</tr>
			<tr>
				<td class="form_text_left">
					付款条件
				</td>
				<td class="form_text_right">
					{payConName}
				</td>
				<td class="form_text_left">
					核销日期
				</td>
				<td class="form_text_right">
					{checkDate}
				</td>
			</tr>
			<tr>
				<td class="form_text_left">
					源单类型
				</td>
				<td class="form_text_right">
					{incomeType}
				</td>
				<td class="form_text_left">
					源单编号
				</td>
				<td class="form_text_right">
					{incomeNo}
				</td>
			</tr>
			<tr>
				<td class="form_text_left">
					核销金额
				</td>
				<td class="form_text_right">
					<span class="formatMoney">{checkMoney}</span>
				</td>
                <td class="form_text_left">
                    是否红字
                </td>
                <td class="form_text_right">
                    {isRed}
                </td>
			</tr>
			<!--tr>
				<td class="form_text_left">
					审核状态
				</td>
				<td class="form_text_right">
					{auditStatus}
				</td>
			</tr>
			<tr>
				<td class="form_text_left">
					审 核 人
				</td>
				<td class="form_text_right">
					{auditorName}
				</td>
				<td class="form_text_left">
					审核时间
				</td>
				<td class="form_text_right">
					{auditDate}
				</td>
			</tr-->
			<tr>
				<td class="form_text_left">
					备注信息
				</td>
				<td class="form_text_right" colspan="3">
					{remark}
				</td>
			</tr>
			<tr>
				<td class="form_text_left">
					创 建 人
				</td>
				<td class="form_text_right">
					{createName}
				</td>
				<td class="form_text_left">
					创建时间
				</td>
				<td class="form_text_right">
					{createTime}
				</td>
			</tr>
			<tr>
				<td class="form_text_left">
					修 改 人
				</td>
				<td class="form_text_right" width="30%">
					{updateName}
				</td>
				<td class="form_text_left">
					修改时间
				</td>
				<td class="form_text_right">
					{updateTime}
				</td>
			</tr>
			<tr>
				<td class="txt_btn" colspan="4">
					<input type="hidden" id="id" value="{id}" />
					<input type="button" class="txt_btn_a" value=" 关  闭 " onclick="self.parent.tb_remove();"/>
				</td>
			</tr>
		</table>
	</body>
</html>