<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>操作记录列表显示</title>
<link rel="stylesheet" type="text/css" href="css/yxstyle.css" />
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/common/businesspage.js"></script>
<script type="text/javascript" src="{jsUrl}"></script>
<script type="text/javascript">
	            $(document).ready(function() {
            	//显示tab表头
                topTabShow({varName}, "{tabId}","{objId}");
            });
</script>
</head>

<body>
<div class="tab_options"></div>
<div class="main_head"><span class="main_head_title">
操作记录列表显示 </span></div>
<div class="main_wraper">

<table class="main_table">
	<thead>
		<tr class="main_tr_header">
			<th width="10%">序号</th>
			<th width="10%">操作人</th>
			<th width="10%">操作时间</th>
			<th width="30%">操作类型</th>
			<th width="40%">操作记录</th>

		</tr>
	</thead>
	<tbody>
		{list}
	</tbody>
</table>
</div>
{pageDiv}
</body>

</html>