<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en_US" xml:lang="en_US">
<head>
	<title>编辑固定资产借用信息</title>
	<meta http-equiv="Content-Type" content="text/html;charset=gb2312"/>
	{#commonInclude#}
	<script type="text/javascript" src="js/jquery/combo/business/yxcombogrid-customer.js"></script>
	<script type="text/javascript" src="js/jquery/combo/business/yxcombogrid-assetrequireitem.js"></script>
	 <script type="text/javascript" src="js/jquery/combo/business/yxcombogrid-asset.js"></script>
       <script type="text/javascript" src="view/template/asset/daily/js/borrow-edit.js"></script>

<!-- 附件上传开始 -->
<script type="text/javascript" src="swfupload/swfupload.js"></script>
<script type="text/javascript" src="swfupload/swfupload.queue.js"></script>
<script type="text/javascript" src="swfupload/fileprogress.js"></script>
<script type="text/javascript" src="swfupload/handlers.js"></script>
<link rel="stylesheet" type="text/css" href="swfupload/upload.css">
<script>
	var uploadfile;
	$(function() {
		uploadfile=createSWFUpload({
			"serviceType":"oa_asset_borrow",
			"serviceId":"{id}"
		});
	});
</script>
</head>
<body>
<form  id="form1" action="?model=asset_daily_borrow&action=edit" method="post" >

<div align="center">
<table  class='form_main_table' align="center">
<tr><td colspan="4">
	<div class="main_head">
	    <span class="main_head_title">
	      	编辑固定资产借用信息
	    </span>
	</div>
	</td>
</tr>
	<tr >
		<td class="form_text_left">借用单编号</td>
		<td class="form_view_right" colspan=3>
			<input id="requireId" type="hidden" name="borrow[requireId]" value="{requireId}" class="readOnlyTxtNormal" readonly/>
			<input id="billNo" type="text" name="checktask[billNo]" value="{billNo}" class="readOnlyTxtNormal" readonly/>
			<span id="_customerName" class="red">[*]</span>
		</td>

<!--		<td class="form_text_left">借用客户</td>-->
<!--		<td class="form_view_right">-->
<!--		    <input id="borrowCustomeId" type="hidden" name="borrow[borrowCustomeId]" value="{borrowCustomeId}"/>-->
<!--			<input id="borrowCustome" type="text" name="borrow[borrowCustome]" class="txt" value="{borrowCustome}" readOnly/>-->
<!--		    </td>-->
	</tr>
	<tr >
	    <td class="form_text_left">责任人</td>
		<td class="form_view_right">
		   <input id="reposeManId" type="hidden" name="borrow[reposeManId]" value="{reposeManId}"/>
            <input id="reposeMan" type="text" name="borrow[reposeMan]" class="txt" value="{reposeMan}" readOnly/>

		   <span  class="red">[*]</span></td>
	    <td class="form_text_left">借用部门</td>
		<td class="form_view_right" >
		    <input id="deptId" type="hidden" name="borrow[deptId]" />
		    <input class="readOnlyText" type="text" name="borrow[deptName]" size="25" id="deptName" readonly value="{deptName}"/><span  class="red">[*]</span>
	    </td>

	</tr>
	<tr>
		<td class="form_text_left">借用日期</td>
		<td class="form_view_right">
		<input class="txt" type="text" id="borrowDate" name="borrow[borrowDate]" onblur="checkForm(this)" size="20" onfocus="WdatePicker()" value="{borrowDate}"/> <span id="_linkmanName" class="red">[*]</span></td>

		<td class="form_text_left">预计归还日期</td>
		<td class="form_view_right">
		<input class="txt" type="text" id="predictDate" name="borrow[predictDate]" onblur="checkForm(this)" size="20" onfocus="WdatePicker()"  value="{predictDate}"/> <span id="_linkmanName" class="red">[*]</span></td>

	</tr>
	<tr>
		<td class="form_text_left">附件</td>
		<td class="form_view_right">
			<div class="upload">
				<div class="upload" id="fsUploadProgress"></div>
				<div class="upload"><span id="swfupload"></span> <input
					id="btnCancel" type="button" value="中止上传"
					onclick="cancelQueue(uploadfile);" disabled="disabled" /> <br />
				</div>
				<div id="uploadfileList" class="upload">{file}</div>
			</div>
		</td>
	    <td class="form_text_left">借用申请人</td>
		<td class="form_view_right" colspan="3">
		    <input id="chargeManId" type="hidden" name="borrow[chargeManId]" value="{chargeManId}"/>
			<input id="chargeMan" type="text" name="borrow[chargeMan]" readonly class="readOnlyTxtNormal" value="{chargeMan}"/>
			<span id="_customerName" class="red">[*]</span>
		</td>
	</tr>

<tr >
		<td class="form_text_left">备注</td>
		<td class="form_view_right" colspan="3"><textarea class="txt_txtarea_font" rows="5"
			name="borrow[remark]" style="width:80%">{remark}</textarea></td>
	</tr>
	</table>
	<div id="borrowTable"></div>

<table>
	<tr>
		<td class="" colspan="4">
           <input type="hidden" name="borrow[ExaStatus]" id="ExaStatus" value="{ExaStatus}"  />
         <input type="hidden" id="borrowId"  name="borrow[id]" value="{id}"/>
		<input class="txt_btn_a" type="submit" value="保存"/>
<!--		 <input type="button" class="txt_btn_a" value=" 提交审核 " onclick="confirmAudit();" />-->
		<input class="txt_btn_a" type="button" value="关闭" onclick="closeFun();" />
		</td>
	</tr>
</table>
</div>
</form>
</body>
</html>