
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en_US" xml:lang="en_US">
<head>
	<title>查看资产维保申请</title>
	<meta http-equiv="Content-Type" content="text/html;charset=gb2312"/>
	{#commonInclude#}
	<script type="text/javascript" src="js/jquery/combo/business/yxcombogrid-asset.js"></script>
    <script type="text/javascript" src="view/template/asset/daily/js/keep-view.js" >
        </script>
</head>
<body>
<div class="main_head">
    <span class="main_head_title">
      	查看资产维保申请
    </span>
</div>

<table class="form_main_table">
<tr>
		<tr>
			<td class="form_text_left">
				维保单编号：
			</td>
			<td class="form_text_right">{billNo}
			</td>
			<td class="form_text_left">
				维保类型
			</td>
			<td class="form_text_right"><span id="keepType">{keepType}</span>
			</td>
		</tr>

		<tr>
			<td class="form_text_left">
				申请人：
			</td>
			<td class="form_text_right">{keeper}
			</td>
			<!-- <td class="form_text_left">
				维保申请时间：
			</td>
			<td class="form_text_right">{applyDate}
			</td> -->
            <td class="form_text_left">
				维保部门：
			</td>
			<td class="form_text_right">{deptName}
			</td>
		</tr>
		<tr>

			<td class="form_text_left">
				维保时间：
			</td>
			<td class="form_text_right">{keepDate}
			</td>
			<td class="form_text_left">
				维保总金额：
			</td>
			<td class="form_text_right">
			<span id="keepAmount" class="formatMoney">{keepAmount}</span>

            </td>
		</tr>
		<tr>
			<td class="form_text_left">备注：</td>
			<td colspan="6" class="form_text_right">
			<textarea class="textarea_read" name="keep[remark]" readonly>{remark}</textarea>
			</td>
		</tr>
</table>

<div id="purchaseProductTable"></div>

<table class="form_main_table">
<tr>
		<td class="txt_btn" colspan="4">
		  <input  type="hidden" id="showBtn" value="{showBtn}" />
		<input name="close" id="btn" type="button" class="txt_btn_a" value=" 关 闭 "  onclick="closeFun();" />
		<input type="hidden" id="keepId" name="keep[id]" value="{id}"/></td>
		</td>
</tr>
</table>
</body>
</html>

