
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en_US" xml:lang="en_US">
<head>
	<title>借用资产归还申请</title>
	<meta http-equiv="Content-Type" content="text/html;charset=gb2312"/>
	{#commonInclude#}
	<script type="text/javascript" src="js/jquery/combo/business/yxcombogrid-asset.js"></script>
   <script type="text/javascript" src="view/template/asset/daily/js/return-borrow-add.js" ></script>
</head>
<body>
<div class="main_head">
    <span class="main_head_title">
      	添加借用资产归还申请
    </span>
</div>
<form id="form1" method="post" action="?model=asset_daily_return&action=add" name="form1" >
<table class="form_main_table">

		 <tr>
<!--			<td class="form_text_left">-->
<!--				归还单编号：-->
<!--			</td>-->
<!--			<td class="form_text_right">-->
<!--				<input type="text" name="return[billNo]" id="billNo" value="{billNo}" class="readOnlyTxtNormal" readonly />-->
<!--				<span class="red">[*]</span>-->
<!--			</td>-->
			<td class="form_text_left">
				借用单编号：
			</td>
			<td class="form_text_right">
				<input type="hidden" name="return[returnType]" id="returnType" value="oa_asset_borrow" class="txt" />
				<input type="hidden" name="return[borrowId]" id="borrowId" value="{borrowId}" class="readOnlyTxtNormal" readonly />
				<input type="text" name="return[borrowNo]" id="borrowNo" value="{borrowNo}" class="readOnlyTxtNormal" readonly />
			</td>
			<td class="form_text_left">责任区域</td>
			<td class="form_text_right">
				 <input type="hidden" class="txt" name="return[agencyCode]" id="agencyCode" value="{agencyCode}" />
				 <input type="text" class="readOnlyTxtNormal" name="return[agencyName]" id="agencyName" value="{agencyName}" />
<!--				<span class="red">[*]</span>-->
			</td>
		</tr>
		<tr>
			<td class="form_text_left">
				归还人：
			</td>
			<td class="form_text_right">
			    <input type="hidden" name="return[returnManId]" id="returnManId" value="{returnManId}" class="txt"  />
				<input type="text" name="return[returnMan]" id="returnMan" value="{returnMan}" class="txt" readonly  />
			</td>
			<td class="form_text_left">
				归还时间：
			</td>
			<td class="form_text_right">
				<input type="text" name="return[returnDate]" id="returnDate" value="{returnDate}" class="txt" onfocus="WdatePicker()"  />
			</td>

		</tr>
		<tr>
			<td class="form_text_left">
				归还部门名称：
			</td>
			<td class="form_text_right">
			 <input type="hidden" name="return[deptId]" id="deptId" value="{deptId}"  />
			 <input type="text" name="return[deptName]" id="deptName" value="{deptName}" class="readOnlyTxtNormal" readonly/>
			</td>
			<td class="form_text_left">
				归还公司名称：
			</td>
			<td class="form_text_right">
			 <input type="hidden" name="return[applyCompanyCode]" id="applyCompanyCode" value="{applyCompanyCode}"  />
			 <input type="text" name="return[applyCompanyName]" id="applyCompanyName" value="{applyCompanyName}" class="readOnlyTxtNormal" readonly/>
			</td>
		</tr>
		<tr>
			<td class="form_text_left">备注：</td>
			<td colspan="6" class="form_text_right">
				<textarea class="txt_txtarea_font" rows="6" name="return[remark]" id="remark" cols="78"></textarea>
			</td>
		</tr>
</table>

<div id="borrowTable"></div>

<table class="form_main_table">
<tr>
		<td class="txt_btn" colspan="4">
<!--		   <input  type="submit" class="txt_btn_a" value=" 保  存 "/>-->
		   <input type="hidden" id="ExaStatus" name="return[ExaStatus]" value="待提交"/>
		   <input type="button" class="txt_btn_a" value=" 提交审核 " onclick="confirmAudit();" />
		   <input type="button" class="txt_btn_a" value=" 关  闭 " onclick="closeFun();"/>
		</td>
</tr>
</table>

</form>
</body>
</html>

