
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en_US" xml:lang="en_US">
<head>
	<title>查看资产归还申请</title>
	<meta http-equiv="Content-Type" content="text/html;charset=gb2312"/>
	{#commonInclude#}
	<script type="text/javascript" src="js/jquery/combo/business/yxcombogrid-asset.js"></script>
    <script type="text/javascript" src="view/template/asset/daily/js/return-view.js" >
        </script>
</head>
<body>
<div class="main_head">
    <span class="main_head_title">
      	查看资产归还申请
    </span>
</div>

<table class="form_main_table">
<tr>
		 <tr>
			<td class="form_text_left">
				归还单编号：
			</td>
			<td class="form_text_right" colspan="6">{billNo}
			</td>

		</tr>
        <tr >
        	<td class="form_text_left">归还类型</td>
			<td class="form_text_right"><span id="returnType">{returnType}</span></td>
			<td  id="chargeNo" class="form_text_left">领用单编号</td>
			<td  id="borrowNo" class="form_text_left">借用单编号</td>
			<td  id="otherNo" class="form_text_right">{borrowNo}</td>
		</tr>

		<tr>
			<td class="form_text_left">
				归还人：
			</td>
			<td class="form_text_right">{returnMan}
			</td>
			<td class="form_text_left">
				归还时间：
			</td>
			<td class="form_text_right">{returnDate}
			</td>

		</tr>
		<tr>
			<td class="form_text_left">
				归还部门名称：
			</td>
			<td class="form_text_right" colspan="6">{deptName}
			</td>
		</tr>
		<tr>
			<td class="form_text_left">备注：</td>
			<td colspan="6" class="form_text_right"><textarea class="textarea_read" name="return[remark]" readonly>{remark}</textarea>
			</td>
		</tr>
</table>

<div id="purchaseProductTable"></div>

<table class="form_main_table">
<tr>
		<td class="txt_btn" colspan="4">
		  <input  type="hidden" id="showBtn" value="{showBtn}" />
		<input name="close" id="btn" type="button" class="txt_btn_a" value=" 关 闭 "  onclick="closeFun();" />
		<input type="hidden" id="allocateID" name="return[id]" value="{id}"/></td>
		</td>
</tr>
</table>
</body>
</html>

