<HTML>
<HEAD>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<TITLE>角色列表</TITLE>
<link rel="stylesheet" type="text/css" href="css/yxstyle.css" />
<!-- <link rel="stylesheet" type="text/css" href="js/treetable/GridTree.css" /> -->
<link rel="stylesheet" type="text/css" href="js/thickbox.css" />
<link rel="stylesheet" type="text/css"
	href="js/jquery/style/contextmenu.css" />


<script type="text/javascript" src="js/treetable/jquery.js"></script>
<script type="text/javascript" src="js/thickbox.js"></script>
<script type="text/javascript" src="js/jquery/jquery.contextmenu.js"></script>
<script type="text/javascript" src="js/common/businesspage.js"></script>
<script type="text/javascript" src="js/treetable/hashMap.js"></script>
<script type="text/javascript" src="js/treetable/GridTree.All.js"></script>

<script type="text/javascript" src="js/common/businesspage.js"></script>
<script type="text/javascript"
	src="view/template/engineering/role/js/rdrole-tableGridAll-template.js"></script>
<script type="text/javascript"
	src="view/template/engineering/role/js/rdrole-template-list.js"></script>
<script type="text/javascript"
	src="view/template/engineering/manage/js/rd-menu-list.js"></script>

</HEAD>

<BODY>
<div class="tab_options"></div>
<div class="tab_line"></div>

<div id="main_wraper" class="main_wraper">
<table class="main_table_search">
	<tr>
		<td>输入关键字： <input type="text" id="searchvalue" class="txt"
			name="searchvalue" value="" /> 按 <select id="searchfield"
			class="select">
			<option value="roleName">角色名称</option>
		</select> <input type="button" value=" 搜索 " class="txt_btn_a"
			onclick="search()" /> &nbsp; <input title="添加 角色" type="button"
			value="添加 角色" class="txt_btn_a" onclick="addRole()" /> &nbsp; <!-- <input
			title=" 删除所选" type="button" value=" 删除 "
			onclick="GridTree.prototype._deletes('engineering_role_rdrole')"
			class="txt_btn_a" />--></td>
	</tr>
</table>
<table class="form_main_table">
	<tr>
		<td class="form_text_left">项目类型</td>
		<td class="form_text_right"><select id="projectType"
			class="select" onchange="selectType(this.value)">
			<option value="">所有</option>
			{itemType}
		</select>
	</tr>

</table>
<div id='roleTableTree'>正在装载，请等待。。。</div>
</div>
</BODY>
</HTML>