<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en_US" xml:lang="en_US">
<head>
	<title>查看签约公司</title>
	<meta http-equiv="Content-Type" content="text/html;charset=gb2312"/>
	<link rel="stylesheet" type="text/css" href="css/yxstyle.css"/>
	<link rel="stylesheet" type="text/css" href="js/thickbox.css"/>
	<link rel="stylesheet" type="text/css" href="js/jquery/style/Validator.css"/>

	<script type="text/javascript" src="js/jquery.js"></script>
	<script type="text/javascript" src="js/thickbox.js"></script>

	<script type="text/javascript" src="js/common/businesspage.js"></script>

</head>
<body>

<table class="form_main_table">
<tr>
	<td colspan="4">
      <div class="main_head">
          <span class="main_head_title">
            	查看签约公司信息
          </span>
      </div>
   </td>
</tr>
<tr>
		<td class="form_text_left">签约公司名称</td>
		<td class="form_text_right">
			{signCompanyName}
		</td>
</tr>     
<tr>
		<td class="form_text_left">公司省份</td>
		<td class="form_text_right">
			{proName}
		</td>
</tr>     
<tr>
		<td class="form_text_left">公司省份编码</td>
		<td class="form_text_right">
			{proCode}
		</td>
</tr>     
<tr>
		<td class="form_text_left">联系人</td>
		<td class="form_text_right">
			{linkman}
		</td>
</tr>     
<tr>
		<td class="form_text_left">联系电话</td>
		<td class="form_text_right">
			{phone}
		</td>
</tr>     
<tr>
		<td class="form_text_left">联系地址</td>
		<td class="form_text_right">
			{address}
		</td>
</tr>     
<tr>
		<td class="form_text_left">创建人Id</td>
		<td class="form_text_right">
			{createId}
		</td>
</tr>     
<tr>
		<td class="form_text_left">创建人名称</td>
		<td class="form_text_right">
			{createName}
		</td>
</tr>     
<tr>
		<td class="form_text_left">创建时间</td>
		<td class="form_text_right">
			{createTime}
		</td>
</tr>     
<tr>
		<td class="form_text_left">修改人Id</td>
		<td class="form_text_right">
			{updateId}
		</td>
</tr>     
<tr>
		<td class="form_text_left">修改人名称</td>
		<td class="form_text_right">
			{updateName}
		</td>
</tr>     
<tr>
		<td class="form_text_left">修改时间</td>
		<td class="form_text_right">
			{updateTime}
		</td>
</tr>     
   <tr>
		<td class="txt_btn" colspan="4">
	      <input  type="button" class="txt_btn_a" value=" 关  闭 " onclick="self.parent.tb_remove();"/>
		</td>
</tr>
</table>
</body>
</html>