<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en_US" xml:lang="en_US">
<head>
	<title>查看设备更换清单</title>
	<meta http-equiv="Content-Type" content="text/html;charset=gb2312"/>
	<link rel="stylesheet" type="text/css" href="css/yxstyle.css"/>
	<link rel="stylesheet" type="text/css" href="js/thickbox.css"/>
	<link rel="stylesheet" type="text/css" href="js/jquery/style/Validator.css"/>

	<script type="text/javascript" src="js/jquery.js"></script>
	<script type="text/javascript" src="js/thickbox.js"></script>

	<script type="text/javascript" src="js/common/businesspage.js"></script>

</head>
<body>

<table class="form_main_table">
<tr>
	<td colspan="4">
      <div class="main_head">
          <span class="main_head_title">
            	查看设备更换清单信息
          </span>
      </div>
   </td>
</tr>
<tr>
		<td class="form_text_left">申请单id</td>
		<td class="form_text_right">
			{mainId}
		</td>
</tr>
<tr>
		<td class="form_text_left">设备id</td>
		<td class="form_text_right">
			{productId}
		</td>
</tr>
<tr>
		<td class="form_text_left">物料编号</td>
		<td class="form_text_right">
			{productCode}
		</td>
</tr>
<tr>
		<td class="form_text_left">物料名称</td>
		<td class="form_text_right">
			{productName}
		</td>
</tr>
<tr>
		<td class="form_text_left">规格型号</td>
		<td class="form_text_right">
			{pattern}
		</td>
</tr>
<tr>
		<td class="form_text_left">单位</td>
		<td class="form_text_right">
			{unitName}
		</td>
</tr>
<tr>
		<td class="form_text_left">序列号</td>
		<td class="form_text_right">
			{serilnoName}
		</td>
</tr>
<tr>
		<td class="form_text_left">更换原因</td>
		<td class="form_text_right">
			{remark}
		</td>
</tr>
   <tr>
		<td class="txt_btn" colspan="4">
	      <input  type="button" class="txt_btn_a" value=" 关  闭 " onclick="self.parent.tb_remove();"/>
		</td>
</tr>
</table>
</body>
</html>