<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" " http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns=" http://www.w3.org/1999/xhtml">
<head>
<title>打印盘亏毁损</title>
	<style media=print>
　　.Noprint{display:none;}
　　.PageNext{page-break-after: always;}
　　</style>
<script language="javascript" type="text/javascript" src="js/Lodop/printer.js"></script>
{#commonInclude#}
</head>
<body>
<form id="table1">
<table class="form_main_table">
<tr><td align="center" colspan="4"><h3>盘亏毁损单</h3></td></tr>
<tr>

        <td class="form_text_left">单据编号</td>
		<td class="form_text_right">
			{docCode}
		<td class="form_text_left">单据日期</td>
		<td class="form_text_right">
			{docDate}
		</td>

</tr>
<tr>
		<td class="form_text_left">仓库名称</td>
		<td class="form_text_right">
			 {stockName}
		</td>
       <td class="form_text_left">经办人</td>
       <td class="form_text_right"colspan=3>
        {dealUserName}
       </td>
</tr>
<tr>
		<td class="form_text_left">制单</td>
		<td class="form_text_right">
			{createName}
		</td>
		<td class="form_text_left">审核人</td>
		<td class="form_text_right">
			{auditUserName}
		</td>
</tr>
 <tr>
		<td colspan="4">
		<table class="main_table" id="itemtable">
 			<thead>
				<tr>
					<td colspan="13" class="form_header">物料清单</td>
				</tr>

				<tr class="main_tr_header">
					<th>
		                      序号
		                </th>
		                <th>
		                      物料编码
		                </th>
		                <th>
		                      物料名称
		                </th>
		                <th>
		                      规格型号
		                </th>
		                <th>
		                      单位
		                </th>
						<th>
		                      批次号
		                </th>
		                <th>
		                      帐存数量
		                </th>
		                <th>
		                      实存数量
		                </th>
		                <th>
		                      调整数量
		                </th>
		                <th>
		                      单价
		                </th>
		                <th>
		                      金额
		                </th>
		                <th>
		                      收料仓库
		                </th>
		                <th>
		                      备注
		                </th>


						</tr>
			        </thead>
			  <tbody>
				{list}
			</tbody>
</table>
</td>
</tr>
</table>
</form>
<table class="form_main_table">
	<tr>
		<td class="txt_btn" colspan="4">
			<input type="button" class="txt_btn_a" onclick="javascript:prn_preview('table1','table1')" value="打印预览"/>
			<input type="button" class="txt_btn_a" onclick="javascript:prn_print('table1','table1')" value=" 打 印 "/>
			<input type="button" class="txt_btn_a" onclick="javascript:prn_design('table1','table1')" value="页面设置"/>
		</td>
	</tr>
</table>
</body>
</html>
