<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en_US" xml:lang="en_US">
<head>
	<title>修改盘点物料清单</title>
	<meta http-equiv="Content-Type" content="text/html;charset=gb2312"/>
	<link rel="stylesheet" type="text/css" href="css/yxstyle.css"/>
	<link rel="stylesheet" type="text/css" href="js/thickbox.css"/>
	<link rel="stylesheet" type="text/css" href="js/jquery/style/Validator.css"/>

	<script type="text/javascript" src="js/jquery.js"></script>
	<script type="text/javascript" src="js/thickbox.js"></script>
	<script type="text/javascript" src="js/common/businesspage.js"></script>
   <script type="text/javascript" src="js/jquery/formValidator.js" charset="UTF-8"></script>
	<script type="text/javascript" src="js/jquery/formValidatorRegex.js" charset="UTF-8"></script>
	<script type="text/javascript" src="js/DatePicker/WdatePicker.js"></script>
</head>
<body>
<div class="main_head">
    <span class="main_head_title">
      	修改盘点物料清单信息
    </span>
</div>
<form id="form1" method="post" action="?model=stock_check_checkitem&action=edit" name="form1">
<table class="form_main_table">
<tr>
		<td class="form_text_left">库存盘点id</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" name="checkitem[checkId]"  value="{checkId}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">物料id</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" name="checkitem[productId]"  value="{productId}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">物料编号</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" name="checkitem[productCode]"  value="{productCode}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">物料名称</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" name="checkitem[productName]"  value="{productName}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">规格型号</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" name="checkitem[pattern]"  value="{pattern}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">帐存数量</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" name="checkitem[billNum]"  value="{billNum}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">实存数量</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" name="checkitem[actNum]"  value="{actNum}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">调整数量</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" name="checkitem[adjustNum]"  value="{adjustNum}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">单位</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" name="checkitem[unitName]"  value="{unitName}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">批次</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" name="checkitem[batchNum]"  value="{batchNum}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">价格</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" name="checkitem[price]"  value="{price}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">金额</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" name="checkitem[subPrice]"  value="{subPrice}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">仓库id</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" name="checkitem[stockId]"  value="{stockId}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">仓库代码</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" name="checkitem[stockCode]"  value="{stockCode}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">仓库名称</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" name="checkitem[stockName]"  value="{stockName}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">备注</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" name="checkitem[remark]"  value="{remark}" />
		</td>
</tr>        
<tr>
		<td class="txt_btn" colspan="4">
         <input  type="hidden" name="checkitem[id]" value="{id}" />
		   <input  type="submit" class="txt_btn_a" value=" 保  存 "/>
		   <input  type="button" class="txt_btn_a" value=" 关  闭 " onclick="self.parent.tb_remove();"/>
		</td>
</tr>
</table>
</form>
</body>
</html>