<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en_US" xml:lang="en_US">
<head>
	<title>查看开票额度计划</title>
	<meta http-equiv="Content-Type" content="text/html;charset=gb2312"/>
	<link rel="stylesheet" type="text/css" href="css/yxstyle.css"/>

	<script type="text/javascript" src="js/jquery.js"></script>
	<script type="text/javascript" src="js/common/businesspage.js"></script>

</head>
<body>
   <div class="main_head">
       <span class="main_head_title">
         	查看开票额度计划
       </span>
   </div>
      <table class="form_main_table">
         <tr>
      		<td class="form_text_left">年度</td>
      		<td class="form_text_right" colspan="3">
      			 {year}
      		</td>
         </tr>
         <tr>
      		<td class="form_text_right" colspan="4">销售发票</td>
         </tr>
         <tr>
      		<td class="form_text_left">第一季度</td>
      		<td class="form_text_right formatMoney" width="30%">
      			 {salesOne}
      		</td>
      		<td class="form_text_left">第二季度</td>
      		<td class="form_text_right formatMoney">
      			 {salesTwo}
      		</td>
         </tr>
         <tr>
      		<td class="form_text_left">第三季度</td>
      		<td class="form_text_right formatMoney">
      			 {salesThree}
      		</td>
      		<td class="form_text_left">第四季度</td>
      		<td class="form_text_right formatMoney">
      			 {salesFour}
      		</td>
         </tr>
         <tr>
      		<td class="form_text_left">总计</td>
      		<td class="form_text_right formatMoney" colspan="3">
      			 {salesAll}
      		</td>
         </tr>

         <tr>
      		<td class="form_text_right" colspan="4">服务发票</td>
         </tr>
         <tr>
      		<td class="form_text_left">第一季度</td>
      		<td class="form_text_right formatMoney">
      			 {serviceOne}
      		</td>
      		<td class="form_text_left">第二季度</td>
      		<td class="form_text_right formatMoney">
      			 {serviceTwo}
      		</td>
         </tr>
         <tr>
      		<td class="form_text_left">第三季度</td>
      		<td class="form_text_right formatMoney">
      			 {serviceThree}
      		</td>
      		<td class="form_text_left">第四季度</td>
      		<td class="form_text_right formatMoney">
      			{serviceFour}
      		</td>
         </tr>
         <tr>
      		<td class="form_text_left">总计</td>
      		<td class="form_text_right formatMoney" colspan="3">
      			 {serviceAll}
      		</td>
         </tr>
         <tr>
      		<td class="txt_btn" colspan="4">
      		   <input type="button" class="txt_btn_a" value=" 关  闭 " onclick="self.parent.tb_remove();"/>
      		</td>
         </tr>
      </table>
</body>
</html>