<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" " http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns=" http://www.w3.org/1999/xhtml">
<head>
	<title>库存警告有效期设置</title>
   {#commonInclude#}
   <script type="text/javascript" src="{#jsPath#}/configenum-edit.js" ></script>  
     <script>
   
   $(document).ready(function(){
	   validate({
			"configEnum1" : {
				required : true,
				custom : ['onlyNumber']

			}
		});
   })
   </script> 
</head>
<body>
<form id="form1" method="post" action="?model=system_configenum_configenum&action=edit&formType=thickbox" >
<table class="form_main_table">
   <tr>
      <td colspan="4">
          <div class="main_head">
             <span class="main_head_title">
               {configEnumName}配置信息
             </span>
         </div>     
      </td>
   </tr>
<tr>
		<td class="form_text_left">有效期(天)</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" id="configEnum1"  name="configenum[configEnum1]"  value="{configEnum1}" />
		</td>
</tr>  
<!-- 
<tr>
		<td class="form_text_left">配置枚举3</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" id="configEnum3"  name="configenum[configEnum3]"  value="{configEnum3}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">配置枚举4</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" id="configEnum4"  name="configenum[configEnum4]"  value="{configEnum4}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">配置枚举5</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" id="configEnum5"  name="configenum[configEnum5]"  value="{configEnum5}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">配置枚举6</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" id="configEnum6"  name="configenum[configEnum6]"  value="{configEnum6}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">配置枚举7</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" id="configEnum7"  name="configenum[configEnum7]"  value="{configEnum7}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">配置枚举8</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" id="configEnum8"  name="configenum[configEnum8]"  value="{configEnum8}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">配置枚举9</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" id="configEnum9"  name="configenum[configEnum9]"  value="{configEnum9}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">配置枚举10</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" id="configEnum10"  name="configenum[configEnum10]"  value="{configEnum10}" />
		</td>
</tr>       
 -->       
      
           <tr>
   		<td class="txt_btn" colspan="4">
            <input  type="hidden" id="id" name="configenum[id]" value="{id}" />
   		   <input  type="submit" class="txt_btn_a" value=" 保  存 "/>
   		   <input  type="button" class="txt_btn_a" value=" 关  闭 " onclick="self.parent.tb_remove();"/>
   		</td>
        </tr>
     </table>
  </form>
 </body>
</html>