<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
        <meta http-equiv="Content-Language" content="zh_cn" />
        <meta http-equiv="Content-Type" content="text/html; charset=GB2312" />
        <script type="text/javascript" src="js/jquery.js"></script>
        <script type="text/javascript" src="js/thickbox.js"></script>
        <script type="text/javascript" src="js/general.js"></script>
        <link rel="stylesheet" href="js/thickbox.css" type="text/css" media="screen" />
        <link rel="stylesheet" href="images/style.css" type="text/css" media="screen" />
        <title></title>
        <script type="text/javascript">
            function ck(i,c,y,m){
            	if( confirm( '确定结算公司：'+c+'，周期：'+y+'年'+m+'月'+'，结算后，审批信息将生效于下月' ) ){
            		var rand=Math.random()*100000;
            		$.post('?model=salary&action=close_stat_in'
							,{rand:rand,key:i,y:y,m:m,act:'close'},
                        function (data){
                            if(data=='1'){
                                alert('结算成功！');
                                location.reload();
                            }else if(data == '2'){
                                alert('权限不足');
                            }else{
                                alert('结算失败！请联系OA管理员');
                            }
                        }
                    )
            	}
            }
            
            function cancel_click(i,c,y,m) {
                if (m==1){
                    var nowy = y-1;
                    var nowm = 12;
                } else{
                    var nowy = y;
                    var nowm = m-1
                }
                if( confirm( '确定取消结算? 公司：'+c+'，已结周期：'+nowy+'年'+nowm+'月' ) ){
                    var rand = Math.random() * 100000;
                    $.post('?model=salary&action=close_stat_in'
                        ,{rand:rand,key:i,y:y,m:m,act:'open'},
                        function (data){
                            if(data=='1'){
                                alert('撤销结账成功！');
                                location.reload();
                            }else if(data == '2'){
                                alert('权限不足');
                            }else{
                                alert('撤销结账失败,请联系OA管理员');
                            }
                        }
                    )

                }
            }
           
        </script>
    </head>
    <body>
    <form action="?model=salary&action=hr_prod_xls" method="post" onsubmit="return ck();" enctype="multipart/form-data">
        <table border="0" cellpadding="0" cellspacing="0" width="100%" style="margin-buttom:2px;">
          <tr>
              <td>
                  <pre style="font-size:9pt;padding:5px;">
工资结算周期指当前生效月份，主要用于工资审批需要推迟和贝讯工资。
结算的月份，也就是审批数据生效于那个月份。
                  </pre>
              </td>
          </tr>
        </table>
    <table class="table" cellpadding="0" cellspacing="0"  >
        <tr class="tableheader">
            <td align="center"   > 公司 </td>
            <td align="center"  width="20%" > 当前待结算周期 </td>
            <td align="center"  width="15%" > 操作 </td>
            <td align="center"  width="15%" > 撤销 </td>
            <td align="center"   >上一结算操作时间</td>
            <td align="center"   >上一结算操作人员</td>
            <td align="center"   >上一撤销操作时间</td>
            <td align="center"   >上一撤销操作人员</td>
        </tr>
        {data_list}
    </table>
    </form>
    </body>
</html>