<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
        <meta http-equiv="Content-Language" content="zh_cn" />
        <meta http-equiv="Content-Type" content="text/html; charset=GB2312" />
        <link rel="stylesheet" href="js/thickbox.css" type="text/css" media="screen" />
        <link rel="stylesheet" type="text/css" media="screen" href="js/jqgrid/css/ui.jqgrid.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="js/jqgrid/css/jquery-ui-1.8.2.custom.css" />
        <script type="text/javascript" src="js/jqgrid/jquery-1.4.2.min.js"></script>
        <script type="text/javascript" src="js/thickbox.js"></script>
        <script type="text/javascript" src="js/jqgrid/jquery-ui-1.8.2.custom.min.js"></script>
        <script type="text/javascript" src="js/jqgrid/i18n/grid.locale-cn.js"></script>
        <script type="text/javascript" src="js/jqgrid/jquery.jqGrid.min.js"></script>
        <script type="text/javascript" src="js/jqgrid/jquery.layout.js"></script>
        <script type="text/javascript" src="js/validate.js"></script>
        <title></title>
        <style type="text/css">
            html, body {
                margin: 0;			/* Remove body margin/padding */
                padding: 0;
                overflow: hidden;	/* Remove scroll bars on browser window */
                font-size: 9pt;
            }
            .ui-jqgrid-title{ font-size: 90%;}
            .ui-jqgrid{
                border-top: 0px;
                border-right: 1px solid #AED0EA;
                border-left: 1px solid #AED0EA;
                border-bottom: 1px solid #AED0EA;
            }
            #t_rowedgrid{ height: 23px; }
        </style>
        <script type="text/javascript">
            var wh=parent.document.documentElement.clientHeight;
            var ww=document.documentElement.clientWidth;
            jQuery(document).ready(function(){
                var mygrid=jQuery("#rowedgrid").jqGrid({
                    url:'{user_list}',
                    datatype: "json",
                    mtype:'GET',
                    colNames:['KEY','员工号','姓名','公司','部门','发薪月份','基本工资','岗位工资','绩效工资','季度奖','补发','扣除'
                        ,'项目奖'
                        ,'出差系数','考核系数','绩效奖惩'
                        ,'节假日补贴','福利补贴'
                        ,'奖金','其他扣除','事假','病假','请假扣除额'
                        ,'项目绩效奖金-上月','项目管理补贴-上月'
                        ,'项目住宿补贴-上月','项目通信补贴-上月','项目电脑补贴-上月','总薪酬','补贴发放部分-上月','公积金','社保费','缴纳税金','实发工资','公司公积金','公司社保费', '入职日期', '地区','LEV'
                        ,'账号','开户行','身份证','备注','邮箱','状态'
                    ],
                    colModel:[
                        {name:'key',index:'s.rand_key',hidden:true ,key:true ,width:40 },
                        {name:'usercard', index:'h.usercard',width:60,align:"center",editable:true ,search:false},
                        {name:'username',index:'s.username', width:60, align:'center', searchoptions:{sopt:['cn']},editable:true },
                        {name:'company',index:'u.company', width:60, align:'center', searchoptions:{sopt:['cn']},editable:true },
                        {name:'olddept',index:'d.dept_name', width:70,align:'center',editable:true , searchoptions:{sopt:['cn']}},
                        {name:'pym',index:'s.pmon', width:60, align:"center",editable:true ,search:false},
                        {name:'amount',index:'s.amount', width:65, align:"right",search:false},
                        {name:'gwam',index:'p.gwam', width:65, align:"right",search:false},
                        {name:'jxam',index:'p.jxam', width:65, align:"right",search:false},
                        {name:'floatam',index:'p.floatam', width:65,align:"right",search:false},
                        {name:'sperewam',index:'p.sperewam', width:85, align:"right",search:false},
                        {name:'spedelam',index:'p.spedelam', width:85, align:"right",search:false},
                        {name:'proam',index:'p.proam', width:85, align:"right",search:false},

                        {name:'ccxs',index:'s.ccxs', width:80,align:'right',editable:true , searchoptions:{sopt:['cn']}},
                        {name:'khxs',index:'khxs', width:80,align:'right',editable:true , searchoptions:{sopt:['cn']}},
                        {name:'jxzcam',index:'jxzcam', width:80,align:'right',editable:true , searchoptions:{sopt:['cn']}},

                        {name:'sdyam',index:'p.sdyam', width:85, align:"right",search:false},
                        {name:'otheram',index:'p.otheram', width:65,align:"right",search:false},
                        {name:'bonusam',index:'p.bonusam', width:42, align:"right",search:false},
                        {name:'othdelam',index:'p.othdelam', width:65,align:"right",search:false},
                        {name:'perholsdays',index:'p.perholsdays', width:42, align:"right",search:false},
                        {name:'sickholsdays',index:'p.sickholsdays', width:42,align:"right",search:false},
                        {name:'holsdelam',index:'p.holsdelam', width:80,align:"right",search:false},
                        {name:'jjam',index:'jjam', width:130,align:'right',editable:true , searchoptions:{sopt:['cn']}},
                        {name:'gljtam',index:'gljtam', width:130,align:'right',editable:true , searchoptions:{sopt:['cn']}},
                        {name:'lszsam',index:'lszsam', width:130,align:'right',editable:true , searchoptions:{sopt:['cn']}},
                        {name:'txjt',index:'p.txjt', width:130, align:"right",search:false},
                        {name:'qtjtam',index:'qtjtam', width:130,align:'right',editable:true , searchoptions:{sopt:['cn']}},
                        {name:'totalam',index:'totalam', width:80,align:'right',editable:true , searchoptions:{sopt:['cn']}},
                        {name:'expenCeiling',index:'expenCeiling',hidden:{isHidden}, width:130,align:'right',editable:true , searchoptions:{sopt:['cn']}},
                        {name:'gjjam',index:'s.gjjam', width:60,align:"right",search:false,editable:true,editrules:{required:true,number:true,minValue:0}},
                        {name:'shbam',index:'s.shbam', width:60, align:"right",editable:true ,search:false},
                        {name:'paycesse',index:'p.paycesse', width:50, align:"right",search:false},
                        {name:'paytotal',index:'p.paytotal', width:65,align:"right",search:false},
                        {name:'cogjjam',index:'p.cogjjam', width:65,align:"right",search:false },
                        {name:'coshbam',index:'p.coshbam', width:65,align:"right",search:false },
                        {name:'comedt',index:'s.comedt', width:70, align:'right',editable:true , searchoptions:{sopt:['eq']}},
                        {name:'oldarea',index:'s.oldarea', width:60, align:"center",editable:true , searchoptions:{sopt:['eq']}},
                        {name:'lev',index:'h.joblevel',hidden:true,width:40 },
                        {name:'acc',index:'s.acc', width:155,align:"right",editable:true ,edittype:"textarea",editoptions:{rows:"2"},search:false},
                        {name:'accbank',index:'s.accbank', width:150, align:"right",editable:true ,edittype:"textarea",editoptions:{rows:"2"},search:false},
                        {name:'idcard',index:'s.idcard', width:150,align:"right",editable:true ,edittype:"textarea",editoptions:{rows:"2"},search:false},
                        {name:'remark',index:'p.remark', width:100, align:"right",editable:true ,edittype:"textarea",editoptions:{rows:"2"},search:false},
                        {name:'email',index:'s.email', width:180,align:"right",editable:true ,edittype:"textarea",editoptions:{rows:"2"},search:false},
                        {name:'usersta',index:'s.usersta', width:50, align:"center",searchoptions:{sopt:['eq']},stype:'select',editoptions:{value:"0:新入职;1:试用期;2:已转正;3:离职"}}

                    ],
                    rowNum:30,
                    rowList:[15,20,28,50,100],
                    pager: '#prowedgrid',
                    //sortname: 's.id',
                    width:ww-2,
                    height:(wh-135+2*((wh-500)/50)),
                    viewrecords: true,
                    sortorder: "asc",
                    rownumbers: true,
                    shrinkToFit:false,
                    editurl: "{edit_list}",
                    cellurl: "{edit_list}",
                    caption: "{user_capt}",
                    afterInsertRow: function(rowid, rowData){
                        if(rowData.expenCeiling > 0 && {isHidden} == false){
                            jQuery("#rowedgrid").jqGrid('setCell',rowid,'username','',{color:"red"});
                        }
                        jQuery("#rowedgrid").jqGrid('setCell',rowid,'expenCeiling','',{color:"red"});
                    	
                        var be='';
                        var cl='#000000';
                        if(rowData.lev!='4'){
                            var cl='#FF9900';
                            jQuery("#rowedgrid").jqGrid('setCell',rowid,'username','',{color:cl});
                        }
                        jQuery("#rowedgrid").jqGrid('setCell',rowid,'usersta','',{color:cl});
                    }
                });
                jQuery("#rowedgrid").jqGrid('navGrid',"#prowedgrid",{edit:false,add:false,del:false,view:true});
                jQuery("#rowedgrid").jqGrid('navButtonAdd','#prowedgrid',{
                    caption: "选择列",
                    title: "隐藏/显示 列表",
                    onClickButton : function (){
                        jQuery("#rowedgrid").jqGrid('setColumns',{dataheight:wh-208});
                    }
                });
            });
            //编辑
            function saveSuccesFun(res){
                var msg=eval('(' + res.responseText + ')');
                if(msg&&msg['error']){
                    alert('错误：'+msg['error']);
                    return false;
                }else{
                    alert('操作成功！');
                    jQuery("#rowedgrid").trigger("reloadGrid");
                }
                return true;
            }
            function gridNavSeaFun(){
                var seapy = jQuery("#seapy").val();
                var seapm = jQuery("#seapm").val();
                var seadept = jQuery("#seadept").val();
                 var seaname = jQuery("#seaname").val();
                 var isEq = jQuery("#isEq").attr("checked")?1:0;
                jQuery("#rowedgrid").jqGrid('setGridParam',{url:"{user_list}&seapy="+seapy+"&seapm="+seapm+"&seadept="+seadept+"&seaname="+seaname+"&isEq="+isEq,page:1}).trigger("reloadGrid");
             }
            //隐藏
            function editClickFun(id){
                $('#edit_'+id).css('display','none');
                $('#save_'+id).css('display','block');
                $('#reset_'+id).css('display','block');
                $('#am_'+id).css('display','none');
                $('#pa_'+id).css('display','none');
                $('#le_'+id).css('display','none');
            }
            //显示
            function saveClickFun(id){
                $('#edit_'+id).css('display','block');
                $('#save_'+id).css('display','none');
                $('#reset_'+id).css('display','none');
                $('#am_'+id).css('display','block');
                $('#pa_'+id).css('display','block');
                $('#le_'+id).css('display','block');
            }
            //新入职
            function amClickFun(id){
                var rowData = jQuery("#rowedgrid").jqGrid('getRowData',id);
                $('#lui_rowedgrid').css('display', 'block');
                $('#hr_user_new').css('display', 'block');
                $('#user_key').val(rowData.key);
                $('#user_new_am').val('0');
                $('#hr_user_new_name').html(rowData.username);
            }
            function amSubmitFun(){
                var rand=Math.random()*100000;
                var id=$('#user_key').val();
                var val=$('#user_new_am').val();
                if(isNaN(val)||parseFloat(val)<0||parseFloat(val)==0){
                    alert('请输入正确并大于零的数值！');
                    return false;
                }
                $.post('?model=salary&action=hr_user_am',{id:id,val:val,rand:rand},
                function (data)
                {
                    alert(data);
                    var msg=eval('(' + data + ')');
                    if(msg&&msg['error']){
                        alert('错误：'+msg['error']);
                        return false;
                    }else{
                        alert('操作成功！');
                    }
                    paCloseFun('hr_user_new');
                    jQuery("#rowedgrid").trigger("reloadGrid");
                }
            )
            }
            //转正
            function paClickFun(id){
                var rowData = jQuery("#rowedgrid").jqGrid('getRowData',id);
                $('#lui_rowedgrid').css('display', 'block');
                $('#hr_user_pass').css('display', 'block');
                $('#user_key').val(rowData.key);
                if(parseInt(rowData.lev)!=4){
                    $('#tr_pass_am').css('display', 'none');
                }else{
                    $('#tr_pass_am').css('display', 'block');
                }
                $('#user_pass_am').val('0');
                $('#user_pass_dt').val('格式：0000-00-00');
                $('#user_pass_dt').css('color','#ccc');
                $('#hr_user_pass_name').html(rowData.username);
            }
            function paSubmitFun(){
                var rand=Math.random()*100000;
                var id=$('#user_key').val();
                var rowData = jQuery("#rowedgrid").jqGrid('getRowData',id);
                var val=$('#user_pass_am').val();
                var pdt=$('#user_pass_dt').val();
                if(rowData.lev==1){
                    if(isNaN(val)||parseFloat(val)<0||parseFloat(val)==0){
                        alert('请输入正确并大于零的数值！');
                        return false;
                    }
                }
                if(!checkDT(pdt)){
                    alert('请输入正确日期/日期格式');
                    return false;
                }
                if(!confirm('确认提交转正工资信息？')){
                    return false;
                }
                $.post('?model=salary&action=hr_user_pa',{id:id,val:val,pdt:pdt,rand:rand},
                function (data)
                {
                    var msg=eval('(' + data + ')');
                    if(msg&&msg['error']){
                        alert('错误：'+msg['error']);
                        return false;
                    }else{
                        alert('操作成功！');
                    }
                    paCloseFun('hr_user_pass');
                    jQuery("#rowedgrid").trigger("reloadGrid");
                }
            )
            }

            //离职
            function leClickFun(id){
                var rowData = jQuery("#rowedgrid").jqGrid('getRowData',id);
                $('#lui_rowedgrid').css('display', 'block');
                $('#hr_user_leave').css('display', 'block');
                $('#user_key').val(rowData.key);
                $('#user_leave_dt').val('格式：0000-00-00');
                $('#user_leave_dt').css('color','#ccc');
                $('#hr_user_leave_name').html(rowData.username);
            }
            function leSubmitFun(){
                var rand=Math.random()*100000;
                var id=$('#user_key').val();
                var rowData = jQuery("#rowedgrid").jqGrid('getRowData',id);
                var pdt=$('#user_leave_dt').val();
                if(!checkDT(pdt)){
                    alert('请输入正确日期/日期格式');
                    return false;
                }
                if(!confirm('确认离职信息？')){
                    return false;
                }
                $.post('?model=salary&action=hr_user_le',{id:id,pdt:pdt,rand:rand},
                function (data)
                {
                    alert(data);
                    var msg=eval('(' + data + ')');
                    if(msg&&msg['error']){
                        alert('错误：'+msg['error']);
                        return false;
                    }else{
                        alert('操作成功！');
                    }
                    paCloseFun('hr_user_leave');
                    jQuery("#rowedgrid").trigger("reloadGrid");
                }
            )
            }
            //关闭
            function paCloseFun(id){
                $('#'+id).css('display', 'none');
                $('#lui_rowedgrid').css('display', 'none');
            }
            function outExcel(){
                //alert('outexcel');
            }
            function xlsClickFun(ty){
                var sy=$('#seapy').val();
                var sm=$('#seapm').val();
                var sdx=$('#seadept').val();
                var sux=$('#seaname').val();
                if(ty==1){
                    window.open('?model=salary&action=xls_out&flag=dp_tol&sy='+sy+'&sm='+sm);
                }else{
                    var isEq = jQuery("#isEq").attr("checked")?1:0;
                    window.open('?model=salary&action=xls_out&flag=dp_detail&seapy='+sy+'&seapm='+sm+'&seadept='+sdx+'&seaname='+sux+"&isEq="+isEq);
                }

            }
        </script>
    </head>
    <body>
        <input type="hidden" id="user_key" value="" ></input>
        <table id="rowedgrid"></table>
        <div id="pgtoolbar"></div>
        <div id="prowedgrid"></div>
        <div id="hr_user_new" class="ui-searchFilter" tabindex="-1" role="dialog" style="display: none; left: 0px; top: 0px;" >
            <table class="ui-widget-content ui-corner-all" align="center" style="text-align: center;" >
                <tr>
                    <td id="hr_user_new_name" style="line-height: 20px;" class="ui-widget-header ui-corner-all">
                    </td>
                </tr>
                <tr class="sf">
                    <td style="padding-left:8px;padding-right: 8px;">
                        入职工资：
                        <input id="user_new_am" type="text" style="display: inline;" class="default vdata"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="button" onclick="amSubmitFun();" value="提交"/>
                        <input type="button" onclick="paCloseFun('hr_user_new');"  value="关闭"/>
                    </td>
                </tr>
            </table>
        </div>
        <div id="hr_user_pass" class="ui-searchFilter" tabindex="-1" role="dialog" style="display: none; left: 0px; top: 0px;" >
            <table class="ui-widget-content ui-corner-all" align="center" style="text-align: center;" >
                <tr>
                    <td id="hr_user_pass_name" style="line-height: 20px;" class="ui-widget-header ui-corner-all">
                    </td>
                </tr>
                <tr class="sf" id="tr_pass_am">
                    <td style="padding-left:8px;padding-right: 8px;">
                        转正工资：
                        <input id="user_pass_am" type="text" style="display: inline;" class="default vdata"/>
                    </td>
                </tr>
                <tr class="sf" >
                    <td>
                        转正日期：
                        <input id="user_pass_dt" type="text" style="display: inline;color:#ccc"
                               onfocus="if(this.value=='格式：0000-00-00'){this.value='';this.style.color='#333';}"
                               onblur="if(this.value==''){this.value='格式：0000-00-00';this.style.color='#ccc';}"
                               value="格式：0000-00-00"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="button" onclick="paSubmitFun();" value="提交"/>
                        <input type="button" onclick="paCloseFun('hr_user_pass');"  value="关闭"/>
                    </td>
                </tr>
            </table>
        </div>
        <div id="hr_user_leave" class="ui-searchFilter" tabindex="-1" role="dialog" style="display: none; left: 0px; top: 0px;" >
            <table class="ui-widget-content ui-corner-all" align="center" style="text-align: center;" >
                <tr>
                    <td id="hr_user_leave_name" style="line-height: 20px;" class="ui-widget-header ui-corner-all">
                    </td>
                </tr>
                <tr class="sf" >
                    <td>
                        离职日期：
                        <input id="user_leave_dt" type="text" style="display: inline;color:#ccc"
                               onfocus="if(this.value=='格式：0000-00-00'){this.value='';this.style.color='#333';}"
                               onblur="if(this.value==''){this.value='格式：0000-00-00';this.style.color='#ccc';}"
                               value="格式：0000-00-00"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="button" onclick="leSubmitFun();" value="提交"/>
                        <input type="button" onclick="paCloseFun('hr_user_leave');"  value="关闭"/>
                    </td>
                </tr>
            </table>
        </div>
    </body>
</html>