<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>工资清单</title>
        <meta http-equiv="Content-Type" content="text/html; charset=gb2312"/>
        <link rel="stylesheet" type="text/css" href="css/yxstyle2.css" />
        <script type="text/javascript" src="js/jquery/jquery-1.4.2.js"></script>
        <script type="text/javascript" src="js/common/businesspage.js"></script>
        <script type="text/javascript" src="js/common/approval.js"></script>
        <script type="text/javascript" src="js/Lodop/printer.js"></script>
    </head>
    <body>
        <div id="payablesapply" style="width: 740px;">
            <table class="form_main_table" style="border: 1px solid #000000;">
                <tr >
                    <td colspan="4" style="border: 1px solid #000000;height: 65px;">
                        <span style="font-size:18px;font-weight:bold;letter-spacing:5px;"> 离职工资结算清单 </span>
                    </td>
                </tr>
                <tr>
                    <td  style="text-align: center; font-size: 14px;font-weight: bolder;border: 1px solid #000000;">姓名</td>
                    <td class="form_text_right" style="font-size: 14px;font-weight: bolder;border: 1px solid #000000;" colspan="3">
                        {uname}
                    </td>
                </tr>
                <tr>
                    <td  style="text-align: center; font-size: 14px;font-weight: bolder;border: 1px solid #000000;">合同归属</td>
                    <td class="form_text_right" style="font-size: 14px;font-weight: bolder;border: 1px solid #000000;" colspan="3">
                        {com}
                    </td>
                </tr>
                <tr>
                    <td  style="text-align: center; font-size: 14px;font-weight: bolder;border: 1px solid #000000;">用工类型</td>
                    <td class="form_text_right" style="font-size: 14px;font-weight: bolder;border: 1px solid #000000;" colspan="3">
                        {exp}
                    </td>
                </tr>
                <tr>
                    <td  style="text-align: center; font-size: 14px;font-weight: bolder;border: 1px solid #000000;">部门</td>
                    <td class="form_text_right" style="font-size: 14px;font-weight: bolder;border: 1px solid #000000;" >
                        {dept}
                    </td>
                    <td colspan="2" style="font-size: 14px;font-weight: bolder;border: 1px solid #000000;"></td>
                </tr>
                <tr>
                    <td  style="text-align: center; font-size: 14px;font-weight: bolder;border: 1px solid #000000;">职务</td>
                    <td class="form_text_right" style="font-size: 14px;font-weight: bolder;border: 1px solid #000000;" colspan="3">
                        {job}
                    </td>
                </tr>
                <tr>
                    <td  style="text-align: center; font-size: 14px;font-weight: bolder;border: 1px solid #000000;">入职时间</td>
                    <td class="form_text_right" style="font-size: 14px;font-weight: bolder;border: 1px solid #000000;" colspan="3">
                        {comedt}
                    </td>
                </tr>
                <tr>
                    <td  style="text-align: center; font-size: 14px;font-weight: bolder;border: 1px solid #000000;">离职时间</td>
                    <td class="form_text_right" style="font-size: 14px;font-weight: bolder;border: 1px solid #000000;" colspan="3">
                        {leavedt}
                    </td>
                </tr>
                <tr>
                    <td  style="text-align: center; font-size: 14px;font-weight: bolder;border: 1px solid #000000;">基本工资（+）</td>
                    <td class="form_text_right" style="font-size: 14px;font-weight: bolder;border: 1px solid #000000;" colspan="3">
                        <span class="formatMoney">{baseam}</span>
                    </td>
                </tr>
                <tr>
                    <td  style="text-align: center; font-size: 14px;font-weight: bolder;border: 1px solid #000000;">事假</td>
                    <td class="form_text_right" style="font-size: 14px;font-weight: bolder;border: 1px solid #000000;" colspan="3">
                        <span class="">{ph}</span>
                    </td>
                </tr>
                <tr>
                    <td  style="text-align: center; font-size: 14px;font-weight: bolder;border: 1px solid #000000;">病假</td>
                    <td class="form_text_right" style="font-size: 14px;font-weight: bolder;border: 1px solid #000000;" colspan="3">
                        <span class="">{sh}</span>
                    </td>
                </tr>
                <tr>
                    <td  style="text-align: center; font-size: 14px;font-weight: bolder;border: 1px solid #000000;">离职当月出勤天数</td>
                    <td class="form_text_right" style="font-size: 14px;font-weight: bolder;border: 1px solid #000000;" >
                        <span class="">{wdt}</span>
                    </td>
                    <td colspan="2" style="font-size: 14px;font-weight: bolder;border: 1px solid #000000;text-align: left;">{wdtr}</td>
                </tr>
                <tr>
                    <td  style="text-align: center; font-size: 14px;font-weight: bolder;border: 1px solid #000000;">事病假扣除（-）</td>
                    <td class="form_text_right" style="font-size: 14px;font-weight: bolder;border: 1px solid #000000;" >
                        <span class="formatMoney">{hda}</span>
                    </td>
                    <td colspan="2" style="font-size: 14px;font-weight: bolder;border: 1px solid #000000;text-align: left;">{hdar}</td>
                </tr>
                <tr>
                    <td  style="text-align: center; font-size: 14px;font-weight: bolder;border: 1px solid #000000;">离职当月实际工作天数工资小计</td>
                    <td class="form_text_right" style="font-size: 14px;font-weight: bolder;border: 1px solid #000000;" >
                        <span class="formatMoney">{bna}</span>
                    </td>
                    <td colspan="2" style="font-size: 14px;font-weight: bolder;border: 1px solid #000000;text-align: left;">{bnar}</td>
                </tr>
                <tr>
                    <td  style="text-align: center; font-size: 14px;font-weight: bolder;border: 1px solid #000000;">各项补贴（+）</td>
                    <td class="form_text_right" style="font-size: 14px;font-weight: bolder;border: 1px solid #000000;">
                        <span class="formatMoney">{sra}</span>
                    </td>
                    <td colspan="2" style="font-size: 14px;font-weight: bolder;border: 1px solid #000000;text-align: left;">{srar}</td>
                </tr>
                <tr>
                    <td  style="text-align: center; font-size: 14px;font-weight: bolder;border: 1px solid #000000;">社会保险费（-）</td>
                    <td class="form_text_right" style="font-size: 14px;font-weight: bolder;border: 1px solid #000000;">
                        <span class="formatMoney">{shb}</span>
                    </td>
                    <td colspan="2" style="font-size: 14px;font-weight: bolder;border: 1px solid #000000;text-align: left;">{shbr}</td>
                </tr>
                <tr>
                    <td  style="text-align: center; font-size: 14px;font-weight: bolder;border: 1px solid #000000;">住房公积金（-）</td>
                    <td class="form_text_right" style="font-size: 14px;font-weight: bolder;border: 1px solid #000000;" >
                        <span class="formatMoney">{gjj}</span>
                    </td>
                    <td colspan="2" style="font-size: 14px;font-weight: bolder;border: 1px solid #000000;text-align: left;">{gjjr}</td>
                </tr>
                
                <tr>
                    <td  style="text-align: center; font-size: 14px;font-weight: bolder;border: 1px solid #000000;">个人所得税（-）</td>
                    <td class="form_text_right" style="font-size: 14px;font-weight: bolder;border: 1px solid #000000;">
                        <span class="formatMoney">{pc}</span>
                    </td>
                    <td colspan="2" style="font-size: 14px;font-weight: bolder;border: 1px solid #000000;text-align: left;">{pcr}</td>
                </tr>
                <tr>
                    <td  style="text-align: center; font-size: 14px;font-weight: bolder;border: 1px solid #000000;">其他扣除（-）</td>
                    <td class="form_text_right" style="font-size: 14px;font-weight: bolder;border: 1px solid #000000;">
                        <span class="formatMoney">{sda}</span>
                    </td>
                    <td colspan="2" style="font-size: 14px;font-weight: bolder;border: 1px solid #000000;text-align: left;">{sdar}</td>
                </tr>
                <tr>
                    <td  style="text-align: center; font-size: 14px;font-weight: bolder;border: 1px solid #000000;">离职福利（+）</td>
                    <td class="form_text_right" style="font-size: 14px;font-weight: bolder;border: 1px solid #000000;">
                        <span class="formatMoney">{ara}</span>
                    </td>
                    <td colspan="2" style="font-size: 14px;font-weight: bolder;border: 1px solid #000000;text-align: left;">{arar}</td>
                </tr>
                <tr>
                    <td  style="text-align: center; font-size: 14px;font-weight: bolder;border: 1px solid #000000;">离职福利税金（-）</td>
                    <td class="form_text_right" style="font-size: 14px;font-weight: bolder;border: 1px solid #000000;" colspan="3">
                        <span class="formatMoney">{arac}</span>
                    </td>
                </tr>
                <tr>
                    <td  style="text-align: center; font-size: 14px;font-weight: bolder;border: 1px solid #000000;">其余税后需发（+）</td>
                    <td class="form_text_right" style="font-size: 14px;font-weight: bolder;border: 1px solid #000000;">
                        <span class="formatMoney">{oara}</span>
                    </td>
                    <td colspan="2" style="font-size: 14px;font-weight: bolder;border: 1px solid #000000;text-align: left;">{oarar}</td>
                </tr>
                <tr>
                    <td  style="text-align: center; font-size: 14px;font-weight: bolder;border: 1px solid #000000;">实发离职工资</td>
                    <td class="form_text_right" style="font-size: 14px;font-weight: bolder;border: 1px solid #000000;" colspan="3">
                        <span class="formatMoney">{ptol}</span>
                    </td>
                </tr>
                <tr>
                    <td  style="text-align: center; font-size: 14px;font-weight: bolder;border: 1px solid #000000;">账号：</td>
                    <td class="form_text_right" style="font-size: 14px;font-weight: bolder;border: 1px solid #000000;" colspan="3">
                        {acc}
                    </td>
                </tr>
                <tr>
                    <td  style="text-align: center; font-size: 14px;font-weight: bolder;border: 1px solid #000000;">开户行：</td>
                    <td class="form_text_right" style="font-size: 14px;font-weight: bolder;border: 1px solid #000000;" colspan="3">
                        {accbank}
                    </td>
                </tr>
                <tr>
                    <td style="text-align: left; font-size: 14px; font-weight: bolder
                        ;border: 1px solid #000000;padding-top: 10px;padding-bottom: 10px;" colspan="4">
                        根据《劳动合同法》规定，在我公司工作期间已签订劳动合同并购买社会保险。<br/>
                        自本人离开我公司之日起所有经济、法律等纠纷与我公司无关。
                    </td>
                </tr>
                <tr>
                    <td style="text-align: left; font-size: 14px; font-weight: bolder;border: 1px solid #000000;" >
                        人力资源部复核：
                    </td>
                    <td class="form_text_right" style="font-size: 14px;font-weight: bolder;border: 1px solid #000000;">
                    </td>
                    <td style="text-align: left; font-size: 14px; font-weight: bolder;border: 1px solid #000000;" >
                        人力资源部审批：
                    </td>
                    <td class="form_text_right" style="font-size: 14px;font-weight: bolder;border: 1px solid #000000;">
                    </td>
                </tr>
                <tr>
                    <td style="text-align: left; font-size: 14px; font-weight: bolder; width: 30%;border: 1px solid #000000;">
                        财务部审批：
                    </td>
                    <td class="form_text_right" style="font-size: 14px;font-weight: bolder ;width: 25%;border: 1px solid #000000;">
                    </td>
                    <td style="text-align: left; font-size: 14px; font-weight: bolder ; width: 20%;border: 1px solid #000000;" >
                        离职员工确认：
                    </td>
                    <td class="form_text_right" style="font-size: 14px;font-weight: bolder;border: 1px solid #000000;">
                    </td>
                </tr>
            </table>
            <table class="form_main_table" style="border: 1px solid #000000; margin-top: 170px;display:{isShow}; ">
				<tbody>
					<tr>
						<td colspan="4" style="border: 1px solid #000000; height: 65px;">
							<span
							style="font-size: 18px; font-weight: bold; letter-spacing: 5px;">
								{uname}离职工资费用归属结算清单 </span>
						</td>
					</tr>
					<tr>
						<td
							style="text-align: left; font-size: 14px; font-weight: bolder; border: 1px solid #000000;">部门\项目</td>
						<td class="form_text_right"
							style="font-size: 14px; font-weight: bolder; border: 1px solid #000000;">离职当月实际工作天数工作小计</td>
						<td
							style="text-align: left; font-size: 14px; font-weight: bolder; border: 1px solid #000000;">各项补贴</td>
						<td class="form_text_right"
							style="font-size: 14px; font-weight: bolder; border: 1px solid #000000;">离职福利</td>
					</tr>
					{html}
					<tr>
						<td
							style="text-align: left; font-size: 14px; font-weight: bolder; border: 1px solid #000000;">小计</td>
						<td class="form_text_right"
							style="font-size: 14px; font-weight: bolder; border: 1px solid #000000;">{bna}</td>
						<td
							style="text-align: left; font-size: 14px; font-weight: bolder; border: 1px solid #000000;">{sra}</td>
						<td class="form_text_right"
							style="font-size: 14px; font-weight: bolder; border: 1px solid #000000;">{ara}</td>
					</tr>
				</tbody>
			</table>
        </div>
        <table class="form_main_table">
            <tr>
                <td>
                    <input type="button" onclick="javascript:prn_print('payablesapply','付款申请')" class="txt_btn_a" value="打印"/>
                    <input type="button" onclick="javascript:prn_design('payablesapply','付款申请');" class="txt_btn_a" value="打印设置" />
                    <input type="button" class="txt_btn_a" value="关闭" onclick="closeFun();"/>
                </td>
            </tr>
        </table>
    </body>
</html>