<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
        <meta http-equiv="Content-Language" content="zh_cn" />
        <meta http-equiv="Content-Type" content="text/html; charset=GB2312" />
        <link rel="stylesheet" href="js/thickbox.css" type="text/css" media="screen" />
        <link rel="stylesheet" type="text/css" media="screen" href="js/jqgrid/css/ui.jqgrid.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="js/jqgrid/css/jquery-ui-1.8.2.custom.css" />
        <script type="text/javascript" src="js/jqgrid/jquery-1.4.2.min.js"></script>
        <script type="text/javascript" src="js/thickbox.js"></script>
        <script type="text/javascript" src="js/jqgrid/jquery-ui-1.8.2.custom.min.js"></script>
        <script type="text/javascript" src="js/jqgrid/i18n/grid.locale-cn.js"></script>
        <script type="text/javascript" src="js/jqgrid/jquery.jqGrid.min.js"></script>
        <script type="text/javascript" src="js/jqgrid/jquery.layout.js"></script>
        <script type="text/javascript" src="js/jquery.validate.js"></script>
        <script type="text/javascript" src="js/DatePicker/WdatePicker.js"></script>
        <title></title>
        <style type="text/css">
            html, body {
                margin: 0;			/* Remove body margin/padding */
                padding: 0;
                overflow: hidden;	/* Remove scroll bars on browser window */
                font-size: 9pt;
            }
            .ui-jqgrid-title{ font-size: 90%;}
            .ui-jqgrid{
                border-top: 0px;
                border-right: 1px solid #AED0EA;
                border-left: 1px solid #AED0EA;
                border-bottom: 1px solid #AED0EA;
            }
            #t_rowedgrid{ height: 23px; }
            .tl{
               text-align: right;
               padding-right: 1px;
               width: 80px;
               height: 20px;
               line-height: 20px;
            }
        </style>
        <script type="text/javascript">
            var wh=parent.document.documentElement.clientHeight;
            var ww=document.documentElement.clientWidth;
            jQuery.validator.addMethod("isIdCardNo", function(value, element) {
                return this.optional(element) || checkidcard(value);
            }, "请输入正确的身份证号码");
            jQuery(document).ready(function(){
                jQuery("#rowedgrid").jqGrid({
                    url:'{data_list}',
                    datatype: "json",
                    mtype:'GET',
                    colNames:[
								'员工号','员工ID','员工','部门',''
                          ],
                          colModel:[
                              {name:'usercard',index:'usercard',key:true, width:80, align:'center', sortable:false ,search:false},
                              {name:'userid',index:'userid',hidden:true  ,width:40 },
                              {name:'username',index:'username', width:80,align:'center',editable:true , searchoptions:{sopt:['cn']}},
                        	  {name:'dept',index:'dept', width:80,align:'center',editable:true , searchoptions:{sopt:['cn']}},
                        	  {name:'blank',index:'blank', width:1200,align:'center',editable:true , searchoptions:{sopt:['cn']}}
                          ],
                    rowNum:30,
                    rowList:[15,20,30,50,100],
                    pager: '#prowedgrid',
                    width:ww-3,
                    height:(wh-135+2*((wh-500)/50)),
                    viewrecords: true,
                    sortorder: "desc",
                    rownumbers: true,
                    shrinkToFit:false,
                    multiselect: true,
                    multikey: "usercard",
                    subGrid : true,
                	subGridUrl:'?model=salary&action=hr_adjust_list',
                    subGridModel:[{ name:['调整年月'
                                          ,'调整时间','基本工资'
                                          ,'岗位工资','绩效工资','项目绩效奖金','项目管理补贴','项目住宿补贴','项目通信补贴','项目电脑补贴','变动部分总薪酬','总薪酬','补贴发放部分'],
                    				width:[100,200,100,100,100,100,100,100,100,100,100,100,100],
                    				align:["center","center","right","right","right","right","right","right","right","right","right","right","right"],
                    				params: ['userid'] }],
                    caption: "{user_capt}"
                });
                jQuery("#rowedgrid").jqGrid('navGrid',"#prowedgrid",{edit:false,add:false,del:false,view:true});
                jQuery("#rowedgrid").jqGrid('navButtonAdd','#prowedgrid',{
                    caption: "选择列",
                    title: "隐藏/显示 列表",
                    onClickButton : function (){
                        jQuery("#rowedgrid").jqGrid('setColumns',{dataheight:wh-208});
                    }
                });
            });
            function gridNavSeaFun(){
                var seapy = jQuery("#seapy").val();
                var seapm = jQuery("#seapm").val();
                var seadept = jQuery("#seadept").val();
                var seaname = jQuery("#seaname").val();
                var seacom = jQuery("#seacom").val();
                var iswy = $("#iswy").is(":checked");
                var seaerrs = 'n';
                if(jQuery("#errs").attr("checked")==true){
                    seaerrs='y';
                }
                jQuery("#rowedgrid").jqGrid('setGridParam',{url:"{data_list}&seapy="+seapy
                        +"&seapm="+seapm+"&seadept="+seadept+"&seaname="+seaname+"&seacom="+seacom+'&seaerrs='+seaerrs+"&iswy="+iswy,page:1}).trigger("reloadGrid");
            }
        </script>
        <style type="text/css">
            #newuserForm label.error {
                margin-left: 10px;
                width: auto;
                display: inline;
                color: red;
            }
            .table {
                border-collapse: collapse;
                border:1px solid #D3E5FA;
                text-align:center;
                word-break:break-all;
            }
            .table td {
                border:1px solid #D3E5FA;
            }
        </style>
    </head>
    <body>
        <input type="hidden" id="user_key" value="" ></input>
        <table id="rowedgrid"></table>
        <div id="pgtoolbar"></div>
        <div id="prowedgrid"></div>
        <div id="hr_user_new" class="ui-searchFilter" tabindex="-1" role="dialog" style="display: none; left: 0px; top: 0px;overflow:auto;width: 620px;height:100%;"  >
            <form id="newuserForm" method="post" action="#">
                <table class="ui-widget-content ui-corner-all table" align="center" style="text-align: left;width: 608px;" cellpadding="0" cellspacing="1" >
                    <tr>
                        <td id="hr_user_new_name" style="line-height: 20px;text-align: center;" class="ui-widget-header ui-corner-all" colspan="2">
                            审批信息
                        </td>
                    </tr>
                    <tr>
                        <td class="tl" style="padding-top:5px;"> 单号：</td>
                        <td id="exa_fid"></td>
                    </tr>
                    <tr>
                        <td class="tl"> 姓名：</td>
                        <td id="exa_user"></td>
                    </tr>
                    <tr>
                        <td class="tl"> 部门：</td>
                        <td id="exa_dept"></td>
                    </tr>
                    <tr>
                        <td class="tl"> 出差系数：</td>
                        <td id="e_ccxs"></td>
                    </tr>
                    <tr>
                        <td class="tl"> 考核系数：</td>
                        <td id="e_khxs"></td>
                    </tr>
                    
                    <tr>
                        <td class="tl"> 奖金：</td>
                        <td id="e_jjam"></td>
                    </tr>
                    <tr>
                        <td class="tl"> 管理津贴：</td>
                        <td id="e_gljtam"></td>
                    </tr>
                    
                    <tr>
                        <td class="tl"> 其他津贴：</td>
                        <td id="e_qtjtam"></td>
                    </tr>
                    <tr>
                        <td class="tl"> 绩效奖惩：</td>
                        <td id="e_jxzcam"></td>
                    </tr>
                    
                    <tr>
                        <td class="tl"> 备注：</td>
                        <td id="exa_rmk"></td>
                    </tr>
                    <tr>
                        <td class="tl"> 审批信息：</td>
                        <td id="exa_info"></td>
                    </tr>
                    <tr>
                        <td class="tl"> 审批：</td>
                        <td>
                            <input type="radio" name="exa_res" id="exa_res" value="yes" checked="checked" />同意
                            <input type="radio" name="exa_res" id="exa_res" value="no" />打回
                        </td>
                    </tr>
                    <tr>
                        <td class="tl"> 意见：</td>
                        <td><textarea id="exa_remark" name="exa_remark" rows="5" cols="38"></textarea></td>
                    </tr>
                    <tr>
                        <td colspan="2" align="center">
                            <input type="submit" id="newuserSub" value="审批"/>
                            <input type="button" onclick="paCloseFun('hr_user_new');"  value="关闭"/>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
        <div id="dp_exa_all" class="ui-searchFilter" tabindex="-1" role="dialog" style="display: none; left: 68px; top: 0px;" >
            <table class="ui-widget-content ui-corner-all" align="center" style="text-align: left;width: 420px;" cellpadding="0" cellspacing="0" >
                <tr>
                    <td style="line-height: 20px;text-align: center;" class="ui-widget-header ui-corner-all" colspan="2">
                        批量审批
                    </td>
                </tr>
                <tr>
                    <td class="tl" style="padding-top: 5px;"> 审批：</td>
                    <td>
                        <input type="radio" name="exa_res_all" id="exa_res_all" value="yes" checked="checked" />同意
                        <input type="radio" name="exa_res_all" id="exa_res_all" value="no" />打回
                    </td>
                </tr>
                <tr>
                    <td class="tl"> 意见：</td>
                    <td><textarea id="exa_remark" name="exa_remark_all" rows="5" cols="38"></textarea></td>
                </tr>
                <tr>
                    <td colspan="2" align="center">
                        <input type="button" id="exaAllBtn" value="审批" />
                        <input type="button" onclick="paCloseFun('dp_exa_all');"  value="关闭"/>
                    </td>
                </tr>
            </table>
        </div>
        <div id="dp_exa_inf" class="ui-searchFilter" tabindex="-1" role="dialog" style="display: none; left: 0px; top: 0px;" >
            <table class="ui-widget-content ui-corner-all table" align="center" style="text-align: left;width: 608px;" cellpadding="0" cellspacing="1" >
                <tr>
                    <td id="hr_user_new_name" style="line-height: 20px;text-align: center;" class="ui-widget-header ui-corner-all" colspan="2">
                        审批信息
                    </td>
                </tr>
                <tr>
                    <td class="tl" style="padding-top:5px;"> 单号：</td>
                    <td id="inf_fid"></td>
                </tr>
                <tr>
                    <td class="tl"> 姓名：</td>
                    <td id="inf_user"></td>
                </tr>
                <tr>
                    <td class="tl"> 部门：</td>
                    <td id="inf_dept"></td>
                </tr>
                <tr>
                    <td class="tl"> 备注：</td>
                    <td id="inf_rmk"></td>
                </tr>
                <tr>
                    <td class="tl"> 金额：</td>
                    <td id="inf_am"></td>
                </tr>
                <tr>
                    <td class="tl"> 审批日期：</td>
                    <td id="inf_edt"></td>
                </tr>
                <tr>
                    <td class="tl"> 审批信息：</td>
                    <td id="inf_info"></td>
                </tr>
                <tr>
                    <td colspan="2" align="center">
                        <input type="button" onclick="paCloseFun('dp_exa_inf');"  value="关闭"/>
                    </td>
                </tr>
            </table>
        </div>
    </body>
</html>