<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
        <meta http-equiv="Content-Language" content="zh_cn" />
        <meta http-equiv="Content-Type" content="text/html; charset=GB2312" />
        <script type="text/javascript" src="js/jquery.js"></script>
        <script type="text/javascript" src="js/thickbox.js"></script>
        <script type="text/javascript" src="js/general.js"></script>
        <link rel="stylesheet" href="js/thickbox.css" type="text/css" media="screen" />
        <link rel="stylesheet" href="images/style.css" type="text/css" media="screen" />
        <link rel="stylesheet" type="text/css" href="js/loadmask/jquery.loadmask.css"/>
        <script type="text/javascript" src="js/loadmask/jquery.loadmask.min.js"></script>
        <title></title>
        <script type="text/javascript">
            function ck(){
                if($('#ctr_file').val()==''){
                    alert('请导入对比数据');
                    return false;
                }
                return true;
            }
            function changeCtrFun(){
                $("#repdiv").mask("等待中......");
                var rand=Math.random()*100000;
                var seapy = $('#seapy').val();
                var seapm = $('#seapm').val();
                //alert(seapm+''+seapy);
                if(confirm('确定提交以下数据信息？')){
                    $.post('{up_url}',{
                        rand:rand,ckt:'{ckt}',seapy:seapy,seapm:seapm
                        },
                        function (data)
                        {
                        	var msg=eval('(' + data + ')');
                            if(msg&&msg['error']){
                                alert('错误：'+msg['error']);
                            }else{
                                alert('操作成功！');
                            }
                        	$("#repdiv").unmask();   
                        }
                    )
                }else{
                    $("#repdiv").unmask();
                }
            }
        </script>
    </head>
    <body id ="repdiv">
    <form action="{ck_url}" method="post" onsubmit="return ck();" enctype="multipart/form-data">
        <table border="0" cellpadding="0" cellspacing="0" width="100%" style="margin-buttom:2px;">
          <tr>
              <td>
                  导入：<input type="file" name="ctr_file" id="ctr_file" />&nbsp;
                  <input type="submit" id="subctr" name="subctr" value="导入" />
                  <input type="button" id="changectr" name="changectr" value="提交" onclick="changeCtrFun()" title="提交"/>
                  {notice_info}
              </td>
          </tr>
        </table>
    </form>
    <table>
    	<tr><td ><pre style="color:red;">导入数据的抬头请按下表的表头（除开“序号”和“验证信息”）。</pre></td></tr>
    </table>
    <table border="1" width="98%" class="table" cellpadding="0" cellspacing="0" align="center" >
        {data_list}
    </table>
    </body>
</html>