/* CSS Document */
body {
	font-size: 12px;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-color: #ffffff;
}

td {
	font-size: 12px;
}

.x-selectable,.x-selectable * {
	-moz-user-select: text !important;
	-khtml-user-select: text !important;
}

.user {
	background-image: url(../images/user.gif) !important;
}

.key {
	background-image: url(../images/key.gif) !important;
}

.userOnLine {
	background-image: url(../images/onlineuser.gif) !important;
}

.userOffLine {
	background-image: url(../images/offlineuser.gif) !important;
}

.organ {
	background-image: url(../images/organ.gif) !important;
}

.object {
	background-image: url('../images/object.gif') !important;
}

.tab {
	background-image: url('../images/tab.gif') !important;
}

.field {
	background-image: url('../images/field.gif') !important;
}

.add {
	background-image: url(../images/add.gif) !important;
}

.remove {
	background-image: url(../images/delete.gif) !important;
}

.edit {
	background-image: url(../images/edit.png) !important;
}

.view {
	background-image: url(../images/view.png) !important;
}

.save {
	background: url(../images/save.png) no-repeat 0 2px !important;
}

.clean {
	background: url(../images/clean.png) no-repeat 0 2px !important;
}

.close {
	background: url(../images/close.png) no-repeat 0 2px !important;
}

.close2 {
	background: url(../images/close2.png) no-repeat 0 2px !important;
}

.editpwd {
	background-image: url(../images/editpwd.gif) !important;
}

.search {
	background-image: url(../images/search.png) !important;
}

.logout {
	background-image: url(../images/log-out.png) !important;
}

.chageCss {
	background-image: url(../images/rss1.gif) !important;
}

.webqq {
	background-image: url(../images/qq.gif) !important;
}

.perm {
	background-image: url(../images/rss.gif) !important;
}

.search-icon {
	background: url( ../images/icons.gif ) no-repeat -3px -1px !important;
}

.search-icon2 {
	background: url( ../images/icons.gif ) no-repeat -3px -1px !important;
}

.advance-search-icon {
	background: url( ../images/icons.gif) no-repeat -3px -736px !important;
}

.intro {
	background: url(../../images/icon-png/intro.png) no-repeat 0 2px
		!important;
}

.export-icon {
	background: url( ../images/icons.gif ) no-repeat -3px -403px !important;
}

.import-icon {
	background: url( ../images/icons.gif ) no-repeat -3px -307px !important;
}

.print-icon {
	background: url( ../images/icons.gif ) no-repeat -3px -773px !important;
}

.remove-icon {
	background: url( ../images/icons.gif ) no-repeat -3px -202px !important;
}

.confirm-icon {
	background: url( ../images/icons.gif ) no-repeat -3px -272px !important;
}

.signContract-icon {
	background: url( ../images/icons.gif ) no-repeat -3px -109px !important;
}

.record-icon {
	background: url( ../images/icons.gif ) no-repeat -3px -342px !important;
}

.projectCreate-icon {
	background: url( ../images/icons.gif ) no-repeat -3px -575px !important;
}

.projectProgress-icon {
	background: url( ../images/icons.gif ) no-repeat -3px -638px !important;
}

/*
 * Ext JS Library 2.2
 * Copyright(c) 2006-2008, Ext JS, LLC.
 * licensing@extjs.com
 *
 * http://extjs.com/license
 */
.x-column-tree .x-tree-node {
	zoom: 1;
}

.x-column-tree .x-tree-node-el {
	/*border-bottom:1px solid #eee; borders? */
	zoom: 1;
}

.x-column-tree .x-tree-selected {
	background: #d9e8fb;
}

.x-column-tree  .x-tree-node a {
	line-height: 18px;
	vertical-align: middle;
}

.x-column-tree  .x-tree-node a span {

}

.x-column-tree  .x-tree-node .x-tree-selected a span {
	background: transparent;
	color: #000;
}

.x-tree-col {
	float: left;
	overflow: hidden;
	padding: 0 1px;
	zoom: 1;
}

.x-tree-col-text,.x-tree-hd-text {
	overflow: hidden;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	padding: 3px 3px 3px 5px;
	white-space: nowrap;
	font: normal 11px arial, tahoma, helvetica, sans-serif;
}

.x-tree-headers {
	background: #f9f9f9
		url(js/resources/../images/default/grid/grid3-hrow.gif) repeat-x 0
		bottom;
	cursor: default;
	zoom: 1;
}

.x-tree-hd {
	float: left;
	overflow: hidden;
	border-left: 1px solid #eee;
	border-right: 1px solid #d0d0d0;
}

.task {
	background-image: url(../images/cog.png) !important;
}

.task-folder {
	background-image: url(../images/folder_go.png) !important;
}

.x-form-file-wrap {
	position: relative;
	height: 22px;
}

.x-form-file-wrap .x-form-file {
	position: absolute;
	right: 0;
	-moz-opacity: 0;
	filter: alpha(opacity :         0);
	opacity: 0;
	z-index: 2;
	height: 22px;
}

.x-form-file-wrap .x-form-file-btn {
	position: absolute;
	right: 0;
	z-index: 1;
}

.x-form-file-wrap .x-form-file-text {
	position: absolute;
	left: 0;
	z-index: 3;
	color: #777;
}

/***分页树开始***/
.x-tree-paging-toolbar .x-btn-left {
	background: none;
}

.x-tree-paging-toolbar .x-btn-right {
	background: none;
}

.x-tree-paging-toolbar .x-btn-center {
	background: none;
	padding: 0;
}

.x-tree-paging-btn-icon .x-btn-center .x-btn-text {
	background-position: center;
	background-repeat: no-repeat;
	height: 13px;
	width: 9px;
	cursor: pointer;
	white-space: nowrap;
	padding: 0;
}

/***分页树结束***/
.ux-form-statictextfield {
	background: transparent;
	border: none;
	padding-top: 2px !important;
	padding-bottom: 2px !important;
	color: #333;
}

/***portal***/
.x-portal .x-panel-dd-spacer {
	margin-bottom: 10px;
}

.x-portlet {
	margin-bottom: 10px;
}

/* Clean up the look of the portlets */
.x-portlet .x-panel-ml {
	padding-left: 2px;
}

.x-portlet .x-panel-mr {
	padding-right: 2px;
}

.x-portlet .x-panel-bl {
	padding-left: 2px;
}

.x-portlet .x-panel-br {
	padding-right: 2px;
}

.x-portlet .x-panel-body {
	background: white;
}

.x-portlet .x-panel-mc {
	padding-top: 2px;
}

.x-portlet .x-panel-bc .x-panel-footer {
	padding-bottom: 2px;
}

.x-portlet .x-panel-nofooter .x-panel-bc {
	height: 2px;
}

/*
 * Ext JS Library 2.2
 * Copyright(c) 2006-2008, Ext JS, LLC.
 * licensing@extjs.com
 *
 * http://extjs.com/license
 */
.status {
	color: #555;
}

.x-progress-wrap.left-align .x-progress-text {
	text-align: left;
}

.x-progress-wrap.custom {
	height: 17px;
	border: 1px solid #686868;
	overflow: hidden;
	padding: 0 2px;
}

.ext-ie .x-progress-wrap.custom {
	height: 19px;
}

.custom .x-progress-inner {
	height: 17px;
	background: #fff;
}

.custom .x-progress-bar {
	height: 15px;
	background: transparent url(../images/custom-bar.gif) repeat-x 0 0;
	border-top: 1px solid #BEBEBE;
	border-bottom: 1px solid #EFEFEF;
	border-right: 0;
}

.icon-reload {
	background-image: url(../images/icons/reload.png) !important;
}

.icon-expand-all {
	background-image: url(../images/icons/expand-all.gif) !important;
}

.icon-collapse-all {
	background-image: url(../images/icons/collapse-all.gif) !important;
}

.icon-pdf {
	background-image: url(../images/icons/PDF.png) !important;
}

.icon-xls {
	background-image: url(../images/icons/XLS.png) !important;
}

/* 页面中按钮样式、位置默认属性控制 */
.btn {
	background: url(../images/btn_bg.gif);
	border: 1px solid;
	cursor: hand;
	height: 20px;
	font-size: 12px;
	color: #000;
	border-top-color: #D4D3D3;
	border-right-color: #B4B4B4;
	border-bottom-color: #B4B4B4;
	border-left-color: #D4D3D3;
}

/** 下拉多选 **/
.ux-MultiSelect-icon {
	width: 16px;
	height: 16px;
	float: left;
	background-position: -1px -1px ! important;
	background-repeat: no-repeat ! important;
}

.ux-MultiSelect-icon-checked {
	background: transparent
		url(../resources/images/default/menu/checked.gif);
}

.ux-MultiSelect-icon-unchecked {
	background: transparent
		url(../resources/images/default/menu/unchecked.gif);
}

.ux-grid3-row-action-cell .x-grid3-cell-inner {
	padding: 1px 0 0 0;
}

.ux-grid3-row-action-cell .x-grid3-cell-inner div {
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
	cursor: pointer;
}

.x-form-rangefield-wrap {

}

.x-form-rangefield-control {
	float: left;
	margin: 0px;
	padding: 0px;
}

.x-form-rangefield-split {
	float: left;
	padding: 0;
	margin: 0;
	height: 22px;
	line-height: 22px;
	width: 6px;
	text-align: center;
}


.minutecss{
    padding:4px;
	height:100%;
    border-top: 1px solid #a3bad9;
    background: #dfecfb url(../resources/images/default/shared/glass-bg.gif) repeat-x left top;
}
.y-hour-middle,.y-hour-left,.y-hour-right {
	font:bold 11px "sans serif", tahoma, verdana, helvetica;
	overflow:hidden;
}

.y-hour-right, .y-hour-left {
	width:18px;
}
.y-hour-right{
	text-align:right;
}
.y-hour-middle {
	padding-top:2px;
	padding-bottom:2px;
	cursor:pointer;
}
.y-hour-right a, .y-hour-left a{
	display:block;
	width:16px;
	height:16px;
	background-position: center;
	background-repeat: no-repeat;
	cursor:pointer;
}

.y-hour-right a {
	background-image: url(../images/arrowRight.gif);
	margin-right:2px;
}
.y-hour-left a{
	background-image: url(../images/arrowLeft.gif);
	margin-left:2px;
}
.y-minute-middle,.y-minute-left,.y-minute-right {
	font:bold 11px "sans serif", tahoma, verdana, helvetica;
	overflow:hidden;
}

.y-minute-right, .y-minute-left {
	width:18px;
}
.y-minute-right{
	text-align:right;
}
.y-minute-middle {
	padding-top:2px;
	padding-bottom:2px;
	cursor:pointer;
}
.y-minute-right a, .y-minute-left a{
	display:block;
	width:16px;
	height:16px;
	background-position: center;
	background-repeat: no-repeat;
	cursor:pointer;
}

.y-minute-right a {
	background-image: url(../images/arrowRight.gif);
	margin-right:2px;
}
.y-minute-left a{
	background-image: url(../images/arrowLeft.gif);
	margin-left:2px;
}
