<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en_US" xml:lang="en_US">
<head>
	<title>查看物料序列号</title>
	{#commonInclude#}
</head>
<body>
<table class="form_main_table">
<tr>
<td colspan="4">
<div style="height:320px;overflow-y:auto;overflow-x:hidden">
<table class="main_table" id="itemtable">
 			<thead>
							<tr>
								<td colspan="3" class="form_header">
									序列号信息
								</td>
							</tr>
                            <tr class="main_tr_header">
                            	<th>
                            	</th>
                                <th>
                                    序列号
                                </th>
							</tr>
			</thead>
			<tbody id="itembody">
				{serialnoList}
      		</tbody>
</table>
</div>
</td>
</tr>
<tr>
		<td class="txt_btn" colspan="4">
	      <input  type="button" class="txt_btn_a" value=" 关  闭 " onclick="self.parent.tb_remove();"/>
		</td>
</tr>
</table>
</body>
</html>