<html>
<title>导入EXCEL</title>
	<link rel="stylesheet" type="text/css" href="css/yxstyle.css" />
    <script type="text/javascript" src="js/jquery/jquery-1.4.2.js"></script>
    <script type="text/javascript" src="js/common/businesspage.js"></script>

    <script type="text/javascript" src="view/template/finance/stockbalance/js/stockbalance-toaddproductprice.js"></script>
<body>
<div class="main_head">
      <span class="main_head_title">
            余额价格导入
      </span>
</div>
<form action="?model=finance_stockbalance_stockbalance&action=addProductPrice" ENCTYPE="multipart/form-data" method="POST" id="form1" onsubmit="return checkform();">
<input type="hidden" name="leadExcel" value="true">
<table class="form_main_table">
	<tr>
		<td class="form_text_left">
			更新数据的年份:
		</td>
		<td class="form_text_right">
			<input type="text" class="txt" id="thisYear" name="stockbalance[thisYear]" value="{thisYear}" />
		</td>
	</tr>
	<tr>
		<td class="form_text_left">
			更新数据的月份:
		</td>
		<td class="form_text_right">
			<select class="select" id="thisMonth" name="stockbalance[thisMonth]">
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5</option>
				<option value="6">6</option>
				<option value="7">7</option>
				<option value="8">8</option>
				<option value="9">9</option>
				<option value="10">10</option>
				<option value="11">11</option>
				<option value="12">12</option>
			</select>
			<input type="hidden" id="thisMonthHide" value="{thisMonth}"/>
		</td>
	</tr>
	<tr>
		<td class="form_text_left">
			物料编码匹配:
		</td>
		<td class="form_text_right">
			<select class="select" id="updateCode" name="stockbalance[updateCode]">
				<option value="productCode">OA编码</option>
				<option value="ext2">K3编码</option>
			</select>
		</td>
	</tr>
	<tr>
		<td class="form_text_left">
			<label for="file">上传文件:</label>
		</td>
		<td class="form_text_right">
		    <input type="file" class="txt" id="file" name="inputExcel" id="inputExcel"/>
            <input type="submit" class="txt_btn_a" value=" 导 入 ">
		</td>
	</tr>
    <tr>
        <td class="form_text_left">
            <label for="file">模板下载:</label>
        </td>
        <td class="form_text_right">
            <input type="button" class="txt_btn_a" value="下载模版" onclick="location='upfile/期初余额更新表.xls'">
        </td>
    </tr>
	<tr>
        <td></td>
		<td class="form_text_right" colspan="2">
			注：<br/>
			1.本模板只需要填写物料编码以及单价列，其他列可为空
		</td>
	</tr>
	<tr id="loading" style="display:none">
		<td colspan="2">
			<img src="images/loading1.gif">
		</td>
	</tr>
</table>
</form>
</body>
</html>