<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>
			盘盈入库核算
		</title>
		<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
		<link rel="stylesheet" type="text/css" href="css/yxstyle.css" />

		<script type="text/javascript" src="js/jquery/jquery-1.4.2.js"></script>
		<script type="text/javascript" src="js/common/businesspage.js"></script>

		<script type="text/javascript" src="view/template/finance/stockbalance/js/stockbalance-tooveragecal.js"></script>
	</head>
	<body>
		<div class="main_head">
			<span class="main_head_title">
			盘盈入库核算
			</span>
		</div>
		<table class="form_main_table">
			<tr>
				<td class="form_text_left">
					物料范围
				</td>
				<td class="form_text_right">
					<input type="radio" value="" checked="checked"/>全部
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<input type="hidden" id="thisYear" name="stockbalance[thisYear]" value="{thisYear}"/>
					<input type="hidden" id="thisMonth" name="stockbalance[thisMonth]" value="{thisMonth}"/>
					<input type="hidden" id="checkType" value="0"/>

					<input type="button" class="txt_btn_a" value="确 定" onclick="toList()"/>
				</td>
			</tr>
		</table>
	</body>
</html>