<html>
<title>导入EXCEL数据</title>
	<link rel="stylesheet" type="text/css" href="css/yxstyle.css" />
    <script type="text/javascript" src="js/jquery/jquery-1.4.2.js"></script>
    <script type="text/javascript" src="js/common/businesspage.js"></script>
<body>
<div class="main_head">
      <span class="main_head_title">
            引入数据 - 按部门
      </span>
</div>
<form action="?model=finance_stockbalance_stockbalance&action=productInCalExcelInDept" ENCTYPE="multipart/form-data" method="POST" id="form1">
<input type="hidden" name="leadExcel" value="true">
<input type="hidden" name="isCheck" id="isCheck" value="1">

<table class="form_main_table" align="center" width="90%" border="0">
	<tr>
		<td class="form_text_left">
			<label for="file">上传文件:</label>
		</td>
		<td class="form_text_right">
		    <input type="file" class="txtMiddlelong" name="inputExcel" id="inputExcel"/>
            <input type="submit" class="txt_btn_a" value=" 导 入">
		</td>
	</tr>
	<tr>
		<td class="form_text_left">
			<label for="file">模板下载:</label>
		</td>
		<td class="form_text_right">
		    <input type="button" class="txt_btn_a" value="下载模版" onclick="location='upfile/产品入库导出.xls'">
		</td>
	</tr>
	<tr>
		<td class="form_text_right">
		</td>
		<td class="form_text_right">
			注：<br/>

			导入之前请确保excel格式与模板格式保持一致。<br/>
			必填字段为物料编号、单价和金额，其余信息可不填。<br/>
			导入的信息会更新本期产品入库单据。<br/>
			<span class="red">导入功能暂不支持单元格公式计算。</span>
		</td>
	</tr>
	<tr id="loading" style="display:none">
		<td colspan="2">
			<img src="images/loading1.gif">
		</td>
	</tr>
</table>
</form>
</body>
</html>