
#top_pad
{
    *width: 750px !important;
    right: 0px;
	top:0px;
    vertical-align:middle;
    line-height: 40px;
    height: 40px;
	text-align:right;
	float:right;
   /* background:url(../images/happy-top-tiao4.gif) repeat-x;*/
    border:0px solid #888888;
}
.top_pad01
{
	float:right;
	text-align:center;
	width:394px;
	_padding-top:9px;
    vertical-align:middle;
    line-height: 40px;
    height: 40px;
	background:url(../images/topbg02.gif) no-repeat;
}
.top_pad02
{
	float:right;
	text-align:center;
	 margin-left:10px;
	width:394px;
	_padding-top:8px;
    vertical-align:middle;
    line-height: 40px;
    height: 40px;
	background:url(../images/topbg02.gif) no-repeat;
}
.top_pad03
{
	float:right;
	text-align:center;
	margin-left:10px;
	width:315px;
    vertical-align:middle;
    line-height: 40px;
    height: 40px;
	background:url(../images/topbg04.gif) no-repeat;

}
.top_pad04
{
	float:right;
	text-align:center;
	width:474px;
    vertical-align:middle;
	_padding-top:9px;
    line-height: 40px;
    height: 40px;
	background:url(../images/topbg03.gif) no-repeat;
}
#top_pad1
{
    position: absolute;
    *width: 720px !important;
    right: 0px;
	top:0px;
    vertical-align:middle;
    line-height: 40px;
    height: 40px;
	text-align:right;
	float:right;
    background:url(../images/happy-top-tiao3.gif) repeat-x;
    z-index: 9999;
    border:0px solid #888888;
}
#page_id
{
	margin-top:130px;
	margin-left:30px;
	
	float:left;#float:none;_float:none;
    width:240px;
	right:0px;
	bottom:0px;
	text-align:center;
	line-height:30px;
	font-weight:bold;
    height: 30px;
   /* background: green url(../images/header.jpg) repeat-x;*/
    border:0px solid #888888;
}
.bottonbg
{
	float:left;
    width: 100%;
    vertical-align:middle;
	text-align:center;
    line-height: 25px;
    height: 90px!important;
    background: url(../images/happy-bottom-hua.gif) repeat-x;
}
#topimgbg
{
	float:left;
	width:362px;
    margin: 0 auto;
    vertical-align:middle;
    height: 150px!important;
	width:303px;
    background: url(../images/heppy-left-tops.gif);
	top:0px;
	left:0px;
    border:0px solid #888888;
}
#topbglower
{
    position: absolute;
	top:33px;
    width: 70%;
    right: 5px;
    vertical-align:middle;
    line-height: 25px;
    height: 30px;
    background:url(../images/happy-top-yezi.gif) repeat-x;
    z-index: 9997;
    border:0px solid #888888;
}
.pagebg{
	float:right;
	width: 308px;
    right: 0px;
    height: 201px!important;
	margin-bottom:-50px;
	z-index:3;
    background:url(../images/happy-bottom-dg1.gif);
    border:0px solid #888888;
}
.countsid{
	float:left;
	width:100%;
	height:400px;
	
	}	
/*#top_pad input{font-size: 8pt}
设定wall总体样式*/

.wall 
{
	font-family: Arial, Tahoma, Verdana;
	font-size: 9pt;
	text-decoration: none;
	line-height: 150%;
	color:#000;
	width:260px;
	height:283px;
	position:absolute;
	cursor:move;
	word-wrap:break-word;
	overflow: hidden; 
	text-overflow: ellipsis;
	/*background-image:url(../images/happy-ka04.gif);*/
}

.wall1 
{
	font-family: Arial, Tahoma, Verdana;
	font-size: 9pt;
	text-decoration: none;
	line-height: 150%;
	color:#000;
	width:260px;
	height:283px;
	position:absolute;
	cursor:move;
	word-wrap:break-word;
	overflow: hidden; 
	text-overflow: ellipsis;
	background-image:url(../images/hap01.gif);

}
.wall2 
{
	font-family: Arial, Tahoma, Verdana;
	font-size: 9pt;
	text-decoration: none;
	line-height: 150%;
	color:#000;
	width:260px;
	height:283px;
	position:absolute;
	cursor:move;
	word-wrap:break-word;
	overflow: hidden; 
	text-overflow: ellipsis;
	background-image:url(../images/hap02.gif);

}
.wall3
{
	font-family: Arial, Tahoma, Verdana;
	font-size: 9pt;
	text-decoration: none;
	line-height: 150%;
	color:#000;
	width:260px;
	height:283px;
	position:absolute;
	cursor:move;
	word-wrap:break-word;
	overflow: hidden; 
	text-overflow: ellipsis;
	background-image:url(../images/hap03.gif);

}
.wall4
{
	font-family: Arial, Tahoma, Verdana;
	font-size: 9pt;
	text-decoration: none;
	line-height: 150%;
	color:#000;
	width:260px;
	height:283px;
	position:absolute;
	cursor:move;
	word-wrap:break-word;
	overflow: hidden; 
	text-overflow: ellipsis;
	background-image:url(../images/hap04.gif);

}
.wall5
{
	font-family: Arial, Tahoma, Verdana;
	font-size: 9pt;
	text-decoration: none;
	line-height: 150%;
	color:#000;
	width:260px;
	height:283px;
	position:absolute;
	cursor:move;
	word-wrap:break-word;
	overflow: hidden; 
	text-overflow: ellipsis;
	background-image:url(../images/hap05.gif);

}
.wall6
{
	font-family: Arial, Tahoma, Verdana;
	font-size: 9pt;
	text-decoration: none;
	line-height: 150%;
	color:#000;
	width:260px;
	height:283px;
	position:absolute;
	cursor:move;
	word-wrap:break-word;
	overflow: hidden; 
	text-overflow: ellipsis;
	background-image:url(../images/hap05.gif);

}
.wall7
{
	font-family: Arial, Tahoma, Verdana;
	font-size: 9pt;
	text-decoration: none;
	line-height: 150%;
	color:#000;
	width:260px;
	height:283px;
	position:absolute;
	cursor:move;
	word-wrap:break-word;
	overflow: hidden; 
	text-overflow: ellipsis;
	background-image:url(../images/hap05.gif);

}
.wall8
{
	font-family: Arial, Tahoma, Verdana;
	font-size: 9pt;
	text-decoration: none;
	line-height: 150%;
	color:#000;
	width:260px;
	height:283px;
	position:absolute;
	cursor:move;
	word-wrap:break-word;
	overflow: hidden; 
	text-overflow: ellipsis;
	background-image:url(../images/hap05.gif);

}

/*
.wall1 
{
	font-family: Arial, Tahoma, Verdana;
	font-size: 9pt;
	text-decoration: none;
	line-height: 150%;
	color:#000;
	width:242px;
	height:292px;
	position:absolute;
	cursor:move;
	word-wrap:break-word;
	overflow: hidden; 
	text-overflow: ellipsis;
	background-image:url(../images/happy-ka02.gif);

}
.wall2 
{
	font-family: Arial, Tahoma, Verdana;
	font-size: 9pt;
	text-decoration: none;
	line-height: 150%;
	color:#000;
	width:242px;
	height:292px;
	position:absolute;
	cursor:move;
	word-wrap:break-word;
	overflow: hidden; 
	text-overflow: ellipsis;
	background-image:url(../images/happy-ka02.gif);

}
.wall3
{
	font-family: Arial, Tahoma, Verdana;
	font-size: 9pt;
	text-decoration: none;
	line-height: 150%;
	color:#000;
	width:242px;
	height:292px;
	position:absolute;
	cursor:move;
	word-wrap:break-word;
	overflow: hidden; 
	text-overflow: ellipsis;
	background-image:url(../images/happy-ka03.gif);

}
.wall4
{
	font-family: Arial, Tahoma, Verdana;
	font-size: 9pt;
	text-decoration: none;
	line-height: 150%;
	color:#000;
	width:242px;
	height:292px;
	position:absolute;
	cursor:move;
	word-wrap:break-word;
	overflow: hidden; 
	text-overflow: ellipsis;
	background-image:url(../images/happy-ka04.gif);

}
.wall5
{
	font-family: Arial, Tahoma, Verdana;
	font-size: 9pt;
	text-decoration: none;
	line-height: 150%;
	color:#000;
	width:242px;
	height:292px;
	position:absolute;
	cursor:move;
	word-wrap:break-word;
	overflow: hidden; 
	text-overflow: ellipsis;
	background-image:url(../images/happy-ka05.gif);

}
.wall6
{
	font-family: Arial, Tahoma, Verdana;
	font-size: 9pt;
	text-decoration: none;
	line-height: 150%;
	color:#000;
	width:242px;
	height:292px;
	position:absolute;
	cursor:move;
	word-wrap:break-word;
	overflow: hidden; 
	text-overflow: ellipsis;
	background-image:url(../images/happy-ka06.gif);

}
.wall7
{
	font-family: Arial, Tahoma, Verdana;
	font-size: 9pt;
	text-decoration: none;
	line-height: 150%;
	color:#000;
	width:242px;
	height:292px;
	position:absolute;
	cursor:move;
	word-wrap:break-word;
	overflow: hidden; 
	text-overflow: ellipsis;
	background-image:url(../images/happy-ka07.gif);

}
.wall8
{
	font-family: Arial, Tahoma, Verdana;
	font-size: 9pt;
	text-decoration: none;
	line-height: 150%;
	color:#000;
	width:242px;
	height:292px;
	position:absolute;
	cursor:move;
	word-wrap:break-word;
	overflow: hidden; 
	text-overflow: ellipsis;
	background-image:url(../images/happy-ka07.gif);

}

设定内容左右间距
.wall div {
	padding-left:20px;
	padding-right:20px;
}
/*使span块状布局
.wall div span {
	display:block;
}
/*设定图片样式
.wall div img {
	border:0px;
	margin-bottom:-5px;
}
/*设定链接样式
.wall div a {
	color:#000;
	text-decoration: none;
}
/*统一布局顶 ，中 ，底部份样式
.top-1 ,.top-2 ,.top-3 ,.top-4 ,.top-5 ,.top-6 ,.top-7 ,.top-8
{
	padding-top:25px;
}
.mid-1 ,.mid-2 ,.mid-3 ,.mid-4 ,.mid-5 ,.mid-6 ,.mid-7 ,.mid-8
{
	height:100px;
	overflow:hidden;
	padding-top:10px;
	padding-bottom:10px;
	text-overflow: ellipsis;
	word-break: break-word;
}
.bot-1 ,.bot-2 ,.bot-3 ,.bot-4 ,.bot-5 ,.bot-6 ,.bot-7 ,.bot-8
{
	height:65px;
}

设定顶部背景图片
.top-1 {background:url(../images/style/C0FFE51.gif);}
.top-2 {background:url(../images/style/C9FFC71.gif);}
.top-3 {background:url(../images/style/CBF3FF1.gif);}
.top-4 {background:url(../images/style/EDFEB71.gif);}
.top-5 {background:url(../images/style/FFE0FB1.gif);}
.top-6 {background:url(../images/style/FFE7E81.gif);}
.top-7 {background:url(../images/style/FFEDCC1.gif);}
.top-8 {background:url(../images/style/FFFFFF1.gif);}
*/
/*设定中部背景图片
.mid-1 {background:url(../images/style/C0FFE52.gif);}
.mid-2 {background:url(../images/style/C9FFC72.gif);}
.mid-3 {background:url(../images/style/CBF3FF2.gif);}
.mid-4 {background:url(../images/style/EDFEB72.gif);}
.mid-5 {background:url(../images/style/FFE0FB2.gif);}
.mid-6 {background:url(../images/style/FFE7E82.gif);}
.mid-7 {background:url(../images/style/FFEDCC2.gif);}
.mid-8 {background:url(../images/style/FFFFFF2.gif);}
*/
/*设定底部背景图片
.bot-1 {background:url(../images/style/C0FFE53.gif);}
.bot-2 {background:url(../images/style/C9FFC73.gif);}
.bot-3 {background:url(../images/style/CBF3FF3.gif);}
.bot-4 {background:url(../images/style/EDFEB73.gif);}
.bot-5 {background:url(../images/style/FFE0FB3.gif);}
.bot-6 {background:url(../images/style/FFE7E83.gif);}
.bot-7 {background:url(../images/style/FFEDCC3.gif);}
.bot-8 {background:url(../images/style/FFFFFF3.gif);}
*/

.wall div span.inline {
	display:inline;
	float: right;
}

.wall div span.x{cursor: pointer; display: inline; font-family: 宋体; float: right; z-index:111000000; margin-right:70px; margin-top:20px;}



