<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en_US" xml:lang="en_US">
<head>
	<title>查看任职资格等级认证评价表</title>
      {#commonInclude#}
   <script type="text/javascript" src="{#jsPath#}/cassess-view.js" ></script>
</head>
	<body>

		<table class="form_main_table">
			<tr>
				<td colspan="6">
					<div class="main_head2">
						<span class="main_head_title">
							任职资格等级认证评价表
							<input type="hidden" id="id"  value="{id}" />
						</span>
					</div>
				</td>
			</tr>
			<tr>
				<td class="form_text_left_three">员工姓名</td>
				<td class="form_text_right_three">
					{userName}
				</td>
				<td class="form_text_left_three">部门名称</td>
				<td class="form_text_right_three">
					{deptName}
				</td>
				<td class="form_text_left_three">职位名称</td>
				<td class="form_text_right_three">
					{jobName}
				</td>
			</tr>
			<tr>
				<td class="form_text_left_three">当前通道</td>
				<td class="form_text_right_three">
					{nowDirectionName}
				</td>
				<td class="form_text_left_three">当前级别</td>
				<td class="form_text_right_three">
					{nowLevelName}
				</td>
				<td class="form_text_left_three">当前级等</td>
				<td class="form_text_right_three">
					{nowGradeName}
				</td>
			</tr>
			<tr>
				<td class="form_text_left_three">申请通道</td>
				<td class="form_text_right_three">
					{careerDirectionName}
				</td>
				<td class="form_text_left_three">申请级别</td>
				<td class="form_text_right_three">
					{baseLevelName}
				</td>
				<td class="form_text_left_three">申请级等</td>
				<td class="form_text_right_three">
					{baseGradeName}
				</td>
			</tr>
			<tr>
				<td class="form_text_left_three">单据状态</td>
				<td class="form_text_right_three">
					{status}
				</td>
				<td class="form_text_left_three">审批状态</td>
				<td class="form_text_right_three">
					{ExaStatus}
				</td>
				<td class="form_text_left_three">审批日期</td>
				<td class="form_text_right_three">
					{ExaDT}
				</td>
			</tr>
	        <tr>
	      		<td class="form_text_left_three">主审评委</td>
	      		<td class="form_text_right_three">
	      			{managerName}
	      		</td>
	      		<td class="form_text_left_three">参与评委</td>
	      		<td class="form_text_right_three" colspan="3">
	      			{memberName}
	      		</td>
	        </tr>
	        <tr>
				<td class="innerTd" colspan="6">
					<table class="form_in_table" id="cdetail"></table>
				</td>
			</tr>
		</table>
	</body>
</html>