<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" " http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns=" http://www.w3.org/1999/xhtml">
<head>
	<title>工序模板</title>
	{#commonInclude#}
	<script type="text/javascript" src="js/jquery/combo/business/yxcombogrid-product.js"></script>
	<script type="text/javascript" src="{#jsPath#}/yxcombogrid-processequ.js"></script>
	<script type="text/javascript" src="{#jsPath#}/process-common.js"></script>
	<script type="text/javascript" src="{#jsPath#}/process-edit.js"></script>
</head>
<body>
	<form id="form1" method="post" action="?model=manufacture_basic_process&action=edit">
		<table class="form_main_table">
			<tr>
				<td colspan="4">
					<div class="main_head">
						<span class="main_head_title">
							工序模板
						</span>
					</div>
				</td>
			</tr>
			<tr>
				<td class="form_text_left blue">模板名称</td>
				<td class="form_text_right">
					<input type="text" class="txt" id="templateName" name="process[templateName]" value="{templateName}"/>
				</td>
				<td class="form_text_left">是否启用</td>
				<td class="form_text_right">
					<select class="txt" id="isEnable" name="process[isEnable]" val="{isEnable}">
						<option title="是" value="是">是</option>
						<option title="否" value="否">否</option>
					</select>
				</td>
			</tr>
			<tr>
				<td class="form_text_left">录入人</td>
				<td class="form_text_right">
					<input type="text" class="readOnlyText" id="createName" readonly value="{createName}"/>
				</td>
				<td class="form_text_left">录入时间</td>
				<td class="form_text_right">
					<input type="text" class="readOnlyText" id="createTime" readonly value="{createTime}"/>
				</td>
			</tr>
			<tr>
				<td class="form_text_left">备  注</td>
				<td class="form_text_right" colspan="3">
					<textarea class="txt_txtarea_font600" id="remark" name="process[remark]">{remark}</textarea>
				</td>
			</tr>
		</table>
		<div style="overflow-x:scroll;">
			<table class="form_main_table">
				<tr>
					<td colspan="6">
						<fieldset>
						<legend class="legend" onclick="showAndHideDiv('productConfigInfoImg','productConfigInfo')">配  置
								<img src="images/icon/info_up.gif" id="productConfigInfoImg" />
							</legend>
							<div id="productConfigInfo"></div>
						</fieldset>
					</td>
				</tr>
			</table>
		</div>
		<div style="overflow-x:scroll;">
			<table class="form_main_table">
				<tr>
					<td colspan="6">
						<fieldset>
						<legend class="legend" onclick="showAndHideDiv('equInfoImg','equInfo')">工  序
								<img src="images/icon/info_up.gif" id="equInfoImg" />
							</legend>
							<div id="equInfo"></div>
						</fieldset>
					</td>
				</tr>
			</table>
		</div>
		<table class="form_main_table">
			<tr>
				<td class="txt_btn" colspan="4">
					<input type="hidden" id="id" name="process[id]" value="{id}"/>
					<input type="submit" class="txt_btn_a" value=" 保  存 "/>&nbsp;&nbsp;
					<input type="button" class="txt_btn_a" value=" 关  闭 " onclick="closeFun();"/>
				</td>
			</tr>
		</table>
	</form>
</body>
</html>