<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" " http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns=" http://www.w3.org/1999/xhtml">
<head>
    <title>归档信息维护</title>
    {#commonInclude#}
</head>

<body>
<form id="form1" method="post" action="?model=contract_contract_contract&action=updateArchivedInfo"  onsubmit="return checkForm();">
    <table class="form_main_table">
        <tr>
            <td colspan="4">
                <div class="main_head2">
					<span class="main_head_title">
	               		归档信息维护
					</span>
                </div>
            </td>
        </tr>
        <tr>
            <td class="form_text_left">合同名称</td>
            <td class="form_text_right" >
                <input type="text" class="txt"  name="contract[contractName]" value="{contractName}"/>
            </td>
        </tr>
        <tr>
            <td class="form_text_left">甲方合同编号</td>
            <td class="form_text_right" >
                <input type="text" class="txt"  name="contract[partAContractCode]" value="{partAContractCode}"/>
            </td>
        </tr>
        <tr>
            <td class="form_text_left">纸质版签订时间</td>
            <td class="form_text_right" >
                <input type="text" class="txt"  name="contract[paperSignTime]" value="{paperSignTime}" onfocus="WdatePicker()"/>
            </td>
        </tr>
        <tr>
            <td class="txt_btn" colspan="4">
                <input type="hidden" name="contract[id]" value="{id}" />
                <input type="submit" class="txt_btn_a" value=" 提  交 "/>
                <input type="button" class="txt_btn_a" value=" 关  闭 " onclick="self.parent.tb_remove();"/>
            </td>
        </tr>
    </table>
</form>
<script type="text/javascript">
    var checkForm = function(){
        return confirm("提交后将直接生效,确定提交吗?");
    }
</script>
</body>
</html>