<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en_US" xml:lang="en_US">
<head>
<title></title>
<meta http-equiv="Content-Type" content="text/html;charset=gb2312" />
{#commonInclude#}
<script>
$(function(){});
</script>
</head>
<body>

<table class="form_main_table">
    <tr style="background:#D5EFFC">
		<td>产品线</td>
		<td>成本概算</td>
		<td>确认信息</td>
		<td>备注描述</td>
	</tr>
	{chanceCost}
	{line}
</table>
<table class="form_main_table">
	<tr>
		<td colspan="6">
		<fieldset><legend style="text-align:left"><b>发货清单</b></legend>
		<table cellpadding="2" width="100%">
			<tr style="background:#D5EFFC">
				<td>物料编号</td>
				<td>物料名称</td>
				<td>合同数量</td>
				<td>单价（含税）</td>
				<td>金额（含税）</td>
			</tr>
	        {equList}
		</table>
		</fieldset>
		</td>
	</tr>
	<tr>
		<td colspan="6">
		<table class="form_main_table">
			<tr>
				<td class="txt_btn" colspan="4">
				   <input type="hidden" id="contractId" value="{contractId}" />
				   <input type="button" class="txt_btn_a" value=" 关闭 "  onclick="closeFun();" />
			</tr>
		</table>
		</td>
	</tr>
</table>
</body>
</html>
