<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en_US" xml:lang="en_US">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=gb2312" />

    <script src="view/template/contract/contract/mermaid/dist/mermaid.full.js"></script>
    <link rel="stylesheet" href="view/template/contract/contract/mermaid/seq1.css"/>
    <script>
        var mermaid_config = {
            startOnLoad:true
        }
    </script>
    <script>
        function apa(){
            console.log('CLICKED');
        }
    </script>

</head>
<body>
<h1>合同流程信息</h1>
<div class="mermaid">
    sequenceDiagram
    {htmlStr}

</div>

</body>
</html>
