<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
	<title></title>
     {#commonInclude#}
		<script>
				$(function(){
				    $("#TO_NAME").yxselect_user({
						hiddenId : 'TO_ID',
						mode : 'check'
					})
				});
				function check_all(){
                   var TO_ID = $("#TO_ID").val();
                   if(TO_ID == ''){
                      return false;
                      alert("请选择邮件发送人")
                   }
                     return true;
				};
		</script>
</head>
<body>
<form id="form1" method="post" action="?model=contract_contract_contract&action=informS" onsubmit="return check_all();">
	<table class="form_main_table">
	            <tr>
	                    <td class="form_text_left">合同类型</td>
	                    <td class="form_text_right">
	                      <input type="hidden" name="inform[contractId]" value="{id}"/>
	                      {contractTypeName}</td>
	                    <td class="form_text_left">合同名称</td>
	                    <td class="form_text_right">
	                      <input type="hidden" name="inform[contractName]" value="{contractName}" />
	                      {contractName}</td>
	            </tr>
	            <tr>
	                    <td class="form_text_left">合同编号</td>
	                    <td class="form_text_right">
	                      <input type="hidden" name="inform[contractCode]" value="{contractCode}" />
	                      {contractCode}</td>
	                    <td class="form_text_left">客户名称</td>
	                    <td class="form_text_right">
	                     <input type="hidden"  name="inform[customerName]" value="{customerName}" />
	                     {customerName}
	                     </td>
	            </tr>
	            <tr>
	                    <td class="form_text_left">合同负责人</td>
	                    <td class="form_text_right">
	                      {prinvipalName}
	                    </td>
	            </tr>
<!--				<tr>-->
<!--						<td class="form_text_left">邮件通知人</td>-->
<!--						<td class="form_text_right" colspan="3">-->
<!--							<input type="text" name="inform[email][TO_NAME]" class="txtlong" id="TO_NAME" />-->
<!--							<input type="hidden" name="inform[email][TO_ID]" class="text" id="TO_ID"/>-->
<!--							<span class="red">[*]</span>-->
<!--						</td>-->
<!--				</tr>-->
				<tr>
						<td class="txt_btn" colspan="4">
						   <input type="submit" class="txt_btn_a" value="确 认"/>
						   <input type="button" class="txt_btn_a" value="关  闭" onclick="closeFun();"/>
						</td>
				</tr>
			</table>
			</td>
		</tr>
	</table>
</form>
</body>
</html>