<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" " http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns=" http://www.w3.org/1999/xhtml">
<head>
	<title></title>
{#commonInclude#}
<script type="text/javascript" src="js/jquery/formvalidator/formValidator-4.1.1.js" charset="UTF-8"></script>
<script type="text/javascript" src="js/jquery/formvalidator/formValidatorRegex.js" charset="UTF-8"></script>
<script type="text/javascript" src="{#jsPath#}/contract-proCity.js"></script>
<script type="text/javascript" src="{#jsPath#}/contract-change-list.js"></script>
<script type="text/javascript" src="{#jsPath#}/contract-deploy.js"></script>
<script type="text/javascript" src="js/jquery/combo/business/yxcombogrid-customer.js"></script>
<script type="text/javascript" src="js/jquery/combo/business/yxcombogrid-currency.js"></script>
<script type="text/javascript" src="js/jquery/combo/business/yxcombogrid-area.js"></script>
<script type="text/javascript" src="js/jquery/combo/business/yxcombogrid-goods.js"></script>
<script type="text/javascript" src="js/jquery/combo/business/yxselect-user.js"></script>
<script type="text/javascript" src="js/jquery/combo/business/yxcombogrid-linkman.js"></script>
<script type="text/javascript" src="js/jquery/combo/business/yxcombogrid-product.js"></script>
<!--<script type="text/javascript" src="{#jsPath#}/contract-edit.js"></script>-->
<!-- 附件上传开始 -->
<script type="text/javascript" src="swfupload/swfupload.js"></script>
<script type="text/javascript" src="swfupload/swfupload.queue.js"></script>
<script type="text/javascript" src="swfupload/fileprogress.js"></script>
<script type="text/javascript" src="swfupload/handlers.js"></script>
<link rel="stylesheet" type="text/css" href="swfupload/upload.css" />

</head>
<body>
<form id="form1" method="post" action="?model=contract_contract_contract&action=change" >
<table class="form_main_table">
   <tr>
		<td colspan="4">
		   <div class="main_head"><span class="main_head_title"> 变更合同</span></div>
		</td>
	</tr>
	<tr>
		<td colspan="6">
		<fieldset>
		    <legend class="legend" onclick="showAndHide('baseImg','contractinfo')">&nbsp;&nbsp;&nbsp;基&nbsp;本&nbsp;信&nbsp;息&nbsp;&nbsp;&nbsp;
			<img src="images/icon/info_up.gif" id="baseImg" />
		  </legend>
		<table width="100%" id="contractinfo"  style="border-collapse:collapse;bcontract-collapse:collapse;background-color:#F3F6FA;" >
			<tr>
			    <td class="form_text_left_con" id="tempInfo">合同编号:</td>
				<td class="form_text_right_con">{contractCode}</td>
				<td class="form_text_left_con" id="tempInfo">合同名称:</td>
				<td class="form_text_right_con">{contractName}</td>
				<td class="form_text_left_con">客户名称:</td>
				<td class="form_text_right_con">{customerName}</td>
			</tr>
			<tr>
				<td class="form_text_left_con">所属国家:</td>
				<td class="form_text_right_con">{contractCountry}</td>
				<td class="form_text_left_con">所属省份:</td>
				<td class="form_text_right_con">{contractProvince}</td>
				<td class="form_text_left_con">所属城市:</td>
				<td class="form_text_right_con">{contractCity}</td>
			</tr>
			<tr>
				<td class="form_text_left_con">归属区域:</td>
				<td class="form_text_right_con">{areaName}</td>
				<td class="form_text_left_con">区域负责人:</td>
				<td class="form_text_right_con">{areaPrincipal}</td>
				<td class="form_text_left_con">合同负责人:</td>
				<td class="form_text_right_con">{prinvipalName}</td>
			</tr>
			<tr>
				<td class="form_text_left_con">备注:</td>
				<td class="form_text_right_con" colspan="5" id="remark">
				    <textarea class="txt_txtarea_font_con_edit" name="contract[remark]">{remark}</textarea></td>
			</tr>
		</table>
		</fieldset>
		</td>
	</tr>
	<tr id="product">
		<td colspan="6">
		<fieldset style="width:200">
		    <legend class="legend" onclick="showAndHideDiv('productImg','productInfo')">&nbsp;&nbsp;合同产品清单&nbsp;
				<img src="images/icon/info_up.gif" id="productImg" />
			  </legend>
			<div id="productInfo"></div>
		</fieldset>
		</td>
	</tr>

   <tr>
		<td class="txt_btn" colspan="4">
		     <input type="hidden" id="profalg" value="1" />
		     <input type="hidden" id="winRate" name="contract[winRate]" value="{winRate}" />
	         <input  type="hidden" id="contractId" name="contract[id]" value="{id}" />
		     <input  type="submit" class="txt_btn_a" value=" 提  交 "/>
		     <input  type="button" class="txt_btn_a" value=" 关  闭 " onclick="closeFun();"/>
		</td>
</tr>
</table>
</form>
</body>
</html>