
<html>
<head>
	<title>查看合同</title>
	<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
	<LINK rel="stylesheet" href="js/jquery/tab/css/tabs.css" type="text/css">
		<script type="text/javascript" src="js/jquery.js"></script>
		<script type="text/javascript" src="js/jquery/tab/tabs.js"></script>
		<script type="text/javascript" src="js/jquery/tab/toolbox.history.js"></script>
		<script type="text/javascript">

			$(function() {
				var linkId = $("#linkId").val();
				var id = $("#id").val();
				var originalId = $("#originalId").val();
				var orderCode = $("#contractCode").val();
				var contractType = $("#contractType").val();
				var skeyStr = "&skey={skey_}";
				if(linkId==''){
					$('.confirm').hide();
				}

				var viewType = $("#viewType").val();
				var viewContractUrl = (viewType == "original")? "?model=contract_contract_contract&action=init&perm=view&id=" + id + skeyStr : "?model=contract_contract_contract&action=showView&id=" + id + skeyStr;

				var tabArr = [
					viewContractUrl,
//					"?model=contract_contract_contract&action=init&perm=view&id=" + id + skeyStr,
//					"?model=contract_contract_contract&action=showView&id=" + id + skeyStr,
					"?model=contract_contract_equ&action=toEquView&&perm=view&linkId=" + linkId + skeyStr,
					"?model=contract_contract_contract&action=toCloseInfo&id=" + id + skeyStr,
					"?model=stock_outplan_outplan&action=listByOrderId&id=" + id + "&objType=oa_contract_contract" + skeyStr,
					"?model=stock_outplan_ship&action=listByOrder&orderId=" + id + "&objType=oa_contract_contract" + skeyStr,
					"?model=purchase_plan_basic&action=toListByContractId&contractId=" + id + "&purchType=" + contractType  + skeyStr,
					"?model=produce_apply_produceapply&action=toPageFromDoc&relDocId=" + id + "&relDocType=CONTRACT", //黄智帆提供的生产接口
					"?model=mail_mailinfo&action=listByOrderId&id=" + id + "&type=oa_contract_contract" + skeyStr,
					"?model=stock_outstock_stockout&action=relDocOutPage&docId=" + id + "&relDocType=XSCKDLHT" + "&docType=CKSALES" + skeyStr,
					"?model=projectmanagent_borrow_borrow&action=toBocomeCon&contractId=" + id + skeyStr,
					"?model=contract_contract_contract&action=contractExelist&contractId=" + id,
					"?model=common_changeLog&action=toOrderList&logObj=contract&originalId="+ "&objId=" + id + "&orderCode=" + orderCode + skeyStr,
					"?model=common_changeLog&action=toContractEquChangeList&logObj=contractequ&objId=" + linkId,
					"?model=contract_contract_contract&action=toDelivery&id=" + id
				];
				$("#tabs1").tabs(".panes > iframe",{ history: true,onClick:function(i,e) {
					var actTabId="#iframe" + (parseInt(e) + 1);
					if($(actTabId).attr("src") == ""){
						$(actTabId).attr("src",tabArr[e]);
					}
				}
			});
			});

</script>

</head>
<body>
	<input type="hidden" value="{contractType}" id="contractType" />
	<input type="hidden" value="{linkId}" id="linkId" />
	<input type="hidden" value="{id}" id="id" />
	<input type="hidden" value="{originalId}" id="originalId" />
	<input type="hidden" value="{orderCode}" id="orderCode" />
	<input type="hidden" value="{viewType}" id="viewType" />
	<div>
		<!-- the tabs -->
		<ul class="tabs" id="tabs1">
			<li><a href="#tab1">基本信息</a></li>
			<li class='confirm'><a href="#tab2">物料确认查看</a></li>
			<li><a href="#tab3">关闭信息</a></li>
			<li><a href="#tab4">发货计划</a></li>
			<li><a href="#tab5">发货单</a></li>
			<li><a href="#tab6">采购申请</a></li>
			<li><a href="#tab7">生产任务</a></li>
			<li><a href="#tab8">邮寄信息</a></li>
			<li><a href="#tab9">发货记录</a></li>
			<li><a href="#tab10">转销售借用源单</a></li>
			<li><a href="#tab11">合同执行状态表</a></li>
			<li><a href="#tab12">变更历史</a></li>
			<li class='confirm'><a href="#tab13">物料变更历史</a></li>
			<li><a href="#tab14">合同交付</a></li>
		</ul>
		<!-- tab "panes" -->
		<div class="panes">
			<iframe class="pane" id="iframe1" src="" height="96%" frameborder="0"></iframe>
			<iframe class="pane" id="iframe2" src="" height="96%" frameborder="0"></iframe>
			<iframe class="pane" id="iframe3" src="" height="96%" frameborder="0"></iframe>
			<iframe class="pane" id="iframe4" src="" height="96%" frameborder="0"></iframe>
			<iframe class="pane" id="iframe5" src="" height="96%" frameborder="0"></iframe>
			<iframe class="pane" id="iframe6" src="" height="96%" frameborder="0"></iframe>
			<iframe class="pane" id="iframe7" src="" height="96%" frameborder="0"></iframe>
			<iframe class="pane" id="iframe8" src="" height="96%" frameborder="0"></iframe>
			<iframe class="pane" id="iframe9" src="" height="96%" frameborder="0"></iframe>
			<iframe class="pane" id="iframe10" src="" height="96%" frameborder="0"></iframe>
			<iframe class="pane" id="iframe11" src="" height="96%" frameborder="0"></iframe>
			<iframe class="pane" id="iframe12" src="" height="96%" frameborder="0"></iframe>
			<iframe class="pane" id="iframe13" src="" height="96%" frameborder="0"></iframe>
			<iframe class="pane" id="iframe14" src="" height="96%" frameborder="0"></iframe>
		</div>
	</div>
</body>
</html>