<!DOCTYPE html>
<html>
<head>
    <title>编辑合同主表</title>
    <meta http-equiv="cache-control" content="no-cache"/>
    {#commonInclude#}
    <script type="text/javascript" src="{#jsPath#}/contract-proCity.js"></script>
    <script type="text/javascript" src="{#jsPath#}/contract-edit-list.js"></script>
    <script type="text/javascript" src="{#jsPath#}/contract-deploy.js"></script>
    <script type="text/javascript" src="js/jquery/combo/business/yxcombogrid-customer.js"></script>
    <script type="text/javascript" src="js/jquery/combo/business/yxcombogrid-currency.js"></script>
    <script type="text/javascript" src="js/jquery/combo/business/yxcombogrid-area.js"></script>
    <script type="text/javascript" src="js/jquery/combo/business/yxcombogrid-goods.js"></script>
    <script type="text/javascript" src="js/jquery/combo/business/yxselect-user.js"></script>
    <script type="text/javascript" src="js/jquery/combo/business/yxcombogrid-linkman.js"></script>
    <script type="text/javascript" src="js/jquery/combo/business/yxcombogrid-stampconfig.js"></script>
    <script type="text/javascript" src="js/jquery/combo/business/yxcombogrid-trialproject.js"></script>
    <script type="text/javascript" src="js/jquery/combo/business/yxcombogrid-payconfig.js"></script>
    <script type="text/javascript" src="js/jquery/combo/business/yxcombogrid-branch.js"></script>
    <script type="text/javascript" src="js/jquery/combo/business/yxcombogrid-allcontract.js"></script>
    <script type="text/javascript" src="{#jsPath#}/contract-edit.js?v=201802"></script>
    <!-- 附件上传开始 -->
    <link rel="stylesheet" type="text/css" href="swfupload/upload.css"/>
    <script type="text/javascript" src="swfupload/swfupload.js"></script>
    <script type="text/javascript" src="swfupload/swfupload.queue.js"></script>
    <script type="text/javascript" src="swfupload/fileprogress.js"></script>
    <script type="text/javascript" src="swfupload/handlers.js"></script>
    <script type="text/javascript">
        var uploadfile, uploadfile2, uploadfile3;
        $(function () {
            uploadfile = createSWFUpload({
                "serviceType": "oa_contract_contract",//业务模块编码，一般取表名
                "serviceId": "{id}"
            });
            uploadfile2 = createSWFUpload({
                "serviceType": "oa_contract_contract2",//业务模块编码，一般取表名
                "serviceId": "{id}"
            }, {
                button_placeholder_id: 'swfupload2',
                fileListId: 'uploadfileList2',
                progressTarget: 'fsUploadProgress2'
            });
            uploadfile3 = createSWFUpload({
                "serviceType": "oa_contract_contract3",//业务模块编码，一般取表名
                "serviceId": "{id}"
            }, {
                button_placeholder_id: 'swfupload3',
                fileListId: 'uploadfileList3',
                progressTarget: 'fsUploadProgress3'
            });
            $('#fileType').change(function () {
                if ($('#fileType').val() != '') {
                    typeName = $('#fileType').find('option:selected').text();
                    typeId = $('#fileType').val();
                    uploadfile2.addPostParam('typeName', typeName);
                    uploadfile2.addPostParam('typeId', typeId);
                }
            });

        });
    </script>
    <!-- 附件上传结束 -->
    <script type="text/javascript">
        $(function () {
            $isNeedStamp = "{isNeedStamp}";
            if ($isNeedStamp == "1") {
                $("#isNeedStampYes").attr("checked", true);
                $("#radioSpan").show();

                //盖章类型渲染
                $("#stampType").yxcombogrid_stampconfig({
                    hiddenId: 'stampType',
                    height: 250,
                    gridOptions: {
                        isTitle: true,
                        showcheckbox: true
                    }
                });
            } else {
                $("#isNeedStampNo").attr("checked", true);
            }
        });
    </script>
</head>
<body>
<form id="form1" method="post" action="?model=contract_contract_contract&action=edit">
    <table class="form_main_table">
        <tr>
            <td colspan="4">
                <div class="main_head"><span class="main_head_title"> 修改合同</span></div>
            </td>
        </tr>
        <tr>
            <td colspan="6">
                <fieldset>
                    <legend class="legend" onclick="showAndHide('baseImg','contractinfo')">&nbsp;&nbsp;&nbsp;基&nbsp;本&nbsp;信&nbsp;息&nbsp;&nbsp;&nbsp;
                        <img src="images/icon/info_up.gif" id="baseImg"/>
                    </legend>
                    <table width="100%" id="contractinfo"
                           style="border-collapse:collapse;bcontract-collapse:collapse;background-color:#F3F6FA;">
                        <tr>
                            <td class="form_text_left_con"><span style="color:blue">合同类型 :</span></td>
                            <td class="form_text_right_con">
                                <select class="select" name="contract[contractType]" id="contractType"
                                        onchange="changeNature(this);">
                                    <option value="">...请选择...</option>
                                    {contractType}
                                </select>
                            </td>
                            <td class="form_text_left_con">合同性质 :</td>
                            <td class="form_text_right_con" colspan="3">
                                <select class="select" name="contract[contractNature]" id="contractNature">
                                    <option value="">...请选择...</option>
                                    {contractNature}
                                </select>
                            </td>
                            <!--<td class="form_text_left_con"><span style="color:blue">合同赢率 :</span></td>
                            <td class="form_text_right_con">
                                <select class="select" name="contract[winRate]" id="winRate" onchange="isSign(this);">
                                    <option value="{winRate}">{winRate}</option>
                                    <option value="50%">50%</option>
                                    <option value="80%">80%</option>
                                    <option value="100%">100%</option>
                                </select>
                            </td>-->
                        </tr>
                        <tr id="signDateNone" style="display:none">
                            <td class="form_text_left_con"><span style="color:blue">签约日期 :</span></td>
                            <td class="form_text_right_con">
                                <input type="text" class="txt" name="contract[signDate]" id="signDate"
                                       onfocus="WdatePicker()"
                                       value="{signDate}"/>
                            </td>
                        </tr>
                        <tr id="trialprojectNone" style="display:none">
                            <td class="form_text_left_con">试用项目 :</td>
                            <td class="form_text_right_con" colspan="5">
                                <input type="hidden" class="txt" name="contract[trialprojectId]" id="trialprojectId"/>
                                <input type="text" class="txt" name="contract[trialprojectCode]" id="trialprojectCode"/>
                                <input type="hidden" class="txt" name="contract[trialprojectName]"
                                       id="trialprojectName"/>
                            </td>
                        </tr>
                        <tr>
                            <td class="form_text_left_con"><span style="color:blue">签约公司 :</span></td>
                            <td class="form_text_right_con">
                                <input type="text" class="txt" name="contract[businessBelongName]"
                                       id="businessBelongName"
                                       value="{businessBelongName}" readonly="readonly"/>
                                <input type="hidden" name="contract[businessBelong]" id="businessBelong"
                                       value="{businessBelong}"/>
                            </td>
                            <td class="form_text_left_con"><span style="color:blue">归属公司 :</span></td>
                            <td class="form_text_right_con">
                                <input type="text" class="txt" name="contract[signSubjectName]" id="signSubjectName"
                                       value="{signSubjectName}" readonly="readonly"/>
                                <input type="hidden" name="contract[signSubject]" id="signSubject"
                                       value="{signSubject}"/>
                            </td>
                            <td class="form_text_left_con">所属板块:</td>
                            <td class="form_text_right_con">
                                <select class="select" name="contract[module]" id="module">
                                    {module}
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td class="form_text_left_con" id="tempInfo"><span style="color:blue">合同名称:</span></td>
                            <td class="form_text_right_con">
                                <input type="text" class="txt" onkeydown="if(event.keyCode==32) return false;"
                                       name="contract[contractName]"
                                       id="contractName" value="{contractName}"/>
                            </td>
                            <td class="form_text_left_con"><span style="color:blue">客户名称:</span></td>
                            <td class="form_text_right_con" id="customerTypeWrap">
                                <input type="hidden" class="txt" name="contract[customerId]" id="customerId"
                                       value="{customerId}"/>
                                <input type="text" class="txt" name="contract[customerName]" id="customerName"
                                       value="{customerName}"/>
                            </td>
                            <td class="form_text_left_con">客户类型:</td>
                            <td class="form_text_right_con">
                                <!--<select class="select" name="contract[customerType]" id="customerType">-->
                                <!--{customerType}-->
                                <!--</select>-->
                                <input type="text" class="readOnlyTxtNormal" readonly id="customerTypeName"
                                       value="{customerType}"/>
                                <input type="hidden" name="contract[customerType]" id="customerType"
                                       value="{customerType}"/>
                            </td>
                        </tr>
                        <tr>
                            <td class="form_text_left_con">开票类型:</td>
                            <td class="form_text_right_con" colspan="3">
                                {invoiceType}
                                <input type="hidden" id="dataCode" value="{dataCode}"/>
                                <input type="hidden" id="newInvoiceId" name="contract[newInvoiceId]"
                                       value="{newInvoiceId}"/>
                            </td>
                            <td class="form_text_left_con">客户地址:</td>
                            <td class="form_text_right_con">
                                <input type="text" class="txt" name="contract[address]" id="address" value="{address}"/>
                            </td>
                        </tr>
                        <tr>
                            <td class="form_text_left_con"><span style="color:blue">金额币别:</span></td>
                            <td class="form_text_right_con">
                                <input type="text" class="txt" name="contract[currency]" id="currency"
                                       value="{currency}"/>
                            </td>
                            <td class="form_text_left_con"><span style="color:blue"><span id="moneyName">预计金额(￥):</span></span>
                            </td>
                            <td class="form_text_right_con">
                                <input type="text" class="txt formatMoney" name="contract[contractMoney]"
                                       id="contractMoney" value="{contractMoney}" onblur="conversion();"/>
                                <div id="contractMoney_vTip" class="tipShortTxt"></div>
                            </td>
                        </tr>
                        <tr>
                            <td class="form_text_left_con">所属国家:</td>
                            <td class="form_text_right_con">
                                <select class="select" id="country" disabled="true">
                                </select>
                                <input type="hidden" name="contract[contractCountryId]" id="country_Id" value="{contractCountryId}"/>
                                <input type="hidden" name="contract[contractCountry]" id="countryName"/>
                                <input type="hidden" value="{contractCountryId}" id="contractContryId"/>
                            </td>
                            <td class="form_text_left_con">所属省份:</td>
                            <td class="form_text_right_con">
                                <select class="select" id="province" disabled="true">
                                </select>
                                <input type="hidden" name="contract[contractProvinceId]" id="province_Id" value="{contractProvinceId}"/>
                                <input type="hidden" name="contract[contractProvince]" id="provinceName"/>
                                <input type="hidden" value="{contractProvinceId}" id="contractProvinceId"/>
                            </td>
                            <td class="form_text_left_con">所属城市:</td>
                            <td class="form_text_right_con">
                                <select class="select" id="city" disabled="true">
                                </select>
                                <input type="hidden" name="contract[contractCityId]" id="city_Id" value="{contractCityId}"/>
                                <input type="hidden" name="contract[contractCity]" id="cityName"/>
                                <input type="hidden" value="{contractCityId}" id="contractCityId"/>
                            </td>
                        </tr>
                        <tr>
                            <td class="form_text_left_con"><span style="color:blue">合同负责人:</span></td>
                            <td class="form_text_right_con">
                                <input type="hidden" class="txt" name="contract[prinvipalId]" id="prinvipalId"
                                       value="{prinvipalId}"/>
                                <input type="text" class="txt" name="contract[prinvipalName]" id="prinvipalName"
                                       value="{prinvipalName}"/>
                                <input type="hidden" class="txt" name="contract[prinvipalDeptId]" id="depId"
                                       value="{prinvipalDeptId}"/>
                                <input type="hidden" class="txt" name="contract[prinvipalDept]" id="depName"
                                       value="{prinvipalDept}"/>
                            </td>
                            <td class="form_text_left_con"><span style="color:blue">归属区域:</span></td>
                            <td class="form_text_right_con">
                                <input type="hidden" id="originalAreaName" value="{areaName}"/>
                                <select class="select" id="chooseAreaName" style="display:none"></select>
                                <input type="text" class="readOnlyTxtNormal" readonly name="contract[areaName]"
                                       id="areaName"
                                       value="{areaName}"/>
                                <input type="hidden" name="contract[areaCode]" id="areaCode" value="{areaCode}"/>
                                <input type="hidden" id="exeDeptCode" value="{exeDeptCode}"/>
                                <input type="hidden" id="exeDeptName" value="{exeDeptName}"/>
                            </td>
                            <td class="form_text_left_con">区域负责人:</td>
                            <td class="form_text_right_con">
                                <input type="text" class="readOnlyTxtNormal" readonly name="contract[areaPrincipal]"
                                       id="areaPrincipal"
                                       value="{areaPrincipal}"/>
                                <input type="hidden" class="txt" name="contract[areaPrincipalId]" id="areaPrincipalId"
                                       value="{areaPrincipalId}"/>
                            </td>
                        </tr>
                        <tr>
                            <td class="form_text_left_con">合同录入人:</td>
                            <td class="form_text_right_con">
                                <input type="text" class="readOnlyTxtNormal" readonly value="{createName}"/>
                            </td>
                            <td class="form_text_left_con">合同签署人:</td>
                            <td class="form_text_right_con">
                                <input type="text" class="txt" name="contract[contractSigner]" id="contractSigner"
                                       value="{contractSigner}"/>
                                <input type="hidden" name="contract[contractSignerId]" id="contractSignerId"
                                       value="{contractSignerId}"/>
                            </td>
                            <td class="form_text_left_con">合同录入时间:</td>
                            <td class="form_text_right_con">
                                <input type="text" class="readOnlyTxtNormal" readonly value="{createTime}"/>
                            </td>
                        </tr>
                        <tr>
                            <td class="form_text_left_con"><span id="beginSpan">合同开始日期:</span></td>
                            <td class="form_text_right_con">
                                <input type="text" class="txt" name="contract[beginDate]" onfocus="WdatePicker()"
                                       id="beginDate"
                                       value="{beginDate}"/>
                            </td>
                            <td class="form_text_left_con"><span id="endSpan">合同结束日期:</span></td>
                            <td class="form_text_right_con">
                                <input type="text" class="txt" name="contract[endDate]" onfocus="WdatePicker()"
                                       id="endDate" value="{endDate}"/>
                            </td>
                            <td class="form_text_left_con">是否框架合同:</td>
                            <td class="form_text_right_con">
                                <input type="hidden" id="isFrameV" value="{isFrame}"/>
                                <select class="select" id="isFrame" name="contract[isFrame]">
                                </select>
                            </td>
                        </tr>
                        <tr id="currencyRate" style="display:none">
                            <td class="form_text_left_con">汇率</td>
                            <td class="form_text_right_con">
                                <input type="text" class="readOnlyTxtNormal" readonly="readonly" name="contract[rate]"
                                       id="rate" value="{rate}"
                                       onblur="conversion();"/></td>
                            <td class="form_text_left_con">合同金额<span id="cur1"></span></td>
                            <td class="form_text_right_con">
                                <input type="text" class="txt formatMoney" name="contract[contractMoneyCur]"
                                       id="contractMoneyCur"
                                       onblur="setContractMoney();" value="{contractMoneyCur}"/>
                            </td>
                        </tr>
                        <tr>
                            <td class="form_text_left_con"><span id="shipConditionSpan">发货条件:</span></td>
                            <td class="form_text_right_con">
                                <input type="hidden" id="shipConditionV" value="{shipCondition}"/>
                                <select class="select" id="shipCondition" name="contract[shipCondition]"
                                        onchange="changeShipCondition(this);">
                                </select>
                            </td>
                            <td class="form_text_left_con"><span id="deliveryDateSpan">希望交货日期:</span></td>
                            <td class="form_text_right_con">
                                <input type="text" class="txt" name="contract[deliveryDate]" id="deliveryDate"
                                       onfocus="WdatePicker()"
                                       value="{deliveryDate}"/>
                            </td>
                        </tr>
                        <tr>
                            <td class="form_text_left_three">是否盖章</td>
                            <td class="form_text_right_three">
                                <input type="radio" name="contract[isNeedStamp]" value="1" id="isNeedStampYes"
                                       onclick="changeRadio()"/>是
                                <input type="radio" name="contract[isNeedStamp]" value="0" checked="checked"
                                       id="isNeedStampNo"
                                       onclick="changeRadio()"/>否
                            </td>
                            <td class="form_text_left_three"><span id="radioSpan">盖章类型</span></td>
                            <td class="form_text_right_three">
                                <input type="text" class="txt" name="contract[stampType]" id="stampType"
                                       value="{stampType}"
                                       readonly="readonly"/>
                            </td>
                            <td class="form_text_left_three"><span id="maintenanceSpan">维保时间（月）</span></td>
                            <td class="form_text_right_three">
                                <input type="text" class="txt" name="contract[Maintenance]" id="Maintenance"
                                       value="{Maintenance}" onblur="checkMaintenance(this);"/>
                            </td>
                        </tr>
                        <tr>
                            <td class="form_text_left_con"><span>甲方合同编号:</span></td>
                            <td class="form_text_right_con" colspan="5">
                                <input type="text" class="txt" name="contract[partAContractCode]" id="partAContractCode" value="{partAContractCode}"/>
                            </td>
                        </tr>
                        <tr>
                            <td class="form_text_left_con"><span style="color:blue">是否续签:</span></td>
                            <td class="form_text_right_con">
                                <input type="hidden" id="isRenewedV" value="{isRenewed}"/>
                                <select class="select" id="isRenewed" name="contract[isRenewed]"
                                        onchange="changeRenewed(this)">
                                </select>
                            </td>
                            <td class="form_text_left"><span>续签合同号</span></td>
                            <td class="form_text_right">
                                <input type="text" class="txt" id="parentCode" readonly value="{parentCode}"/>
                                <input type="hidden" name="contract[parentId]" id="parentId" value="{parentId}"/>
                            </td>
                            <td class="form_text_left">续签合同名称</td>
                            <td class="form_text_right">
                                <input type="text" class="readOnlyText" readonly id="parentName" value="{parentNameV}"/>
                            </td>
                        </tr>
                        <tr>
                            <!--<td class="form_text_left_con"><span>纸质版签订时间:</span></td>-->
                            <!--<td class="form_text_right_con">-->
                                <!--<input type="text" class="txt" name="contract[paperSignTime]" id="paperSignTime" onfocus="WdatePicker()" value="{paperSignTime}"/>-->
                            <!--</td>-->
                        </tr>
                        <tr>
                            <td class="form_text_left_con">非加密区文件</td>
                            <td class="form_text_right_con">
                                <div class="upload">
                                    <div class="upload" id="fsUploadProgress"></div>
                                    <div class="upload"><span id="swfupload"></span> <input
                                            id="btnCancel" type="button" value="中止上传"
                                            onclick="cancelQueue(uploadfile);" disabled="disabled"/> <br/>
                                    </div>
                                    <div id="uploadfileList" class="upload">{file}</div>
                                </div>
                            </td>
                            <td class="form_text_left_con">加密区文件</td>
                            <td class="form_text_right_con">
                                <b>附件类型</b> ： <select id="fileType">
                                <option value="">..请选择...</option>
                            </select>

                                <div class="upload">
                                    <div class="upload" id="fsUploadProgress2"></div>
                                    <div class="upload"><span id="swfupload2"></span> <input
                                            id="btnCancel2" type="button" value="中止上传"
                                            onclick="cancelQueue(uploadfile2);" disabled="disabled"/> <br/>
                                    </div>
                                    <div id="uploadfileList2" class="upload">{file2}</div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="form_text_left_three">是否与纸质合同一致</td>
                            <td class="form_text_right_three">
                                <input type="radio" name="contract[isSame]" value="1" checked="checked" id="isSameYes"
                                       onclick="changeIsSame()"/>是
                                <input type="radio" name="contract[isSame]" value="0" id="isSameNo"
                                       onclick="changeIsSame()"/>否
                                <input type="hidden" id="isSame" value="{isSame}"/>
                            </td>
                            <td class="form_text_left_three" id="isHide"><span style="color:blue">验收条款</span></td>
                            <td class="form_text_right_three" id="isHideText">
                                <input type="text" class="txt" name="contract[acceptTerms]" id="acceptTerms"
                                       value="{acceptTerms}"/>
                            </td>
                            <td class="form_text_left_three" id="isHide2"><span style="color:blue">收款条款</span></td>
                            <td class="form_text_right_three" id="isHideText2">
                                <input type="text" class="txt" name="contract[payTerms]" id="payTerms"
                                       value="{payTerms}"/>
                            </td>
                        </tr>
                        <tr id="diffReason">
                            <td class="form_text_left_con"><span style="color:blue">不一致原因</span></td>
                            <td class="form_text_right_con" colspan="5">
                                <textarea class="txt_txtarea_font_con" name="contract[differentPaperReason]"
                                          id="diffReasonVal">{differentPaperReason}</textarea>
                            </td>
                        </tr>
                        <tr>
                            <td class="form_text_left_con"><span id="paperContractSpan" style="color:blue">纸质合同:</span></td>
                            <td class="form_text_right_con">
                                <input type="hidden" id="paperContractV" value="{paperContract}"/>
                                <select class="select" id="paperContract" name="contract[paperContract]"
                                        onchange="changepaperContract(this);">
                                </select>
                            </td>
                        </tr>
                        <tr id="paperReason">
                            <td class="form_text_left_con"><span id="paperContractRemarkSpan" style="color:blue">无纸质合同原因</span></td>
                            <td class="form_text_right_con" colspan="5">
                                <textarea class="txt_txtarea_font_con" name="contract[paperContractRemark]"
                                          id="paperContractRemark">{paperContractRemark}</textarea>
                            </td>
                        </tr>
                        <tr>
                            <td class="form_text_left_con"><span id="checkFileSpan" style="color:blue">验收文件:</span></td>
                            <td class="form_text_right_con">
                                <input type="hidden" id="checkFileViewV" value="{checkFile}"/>
                                <select class="select" id="checkFile" name="contract[checkFile]"
                                        onchange="changeCheckFile(this);">
                                </select>
                            </td>
                            <td class="form_text_left_con" id="checkFileView1">验收文件</td>
                            <td class="form_text_right_con" id="checkFileView2">
                                <div class="upload">
                                    <div class="upload" id="fsUploadProgress3"></div>
                                    <div class="upload"><span id="swfupload3"></span> <input
                                            id="btnCance3" type="button" value="中止上传"
                                            onclick="cancelQueue(uploadfile3);" disabled="disabled"/> <br/>
                                    </div>
                                    <div id="uploadfileList3" class="upload">{file3}</div>
                                </div>

                            </td>
                        </tr>
                        <tr>
                            <td class="form_text_left_con">备注:</td>
                            <td class="form_text_right_con" colspan="5" id="remark">
                                <textarea class="txt_txtarea_font_con_edit" name="contract[remark]">{remark}</textarea>
                            </td>
                        </tr>
                        <tr>
                            <td class="form_text_left_con"><span style="color:blue"
                                                                 id="warrantyClauseSpan">产品保修条款:</span></td>
                            <td class="form_text_right_con" colspan="5">
                                <textarea class="txt_txtarea_font_con_edit" id="warrantyClause"
                                          name="contract[warrantyClause]">{warrantyClause}</textarea>
                            </td>
                        </tr>
                        <tr>
                            <td class="form_text_left_con">售后服务承诺:</td>
                            <td class="form_text_right_con" colspan="5" id="afterService">
                                <textarea class="txt_txtarea_font_con_edit"
                                          name="contract[afterService]">{afterService}</textarea></td>
                        </tr>
                    </table>
                </fieldset>
            </td>
        </tr>
        <!--	<tr id="paymentList">-->
        <!--		<td colspan="6" >-->
        <!--			<fieldset style="width:200">-->
        <!--			  <legend class="legend" onclick="showAndHideDiv('paymentImg','paymentListInfo')">付款条件-->
        <!--				<img src="images/icon/info_up.gif" id="paymentImg" />-->
        <!--			  </legend>-->
        <!--			    <div id="paymentListInfo"></div>-->
        <!--			</fieldset>-->
        <!--		</td>-->
        <!--	</tr>-->
        <tr id="linkmanList">
            <td colspan="6">
                <fieldset>
                    <legend class="legend" onclick="showAndHideDiv('linkmanImg','linkmanListInfo')">客户联系人信息
                        <img src="images/icon/info_up.gif" id="linkmanImg"/>
                    </legend>
                    <div id="linkmanListInfo"></div>
                </fieldset>
            </td>
        </tr>
        <tr id="product">
            <td colspan="6">
                <fieldset>
                    <legend class="legend" onclick="showAndHideDiv('productImg','productInfo')">&nbsp;&nbsp;合同产品清单&nbsp;
                        <img src="images/icon/info_up.gif" id="productImg"/>
                    </legend>
                    <div id="productInfo"></div>
                </fieldset>
            </td>
        </tr>
        <tr>
            <td colspan="6">
                <fieldset>
                    <legend class="legend" onclick="showAndHideDiv('materialImg','materialInfo')">&nbsp;&nbsp;合同发货清单&nbsp;
                        <img src="images/icon/info_up.gif" id="materialImg"/>
                    </legend>
                    <div id="materialInfo"></div>
                </fieldset>
            </td>
        </tr>
        <tr id="financialplan">
            <td colspan="6">
                <fieldset>
                    <legend class="legend" onclick="showAndHideDiv('financialplanImg','financialplanInfo')">&nbsp;&nbsp;合同收开计划&nbsp;
                        <img src="images/icon/info_up.gif" id="financialplanImg"/>
                    </legend>
                    <div id="financialplanInfo"></div>
                </fieldset>
            </td>
        </tr>
        <tr id="borrowConEqu">
            <td colspan="6">
                <fieldset>
                    <legend class="legend" onclick="showAndHideDiv('borrowImg','borrowConEquInfo')">借用转销售物料
                        <img src="images/icon/info_up.gif" id="borrowImg"/>
                    </legend>
                    <div id="borrowConEquInfo"></div>
                </fieldset>
            </td>
        </tr>
        <tr id="showChance" style="display:none">
            <td colspan="6" style="text-align:left;">
                <span class="blue">提示：<br/>1.此处显示借试用关联的商机，状态为【已转合同】的商机除外<br/>2.勾选的商机，在合同审批后状态会更新为【已转合同】</span>

                <div id="chanceArea"></div>
                <input type="hidden" id="turnChanceIds" name="turnChanceIds"/>
            </td>
        </tr>
        <tr>
            <td class="txt_btn" colspan="4">
                <input type="hidden" id="ids" value="{ids}"/>
                <input type="hidden" id="customerIdtest"/>
                <input type="hidden" name="contract[exeDeptStr]" id="exeDeptStr" value="{exeDeptStr}"/>
                <input type="hidden" name="contract[newProLineStr]" id="newProLineStr" value="{newProLineStr}"/>
                <input type="hidden" name="contract[id]" value="{id}"/>
                <input type="hidden" id="contractId" value="{id}"/>
                <input type="hidden" id="chanceId" value="{chanceId}"/>
                <input type="button" class="txt_btn_a" value=" 保  存 " onclick="toSave();"/>
                <input type="button" class="txt_btn_a" value=" 提交合同 " onclick="toApp();"/>
                <input type="button" class="txt_btn_a" value=" 关  闭 " onclick="closeFun();"/>
            </td>
        </tr>
    </table>
</form>
</body>
</html>