<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=GBK" />
   <title></title>
   {#commonInclude#}
   <script type="text/javascript" src="{#jsPath#}/contract-count.js"></script>
</head>
<body>
<div id="contractCount" >
最近15天内有<a id="lastAddNumHref" href="javascript:void(0)" ><span id="lastAddNum"></span></a>个新增的合同。</br>
最近15天内有<a id="lastChangeNumHref" href="javascript:void(0)" ><span id="lastChangeNum"></span></a>个变更的合同。</br>
</div>
</body>
</html>


