<html>

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
        <title>
            列表显示
        </title>
        <link rel="stylesheet" type="text/css" href="css/yxstyle.css" />
        <link rel="stylesheet" type="text/css" href="js/thickbox.css" />
		<link rel="stylesheet" type="text/css" href="js/jquery/style/contextmenu.css" />

        <script type="text/javascript" src="js/jquery.js"></script>
        <script type="text/javascript" src="js/thickbox.js"></script>
		<script type="text/javascript" src="js/jquery/jquery.contextmenu.js"></script>

        <script type="text/javascript" src="js/common/businesspage.js"></script>




    </head>

    <body>

			<table class="main_table">
		        <thead>
		            <tr class="main_tr_header">
		                <th width="50%">
		               		成员名称
		                </th>
		                <th width="50%">
		                   	比例
		                </th>

		            </tr>
		        </thead>
		        <tbody>
		        	{list}
		        </tbody>
		    </table>
    </body>

</html>