<html>

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
        <title>
            一键通任务列表
        </title>
        <link rel="stylesheet" type="text/css" href="css/yxstyle.css" />
        <link rel="stylesheet" type="text/css" href="js/thickbox.css" />

        <script type="text/javascript" src="js/jquery.js"></script>
        <script type="text/javascript" src="js/thickbox.js"></script>

        <script type="text/javascript" src="js/common/businesspage.js"></script>
    	<script type="text/javascript">
    		function show_page(page){
			this.location="?model=rdproject_task_rdtask&action=onekeyTaskPage";
			}
			$(document).ready(function(){
				rowsColorChange();
			})
    	</script>
    </head>

    <body>
        <div class="main_head">
            <span class="main_head_title">
                一键通
            </span>
        </div>


		<div class="main_wraper">
			<table class="main_table_search">
                <tr>
                    <td>
                        输入关键字：
                        <input type="text" id="searchvalue" class="txt" name="searchvalue" value=""
                        />
                        按
                        <select id="searchfield" class="select">
                            <option>
                                请选择
                            </option>
                            <option value="Name">
                                客户名称
                            </option>
                            <option value="Number">
                                客户编号
                            </option>
                        </select>
                        <input type="button" value=" 搜索 " class="txt_btn_a" />
                        &nbsp;
                        <input title=" 添加任务" type="button" value=" 添加 " class="thickbox txt_btn_a"
                       alt="?model=rdproject_task_rdtask&action=toAddOneKey&placeValuesBefore&TB_iframe=true&modal=false&height=500&width=800"
                        />
                        &nbsp;
                        <input title=" 删除所选" type="button" value=" 删除 " class="txt_btn_a" />
                    </td>
                </tr>
            </table>
			<table class="main_table">
		        <thead>
		            <tr class="main_tr_header">
		                <th width="3%">
		                    序号
		                </th>
		                <th width="3%">
		               		状态标记
		                </th>
		                <th width="15%">
		                    任务名称
		                </th>
		                <th width="8%">
		                    所属项目
		                </th>
		                <th width="6%">
		                    优先级
		                </th>
		                <th width="6%">
		                    状态
		                </th>
		                <th width="6%">
		                    完成率
		                </th>
		                <th width="6%">
		                    偏差率
		                </th>
		                <th width="8%">
		                    责任人
		                </th>
		                <th width="8%">
		                    发布人
		                </th>
		                <th width="10%">
		                    最近更新时间
		                </th>
		                <th width="10%">
		                    计划完成时间
		                </th>
		                <th width="5%">
		                    任务类型
		                </th>
		                <th>
		                    操作
		                </th>
		            </tr>
		        </thead>
		        <tbody>
		        	{list}
		        </tbody>
		    </table>
		</div>
		{pageDiv}
    </body>

</html>