<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=gbk" />
        <link rel="stylesheet" type="text/css" href="css/yxstyle.css" />
        <script type="text/javascript" src="js/jquery.js"></script>
        <script type="text/javascript" src="js/common/businesspage.js"></script>
        <title>
            查看项目组合
        </title>
		<style type="text/css">
		</style>

        <script type="text/javascript">
		<!--

		//-->
        </script>
    </head>

    <body>
        <div class="form_main">
                <table class="form_main_table">
                    <tr class="form_header">
                        <td colspan="2">
                            组合基本信息
                        </td>
                    </tr>
                    <tr>
                        <td class="form_text_left">
                            所属项目组合
                        </td>
                        <td class="form_view_right">
                            {rdgroup[parentName]}
                        </td>
                    </tr>
                    <tr>
                        <td class="form_text_left">
                            项目组合名称
                        </td>
                        <td class="form_view_right">
                            {rdgroup[groupName]}
                        </td>
                    </tr>
                    <tr>
                        <td class="form_text_left">
                            简称
                        </td>
                        <td class="form_view_right">
                            {rdgroup[simpleName]}
                        </td>
                    </tr>
                    <tr>
                        <td class="form_text_left">
                            组合编号
                        </td>
                        <td class="form_view_right">
                            {rdgroup[groupCode]}
                        </td>
                    </tr>
                    <tr>
                        <td class="form_text_left">
                            组合责任人
                        </td>
                        <td class="form_view_right">
                            {rdgroup[managerName]}
                        </td>
                    </tr>
                    <tr>
                        <td class="form_text_left">
                            所属部门
                        </td>
                        <td class="form_view_right">
                            {rdgroup[depName]}
                        </td>
                    </tr>
                    <tr>
                        <td class="form_text_left">
                            组合助理
                        </td>
                        <td class="form_view_right">
                            {rdgroup[assistantName]}
                        </td>
                    </tr>
                    <tr>
                        <td class="form_text_left">
                            组合描述
                        </td>
                        <td class="form_view_right">
                        	<textarea  cols="80" class="textarea_read">{rdgroup[description]}</textarea>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                        	<input type="hidden" id="id" value="rdgroup[Id]">
                            <input type="button" class="txt_btn_a" value="关 闭" onclick="self.parent.tb_remove();">
                        </td>
                    </tr>
                </table>
        </div>
    </body>

</html>