<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en_US" xml:lang="en_US">
<head>
	<title>查看常用设备</title>
      {#commonInclude#}
   <script type="text/javascript" src="{#jsPath#}/equipment-view.js" ></script>  
</head>
<body>

<table class="form_main_table">
<tr>
	<td colspan="4">
      <div class="main_head">
          <span class="main_head_title">
            	查看常用设备
          </span>
      </div>
   </td>
</tr>
<tr>
		<td class="form_text_left">设备名称</td>
		<td class="form_text_right">
			{equipName}
		</td>
		<td class="form_text_left">是否停产</td>
		<td class="form_text_right">
			{isProduce}
		</td>
</tr>     
<tr>
		<td class="form_text_left">备注</td>
		<td class="form_text_right" colspan="3">
			{remark}
		</td>
</tr>          
</table>
		<div id="itemTable"></div>
<table class="form_main_table">
    	<tr>
	 <td class="txt_btn" colspan="4">
         <input  type="hidden" id="id"  value="{id}" />
      <input  type="button" class="txt_btn_a" value=" 关  闭 " onclick="self.parent.tb_remove();"/>
	 </td>
</tr>
</table>
</body>
</html>