<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en_US" xml:lang="en_US">
<head>
	<title>查看生产物料需求</title>
      {#commonInclude#}
   <script type="text/javascript" src="{#jsPath#}/produceproitem-view.js" ></script>  
</head>
<body>

<table class="form_main_table">
<tr>
	<td colspan="4">
      <div class="main_head">
          <span class="main_head_title">
            	查看生产物料需求信息
          </span>
      </div>
   </td>
</tr>
<tr>
      		<td class="form_text_left">物料编号</td>
      		<td class="form_text_right" >
      			 {productCode}
      		</td>
      		<td class="form_text_left">物料名称</td>
      		<td class="form_text_right" >
      			{productName}
      		</td>
       </tr>        
       <tr>
      		<td class="form_text_left">规格型号</td>
      		<td class="form_text_right" >
      			{pattern}
      		</td>
      		<td class="form_text_left">单位</td>
      		<td class="form_text_right" >
      			 {unitName}
      		</td>
       </tr>   
       <tr>
      		<td class="form_text_left">库存数量</td>
      		<td class="form_text_right" >
      			 {actNum}
      		</td>
      		<td class="form_text_left">在途数量</td>
      		<td class="form_text_right" >
      			{planInstockNum}
      		</td>
       </tr>      
       <tr>
       
      		<td class="form_text_left">需求类型</td>
      		<td class="form_text_right" >
      			<select class="select" name="produceproitem[relDocType]"  id="relDocType"  readonly>
					<option value="0">合同</option>
					<option value="1">借试用</option>
					<option value="2">赠送</option>
				</select>
      		</td>
      		<td class="form_text_left">需求编号</td>
      		<td class="form_text_right" >
				{relDocCode}
      		</td>
       </tr>        
       <tr>
      		<td class="form_text_left">配置</td>
      		<td class="form_text_right" >
      			 {configName}
      		</td>
      		<td class="form_text_left">数量</td>
      		<td class="form_text_right" >
      			 {configNum}
      		</td>
       </tr>        
       <tr>
      		<td class="form_text_left">发货时间</td>
      		<td class="form_text_right" >
      			 {sendDate}
      		</td>
       </tr>        
       <tr>
      		<td class="form_text_left">备注</td>
      		<td class="form_text_right" colspan="3">
	      		<textarea style="width:600px;" class="txt_txtarea_font"  id="remark" name="produceproitem[remark]" >{remark}</textarea>
      		</td>
       </tr>       
   <tr>
		<td class="txt_btn" colspan="4">
         <input  type="hidden" id="id"  value="{id}" />
	      <input  type="button" class="txt_btn_a" value=" 关  闭 " onclick="self.parent.tb_remove();"/>
		</td>
</tr>
</table>
</body>
</html>