<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>·ÖÌ¯Ã÷Ï¸</title>
    {#commonInclude#}
    <script type="text/javascript" src="view/template/finance/cost/js/costshare-gridallstatistict.js"></script>
</head>
<body>
<input type="hidden" id="userId" value="{userId}"/>
<input type="hidden" id="areaId" value="{areaId}"/>
<input type="hidden" id="year" value="{year}"/>
<table id="costshareGrid" style="display: none"></table>
</body>
</html>