<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
 <head>
  <title>培训培训</title>
  	<link rel="stylesheet" type="text/css" href="css/yxstyle.css"/>
		<script type="text/javascript" src="js/DatePicker/WdatePicker.js"></script>

    <script type="text/javascript" src="view/template/engineering/serviceTrain/js/serviceTrain-train-add.js"></script>
 </head>
 <body class="form_main_table">
 	<table id="tra" width="100%" cellspacing="1" cellpadding="0">
 	<tbody>
 		<tr>
 			<td class="form_header" width="80%">培训计划</td>
 			<td width="20%">
 				<input type="hidden" id="TraNumber" name="TraNumber" value="1" />
 				<input type="button" class="txt_btn_a" value="缩  放" onclick="dis('mytra)" />
 				<input type="button" class="txt_btn_a" value="添加行" onclick="train_add('mytra','TraNumber');"/>
 			</td>
 		</tr>
 	</tbody>
</table>
<table class="main_table" id="mytra" width="100%" cellspacing="1" cellpadding="0">
	<tbody>
	<tr class="main_tr_header">
		<td nowrap="" width="5%">序号</td>
		<td nowrap="" width="8%">培训开始时间</td>
		<td nowrap="" width="8%">培训结束时间</td>
		<td nowrap="" width="8%">参与人数</td>
		<td nowrap="" width="18%">培训地点</td>
		<td nowrap="">培训内容</td>
		<td nowrap="" width="20%">培训工程师要求</td>
		<td nowrap="" width="5%">操作</td>
	</tr>
	<tr align="center">

		<td width="5%">1</td>
		<td>
			<input type="text" name="serviceTrain[1][beginDT]" id="TraDT1" size="10" onfocus="WdatePicker()" />
		</td>
		<td>
			<input type="text" name="serviceTrain[1][endDT]" id="TraEndDT1" size="10" onfocus="WdatePicker()" />
		</td>
		<td>
			<input type="text" name="serviceTrain[1][traNum]" size="8" maxlength="40" />
		</td>
		<td>
			<textarea name="serviceTrain[1][adress]" rows="2" cols='15' class="all"></textarea>
		</td>
		<td>
			<textarea name="serviceTrain[1][content]" rows="2" class="all"></textarea>
		</td>
		<td>
			<textarea name="serviceTrain[1][trainerDemand]" rows="2" class="all"></textarea>
		</td>
		<td>
			<img src="images/closeDiv.gif" onclick="mydel(this,'mytra')" title="删除行" />
		</td>
	</tr>


	</tbody>
</table>
 </body>
</html>
