<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" " http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns=" http://www.w3.org/1999/xhtml">
<head>
	<title>编辑备货产品信息表</title>
   {#commonInclude#}
   <link rel="stylesheet" type="text/css" href="js/jquery/style/Validator.css"/>
		<link type="text/css" rel="stylesheet" href="js/jquery/style/validator.css">
        <script type="text/javascript" src="js/validate.js"> </script>
		<script type="text/javascript" src="js/jquery/formValidator.js" charset="UTF-8"></script>
		<script type="text/javascript" src="js/jquery/formValidatorRegex.js" charset="UTF-8"></script>
   <script type="text/javascript" src="{#jsPath#}/products-edit.js" ></script>
</head>
<body>
<form id="form1" method="post" action="?model=stockup_basic_products&action=edit" >
<table class="form_main_table">
   <tr>
      <td colspan="4">
          <div class="main_head">
             <span class="main_head_title">
               	编辑备货产品信息表信息
             </span>
         </div>
      </td>
   </tr>
<tr>
		<td class="form_text_left"><span style="color:blue">产品名称</span></td>
		<td class="form_text_right" >
			 <input type="text" class="txt" id="productName"  name="products[productName]"  value="{productName}" /><span class="red">[*]</span>
		 <div id="productNameTip" class="tipShortTxt"></div>
		</td>
</tr>

<tr>
		<td class="form_text_left">产品编码</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" id="productCode"  name="products[productCode]"  value="{productCode}" />
		</td>
</tr>
<tr>
		<td class="form_text_left">备注</td>
		<td class="form_text_right" >
         <textarea class="txt_txtarea_font" id="remark" name="products[remark]">{remark}</textarea>
		</td>
</tr>
           <tr>
   		<td class="txt_btn" colspan="4">
            <input  type="hidden" id="id" name="products[id]" value="{id}" />
   		   <input  type="submit" class="txt_btn_a" value=" 保  存 "/>
   		   <input  type="button" class="txt_btn_a" value=" 关  闭 " onclick="self.parent.tb_remove();"/>
   		</td>
        </tr>
     </table>
  </form>
 </body>
</html>