body{border: 0; margin: 0; cursor: default; background: buttonface;SCROLLBAR-FACE-COLOR: #eeeeee; SCROLLBAR-HIGHLIGHT-COLOR: #ffffff; SCROLLBAR-SHADOW-COLOR: #aaaaaa; SCROLLBAR-3DLIGHT-COLOR: #ffffff; SCROLLBAR-ARROW-COLOR: #666666; SCROLLBAR-TRACK-COLOR: #ffffff; SCROLLBAR-DARKSHADOW-COLOR: #ffffff}
#topToolBar	{background: buttonface; width: 100%;}

.coolButton	{font: menu;color:#cccccc}

#headerTable{border: 1  solid black; width: 100%; background: window;}
.dark{background: buttonshadow; color: white;
font: icon; text-align: right;
width: 70; padding-right: 3;}

.inputBlock{padding-left: 4; padding-right: 4; padding-bottom: 1;}
.toBlock{color: black; font: icon; padding: 2; padding-left: 4; padding: right: 4;}

#middle{background: buttonface; overflow: hidden; width: 100%; height: 2; margin: 0;}

#visibleText{position: relative; top: -1; width: 100%; border: 2 inset buttonface; height: 100%;}

#editBar td{width: 22; height: 24; padding-top: 0; padding-bottom: 0;}
#editBar1 td{width: 22; height: 24; padding-top: 0; padding-bottom: 0;}
#editBar2 td{width: 22; height: 24; padding-top: 0; padding-bottom: 0;}
input{border: 1 solid window; font: 9pt; cursor: hand;padding:0;margin:0;}
