<html>
	<head>
		<title>
			查看采购发票
		</title>
		<meta http-equiv="Content-Type" content="text/html;charset=gb2312" />
		<link rel="stylesheet" type="text/css" href="css/yxstyle.css" />
		<script type="text/javascript" src="js/jquery.js"></script>
		<script type="text/javascript" src="js/common/businesspage.js"></script>
		<style media=print>
		　　.Noprint{display:none;}
		　　.PageNext{page-break-after: always;}
	　　</style>
	</head>
	<body>
		<table class="form_main_table">
			<tr>
				<td class="form_header" colspan="4">
					采购发票 <span style="">{formTypeCN}</span>
				</td>
			</tr>
			<tr>
				<td class="form_text_left">
					供应商名称
				</td>
				<td class="form_text_right" width="30%">
					{supplierName}
				</td>
				<td class="form_text_left">
					地址
				</td>
				<td class="form_text_right">
					{address}
				</td>
			</tr>
			<tr>
				<td class="form_text_left">
					发票号码
				</td>
				<td class="form_text_right">
					{objNo}
				</td>
				<td class="form_text_left">
					发票类型
				</td>
				<td class="form_text_right">
					{invType}
				</td>
			</tr>
			<tr>
				<td class="form_text_left">
					采购方式
				</td>
				<td class="form_text_right">
					{purType}
				</td>
				<td class="form_text_left">
					付款日期
				</td>
				<td class="form_text_right">
					{payDate}
				</td>
			</tr>
			<tr>
				<td class="form_text_left">
					开户银行
				</td>
				<td class="form_text_right">
					{bank}
				</td>
				<td class="form_text_left">
					业务类型
				</td>
				<td class="form_text_right">
					{busType}
				</td>
			</tr>
			<tr>
				<td class="form_text_left">
					币别
				</td>
				<td class="form_text_right">
					{currency}
				</td>
				<td class="form_text_left">
					汇率
				</td>
				<td class="form_text_right">
					{excRate}
				</td>
			</tr>
			<tr>
				<td class="form_text_left">
					源单类型
				</td>
				<td class="form_text_right">
					{sourceType}
				</td>
				<td class="form_text_left">
					源单编号
				</td>
				<td class="form_text_right">
					{menuNo}
				</td>
			</tr>
			<tr>
				<td class="form_text_left">
					总金额
				</td>
				<td class="form_text_right formatMoney">
					{amount}
				</td>
				<td class="form_text_left">
					税率(%)
				</td>
				<td class="form_text_right formatMoney">
					{taxRate}
				</td>
			</tr>
		</table>
		<table class="form_main_table">
			<tr align="left">
				<td colspan="9">
					详细：
				</td>
			</tr>
			<tbody id="invbody">
				<tr class="main_tr_header" align="center">
					<th width="5%">序号</th>
					<th>物料编号</th>
					<th>物料名称</th>
					<th>规格型号</th>
					<th width="8%">数量</th>
					<th width="10%">单价</th>
					<th width="10%">总额</th>
					<th width="10%">税额</th>
					<th width="10%">金额</th>
				</tr>
				{invpurdetail}
			</tbody>
		</table>
		<table class="form_main_table">
			<tr>
				<td class="form_text_left">
					主管
				</td>
				<td class="form_text_right" width="30%">
					{head}
				</td>
				<td class="form_text_left">
					记账
				</td>
				<td class="form_text_right">
					{acount}
				</td>
			</tr>
			<tr>
				<td class="form_text_left">
					部门
				</td>
				<td class="form_text_right">
					{departments}
				</td>
				<td class="form_text_left">
					业务员
				</td>
				<td class="form_text_right">
					{salesman}
				</td>
			</tr>
			<tr>
				<td class="form_text_left">
					创建人
				</td>
				<td class="form_text_right">
					{createName}
				</td>
				<td class="form_text_left">
					创建时间
				</td>
				<td class="form_text_right">
					{createTime}
				</td>
			</tr>
			<tr>
				<td class="form_text_left">
					备注
				</td>
				<td class="form_text_right" colspan="3">
					<textarea class="textarea_read" readonly="readonly">{remark}</textarea>
				</td>
			</tr>
			<tr>
				<td colspan="4">
			 		<p class="noprint">
			 			<OBJECT classid=CLSID:8856F961-340A-11D0-A96B-00C04FD705A2 height=0 id=WebBrowser
						width=0></OBJECT>
						<input type="button" onclick="document.all.WebBrowser.ExecWB(6,1)"value="打印">
						<input type="button" onclick="document.all.WebBrowser.ExecWB(8,1)"value=" 页面设置">
						<input type="button" onClick="document.all.WebBrowser.ExecWB(7,1)" value="打印预览">
				 		<!--input onclick="printPage();" type="button" value="打印"-->
			 		</p>
	 			</td>
			</tr>
		</table>
	</body>
</html>