<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en_US" xml:lang="en_US">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=GB2312" />
		<link rel="stylesheet" type="text/css" href="css/yxstyle2.css" />
		<link rel="stylesheet" type="text/css" href="js/thickbox.css" />

		<script type="text/javascript" src="js/jquery/jquery-1.4.2.js"></script>
		<script type="text/javascript" src="js/common/businesspage.js"></script>
		<script type="text/javascript" src="js/jquery/woo.js"></script>
		<script type="text/javascript" src="js/jquery/component.js"></script>
		<script type="text/javascript" src="js/jquery/dump.js"></script>
		<script type="text/javascript" src="js/thickbox.js"></script>
		<script type="text/javascript" src="view/template/finance/invpurchase/js/invpurchase-deal.js"></script>
		<title>
			采购发票旧数据处理
		</title>
		<style type="text/css">
			.myTable,.myTable td {
			    border:1px solid #cccccc;
			    border-collapse:collapse;
			    padding:5px 5px 5px 5px;
			}
		</style>
	</head>
	<body>
		<form id="form1" method="post" action="?model=finance_invpurchase_invpurchase&action=deal">
			<div>
				<table>
					<tr><td><span class="red"><b>采购发票信息</b></span></td></tr>
				</table>
			</div>
			<div>
				<table class="myTable">
					<tr>
						<td>明细id</td>
						<td>物料id</td>
						<td>物料编号</td>
						<td>物料名称</td>
						<td>型号</td>
						<td>数量</td>
						<td>不含税金额</td>
						<td>源单编号</td>
						<td>扩展Id</td>
					</tr>
					<tbody id="shareBody">
						{dealInfo}
					</tbody>
				</table>
			</div>
			<div>
				<table>
					<tr><td>
						<input type="submit" class="txt_btn_a" value="保存"))"/>
						<input type="hidden" id="stockIds" value="{stockIds}"/>
						<span class="blue">请保持明细物料的对应关系</span>
					</td></tr>
				</table>
			</div>
		</form>
		<div>
			<table>
				<tr><td><span class="red"><b>入库单信息</b></span></td></tr>
			</table>
		</div>
		<div>
			<table class="myTable">
				<tr>
					<td>入库单号</td>
					<td>明细id</td>
					<td>物料id</td>
					<td>物料编号</td>
					<td>物料名称</td>
					<td>型号</td>
					<td>数量</td>
					<td>不含税金额</td>
				</tr>
				<tbody id="shareBody">
					{stockinfo}
				</tbody>
			</table>
		</div>
	</body>
</html>