<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en_US" xml:lang="en_US">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=GB2312" />
    <link rel="stylesheet" type="text/css" href="css/yxstyle2.css" />
    <link rel="stylesheet" type="text/css" href="js/jquery/style/yxmenu.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="js/jquery/style/yxmenu.theme.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="js/thickbox.css" />
    <link rel="stylesheet" type="text/css" href="js/jquery/style/yxgrid.css" />
    <link rel="stylesheet" type="text/css" href="js/jquery/tab/css/tabs.css"/>

    <script type="text/javascript" src="js/jquery/jquery-1.4.2.js"></script>
    <script type="text/javascript" src="js/common/businesspage.js"></script>
    <script type="text/javascript" src="js/util.js"></script>
    <script type="text/javascript" src="js/jquery/woo.js"></script>
    <script type="text/javascript" src="js/jquery/component.js"></script>
    <script type="text/javascript" src="js/jquery/dump.js"></script>
    <script type="text/javascript" src="js/jquery/combo/yxcombo.js"></script>
    <script type="text/javascript" src="js/jquery/grid/yxsgrid.js"></script>
    <script type="text/javascript" src="js/jquery/grid/yxgrid.js"></script>
    <script type="text/javascript" src="js/jquery/combo/yxcombogrid.js"></script>
    <script type="text/javascript" src="js/jquery/combo/business/yxcombogrid-invPurchase.js"></script>
    <script type="text/javascript" src="js/jquery/combo/business/yxcombogrid-invCost.js"></script>
    <script type="text/javascript" src="view/template/finance/invpurchase/js/invpurchase-hook.js"></script>
    <script type="text/javascript" src="js/thickbox.js"></script>
    <script type="text/javascript" src="js/jquery/tab/tabs.js"></script>
    <script type="text/javascript" src="js/jquery/tab/toolbox.history.js"></script>
    <title>
        采购发票钩稽 - 供应商 : {supplierName}
    </title>
</head>
<body>
<!-- the tabs -->
<ul class="tabs">
    <li><a href="#first">采购发票</a></li>
    <li><a href="#second">费用发票</a></li>
</ul>

<form id="form1" method="post" action="?model=finance_related_baseinfo&action=hookAdd" onsubmit="return checkform_forasset()">
    <!-- tab "panes" -->
    <div class="panes">
        <div>
            <div class="main_head">
						<span class="main_head_title">
							采购发票
							<input type="hidden" id="invpurId" name="invpurId" value="{invpurId}"/>
							<input type="hidden" id="supplierId" name="supplierId" value="{supplierId}"/>
							<input type="hidden" id="supplierName" name="supplierName" value="{supplierName}"/>
							<input type="hidden" id="sysYear" value="{sysYear}"/>
							<input type="hidden" id="sysMonth" value="{sysMonth}"/>
							<input type="hidden" id="invCount" value="{invCount}"/>
                            <input type="hidden" id="purchType" name="purchType" value="{purchType}"/>
                            <input type="hidden" id="productCount" name="productCount" value="{productCount}"/>
                            <input type="hidden" id="productCodeStr" name="productCodeStr" value="{productCodeStr}"/>
							<input type="hidden" id="status" name="status" value="CGFPZT-YGJ"/>
							<input type="button" id="invPurchase" value=" 选择采购发票 " class="txt_btn_a" onclick="toInvList()" title="选择采购发票"/>
						</span>
            </div>
            <div style="height:300px;overflow:auto">
                <table class="main_table">
                    <tr class="main_tr_header">
                        <th width="7%">
                            本次钩稽数量
                        </th>
                        <th width="7%">
                            单据日期
                        </th>
                        <th width="12%">
                            单据编号
                        </th>
                        <th width="6%">
                            钩稽状态
                        </th>
                        <th width="8%">
                            物料编号
                        </th>
                        <th>
                            物料名称
                        </th>
                        <th width="5%">
                            数量
                        </th>
                        <th width="7%">
                            已钩稽数量
                        </th>
                        <th width="8%">
                            已钩稽金额
                        </th>
                        <th width="7%">
                            未钩稽数量
                        </th>
                        <th width="8%">
                            未钩稽金额
                        </th>
                        <th width="8%">
                            源单编号
                        </th>
                    </tr>
                    <tbody id="invTable">
                    {invList}
                    </tbody>
                </table>
            </div>
        </div>
        <div>
            <div class="main_head">
						<span class="main_head_title">
							费用发票
							<input type="button" class="txt_btn_a" id="invCost" value=" 选择费用发票 "/>
							<input type="hidden" id="invCostId" name="invCostId"/>
							<input type="hidden" id="invCostCount" value="0"/>
							<select name="shareType">
                                <option value="forNumber">按数量分配</option>
                                <option value="forMoney">按金额分配</option>
                            </select>
						</span>
            </div>
            <div style="height:300px;overflow:auto" >
                <table class="main_table" id="costTable">
                    <tr class="main_tr_header">
                        <th width="15%">
                            发票编号
                        </th>
                        <th width="20%">
                            供应商名称
                        </th>
                        <th width="15%">
                            日期
                        </th>
                        <th width="15%">
                            金额
                        </th>
                        <th width="35%">
                        </th>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="main_head">
				<span class="main_head_title">
					可勾稽资产卡片
					<font style="color:red">提示：请确保发票内的物料都已生成对应的资产卡片，否则无法勾稽。</font>
				</span>
    </div>
    <div style="height:300px;overflow:auto" >
        <table class="main_table">
            <tr class="main_tr_header">
                <th>
                    选择钩稽
                </th>
                <th>
                    卡片编号
                </th>
                <th>
                    物料编号
                </th>
                <th>
                    采购订单编号
                </th>
            </tr>
            <tbody id="cartsTable">
                {cardsTable}
            </tbody>
        </table>
    </div>
    <div>
        <table class="form_main_table">
            <tr>
                <td class="txt_btn" colspan="4">
                    <input type="hidden" id="isHook" name="isHook" value="1"/>
                    <input type="submit" class="txt_btn_a" value=" 钩 稽 "/>
                    <input type="button" class="txt_btn_a" value=" 关 闭 " onclick="closeFun();"/>
                </td>
            </tr>
        </table>
    </div>
</form>
</body>
</html>