<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en_US" xml:lang="en_US">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=GB2312" />
		<link rel="stylesheet" type="text/css" href="css/yxstyle2.css" />
		<link rel="stylesheet" type="text/css" href="js/thickbox.css" />

		<script type="text/javascript" src="js/jquery/jquery-1.4.2.js"></script>
		<script type="text/javascript" src="js/common/businesspage.js"></script>
		<script type="text/javascript" src="js/jquery/woo.js"></script>
		<script type="text/javascript" src="js/jquery/component.js"></script>
		<script type="text/javascript" src="js/jquery/dump.js"></script>
		<script type="text/javascript" src="js/thickbox.js"></script>
		<script type="text/javascript" src="view/template/finance/invpurchase/js/invpurchase-olddatadeal.js"></script>
		<title>
			采购发票旧数据处理
		</title>
		<style type="text/css">
			.myTable,.myTable td {
			    border:1px solid #cccccc;
			    border-collapse:collapse;
			    padding:5px 5px 5px 5px;
			}
		</style>
	</head>
	<body>
		<!-- tab "panes" -->
			<div>
				<table>
					<tr>
						<td>
							<b>请按步骤进行更新</b>
						</td>
					</tr>
				</table>
			</div>
			<div>
				<table>
					<tr>
						<td>
							1.查询重复数据
						</td>
					</tr>
					<tr>
						<td>
							<input type="button" class="txt_btn_a" value="查询" onclick="getInvpurchase();"/>
							<input type="button" class="txt_btn_a" value="查询记录条数" onclick="getCount();"/>
							<span id="countNum"></span>
						</td>
					</tr>
				</table>
			</div>
			<div>
				<table>
					<tr><td>2.数据分配 - 只显示前50条数据</td></tr>
				</table>
			</div>
			<div>
				<table class="myTable">
					<tbody id="falseInfo">
					</tbody>
				</table>
				<table class="myTable">
					<tbody id="shareBody">
					</tbody>
				</table>
			</div>
			<div>
				<table>
					<tr><td>3.其余数据更新</td></tr>
					<tr>
						<td>
							<input type="button" class="txt_btn_a" value="更新" onclick="updateOther();"/>
						</td>
					</tr>
				</table>
				<table>
					<tbody id="updateInfo">
					</tbody>
				</table>
			</div>
	</body>
</html>