<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>更新信息</title>
{#commonInclude#}
<script>
	function updateObjCode(objType){
		$("#msg").html("正在更新中...");
		$.ajax({
			url:'?model=common_contract_allsource&action=updateObjCodeByContractCode&contractCode='+$("#contractCode").val(),

			success:function(data){
				if(data==1){
					alert('更新成功.');
					$("#msg").html('更新成功.请关闭窗口后重新刷新数据查看.');
				}else{
					alert('程序出错,更新失败.失败原因:'+data);
					$("#msg").html('更新失败.失败原因:'+data);
				}

			}
		});
	}
</script>
</head>
<body align="center" valign="center">
<table class="form_main_table">
<tr>
	<td>
		请输入要更新的合同编号：<input type="text" class="txt" id="contractCode" />
		<input type="button"  value="更新" class="txt_btn_a" onclick="updateObjCode('oa_contract_contract')"/>

	</td>
	<td>

 	</td>
 	</tr>
</table>
<div id="msg"></div>
</body>
</html>
