<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>ÏîÄ¿·¶Î§</title>
	{#commonInclude#}
	<link rel="stylesheet" href="js/jquery/ztree/css/zTreeStyle.css" type="text/css"/>
	<script type="text/javascript" src="js/jquery/ztree/jquery.ztree.core-3.0.js"></script>
	<script type="text/javascript" src="js/jquery/ztree/jquery.ztree.excheck-3.0.js"></script>
	<script type="text/javascript" src="js/jquery/ztree/jquery.ztree.exedit-3.0.js"></script>

	<script type="text/javascript" src="view/template/engineering/activity/js/esmactivity-view-grid.js"></script>
</head>
<body>
	<div style="float:left;width:200px; overflow:auto;">
		<ul id="tree" class="ztree"></ul>
	</div>
	<input type="hidden" id="parentId" value="{parentId}"/>
	<input type="hidden" id="projectId" value="{projectId}"/>
	<table id="esmactivityGrid" style="display: none"></table>
</body>
</html>