<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" " http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>项目任务</title>
    {#commonInclude#}
</head>
<body>
	<table class="form_main_table">
		<tr>
			<td colspan="6">
				<div class="main_head2">
					<span class="main_head_title">
	               		项目任务 上级 - {activityName}
					</span>
				</div>
			</td>
	    </tr>
        <tr>
      		<td class="form_text_left">任务名称</td>
      		<td class="form_text_right" >{activityName}</td>
      		<td class="form_text_left">工作占比</td>
      		<td class="form_text_right" width="30%">{workRate} %</td>
        </tr>
        <tr>
      		<td class="form_text_left">所属项目</td>
      		<td class="form_text_right" colspan="3">{projectName}
      		</td>
        </tr>
        <tr>
      		<td class="form_text_left">工作内容</td>
      		<td class="form_text_right" colspan="3">{workContent}
      		</td>
        </tr>
        <tr>
      		<td class="form_text_left">备注说明</td>
      		<td class="form_text_right" colspan="3">{remark}</td>
        </tr>
		<tr>
			<td class="txt_btn" colspan="4">
			    <input  type="button" class="txt_btn_a" value=" 关  闭 " onclick="closeFun();"/>
			</td>
		</tr>
	</table>
</body>
</html>