<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />

<link rel="stylesheet" type="text/css" href="css/yxstyle.css" />
<link rel="stylesheet" type="text/css" href="js/thickbox.css" />
<link rel="stylesheet" type="text/css" href="js/jquery/style/Validator.css"/>

<script type="text/javascript" src="js/jquery/jquery-1.4.2.js"></script>
<script type="text/javascript" src="js/common/businesspage.js"></script>
<script type="text/javascript" src="js/thickbox.js"></script>

<script type="text/javascript" src="js/jquery/formValidator.js" charset="UTF-8"></script>
<script type="text/javascript" src="js/jquery/formValidatorRegex.js" charset="UTF-8"></script>

<script type="text/javascript" src="view/template/rdproject/light/js/rdlight-edit-formValidator.js"></script>
<script type="text/javascript" src="view/template/rdproject/light/js/rdlight-add.js"></script>
</head>
<body>
<form action="?model=rdproject_light_rdlight&action=editlightinfo" method="post" id="form1">
<input type="hidden" id="maxValue" value="{max}">
<input type="hidden"  id="minValue" value="{min}">
<table class="form_main_table">
	<tr>
		<td class="main_tr_header" colspan="4">修改标志灯信息</td>
	</tr>

	<tr>
		<td class="form_text_left">标识灯颜色</td>
		<td class="form_text_right">
			{lightcol}
	    </td>
	</tr>
	<tr>
		<tr>
			<td class="form_text_left">范围(下)</td>
			<td class="form_text_right" >
				<input type="text" class="txt" name="rdlight[Min]" id="Min" value="{Min}" onblur="judgeMin()"><span class='red'>[*]</span>
				<span id="MinTip" class="dbcolumnTipTxt"></sapn>
			</td>
		</tr>
		<td class="form_text_left">
			范围(上)
		</td>
		<td class="form_view_right">
			<input type="text" class="txt" id="Max" name="rdlight[Max]"  value="{Max}"  onblur="judgeMax()"><span class='red'>[*]</span>
			<span id="MaxTip" class="dbcolumnTipTxt"></span>
		</td>
	</tr>
	<tr>
		<td colspan="4">
		<input type="hidden" name="rdlight[id]" id="id" value="{id}">
		<input type="submit" class="txt_btn_a" value=" 保存 ">
		<input type="button" class="txt_btn_a" onclick="self.parent.tb_remove();" value="返回 ">
		</td>
	</tr>
</table>
</form>
</body>
</html>

