<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en_US" xml:lang="en_US">
<head>
	<title>查看系统日志设置</title>
	<meta http-equiv="Content-Type" content="text/html;charset=gb2312"/>
	<link rel="stylesheet" type="text/css" href="css/yxstyle.css"/>
	<link rel="stylesheet" type="text/css" href="js/thickbox.css"/>
	<link rel="stylesheet" type="text/css" href="js/jquery/style/Validator.css"/>

	<script type="text/javascript" src="js/jquery.js"></script>
	<script type="text/javascript" src="js/thickbox.js"></script>

	<script type="text/javascript" src="js/common/businesspage.js"></script>

</head>
<body>
<div class="main_head">
    <span class="main_head_title">
      	查看系统日志设置信息
    </span>
</div>
<table class="form_main_table">
<tr>
		<td class="form_text_left">表名</td>
		<td class="form_text_right">
			{tableName}
		</td>
</tr>     
<tr>
		<td class="form_text_left">业务名称</td>
		<td class="form_text_right">
			{businessName}
		</td>
</tr>     
<tr>
		<td class="form_text_left">业务主键字段名</td>
		<td class="form_text_right">
			{pkName}
		</td>
</tr>     
<tr>
		<td class="form_text_left">创建人</td>
		<td class="form_text_right">
			{createName}
		</td>

		<td class="form_text_left">创建日期</td>
		<td class="form_text_right">
			{createTime}
		</td>
</tr>     
<tr>
		<td class="form_text_left">修改人</td>
		<td class="form_text_right">
			{updateName}
		</td>
		<td class="form_text_left">修改日期</td>
		<td class="form_text_right">
			{updateTime}
		</td>
</tr>
		<tr>
				<td colspan="4">
				<table class="main_table" id="itemtable">
					<thead>
						<tr>
							<td colspan="5" class="form_header">设置详细</td>
						</tr>
						<tr class="main_tr_header">
							<th>序号</th>
							<th>字段名</th>
							<th>字段中文名意思</th>
							<th>字段数据类型</th>
						</tr>
					</thead>
					<tbody id="itembody">
						{itemsList}
					</tbody>
				</table>
			</td>
		</tr>           
<tr>
		<td class="txt_btn" colspan="4">
	      <input  type="button" class="txt_btn_a" value=" 关  闭 " onclick="self.parent.tb_remove();"/>
		</td>
</tr>
</table>
</body>
</html>