
	<table class="form_in_table">
		<tr class="main_head">
			<td colspan="14">Pioneer License</td>
		</tr>
		<tr class="main_tr_header">
			<td colspan="14">网络类型</td>
		</tr>
		<tr class="form_text_right">
			<td colspan="2" id="GSM">网络类型</td>
		</tr>
		<tr class="tr_odd">
			<td></td>
			<td>{itemName}</td>
		</tr>
		<tr class="tr_even">
			<td></td>
			<td onclick="dis('GSM-GSM')" id="GSM-GSM"></td>
			<td onclick="dis('GSM-CDMA')" id="GSM-CDMA"></td>
			<td onclick="dis('GSM-EVDO Rev.0')" id="GSM-EVDO Rev.0"></td>
			<td onclick="dis('GSM-EVDO Rev.A')" id="GSM-EVDO Rev.A"></td>
			<td onclick="dis('GSM-EVDO Rev.B')" id="GSM-EVDO Rev.B"></td>
			<td style="display:none" ondblclick="disAndfocus('GSM-phoneNoA')">
			    <span id="GSM-phoneNoA_v"></span>
			    <input type="hidden" class="txtmiddle" id="GSM-phoneNoA" onblur="changeInput('GSM-phoneNoA')" style="display:none"/>
			</td>
		</tr>
		<tr class="tr_odd">
			<td></td>
			<td>WCDMA</td>
			<td>WCDMA HSDPA</td>
			<td>WCDMA HSUPA</td>
			<td>WCDMA PA+21</td>
			<td>WCDMA PA+42</td>
		</tr>
		<tr class="tr_even">
			<td onclick="dis('GSM-BASE')" id="GSM-BASE"></td>
			<td onclick="dis('GSM-GPRS')" id="GSM-GPRS"></td>
			<td onclick="dis('GSM-EDGE')" id="GSM-EDGE"></td>
			<td colspan="1"  ondblclick="disAndfocus('GSM-phoneNoA')">
			    <span id="GSM-phoneNoA_v"></span>
			    <input type="text" class="txtmiddle" id="GSM-phoneNoA" onblur="changeInput('GSM-phoneNoA')" style="display:none"/>
			</td>
		</tr>
		<tr class="tr_odd">
			<td></td>
			<td>TD-SCDMA</td>
			<td>TD-SCDMA HSDPA</td>
			<td>TD-SCDMA HSUPA</td>
			<td>LTE</td>
			<td></td>
		</tr>
		<tr class="tr_even">
			<td onclick="dis('GSM-BASE')" id="GSM-BASE"></td>
			<td onclick="dis('GSM-GPRS')" id="GSM-GPRS"></td>
			<td onclick="dis('GSM-EDGE')" id="GSM-EDGE"></td>
			<td colspan="1"  ondblclick="disAndfocus('GSM-phoneNoA')">
			    <span id="GSM-phoneNoA_v"></span>
			    <input type="text" class="txtmiddle" id="GSM-phoneNoA" onblur="changeInput('GSM-phoneNoA')" style="display:none"/>
			</td>
			<td></td>
		</tr>
		
	</table>
