
<table class="form_in_table">
	<tr class="main_head">
		<td colspan="4">Wiser申请表</td>
	</tr>
</table>
<table class="form_in_table">
	<tr class="main_tr_header">
		<td colspan="13">
			Wiser 权限列表(支 持 中国移动及中国电信WLAN 网 络测试)*测试终端:Android2.2及以上系统(智能机）
		</td>
	</tr>
	<tr class="tr_count">
		<td colspan="4">常规功能</td>
		<td colspan="9">专业业务测试权限细分</td>
	</tr>
	<tr class="tr_oddTitle">
		<td>WLAN</td>
		<td style="width:12%">功能</td>
		<td>是</td>
		<td>否</td>
		<td style="width:12%">WLAN测试</td>
		<td>是</td>
		<td>否</td>
		<td style="width:12%">数据业务</td>
		<td>是</td>
		<td>否</td>
		<td style="width:12%">增值业务</td>
		<td>是</td>
		<td>否</td>
	</tr>
	<tr>
		<td></td>
		<td>AP扫描</td>
		<td onclick="dis('WISER01_AP-1')" id="WISER01_AP-1"></td>
		<td onclick="dis('WISER01_AP-0')" id="WISER01_AP-0"></td>
		<td>关联</td>
		<td onclick="dis('WISER01_GL-1')" id="WISER01_GL-1"></td>
		<td onclick="dis('WISER01_GL-0')" id="WISER01_GL-0"></td>
		<td>FTPUpload</td>
		<td onclick="dis('WISER01_FTPU-1')" id="WISER01_FTPU-1"></td>
		<td onclick="dis('WISER01_FTPU-0')" id="WISER01_FTPU-0"></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td></td>
		<td>动态获取IP</td>
		<td onclick="dis('WISER01_DTHQIP-1')" id="WISER01_DTHQIP-1"></td>
		<td onclick="dis('WISER01_DTHQIP-0')" id="WISER01_DTHQIP-0"></td>
		<td>信道参数</td>
		<td onclick="dis('WISER01_XDCS-1')" id="WISER01_XDCS-1"></td>
		<td onclick="dis('WISER01_XDCS-0')" id="WISER01_XDCS-0"></td>
		<td>FTPDownload</td>
		<td onclick="dis('WISER01_FTPD-1')" id="WISER01_FTPD-1"></td>
		<td onclick="dis('WISER01_FTPD-0')" id="WISER01_FTPD-0"></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td></td>
		<td>曲线</td>
		<td onclick="dis('WISER01_QX-1')" id="WISER01_QX-1"></td>
		<td onclick="dis('WISER01_QX-0')" id="WISER01_QX-0"></td>
		<td>Portal弹出时延</td>
		<td onclick="dis('WISER01_Portal-1')" id="WISER01_Portal-1"></td>
		<td onclick="dis('WISER01_Portal-0')" id="WISER01_Portal-0"></td>
		<td>Ping</td>
		<td onclick="dis('WISER01_Ping-1')" id="WISER01_Ping-1"></td>
		<td onclick="dis('WISER01_Ping-0')" id="WISER01_Ping-0"></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td></td>
		<td>AP定位</td>
		<td onclick="dis('WISER01_APDW-1')" id="WISER01_APDW-1"></td>
		<td onclick="dis('WISER01_APDW-0')" id="WISER01_APDW-0"></td>
		<td>Web认证</td>
		<td onclick="dis('WISER01_Web-1')" id="WISER01_Web-1"></td>
		<td onclick="dis('WISER01_Web-0')" id="WISER01_Web-0"></td>
		<td>HttpDownload</td>
		<td onclick="dis('WISER01_HttpD-1')" id="WISER01_HttpD-1"></td>
		<td onclick="dis('WISER01_HttpD-0')" id="WISER01_HttpD-0"></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td>Email</td>
		<td onclick="dis('WISER01_Email-1')" id="WISER01_Email-1"></td>
		<td onclick="dis('WISER01_Email-0')" id="WISER01_Email-0"></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td>Smtp</td>
		<td onclick="dis('WISER01_Smtp-1')" id="WISER01_Smtp-1"></td>
		<td onclick="dis('WISER01_Smtp-1')" id="WISER01_Smtp-1"></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
</table>
