<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en_US" xml:lang="en_US">
<head>
	<title>license配置对照表</title>
	<meta http-equiv="Content-Type" content="text/html;charset=gb2312"/>
	<link rel="stylesheet" type="text/css" href="css/yxstyle.css"/>

	<script type="text/javascript" src="js/jquery/jquery-1.4.2.js"></script>
	<script type="text/javascript" src="js/common/businesspage.js"></script>
	<script type="text/javascript" src="js/DatePicker/WdatePicker.js"></script>

    <script type="text/javascript" src="view/template/yxlicense/license/js/tempKey-comparetemplate.js"></script>
</head>
<body>
<div>
	左半部分为申请表格，右半部分为模板表格<br/>
</div>
<iframe id="frame1" src="?model=yxlicense_license_tempKey&action=toView&id={id}" width="49%"></iframe>
<iframe id="frame2" src="?model=yxlicense_license_template&action=toViewOnly&id={templateId}" width="49%"></iframe>
</body>
</html>