<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" " http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns=" http://www.w3.org/1999/xhtml">
<head>
	<title>编辑备货申请表</title>
   {#commonInclude#}
   <script type="text/javascript" src="js/jquery/combo/business/yxcombogrid-stockupProducts.js"></script>
   <script type="text/javascript" src="js/jquery/combo/business/yxcombogrid-chance.js"></script>
   <script type="text/javascript" src="{#jsPath#}/apply-edit.js" ></script>
   <script type="text/javascript" src="{#jsPath#}/apply-common.js" ></script>


</head>

<body>
   <form id="form1" method="post" action="?model=stockup_apply_apply&action=edit" >
   <input  type="hidden" id="id" name="apply[id]" value="{id}" />
   <input type="hidden" class="txt" id="appDeptId" name="apply[appDeptId]" value="{appDeptId}"/>
 <input type="hidden" class="txt" id="appDeptName" name="apply[appDeptName]" value="{appDeptName}"/>
 <input type="hidden" class="txt" id="appUserId" name="apply[appUserId]" value="{appUserId}"/>
 <input type="hidden" class="txt"  id="appUserName" name="apply[appUserName]" value="{appUserName}"/>
      <table class="form_main_table">
      	<tr>
      		<td colspan="4">
            <div class="main_head">
             <span class="main_head_title">
               	编辑备货申请表
             </span>
            </div>
            </td>
         </tr>
       <tr>
      		<td class="form_text_left"><span style="color:blue">项目名称</span></td>
      		<td class="form_text_right" >
      			 <input type="text" class="txt" id="projectName" name="apply[projectName]"value="{projectName}" />
      		</td>
            <td class="form_text_left">申请时间</td>
      		<td class="form_text_right" >
      			 <input type="text" class="readOnlyTxtNormal" id="appDate" name="apply[appDate]" readonly  value="{appDate}" />
      		</td>
       </tr>
		<tr >
			<td class="form_text_left">商机编号</td>
			<td class="form_text_right">
				<input type="text" class='txt' name="apply[chanceCode]" id="chanceCode" value="{chanceCode}" readonly/>
				<input type="hidden" name="apply[chanceId]" id="chanceId" value="{chanceId}" />
			</td>
			<td class="form_text_left">商机名称</td>
			<td class="form_text_right">
				<input type="text" class='readOnlyTxtNormal' name="apply[chanceName]" id="chanceName" value="{chanceName}" readonly/>
			</td>
		</tr>
       <!--
        <tr>
      		<td class="form_text_left"><span style="color:blue">申请人</span></td>
      		<td class="form_text_right"  colspan="3">
                 <input type="hidden" class="txt" id="appDeptId" name="apply[appDeptId]" value="{appDeptId}"/>
                 <input type="hidden" class="txt" id="appDeptName" name="apply[appDeptName]" value="{appDeptName}"/>
                 <input type="hidden" class="txt" id="appUserId" name="apply[appUserId]" value="{appUserId}"/>
      			 <input type="text" class="txt" readonly id="appUserName" name="apply[appUserName]" value="{appUserName}"/>
      		</td>
       </tr>
       -->
       <tr>
      		<td class="form_text_left"><span style="color:blue">申请说明</span></td>
      		<td class="form_text_right"  colspan="3">
            <textarea class="txt_txtarea_font" id="description" name="apply[description]">{description}</textarea>
      		</td>
       </tr>
        <tr id="rentList">
			<td colspan="6" >
				<fieldset style="width:200">
				  <legend class="legend" onclick="showAndHideDiv('rentImg','productListInfo')">备货申请清单
					<img src="images/icon/info_up.gif" id="rentImg" />
				  </legend>
				    <div id="productListInfo"></div>
				</fieldset>
			</td>
		</tr>
          <tr>
      		<td class="txt_btn" colspan="4">
          		<input  type="hidden" id="auditType" name="apply[auditType]" value="" />
      		   <input  type="submit" class="txt_btn_a" value=" 保  存 " onclick="setAudit('save');"/>
               <input  type="submit" class="txt_btn_a" value=" 提  交 " onclick="setAudit('audit');"/>
      		   <input  type="button" class="txt_btn_a" value=" 关  闭 " onclick="self.parent.tb_remove();"/>
      		</td>
       </tr>
      </table>
   </form>
</body>
</html>