<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" " http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns=" http://www.w3.org/1999/xhtml">
<head>
	<title>下达任务</title>
   {#commonInclude#}
  <script type="text/javascript" src="{#jsPath#}/producetask-issued.js" ></script>   
</head>
<body>
<form id="form1" method="post" action="?model=produce_task_producetask&action=add" onsubmit="return checkForm();">
<table class="form_main_table">
   <tr>
      <td colspan="4">
          <div class="main_head">
             <span class="main_head_title">
               	下达任务
             </span>
         </div>     
      </td>
   </tr>
    <tr>
      		<td class="form_text_left">申请单编号</td>
      		<td class="form_text_right" >
      			 <input type="text" class="readOnlyTxtNormal" readOnly id="docCode" name="producetask[docCode]" value="{docCode}" />
      			 <input type="hidden" id="docType" name="producetask[docType]" value="{docType}" />
      		</td>
       </tr>              
       <tr>
      		<td class="form_text_left">负责人名称</td>
      		<td class="form_text_right" >
      			 <input type="text" class="readOnlyTxtNormal" readOnly id="saleUserName" name="producetask[saleUserName]" value="{saleUserName}" />
      			 <input type="hidden" id="saleUserCode" name="producetask[saleUserCode]" value="{saleUserCode}" />
      		</td>
      		<td class="form_text_left">客户名称</td>
      		<td class="form_text_right" >
      			 <input type="text" class="readOnlyTxtNormal" readOnly id="customerName" name="producetask[customerName]" value="{customerName}" />
      			 <input type="hidden" id="customerId" name="producetask[customerId]" value="{customerId}" />
      		</td>
       </tr>        
       <tr>
            <td class="form_text_left">申请人名称</td>
      		<td class="form_text_right" > 
      			 <input type="text" class="readOnlyTxtNormal" readOnly id="applyUserName" name="producetask[applyUserName]" readOnly value="{applyUserName}"  />
      			  <input type="hidden" id="applyUserCode" name="producetask[applyUserCode]" value="{applyUserCode}" />
      		</td>
      		<td class="form_text_left">申请日期</td>
      		<td class="form_text_right" >
      			 <input type="text" class="readOnlyTxtNormal" readOnly id="applyDate"  readOnly  name="producetask[applyDate]" value="{applyDate}" />
      		</td>
       </tr> 
           <tr>
            <td class="form_text_left">责任人</td>
      		<td class="form_text_right" > 
      			  <input type="text" class="txt" readOnly id="chargeUserName" name="producetask[chargeUserName]" readOnly   />
      			  <input type="hidden" id="chargeUserCode" name="producetask[chargeUserCode]"  />
      			  <span class="red">[*]</span>
      		</td>
      		<td class="form_text_left">下达日期</td>
      		<td class="form_text_right" >
      			 <input type="text" class="readOnlyTxtNormal" readOnly id="docDate"  name="producetask[docDate]" value="{docDate}" />
      		</td>
       </tr>  
          <tr>
            <td class="form_text_left">计划开始时间</td>
      		<td class="form_text_right" > 
      			  <input type="text" class="txt" id="planStartDate"  onfocus="WdatePicker()" onblur="setStartDate()" readOnly />
      		</td>
      		<td class="form_text_left">计划结束时间</td>
      		<td class="form_text_right" >
      			 <input type="text" class="txt"  id="planEndDate" onfocus="WdatePicker()" onblur="setEndDate()"  readOnly />
      		</td>
       </tr>                    
      <tr>
      		<td class="form_text_left" >备注</td>
      		<td class="form_text_right" colspan="3">
                  <textarea class="txt_txtarea_font" id="remark"  style="width:700px;" name="producetask[remark]">{remark}</textarea>
      		</td>
      </tr> 
<tr>
		<td colspan="4">
		<div id="tableDiv"
			style="width: screen.availWidth;   overflow-y: auto; overflow-x: auto">

		<table class="main_table" id="itemtable">
			<thead>
				<tr>
					<td colspan="16" class="form_header">物料清单&nbsp;&nbsp; </td>
				</tr>
				<tr class="main_tr_header">
					<th>
					</th>
					<th>序号</th>
					<th>物料编码</th>
					<th>物料名称</th>
					<th>规格型号</th>
					<th>单位</th>
					<th>申请数量</th>
					<th>已下达数量</th>
					<th>下达数量</th>
					<th>期望交货时间</th>
					<th>计划开始时间</th>
					<th>计划结束时间</th>
					<th>计划工期(天)</th>
					<th>估计工作量(小时)</th>
					<th>备注</th>
				</tr>
			</thead>
			<tbody id="itembody">
				{itemsList}
			</tbody>
		</table>
		</div>
		</td>
	</tr>         
       <tr>
   		<td class="txt_btn" colspan="4">
   		   <input  type="submit" class="txt_btn_a" value=" 下达任务 "/>
   		   <input  type="button" class="txt_btn_a" value=" 关  闭 " onclick="closeFun();"/>
   		</td>
        </tr>
     </table>
  </form>
 </body>
</html>