<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=GBK" />
   <title>项目里程碑变更表列表</title>
     {#commonInclude#}
   <script type="text/javascript" src="view/template/engineering/changemilestone/js/changemilestone-grid.js"></script>
</head>
<body>
	<input type="hidden" id="changeId" value="{changeId}"/>
	<input type="hidden" id="projectId" value="{projectId}"/>
	<input type="hidden" id="versionNo" value="{versionNo}"/>
	<table id="changemilestoneGrid" style="display: none"></table>
</body>
</html>