
<html>
<head>
<title></title>
<LINK rel="stylesheet" href="js/jquery/tab/css/tabs.css" type="text/css">
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/jquery/tab/tabs.js"></script>
<script type="text/javascript" src="js/jquery/tab/toolbox.history.js"></script>
<script type="text/javascript">

$(function() {
        var id = $("#id").val();
        var tid = $("#trialprojectId").val();
        var skeyStr = "&skey={skey_}";
     	var tabArr = [
                  "?model=projectmanagent_trialproject_extension&action=init&perm=view&id="+id + skeyStr,
                  "?model=projectmanagent_trialproject_extension&action=extensionViewList&id=" + tid
    			];
    $("#tabs1").tabs(".panes > iframe",{ history: true,onClick:function(i,e) {
		var actTabId="#iframe" + (parseInt(e) + 1);
   	 if($(actTabId).attr("src") == ""){
   		$(actTabId).attr("src",tabArr[e]);
    	}
    }
    });
});

    </script>

</head>
<body>
<input type="hidden" value="{id}" id="id" />
<input type="hidden" value="{trialprojectId}" id="trialprojectId" />
<div><!-- the tabs -->
<ul class="tabs" id="tabs1">
	<li><a href="#tab1">基本信息</a></li>
	<li><a href="#tab2">延期申请</a></li>

</ul>

<!-- tab "panes" -->
<div class="panes">
<iframe class="pane" id="iframe1" src="" height="96%" frameborder="0">
</iframe>
<iframe class="pane" id="iframe2" src="" height="96%" frameborder="0">
</iframe>
</div>
</div>
</body>
</html>


