<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" " http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns=" http://www.w3.org/1999/xhtml">
	<head>
		<title>
			新增付款条件设置
		</title>
		{#commonInclude#}
		<script type="text/javascript" src="{#jsPath#}/payconfig-add.js"></script>
		<script type="text/javascript" src="{#jsPath#}/payconfig-common.js"></script>
	</head>
	<body>
		<form id="form1" method="post" action="?model=contract_config_payconfig&action=add">
			<table class="form_main_table">
				<tr>
					<td colspan="4">
						<div class="main_head2">
							<span class="main_head_title">
								新增付款条件设置
							</span>
						</div>
					</td>
				</tr>
				<tr>
					<td class="form_text_left">
						<span class="blue">付款名称</span>
					</td>
					<td class="form_text_right">
						<input type="text" class="txt" id="configName" name="payconfig[configName]"/>
					</td>
				</tr>
				<tr>
					<td class="form_text_left">
						<span class="blue">是否日期相关</span>
					</td>
					<td class="form_text_right">
						<input type="radio" id="isNeedDateY" name="payconfig[isNeedDate]" value="1" checked="checked" onclick="changeNeedDate(this.value);"/>是
						<input type="radio" id="isNeedDateN" name="payconfig[isNeedDate]" value="0" onclick="changeNeedDate(this.value);"/>否
					</td>
				</tr>
				<tr>
					<td class="form_text_left">
						<span class="blue" id="dateCodeShow">付款属性</span>
					</td>
					<td class="form_text_right">
						<select class="txt" id="dateCode" name="payconfig[dateCode]" onchange="changeDate();">
							<option value=""></option>
						</select>
						<input type="hidden" id="dateName" name="payconfig[dateName]"/>
					</td>
				</tr>
				<tr>
					<td class="form_text_left">
						<span class="blue" id="daysShow">截止天数</span>
					</td>
					<td class="form_text_right">
						<input type="text" class="txt" id="days" name="payconfig[days]" />
					</td>
				</tr>
				<tr id="schePctShowTr" style="display: none;">
					<td class="form_text_left">
						<span class="blue" id="schePctShow">是否可选进度百分比</span>
					</td>
					<td class="form_text_right">
						<input type="radio" id="schePctY" name="payconfig[schePct]" value="1"/>是
						<input type="radio" id="schePctN" name="payconfig[schePct]" value="0" checked="checked"/>否
					</td>
				</tr>
				<tr>
					<td class="form_text_left">
						说明
					</td>
					<td class="form_text_right">
			 			<textarea class="txt_txtarea_font" id="description" name="payconfig[description]"></textarea>
					</td>
				</tr>
				<tr>
					<td class="txt_btn" colspan="4">
						<input type="submit" class="txt_btn_a" value=" 保  存 " />
						<input type="button" class="txt_btn_a" value=" 关  闭 " onclick="self.parent.tb_remove();"/>
					</td>
				</tr>
			</table>
		</form>
	</body>
</html>