<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" " http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns=" http://www.w3.org/1999/xhtml">
<head>
	<title>新增工作量确认单明细</title>
   {#commonInclude#}
   <script type="text/javascript" src="{#jsPath#}/verifyDetail-add.js" ></script>   
</head>

<body>
   <form id="form1" method="post" action="?model=outsourcing_workverify_verifyDetail&action=add" >
      <table class="form_main_table">
      	<tr>
      		<td colspan="4">
            <div class="main_head">
             <span class="main_head_title">
               	新增工作量确认单明细
             </span>
            </div>
            </td>
         </tr>
       <tr>
      		<td class="form_text_left">确认单编号</td>
      		<td class="form_text_right" >
      			 <input type="text" class="txt" id="parentCode" name="verifyDetail[parentCode]" />
      		</td>
       </tr>        
       <tr>
      		<td class="form_text_left">确认单ID</td>
      		<td class="form_text_right" >
      			 <input type="text" class="txt" id="parentId" name="verifyDetail[parentId]" />
      		</td>
       </tr>        
       <tr>
      		<td class="form_text_left">区域ID</td>
      		<td class="form_text_right" >
      			 <input type="text" class="txt" id="officeId" name="verifyDetail[officeId]" />
      		</td>
       </tr>        
       <tr>
      		<td class="form_text_left">区域名称</td>
      		<td class="form_text_right" >
      			 <input type="text" class="txt" id="officeName" name="verifyDetail[officeName]" />
      		</td>
       </tr>        
       <tr>
      		<td class="form_text_left">项目所在国家</td>
      		<td class="form_text_right" >
      			 <input type="text" class="txt" id="country" name="verifyDetail[country]" />
      		</td>
       </tr>        
       <tr>
      		<td class="form_text_left">项目所在国家ID</td>
      		<td class="form_text_right" >
      			 <input type="text" class="txt" id="countryId" name="verifyDetail[countryId]" />
      		</td>
       </tr>        
       <tr>
      		<td class="form_text_left">项目所在省份</td>
      		<td class="form_text_right" >
      			 <input type="text" class="txt" id="province" name="verifyDetail[province]" />
      		</td>
       </tr>        
       <tr>
      		<td class="form_text_left">项目所在省份ID</td>
      		<td class="form_text_right" >
      			 <input type="text" class="txt" id="provinceId" name="verifyDetail[provinceId]" />
      		</td>
       </tr>        
       <tr>
      		<td class="form_text_left">项目所在城市</td>
      		<td class="form_text_right" >
      			 <input type="text" class="txt" id="city" name="verifyDetail[city]" />
      		</td>
       </tr>        
       <tr>
      		<td class="form_text_left">项目所在城市ID</td>
      		<td class="form_text_right" >
      			 <input type="text" class="txt" id="cityId" name="verifyDetail[cityId]" />
      		</td>
       </tr>        
       <tr>
      		<td class="form_text_left">项目地点</td>
      		<td class="form_text_right" >
      			 <input type="text" class="txt" id="place" name="verifyDetail[place]" />
      		</td>
       </tr>        
       <tr>
      		<td class="form_text_left">外包类型</td>
      		<td class="form_text_right" >
      			 <input type="text" class="txt" id="outsourcing" name="verifyDetail[outsourcing]" />
      		</td>
       </tr>        
       <tr>
      		<td class="form_text_left">外包类型名称</td>
      		<td class="form_text_right" >
      			 <input type="text" class="txt" id="outsourcingName" name="verifyDetail[outsourcingName]" />
      		</td>
       </tr>        
       <tr>
      		<td class="form_text_left">外包合同ID</td>
      		<td class="form_text_right" >
      			 <input type="text" class="txt" id="outsourceContractId" name="verifyDetail[outsourceContractId]" />
      		</td>
       </tr>        
       <tr>
      		<td class="form_text_left">外包合同编号</td>
      		<td class="form_text_right" >
      			 <input type="text" class="txt" id="outsourceContractCode" name="verifyDetail[outsourceContractCode]" />
      		</td>
       </tr>        
       <tr>
      		<td class="form_text_left">外包合同名称</td>
      		<td class="form_text_right" >
      			 <input type="text" class="txt" id="outsourceContract" name="verifyDetail[outsourceContract]" />
      		</td>
       </tr>        
       <tr>
      		<td class="form_text_left">外包公司ID</td>
      		<td class="form_text_right" >
      			 <input type="text" class="txt" id="outsourceSuppId" name="verifyDetail[outsourceSuppId]" />
      		</td>
       </tr>        
       <tr>
      		<td class="form_text_left">外包公司编号</td>
      		<td class="form_text_right" >
      			 <input type="text" class="txt" id="outsourceSuppCode" name="verifyDetail[outsourceSuppCode]" />
      		</td>
       </tr>        
       <tr>
      		<td class="form_text_left">外包公司</td>
      		<td class="form_text_right" >
      			 <input type="text" class="txt" id="outsourceSupp" name="verifyDetail[outsourceSupp]" />
      		</td>
       </tr>        
       <tr>
      		<td class="form_text_left">负责人ID</td>
      		<td class="form_text_right" >
      			 <input type="text" class="txt" id="principalId" name="verifyDetail[principalId]" />
      		</td>
       </tr>        
       <tr>
      		<td class="form_text_left">负责人</td>
      		<td class="form_text_right" >
      			 <input type="text" class="txt" id="principal" name="verifyDetail[principal]" />
      		</td>
       </tr>        
       <tr>
      		<td class="form_text_left">总进度</td>
      		<td class="form_text_right" >
      			 <input type="text" class="txt" id="scheduleTotal" name="verifyDetail[scheduleTotal]" />
      		</td>
       </tr>        
       <tr>
      		<td class="form_text_left">本期进度</td>
      		<td class="form_text_right" >
      			 <input type="text" class="txt" id="presentSchedule" name="verifyDetail[presentSchedule]" />
      		</td>
       </tr>        
       <tr>
      		<td class="form_text_left">租赁人员ID</td>
      		<td class="form_text_right" >
      			 <input type="text" class="txt" id="userId" name="verifyDetail[userId]" />
      		</td>
       </tr>        
       <tr>
      		<td class="form_text_left">租赁人员</td>
      		<td class="form_text_right" >
      			 <input type="text" class="txt" id="userName" name="verifyDetail[userName]" />
      		</td>
       </tr>        
       <tr>
      		<td class="form_text_left">周期开始日期</td>
      		<td class="form_text_right" >
      			 <input type="text" class="txt" id="beginDate" onfocus="WdatePicker()" readOnly  name="verifyDetail[beginDate]" />
      		</td>
       </tr>                        
       <tr>
      		<td class="form_text_left">周期结束日期</td>
      		<td class="form_text_right" >
      			 <input type="text" class="txt" id="endDate" onfocus="WdatePicker()" readOnly  name="verifyDetail[endDate]" />
      		</td>
       </tr>                        
       <tr>
      		<td class="form_text_left">计价天数</td>
      		<td class="form_text_right" >
      			 <input type="text" class="txt" id="feeDay" name="verifyDetail[feeDay]" />
      		</td>
       </tr>        
       <tr>
      		<td class="form_text_left">预计单天费用</td>
      		<td class="form_text_right" >
      			 <input type="text" class="txt" id="budgetFee" name="verifyDetail[budgetFee]" />
      		</td>
       </tr>        
       <tr>
      		<td class="form_text_left">单天费用</td>
      		<td class="form_text_right" >
      			 <input type="text" class="txt" id="confirmFee" name="verifyDetail[confirmFee]" />
      		</td>
       </tr>        
       <tr>
      		<td class="form_text_left">总费用</td>
      		<td class="form_text_right" >
      			 <input type="text" class="txt" id="feeTotal" name="verifyDetail[feeTotal]" />
      		</td>
       </tr>        
       <tr>
      		<td class="form_text_left">确认费用备注</td>
      		<td class="form_text_right" >
      			 <input type="text" class="txt" id="feeRemark" name="verifyDetail[feeRemark]" />
      		</td>
       </tr>        
       <tr>
      		<td class="form_text_left">项目id</td>
      		<td class="form_text_right" >
      			 <input type="text" class="txt" id="projectId" name="verifyDetail[projectId]" />
      		</td>
       </tr>        
       <tr>
      		<td class="form_text_left">项目编号</td>
      		<td class="form_text_right" >
      			 <input type="text" class="txt" id="projectCode" name="verifyDetail[projectCode]" />
      		</td>
       </tr>        
       <tr>
      		<td class="form_text_left">项目名称</td>
      		<td class="form_text_right" >
      			 <input type="text" class="txt" id="projecttName" name="verifyDetail[projecttName]" />
      		</td>
       </tr>        
      <tr>
      		<td class="form_text_left" >备注</td>
      		<td class="form_text_right" >
                  <textarea class="txt_txtarea_font" id="remark" name="verifyDetail[remark]"></textarea>
      		</td>
      </tr>  
                                    
       <tr>
      		<td class="form_text_left">状态</td>
      		<td class="form_text_right" >
      			 <input type="text" class="txt" id="status" name="verifyDetail[status]" />
      		</td>
       </tr>        
       <tr>
      		<td class="form_text_left">状态名称</td>
      		<td class="form_text_right" >
      			 <input type="text" class="txt" id="statusName" name="verifyDetail[statusName]" />
      		</td>
       </tr>        
       <tr>
      		<td class="form_text_left">关闭日期</td>
      		<td class="form_text_right" >
      			 <input type="text" class="txt" id="closeDate" onfocus="WdatePicker()" readOnly  name="verifyDetail[closeDate]" />
      		</td>
       </tr>                        
       <tr>
      		<td class="form_text_left">关闭说明</td>
      		<td class="form_text_right" >
      			 <input type="text" class="txt" id="closeDesc" name="verifyDetail[closeDesc]" />
      		</td>
       </tr>        
       <tr>
      		<td class="form_text_left">审批状态</td>
      		<td class="form_text_right" >
      			 <input type="text" class="txt" id="ExaStatus" name="verifyDetail[ExaStatus]" />
      		</td>
       </tr>        
       <tr>
      		<td class="form_text_left">审批日期</td>
      		<td class="form_text_right" >
      			 <input type="text" class="txt" id="ExaDT" onfocus="WdatePicker()" readOnly  name="verifyDetail[ExaDT]" />
      		</td>
       </tr>                        
       <tr>
      		<td class="form_text_left">审核人</td>
      		<td class="form_text_right" >
      			 <input type="text" class="txt" id="approveId" name="verifyDetail[approveId]" />
      		</td>
       </tr>        
       <tr>
      		<td class="form_text_left">审核人名称</td>
      		<td class="form_text_right" >
      			 <input type="text" class="txt" id="approveName" name="verifyDetail[approveName]" />
      		</td>
       </tr>        
       <tr>
      		<td class="form_text_left">审核时间</td>
      		<td class="form_text_right" >
      			 <input type="text" class="txt" id="approveTime" name="verifyDetail[approveTime]" />
      		</td>
       </tr>        
       <tr>
      		<td class="form_text_left">项目经理id</td>
      		<td class="form_text_right" >
      			 <input type="text" class="txt" id="managerId" name="verifyDetail[managerId]" />
      		</td>
       </tr>        
       <tr>
      		<td class="form_text_left">项目经理名称</td>
      		<td class="form_text_right" >
      			 <input type="text" class="txt" id="managerName" name="verifyDetail[managerName]" />
      		</td>
       </tr>        
       <tr>
      		<td class="form_text_left">项目经理审批状态</td>
      		<td class="form_text_right" >
      			 <input type="text" class="txt" id="managerAuditState" name="verifyDetail[managerAuditState]" />
      		</td>
       </tr>        
       <tr>
      		<td class="form_text_left">项目经理审批时间</td>
      		<td class="form_text_right" >
      			 <input type="text" class="txt" id="managerAuditDate" onfocus="WdatePicker()" readOnly  name="verifyDetail[managerAuditDate]" />
      		</td>
       </tr>                        
       <tr>
      		<td class="form_text_left">项目经理审批备注</td>
      		<td class="form_text_right" >
      			 <input type="text" class="txt" id="managerAuditRemark" name="verifyDetail[managerAuditRemark]" />
      		</td>
       </tr>        
       <tr>
      		<td class="form_text_left">服务经理id</td>
      		<td class="form_text_right" >
      			 <input type="text" class="txt" id="serverManagerId" name="verifyDetail[serverManagerId]" />
      		</td>
       </tr>        
       <tr>
      		<td class="form_text_left">服务经理名称</td>
      		<td class="form_text_right" >
      			 <input type="text" class="txt" id="serverManagerName" name="verifyDetail[serverManagerName]" />
      		</td>
       </tr>        
       <tr>
      		<td class="form_text_left">服务经理审批状态</td>
      		<td class="form_text_right" >
      			 <input type="text" class="txt" id="serverAuditState" name="verifyDetail[serverAuditState]" />
      		</td>
       </tr>        
       <tr>
      		<td class="form_text_left">服务经理审批时间</td>
      		<td class="form_text_right" >
      			 <input type="text" class="txt" id="serverAuditDate" onfocus="WdatePicker()" readOnly  name="verifyDetail[serverAuditDate]" />
      		</td>
       </tr>                        
       <tr>
      		<td class="form_text_left">服务经理审批备注</td>
      		<td class="form_text_right" >
      			 <input type="text" class="txt" id="serverAuditRemark" name="verifyDetail[serverAuditRemark]" />
      		</td>
       </tr>        
       <tr>
      		<td class="form_text_left">服务总监名称</td>
      		<td class="form_text_right" >
      			 <input type="text" class="txt" id="areaManager" name="verifyDetail[areaManager]" />
      		</td>
       </tr>        
       <tr>
      		<td class="form_text_left">服务总监</td>
      		<td class="form_text_right" >
      			 <input type="text" class="txt" id="areaManagerId" name="verifyDetail[areaManagerId]" />
      		</td>
       </tr>        
       <tr>
      		<td class="form_text_left">服务总监审批状态</td>
      		<td class="form_text_right" >
      			 <input type="text" class="txt" id="areaAuditState" name="verifyDetail[areaAuditState]" />
      		</td>
       </tr>        
       <tr>
      		<td class="form_text_left">服务总监审批时间</td>
      		<td class="form_text_right" >
      			 <input type="text" class="txt" id="areaAuditDate" onfocus="WdatePicker()" readOnly  name="verifyDetail[areaAuditDate]" />
      		</td>
       </tr>                        
       <tr>
      		<td class="form_text_left">服务总监审批备注</td>
      		<td class="form_text_right" >
      			 <input type="text" class="txt" id="areaAuditRemark" name="verifyDetail[areaAuditRemark]" />
      		</td>
       </tr>        
          <tr>
      		<td class="txt_btn" colspan="4">
      		   <input  type="submit" class="txt_btn_a" value=" 保  存 "/>
      		   <input  type="button" class="txt_btn_a" value=" 关  闭 " onclick="self.parent.tb_remove();"/>
      		</td>
       </tr>
      </table>
   </form>
</body>
</html>