<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" " http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns=" http://www.w3.org/1999/xhtml">
<head>
	<title>编辑工作量确认单明细</title>
   {#commonInclude#}
   <script type="text/javascript" src="{#jsPath#}/verifyDetail-edit.js" ></script>   
</head>
<body>
<form id="form1" method="post" action="?model=outsourcing_workverify_verifyDetail&action=edit" >
<table class="form_main_table">
   <tr>
      <td colspan="4">
          <div class="main_head">
             <span class="main_head_title">
               	编辑工作量确认单明细信息
             </span>
         </div>     
      </td>
   </tr>
<tr>
		<td class="form_text_left">确认单编号</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" id="parentCode"  name="verifyDetail[parentCode]"  value="{parentCode}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">确认单ID</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" id="parentId"  name="verifyDetail[parentId]"  value="{parentId}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">区域ID</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" id="officeId"  name="verifyDetail[officeId]"  value="{officeId}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">区域名称</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" id="officeName"  name="verifyDetail[officeName]"  value="{officeName}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">项目所在国家</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" id="country"  name="verifyDetail[country]"  value="{country}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">项目所在国家ID</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" id="countryId"  name="verifyDetail[countryId]"  value="{countryId}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">项目所在省份</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" id="province"  name="verifyDetail[province]"  value="{province}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">项目所在省份ID</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" id="provinceId"  name="verifyDetail[provinceId]"  value="{provinceId}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">项目所在城市</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" id="city"  name="verifyDetail[city]"  value="{city}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">项目所在城市ID</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" id="cityId"  name="verifyDetail[cityId]"  value="{cityId}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">项目地点</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" id="place"  name="verifyDetail[place]"  value="{place}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">外包类型</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" id="outsourcing"  name="verifyDetail[outsourcing]"  value="{outsourcing}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">外包类型名称</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" id="outsourcingName"  name="verifyDetail[outsourcingName]"  value="{outsourcingName}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">外包合同ID</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" id="outsourceContractId"  name="verifyDetail[outsourceContractId]"  value="{outsourceContractId}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">外包合同编号</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" id="outsourceContractCode"  name="verifyDetail[outsourceContractCode]"  value="{outsourceContractCode}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">外包合同名称</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" id="outsourceContract"  name="verifyDetail[outsourceContract]"  value="{outsourceContract}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">外包公司ID</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" id="outsourceSuppId"  name="verifyDetail[outsourceSuppId]"  value="{outsourceSuppId}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">外包公司编号</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" id="outsourceSuppCode"  name="verifyDetail[outsourceSuppCode]"  value="{outsourceSuppCode}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">外包公司</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" id="outsourceSupp"  name="verifyDetail[outsourceSupp]"  value="{outsourceSupp}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">负责人ID</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" id="principalId"  name="verifyDetail[principalId]"  value="{principalId}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">负责人</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" id="principal"  name="verifyDetail[principal]"  value="{principal}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">总进度</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" id="scheduleTotal"  name="verifyDetail[scheduleTotal]"  value="{scheduleTotal}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">本期进度</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" id="presentSchedule"  name="verifyDetail[presentSchedule]"  value="{presentSchedule}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">租赁人员ID</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" id="userId"  name="verifyDetail[userId]"  value="{userId}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">租赁人员</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" id="userName"  name="verifyDetail[userName]"  value="{userName}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">周期开始日期</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" id="beginDate" onfocus="WdatePicker()" readOnly  name="verifyDetail[beginDate]" value="{beginDate}"  />
		</td>
</tr>                        
<tr>
		<td class="form_text_left">周期结束日期</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" id="endDate" onfocus="WdatePicker()" readOnly  name="verifyDetail[endDate]" value="{endDate}"  />
		</td>
</tr>                        
<tr>
		<td class="form_text_left">计价天数</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" id="feeDay"  name="verifyDetail[feeDay]"  value="{feeDay}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">预计单天费用</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" id="budgetFee"  name="verifyDetail[budgetFee]"  value="{budgetFee}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">单天费用</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" id="confirmFee"  name="verifyDetail[confirmFee]"  value="{confirmFee}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">总费用</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" id="feeTotal"  name="verifyDetail[feeTotal]"  value="{feeTotal}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">确认费用备注</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" id="feeRemark"  name="verifyDetail[feeRemark]"  value="{feeRemark}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">项目id</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" id="projectId"  name="verifyDetail[projectId]"  value="{projectId}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">项目编号</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" id="projectCode"  name="verifyDetail[projectCode]"  value="{projectCode}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">项目名称</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" id="projecttName"  name="verifyDetail[projecttName]"  value="{projecttName}" />
		</td>
</tr>         
<tr>
		<td class="form_text_left" >备注</td>
		<td class="form_text_right" >
            <textarea class="txt_txtarea_font" id="remark"  name="verifyDetail[remark]">{remark}</textarea>
		</td>
</tr>  
                                    
<tr>
		<td class="form_text_left">状态</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" id="status"  name="verifyDetail[status]"  value="{status}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">状态名称</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" id="statusName"  name="verifyDetail[statusName]"  value="{statusName}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">关闭日期</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" id="closeDate" onfocus="WdatePicker()" readOnly  name="verifyDetail[closeDate]" value="{closeDate}"  />
		</td>
</tr>                        
<tr>
		<td class="form_text_left">关闭说明</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" id="closeDesc"  name="verifyDetail[closeDesc]"  value="{closeDesc}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">审批状态</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" id="ExaStatus"  name="verifyDetail[ExaStatus]"  value="{ExaStatus}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">审批日期</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" id="ExaDT" onfocus="WdatePicker()" readOnly  name="verifyDetail[ExaDT]" value="{ExaDT}"  />
		</td>
</tr>                        
<tr>
		<td class="form_text_left">审核人</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" id="approveId"  name="verifyDetail[approveId]"  value="{approveId}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">审核人名称</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" id="approveName"  name="verifyDetail[approveName]"  value="{approveName}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">审核时间</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" id="approveTime"  name="verifyDetail[approveTime]"  value="{approveTime}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">项目经理id</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" id="managerId"  name="verifyDetail[managerId]"  value="{managerId}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">项目经理名称</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" id="managerName"  name="verifyDetail[managerName]"  value="{managerName}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">项目经理审批状态</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" id="managerAuditState"  name="verifyDetail[managerAuditState]"  value="{managerAuditState}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">项目经理审批时间</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" id="managerAuditDate" onfocus="WdatePicker()" readOnly  name="verifyDetail[managerAuditDate]" value="{managerAuditDate}"  />
		</td>
</tr>                        
<tr>
		<td class="form_text_left">项目经理审批备注</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" id="managerAuditRemark"  name="verifyDetail[managerAuditRemark]"  value="{managerAuditRemark}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">服务经理id</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" id="serverManagerId"  name="verifyDetail[serverManagerId]"  value="{serverManagerId}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">服务经理名称</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" id="serverManagerName"  name="verifyDetail[serverManagerName]"  value="{serverManagerName}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">服务经理审批状态</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" id="serverAuditState"  name="verifyDetail[serverAuditState]"  value="{serverAuditState}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">服务经理审批时间</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" id="serverAuditDate" onfocus="WdatePicker()" readOnly  name="verifyDetail[serverAuditDate]" value="{serverAuditDate}"  />
		</td>
</tr>                        
<tr>
		<td class="form_text_left">服务经理审批备注</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" id="serverAuditRemark"  name="verifyDetail[serverAuditRemark]"  value="{serverAuditRemark}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">服务总监名称</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" id="areaManager"  name="verifyDetail[areaManager]"  value="{areaManager}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">服务总监</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" id="areaManagerId"  name="verifyDetail[areaManagerId]"  value="{areaManagerId}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">服务总监审批状态</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" id="areaAuditState"  name="verifyDetail[areaAuditState]"  value="{areaAuditState}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">服务总监审批时间</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" id="areaAuditDate" onfocus="WdatePicker()" readOnly  name="verifyDetail[areaAuditDate]" value="{areaAuditDate}"  />
		</td>
</tr>                        
<tr>
		<td class="form_text_left">服务总监审批备注</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" id="areaAuditRemark"  name="verifyDetail[areaAuditRemark]"  value="{areaAuditRemark}" />
		</td>
</tr>        
           <tr>
   		<td class="txt_btn" colspan="4">
            <input  type="hidden" id="id" name="verifyDetail[id]" value="{id}" />
   		   <input  type="submit" class="txt_btn_a" value=" 保  存 "/>
   		   <input  type="button" class="txt_btn_a" value=" 关  闭 " onclick="self.parent.tb_remove();"/>
   		</td>
        </tr>
     </table>
  </form>
 </body>
</html>