<!DOCTYPE html>
<html>
<head>
    <title>部门设备折旧</title>
    {#commonInclude#}
    <script type="text/javascript" src="js/jquery/combo/business/yxcombogrid-office.js"></script>
    <script type="text/javascript" src="{#jsPath#}/assetDepr-edit.js"></script>
    <script type="text/javascript" src="{#jsPath#}/assetDepr-common.js"></script>
</head>

<body>
<form id="form1" method="post" action="?model=bi_deptFee_assetDepr&action=edit" onsubmit="return checkSubmit();">
    <table class="form_main_table">
        <tr>
            <td colspan="4">
                <div class="main_head">
					<span class="main_head_title">
						编辑部门设备折旧
					</span>
                </div>
            </td>
        </tr>
        <tr>
            <td class="form_text_left"><span class="blue">事业部</span></td>
            <td class="form_text_right">
                <input type="text" class="txt" id="business" name="assetDepr[business]" value="{business}"/>
            </td>
        </tr>
        <tr>
            <td class="form_text_left">年月</td>
            <td class="form_text_right">
                <select class="txt" name="assetDepr[thisYear]" id="thisYear" style="width: 85px;">
                    {yearStr}
                </select> 年
                <select class="txt" name="assetDepr[thisMonth]" id="thisMonth" style="width: 85px;">
                    {monthStr}
                </select> 月
            </td>
        </tr>
        <tr>
            <td class="form_text_left"><span class="blue">财务折旧金额</span></td>
            <td class="form_text_right">
                <input type="text" class="txt formatMoney" name="assetDepr[deprMoney]" id="deprMoney"
                       value="{deprMoney}"/>
            </td>
        </tr>
        <tr>
            <td class="form_text_left"><span class="blue">分摊区域</span></td>
            <td class="form_text_right">
                <input type="text" class="txtlong" name="assetDepr[officeNames]" id="officeNames" value="{officeNames}"/>
                <input type="hidden" name="assetDepr[officeIds]" id="officeIds" value="{officeIds}"/>
                <input type="button" class="txt_btn_a" id="loadBtn" value="加载工程折旧"/>
            </td>
        </tr>
        <tr>
            <td colspan="4">
                <div id="grid"></div>
            </td>
        </tr>
        <tr>
            <td class="txt_btn" colspan="2">
                <input type="hidden" id="id" name="assetDepr[id]" value="{id}"/>
                <input type="submit" class="txt_btn_a" value=" 保  存 "/>
                <input type="button" class="txt_btn_a" value=" 关  闭 " onclick="self.parent.tb_remove();"/>
            </td>
        </tr>
    </table>
</form>
</body>
</html>