<!DOCTYPE html>
<html>
<head>
    <title>部门映射配置</title>
    {#commonInclude#}
</head>

<body>
    <table class="form_main_table">
        <tr>
            <td colspan="4">
                <div class="main_head">
					<span class="main_head_title">
						查看部门映射配置
					</span>
                </div>
            </td>
        </tr>
        <tr>
            <td class="form_text_left">事业部</td>
            <td class="form_text_right" width="30%">
                {business}
            </td>
            <td class="form_text_left">二级部门</td>
            <td class="form_text_right">
                {secondDept}
            </td>
        </tr>
        <tr>
            <td class="form_text_left">三级部门</td>
            <td class="form_text_right">
                {thirdDept}
            </td>
            <td class="form_text_left">四级部门</td>
            <td class="form_text_right">
                {fourthDept}
            </td>
        </tr>
        <tr>
            <td class="form_text_left">包含部门</td>
            <td class="form_text_right" colspan="3">
                {mappingDept}
            </td>
        </tr>
        <tr>
            <td class="form_text_left">对应板块</td>
            <td class="form_text_right">
                {module}
            </td>
            <td class="form_text_left">产品线</td>
            <td class="form_text_right">
                {productLine}
            </td>
        </tr>
        <tr>
            <td class="form_text_left">费用类别</td>
            <td class="form_text_right">
                {costCategory}
            </td>
            <td class="form_text_left">不统计项</td>
            <td class="form_text_right">
                {forbidFeeType}
            </td>
        </tr>
        <tr>
            <td class="form_text_left">统计开始日期</td>
            <td class="form_text_right">
                {filterStartDateStr}
            </td>
            <td class="form_text_left">统计截止日期</td>
            <td class="form_text_right">
                {filterEndDateStr}
            </td>
        </tr>
        <tr>
            <td class="form_text_left">序号</td>
            <td class="form_text_right" colspan="3">
                {sortOrder}
            </td>
        </tr>
        <tr>
            <td class="form_text_left">备注说明</td>
            <td class="form_text_right" colspan="3">
                <pre>{remark}</pre>
            </td>
        </tr>
        <tr>
            <td class="txt_btn" colspan="4">
                <input type="button" class="txt_btn_a" value=" 关  闭 " onclick="self.parent.tb_remove();"/>
            </td>
        </tr>
    </table>
</body>
</html>