<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en_US" xml:lang="en_US">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>配置项目中心查看权限</title>
		<link rel="stylesheet" type="text/css" href="css/yxstyle.css" />
        <link rel="stylesheet" type="text/css" href="js/thickbox.css" />
        <link rel="stylesheet" type="text/css" href="js/jquery/style/Validator.css"/>

        <script type="text/javascript" src="js/jquery/jquery-1.4.2.js"></script>
        <script type="text/javascript" src="js/thickbox.js"></script>
        <script type="text/javascript" src="js/jquery/formValidator.js" charset="UTF-8"></script>
		<script type="text/javascript" src="js/jquery/formValidatorRegex.js" charset="UTF-8"></script>
		<script type="text/javascript" src="js/common/businesspage.js"></script>

</head>
<body>
<form id="form1" method="post" action="?model=rdproject_role_rdpermission&action=add">
<table class="form_main_table" id="mytable">
		<tr>
			<td colspan="4">
				<div class="main_head">
				    <span class="main_head_title">
				        配置项目中心查看权限
				    </span>
				</div>
			</td>
		</tr>
		<tr>
			<td  class="form_text_left">可见部门</td>
			<td class="form_text_right">
	            <input type="hidden" id="deptId" name="rdpermission[deptId]" value="{deptId}"/>
	            <input type="text" class="txtlong readonlyCmp" id="deptName" name="rdpermission[deptName]" value="{deptName}" readonly/>
	            <input type="button" value="选 择" class="txt_btn_a" onclick="loadOrgWindowDept('deptId','deptName')"/>
	            <input type="button" value="清 空" class="txt_btn_a" onclick="clearOrgInfo('deptId','deptName')"/>
			</td>
		</tr>
		<tr>
			<td class="txt_btn" colspan="4">
				<input type="hidden" id="userId" value="{userId}" name="rdpermission[userId]"/>
				<input type="hidden" id="userName" value="{userName}" name="rdpermission[userName]"/>
				<input type="hidden" id="{id}" name="rdpermission[id]" value="{id}"/>
				<input name="save" type="submit" class="txt_btn_a" value=" 保存 " />
				<input type="button" class="txt_btn_a" value=" 关闭 " onclick="closeFun();" />

			</td>
		</tr>
</table>
</form>
</body>
</html>