<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=gbk" />
        <link rel="stylesheet" type="text/css" href="css/yxstyle.css" />
        <link rel="stylesheet" type="text/css" href="js/ext/resources/css/ext-all.css"/>
        <link rel="stylesheet" type="text/css" href="js/ext/css/styles.css"/>
        <link rel="stylesheet" type="text/css" href="js/thickbox.css" />
        <link rel="stylesheet" type="text/css" href="js/jquery/style/Validator.css"/>

        <script type="text/javascript" src="js/ext/ext-base.js"></script>
		<script type="text/javascript" src="js/ext/ext-all.js"></script>

		<script type="text/javascript" src="js/ext/ux/tree/MyTree.class.js"></script>
		<script type="text/javascript" src="js/ext/ux/combox/ComboBoxTree.class.js"></script>

        <script type="text/javascript" src="js/jquery.js"></script>
        <script type="text/javascript" src="js/thickbox.js"></script>
        <script type="text/javascript" src="js/jquery/formValidator.js" charset="UTF-8"></script>
		<script type="text/javascript" src="js/jquery/formValidatorRegex.js" charset="UTF-8"></script>

        <script type="text/javascript" src="js/common/businesspage.js"></script>
        <script type="text/javascript" src="view/template/rdproject/role/js/rdrole-edit.js"></script>
        <title>
            编辑角色
        </title>
		<style type="text/css">
		</style>

        <script type="text/javascript">
		<!--

		//-->
        </script>
    </head>

    <body>
        <div class="form_main">
            <form method="POST" id="form1" action="?model=rdproject_role_rdrole&action=edit">
            <input type="hidden"  name="rdrole[id]" value="{id}" />
            <input type="hidden" name="rdrole[projectType]" id="projectType"  value="{projectType}" />
            	<input type="hidden" id="projectId"  value="{projectId}" />
                <table class="form_main_table">
                    <tr class="form_header">
                        <td colspan="2">
                            基本信息
                        </td>
                    </tr>
                    <tr>
                        <td class="form_text_left">
                            上级角色
                        </td>
                        <td class="form_view_right">
                            <input type="text" class="txt" id="parentName" name="rdrole[parentName]" value="{parentName}" />
							<input type="hidden" id="parentId" name="rdrole[parentId]" value="{parentId}" />

                        </td>
                    </tr>

                    <tr>
                        <td class="form_text_left">
                            角色名称
                        </td>
                        <td class="form_view_right">
                            <input type="hidden" id="projectId">
                            <input type="text" class="txt" id="roleName" name="rdrole[roleName]" value="{roleName}">
                            <span class='red'>[*]</span>
                            <div id="roleNameTip" class="tipShortTxt"></div>
                        </td>
                    </tr>

                    <tr>
                        <td class="form_text_left">
                            备注
                        </td>
                        <td class="form_view_right">
                            <textarea class="txt_txtarea_font" id="notes" name="rdrole[notes]">{notes}</textarea>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <input type="submit" class="txt_btn_a" value="保存" id="submitSave">
                            <input type="button" class="txt_btn_a" value="取消" onclick="self.parent.tb_remove();">
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </body>

</html>