<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=gbk" />
<link rel="stylesheet" type="text/css" href="css/yxstyle.css" />

<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/common/businesspage.js"></script>
<script type="text/javascript"
	src="view/template/rdproject/role/js/authorize.js"></script>
</head>
<body>
<div class="main_wraper"><input type="hidden" id="roleId"
	value="{roleId}"> <input type="hidden" id="permstr"
	value="{permstr}">
<table class="main_table">
	<tr class="main_tr_header">
		<th>模块</th>
		<th>功能类型</th>
	</tr>
	<tr>
	    <td class="form_text_left">
	        项目管理
	    </td>
	    <td class="form_text_right">
<!--         <input id="project_dashboard" type="checkbox">
	        项目仪表盘
	        <br>
	        &nbsp;&nbsp;&nbsp;&nbsp;
	        <input id="project_dashboard_report" type="checkbox">
	        项目报告生成
	        <br>
	        <input id="project_office" type="checkbox">
	        虚拟办公室
	        <br> -->
	        <input id="project_teamMember" type="checkbox">
	        项目组成员
	        <br>
	        &nbsp;&nbsp;&nbsp;&nbsp;
	        <input id="project_teamMember_admin" type="checkbox">
	        新建角色/新建成员/设置权限
	        <br>
	        <input id="project_task" type="checkbox">
	        项目任务
	        <br>
	        <!--
	        <input id="project_baseInfo" type="checkbox">
	        基本信息
	        <br>
	        &nbsp;&nbsp;&nbsp;&nbsp;
	        <input id="project_baseInfo_update" type="checkbox">
	        修改项目属性
	        <br> -->
	        <input id="project_advInfo" type="checkbox">
	        项目关闭
	        <br>
<!-- 	        <input id="project_del" type="checkbox">
	        项目删除
	        <br>
	        <input id="project_group" type="checkbox">
	        组合
	        <br>
	        &nbsp;&nbsp;&nbsp;&nbsp;
	        <input id="project_group_update" type="checkbox">
	        组合修改
	        <br>
	        &nbsp;&nbsp;&nbsp;&nbsp;
	        <input id="project_group_del" type="checkbox">
	        组合删除
	        <br> -->
	        <input id="project_import_task" type="checkbox">
	        项目任务导入
	        <br>
	        <input id="project_level_modify" type="checkbox">
	        修改项目优先级
	        <br>
	    </td>
	    <td>
	        &nbsp;
	    </td>
	</tr>
	<tr>
		<td colspan="2"><input type="button" class="txt_btn_a" value="保存"
			onclick="saveAuthorize();"> <input type="button"
			class="txt_btn_a" value="关闭" onclick="self.parent.tb_remove();"></td>
	</tr>
	<!--
				<tr>
					<td class="form_text_left">问题管理</td>
					<td class="form_text_right">本项目的所有问题</td>
					<td>
						<input type="checkbox">查看&nbsp;
						<input type="checkbox">管理
					</td>
				</tr>
				<tr>
					<td class="form_text_left">风险管理</td>
					<td class="form_text_right">本项目的所有风险</td>
					<td>
						<input type="checkbox">查看&nbsp;
						<input type="checkbox">管理
					</td>
				</tr>
				<tr>
					<td class="form_text_left">缺陷管理</td>
					<td class="form_text_right">本项目的所有缺陷</td>
					<td>
						<input type="checkbox">查看&nbsp;
						<input type="checkbox">管理
					</td>
				</tr>
				<tr>
					<td class="form_text_left">评审管理</td>
					<td class="form_text_right">本项目的所有评审</td>
					<td>
						<input type="checkbox">查看&nbsp;
						<input type="checkbox">管理
					</td>
				</tr>
				<tr>
					<td class="form_text_left"></td>
					<td class="form_text_right"></td>
					<td></td>
				</tr> -->
</table>
</div>
</body>
</html>