<html>
<head>
	<title>查看发表勾稽记录表</title>
	<meta http-equiv="Content-Type" content="text/html;charset=gb2312"/>
	<link rel="stylesheet" type="text/css" href="css/yxstyle.css"/>
	<link rel="stylesheet" type="text/css" href="js/thickbox.css"/>
	<link rel="stylesheet" type="text/css" href="js/jquery/style/Validator.css"/>

	<script type="text/javascript" src="js/jquery.js"></script>
	<script type="text/javascript" src="js/thickbox.js"></script>

	<script type="text/javascript" src="js/common/businesspage.js"></script>

</head>
<body>
<div class="main_head">
    <span class="main_head_title">
      	查看发表勾稽记录表信息
    </span>
</div>
<table class="form_main_table">
<tr>
		<td class="form_text_left">钩稽主表id(勾稽序号)</td>
		<td class="form_text_right">
			{relatedId}
		</td>
</tr>     
<tr>
		<td class="form_text_left">产品id</td>
		<td class="form_text_right">
			{productId}
		</td>
</tr>     
<tr>
		<td class="form_text_left">产品编码</td>
		<td class="form_text_right">
			{productCode}
		</td>
</tr>     
<tr>
		<td class="form_text_left">规格型号</td>
		<td class="form_text_right">
			{productModel}
		</td>
</tr>     
<tr>
		<td class="form_text_left">本次勾稽数量</td>
		<td class="form_text_right">
			{number}
		</td>
</tr>     
<tr>
		<td class="form_text_left">本次勾稽金额</td>
		<td class="form_text_right">
			{amount}
		</td>
</tr>     
<tr>
		<td class="form_text_left">已钩稽数量</td>
		<td class="form_text_right">
			{hookNumber}
		</td>
</tr>     
<tr>
		<td class="form_text_left">已钩稽金额</td>
		<td class="form_text_right">
			{hookAmount}
		</td>
</tr>     
<tr>
		<td class="form_text_left">未钩稽数量</td>
		<td class="form_text_right">
			{unHookNumber}
		</td>
</tr>     
<tr>
		<td class="form_text_left">未钩稽金额</td>
		<td class="form_text_right">
			{unHookAmount}
		</td>
</tr>     
<tr>
		<td class="form_text_left">单据日期</td>
		<td class="form_text_right">
			{formDate}
		</td>
</tr>     
<tr>
		<td class="form_text_left">供应商Id</td>
		<td class="form_text_right">
			{supplierId}
		</td>
</tr>     
<tr>
		<td class="form_text_left">供应商名称</td>
		<td class="form_text_right">
			{supplierName}
		</td>
</tr>     
<tr>
		<td class="form_text_left">采购方式</td>
		<td class="form_text_right">
			{purType}
		</td>
</tr>     
<tr>
		<td class="form_text_left">辅助属性</td>
		<td class="form_text_right">
			{property}
		</td>
</tr>     
<tr>
		<td class="form_text_left">计量单位</td>
		<td class="form_text_right">
			{unit}
		</td>
</tr>     
<tr>
		<td class="form_text_left">是否已核算</td>
		<td class="form_text_right">
			{isAcount}
		</td>
</tr>     
<tr>
		<td class="form_text_left">钩稽对象编号</td>
		<td class="form_text_right">
			{hookObjCode}
		</td>
</tr>     
<tr>
		<td class="form_text_left">钩稽对象</td>
		<td class="form_text_right">
			{hookObj}
		</td>
</tr>     
<tr>
		<td class="form_text_left">钩稽条目id</td>
		<td class="form_text_right">
			{hookId}
		</td>
</tr>     
<tr>
		<td class="form_text_left">日期</td>
		<td class="form_text_right">
			{hookDate}
		</td>
</tr>     
<tr>
		<td class="txt_btn" colspan="4">
	      <input  type="button" class="txt_btn_a" value="关  闭" onclick="self.parent.tb_remove();"/>
		</td>
</tr>
</table>
</body>
</html>