<html>
<head>
	<title>新增发表勾稽记录表</title>
	<meta http-equiv="Content-Type" content="text/html;charset=gb2312"/>
	<link rel="stylesheet" type="text/css" href="css/yxstyle.css"/>
	<link rel="stylesheet" type="text/css" href="js/thickbox.css"/>
	<link rel="stylesheet" type="text/css" href="js/jquery/style/Validator.css"/>

	<script type="text/javascript" src="js/jquery.js"></script>
	<script type="text/javascript" src="js/thickbox.js"></script>
	<script type="text/javascript" src="js/common/businesspage.js"></script>
    <script type="text/javascript" src="js/jquery/formValidator.js" charset="UTF-8"></script>
	<script type="text/javascript" src="js/jquery/formValidatorRegex.js" charset="UTF-8"></script>
	<script type="text/javascript" src="js/DatePicker/WdatePicker.js"></script>
   
</head>
<body>
<div class="main_head">
    <span class="main_head_title">
      	添加发表勾稽记录表
    </span>
</div>
<form id="form1" method="post" action="?model=finance_related_detail&action=add" name="form1">
<table class="form_main_table">
<tr>
		<td class="form_text_left">钩稽主表id(勾稽序号)</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" name="detail[relatedId]" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">产品id</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" name="detail[productId]" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">产品编码</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" name="detail[productCode]" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">规格型号</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" name="detail[productModel]" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">本次勾稽数量</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" name="detail[number]" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">本次勾稽金额</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" name="detail[amount]" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">已钩稽数量</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" name="detail[hookNumber]" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">已钩稽金额</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" name="detail[hookAmount]" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">未钩稽数量</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" name="detail[unHookNumber]" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">未钩稽金额</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" name="detail[unHookAmount]" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">单据日期</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" onfocus="WdatePicker()" readOnly  name="detail[formDate]" />
		</td>
</tr>                        
<tr>
		<td class="form_text_left">供应商Id</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" name="detail[supplierId]" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">供应商名称</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" name="detail[supplierName]" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">采购方式</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" name="detail[purType]" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">辅助属性</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" name="detail[property]" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">计量单位</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" name="detail[unit]" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">是否已核算</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" name="detail[isAcount]" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">钩稽对象编号</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" name="detail[hookObjCode]" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">钩稽对象</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" name="detail[hookObj]" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">钩稽条目id</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" name="detail[hookId]" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">日期</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" onfocus="WdatePicker()" readOnly  name="detail[hookDate]" />
		</td>
</tr>                        
<tr>
		<td class="txt_btn" colspan="4">
		   <input  type="submit" class="txt_btn_a" value="保  存"/>
		   <input  type="button" class="txt_btn_a" value="关  闭" onclick="self.parent.tb_remove();"/>
		</td>
</tr>
</table>
</form>
</body>
</html>