<html>
<head>
	<title>修改发表勾稽记录表</title>
	<meta http-equiv="Content-Type" content="text/html;charset=gb2312"/>
	<link rel="stylesheet" type="text/css" href="css/yxstyle.css"/>
	<link rel="stylesheet" type="text/css" href="js/thickbox.css"/>
	<link rel="stylesheet" type="text/css" href="js/jquery/style/Validator.css"/>

	<script type="text/javascript" src="js/jquery.js"></script>
	<script type="text/javascript" src="js/thickbox.js"></script>
	<script type="text/javascript" src="js/common/businesspage.js"></script>
    <script type="text/javascript" src="js/jquery/formValidator.js" charset="UTF-8"></script>
	<script type="text/javascript" src="js/jquery/formValidatorRegex.js" charset="UTF-8"></script>
	<script type="text/javascript" src="js/DatePicker/WdatePicker.js"></script>
</head>
<body>
<div class="main_head">
    <span class="main_head_title">
      	修改发表勾稽记录表信息
    </span>
</div>
<form id="form1" method="post" action="?model=finance_related_detail&action=edit" name="form1">
<table class="form_main_table">
<tr>
		<td class="form_text_left">钩稽主表id(勾稽序号)</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" name="detail[relatedId]"  value="{relatedId}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">产品id</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" name="detail[productId]"  value="{productId}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">产品编码</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" name="detail[productCode]"  value="{productCode}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">规格型号</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" name="detail[productModel]"  value="{productModel}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">本次勾稽数量</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" name="detail[number]"  value="{number}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">本次勾稽金额</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" name="detail[amount]"  value="{amount}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">已钩稽数量</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" name="detail[hookNumber]"  value="{hookNumber}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">已钩稽金额</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" name="detail[hookAmount]"  value="{hookAmount}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">未钩稽数量</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" name="detail[unHookNumber]"  value="{unHookNumber}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">未钩稽金额</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" name="detail[unHookAmount]"  value="{unHookAmount}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">单据日期</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" onfocus="WdatePicker()" readOnly  name="detail[formDate]" value="{formDate}"  />
		</td>
</tr>                        
<tr>
		<td class="form_text_left">供应商Id</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" name="detail[supplierId]"  value="{supplierId}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">供应商名称</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" name="detail[supplierName]"  value="{supplierName}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">采购方式</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" name="detail[purType]"  value="{purType}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">辅助属性</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" name="detail[property]"  value="{property}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">计量单位</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" name="detail[unit]"  value="{unit}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">是否已核算</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" name="detail[isAcount]"  value="{isAcount}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">钩稽对象编号</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" name="detail[hookObjCode]"  value="{hookObjCode}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">钩稽对象</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" name="detail[hookObj]"  value="{hookObj}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">钩稽条目id</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" name="detail[hookId]"  value="{hookId}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">日期</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" onfocus="WdatePicker()" readOnly  name="detail[hookDate]" value="{hookDate}"  />
		</td>
</tr>                        
<tr>
		<td class="txt_btn" colspan="4">
         <input  type="hidden" name="detail[id]" value="{id}" />
		   <input  type="submit" class="txt_btn_a" value="保  存"/>
		   <input  type="button" class="txt_btn_a" value="关  闭" onclick="self.parent.tb_remove();"/>
		</td>
</tr>
</table>
</form>
</body>
</html>