<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en_US" xml:lang="en_US">
<head>
	<title>选择要生成合同的立项</title>
	<meta http-equiv="Content-Type" content="text/html;charset=gb2312"/>
	{#commonInclude#}
	<script type="text/javascript" src="{#jsPath#}/outsourcing-chooseadd.js"></script>
</head>
<body>
	<div class="main_head">
    <span class="main_head_title">
      	选择要生成合同的立项
    </span>
	</div>
	<form id="form1" method="post" action="?model=contract_outsourcing_outsourcing&action=chooseAdd" onsubmit="return checkForm();">
		<div id="chooseGrid"></div>
		<table class="form_main_table">
		 <tr>
			<td class="txt_btn" colspan="6">
			<input type="hidden" id="projectId" value="{projectId}"></input>
			<input type="submit" class="txt_btn_a" value="确  定" />
			<input type="button" class="txt_btn_a" value="关  闭" onclick="closeFun();"/>
			</td>
		</tr>
		</table>
	</form>
</body>
</html>

