<html>

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
        <link rel="stylesheet" type="text/css" href="css/yxstyle.css" />
        <link rel="stylesheet" type="text/css" href="js/thickbox.css" />

        <script type="text/javascript" src="js/jquery.js"></script>
        <script type="text/javascript" src="js/thickbox.js"></script>

		<script type="text/javascript" src="js/common/businesspage.js"></script>
		<script type="text/javascript" src="js/util.js"></script>

        <script type="text/javascript" src="view/template/rdproject/project/js/rdproject-manage-topTab.js"></script>
        <title>查看基本信息项目</title>
        <script>
            $(document).ready(function() {
                topTabShow(arrayTop, "basicMsg","{pjId}");
            });
            function mLevelFun(){
				showThickboxWin('?model=rdproject_project_rdproject&action=rpModifyLevel&pjId={pjId}'

						+ '&placeValuesBeforeTB_=savedValues&TB_iframe=true&modal=false&height=250&width=600');
            }
        </script>
    </head>
    <body>
        <div class="tab_options"></div>
        <div class="form_main">
	            <table class="form_main_table">
	                <tr>
	                    <td colspan="2" class="form_header">
	                        项目基本信息
	                    </td>
	                </tr>
	                <tr>
	                    <td class="form_text_left">
	                        所属项目组合
	                    </td>
	                    <td class="form_view_right">
	                        {rdproject[groupSName]}
	                    </td>
	                </tr>
	                <tr>
	                    <td class="form_text_left">
	                        项目名称
	                    </td>
	                    <td class="form_view_right">
	                        {rdproject[projectName]}
	                    </td>
	                </tr>
	                <tr>
	                    <td class="form_text_left">
	                        简称
	                    </td>
	                    <td class="form_view_right">
	                        {rdproject[simpleName]}
	                    </td>
	                </tr>
	                <tr>
	                    <td class="form_text_left">
	                        项目编号
	                    </td>
	                    <td class="form_view_right">
	                       {rdproject[projectCode]}
	                    </td>
	                </tr>
	                <tr>
	                    <td class="form_text_left">
	                        项目类型
	                    </td>
	                    <td class="form_view_right">
	                        {rdproject[projectTypeC]}
	                    </td>
	                </tr>
	                <tr>
	                    <td class="form_text_left">
	                        优先级
	                    </td>
	                    <td class="form_view_right">
	                        {rdproject[projectLevelC]}
	                    </td>
	                </tr>

	                <tr>
	                    <td class="form_text_left">
	                        计划启动日期
	                    </td>
	                    <td class="form_view_right">
	                        {rdproject[planDateStart]}
	                    </td>
	                </tr>
	                <tr>
	                    <td class="form_text_left">
	                        计划关闭日期
	                    </td>
	                    <td class="form_view_right">
	                        {rdproject[planDateClose]}
	                    </td>
	                </tr>
					<tr>
	                    <td class="form_text_left">
	                        估计工作量
	                    </td>
	                    <td class="form_view_right">
	                        {rdproject[appraiseWorkload]}
	                    </td>
	                </tr>
	                <tr>
	                    <td class="form_text_left">
	                        所属部门
	                    </td>
	                    <td class="form_view_right">
	                        {rdproject[depName]}
	                    </td>
	                </tr>
	                <tr>
	                    <td class="form_text_left">
	                        项目责任人
	                    </td>
	                    <td class="form_view_right">
	                        {rdproject[managerName]}
	                    </td>
	                </tr>
	                <tr>
	                    <td class="form_text_left">
	                        项目助理
	                    </td>
	                    <td class="form_view_right">
	                        {rdproject[assistantName]}
	                    </td>
	                </tr>
	                <tr>
	                	<td class="form_text_left">
	                        状态
	                    </td>
	                    <td class="form_view_right">
	                        {rdproject[statusCN]}
	                    </td>
	                </tr>
	                <tr>
	                    <td class="form_text_left">
	                        项目描述
	                    </td>
	                    <td class="form_view_right">
	                        <textarea class="textarea_read" cols="80">{rdproject[description]}</textarea>
	                    </td>
	                </tr>
	                <tr>
	                    <td class="form_text_left">
	                        关闭描述
	                    </td>
	                    <td class="form_view_right">
	                        <textarea class="textarea_read" cols="80">{rdproject[closeDescription]}</textarea>
	                    </td>
	                </tr>
	                <tr>
	                    <td colspan="2">
	                        <input type="button" class="txt_btn_a" value="关闭" onclick="window.close()">
	                    </td>
	                </tr>
	            </table>
        </div>
    </body>

</html>