<HTML>
<HEAD>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<TITLE>项目列表</TITLE>
<link rel="stylesheet" type="text/css" href="css/yxstyle.css" />
<!-- <link rel="stylesheet" type="text/css" href="js/treetable/GridTree.css" /> -->
<link rel="stylesheet" type="text/css" href="js/thickbox.css" />
<link rel="stylesheet" type="text/css" href="js/jquery/style/contextmenu.css" />


<script type="text/javascript" src="js/treetable/jquery.js"></script>
<script type="text/javascript" src="js/thickbox.js"></script>
<script type="text/javascript" src="js/jquery/jquery.contextmenu.js"></script>
 <script type="text/javascript" src="js/common/businesspage.js"></script>
<script type="text/javascript" src="js/treetable/hashMap.js"></script>
<script type="text/javascript" src="js/treetable/GridTree.All.js"></script>

<script type="text/javascript" src="js/common/businesspage.js"></script>
<script type="text/javascript"
	src="view/template/rdproject/project/js/rdproject-listAll.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        //添加鼠标经过行颜色改变
        rowsColorChange();
    });
</script>
</HEAD>

<BODY onload="newProjectTreeGrid();">
<div class="main_head"><span class="main_head_title"> 项目列表
</span></div>

<div class="tab_options"></div>
<div class="tab_line"></div>

<div id="main_wraper" class="main_wraper">
<table class="main_table_search">
	<tr>
		<td>输入关键字： <input type="text" id="searchvalue" class="txt"
			name="searchvalue" value="" /> 按 <select id="searchfield"
			class="select">
			<option value="groupName">组合名称</option>
			<option value="groupCode">组合编号</option>
			<option value="projectName">项目名称</option>
			<option value="projectCode">项目编号</option>
		</select> <input type="button" value=" 搜索 " class="txt_btn_a" onclick="search()"/> &nbsp; <input
			title="添加 组合" type="button" value="添加 组合" class="thickbox txt_btn_a"
			alt="?model=rdproject_group_rdgroup&action=toAdd&placeValuesBefore&TB_iframe=true&modal=false&height=450&width=750" />
		&nbsp; <input title=" 删除所选" type="button" value=" 删除 " onclick="deleteObjs('rdproject_group_rdgroup')"
			class="txt_btn_a" />

			<!-- 隐藏按钮
			<input type="button" class="thickbox" alt="" value="contextmenu_thinkbox" id="contextmenu_thinkbox" style="display:none"/>
			 --></td>
	</tr>
</table>
<div id='newtableTree'>正在装载，请等待。。。</div>
</div>
</BODY>
</HTML>