<!DOCTYPE html>
<html>
<head>
	<title>查看成本调整单</title>
	<meta http-equiv="Content-Type" content="text/html;charset=gbk"/>
	<link rel="stylesheet" type="text/css" href="css/yxstyle.css"/>

	<script type="text/javascript" src="js/jquery/jquery-1.4.2.js"></script>
	<script type="text/javascript" src="js/common/businesspage.js"></script>
</head>
<body>
<div class="main_head">
    <span class="main_head_title">
      	查看成本调整单信息
    </span>
</div>
<table class="form_main_table">
    <tr>
		<td class="form_text_left">单据类型</td>
		<td class="form_text_right">
			 {formType}
		</td>
		<td class="form_text_left">单据编号</td>
		<td class="form_text_right">
			 {formNo}
		</td>
    </tr>
    <tr>
		<td class="form_text_left">仓库名称</td>
		<td class="form_text_right" >
			 {stockName}
		</td>
		<td class="form_text_left">日期</td>
		<td class="form_text_right" width="30%">
			 {formDate}
		</td>
    </tr>
    <tr>
		<td class="form_text_left">
			部门
		</td>
		<td class="form_text_right">
			{deptName}
		</td>
		<td class="form_text_left">
			业务员
		</td>
		<td class="form_text_right">
			{salesman}
		</td>
    </tr>
</table>
<table class="form_main_table">
	<tr align="left">
		<td colspan="6">
			详细：
		</td>
	</tr>
	<tbody id="invbody">
		<tr class="main_tr_header">
			<th width="5%">序号</th>
			<th width="15%">物料代码</th>
			<th width="25%">物品名称</th>
			<th width="15%">规格型号</th>
			<th width="15%">调整金额</th>
			<th>备注</th>
		</tr>
		{detail}
	</tbody>
</table>
<table class="form_main_table">
    <tr>
		<td class="txt_btn" colspan="4">
		   <input type="button" class="txt_btn_a" value="关  闭" onclick="self.parent.tb_remove();"/>
		</td>
    </tr>
</table>
</body>
</html>