body{
	background-color:#FFF;
}
/* grid 列表行高*/
.mini-grid-row{
	height:28px;
	line-height:28px;
	cursor:pointer;
} 
/* grid 列表行 字体  表格基线颜色 */
.mini-grid-row .mini-grid-cell {
	font-size:9pt;
	font-family:"微软雅黑","宋体",Verdana;
	color:#000;
	border-color:#E9EBF5;/*基线颜色*/
	
}
/* 选中checkbox*/
td.mini-checkcolumn{
	background-color: #F6F6F6;
    background-image: -moz-linear-gradient(left center , #F6F6F6, #E9E9E9);
    border-right: 1px solid #D0D0D0;
    padding: 0;
	/*
	background:url("images/bgs/grid3-special-col-bg.gif") repeat-y scroll 0 0 transparent*/
}
/* 数字序号*/
td.mini-IndexColumn{
	background-color: #F6F6F6;
    background-image: -moz-linear-gradient(left center , #F6F6F6, #E9E9E9);
    border-right: 1px solid #D0D0D0;
    padding: 0;
	/*
background:url("images/bgs/grid3-special-col-bg.gif") repeat-y scroll 0 0 transparent;*/
}
/* grid 表头 */
.mini-grid-headerCell{
font-size:10pt;
	font-family:"微软雅黑","宋体",Verdana;
	color:#000;
	height:18px;
	line-height:18px;
}
/* grid 列表行 表头背景 表头基线颜色*/
.mini-grid-headerCell, .mini-grid-topRightCell ,.mini-grid-headerCell.mini-checkcolumn{
    /*background: url("images/grid/ui-bg_glass_80_d7ebf9_1x400.png") repeat-x scroll left top #E2E4E6;
	  background: url("images/bgs/header.gif") repeat-x scroll 50% 50% #D7EBF9;
	
	background: url("images/bgs/ui-bg_glass_80_d7ebf9_1x400.png") repeat-x scroll 50% 50% #D7EBF9;*/
    /*表头基线颜色*/
	border-left-color:#aaccf6;border-right-color:#aaccf6;background-image:none;background-color:#aaccf6;background-image:-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ebf3fd), color-stop(39%, #ebf3fd), color-stop(40%, #d9e8fb), color-stop(100%, #d9e8fb));background-image:-webkit-linear-gradient(top, #ebf3fd,#ebf3fd 39%,#d9e8fb 40%,#d9e8fb);background-image:-moz-linear-gradient(top, #ebf3fd,#ebf3fd 39%,#d9e8fb 40%,#d9e8fb);background-image:-o-linear-gradient(top, #ebf3fd,#ebf3fd 39%,#d9e8fb 40%,#d9e8fb);background-image:-ms-linear-gradient(top, #ebf3fd,#ebf3fd 39%,#d9e8fb 40%,#d9e8fb);background-image:linear-gradient(top, #ebf3fd,#ebf3fd 39%,#d9e8fb 40%,#d9e8fb);background: url("images/bgs/ui-bg_glass_80_d7ebf9_1x400.png") repeat-x scroll 50% 50% #D7EBF9;
	border:0px;
	border-bottom: 1px solid #AED0EA; 
    border-right: 1px solid #AED0EA;
	
}
.mini-grid-headerCell-hover{
	cursor:pointer;
	background: url("images/bgs/ui-bg_glass_80_d7ebf9_1x400.png") repeat-x scroll 50% 50% #D7EBF9;
	/*background: url("images/bgs/header.gif") repeat-x scroll 50% 50% #D7EBF9;
	background:url('images/bgs/column-header-over-bg.gif') repeat-x scroll 100% 100%;
	 border-left-color:#aaccf6;border-right-color:#aaccf6;background-image:none;background-color:#aaccf6;background-image:-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ebf3fd), color-stop(39%, #ebf3fd), color-stop(40%, #d9e8fb), color-stop(100%, #d9e8fb));background-image:-webkit-linear-gradient(top, #ebf3fd,#ebf3fd 39%,#d9e8fb 40%,#d9e8fb);background-image:-moz-linear-gradient(top, #ebf3fd,#ebf3fd 39%,#d9e8fb 40%,#d9e8fb);background-image:-o-linear-gradient(top, #ebf3fd,#ebf3fd 39%,#d9e8fb 40%,#d9e8fb);background-image:-ms-linear-gradient(top, #ebf3fd,#ebf3fd 39%,#d9e8fb 40%,#d9e8fb);background-image:linear-gradient(top, #ebf3fd,#ebf3fd 39%,#d9e8fb 40%,#d9e8fb)}.x-nlg .x-grid-header-ct,.x-nlg .x-column-header{background:repeat-x 0 top;background-image:url('images/bgs/column-header-bg.gif')	*/
	
}
/*鼠标移过列表*/
body .mini-grid-row-hover, body .mini-grid-row-hover .mini-grid-frozenCell,body .mini-grid-row-hover {
	 background: url("images/bgs/ui-bg_glass_100_e4f1fb_1x400.png") repeat-x scroll 50% 50% #E4F1FB;
	 /*background: url("images/bgs/ui-bg_glass_100_e4f1fb_1x400yellow.png") repeat-x scroll 50% 50% #E4F1FB;*/
	 font-weight:800;
	 /*border-top:#ccc 1px dashed;
	 border-bottom:#ccc 1px dashed;	 */
}
body .mini-grid-row-hover .mini-grid-cell{
	color:#000;
	cursor:pointer;
}
body .mini-grid-row-hover .mini-IndexColumn{
	color:#F00;	
}
/*grid 斑马文 */
.mini-grid-row .mini-grid-row-alt{
	 background:#F9FAFC;
}
/*选定列表格背景*/
body .mini-grid-row-selected, body .mini-grid-row-selected .mini-grid-frozenCell
{
    background: url("images/bgs/hl.png")  repeat-x scroll center top #D5EFFC;	
	color:Black;
}

.mini-grid-splitter
{
    position:absolute;
    overflow:hidden;    
    background:white;
    cursor:col-resize;
    opacity: .0;-moz-opacity: .0;filter: alpha(opacity=0);
    z-index:100;
    top:0px;left:0;
    height:100px;width:5px;
}

.mini-panel-border-top{
 background-color: #000000;
 height: 10px;
 opacity: 0.3;
 padding: 0;
}
.mini-grid-newRow td{
	cursor:pointer;

}

/*关闭*/
.mini-panel{
	overflow:visible;
}

.mini-panel-border{
	overflow:visible;	
}
.mini-tools-close {
    background: url("images/bgs/closebox.png") no-repeat scroll center center transparent;
    border: medium none;
    height: 40px;
    position: absolute;
    right: -15px;
    top: -15px;
    width: 40px;
}
.mini-tools span {
    height: 30px;
    width: 30px;
}
.mini-panel-viewport,.mini-panel-body{
	overflow:hidden;	
}
/*关闭 end*/
.tables {
	width:99.4%;
    border: 1px solid #D3E5FA;
	/*border:1px solid #DDDDDD;*/
    border-collapse: collapse;
}
.tables td {
	padding: 3px;
    font-size: 13px;
    height: 26px;
    line-height: 26px;
    white-space: nowrap;
	border: 1px solid #D3E5FA;
	/*border:1px solid #DDDDDD;*/
	border-collapse: collapse;
	font-weight: normal;
	border-top-style:none;
	border-left-style:none;
}
.form_text_left_con{
	 background-color: #EFF7FF;
	/*background-color:#F0F0EE;*/
    line-height: 16px;
    margin: 5px 0;
    padding: 1px 0 0;
    text-align: right;
    white-space: nowrap;
    width: 15%;
	font-family:"微软雅黑","宋体",Verdana;
}
.form_text_right_con{
	line-height: 16px;
    margin: 5px 0;
    padding: 1px 0 0;
    text-align: left;
    width: 23%;
	font-family:"微软雅黑","宋体",Verdana;
}


.mini-window .mini-panel-header
{
    background: url("images/bgs/title_bg.gif") repeat-x scroll 0 0 #E3E3E3;
    border-bottom: 1px solid #CCCCCC;
    font-weight: bold;
    height: 32px;
    line-height: 32px;
    text-align: left;
	overflow:visible;
	margin-right:-2px;
}
.mini-panel .mini-panel-title{
	line-height:24px;
}

/*   */
.addBn{
 background: url("images/bgs/add_item.png") no-repeat scroll center center transparent;
    cursor: pointer;	
}
.removeBn {
    background: url("images/bgs/removeline.png") no-repeat scroll center center transparent;
    cursor: pointer;
}

.main_tr_header {
    background: url("images/bgs/main_table_title.gif") repeat scroll 0 0 transparent;
    color: #2E5CB8;
    font-size: 12px;
    font-weight: 100;
    height: 30px;
    padding: 1px;
    text-align: center;
    width: 100%;
}
.mini-errorIcon{
	cursor:pointer;	
}
.mini-required .mini-textbox-input,.mini-textbox,.mini-textbox-input{
	background: none repeat scroll 0 0 white;
    cursor: text;
    font-family:"微软雅黑","宋体",Verdana;
    outline: medium none;
	border-radius: 3px 3px 3px 3px;
    color: #555555;
    display: inline-block;
    font-size: 13px;
    height:24px;
    line-height: 24px;
	vertical-align: middle;
   /* padding: 4px 6px;*/
	border: 1px solid #CCCCCC;
	background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
} 
.mini-textbox,.mini-popupedit,.mini-buttonedit,.mini-required .mini-buttonedit-input{
	height:26px;
	line-height:26px;
	font-family:"微软雅黑","宋体",Verdana;
    outline: medium none;
	color: #555555;
    display: inline-block;
    font-size: 13px;
	vertical-align: middle;
}
.mini-textarea .mini-textbox-input{
  line-height: 15px;
  font-size:12px;
}
.mini-buttonedit-border,.mini-buttonedit-input,.mini-buttonedit.mini-spinner{
	height:24px;
	line-height:24px;
}

.mini-textbox-focus .mini-textbox-input,.mini-buttonedit-border,
{
    /*border-color:#808891;*/
	border-color: rgba(82, 168, 236, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6);
    outline: 0 none
}
.mini-required .mini-textbox-input, .mini-required .mini-buttonedit-input {
   background: none repeat scroll 0 0 transparent;
   border-radius: 3px 3px 3px 3px;
}
.mini-required.mini-error.mini-textbox-focus .mini-textbox-input
{
    /*border-color:#808891;*/
	 border-color: #E9322D;
     box-shadow: 0 0 6px #F8B9B7;
}
.mini-textbox.mini-required.mini-error .mini-textbox-input{
	border-color: #9D261D;
     box-shadow: 0 0 6px #F8B9B7;
}
.mini-buttonedit-icons {
	margin-top:5px;
}
.mini-calendar-date{
	cursor:pointer;
}
.mini-popup{
	 border: 1px solid #CCCCCC;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
	border-radius: 3px 3px 3px 3px;
}
.mini-textbox-readOnly,.mini-buttonedit-readOnly  .mini-buttonedit-input{
	background-color:#F3F6FA;
}
/*botton*/
.mini-buttonedit-button {
    background: url("images/button/button.gif") repeat-x scroll 0 50% transparent;
    border:0px;
	border-left: 1px solid #B5B8C8;
	height:24px;
	margin:0px;
	padding:0px 0px 0px 0px;
	width:20px;
}
 .mini-spinner .mini-buttonedit-button {
    background: url("images/button/button.gif") repeat-x scroll 0 50% transparent;
    border:0px;
	border-left: 1px solid #B5B8C8;
	height:24px;
	margin:0px;
	padding:0px 0px 0px 0px;
	width:17px;
}
.mini-buttonedit.mini-spinner{
	height:26px;
	
}
.mini-buttonedit-icon{
	margin:4px 3px;
}
.mini-buttonedit-button-hover, .mini-buttonedit-hover .mini-buttonedit-button {
	border-top:0px;border-right:0px;border-bottom:0px
} 
.mini-buttonedit-button-pressed, .mini-buttonedit-popup .mini-buttonedit-button {
    background: url("images/buttonedit/btn-hover.gif") repeat-x scroll 0 50% transparent;
	border-color:inherit;
	border-top:0px;border-right:0px;border-bottom:0px
}

.mini-buttonedit-up span{
    background: url("images/buttonedit/up.gif") no-repeat scroll 50% 8px transparent;
}
.mini-button {
    -moz-user-select: none;
    border: 1px solid #A9ACB5;
    cursor: pointer;
    display: inline-block;
    font-size:10pt;
    outline: medium none;
    padding: 0;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
	height:26px;
	line-height:20px;
	font-family:"微软雅黑","宋体",Verdana;
    color: #555555;
}
.mini-button-text{
	line-height:20px
}
/*footer*/
.mini-grid-footer,.mini-pager {
    font-family:"微软雅黑","宋体",Verdana;
    font-size: 9pt;
    height: 33px;
    overflow: hidden;
    position: relative;
    width: auto;
}
.mini-pager-size{
	height:30px;
} 
/*minu */
.mini-menu-border {
    /*border: 1px solid #999999;*/
	border: 1px solid #AAAAAA;
	padding: 3px;
	border-radius: 3px 3px 3px 3px;
	font-family:"微软雅黑","宋体",Verdana;
    font-size: 10pt;
	height:26px;
	line-height:26px;
}
.mini-menu {
	/*
    background: url("images/menu/menu.gif") repeat-y scroll 5px 0 #F0F0F0;
    border-color: #89B1E4;
    color: black;
	*/
	 background: url("images/bgs/menu_bg.gif") repeat-y scroll 12px center #F0F0F0;
    color: #222222;
}
.mini-menuitem-text {
	padding-left:12px;
cursor:pointer;
}

.mini-menuitem {
	margin:1px;
    padding: 3px 1px;
	

}
.mini-menuitem-hover {
    /*background: url("images/menu/hover.gif") repeat-x scroll 0 0 #D6E6FA;
    border-color: #80A4D0;
	*/
	background: url("images/bgs/m_item.gif") repeat-x scroll center bottom transparent;
    border: 1px solid #AACCF6;
    padding: 3px 1px;
}
/* form  start

select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    border-radius: 3px 3px 3px 3px;
    color: #555555;
    display: inline-block;
    font-size: 13px;
    height: 18px;
    line-height: 18px;
    margin-bottom: 9px;
    padding: 4px 6px;
	border: 1px solid #CCCCCC;
	width:180px;
}


/*from end*/

fieldset{
	padding:8px 4px;
	margin:10px 10px;
	border:1px #CCCCCC solid;
}
legend.legend {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #B6B6B6;
    color: #0066CC;
    font-weight: 800;
    margin: 0 0 0 10px;
    padding: 3px 6px;
    text-align: left;
	cursor:pointer;
	border:1px #CCCCCC solid;
}
.caret {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #000000;
    content: "";
    display: inline-block;
    height: 0;
    vertical-align:bottom;
    width: 0;
}
.icon-options {
	background:url("images/bgs/icon-16-maintenance.png") no-repeat;
	height:16px; 
	width:16px;
    display: inline-block;
    vertical-align: top;	
}
.btn {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	padding: 8px 8px;
	margin-bottom: 0;
	font-size: 13px;
	line-height: 18px;
	*line-height: 18px;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	color: #333;
	text-shadow: 0 1px 1px rgba(255,255,255,0.75);
	background-color: #f5f5f5;
	background-image: -moz-linear-gradient(top,#fff,#e6e6e6);
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#e6e6e6));
	background-image: -webkit-linear-gradient(top,#fff,#e6e6e6);
	background-image: -o-linear-gradient(top,#fff,#e6e6e6);
	background-image: linear-gradient(to bottom,#fff,#e6e6e6);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe5e5e5', GradientType=0);
	border-color: #e6e6e6 #e6e6e6 #bfbfbf;
	border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
	*background-color: #e6e6e6;
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
	border: 1px solid #bbb;
	*border: 0;
	border-bottom-color: #a2a2a2;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	*margin-left: .3em;
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
	box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
}
/*
.btn:hover,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
	color: #333;
	background-color: #e6e6e6;
	*background-color: #d9d9d9;
}
.btn:active,
.btn.active {
	background-color: #cccccc \9;
}
.btn:first-child {
	*margin-left: 0;
}
.btn:hover {
	color: #333;
	text-decoration: none;
	background-color: #e6e6e6;
	*background-color: #d9d9d9;
	background-position: 0 -15px;
	-webkit-transition: background-position .1s linear;
	-moz-transition: background-position .1s linear;
	-o-transition: background-position .1s linear;
	transition: background-position .1s linear;
}
.btn:focus {
	outline: thin dotted #333;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}
.btn.active,
.btn:active {
	background-color: #e6e6e6;
	background-color: #d9d9d9 \9;
	background-image: none;
	outline: 0;
	-webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
	-moz-box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
	box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
}
*/
.btn-menu-group
{
	margin-left:10px;
	display:none;
	position: relative;
	white-space: nowrap;
}
.mini-grid-row-hover .btn-menu-group
{
	display:inline;
}
.searchbox .mini-buttonedit-icon
    {
		margin:3px; margin-top:6px;
        background:url("../icons/search.gif") no-repeat scroll 0 0 transparent;
    }

.mini-buttonedit-close {
    height: 20px;
    margin-top: 1px;
    overflow: hidden;
    width: 15px;
}


/** tree*/
.mini-tree-nodetitle {
    cursor:pointer;
 }
 /*
.mini-mask-loading
{
    / *padding:10px 8px 10px 30px;* /	
    padding:20px;
	background:url(images/bgs/loading.gif) no-repeat scroll 50% 50%;
	border:0px solid #517fad;
}
*/

/** tab   **/
.mini-tab {
	/* background:#FFF url(../images/tabs/pressed.gif) repeat-x 0 0; */
    background:#FFF; 
    border: 1px solid #8CB2E2;
    color: #333; 
    cursor: pointer;
	font-size:10pt;
	font-family:"微软雅黑","宋体",Verdana;
    padding: 3px 15px;
    text-align: center;
    white-space: nowrap;
}

.mini-tab-hover
{    
    background:#E1E8FD url(images/tabs/hover.gif) repeat-x 0 0; 
}
.mini-tab-active
{
    border-bottom:solid 1px #deecfd;
    background: #EBEBEE url(images/tabs/tab.gif) repeat-x 0 0;  
}

.mini-tab-active .mini-tab-text {
    display: inline-block;
    line-height: 20px;
    padding-left: 2px;
    padding-right: 2px;
    vertical-align: middle;
	font-size:14px;
	font-weight:bold;
}