<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
		<title>
			日志列表
		</title>
		<link rel="stylesheet" type="text/css" href="css/yxstyle.css" />
		<link rel="stylesheet" href="js/thickbox.css" type="text/css" media="screen"
		/>
		<script type="text/javascript" src="js/jquery.js">
		</script>
		<script type="text/javascript" src="js/common/businesspage.js">
		</script>
		<script type="text/javascript" src="js/thickbox.js">
		</script>
	</head>
	<body>
		<div class="main_head">
			<span class="main_head_title">
				填报工作日志
			</span>
			<input name="goBack" type="button" class="main_head_btn" value="返 回" onclick="history.back()"/>
		</div>
		<div class="tab_options">
		</div>
		<div class="tab_line"></div>
		<div class="main_wraper">
			<table class="main_table">
				<thead>
					<tr class="main_tr_header">
						<th width="5%">
							序号
						</th>
						<th>
							名称
						</th>
						<th width="18%">
							所属部门
						</th>
						<th width="20%">
							最近更新时间
						</th>
						<th width="20%">
							操作
						</th>
					</tr>
				</thead>
				<tbody>
					{list}
				</tbody>
			</table>
		</div>
		{pageDiv}
	</body>

</html>