<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>加密锁任务列表</title>
	{#commonInclude#}
	<link rel="stylesheet" type="text/css" href="js/jquery/tab/css/tabs.css" />
	<script type="text/javascript" src="js/jquery/tab/tabs.js"></script>
	<script type="text/javascript">
		$(function() {
			var id = $("#id").val();

			var tabArr = [
				"?model=stock_delivery_encryption&action=notPageMission", //未完成
				"?model=stock_delivery_encryption&action=yesPage" //已完成
			];
			$("#tabs1").tabs(".panes > iframe", {
				history : true,
				onClick : function(i, e) {
					var actTabId = "#iframe" + (parseInt(e) + 1);
					$(actTabId).attr("src", tabArr[e]);
				}
			});
		});
	</script>
</head>
<body>
	<table width="100%">
		<tr>
			<td>
				<div>
					<ul class="tabs" id="tabs1">
						<li><a href="#tab1">未完成的加密锁任务</a></li>
						<li><a href="#tab2">已完成的加密锁任务</a></li>
					</ul>
					<div class="panes">
						<iframe class="pane" id="iframe1" src="about:blank" scrolling="no" frameborder= "0" onload= "this.height=parent.document.body.clientHeight-140"></iframe>
						<iframe class="pane" id="iframe2" src="about:blank" scrolling="no" frameborder= "0" onload= "this.height=parent.document.body.clientHeight-140"></iframe>
					</div>
				</div>
			</td>
		</tr>
	</table>
</body>
</html>