<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" " http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns=" http://www.w3.org/1999/xhtml">
<head>
	<title>编辑加密锁任务</title>
	{#commonInclude#}
	<script type="text/javascript" src="{#jsPath#}/encryption-common.js"></script>
	<script type="text/javascript" src="{#jsPath#}/encryption-edit.js"></script>
</head>
<body>
	<form id="form1" method="post" action="?model=stock_delivery_encryption&action=edit" onsubmit="return checkData();">
		<table class="form_main_table">
			<tr>
				<td colspan="4">
					<div class="main_head">
						<span class="main_head_title">
							编辑加密锁任务信息
						</span>
					</div>
				</td>
			</tr>
			<tr>
				<td class="form_text_left">源单类型</td>
				<td class="form_text_right">
					<input type="text" class="readOnlyTxtNormal" id="sourceDocType" name="encryption[sourceDocType]" readonly value="{sourceDocType}"/>
					<input type="hidden" id="sourceDocTypeCode" name="encryption[sourceDocTypeCode]" value="{sourceDocTypeCode}"/>
				</td>
				<td class="form_text_left">源单编号</td>
				<td class="form_text_right">
					<input type="text" class="readOnlyTxtNormal" id="sourceDocCode" name="encryption[sourceDocCode]" readonly value="{sourceDocCode}"/>
					<input type="hidden" id="sourceDocId" name="encryption[sourceDocId]" value="{sourceDocId}"/>
				</td>
			</tr>
			<tr>
				<td class="form_text_left">合同负责人</td>
				<td class="form_text_right">
					<input type="text" class="readOnlyTxtNormal" id="headMan" name="encryption[headMan]" readonly value="{headMan}"/>
					<input type="hidden" id="headManId" name="encryption[headManId]" value="{headManId}"/>
				</td>
				<td class="form_text_left">客户名称</td>
				<td class="form_text_right">
					<input type="text" class="readOnlyTxtNormal" id="customerName" name="encryption[customerName]" readonly value="{customerName}"/>
					<input type="hidden" id="customerId" name="encryption[customerId]" value="{customerId}"/>
				</td>
			</tr>
			<tr>
				<td class="form_text_left">下达人名称</td>
				<td class="form_text_right">
					<input type="text" class="readOnlyTxtNormal" id="issueName" name="encryption[issueName]" readonly value="{issueName}"/>
					<input type="hidden" id="issueId" name="encryption[issueId]" value="{issueId}"/>
				</td>
				<td class="form_text_left">下达日期</td>
				<td class="form_text_right">
					<input type="text" class="readOnlyTxtNormal" id="issueDate" readOnly  name="encryption[issueDate]" value="{issueDate}"/>
				</td>
			</tr>
			<tr>
				<td class="form_text_left">备注</td>
				<td class="form_text_right" colspan="3">
					<textarea class="txt_txtarea_long" id="remark" name="encryption[remark]">{remark}</textarea>
				</td>
			</tr>
			<tr>
				<td class="form_text_right" colspan="4">
					<div id="equInfo"></div>
				</td>
			</tr>
			<tr>
				<td class="txt_btn" colspan="4">
					<input type="hidden" id="id" name="encryption[id]" value="{id}" />
					<!--<input type="submit" class="txt_btn_a" value=" 保  存 "/>&nbsp;&nbsp;-->
					<input type="submit" class="txt_btn_a" value=" 下  达 " onclick="toSubmit();"/>&nbsp;&nbsp;
					<input type="button" class="txt_btn_a" value=" 关  闭 " onclick="closeFun();"/>
				</td>
			</tr>
		</table>
	</form>
</body>
</html>