<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" " http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns=" http://www.w3.org/1999/xhtml">
<head>
	<title>编辑收货通知单</title>
   {#commonInclude#}
   <script type="text/javascript" src="{#jsPath#}/withdraw-edit.js" ></script>   
</head>
<body>
<form id="form1" method="post" action="?model=stock_withdraw_withdraw&action=edit" >
<table class="form_main_table">
   <tr>
      <td colspan="4">
          <div class="main_head">
             <span class="main_head_title">
               	编辑收货通知单信息
             </span>
         </div>     
      </td>
   </tr>
<tr>
		<td class="form_text_left">通知单号</td>
		<td class="form_text_right" >
			 <input type="text" class="txt"  name="withdraw[planCode]"  value="{planCode}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">源单类型</td>
		<td class="form_text_right" >
			 <input type="text" class="txt"  name="withdraw[docType]"  value="{docType}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">源单业务编码</td>
		<td class="form_text_right" >
			 <input type="text" class="txt"  name="withdraw[rObjCode]"  value="{rObjCode}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">源单Id</td>
		<td class="form_text_right" >
			 <input type="text" class="txt"  name="withdraw[docId]"  value="{docId}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">源单号</td>
		<td class="form_text_right" >
			 <input type="text" class="txt"  name="withdraw[docCode]"  value="{docCode}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">源单名称</td>
		<td class="form_text_right" >
			 <input type="text" class="txt"  name="withdraw[docName]"  value="{docName}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">周次</td>
		<td class="form_text_right" >
			 <input type="text" class="txt"  name="withdraw[week]"  value="{week}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">通知单下达日期</td>
		<td class="form_text_right" >
			 <input type="text" class="txt"  name="withdraw[planIssuedDate]"  value="{planIssuedDate}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">收货仓库Id</td>
		<td class="form_text_right" >
			 <input type="text" class="txt"  name="withdraw[stockId]"  value="{stockId}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">收货仓库编号</td>
		<td class="form_text_right" >
			 <input type="text" class="txt"  name="withdraw[stockCode]"  value="{stockCode}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">收货仓库</td>
		<td class="form_text_right" >
			 <input type="text" class="txt"  name="withdraw[stockName]"  value="{stockName}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">性质</td>
		<td class="form_text_right" >
			 <input type="text" class="txt"  name="withdraw[type]"  value="{type}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">下达状态</td>
		<td class="form_text_right" >
			 <input type="text" class="txt"  name="withdraw[issuedStatus]"  value="{issuedStatus}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">收货状态</td>
		<td class="form_text_right" >
			 <input type="text" class="txt"  name="withdraw[docStatus]"  value="{docStatus}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">计划收货日期</td>
		<td class="form_text_right" >
			 <input type="text" class="txt"  name="withdraw[shipPlanDate]"  value="{shipPlanDate}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">是否收货</td>
		<td class="form_text_right" >
			 <input type="text" class="txt"  name="withdraw[isShipped]"  value="{isShipped}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">是否按时收货</td>
		<td class="form_text_right" >
			 <input type="text" class="txt"  name="withdraw[isOnTime]"  value="{isOnTime}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">延期归类编码</td>
		<td class="form_text_right" >
			 <input type="text" class="txt"  name="withdraw[delayTypeCode]"  value="{delayTypeCode}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">延期原因归类</td>
		<td class="form_text_right" >
			 <input type="text" class="txt"  name="withdraw[delayType]"  value="{delayType}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">延期原因详细</td>
		<td class="form_text_right" >
			 <input type="text" class="txt"  name="withdraw[delayDetail]"  value="{delayDetail}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">延期具体原因</td>
		<td class="form_text_right" >
			 <input type="text" class="txt"  name="withdraw[delayReason]"  value="{delayReason}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">创建时间</td>
		<td class="form_text_right" >
			 <input type="text" class="txt"  name="withdraw[createTime]"  value="{createTime}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">创建人名称</td>
		<td class="form_text_right" >
			 <input type="text" class="txt"  name="withdraw[createName]"  value="{createName}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">创建人</td>
		<td class="form_text_right" >
			 <input type="text" class="txt"  name="withdraw[createId]"  value="{createId}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">修改人名称</td>
		<td class="form_text_right" >
			 <input type="text" class="txt"  name="withdraw[updateName]"  value="{updateName}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">修改时间</td>
		<td class="form_text_right" >
			 <input type="text" class="txt"  name="withdraw[updateTime]"  value="{updateTime}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">修改人</td>
		<td class="form_text_right" >
			 <input type="text" class="txt"  name="withdraw[updateId]"  value="{updateId}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">单据状态</td>
		<td class="form_text_right" >
			 <input type="text" class="txt"  name="withdraw[status]"  value="{status}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">客户名称</td>
		<td class="form_text_right" >
			 <input type="text" class="txt"  name="withdraw[customerName]"  value="{customerName}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">客户Id</td>
		<td class="form_text_right" >
			 <input type="text" class="txt"  name="withdraw[customerId]"  value="{customerId}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">源单申请人</td>
		<td class="form_text_right" >
			 <input type="text" class="txt"  name="withdraw[docApplicant]"  value="{docApplicant}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">源单申请人Id</td>
		<td class="form_text_right" >
			 <input type="text" class="txt"  name="withdraw[docApplicantId]"  value="{docApplicantId}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">变更提示</td>
		<td class="form_text_right" >
			 <input type="text" class="txt"  name="withdraw[changeTips]"  value="{changeTips}" />
		</td>
</tr>        
   
      </table>
		<div id="itemTable"></div>
      <table><tr>
		<td class="txt_btn" colspan="4">
         <input  type="hidden" name="withdraw[id]" value="{id}" />
		   <input  type="submit" class="txt_btn_a" value=" 保  存 "/>
		   <input  type="button" class="txt_btn_a" value=" 关  闭 " onclick="self.parent.tb_remove();"/>
		</td>
</tr>
</table>
</form>
</body>
</html>