<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" " http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns=" http://www.w3.org/1999/xhtml">
<head>
	<title>编辑离职--面谈记录表</title>
   {#commonInclude#}
   <script type="text/javascript" src="{#jsPath#}/interview-edit.js" ></script>
         <style type="text/css">
		.txtarea_custom{
			border:1px solid #C0C2CF;
			background-image: url(../images/txt_txtarea_bg.gif);
			font-family: 微软雅黑,Arial,宋体,helvertica,sans-serif;
			font-size: 12px;
			background-color:#F3F6FA;
			text-align:left;
			padding-left:3px;
			width:870px;
			height:200px;
		}
   </style>
</head>
<body>
<form id="form1" method="post" action="?model=hr_leave_interview&action=edit" >
<table class="form_main_table">
   <tr>
      <td colspan="4">
          <div class="main_head">
             <span class="main_head_title">
               	编辑离职--面谈记录表信息
             </span>
         </div>
      </td>
   </tr>
<tr>
      		<td class="form_text_left">员工编号</td>
      		<td class="form_text_right" >
      			 <input type="text" class="readOnlyTxtNormal" readonly id="userNo" name="interview[userNo]" value="{userNo}"/>
      			 <input type="hidden" class="txt" id="userAccount" name="interview[userAccount]" value="{userAccount}"/>
      		</td>
      		<td class="form_text_left">员工姓名</td>
      		<td class="form_text_right" >
      			 <input type="text" class="readOnlyTxtNormal" readonly id="userName" name="interview[userName]"  value="{userName}"/>
      		</td>
       </tr>
       <tr>
      		<td class="form_text_left">部门名称</td>
      		<td class="form_text_right" >
      			 <input type="text" class="readOnlyTxtNormal" readonly id="deptName" name="interview[deptName]" value="{deptName}"/>
      			 <input type="hidden" class="txt" id="deptId" name="interview[deptId]" value="{deptId}"/>
      		</td>
      		<td class="form_text_left">职位名称</td>
      		<td class="form_text_right" >
      			 <input type="text" class="readOnlyTxtNormal" readonly id="jobName" name="interview[jobName]" value="{jobName}"/>
      			 <input type="hidden" class="txt" id="jobId" name="interview[jobId]" value="{jobId}"/>
      		</td>
       </tr>
       <tr>
      		<td class="form_text_left">入职日期</td>
      		<td class="form_text_right" >
      			 <input type="text" class="readOnlyTxtNormal" readonly id="entryDate" onfocus="WdatePicker()" readonly  name="interview[entryDate]" value="{entryDate}"/>
      		</td>
      		<td class="form_text_left">离职日期</td>
      		<td class="form_text_right" >
      			 <input type="text" class="txt" id="quitDate" onfocus="WdatePicker()" readonly  name="interview[quitDate]" value="{quitDate}"/>
      		</td>
       </tr>
       <tr>
      		<td class="form_text_left"><span >面谈者</span></td>
      		<td class="form_text_right" >
      			 <input type="text" class="readOnlyTxtNormal" id="interviewer" name="interview[interviewer]" value="{interviewer}" readonly/>
      			 <input type="hidden" class="txt" id="interviewerId" name="interview[interviewerId]" value="{interviewerId}"/>
      		</td>
      		<td class="form_text_left">面谈日期</td>
      		<td class="form_text_right" >
      			 <input type="text" class="txt" id="interviewDate" onfocus="WdatePicker()" readonly  name="interview[interviewDate]" value="{interviewDate}"/>
      		</td>
       </tr>
      <tr>
      		<td class="form_text_left" >面谈内容</td>
      		<td class="form_text_right" colspan="3">
                  <textarea class="txtarea_custom" id="interviewContent" name="interview[interviewContent]">{interviewContent}</textarea>
      		</td>
      </tr>
           <tr>
   		<td class="txt_btn" colspan="4">
            <input  type="hidden" id="id" name="interview[id]" value="{id}" />
   		   <input  type="submit" class="txt_btn_a" value=" 保  存 "/>
   		   <input  type="button" class="txt_btn_a" value=" 关  闭 " onclick="closeFun();"/>
   		</td>
        </tr>
     </table>
  </form>
 </body>
</html>