<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" " http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns=" http://www.w3.org/1999/xhtml">
<head>
	<title>填写面谈记录</title>
   {#commonInclude#}
   <script type="text/javascript" src="{#jsPath#}/interview-write.js" ></script>
         <style type="text/css">
		.txtarea_custom{
			border:1px solid #C0C2CF;
			background-image: url(../images/txt_txtarea_bg.gif);
			font-family: 微软雅黑,Arial,宋体,helvertica,sans-serif;
			font-size: 12px;
			background-color:#F3F6FA;
			text-align:left;
			padding-left:3px;
			width:870px;
			height:100px;
		}
   </style>
</head>
<body>
<table class="form_main_table">
   <tr>
      <td colspan="4">
          <div class="main_head">
             <span class="main_head_title">
              面谈记录
             </span>
         </div>
      </td>
   </tr>
<tr>
      		<td class="form_text_left_three">员工编号</td>
      		<td class="form_text_right" >
      			{userNo}
      		</td>
      		<td class="form_text_left_three">员工姓名</td>
      		<td class="form_text_right" >
      			 {userName}
      		</td>
       </tr>
       <tr>
      		<td class="form_text_left_three">部门名称</td>
      		<td class="form_text_right" >
      			 {deptName}
      		</td>
      		<td class="form_text_left_three">职位名称</td>
      		<td class="form_text_right" >
      			{jobName}
      		</td>
       </tr>
       <tr>
      		<td class="form_text_left_three">入职日期</td>
      		<td class="form_text_right" >
      			 {entryDate}
      		</td>
      		<td class="form_text_left_three">离职日期</td>
      		<td class="form_text_right" >
      			 {quitDate}
      		</td>
       </tr>
       <tr>
      		<td class="form_text_left_three"><span >面谈者</span></td>
      		<td class="form_text_right" >
      			{interviewer}
      		</td>
      		<td class="form_text_left_three">面谈日期</td>
      		<td class="form_text_right" >
      			 {interviewDate}
      		</td>
       </tr>
     <!--  <tr>
      		<td class="form_text_left_three" >面谈内容</td>
      		<td class="form_text_right" colspan="3">
                  <textarea class="txtarea_custom" id="interviewContent" name="interview[interviewContent]" readonly>{interviewContent}</textarea>
      		</td>
      </tr> -->
		<tr>
      		<td class="form_text_left_three" >离职原因</td>
      		<td class="form_text_right" colspan="3">
                  <textarea class="txtarea_custom" id="leaveReson" name="interview[leaveReson]" readonly>{leaveReson}</textarea>
      		</td>
      </tr>
            <tr>
      		<td class="form_text_left_three" >对工作的看法或建议</td>
      		<td class="form_text_right" colspan="3">
                  <textarea class="txtarea_custom" id="jobAdvice" name="interview[jobAdvice]" readonly>{jobAdvice}</textarea>
      		</td>
      </tr>
		<tr>
      		<td class="form_text_left_three" >对公司的看法或建议</td>
      		<td class="form_text_right" colspan="3">
                  <textarea class="txtarea_custom" id="companyAdvice" name="interview[companyAdvice]" readonly>{companyAdvice}</textarea>
      		</td>
      </tr>
		<tr>
      		<td class="form_text_left_three" >面谈人的建议</td>
      		<td class="form_text_right" colspan="3">
                  <textarea class="txtarea_custom" id="interviewAdvice" name="interview[interviewAdvice]" readonly>{interviewAdvice}</textarea>
      		</td>
      </tr>
           <tr>
   		<td class="txt_btn" colspan="4">
   		   <input  type="button" class="txt_btn_a" value=" 关  闭 " onclick="closeFun();"/>
   		</td>
        </tr>
     </table>
 </body>
</html>