<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en_US" xml:lang="en_US">
<head>
	<title>查看离职--面谈记录表</title>
      {#commonInclude#}
   <script type="text/javascript" src="{#jsPath#}/interview-view.js" ></script>
         <style type="text/css">
		.txtarea_custom{
			border:1px solid #C0C2CF;
			background-image: url(../images/txt_txtarea_bg.gif);
			font-family: 微软雅黑,Arial,宋体,helvertica,sans-serif;
			font-size: 12px;
			background-color:#F3F6FA;
			text-align:left;
			padding-left:3px;
			width:870px;
			height:200px;
		}
   </style>
</head>
<body>

<table class="form_main_table">
<tr>
	<td colspan="4">
      <div class="main_head">
          <span class="main_head_title">
            	离职面谈记录
          </span>
      </div>
   </td>
</tr>
 <tr>
      		<td class="form_text_left">员工编号</td>
      		<td class="form_text_right" >
      			 {userNo}
      		</td>
      		<td class="form_text_left">员工姓名</td>
      		<td class="form_text_right" >
      			 {userName}
      		</td>
       </tr>
       <tr>
      		<td class="form_text_left">部门名称</td>
      		<td class="form_text_right" >
      			 {deptName}
      		</td>
      		<td class="form_text_left">职位名称</td>
      		<td class="form_text_right" >
      			{jobName}
      		</td>
       </tr>
       <tr>
      		<td class="form_text_left">入职日期</td>
      		<td class="form_text_right" >
      			{entryDate}
      		</td>
      		<td class="form_text_left">离职日期</td>
      		<td class="form_text_right" >
      			 {quitDate}
      		</td>
       </tr>
     <tr>
		<td colspan="4" id="interviewRecord" class="innerTd" >
			<fieldset style="width:200"><legend style="text-align:left">
			<b>面谈记录:</b> <img src="images/icon/icon002.gif" alt="新增选项" /></legend>
			<div id="interviewRecordList"></div>
			</fieldset>
		</td>
	</tr>
   <tr>
		<td class="txt_btn" colspan="4">
         <input  type="hidden" id="id"  value="{id}" />
	      <input  type="button" class="txt_btn_a" value=" 关  闭 " onclick="closeFun();"/>
		</td>
</tr>
</table>
</body>
</html>