<div id="{id}" >

			<table class="">
				<tr>
					<td colspan="4" align="right">
					<img src='images/{photoName}.jpg' style='margin-right:30px;'></img>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br/>
					<hr />
					</td>
				</tr>
				<tr >
					<td colspan="4" style='font-size:20px;word-spacing:2px;text-align:center;font-family: "宋体"'>
						离 职 证 明<br/><br/>
					</td>
				</tr>
				<tr >
					<td colspan="4" >
						<div style='margin-left:80px;margin-right:80px;word-spacing:2px;line-height:1.5em;text-indent:40px;font-size:17px;text-align:justify;font-family: "宋体"'>
							{leaveContent}
						</div>
						<div style='margin-left:80px; margin-top:10px;margin-right:80px;word-spacing:2px;line-height:1.7em;text-indent:40px;font-size:17px;text-align:justify;font-family: "宋体"'>
							{leaveRemark}，其在外的一切业务活动均不代表我公司，但与我公司签订的保密协议仍然有效，如有违反必追究相关责任。
						</div>
						<div style='margin-left:80px;margin-top:10px;margin-right:80px;word-spacing:2px;line-height:1.7em;text-indent:40px;font-size:17px;text-align:justify;font-family: "宋体"'>
							特此证明!
						</div>
						<br/>
						<br/>
						<div style='margin-left:80px;margin-right:100px;word-spacing:2px;line-height:1.7em;text-indent:40px;font-size:17px;text-align:right;font-family: "宋体"'>
							{companyName}
							<br/>
							{todayYear}年{todayMon}月{todayDay}日&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						</div>
					</td>
				</tr>
				<tr >
					<td colspan="4" style='font-size:22px;word-spacing:2px;text-align:center;font-family: "宋体"'>
						--------------------------------------------------------------<br/><br/>
					</td>
				</tr>
				<tr >
					<td colspan="4" style='font-size:20px;word-spacing:2px;text-align:center;font-family: "宋体"'>
						离 职 证 明<br/><br/>
					</td>
				</tr>
				<tr >
					<td colspan="4" >
						<div style='margin-left:80px;margin-right:80px;word-spacing:2px;line-height:1.5em;text-indent:40px;font-size:17px;text-align:justify;font-family: "宋体"'>
							{leaveContent}
						</div>
						<div style='margin-left:80px; margin-top:10px;margin-right:80px;word-spacing:2px;line-height:1.7em;text-indent:40px;font-size:17px;text-align:justify;font-family: "宋体"'>
							{leaveRemark}，其在外的一切业务活动均不代表我公司，但与我公司签订的保密协议仍然有效，如有违反必追究相关责任。
						</div>
						<div style='margin-left:80px;margin-top:10px;margin-right:80px;word-spacing:2px;line-height:1.7em;text-indent:40px;font-size:17px;text-align:justify;font-family: "宋体"'>
							特此证明!
						</div>
						<br/>
						<br/>
						<div style='margin-left:80px;margin-right:100px;word-spacing:2px;line-height:1.7em;text-indent:40px;font-size:17px;text-align:right;font-family: "宋体"'>
							{companyName}
							<br/>
							{todayYear}年{todayMon}月{todayDay}日&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						</div>
					</td>
				</tr>
				<tr>
					<td colspan="4" >
						<div style='margin-left:80px;margin-right:80px;word-spacing:2px;line-height:1.5em;font-size:17px;text-align:justify;font-family: "宋体"'>
							本证明内容无误，本人已经签收。<br>
							员工签名：
						</div>
					</td>
				</tr>

			</table>
	</div>