<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" " http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns=" http://www.w3.org/1999/xhtml">
<head>
	<title>批量打印确认</title>
	{#commonInclude#}
	<script type="text/javascript" src="{#jsPath#}/yxcombogrid-printleave.js" ></script>
	<script type="text/javascript" src="{#jsPath#}/leave-confirmation.js" ></script>
</head>
<body>
	<form id="form1" method="post" action="?model=hr_leave_leave&action=printAll" target="_blank" onsubmit="return sub();">
		<table class="form_main_table">
			<tr>
				<td colspan="4">
					<div class="main_head">
						<span class="main_head_title">
							批量打印确认
						</span>
					</div>
				</td>
			</tr>
			<tr>
				<td class="form_text_left"><span >已选择:</span></td>
				<td class="form_text_right">
					{checked}
				</td>
			</tr>
			<tr>
				<td class="form_text_left"><span >添加打印:</span></td>
				<td class="form_text_right">
					<input type="text" class="txtlong" id="userName" name="leave[userName]" readonly/>
					<input type="hidden" class="txt" id="ids" name="leave[ids]" />
				</td>
			</tr>
			<tr>
				<td class="txt_btn" colspan="4">
					<input type="submit" class="txt_btn_a" value=" 打  印 " />&nbsp;&nbsp;
					<input type="button" class="txt_btn_a" value=" 关  闭 " onclick="closeFun();"/>
				</td>
			</tr>
		</table>
	</form>
</body>
</html>