<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en_US" xml:lang="en_US">
<head>
	<title>查看工资交接单</title>
      {#commonInclude#}
   <script type="text/javascript" src="{#jsPath#}/salarydoc-view.js" ></script>  
</head>
<body>

<table class="form_main_table">
<tr>
	<td colspan="4">
      <div class="main_head">
          <span class="main_head_title">
            	查看工资交接单信息
          </span>
      </div>
   </td>
</tr>
<tr>
		<td class="form_text_left">离职单ID</td>
		<td class="form_text_right">
			{leaveId}
		</td>
</tr>     
<tr>
		<td class="form_text_left">员工编号</td>
		<td class="form_text_right">
			{userNo}
		</td>
</tr>     
<tr>
		<td class="form_text_left">员工账号</td>
		<td class="form_text_right">
			{userAccount}
		</td>
</tr>     
<tr>
		<td class="form_text_left">员工姓名</td>
		<td class="form_text_right">
			{userName}
		</td>
</tr>     
<tr>
		<td class="form_text_left">部门名称</td>
		<td class="form_text_right">
			{deptName}
		</td>
</tr>     
<tr>
		<td class="form_text_left">部门Id</td>
		<td class="form_text_right">
			{deptId}
		</td>
</tr>     
<tr>
		<td class="form_text_left">职位名称</td>
		<td class="form_text_right">
			{jobName}
		</td>
</tr>     
<tr>
		<td class="form_text_left">职位id</td>
		<td class="form_text_right">
			{jobId}
		</td>
</tr>     
<tr>
		<td class="form_text_left">编制（公司）</td>
		<td class="form_text_right">
			{companyName}
		</td>
</tr>     
<tr>
		<td class="form_text_left">编制id</td>
		<td class="form_text_right">
			{companyId}
		</td>
</tr>     
<tr>
		<td class="form_text_left">入职日期</td>
		<td class="form_text_right">
			{entryDate}
		</td>
</tr>     
<tr>
		<td class="form_text_left">离职日期</td>
		<td class="form_text_right">
			{quitDate}
		</td>
</tr>     
<tr>
		<td class="form_text_left">离职原因</td>
		<td class="form_text_right">
			{quitReson}
		</td>
</tr>     
<tr>
		<td class="form_text_left">离职类型</td>
		<td class="form_text_right">
			{quitTypeCode}
		</td>
</tr>     
<tr>
		<td class="form_text_left">离职类型名称</td>
		<td class="form_text_right">
			{quitTypeName}
		</td>
</tr>     
<tr>
		<td class="form_text_left">创建人</td>
		<td class="form_text_right">
			{createName}
		</td>
</tr>     
<tr>
		<td class="form_text_left">创建人ID</td>
		<td class="form_text_right">
			{createId}
		</td>
</tr>     
<tr>
		<td class="form_text_left">创建时间</td>
		<td class="form_text_right">
			{createTime}
		</td>
</tr>     
<tr>
		<td class="form_text_left">修改人</td>
		<td class="form_text_right">
			{updateName}
		</td>
</tr>     
<tr>
		<td class="form_text_left">修改人ID</td>
		<td class="form_text_right">
			{updateId}
		</td>
</tr>     
<tr>
		<td class="form_text_left">修改时间</td>
		<td class="form_text_right">
			{updateTime}
		</td>
</tr>     
<tr>
		<td class="form_text_left">审核状态</td>
		<td class="form_text_right">
			{ExaStatus}
		</td>
</tr>     
<tr>
		<td class="form_text_left">审核日期</td>
		<td class="form_text_right">
			{ExaDT}
		</td>
</tr>     
   
      </table>
		<div id="itemTable"></div>
      <table class="form_main_table"><tr>
		<td class="txt_btn" colspan="4">
         <input  type="hidden" id="id"  value="{id}" />
	      <input  type="button" class="txt_btn_a" value=" 关  闭 " onclick="self.parent.tb_remove();"/>
		</td>
</tr>
</table>
</body>
</html>