<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" " http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns=" http://www.w3.org/1999/xhtml">
<head>
	<title>离职工资结算清单模板</title>
   {#commonInclude#}

   <script type="text/javascript" src="js/jquery/combo/business/yxcombogrid-jobs.js"></script>
   <script type="text/javascript" src="{#jsPath#}/salarytplate-add.js" ></script>

</head>

<body>
   <form id="form1" method="post" action="?model=hr_leave_salarytplate&action=add" >
      <table class="form_main_table">
      	<tr>
      		<td colspan="4">
            <div class="main_head">
             <span class="main_head_title">
               	离职工资结算清单模板
             </span>
            </div>
            </td>
         </tr>
      <tr>
      		<td class="form_text_left">方案名称</td>
      		<td class="form_text_right" >
      			 <input type="text" class="txt" id="schemeName" name="salarytplate[schemeName]" />
      			  <input type="hidden" class="txt" id="schemeCode" name="salarytplate[schemeCode]" />
      		</td>
      		<td class="form_text_left">离职类型</td>
      		<td class="form_text_right" >
      			<!--  <input type="text" class="txt" id="leaveTypeName" name="salarytplate[leaveTypeName]" />
      			 <input type="hidden" class="txt" id="leaveTypeCode" name="salarytplate[leaveTypeCode]" /> -->
      			  <select id="leaveTypeCode" name="salarytplate[leaveTypeCode]" class="select">
      			      <option value="">...请选择...</option>
			     </select>

      		</td>
       </tr>
       <tr>
      		<td class="form_text_left">职位名称</td>
      		<td class="form_text_right" >
      			 <input type="text" class="txt" name="salarytplate[jobName]" id="jobName" readonly/>
				 <input type="hidden" class="txt" name="salarytplate[jobId]" id="jobId"/>
      		</td>

      		<td class="form_text_left">编制（公司）</td>
      		<td class="form_text_right" >
      		<!-- 	 <input type="text" class="txt" id="companyName" name="salarytplate[companyName]" />
      			  <input type="hidden" class="txt" id="companyId" name="salarytplate[companyId]" /> -->
      			<select class="select"
						name="salarytplate[companyId]" id="companyId">
					<option value='1'>世纪鼎利</option><option value='4'>广州贝软</option><option value='5'>广州贝讯</option><option value='6'>世源信通</option><option value='7'>鼎元丰和</option>
				</select><input type="hidden" name="salarytplate[companyName]" id="companyName" />
      		</td>
       </tr>
 	<tr>
      		<td class="form_text_left" >备注</td>
      		<td class="form_text_right"  colspan="3">
                  <textarea class="txt_txtarea_font" id="remark" name="salarytplate[remark]"></textarea>
      		</td>
      </tr>
		<tr>
			<td colspan="4" id="schemeAttr" class="innerTd" >
				<fieldset style="width:200"><legend style="text-align:left">
				<b>清单内容:</b> <img src="images/icon/icon002.gif" alt="新增选项" /></legend>
				<div id="itemTable"></div>
				</fieldset>
			</td>
	</tr>

     <table class="form_main_table">
     	<tr>
      		<td class="txt_btn" colspan="4">
      		   <input  type="submit" class="txt_btn_a" value=" 保  存 "/>
      		   <input  type="button" class="txt_btn_a" value=" 关  闭 " onclick="self.parent.tb_remove();"/>
      		</td>
       </tr>
      </table>
   </form>
</body>
</html>