<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en_US" xml:lang="en_US">
<head>
	<title>查看物料协议价明细表</title>
      {#commonInclude#}
   <script type="text/javascript" src="{#jsPath#}/materialequ-view.js" ></script>
</head>
<body>

<table class="form_main_table">
<tr>
	<td colspan="4">
      <div class="main_head">
          <span class="main_head_title">
            	查看物料协议价明细表信息
          </span>
      </div>
   </td>
</tr>
<tr>
		<td class="form_text_left">物料编号</td>
		<td class="form_text_right">
			{productCode}
		</td>
		<td class="form_text_left">物料名称</td>
		<td class="form_text_right">
			{productName}
		</td>
</tr>
<tr>
		<td class="form_text_left">数量下限</td>
		<td class="form_text_right">
			{lowerNum}
		</td>
		<td class="form_text_left">数量上限</td>
		<td class="form_text_right">
			{ceilingNum}
		</td>
</tr>
<tr>
		<td class="form_text_left">单价</td>
		<td class="form_text_right">
			{taxPrice}
		</td>
		<td class="form_text_left">执行有效期</td>
		<td class="form_text_right">
			{validDate}
		</td>
</tr>
<tr>
		<td class="form_text_left">供应商名称</td>
		<td class="form_text_right">
			{suppName}
		</td>
		<td class="form_text_left">是否有效</td>
		<td class="form_text_right">
			{isEffective}
		</td>
</tr>
<tr>
		<td class="form_text_left">赠送条件</td>
		<td class="form_text_right" colspan="3">
			{giveCondition}
		</td>
</tr>
<tr>
		<td class="form_text_left">备注</td>
		<td class="form_text_right" colspan="3">
			{remark}
		</td>
</tr>
   <tr>
		<td class="txt_btn" colspan="4">
         <input  type="hidden" id="id"  value="{id}" />
	      <input  type="button" class="txt_btn_a" value=" 关  闭 " onclick="self.parent.tb_remove();closeFun();"/>
		</td>
</tr>
</table>
</body>
</html>