<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" " http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>借试用</title>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<meta http-equiv="Content-Type" content="text/html;charset=gb2312" />
{#commonInclude#}
<script type="text/javascript"
	src="js/jquery/formvalidator/formValidator-4.1.1.js" charset="UTF-8"></script>
<script type="text/javascript"
	src="js/jquery/formvalidator/formValidatorRegex.js" charset="UTF-8"></script>
<script type="text/javascript"
	src="js/jquery/combo/business/yxcombogrid-province.js"></script>
<script type="text/javascript"
	src="js/jquery/combo/business/yxcombogrid-customer.js"></script>
<script type="text/javascript"
	src="js/jquery/combo/business/yxcombogrid-linkman.js"></script>
<script type="text/javascript"
	src="js/jquery/combo/business/yxcombogrid-productNo.js"></script>
<script type="text/javascript"
	src="js/jquery/combo/business/yxcombogrid-productName.js"></script>
<script type="text/javascript"
	src="js/jquery/combo/business/yxselect-user.js"></script>
<script type="text/javascript"
	src="js/jquery/combo/business/yxcombogrid-rdproject.js"></script>
<script type="text/javascript"
	src="view/template/projectmanagent/borrow/js/borrow-common.js"></script>
<script type="text/javascript"
	src="view/template/projectmanagent/borrow/js/borrow-proadd.js"></script>
<script type="text/javascript"
	src="view/template/projectmanagent/borrow/js/borrow-proedit-list.js"></script>
<script type="text/javascript"
	src="view/template/contract/contract/js/contract-deploy.js"></script>
<script type="text/javascript"
	src="js/jquery/combo/business/yxcombogrid-goods.js"></script>
<script type="text/javascript" src="js/common/dateUtil.js"></script>
<script>
	   $(function() {
		   //初始化借用期限
		   $("#timeType option").each(function(){
			   if($(this).val() == $("#timeTypeVal").val()){
				   $(this).attr("selected","selected");
			   }
		   })
	   });
       function toApp(){
			document.getElementById('form1').action = "index1.php?model=projectmanagent_borrow_borrow&action=edit&act=app";

		}
		function toSave(){
			document.getElementById('form1').action = "index1.php?model=projectmanagent_borrow_borrow&action=edit";
		}
		function toStorage(){
           document.getElementById('form1').action = "index1.php?model=projectmanagent_borrow_borrow&action=edit&sto=sto";
		}
        function submitR(){
	         var code = $("#Code").val();
		         if(code == ''){
		            alert("编号不能为空");
		            return false;
		         }
             var beginTime = $("#beginTime").val();
             var closeTime = $("#closeTime").val();
                 if(beginTime == '' || closeTime == ''){
                    alert("请正确填写开始或截止日期");
                    return false;
                 }
             var timeType = $("#timeType").val();
                 if(timeType == ''){
                    alert("请选择借用期限");
                    return false;
                 }
             var codeTip = $("#codeTip").val();
                 if(codeTip == '1'){
                    alert("请正确填写编号");
                    return false;
                 }
             var deliveryDate = $("#deliveryDate").val();
              if(deliveryDate == ""){
                 alert("请填写交货日期");
                 return false;
              }
	            return true;
	     }


    </script>
</head>

<body>

<form action="?model=projectmanagent_borrow_borrow&action=edit"
	id="form1" method="post" onsubmit="return submitR();">

<table class="form_main_table">
	<div class="main_head"><span class="main_head_title">员工个人借试用申请表</span></div>
	<tr>
		<div id="msg"></div>
	</tr>
	<tr>
		<td colspan="6" class="innerTd">
		<fieldset style="width:200"><legend style="text-align:left"><b>基本信息</b></legend>
		<table cellpadding="2" width="100%" id="contractinfo"
			style="bcontract-collapse:collapse;background-color:#F3F6FA;">
			<tr>
				<td class="form_text_left"><span style="color:blue">编号</span></td>
				<td class="form_view_right"><input class="txt" type="text"
					name="borrow[Code]" id="Code" value="{Code}"
					onblur="ajaxCodeedit()" /> <input type="hidden" id="codeTip" /></td>
				<td class="form_text_left">类型</td>
				<td class="form_view_right">
				   <input type="hidden" id="borrowType" value="{Type}" />
				   <select class="select" name="borrow[Type]" id="Type"></td>
			</tr>
			<tr>
				<td class="form_text_left">研发项目名称</td>
				<td class="form_view_right"><input type="text"
					name="borrow[rdprojectName]" class="txt" id="rdprojectName"
					value="{rdprojectName}" /> <input type="hidden"
					name="borrow[rdprojectId]" id="rdprojectId" value="{rdprojectId}" />
				</td>
				<td class="form_text_left">研发专项编号</td>
				<td class="form_view_right"><input type="text"
					name="borrow[rdprojectCode]" class="readOnlyText" readonly
					id="rdprojectCode" value="{rdprojectCode}" /></td>
			</tr>
			<tr>

				<td class="form_text_left"><span style="color:blue">开始日期</span></td>
				<td class="form_text_right"><input type="text" class="txt"
					name="borrow[beginTime]" id="beginTime" onfocus="WdatePicker()"
					value="{beginTime}" /></td>
				<td class="form_text_left"><span style="color:blue">截止日期</span></td>
				<td class="form_text_right"><input type="text" class="txt"
					name="borrow[closeTime]" id="closeTime" onfocus="WdatePicker()"
					value="{closeTime}" onblur="borrowTime();" /></td>
			</tr>
			<tr>
			    <td class="form_text_left"><span style="color:blue">交货日期</span></td>
			    <td class="form_text_right">
	                 <input type="text" class="txt" name="borrow[deliveryDate]" id="deliveryDate" onfocus="WdatePicker()" value="{deliveryDate}"/>
			    </td>
			    <td  class="form_text_left">所属板块</td>
			<td class="form_view_right">
				<select class="select" name="borrow[module]" id="module">
				   {module}
				</select>
			</td>
		    </tr>
			<tr>
				<td class="form_text_left">申请人</td>
				<td class="form_view_right"><input type="text"
					class="readOnlyText" name="borrow[createName]" value="{createName}"
					readonly="readonly" /> <input type="hidden" name="borrow[createId]"
					value="{createId}" /> <input type="hidden"
					name="borrow[createTime]" value="{createTime}" /></td>
				<td class="form_text_left"><span style="color:blue">借用期限</span></td>
				<td class="form_view_right"><select class="select"
					name="borrow[timeType]" id="timeType">
					<option value="">请选择</option>
					<option value="短期借用">短期借用</option>
					<option value="长期借用">长期借用</option>
				</select>
				<input type="hidden" value="{timeType}" id="timeTypeVal"/>
				</td>
			</tr>
			<tr>
				<td class="form_text_left">所在部门</td>
				<td class="form_view_right">
                    <input type="text" class="txt" name="borrow[createSection]" id="createSection" value="{createSection}" readonly="readonly" />
                    <input type="hidden" name="borrow[createSectionId]" id="createSectionId" value="{createSectionId}" /></td>
				<td class="form_text_left">范围</td>
				<td class="form_view_right"><input type="text"
					class="readOnlyText" name="borrow[limits]" id="limits" value="员工"
					readonly="readonly" /></td>
			</tr>
			<tr>
				<td class="form_text_left">申请理由</td>
				<td class="form_text_right" colspan="3"><textarea
					name="borrow[reason]" id="reason" class="txt_txtarea_font1000"
					cols="136">{reason}</textarea></td>
			</tr>
			<tr>
				<td class="form_text_left">备注</td>
				<td class="form_text_right" colspan="3"><textarea
					name="borrow[remark]" id="remark" class="txt_txtarea_font1000"
					cols="136">{remark}</textarea></td>
			</tr>
		</table>
		</fieldset>
		</td>
	</tr>

	<!--		<tr style="display:none" id="tomail">-->
	<!--		    <td class="form_text_left">仓库确认邮件接收人</td>-->
	<!--			<td class="form_text_right" colspan="3">-->
	<!--				 <input type="text" id="outstockman" class="readOnlyTxt" readonly="readonly" name="borrow[affirmName]" value="{tostorageName}"/>-->
	<!--				 <input type="hidden" id="outstockmanId" class="txt" name="borrow[affirmNameId]" value="{tostorageNameId}"/>-->
	<!--	        </td>-->
	<!--		</tr>-->
	<!--		<tr id="tomail2">-->
	<!--		   <td class="form_text_left">邮件通知确认信息</td>-->
	<!--			<td class="form_text_right" colspan="3">-->
	<!--				 <textarea class="txt_txtarea_font" id="" name="borrow[affirmRemark]"></textarea>-->
	<!--	        </td>-->
	<!--		</tr>-->
	<tr id="productH" style="display:none;text-align:left;">
		<td><b onclick="hideList('product');">产品清单</b> <img
			src="images/icon/icon002.gif" onclick="hideList('product');"
			title="展开" alt="新增选项" /></td>
	</tr>
	<tr id="product">
		<td colspan="6" class="innerTd">
		<fieldset style="width:200"><legend style="text-align:left">
		<b onclick="hideList('product');">产品清单</b> <img
			src="images/icon/icon002.gif" onclick="hideList('product');"
			title="隐藏" alt="新增选项" /></legend>
		<div id="productInfo"></div>
		</fieldset>
		</td>
	</tr>
	<!--<tr>-->
	<!--<td colspan="4">-->
	<!--<table class="form_main_table" id="mytable">-->
	<!--	<thead>-->
	<!--		<tr align="left">-->
	<!--			<td colspan="10" class="form_header">产品清单</td>-->
	<!--			<td align="center" width="4%">-->
	<!--			  <input type="hidden" id="productNumber" value="{productNumber}" />-->
	<!--			  <img src="images/verpic_open.gif" onclick="dis('invbody')" title="缩放" />-->
	<!--			  <img src="images/collapsed.gif" onclick="dynamic_add('invbody','productNumber');" title="添加行" /></td>-->
	<!--		</tr>-->
	<!--		<tr class="main_tr_header">-->
	<!--			<td style="text-align:center" width="5%">序号</td>-->
	<!--			<td style="text-align:center" width="10%">产品编号</td>-->
	<!--			<td style="text-align:center" width="16%">产品名称</td>-->
	<!--			<td style="text-align:center" width="9%">型号/版本</td>-->
	<!--			<td style="text-align:center" width="8%">数量</td>-->
	<!--			<td style="text-align:center" width="8%">单位</td>-->
	<!--			<td style="text-align:center" width="8%">单价</td>-->
	<!--			<td style="text-align:center" width="8%">金额</td>-->
	<!--			<td style="text-align:center" width="8%">保修期</td>-->
	<!--			<td style="text-align:center" width="8%">加密配置</td>-->
	<!--			<td style="text-align:center" width="5%">操作</td>-->
	<!--		</tr>-->
	<!--	</thead>-->
	<!--	<tbody id="invbody">-->
	<!--		{borrowequ}-->
	<!--	</tbody>-->
	<!--	</table>-->
	<!--	</td>-->
	<!--	</tr>-->

	<tr>
		<td colspan="4">
		<table class="main_table">
			<tr>
				<td class="txt_btn" colspan="4"><input type="hidden"
					name="borrow[borrowInput]" value="{borrowInput}" id="borrowInput" />
				<input type="hidden" name="borrow[id]" value="{id}" id="borrowId" />
				<input type="submit" class="txt_btn_a" value=" 保  存 " /> <!--				<input type="submit" id="isstorage" class="txt_btn_a"  value=" 仓管确认 " onclick="toStorage();" />-->
				<input type="submit" class="txt_btn_a" value=" 提  交 "
					onclick="toApp();" /> <input type="button" class="txt_btn_a"
					value=" 关  闭 " onclick="window.close();" /></td>
			</tr>

		</table>
		</td>
	</tr>
</table>
</form>
</body>