<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en_US" xml:lang="en_US">
<head>
<title></title>
<meta http-equiv="Content-Type" content="text/html;charset=gb2312" />
	<link rel="stylesheet" type="text/css" href="css/yxstyle.css" />
	<link rel="stylesheet" type="text/css" href="js/jquery/style/Validator.css"/>
	<link rel="stylesheet" type="text/css" href="js/jquery/style/yxgrid.css" />
	<link rel="stylesheet" type="text/css" href="js/jquery/style/yxmenu.css" media="screen" />
	<link rel="stylesheet" type="text/css" href="js/jquery/style/yxmenu.theme.css" media="screen" />
	<link rel="stylesheet" type="text/css" href="js/thickbox.css" media="screen" />

	<script type="text/javascript" src="js/jquery/jquery-1.4.2.js"></script>
	<script type="text/javascript" src="js/common/businesspage.js"> </script>

	<script type="text/javascript" src="js/jquery/woo.js"></script>
	<script type="text/javascript" src="js/jquery/component.js"></script>
	<script type="text/javascript" src="js/jquery/dump.js"></script>
	<script type="text/javascript" src="js/jquery/combo/yxcombo.js"></script>
	<script type="text/javascript" src="js/jquery/grid/yxsgrid.js"></script>
	<script type="text/javascript" src="js/jquery/grid/yxgrid.js"></script>
	<script type="text/javascript" src="js/jquery/combo/yxcombogrid.js"></script>
	<script type="text/javascript" src="js/jquery/grid/yxsubgrid.js"></script>
<!--	<script type="text/javascript" src="js/jquery/combo/business/yxcombogrid-allorder.js"></script>-->
	<script type="text/javascript" src="js/jquery/combo/business/yxcombogrid-allcontract.js"></script>
	<script type="text/javascript" src="js/validate.js"> </script>
	<script type="text/javascript" src="js/jquery/formValidator.js" charset="UTF-8"></script>
	<script type="text/javascript" src="js/jquery/formValidatorRegex.js" charset="UTF-8"></script>
	<script type="text/javascript" src="js/DatePicker/WdatePicker.js"> </script>
	<script type="text/javascript" src="js/thickbox.js"></script>
	<script type="text/javascript" src="view/template/projectmanagent/borrow/js/borrow-toorder.js"></script>
</head>
<body>

<table class="form_main_table">
    <tr>
        <td>
           <b>请选择借试用转销售单据是否关联合同</b>
        </td>
    </tr>
	<tr>
		<td class="txt_btn" colspan="4">
			<input type="hidden" value="{borrowId}" id="borrowId"/>
			<b>操作类型:</b>
		      <input type="radio" name="operate"   value="无关联合同"  onclick="operate()" checked />无关联合同
              <input type="radio" name="operate"   value="有关联合同"  onclick="operate()" />有关联合同
		</td>
	</tr>
<!--	<tr id="orderTypeDis">-->
<!--		    <td>-->
<!--		       <b>合同类型:</b>-->
<!--		      <input type="radio" name="orderType"   value="销售合同"  />销售合同-->
<!--              <input type="radio" name="orderType"   value="服务合同"  />服务合同-->
<!--              <input type="radio" name="orderType"   value="租赁合同"  />租赁合同-->
<!--              <input type="radio" name="orderType"   value="研发合同"  />研发合同-->
<!--		    </td>-->
<!--	</tr>-->
	<tr id="orderDis" style="display:none">
		    <td>
		       <b>选择合同:</b>
               <input type="text" class="txt" name="contractCode" id="contractCode" />
               <input type="hidden" name="contractType" id="contractType" />
               <input type="hidden" name="contractId" id="contractId" />
		    </td>
	</tr>
	<tr>
	         <td>
	           <input type="hidden" id="userId" value="{userId}" />
	           <input type="hidden" id="isNum" value="{isNum}" />
		       <input type="submit" class="txt_btn_a" value="  确 定  " onclick="sub();"/>&nbsp&nbsp&nbsp&nbsp
		       <input type="submit" class="txt_btn_a" value="  取 消  " onclick="self.parent.tb_remove();" />
		    </td>
	</tr>

</table>
</body>
</html>