<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en_US" xml:lang="en_US">
<head>
	<title>查看收料详细情况</title>
	<meta http-equiv="Content-Type" content="text/html;charset=gb2312"/>
	<link rel="stylesheet" type="text/css" href="css/yxstyle2.css"/>

	<script type="text/javascript" src="js/jquery/jquery-1.4.2.js"></script>
	<script type="text/javascript" src="js/jquery/woo.js"></script>
	<script type="text/javascript" src="js/jquery/component.js"></script>
	<script type="text/javascript" src="js/jquery/dump.js"></script>
	<script type="text/javascript" src="js/jquery/combo/yxcombo.js"></script>
	<script type="text/javascript" src="js/jquery/grid/yxsgrid.js"></script>
	<script type="text/javascript" src="js/jquery/grid/yxgrid.js"></script>
	<script type="text/javascript" src="js/jquery/combo/yxcombogrid.js"></script>
	<script type="text/javascript" src="js/thickbox.js"></script>
	<script type="text/javascript" src="js/common/businesspage.js"></script>
</head>
<body>
<div class="main_head">
    <span class="main_head_title">
      	查看采购订单：<b><span class="red">{orderCode}</span></b>的收料详细情况
    </span>
</div>
<div>
<table id="mytable" class="main_table">
			<thead>
				<tr class="main_tr_header">
					<th rowspan="2">序号</th>
					<th rowspan="2">物料名称</th>
					<th rowspan="2">规格型号</th>
					<th rowspan="2">单位</th>
					<th width="80%" class="td_table">
						<table class="main_table_nested">
							<tr>
								<th colspan="8">收料详细</th>
							</tr>
							<tr>
								<th width="5%">序号</th>
								<th width="20%">收料单号</th>
								<th width="30%">批次号</th>
								<th width="10%">收料数量</th>
								<th width="10%">已入库数量</th>
								<th width="5%">月份</th>
								<th width="10%">收料日期</th>
								<th width="10%">质检方式</th>
							</tr>
						</table>
					</th>
				</tr>
			</thead>
			<tbody id="invbody">
			{list}
			</tbody>
</table>
<table class="form_main_table">
		<tr>
				<td class="txt_btn" colspan="4">
				   <input  type="button" class="txt_btn_a" value=" 关  闭 " onclick="closeFun();"/>
				</td>
		</tr>
</table>
</div>
</body>
</html>