<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>采购订单明细表
		</title>
		<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
		<link rel="stylesheet" type="text/css" href="css/yxstyle.css" />
		<link rel="stylesheet" type="text/css" href="js/jquery/style/yxgrid.css"/>
		<link rel="stylesheet" type="text/css" href="js/jquery/style/yxmenu.css"media="screen" />
		<link rel="stylesheet" type="text/css" href="js/jquery/style/yxmenu.theme.css"media="screen" />

		<script type="text/javascript" src="js/jquery/jquery-1.4.2.js"></script>
		<script type="text/javascript" src="js/common/businesspage.js"></script>
		<script type="text/javascript" src="js/DatePicker/WdatePicker.js"></script>

		<script type="text/javascript" src="js/jquery/woo.js"></script>
		<script type="text/javascript" src="js/jquery/component.js"></script>

		<script type="text/javascript" src="js/jquery/combo/yxcombo.js"></script>
		<script type="text/javascript" src="js/jquery/grid/yxsgrid.js"></script>
		<script type="text/javascript" src="js/jquery/grid/yxgrid.js"></script>
		<script type="text/javascript" src="js/jquery/combo/yxcombogrid.js"></script>
	<script type="text/javascript" src="js/jquery/combo/business/yxselect-user.js"></script>

		<script type="text/javascript" src="js/jquery/combo/business/yxcombogrid-supplier.js"></script>
		<script type="text/javascript" src="js/jquery/combo/business/yxcombogrid-product.js"></script>

		<script type="text/javascript" src="view/template/purchase/contract/js/purchasecontract-search.js"></script>
	</head>
	<body>
		<div class="main_head">
			<span class="main_head_title">采购订单明细表
			</span>
		</div>
		<form id="form1" action="?" method="get">
			<table class="form_main_table">
				<tr>
					<td class="form_text_left">
						单据日期 从
					</td>
					<td class="form_text_right">
						<input type="text" class="txt" name="purchasecontract[beginTime]" id="beginTime" value="{beginDate}"  onfocus="WdatePicker()" readonly /> 至
						<input type="text" class="txt" name="purchasecontract[endTime]" id="endTime" value=""  onfocus="WdatePicker()" readonly />
					</td>
				</tr>
				<tr>
					<td class="form_text_left">
						供应商
					</td>
					<td class="form_text_right">
						<input type="hidden" name="purchasecontract[suppId]" id="suppId"/>
						<input type="text" name="purchasecontract[suppName]" id="suppName" class="txt"/>
					</td>
				</tr>
				<tr>
					<td class="form_text_left">
						物料代码
					</td>
					<td class="form_text_right">
						<input type="hidden" name="purchasecontract[productId]" id="productId"/>
						<input type="text" name="purchasecontract[productNumb]" id="productNumb" class="txt" readonly=false/>
					</td>
				</tr>
				<tr>
					<td class="form_text_left">
						物料名称
					</td>
					<td class="form_text_right">
						<input type="hidden" name="productId" id="productId"/>
						<input type="text" name="purchasecontract[productName]" id="productName" class="txt"/>
					</td>
				</tr>
				<tr>
					<td class="form_text_left">
						业务员
					</td>
					<td class="form_text_right">
						<input type="hidden" name="purchasecontract[sendUserId]" id="sendUserId"/>
						<input type="text" name="purchasecontract[sendName]" id="sendName" class="txt" readonly/>
					</td>
				</tr>
				<tr>
					<td colspan="2">
						<input type="hidden" name="model" value="purchase_contract_purchasecontract"/>
						<input type="hidden" name="action" value="toOrderListList"/>
						<input type="submit" class="txt_btn_a" value="确 定"/>
					</td>
				</tr>
			</table>
		</form>
	</body>
</html>
