<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en_US" xml:lang="en_US">
<head>
	<title>查看设备分类信息</title>
	<meta http-equiv="Content-Type" content="text/html;charset=gb2312"/>
	<link rel="stylesheet" type="text/css" href="css/yxstyle.css"/>
	<link rel="stylesheet" type="text/css" href="js/thickbox.css"/>
	<link rel="stylesheet" type="text/css" href="js/jquery/style/Validator.css"/>

	<script type="text/javascript" src="js/jquery.js"></script>
	<script type="text/javascript" src="js/thickbox.js"></script>

	<script type="text/javascript" src="js/common/businesspage.js"></script>

</head>
<body>

<table class="form_main_table">
<tr>
	<td colspan="4">
      <div class="main_head">
          <span class="main_head_title">
            	查看设备分类信息信息
          </span>
      </div>
   </td>
</tr>
<tr>
		<td class="form_text_left">设备分类名称</td>
		<td class="form_text_right">
			{budgetType}
		</td>
</tr>
<tr>
		<td class="form_text_left">父节点名称</td>
		<td class="form_text_right">
			{parentName}
		</td>
</tr>
<tr>
		<td class="form_text_left">排序</td>
		<td class="form_text_right">
			{orderNum}
		</td>
</tr>
<tr>
		<td class="form_text_left">节点左值</td>
		<td class="form_text_right">
			{lft}
		</td>
</tr>
<tr>
		<td class="form_text_left">节点右值</td>
		<td class="form_text_right">
			{rgt}
		</td>
</tr>
   <tr>
		<td class="txt_btn" colspan="4">
	      <input  type="button" class="txt_btn_a" value=" 关  闭 " onclick="self.parent.tb_remove();"/>
		</td>
</tr>
</table>
</body>
</html>