<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" " http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns=" http://www.w3.org/1999/xhtml">
<head>
	<title>新增设备预算表</title>
   {#commonInclude#}

</head>
<body>
   <form id="form1" method="post" action="?model=equipment_budget_budget&action=editExplain" >
      <div align="center" cellpadding="5" >
         <table class="tableA" style="width:100%;">
      	<tr>
      		<td colspan="6" bgcolor="#ECECFF">
             <span>
               	  <h3>配置表说明</h3>
             </span>
            </td>
         </tr>
       <tr>
      	  <td>
             <textarea class="txt_txtarea_biglong" style="height:200px;line-height:2.0" id="content" name="explain[content]" >{content}</textarea>
      	  </td>
       </tr>
  </table>
  <table class="tableA" style="width:100%;">
          <tr>
      		<td class="txt_btn" colspan="6">
      		   <input  type="submit" class="txt_btn_a" value=" 确  认 "/>
<!--      		   <input  type="button" class="txt_btn_a" value=" 关  闭 " onclick="closeFun();"/>-->
      		</td>
       </tr>
      </table>
      </div>
   </form>
</body>
</html>