<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" " http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns=" http://www.w3.org/1999/xhtml">
<head>
	<title>编辑设备信息</title>
   {#commonInclude#}
   <script type="text/javascript" src="{#jsPath#}/deploy-edit.js" ></script>
</head>
<body>
   <form id="form1" method="post" action="?model=equipment_budget_deploy&action=edit" >
      <table class="form_main_table">
      	<tr>
      		<td colspan="4">
            <div class="main_head">
             <span class="main_head_title">
               	编辑设备信息
             </span>
            </div>
            </td>
         </tr>
       <tr>
      		<td class="form_text_left">设备名称</td>
      		<td class="form_text_right" >
      			 <input type="text" class="readOnlyTxtNormal" readonly id="name" name="deploy[name]" value="{name}"/>
      		</td>
      	</tr>
      	<tr>
      		<td class="form_text_left">备注</td>
      		<td class="form_text_right" >
      			<textarea style="width:500px;" class="txt_txtarea_font" name="deploy[remark]">{remark}</textarea>
      		</td>
       </tr>
       <tr>
		<td colspan="6" >
			<fieldset style="width:200">
			  <legend class="legend" onclick="showAndHideDiv('infoImg','info')">详细描述
				<img src="images/icon/info_up.gif" id="infoImg" />
			  </legend>
			    <div id="info"></div>
			</fieldset>
		</td>
	   </tr>
          <tr>
      		<td class="txt_btn" colspan="4">
      		   <input type="hidden"  id="deployId" name="deploy[id]" value="{id}" />
      		   <input type="hidden"  id="equId" name="deploy[equId]" value="{equId}" />
      		   <input  type="submit" class="txt_btn_a" value=" 保  存 "/>
      		   <input  type="button" class="txt_btn_a" value=" 关  闭 " onclick="closeFun();"/>
      		</td>
       </tr>
      </table>
   </form>
</body>
</html>