<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en_US" xml:lang="en_US">
<head>
	<title>查看盘点任务数据</title>
	<meta http-equiv="Content-Type" content="text/html;charset=gb2312"/>
	<link rel="stylesheet" type="text/css" href="css/yxstyle.css"/>
	<link rel="stylesheet" type="text/css" href="js/thickbox.css"/>
	<link rel="stylesheet" type="text/css" href="js/jquery/style/Validator.css"/>

	<script type="text/javascript" src="js/jquery.js"></script>
	<script type="text/javascript" src="js/thickbox.js"></script>

	<script type="text/javascript" src="js/common/businesspage.js"></script>


</head>
<body>
<div class="main_head">
    <span class="main_head_title">
      	查看盘点任务数据
    </span>
</div>

<table class="form_main_table">
<tr>
		<td class="form_text_left">任务编号</td>
		<td class="form_text_right">
			{taskNo}
		</td>

		<td class="form_text_left">开始时间</td>
		<td class="form_text_right">
			{beginDate}
		</td>
</tr>
<tr>
		<td class="form_text_left">结束时间</td>
		<td class="form_text_right">
			{endDate}
		</td>
		<td class="form_text_left">盘点人</td>
		<td class="form_text_right" >
			{man}
		</td>
</tr>
<tr>

		<td class="form_text_left">盘点部门</td>
		<td class="form_text_right" colspan="3">
			{dept}
		</td>
</tr>
	<tr>
		<td class="form_text_left">备注</td>
		<td class="form_view_right" colspan="3">
			<p style="padding:10px 5px 10px 5px;">
				<font size="2">
                    	{remark}
				</font>
                <br>
             </p>
     	</td>
	</tr>
<tr>


		<td class="txt_btn" colspan="4">
	      <input  type="button" class="txt_btn_a" value=" 关  闭 " onclick="closeFun();"/>
		</td>
</tr>
</table>
</body>
</html>