<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" " http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns=" http://www.w3.org/1999/xhtml">
<head>
	<title>编辑项目成员</title>
    {#commonInclude#}
	<script type="text/javascript" src="js/jquery/combo/business/yxcombogrid-esmrole.js" ></script>
    <script type="text/javascript" src="{#jsPath#}/esmmember-edit.js" ></script>
	<script type="text/javascript" src="{#jsPath#}/esmmember-common.js" ></script>
</head>
<body>
<form id="form1" method="post" action="?model=engineering_member_esmmember&action=edit" >
<table class="form_main_table">
      	<tr>
      		<td colspan="6">
				<div class="main_head2">
            		<span class="main_head_title">
               			编辑项目成员
            		</span>
           		</div>
			</td>
		</tr>
        <tr>
      		<td class="form_text_left_three">
      			<span class="blue">人员姓名</span>
      		</td>
      		<td class="form_text_right_three" >
      			<input type="text" class="readOnlyTxtNormal" name="esmmember[memberName]" id="memberName" value="{memberName}" readonly/>
      			<input type="hidden" name="esmmember[memberId]" id="memberId" value="{memberId}"/>
      		</td>
      		<td class="form_text_left_three">人员级别</td>
      		<td class="form_text_right_three" >
      			<input type="text" class="readOnlyTxtNormal" name="esmmember[personLevel]" id="personLevel" value="{personLevel}" readonly/>
      			<input type="hidden" id="personLevelId" name="esmmember[personLevelId]" value="{personLevelId}"/>
      		</td>
      		<td class="form_text_left_three">所属项目</td>
      		<td class="form_text_right_three" >
      			<input type="text" class="readOnlyTxtNormal" name="esmmember[projectName]" value="{projectName}" readonly />
      			<input type="hidden" name="esmmember[projectCode]" value="{projectCode}"/>
      			<input type="hidden" name="esmmember[projectId]" id="projectId" value="{projectId}"/>
      		</td>
        </tr>
        <tr>
      		<td class="form_text_left_three">加入项目</td>
      		<td class="form_text_right_three" >
      			 <input type="text" class="txt Wdate" id="beginDate" value="{beginDate}" name="esmmember[beginDate]" onfocus="WdatePicker()"/>
      		</td>
      		<td class="form_text_left_three">离开项目</td>
      		<td class="form_text_right_three" >
      			 <input type="text" class="txt Wdate" id="endDate" value="{endDate}" name="esmmember[endDate]" onfocus="WdatePicker()" />
      		</td>
      		<td class="form_text_left_three">角色名称</td>
      		<td class="form_text_right_three" >
      			 <input type="text" class="readOnlyTxtNormal" name="esmmember[roleName]" id="roleName" value="{roleName}" readonly="readonly" readonly/>
      			 <input type="hidden" name="esmmember[roleId]" id="roleId" value="{roleId}"/>
      		</td>
		</tr>
		<tr>
			<td class="form_text_left_three">状态</td>
      		<td class="form_text_right_three" colspan="5">
      			 <input type="text" class="readOnlyTxtNormal" id ="statusName" readonly="readonly" readonly/>
      			 <input type="hidden" name="esmmember[status]" id="status" value="{status}"/>
      		</td>
		</tr>
        <tr>
      		<td class="form_text_left_three">备注说明</td>
			<td class="form_view_right" colspan="5">
				<textarea class="txt_txtarea_biglong" name="esmmember[remark]">{remark}</textarea>
			</td>
        </tr>
		<tr>
      		<td class="txt_btn" colspan="6">
      			<input type="hidden" name="esmmember[coefficient]" id="coefficient" value="{coefficient}"/>
      			<input type="hidden" name="esmmember[price]" id="price" value="{price}"/>
      			<input type="hidden" name="esmmember[id]" id="id" value="{id}"/>
      			<input type="hidden" id="isManager" value="{isManager}"/>
      		    <input  type="submit" class="txt_btn_a" value=" 保  存 "/>
      		    <input  type="button" class="txt_btn_a" value=" 关  闭 " onclick="closeFun();"/>
      		</td>
		</tr>
	</table>
</form>
</body>
</html>