<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=GBK" />
   <title>项目成员现状</title>
     {#commonInclude#}
   <script type="text/javascript" src="view/template/engineering/member/js/esmmember-grid-current.js"></script>
</head>
<body>
	<table class="main_table_search">
		<tr>
			<td>
				人力资源现状 : 统计周期：
				<input type="text" id="beginDate" value="{beginDate}" class="Wdate txtmiddle" style="width:90px;" onfocus="WdatePicker();" onchange="changeRange();"/>
				至
				<input type="text" id="endDate" value="{endDate}" class="Wdate txtmiddle" style="width:90px;" onfocus="WdatePicker();" onchange="changeRange();"/>
				<input type="hidden" id="projectId" value="{projectId}"/>

				<input type="button" id="returnDefualtWeek" class="txt_btn_a" value="当前" onclick="returnCurrent();" style="height:24px;" onmouseover="this.style.cursor='pointer';"/>
				<input type="button" id="returnUnconfirm" class="txt_btn_a" value="所有" onclick="returnAll();" style="height:24px;" onmouseover="this.style.cursor='pointer';"/>
			</td>
		</tr>
	</table>
   <div><input type="hidden" id="projectId" value="{projectId}"/></div>
   <div id="esmmemberGrid" style="display: none;float:left;"></div>
   <div id="chart" style="float:right;"></div>
   <div style="clear:both;"></div>
   <div id="esmmemberListGrid" style="display: none;"></div>
</body>
</html>