<html>
<head>
	<title>供应商注册</title>
	<meta http-equiv="Content-Type" content="text/html;charset=gb2312"/>
	<link rel="stylesheet" type="text/css" href="css/yxstyle.css"/>
	<link rel="stylesheet" type="text/css" href="js/thickbox.css"/>

	<script type="text/javascript" src="js/jquery.js"></script>
	<script type="text/javascript" src="js/thickbox.js"></script>

	<script type="text/javascript" src="js/common/businesspage.js"></script>
	<script type="text/javascript" src="js/topoptions.js"></script>
</head>
<body>
<br>
	<table class="form_main_table">
		<tr>
			<td class="form_text_left">注册人</td>
			<td class="form_text_right" colspan="3">
				{createName}
			</td>
		</tr>
		<tr>
			<td class="form_text_left">注册时间</td>
			<td class="form_text_right" colspan="3">
				{createTime}
			</td>
		</tr>

</body>
</html>