<html>
<head>
	<title>供应商注册</title>
	<meta http-equiv="Content-Type" content="text/html;charset=gb2312"/>
	<link rel="stylesheet" type="text/css" href="css/yxstyle.css"/>
	<link rel="stylesheet" type="text/css" href="js/thickbox.css"/>

	<script type="text/javascript" src="js/jquery.js"></script>
	<script type="text/javascript" src="js/thickbox.js"></script>

	<script type="text/javascript" src="js/common/businesspage.js"></script>
	<!--
	<script type="text/javascript" src="view/template/rdproject/projecttype/js/projecttype-list.js"></script>
	-->
	<script type="text/javascript" src="view/template/supplierManage/temporary/js/stasse-add.js"></script>
</head>
<body>
<div class="main_head">
    <span class="main_head_title">
      	供应商注册 －－ 供应商评估（4/4）
    </span>
</div>
<form id="form1" method="post" action="?model=supplierManage_temporary_stasse&action=stsAdd">
	<table class="form_main_table">
		{str}
		<tr>
			<td class="form_text_left">初步评价</td>
			<td colspan="3" class="form_text_right">
				<textarea cols="80" rows="5" id="opinion" name="opinion"></textarea>
			</td>
		</tr>
		<tr>
			<td colspan="4">

				<input type="hidden" value="{productNames}" name="stasse[productNames]">
				<input type="hidden" value="{productIds}" name="stasse[productIds]">
				<input type="hidden" name="stasse[parentId]" value="{parentId}" id="parentId">
				<input type="hidden" value="{parentCode}">
				<input type="hidden" value="">
				<!--
				<input  type="button" class="txt_btn_a" onclick="history.go(-1)" value="上一步" />
				 -->
				<input type="button" class="txt_btn_a" onclick="backToEditProd();" value="上一步" />
				<input type="submit" class="txt_btn_a" value="保  存" onclick="saveSupplier();" />
				<input type="submit" class="txt_btn_a" value="提交审批">
				<!--  onclick="alert('提交成功');location='?model=supplierManage_temporary_stasse&action=toApproval'"/-->
			</td>
		</tr>
	</table>
</form>
</body>
</html>