<html>
<head>
<title>供应商注册</title>
<meta http-equiv="Content-Type" content="text/html;charset=gb2312" />
<link rel="stylesheet" type="text/css" href="css/yxstyle.css" />
<link rel="stylesheet" type="text/css" href="js/thickbox.css" />
<link rel="stylesheet" type="text/css"
	href="js/jquery/style/Validator.css" />

<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/thickbox.js"></script>
<script type="text/javascript" src="js/common/businesspage.js"></script>



<script type="text/javascript" src="js/jquery/formValidator.js"
	charset="UTF-8"></script>
<script type="text/javascript" src="js/jquery/formValidatorRegex.js"
	charset="UTF-8"></script>
<script type="text/javascript" src="js/DatePicker/WdatePicker.js"></script>
<script type="text/javascript"
	src="view/template/supplierManage/temporary/js/supplinkman-add-formValidator.js"></script>
</head>
<body>
<div class="main_head"><span class="main_head_title"> 添加联系人 </span></div>
<form id="form1" method="post"
	action="?model=supplierManage_register_supplinkman&action=addlinkman"
	name="form1">
<table class="form_main_table">
	<tr>
		<td class="form_text_left">联系人姓名</td>
		<td class="form_text_right" colspan="3"><input type="hidden"
			class="txt" name="supplinkman[objCode]" value="{objCode}" /> <input
			type="hidden" class="txt" name="supplinkman[systemCode]"
			value="{systemCode}" /> <input type="hidden" class="txt"
			name="supplinkman[parentCode]" value="{parentCode}" /> <input
			type="hidden" class="txt" name="supplinkman[parentId]"
			value="{parentId}" /> <input type="text" class="txt"
			name="supplinkman[name]" id="name" /> <span class="red">[*]</span> <br>
		<div id="nameTip" class="tipShortTxt"></div>
		</td>
	</tr>

	<tr>
		<td class="form_text_left">固定电话</td>
		<td class="form_text_right"><input type="text" class="txt"
			name="supplinkman[plane]" id="plane" /> <span class="red">[*]</span>

		</td>
	</tr>
	<tr>
		<td class="form_text_left">联系电话</td>
		<td class="form_text_right"><input type="text" class="txt"
			name="supplinkman[mobile1]" id="mobile1" /> <span class="red">[*]</span>

		</td>
	</tr>
	<tr>
		<td class="form_text_left">邮箱地址</td>
		<td class="form_text_right" colspan="3"><input type="text"
			class="txt" name="supplinkman[email]" id="email" /> <span
			class="red">[*]</span>

		</td>
	</tr>
	<tr>
		<td class="form_text_left">传真</td>
		<td class="form_text_right"><input type="text" class="txt"
			name="supplinkman[fax]" id="fax" /> <span class="red">[*]</span>
	</tr>
	<tr>
		<td class="form_text_left">备注</td>
		<td class="form_text_right"><textarea cols="50"  rows="5"
			name="supplinkman[remarks]" id="remarks" ></textarea>
	</tr>

	<tr>
		<td class="txt_btn" colspan="4"><input name="" type="submit"
			class="txt_btn_a" value="保  存" /> <input name="" type="button"
			class="txt_btn_a" value="关  闭" onclick="self.parent.tb_remove();" />
		</td>
	</tr>


</table>
</form>
</body>
</html>
