<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" " http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns=" http://www.w3.org/1999/xhtml">
<head>
	<title>编辑员工盘点表</title>
   {#commonInclude#}
   <script type="text/javascript" src="{#jsPath#}/inventory-edit.js" ></script>   
</head>
<body>
<form id="form1" method="post" action="?model=hr_invent_inventory&action=edit" >
<table class="form_main_table">
   <tr>
      <td colspan="4">
          <div class="main_head">
             <span class="main_head_title">
               	编辑员工盘点表信息
             </span>
         </div>     
      </td>
   </tr>
<tr>
		<td class="form_text_left">员工编号</td>
		<td class="form_text_right" >
			 <input type="text" class="txt"  name="inventory[userNo]"  value="{userNo}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">员工账号</td>
		<td class="form_text_right" >
			 <input type="text" class="txt"  name="inventory[userAccount]"  value="{userAccount}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">员工姓名</td>
		<td class="form_text_right" >
			 <input type="text" class="txt"  name="inventory[userName]"  value="{userName}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">公司类型</td>
		<td class="form_text_right" >
			 <input type="text" class="txt"  name="inventory[companyType]"  value="{companyType}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">公司名称</td>
		<td class="form_text_right" >
			 <input type="text" class="txt"  name="inventory[companyName]"  value="{companyName}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">二级部门</td>
		<td class="form_text_right" >
			 <input type="text" class="txt"  name="inventory[deptNameS]"  value="{deptNameS}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">二级部门id</td>
		<td class="form_text_right" >
			 <input type="text" class="txt"  name="inventory[deptIdS]"  value="{deptIdS}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">三级部门</td>
		<td class="form_text_right" >
			 <input type="text" class="txt"  name="inventory[deptNameT]"  value="{deptNameT}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">三级部门id</td>
		<td class="form_text_right" >
			 <input type="text" class="txt"  name="inventory[deptIdT]"  value="{deptIdT}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">入职日期</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" onfocus="WdatePicker()" readOnly  name="inventory[entryDate]" value="{entryDate}"  />
		</td>
</tr>                        
<tr>
		<td class="form_text_left">盘点日期</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" onfocus="WdatePicker()" readOnly  name="inventory[inventoryDate]" value="{inventoryDate}"  />
		</td>
</tr>                        
<tr>
		<td class="form_text_left">可替代</td>
		<td class="form_text_right" >
			 <input type="text" class="txt"  name="inventory[Alternative]"  value="{Alternative}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">匹配度</td>
		<td class="form_text_right" >
			 <input type="text" class="txt"  name="inventory[matching]"  value="{matching}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">员工关键性</td>
		<td class="form_text_right" >
			 <input type="text" class="txt"  name="inventory[critical]"  value="{critical}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">是否核心</td>
		<td class="form_text_right" >
			 <input type="text" class="txt"  name="inventory[isCore]"  value="{isCore}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">招聘难度</td>
		<td class="form_text_right" >
			 <input type="text" class="txt"  name="inventory[recruitment]"  value="{recruitment}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">考核</td>
		<td class="form_text_right" >
			 <input type="text" class="txt"  name="inventory[examine]"  value="{examine}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">预淘汰</td>
		<td class="form_text_right" >
			 <input type="text" class="txt"  name="inventory[preEliminated]"  value="{preEliminated}" />
		</td>
</tr>         
<tr>
		<td class="form_text_left" >是否可能流失</td>
		<td class="form_text_right" >
            <textarea class="txt_txtarea_font"  name="inventory[remark]">{remark}</textarea>
		</td>
</tr>  
                                    
<tr>
		<td class="form_text_left">创建人</td>
		<td class="form_text_right" >
			 <input type="text" class="txt"  name="inventory[createName]"  value="{createName}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">创建人ID</td>
		<td class="form_text_right" >
			 <input type="text" class="txt"  name="inventory[createId]"  value="{createId}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">创建时间</td>
		<td class="form_text_right" >
			 <input type="text" class="txt"  name="inventory[createTime]"  value="{createTime}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">修改人</td>
		<td class="form_text_right" >
			 <input type="text" class="txt"  name="inventory[updateName]"  value="{updateName}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">修改人ID</td>
		<td class="form_text_right" >
			 <input type="text" class="txt"  name="inventory[updateId]"  value="{updateId}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">修改时间</td>
		<td class="form_text_right" >
			 <input type="text" class="txt"  name="inventory[updateTime]"  value="{updateTime}" />
		</td>
</tr>        
   <tr>
		<td class="txt_btn" colspan="4">
         <input  type="hidden" name="inventory[id]" value="{id}" />
		   <input  type="submit" class="txt_btn_a" value=" 保  存 "/>
		   <input  type="button" class="txt_btn_a" value=" 关  闭 " onclick="self.parent.tb_remove();"/>
		</td>
</tr>
</table>
</form>
</body>
</html>