<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>项目费用管理页面</title>
		<link rel="stylesheet" type="text/css" href="css/yxstyle.css" />
		<link rel="stylesheet" type="text/css" href="js/jqeasyui/themes/default/easyui.css"/>
		<link rel="stylesheet" type="text/css" href="js/jqeasyui/themes/icon.css"/>

		<script type="text/javascript" src="js/jqeasyui/jquery-1.7.2.min.js"></script>
		<script type="text/javascript" src="js/jqeasyui/jquery.easyui.min.js"></script>

		<script type="text/javascript" src="js/common/businesspage.js"></script>
		<!-- 日期控件 -->
		<script type="text/javascript" src="js/DatePicker/WdatePicker.js"></script>


		<script type="text/javascript" src="view/template/engineering/cost/js/esmcostdetail-listmanage.js"></script>

</head>
<body>
	<div class="main_head2">
		<span class="main_head_title">
			项目费用管理页面 - 员工视角
		</span>
	</div>
	<div class="main_wraper">
		<table class="main_table_search">
			<tr>
				<td>
					查询周次 ：
					<input id="weekTimes" style="width:80px;" value="{weekTimes}" onchange="goWeek();"/>
					查询日期：
					<input type="text" id="beginDate" value="{beginDate}" class="Wdate txtmiddle" style="width:90px;" onfocus="WdatePicker();" onchange="changeRange();"/>
					-
					<input type="text" id="endDate" value="{endDate}" class="Wdate txtmiddle" style="width:90px;" onfocus="WdatePicker();" onchange="changeRange();"/>
					<input type="hidden" id="projectId" value="{projectId}"/>

					<input type="button" id="returnDefualtWeek" class="txt_btn_a" value="返回当前周" onclick="returnDefualtWeek();" style="height:24px;"/>
					<input type="button" id="returnUnconfirm" class="txt_btn_a" value="查询未审核" onclick="returnUnconfirm();" style="height:24px;"/>

					<input type="hidden" id="defaultWeekTimes" value="{weekTimes}"/>
					<input type="hidden" id="isView" value="{isView}"/>
				</td>
			</tr>
		</table>
		<table class="main_table">
			<thead id="thisHead">
				<tr class="main_tr_header">
					<th style="width:40px">序号</th>
					<th style="width:70px">
						员工姓名
					</th>
					<th style="width:60px">
						提交周报
					</th>
					<th style="width:80px">
						全部费用
					</th>
					<th style="width:80px">
						未审核费用
					</th>
					<th style="width:80px">
						本页费用
					</th>
					{tr}
				</tr>
			</thead>
			<tbody id="thisTbody">
				{list}
			</tbody>
		</table>
	</div>
</body>
</html>