
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en_US" xml:lang="en_US">
<head>
	<title>查看资产出售申请</title>
	<meta http-equiv="Content-Type" content="text/html;charset=gb2312"/>
	{#commonInclude#}

    <script type="text/javascript" src="view/template/asset/disposal/js/sell-view.js" >
        </script>
</head>
<body>
<div class="main_head">
    <span class="main_head_title">
      	查看资产出售申请
    </span>
</div>

<table class="form_main_table">
<tr>
		   <tr>
			<td class="form_text_left">
				出售单编号：
			</td>
			<td class="form_text_right">{billNo}
			</td>
			<td class="form_text_left">
				申请人：
			</td>
			<td class="form_text_right">{seller}
			</td>
		</tr>
		<tr>
		</tr>
			<td class="form_text_left">
				申请人部门：
			</td>
			<td class="form_text_right">{deptName}
			</td>
			<td class="form_text_left">
				申请人公司：
			</td>
			<td class="form_text_right">{applyCompanyName}
			</td>
		<tr>
			<td class="form_text_left">
				出售日期：
			</td>
			<td class="form_text_right">{donationDate}
			</td>
			<td class="form_text_left">
				申请日期：
			</td>
			<td class="form_text_right">{sellDate}
			</td>
		</tr>
		<tr>
			<td class="form_text_left">
				出售总数量：
			</td>
			<td class="form_text_right">{sellNum}
			</td>
			<td class="form_text_left">
				出售总金额：
			</td>
			<td class="form_text_right formatMoney">{sellAmount}
			</td>
		</tr>
		<tr>
			<td class="form_text_left">
				购货单位：
			</td>
			<td class="form_text_right">{company}
			</td>
		</tr>
		<tr>
			<td class="form_text_left">备注：</td>
			<td colspan="4" class="form_text_right">
			<textarea class="textarea_read" name="sell[remark]" readonly>{remark}</textarea>
			</td>
		</tr>
</table>

<div id="purchaseProductTable"></div>

<table class="form_main_table">
<tr>
		<td class="txt_btn" colspan="4">
		   <input  type="hidden" id="showBtn" value="{showBtn}" />
		   <input  type="button" id="btn" class="txt_btn_a" value=" 关  闭 " onclick="closeFun();"/>
		   <input type="hidden" id="sellID" name="sell[id]" value="{id}"/>
		</td>
</tr>
</table>


</body>
</html>

