<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en_US" xml:lang="en_US">
<head>
<title>自定义导出合同信息</title>
{#commonInclude#}
<script type="text/javascript" src="{#jsPath#}/project-excelout-select.js"></script>
</head>
<body>
<form id="form1"
	action="?model=hr_project_project&action=selectExcelOut" method="post">
		<table cellpadding="2" width="100%" class="form_main_table">
			<tr><td colspan="4"><input type="checkbox" onclick="selectAll()"/><b>全选</b></td></tr>
			<tr>
				<td colspan="1">
				<fieldset><legend>
						<input type="checkbox" id="basic"  onclick="selectModelAll('basic')"/><b>个人信息</b>
				</legend>
				<table cellpadding="2" width="100%">
					<tr align="left">
						<td class="form_text_left_three_new" >
						<input type="checkbox" name="project[]" id="basic_staffName" value="staffName"/>
						员工姓名</td>
						<td class="form_text_left_three_new" >
						<input type="checkbox" name="project[]" id="basic_userNo" value="userNo"/>
						员工编号</td>
						<td class="form_text_left_three_new" >
						<input type="checkbox" name="project[]" id="basic_companyName" value="companyName"/>
						公司</td>
						<td class="form_text_left_three_new">
						<input type="checkbox" name="project[]" id="basic_personnelTypeName" value="personnelTypeName"/>
						员工类型</td>
						<td class="form_text_left_three_new">
						<input type="checkbox" name="project[]" id="basic_wageLevelName" value="wageLevelName"/>
						工资级别</td>
						<td class="form_text_left_three_new">
						<input type="checkbox" name="project[]" id="basic_jobLevel" value="jobLevel"/>
						职级</td>
					</tr>
				</table>
				</fieldset>
				</td>
			</tr>
			<tr>
				<td colspan="1">
				<fieldset><legend>
						<input type="checkbox" name="" id="project"  onclick="selectModelAll('project')"/><b>项目信息</b>
				</legend>
				<table cellpadding="2" width="100%">
					<tr>
						<td class="form_text_left_three_new">
						<input type="checkbox" name="project[]" id="project_deptName" value="deptName"/>
						部门名称</td>
						<td class="form_text_left_three_new">
						<input type="checkbox" name="project[]" id="project_jobName" value="jobName"/>
						职位名称</td>
						<td class="form_text_left_three_new">
						<input type="checkbox" name="project[]" id="project_projectName" value="projectName"/>
						项目名称</td>
						<td class="form_text_left_three_new">
						<input type="checkbox" name="project[]" id="project_projectPlace" value="projectPlace"/>
						项目地点</td>
						<td class="form_text_left_three_new">
						<input type="checkbox" name="project[]" id="project_projectManager" value="projectManager"/>
						项目经理</td>
						<td class="form_text_left_three_new">
						<input type="checkbox" name="project[]" id="project_projectRole" value="projectRole"/>
						在项目项目中的角色</td>
					</tr>
					<tr>
						<td class="form_text_left_three_new">
						<input type="checkbox" name="project[]" id="project_beginDate" value="beginDate"/>
						参加项目开始时间</td>
						<td class="form_text_left_three_new">
						<input type="checkbox" name="project[]" id="project_closeDate" value="closeDate"/>
						参加项目结束时间</td>
						<td class="form_text_left_three_new">
						<input type="checkbox" name="project[]" id="project_projectContent" value="projectContent"/>
						在项目中的主要工作内容</td>
					</tr>
				</table>
				</fieldset>
				</td>
			</tr>
	<tr>
		<td colspan="4" class="">
		<input type="hidden" name="listSql" value="{listSql}"/>
		<input class="txt_btn_a" id="saveButton" type="button" value=" 确 定 " />&nbsp;&nbsp;&nbsp;&nbsp;
		<input class="txt_btn_a" type="button" value=" 返 回 " onclick="history.back(-1);" /></td>
	</tr>
		</table>
</form>
</body>
</html>
