
<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />

<link rel="stylesheet" type="text/css" href="css/yxstyle.css" />
<link rel="stylesheet" type="text/css" href="js/thickbox.css" />

<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/thickbox.js"></script>
<script type="text/javascript" src="js/jquery/formValidator.js" charset="UTF-8"></script>
<script type="text/javascript" src="js/jquery/formValidatorRegex.js" charset="UTF-8"></script>
<script type="text/javascript" src="js/DatePicker/WdatePicker.js"></script>
<script type="text/javascript" src="js/common/businesspage.js"></script>
<script type="text/javascript" src="view/template/rdproject/plan/js/rdplan-view-tab.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        topTabShow(arrayTop, "basicMsg","{pnId}");
    });
</script>
</head>
<body>
<div class="tab_options"></div>
<table class="form_main_table">
	<tr>
		<td class="main_tr_header" colspan="4">基本信息</td>
	</tr>

	<tr>
		<td class="form_text_left">所属项目名称</td>
		<td class="form_view_right" colspan="3">{projectName}</td>
	</tr>
	<tr>
		<td class="form_text_left">上级计划</td>
		<td class="form_text_right" colspan="3">{parentName}</td>
	</tr>

	<tr>
		<td class="form_text_left">计划名称</td>
		<td class="form_view_right" colspan="3">{planName}</td>
	</tr>

	<tr>
		<td class="form_text_left">创建人</td>
		<td class="form_text_right" width="30%">{createName}</td>
		<td class="form_text_left">创建日期</td>
		<td class="form_text_right">{createTime}</td>
	</tr>
	<tr>
		<td class="form_text_left">完成率</td>
		<td class="form_view_right">{effortRate} %</td>
		<td class="form_text_left">偏差率</td>
		<td class="form_view_right">{warpRate} %</td>
	</tr>
	<tr>
		<td class="form_text_left">计划开始时间</td>
		<td class="form_view_right">{planBeginDate}</td>
		<td class="form_text_left">计划完成时间</td>
		<td class="form_view_right">{planEndDate}</td>
	</tr>
	<tr>
		<td class="form_text_left">实际开始时间</td>
		<td class="form_view_right">{realBeginDate}</td>
		<td class="form_text_left">实际完成时间</td>
		<td class="form_view_right">{realEndDate}</td>
	</tr>
	<tr>
		<td class="form_text_left">计划工作量</td>
		<td class="form_view_right">{appraiseWorkload} 小时</td>
		<td class="form_text_left">已投入工作量</td>
		<td class="form_view_right">{putWorkload} 小时</td>
	</tr>
	<tr>
		<td class="form_text_left">描述</td>
		<td class="form_text_right" colspan="3">
			<textarea class="textarea_read" readonly cols="80">{description}</textarea>
		</td>
	</tr>
	<tr>
		<td colspan="4"> <input name="" type="button" class="txt_btn_a"
			onclick="self.parent.tb_remove();" value="关闭 "></td>
	</tr>
</table>
</body>
</html>


