<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=GBK" />
    <title>部门检查列表</title>
     <link rel="stylesheet" type="text/css" href="css/nav_tab.css"/>
	{#commonInclude#}
    <script type="text/javascript" src="view/template/finance/expense/js/expense-grid-forleavr.js"></script>

</head>
<body>
	<input type="hidden" id="userAccount" value="{userAccount}"/>
	<div  id="expenseGrid"></div>
</body>
</html>