<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en_US" xml:lang="en_US">
<head>
	<title>修改费用类型</title>
	<meta http-equiv="Content-Type" content="text/html;charset=gb2312" />
	{#commonInclude#}
	<script type="text/javascript" src="{#jsPath#}/expensedetail-editcosttypeid.js" ></script>
</head>
<body>
<table class="form_main_table">
	<tr>
		<td colspan="2">
			<div class="main_head2">
				<span class="main_head_title">修改费用类型</span>
			</div>
		</td>
	</tr>
	<tr>
		<td width="35%">原类型：
		</td>
		<td class="form_text_right" title="所属大类 ： {mainTypeName}">
			{CostTypeName}
			<input type="hidden" id="CostTypeID" value="{CostTypeID}"/>
			<input type="hidden" id="BillNo" value="{BillNo}"/>
			<input type="hidden" id="orgCostTypes" value="{orgCostTypes}"/>
			<input type="hidden" id="mainTypes" value="{mainTypes}"/>
			<input type="hidden" id="mainType" value="{mainType}"/>
			<input type="hidden" id="mainTypeName" value="{mainTypeName}"/>
		</td>
	</tr>
	<tr>
		<td>新类型：
		</td>
		<td class="form_text_right">
			<select id="newCostTypeID" class="select" onchange="checkCanSel(this)">
				{newCostTypeID}
			</select>
			<br/>
			<span class="red">请选择相关子类型！</span>
		</td>
	</tr>
	<tr>
		<td colspan="2">
			<input type="submit" value=" 保存 " onclick="saveCostType();" class="txt_btn_a"/>&nbsp;&nbsp;
			<input type="button" class="txt_btn_a" value=" 关 闭 " onclick="closeFun();"/>
		</td>
	</tr>
</table>
</body>
</html>