<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" " http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns=" http://www.w3.org/1999/xhtml">
<head>
	<title>新增报销汇总主表</title>
   {#commonInclude#}
   <script type="text/javascript" src="{#jsPath#}/exsummary-add.js" ></script>   
</head>

<body>
   <form id="form1" method="post" action="?model=finance_expense_exsummary&action=add" >
      <table class="form_main_table">
      	<tr>
      		<td colspan="4">
            <div class="main_head">
             <span class="main_head_title">
               	新增报销汇总主表
             </span>
            </div>
            </td>
         </tr>
       <tr>
      		<td class="form_text_left">id</td>
      		<td class="form_text_right" >
      			 <input type="text" class="txt" id="ID" name="exsummary[ID]" />
      		</td>
       </tr>        
       <tr>
      		<td class="form_text_left">单号</td>
      		<td class="form_text_right" >
      			 <input type="text" class="txt" id="BillNo" name="exsummary[BillNo]" />
      		</td>
       </tr>        
       <tr>
      		<td class="form_text_left">申请人</td>
      		<td class="form_text_right" >
      			 <input type="text" class="txt" id="InputMan" name="exsummary[InputMan]" />
      		</td>
       </tr>        
       <tr>
      		<td class="form_text_left">申请日期</td>
      		<td class="form_text_right" >
      			 <input type="text" class="txt" id="InputDate" name="exsummary[InputDate]" />
      		</td>
       </tr>        
       <tr>
      		<td class="form_text_left">报销人id</td>
      		<td class="form_text_right" >
      			 <input type="text" class="txt" id="CostMan" name="exsummary[CostMan]" />
      		</td>
       </tr>        
       <tr>
      		<td class="form_text_left">费用部门ID</td>
      		<td class="form_text_right" >
      			 <input type="text" class="txt" id="CostDepartID" name="exsummary[CostDepartID]" />
      		</td>
       </tr>        
       <tr>
      		<td class="form_text_left">区域id</td>
      		<td class="form_text_right" >
      			 <input type="text" class="txt" id="Area" name="exsummary[Area]" />
      		</td>
       </tr>        
       <tr>
      		<td class="form_text_left">项目编号</td>
      		<td class="form_text_right" >
      			 <input type="text" class="txt" id="ProjectNo" name="exsummary[ProjectNo]" />
      		</td>
       </tr>        
       <tr>
      		<td class="form_text_left">报销日期(从~到~)</td>
      		<td class="form_text_right" >
      			 <input type="text" class="txt" id="CostDates" name="exsummary[CostDates]" />
      		</td>
       </tr>        
       <tr>
      		<td class="form_text_left">CostMasterID</td>
      		<td class="form_text_right" >
      			 <input type="text" class="txt" id="CostMasterID" name="exsummary[CostMasterID]" />
      		</td>
       </tr>        
       <tr>
      		<td class="form_text_left">CostBelongtoDeptIds</td>
      		<td class="form_text_right" >
      			 <input type="text" class="txt" id="CostBelongtoDeptIds" name="exsummary[CostBelongtoDeptIds]" />
      		</td>
       </tr>        
       <tr>
      		<td class="form_text_left">客户类型(中文)</td>
      		<td class="form_text_right" >
      			 <input type="text" class="txt" id="CostClientType" name="exsummary[CostClientType]" />
      		</td>
       </tr>        
       <tr>
      		<td class="form_text_left">CostClientArea</td>
      		<td class="form_text_right" >
      			 <input type="text" class="txt" id="CostClientArea" name="exsummary[CostClientArea]" />
      		</td>
       </tr>        
       <tr>
      		<td class="form_text_left">客户名称</td>
      		<td class="form_text_right" >
      			 <input type="text" class="txt" id="CostClientName" name="exsummary[CostClientName]" />
      		</td>
       </tr>        
       <tr>
      		<td class="form_text_left">ServiceQuantity</td>
      		<td class="form_text_right" >
      			 <input type="text" class="txt" id="ServiceQuantity" name="exsummary[ServiceQuantity]" />
      		</td>
       </tr>        
       <tr>
      		<td class="form_text_left">Status</td>
      		<td class="form_text_right" >
      			 <input type="text" class="txt" id="Status" name="exsummary[Status]" />
      		</td>
       </tr>        
       <tr>
      		<td class="form_text_left">UpdateDT</td>
      		<td class="form_text_right" >
      			 <input type="text" class="txt" id="UpdateDT" onfocus="WdatePicker()" readOnly  name="exsummary[UpdateDT]" />
      		</td>
       </tr>                        
       <tr>
      		<td class="form_text_left">isProject</td>
      		<td class="form_text_right" >
      			 <input type="text" class="txt" id="isProject" name="exsummary[isProject]" />
      		</td>
       </tr>        
       <tr>
      		<td class="form_text_left">xm_sid</td>
      		<td class="form_text_right" >
      			 <input type="text" class="txt" id="xm_sid" name="exsummary[xm_sid]" />
      		</td>
       </tr>        
       <tr>
      		<td class="form_text_left">RecInvoiceDT</td>
      		<td class="form_text_right" >
      			 <input type="text" class="txt" id="RecInvoiceDT" name="exsummary[RecInvoiceDT]" />
      		</td>
       </tr>        
       <tr>
      		<td class="form_text_left">isNotReced</td>
      		<td class="form_text_right" >
      			 <input type="text" class="txt" id="isNotReced" name="exsummary[isNotReced]" />
      		</td>
       </tr>        
       <tr>
      		<td class="form_text_left">金额</td>
      		<td class="form_text_right" >
      			 <input type="text" class="txt" id="Amount" name="exsummary[Amount]" />
      		</td>
       </tr>        
       <tr>
      		<td class="form_text_left">Updator</td>
      		<td class="form_text_right" >
      			 <input type="text" class="txt" id="Updator" name="exsummary[Updator]" />
      		</td>
       </tr>        
       <tr>
      		<td class="form_text_left">PayDT</td>
      		<td class="form_text_right" >
      			 <input type="text" class="txt" id="PayDT" onfocus="WdatePicker()" readOnly  name="exsummary[PayDT]" />
      		</td>
       </tr>                        
       <tr>
      		<td class="form_text_left">IsFinRec</td>
      		<td class="form_text_right" >
      			 <input type="text" class="txt" id="IsFinRec" name="exsummary[IsFinRec]" />
      		</td>
       </tr>        
       <tr>
      		<td class="form_text_left">FinRecDT</td>
      		<td class="form_text_right" >
      			 <input type="text" class="txt" id="FinRecDT" name="exsummary[FinRecDT]" />
      		</td>
       </tr>        
       <tr>
      		<td class="form_text_left">SubDept</td>
      		<td class="form_text_right" >
      			 <input type="text" class="txt" id="SubDept" name="exsummary[SubDept]" />
      		</td>
       </tr>        
       <tr>
      		<td class="form_text_left">ExamType</td>
      		<td class="form_text_right" >
      			 <input type="text" class="txt" id="ExamType" name="exsummary[ExamType]" />
      		</td>
       </tr>        
       <tr>
      		<td class="form_text_left">CostBelongTo</td>
      		<td class="form_text_right" >
      			 <input type="text" class="txt" id="CostBelongTo" name="exsummary[CostBelongTo]" />
      		</td>
       </tr>        
       <tr>
      		<td class="form_text_left">CheckAmount</td>
      		<td class="form_text_right" >
      			 <input type="text" class="txt" id="CheckAmount" name="exsummary[CheckAmount]" />
      		</td>
       </tr>        
       <tr>
      		<td class="form_text_left">isHandUp</td>
      		<td class="form_text_right" >
      			 <input type="text" class="txt" id="isHandUp" name="exsummary[isHandUp]" />
      		</td>
       </tr>        
       <tr>
      		<td class="form_text_left">HandUpDT</td>
      		<td class="form_text_right" >
      			 <input type="text" class="txt" id="HandUpDT" name="exsummary[HandUpDT]" />
      		</td>
       </tr>        
       <tr>
      		<td class="form_text_left">Payee</td>
      		<td class="form_text_right" >
      			 <input type="text" class="txt" id="Payee" name="exsummary[Payee]" />
      		</td>
       </tr>        
       <tr>
      		<td class="form_text_left">rand_key</td>
      		<td class="form_text_right" >
      			 <input type="text" class="txt" id="rand_key" name="exsummary[rand_key]" />
      		</td>
       </tr>        
          <tr>
      		<td class="txt_btn" colspan="4">
      		   <input  type="submit" class="txt_btn_a" value=" 保  存 "/>
      		   <input  type="button" class="txt_btn_a" value=" 关  闭 " onclick="self.parent.tb_remove();"/>
      		</td>
       </tr>
      </table>
   </form>
</body>
</html>