<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>产品信息更新</title>
{#commonInclude#}
<script type="text/javascript" src="{#jsPath#}/goodsbaseinfo-update.js"></script>
</head>
<body>

<form id="goodsForm"
	action="?model=goods_goods_goodsbaseinfo&action=updateGoodsInfo" method="post">
<div>
<table class='form_main_table'>
	<tr>
		<td colspan="4">
		<div class="main_head"><span class="main_head_title">更新产品关联业务信息
		</span></div>
		</td>
	</tr>
	<tr>
		<td class="form_text_left">更新方式</td>
		<td class="form_view_right" >
		<select name="updateType" class="select">
			<option value="1">根据id更新</option>
<!-- 			<option value="2">根据名称更新</option> -->
		</select></td>
		<td class="form_view_right" colspan=2>
			<font color='blue'>

			</font>
		</td>
	</tr>
	<tr>
		<td class="form_text_left">产品名称</td>
		<td class="form_text_right">
			<input type="text" class="txt" id="goodsName" name="goodsbaseinfo[goodsName]" value="{goodsName}" />
			<span id="nameTip" class="red">[*]</span>
			<div id="goodsNameTip"></div>
		</td>
				<td class="form_text_left">单位</td>
		<td class="form_text_right">
			<input type="text" class="txt" id="goodsName" name="goodsbaseinfo[unitName]" value="{unitName}" />
		</td>
	</tr>
	<tr>
		<td class="form_text_left">更新对象</td>
		<td class="form_view_right" colspan="3">
		<div id="objArr" style="white-space: normal; word-break: break-all;"></div>
		</td>
	</tr>
	<tr>
		<td colspan="4" class="">
			<input type="hidden" id="goodsId" name="goodsbaseinfo[id]" value="{id}" />
     		<input class="txt_btn_a" id="saveButton" type="button" value="确定" />
	    	<input class="txt_btn_a" type="button" value="关闭"	onclick="self.parent.tb_remove();" /></td>
	</tr>
</table>
</div>
</form>
</body>
</html>