<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" " http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns=" http://www.w3.org/1999/xhtml">
<head>
	<title>编辑配置项内容</title>
   {#commonInclude#}
   <script type="text/javascript" src="js/jquery/formvalidator/formValidator-4.1.1.js"	charset="UTF-8"></script>
   <script type="text/javascript" src="js/jquery/formvalidator/formValidatorRegex.js"	charset="UTF-8"></script>
   <script type="text/javascript" src="{#jsPath#}/propertiesitem-edit.js" ></script>   
</head>
<body>
<form id="form1" method="post" action="?model=goods_goods_propertiesitem&action=edit" >
<table class="form_main_table">
   <tr>
      <td colspan="4">
          <div class="main_head">
             <span class="main_head_title">
               	编辑配置项内容信息
             </span>
         </div>     
      </td>
   </tr>
<tr>
		<td class="form_text_left">配置id</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" id="mainId" name="propertiesitem[mainId]"  value="{mainId}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">值内容</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" id="itemContent" name="propertiesitem[itemContent]"  value="{itemContent}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">是否必选</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" id="isNeed" name="propertiesitem[isNeed]"  value="{isNeed}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">是否默认</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" id="isDefault" name="propertiesitem[isDefault]"  value="{isDefault}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">对应物料id</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" id="productId" name="propertiesitem[productId]"  value="{productId}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">对应物料编号</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" id="productCode" name="propertiesitem[productCode]"  value="{productCode}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">对应物料名称</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" id="productName" name="propertiesitem[productName]"  value="{productName}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">对应物料型号</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" id="pattern" name="propertiesitem[pattern]"  value="{pattern}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">对应物料数量</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" id="proNum" name="propertiesitem[proNum]"  value="{proNum}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">状态</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" id="status" name="propertiesitem[status]"  value="{status}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">具体描述</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" id="remakr" name="propertiesitem[remakr]"  value="{remakr}" />
		</td>
</tr>        
   <tr>
		<td class="txt_btn" colspan="4">
         <input  type="hidden" id="id" name="propertiesitem[id]" value="{id}" />
		   <input  type="submit" class="txt_btn_a" value=" 保  存 "/>
		   <input  type="button" class="txt_btn_a" value=" 关  闭 " onclick="self.parent.tb_remove();"/>
		</td>
</tr>
</table>
</form>
</body>
</html>