<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" " http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns=" http://www.w3.org/1999/xhtml">
<head>
	<title>导出租车登记表</title>
		{#commonInclude#}
</head>
<body>
<form id="form1" method="post" action="?model=outsourcing_vehicle_allregister&action=excelOutFinish">
	<table class="form_main_table">
	<tr>
		<td colspan="4">
			<div class="main_head">
				<span class="main_head_title">
					导出条件
				</span>
			</div>
		</td>
	</tr>
	<tr>
		<td class="form_text_left">项目名称</td>
		<td class="form_text_right">
			<input type="text" class="txt" id="projectName" name="allregister[projectName]" />
		</td>
		<td class="form_text_left">项目编号</td>
		<td class="form_text_right">
			<input type="text" class="txt" id="projectCode" name="allregister[projectCode]" />
		</td>
	</tr>
	<tr>
		<td class="form_text_left">用车时间</td>
		<td class="form_text_right" colspan="3">
			<input type="text" class="txtshort" id="useCarDateSta" onfocus="WdatePicker({dateFmt:'yyyy-MM'})" name="allregister[useCarDateSta]"/> ~
			<input type="text" class="txtshort" id="useCarDateEnd" onfocus="WdatePicker({dateFmt:'yyyy-MM'})" name="allregister[useCarDateEnd]"/>
		</td>
	</tr>
	<tr>
		<td class="txt_btn" colspan="4">
			<input  type="submit" class="txt_btn_a" value=" 导  出 "/>&nbsp;&nbsp;
			<input  type="button" class="txt_btn_a" value=" 关  闭 " onclick="closeFun();"/>
		</td>
	</tr>
	</table>
</form>
</body>
</html>