<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" " http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns=" http://www.w3.org/1999/xhtml">
<head>
	<title>导出租车登记表</title>
		{#commonInclude#}
	<script type="text/javascript" src="view/template/outsourcing/vehicle/js/register-provin-city.js"></script>
</head>
<body>
<form id="form1" method="post" action="?model=outsourcing_vehicle_register&action=excelOut">
	<table class="form_main_table">
	<tr>
		<td colspan="4">
			<div class="main_head">
				<span class="main_head_title">
					导出条件
				</span>
			</div>
		</td>
	</tr>
	<tr>
		<td class="form_text_left">项目名称</td>
		<td class="form_text_right">
			<input type="text" class="txt" id="projectName" name="register[projectName]" />
		</td>
		<td class="form_text_left">用车日期</td>
		<td class="form_text_right">
			<input type="text" class="txtshort" id="useCarDateSta" onfocus="WdatePicker()" name="register[useCarDateSta]"/> ~
			<input type="text" class="txtshort" id="useCarDateEnd" onfocus="WdatePicker()" name="register[useCarDateEnd]"/>
		</td>
	</tr>
	<tr>
		<td class="form_text_left">省  份</td>
		<td class="form_text_right">
			<input type="hidden" class="txt" id="provinceName" name="register[province]" />
			<select class="select" id="province" name="register[provinceId]"></select>
		</td>
		<td class="form_text_left">城  市</td>
		<td class="form_text_right">
			<input type="hidden" class="txt" id="cityName" name="register[city]" />
			<select class="select" id="city" name="register[cityId]"></select>
		</td>
	</tr>
	<tr>
		<td class="form_text_left">司机姓名</td>
		<td class="form_text_right">
			<input type="text" class="txt" id="driverName" name="register[driverName]" />
		</td>
		<td class="form_text_left">车牌号</td>
		<td class="form_text_right">
			<input type="text" class="txt" id="carNum" name="register[carNum]" />
		</td>
	</tr>
	<tr>
		<td class="form_text_left">录入时间</td>
		<td class="form_text_right" colspan="3">
			<input type="text" class="txtshort" id="createDateSta" onfocus="WdatePicker()" name="register[createDateSta]"/> ~
			<input type="text" class="txtshort" id="createDateEnd" onfocus="WdatePicker()" name="register[createDateEnd]"/>
		</td>
	</tr>
	<tr>
		<td class="txt_btn" colspan="4">
			<input type="hidden" id="createId" name="register[createId]" value="{createId}" />
			<input type="submit" class="txt_btn_a" value=" 导  出 "/>&nbsp;&nbsp;
			<input type="button" class="txt_btn_a" value=" 关  闭 " onclick="closeFun();"/>
		</td>
	</tr>
	</table>
</form>
</body>
</html>