<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" " http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns=" http://www.w3.org/1999/xhtml">
<head>
	<title>导出项目信息</title>
	{#commonInclude#}
	<link rel="stylesheet" type="text/css" href="js/jqeasyui/themes/default/easyui.css"/>
	<script type="text/javascript" src="js/jqeasyui/jquery.easyui.min.js"></script>
	<script type="text/javascript" src="{#jsPath#}/register-exceloutproject.js"></script>
	<script type="text/javascript">
		$(function() {
			if ($("#suppName").val()) {
				$("#suppName").attr("readonly", "readonly");
				$("#suppName").attr("class", "readOnlyTxtNormal");
			}
		});
	</script>
</head>
<body>
<form id="form1" method="post" action="?model=outsourcing_vehicle_register&action=projectOut">
<table class="form_main_table">
	<tr>
		<td colspan="4">
			<div class="main_head">
				<span class="main_head_title">导出项目信息</span>
			</div>
		</td>
	</tr>
	<tr>
		<td class="form_text_left">车辆供应商</td>
		<td class="form_text_right" colspan="3">
			<input type="text" class="txt" id="suppName" name="register[suppName]" value="{suppName}" />
		</td>
	</tr>
	<tr>
		<td class="form_text_left">项目名称</td>
		<td class="form_text_right">
			<input type="text" class="txt" id="projectName" name="register[projectName]"/>
		</td>
		<td class="form_text_left">项目编号</td>
		<td class="form_text_right">
			<input type="text" class="txt" id="projectCode" name="register[projectCode]"/>
		</td>
	</tr>
	<tr>
		<td class="form_text_left">车牌号</td>
		<td class="form_text_right">
			<input type="text" class="txt" id="carNum" name="register[carNum]" />
		</td>
		<td class="form_text_left">租车合同编号</td>
		<td class="form_text_right">
			<input type="text" class="txt" id="rentalContractCode" name="register[rentalContractCode]"/>
		</td>
	</tr>
	<tr>
		<td class="form_text_left">租车单价</td>
		<td class="form_text_right">
			<input type="text" class="txt" id="rentalCarCost" name="register[rentalCarCost]"/>
		</td>
		<td class="form_text_left">用车时间范围</td>
		<td class="form_text_right">
			<input class="txtshort" id="useCarDateSta" name="register[useCarDateSta]" onfocus="WdatePicker({dateFmt:'yyyy-MM'})"/> ~
			<input class="txtshort" id="useCarDateEnd" name="register[useCarDateEnd]" onfocus="WdatePicker({dateFmt:'yyyy-MM'})"/>
		</td>
	</tr>
	<tr>
		<td class="txt_btn" colspan="4">
			<input type="submit" class="txt_btn_a" value=" 导  出 " />
			<input type="button" class="txt_btn_a" value=" 关  闭 " onclick="closeFun();"/>
		</td>
	</tr>
</table>
</form>
</body>
</html>