<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>租车登记列表</title>
		{#commonInclude#}
	<script type="text/javascript" src="view/template/outsourcing/vehicle/js/register-gridView.js"></script>
</head>
<body>
	<input id="needConDateFielt" type="hidden" value="{needConDateFielt}"/>
	<input id="carNum" type="hidden" value="{carNum}"/>
	<input id="allregisterId" type="hidden" value="{allregisterId}"/>
	<table id="registerGrid" style="display: none"></table>
</body>
</html>