<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" " http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns=" http://www.w3.org/1999/xhtml">
<head>
	<title>导出条件</title>
		{#commonInclude#}
	<script type="text/javascript" src="{#jsPath#}/rentalcar-provin-city.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			if ($("#createId").val()) {
				$("#isHidden").hide();
			}
		});
	</script>
</head>
<body>
<form id="form1" method="post" action="?model=outsourcing_vehicle_rentalcar&action=excelOutCustom">
	<table class="form_main_table">
		<tr>
		<td colspan="4">
			<div class="main_head">
				<span class="main_head_title">
					选择导出条件
				</span>
			</div>
		</td>
		</tr>
		<tr>
			<td class="form_text_left">单据编号</td>
			<td class="form_text_right">
				<input type="text" class="txt" name="rentalcar[formCode]"/>
			</td>
			<td class="form_text_left">申请时间</td>
			<td class="form_text_right">
				<input type="text" class="txtshort" id="createTimeSta" onfocus="WdatePicker()" name="rentalcar[createTimeSta]"/> ~
				<input type="text" class="txtshort" id="createTimeEnd" onfocus="WdatePicker()" name="rentalcar[createTimeEnd]"/>
			</td>
		</tr>
		<tr>
			<td class="form_text_left">项目编号</td>
			<td class="form_text_right">
				<input type="text" class="txt" name="rentalcar[projectCode]"/>
			</td>
			<td class="form_text_left">项目名称</td>
			<td class="form_text_right">
				<input type="text" class="txt" name="rentalcar[projectName]"/>
			</td>
		</tr>
		<tr>
			<td class="form_text_left">用车省份</td>
			<td class="form_text_right">
				<select class="select" id="province"></select>
				<input type="hidden" class="txt" id="provinceName" name="rentalcar[province]"/>
			</td>
			<td class="form_text_left">用车城市</td>
			<td class="form_text_right">
				<select class="select" id="city"></select>
				<input type="hidden" class="txt" id="cityName" name="rentalcar[city]"/>
			</td>
		</tr>
		<tr id="isHidden">
			<td class="form_text_left">申请人</td>
			<td class="form_text_right">
				<input type="text" class="txt" name="rentalcar[createName]"/>
			</td>
		</tr>
		<tr>
			<td class="txt_btn" colspan="4">
				<input type="hidden" id="createId" name="rentalcar[createId]" value="{createId}"/>
				<input type="hidden" id="ExaStatus" name="rentalcar[ExaStatus]" value="{ExaStatus}"/>
				<input type="hidden" id="isSetCompany" name="rentalcar[isSetCompany]" value="{isSetCompany}"/>
				<input type="submit" class="txt_btn_a" value=" 导  出 "/>&nbsp;&nbsp;
				<input type="button" class="txt_btn_a" value=" 关  闭 " onclick="closeFun();"/>
			</td>
		</tr>
		</table>
	</form>
</body>
</html>