<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>添加租车报销费用信息</title>
    <meta http-equiv="Content-Type" content="text/html; charset=gbk"/>
    <link rel="stylesheet" type="text/css" href="css/yxstyle.css"/>
    <link rel="stylesheet" type="text/css" href="js/thickbox.css"/>
    <link rel="stylesheet" type="text/css" href="js/jqeasyui/themes/default/easyui.css"/>
    <link rel="stylesheet" type="text/css" href="js/jqeasyui/themes/icon.css"/>

    <script type="text/javascript" src="js/jquery/jquery-1.6.2.min.js"></script>
    <script type="text/javascript" src="js/jqeasyui/jquery.easyui.min.js"></script>
</head>
<body style="height:100%">
    <form id="form1" method="post" action="?model=outsourcing_vehicle_rentalcar&action=addCostExpenseTmp">
        <table width="100%" style="margin-left: 4px" class="form_main_table">
            <tr>
                <td class="form_text_right_three_new" colspan="2">
                    <fieldset>
                        <legend class="legend">
                            <b>费 用 信 息</b>
                        </legend>
                        <img id="imgLoading" src="images/loading1.gif"/>
                        <table class="form_in_table" id="feeTbl" style="display:none">
                            <thead>
                            <tr class="main_tr_header">
                                <th width="16%">费用大类</th>
                                <th width="15%">费用小类</th>
                                <th width="15%">费用金额</th>
                                <th width="18%">发票类型</th>
                                <th width="15%">发票金额</th>
                                <th width="15%">发票数量</th>
                                <th width="9%">操 作</th>
                            </tr>
                            </thead>
                            <tbody id="costTypeInner"></tbody>
                            <tr class="tr_count">
                                <td width="30px"></td>
                                <td>合计</td>
                                <td>
                                    <input type="text" class="readOnlyTxtCount formatMoney" style="width:146px" name="expenseTmp[Amount]" id="countMoney" readonly="readonly"/>
                                    <input type="hidden" name="expenseTmp[feeRegular]" id="feeRegular"/>
                                    <input type="hidden" name="expenseTmp[feeSubsidy]" id="feeSubsidy" value="0"/>
                                </td>
                                <td></td>
                                <td>
                                    <input type="text" class="readOnlyTxtCount formatMoney" style="width:80px" name="expenseTmp[invoiceMoney]" id="invoiceMoney" value="0" readonly="readonly"/>
                                </td>
                                <td align="center">
                                    <input type="text" class="readOnlyTxtCount" style="width:80px" name="expenseTmp[invoiceNumber]" id="countInvoiceNum" value="0" readonly="readonly"/>
                                </td>
                                <td align="center"></td>
                            </tr>
                        </table>
                    </fieldset>
                </td>
            </tr>
            <tr>
                <td class="form_text_right_three_new">
                    <input type="hidden" id="useCarDateStr" value='{useCarDateStr}'>
                    <input type="hidden" id="payDetailJson" name="expenseTmp[payDetailJson]" value='{payDetailJson}'>
                    <input type="hidden" id="expenseTmpId" name="expenseTmp[id]" value='{expenseTmpId}'>
                    <input type="hidden" id="deductInfoId" name="expenseTmp[deductInfoId]" value='{deductInfoId}'>
                    <input type="hidden" id="registerIds" name="expenseTmp[registerIds]" value='{registerIds}'>
                    <input type="hidden" id="carNum" name="expenseTmp[carNum]" value='{carNum}'>
                    <input type="hidden" id="useCarDate" name="expenseTmp[useCarDate]" value='{useCarDate}'>
                    <input type="hidden" id="allregisterId" name="expenseTmp[allregisterId]" value='{allregisterId}'>
                    <input type="hidden" id="rentalContractId" name="expenseTmp[rentalContractId]" value='{mainId}'>
                    <input type="hidden" id="payInfoId" name="expenseTmp[payInfoId]" value='{payInfoId}'>
                    <input type="hidden" id="rowIds" name="expenseTmp[rowIds]" value='{rowIds}'>
                    <input type="hidden" id="rentalPropertyCode" name="expenseTmp[rentalPropertyCode]" value='{rentalPropertyCode}'>
                    <input type="button" value=" 提 交 " class="txt_btn_a" onclick="submitForm()"/>&nbsp;&nbsp;
                </td>
            </tr>
        </table>
    </form>
    <script>

    </script>
    <script type="text/javascript" src="{#jsPath#}/rentalcar-costExpense-common.js" ></script>
    <script type="text/javascript" src="{#jsPath#}/rentalcar-costExpense-add.js" ></script>
    <script type="text/javascript" src="js/common/businesspage.js"></script>
</body>
</html>
