<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" " http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns=" http://www.w3.org/1999/xhtml">
<head>
	<title>员工转正考核评估表</title>
   {#commonInclude#}
   <script type="text/javascript" src="{#jsPath#}/examine-edit.js" ></script>
</head>
<body>
<form id="form1" method="post" action="?model=hr_permanent_examine&action=edit" onsubmit="return caculate();">
<table class="form_main_table">
   <tr>
      <td colspan="6">
          <div class="main_head">
             <span class="main_head_title">
               	员工转正考核评估表
             </span>
         </div>
      </td>
   </tr>
      	<tr>
      		<td class="form_text_right_three" colspan="6">
            	<font color='blue'>[*]为必填项</font>
            </td>
         </tr>
       <tr>
      		<td class="form_text_left_three">员工编号</td>
      		<td class="form_text_right_three" >
      			 <input type="text" class="readOnlyText" id="userNo" name="examine[userNo]" value="{userNo}" readonly/>
      		</td>
      		<td class="form_text_left_three">姓名</td>
      		<td class="form_text_right_three" >
      			 <input type="text" class="readOnlyText" id="useName" name="examine[useName]" value="{useName}" readonly/>
      			 <input type="hidden" class="txt" id="userAccount" name="examine[userAccount]" value="{userAccount}"/>
      		</td>
      		<td class="form_text_left_three">性别</td>
      		<td class="form_text_right_three" >
      			 <input type="text" class="readOnlyText" id="sex" name="examine[sex]" value="{sex}" readonly/>
      		</td>
       </tr>
       <tr>
      		<td class="form_text_left_three">年龄</td>
      		<td class="form_text_right_three" >
      			 <input type="text" class="readOnlyText" id="age" name="examine[age]" value="{age}" readonly/>
      		</td>
      		<td class="form_text_left_three">部门</td>
      		<td class="form_text_right_three" >
      			 <input type="text" class="readOnlyText" id="deptName" name="examine[deptName]" value="{deptName}" readonly/>
				<input type="hidden" class="txt" id="deptId" name="examine[deptId]" value="{deptId}"/>
      			 <input type="hidden" class="txt" id="deptCode" name="examine[deptCode]" value="{deptCode}"/>
      		</td>
      		<td class="form_text_left_three">职位</td>
      		<td class="form_text_right_three" >
				<input type="hidden" class="txt" id="positionId" name="examine[positionId]" value="{positionId}"/>
      			 <input type="text" class="readOnlyText" id="positionName" name="examine[positionName]" value="{positionName}" readonly/>
      		</td>
       </tr>
       <tr>
      		<td class="form_text_left_three">学历</td>
      		<td class="form_text_right_three" >
      			 <input type="text" class="readOnlyText" id="education" name="examine[education]" value="{education}" readonly/>
				  <input type="hidden" class="txt" id="educationCode" name="examine[educationCode]" value="{educationCode}"/>
      		</td>
      		<td class="form_text_left_three">毕业院校</td>
      		<td class="form_text_right_three" >
      			 <input type="text" class="readOnlyText" id="school" name="examine[school]" value="{school}" readonly/>
      		</td>
      		<td class="form_text_left_three">专业</td>
      		<td class="form_text_right_three" >
      			 <input type="text" class="readOnlyText" id="professional" name="examine[professional]" value="{professional}" readonly/>
      		</td>
       </tr>
       <tr>
      		<td class="form_text_left_three">联系电话</td>
      		<td class="form_text_right_three" >
      			 <input type="text" class="txt" id="phone" name="examine[phone]" value="{phone}"/>
      		</td>
      		<td class="form_text_left_three">工作年限</td>
      		<td class="form_text_right_three" >
      			 <input type="text" class="txt" id="workSeniority" name="examine[workSeniority]" value="{workSeniority}" />
      		</td>
      		<td class="form_text_left_three">填表日期</td>
      		<td class="form_text_right_three" >
      			 <input type="text" class="readOnlyText" id="reformDT" readOnly  name="examine[reformDT]" value="{reformDT}"/>
      		</td>
	   </tr>
       <tr>
      		<td class="form_text_left_three">入职时间</td>
      		<td class="form_text_right_three" >
      			 <input type="text" class="readOnlyText" id="begintime"  readOnly  name="examine[begintime]" value="{begintime}"/>
      		</td>
      		<td class="form_text_left_three">计划转正时间</td>
      		<td class="form_text_right_three" >
      			 <input type="text" class="readOnlyText" id="finishtime" readOnly  name="examine[finishtime]" value="{finishtime}"/>
      		</td>
			<td class="form_text_left_three">考核方案</td>
      		<td class="form_text_right_three" >
				<input id="assessName" value="{schemeName}" class="readOnlyText" type="text" readonly="readonly"/>
      		</td>
       </tr>
	<tr>
			<td class="form_text_left_three">自评总分</td>
      		<td class="form_text_right_three" colspan="6">
      			 <input type="text" class="readOnlyText" id="selfScore" name="examine[selfScore]" value="{selfScore}" readonly/>
      		</td>
		</tr>
       <tr>
      		<td class="form_text_left_three">工作总结</td>
      		<td class="form_text_right_three" colspan="6">
      			 {summaryinfo}
      		</td>
       </tr>
       <tr>
      		<td class="form_text_left_three">后三个月工作规划</td>
      		<td class="form_text_right_three" colspan="6">
      			 {planinfo}
      		</td>
       </tr>
       <tr>
      		<td class="form_text_left_three">想法及建议</td>
      		<td class="form_text_right_three" colspan="6">
				<textarea name="examine[aboutIt]" class="txt_txtarea_biglong" id="suggestion">{aboutIt}</textarea>
      		</td>
       </tr>
	   <tr>
			<td colspan="6" class="form_text_right">
				<span class="blue">提示:复核总分在50分以下的，视为考核不通过。</span>
			</td>
       </tr>
	   <tr>
			<td class="form_text_left_three">
				考评尺度(分):
			</td>
			<td colspan="6" class="form_text_right">
				优秀：9(含)-10    良好：7(含)-8    一般：5(含)-6     较差：3(含)-4    极差：0-2 
			</td>
       </tr>
			<tr>
				<td colspan="6">
				<fieldset><legend><b>考核内容</b></legend>
      			 	<div id="schemeTable"></div>
				</fieldset>
				</td>
			</tr>
           <tr>
   		<td class="txt_btn" colspan="6">
            <input  type="hidden" id="parentId" name="examine[id]" value="{id}" />
			<input  type="hidden" id="parentCode" name="examine[formCode]" value="{formCode}" />
   		   <input  type="submit" class="txt_btn_a" value=" 保  存 "/>
   		   <input  type="button" class="txt_btn_a" value=" 关  闭 " onclick="closeFun();"/>
   		</td>
        </tr>
     </table>
  </form>
 </body>
</html>