
<html>

<head>
	<title>转正试用考核方案</title>
      {#commonInclude#}
   <script type="text/javascript" src="{#jsPath#}/scheme-view.js" ></script>
</head>
<body >

<table class="form_main_table">
<tr>
	<td colspan="4">
      <div class="main_head">
          <span class="main_head_title">
            	转正试用考核方案
          </span>
      </div>
   </td>
</tr>
<tr>
		<td class="form_text_left_three">方案名称</td>
						<td class="" width="30%" align="left">
			{schemeName}
		</td>
		<td class="form_text_left_three">方案编码</td>
						<td class="" width="30%" align="left">
			{schemeCode}
		</td>

</tr>
<tr>

		<td class="form_text_left_three">方案总分</td>
						<td class="" width="30%" align="left">
			{schemeTotal}
		</td>
		<td class="form_text_left_three">方案合格分</td>
						<td class="" width="30%" align="left">
			{schemePass}
		</td>
</tr>
<tr>
<td class="form_text_left_three">考核对象</td>
		<td class="form_text_right" colspan="3">
			{schemeTypeName}
		</td>
</tr>
<tr>
	<td colspan="4">
 		<div id="schemeTable"></div>

	</td>
</tr>
   <tr>
		<td class="txt_btn" colspan="4">
			<input  type="hidden" id="parentId" name="scheme[id]" value="{id}" />
	      <input  type="button" class="txt_btn_a" value=" 关  闭 " onclick="closeFun();"/>
		</td>
</tr>
</table>
</body>
</html>