<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>客户联系人信息</title>
<base target="_self">
{#commonInclude#}
<script type="text/javascript" src="{#jsPath#}/linkman-listinfo-grid.js"></script>
<script type="text/javascript" src="{#jsPath#}/linkman-select.js"></script>
</head>

<body>
<input type='hidden' id='showcheckbox' value='{showcheckbox}'>
<div id="linkmanGrid" >

</div>
<br>
<div style='text-align:center'>
<input class="txt_btn_a" id='saveButton' type="submit" value="保存">&nbsp;&nbsp;&nbsp;
<input class="txt_btn_a" type="button" value="关闭" onclick="window.close();" >
</div>
</body>
</html>
