<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en_US" xml:lang="en_US">
<head>
	<title>查看收料通知单</title>
	<meta http-equiv="Content-Type" content="text/html;charset=gb2312"/>
	<link rel="stylesheet" type="text/css" href="css/yxstyle2.css"/>
</head>
<body>
<div class="main_head">
    <span class="main_head_title">
      	查看<b><span class="red">{productName}</span></b>的收料详细情况
    </span>
</div>
<div>
<table id="mytable" class="form_main_table">
			<thead>
				<tr class="main_tr_header">
					<th>序号</th>
					<th>收料单号</th>
					<th>批次号</th>
					<th>单位</th>
					<th>收料数量</th>
					<th>已入库数量</th>
					<th>月份</th>
					<th>收料日期</th>
					<th>质检方式</th>
				</tr>
			</thead>
			<tbody id="invbody">
			{list}
			</tbody>
</table>
<table class="form_main_table">
		<tr>
				<td class="txt_btn" colspan="4">
				   <input  type="button" class="txt_btn_a" value=" 关  闭 " onclick="self.parent.tb_remove();"/>
				</td>
		</tr>
</table>
</div>
</body>
</html>