<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" " http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns=" http://www.w3.org/1999/xhtml">
<head>
	<title>收料通知-发送邮件</title>
   {#commonInclude#}
<script type="text/javascript">
$(document).ready(function() {
	//收件人
	$("#receiver").yxselect_user({
		mode : 'check',
		hiddenId : 'receiverId'
	});

	// 验证信息
	validate({
		"receiver" : {
			required : true
		},
		"mailContent" : {
			required : true
		}
	});
});
</script>
</head>
<body>
<form id="form1" method="post" action="?model=purchase_arrival_arrival&action=receiveNotice" >
<table class="form_main_table">
	<tr>
		<td colspan="4">
			<div class="main_head">
				<span class="main_head_title">
					收料通知-发送邮件
				</span>
			</div>
		</td>
	</tr>
	<tr>
		<td class="form_text_left"><span >收件人:</span></td>
		<td class="form_text_right" >
			<input type="text" class="txtlong" id="receiver" name="mail[receiver]"/>
			<input type="hidden" class="txtlong" id="receiverId" name="mail[receiverId]"/>
		</td>
	</tr>
	<tr>
		<td class="form_text_left" >邮件内容:</td>
		<td class="form_text_right" colspan="2">
			<textarea rows="10" cols="80"  id="mailContent" name="mail[mailContent]"></textarea>
		</td>
	</tr>
	<tr>
		<td class="txt_btn" colspan="4">
			<input  type="hidden" id="id" name="mail[id]" value="{id}" />
			<input  type="submit" class="txt_btn_a" value=" 发  送 "/>
			<input  type="button" class="txt_btn_a" value=" 关  闭 " onclick="closeFun();"/>
		</td>
	</tr>
</table>
</form>
</body>
</html>