<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en_US" xml:lang="en_US">
<head>
	<title>查看法定节假日申请表</title>
	{#commonInclude#}
	<script type="text/javascript" src="{#jsPath#}/apply-view.js" ></script>
	<script type="text/javascript" src="js/common/approval.js"></script>
</head>
<body>

	<table class="form_main_table">
		<tr>
			<td colspan="4">
				<div class="main_head">
					<span class="main_head_title">
						查看法定节假日申请表信息
					</span>
				</div>
			</td>
		</tr>
		<tr>
			<td class="form_text_left">申请单据</td>
			<td class="form_text_right" colspan='3'>
				{applyCode}
			</td>
		</tr>
		<tr>
			<td class="form_text_left">员工编号</td>
			<td class="form_text_right">
				{userNo}
			</td>
			<td class="form_text_left">员工姓名</td>
			<td class="form_text_right">
				{userName}
			</td>
		</tr>
		<tr>
			<td class="form_text_left">直属部门</td>
			<td class="form_text_right">
				{deptName}
			</td>
			<td class="form_text_left">二级部门</td>
			<td class="form_text_right">
				{deptNameS}
			</td>
		</tr>
		<tr>
			<td class="form_text_left">三级部门</td>
			<td class="form_text_right">
				{deptNameT}
			</td>
			<td class="form_text_left">职位</td>
			<td class="form_text_right">
				{jobName}
			</td>
		</tr>
		<tr>
			<td class="form_text_left">加班时间</td>
			<td class="form_text_right" colspan="3">
				<div id="applyHoliday"></div>
		</tr>
		<tr>
			<td class="form_text_left">天数</td>
			<td class="form_text_right">
				{dayNo}
			</td>
			<td class="form_text_left">申请日期</td>
			<td class="form_text_right">
				{applyDate}
			</td>
		</tr>
		<tr>
			<td class="form_text_left">工作省份</td>
			<td class="form_text_right">
				{workProvince}
			</td>
			<td class="form_text_left">项目经理</td>
			<td class="form_text_right">
				{projectManager}
			</td>
		</tr>
		<tr>
			<td class="form_text_left">上班处理工作内容</td>
			<td class="form_text_right"  colspan='3'>
				{workContent}
			</td>
		</tr>
		<tr>
			<td class="innerTd" colspan="4">
				<table class="form_in_table">
					<tr>
						<td colspan="4" class="td_table" id="approvalView">
							<input type="hidden" id="pid" value="{exaId}"/>
							<input type="hidden" id="itemType" value="{exaCode}"/>
						</td>
					</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td class="txt_btn" colspan="4">
				<input type="hidden" id="setId" value="{setId}"/>
				<input type="hidden" id="id" value="{id}" />
				<input type="hidden" id="actType" value="{actType}" />
				<input type="button" class="txt_btn_a" value=" 关  闭 " onclick="closeFun();"/>
			</td>
		</tr>
	</table>
	<div id="aaa"></div>
</body>
</html>