<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" " http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns=" http://www.w3.org/1999/xhtml">
<head>
	<title>编辑外包立项整包分包表</title>
   {#commonInclude#}
   <script type="text/javascript" src="{#jsPath#}/projectRental-edit.js" ></script>   
</head>
<body>
<form id="form1" method="post" action="?model=outsourcing_approval_projectRental&action=edit" >
<table class="form_main_table">
   <tr>
      <td colspan="4">
          <div class="main_head">
             <span class="main_head_title">
               	编辑外包立项整包分包表信息
             </span>
         </div>     
      </td>
   </tr>
<tr>
		<td class="form_text_left">mainId</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" id="mainId"  name="projectRental[mainId]"  value="{mainId}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">费用类型ID</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" id="costTypeId"  name="projectRental[costTypeId]"  value="{costTypeId}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">费用类型</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" id="costType"  name="projectRental[costType]"  value="{costType}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">上级类型ID</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" id="parentId"  name="projectRental[parentId]"  value="{parentId}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">上级类型</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" id="parentName"  name="projectRental[parentName]"  value="{parentName}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">类型</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" id="feeType"  name="projectRental[feeType]"  value="{feeType}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">价格</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" id="price"  name="projectRental[price]"  value="{price}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">数量</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" id="number"  name="projectRental[number]"  value="{number}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">周期</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" id="period"  name="projectRental[period]"  value="{period}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">金额</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" id="amount"  name="projectRental[amount]"  value="{amount}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">归属外包供应商Id</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" id="suppId"  name="projectRental[suppId]"  value="{suppId}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">归属外包供应商Code</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" id="suppCode"  name="projectRental[suppCode]"  value="{suppCode}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">归属外包供应商</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" id="suppName"  name="projectRental[suppName]"  value="{suppName}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">备注</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" id="remark"  name="projectRental[remark]"  value="{remark}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">是否本公司</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" id="isSelf"  name="projectRental[isSelf]"  value="{isSelf}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">是否其他费用</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" id="isOtherFee"  name="projectRental[isOtherFee]"  value="{isOtherFee}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">是否管理费用</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" id="isManageFee"  name="projectRental[isManageFee]"  value="{isManageFee}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">是否利润</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" id="isProfit"  name="projectRental[isProfit]"  value="{isProfit}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">是否税费</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" id="isTax"  name="projectRental[isTax]"  value="{isTax}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">是否服务成本</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" id="isServerCost"  name="projectRental[isServerCost]"  value="{isServerCost}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">是否总成本</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" id="isAllCost"  name="projectRental[isAllCost]"  value="{isAllCost}" />
		</td>
</tr>        
<tr>
		<td class="form_text_left">是否被选用</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" id="isChoosed"  name="projectRental[isChoosed]"  value="{isChoosed}" />
		</td>
</tr>        
           <tr>
   		<td class="txt_btn" colspan="4">
            <input  type="hidden" id="id" name="projectRental[id]" value="{id}" />
   		   <input  type="submit" class="txt_btn_a" value=" 保  存 "/>
   		   <input  type="button" class="txt_btn_a" value=" 关  闭 " onclick="self.parent.tb_remove();"/>
   		</td>
        </tr>
     </table>
  </form>
 </body>
</html>