<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en_US" xml:lang="en_US">
<head>
	<title>查看培训课程</title>
      {#commonInclude#}
   <script type="text/javascript" src="{#jsPath#}/course-view.js" ></script>
</head>
<body>

<table class="form_main_table">
	<tr>
		<td colspan="4">
	      <div class="main_head">
	          <span class="main_head_title">
	            	查看培训课程
	          </span>
	      </div>
	   </td>
		</tr>
	<tr>
		<td class="form_text_left">课程名称</td>
		<td class="form_text_right">
			{courseName}
		</td>
		<td class="form_text_left">课程类别</td>
		<td class="form_text_right" width="30%">
			{courseTypeName}
		</td>
	</tr>
	<tr>
		<td class="form_text_left">培训机构</td>
		<td class="form_text_right">
			{agency}
		</td>
		<td class="form_text_left">培训讲师</td>
		<td class="form_text_right">
			{teacherName}
		</td>
	</tr>
	<tr>
		<td class="form_text_left">培训日期</td>
		<td class="form_text_right">
			{courseDate}
		</td>
		<td class="form_text_left">培训课时</td>
		<td class="form_text_right">
			{lessons}
		</td>
	</tr>
	<tr>
		<td class="form_text_left">培训费用</td>
		<td class="form_text_right">
			<span class="formatMoney">{fee}</span>
		</td>
		<td class="form_text_left">适用对象</td>
		<td class="form_text_right">
			{forWho}
		</td>
	</tr>
	<tr>
		<td class="form_text_left">课程状态</td>
		<td class="form_text_right" colspan="3">
			{status}
		</td>
	</tr>
	<tr>
		<td class="form_text_left">课程大纲</td>
		<td class="form_text_right divChangeLine" colspan="3">
			{outline}
		</td>
	</tr>
	<tr>
		<td class="form_text_left">培训地点</td>
		<td class="form_text_right divChangeLine" colspan="3">
			{address}
		</td>
	</tr>
	<tr>
		<td class="form_text_left">参训人员</td>
		<td class="form_text_right divChangeLine" colspan="3">
			{personsListName}
		</td>
	</tr>
	<tr>
		<td class="form_text_left">备注说明</td>
		<td class="form_text_right divChangeLine" colspan="3">
			{remark}
		</td>
	</tr>
   	<tr>
		<td class="txt_btn" colspan="4">
	      <input  type="button" class="txt_btn_a" value=" 关  闭 " onclick="closeFun()"/>
		</td>
	</tr>
</table>
</body>
</html>