<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en_US" xml:lang="en_US">
<head>
	<title>查看培训管理-讲师管理</title>
      {#commonInclude#}
   <script type="text/javascript" src="{#jsPath#}/teacher-view.js" ></script>
</head>
<body>

<table class="form_main_table">
	<tr>
		<td colspan="4">
			<div class="main_head">
				<span class="main_head_title">
	            	查看讲师信息
				</span>
			</div>
		</td>
	</tr>
	<tr>
		<td class="form_text_left">讲师名称</td>
		<td class="form_text_right">
			{teacherName}
		</td>
		<td class="form_text_left">讲师内别</td>
		<td class="form_text_right">
			<!--  {isInnerCN}-->
			{lecturerCategory}
		</td>
	</tr>
	<tr>
		<td class="form_text_left">讲师部门</td>
		<td class="form_text_right">
			{belongDeptName}
		</td>
		<td class="form_text_left">讲师岗位</td>
		<td class="form_text_right">
			{lecturerPost}
		</td>
	</tr>
	<tr>
		<td class="form_text_left">认证日期</td>
		<td class="form_text_right">
			{certifyDate}
		</td>
		<td class="form_text_left">内训师级别</td>
		<td class="form_text_right">
			{levelIdName}
		</td>
	</tr>
	<tr>
		<td class="form_text_left">认证分数</td>
		<td class="form_text_right" colspan="">
			{scores}
		</td>
		<td class="form_text_left">培训机构</td>
		<td class="form_text_right" colspan="">
			{trainingAgency}
		</td>
	</tr>
	<tr>
		<td class="form_text_left">可授课程</td>
		<td class="form_text_right divChangeLine" colspan="3">
			{courses}
		</td>
	</tr>
	<tr>
		<td class="form_text_left">备注说明</td>
		<td class="form_text_right divChangeLine" colspan="3">
			{remark}
		</td>
	</tr>
	<tr>
		<td class="form_text_left">创 建 人</td>
		<td class="form_text_right" width="30%">
			{createName}
		</td>
		<td class="form_text_left">创建时间</td>
		<td class="form_text_right">
			{createTime}
		</td>
	</tr>
	<tr>
		<td class="txt_btn" colspan="4">
			<input type="button" class="txt_btn_a" value=" 关  闭 " onclick="self.parent.tb_remove();"/>
		</td>
	</tr>
</table>
</body>
</html>