<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" " http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns=" http://www.w3.org/1999/xhtml">
<head>
	<title>新增预警执行记录</title>
   {#commonInclude#}
   <script type="text/javascript" src="{#jsPath#}/warninglogs-add.js" ></script>   
</head>

<body>
   <form id="form1" method="post" action="?model=system_warninglogs_warninglogs&action=add" >
      <table class="form_main_table">
      	<tr>
      		<td colspan="4">
            <div class="main_head">
             <span class="main_head_title">
               	新增预警执行记录
             </span>
            </div>
            </td>
         </tr>
       <tr>
      		<td class="form_text_left">业务ID</td>
      		<td class="form_text_right" >
      			 <input type="text" class="txt" id="objId" name="warning_logs[objId]" />
      		</td>
       </tr>        
       <tr>
      		<td class="form_text_left">业务名称</td>
      		<td class="form_text_right" >
      			 <input type="text" class="txt" id="objName" name="warning_logs[objName]" />
      		</td>
       </tr>        
       <tr>
      		<td class="form_text_left">查询脚本</td>
      		<td class="form_text_right" >
      			 <input type="text" class="txt" id="excuteSql" name="warning_logs[excuteSql]" />
      		</td>
       </tr>        
       <tr>
      		<td class="form_text_left">执行时间</td>
      		<td class="form_text_right" >
      			 <input type="text" class="txt" id="excuteTime" name="warning_logs[excuteTime]" />
      		</td>
       </tr>        
          <tr>
      		<td class="txt_btn" colspan="4">
      		   <input  type="submit" class="txt_btn_a" value=" 保  存 "/>
      		   <input  type="button" class="txt_btn_a" value=" 关  闭 " onclick="self.parent.tb_remove();"/>
      		</td>
       </tr>
      </table>
   </form>
</body>
</html>