<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>项目资源计划</title>

    {#commonInclude#}

	<link rel="stylesheet" href="js/jquery/ztree/css/zTreeStyle.css" type="text/css"/>
	<script type="text/javascript" src="js/jquery/ztree/jquery.ztree.core-3.0.js"></script>
	<script type="text/javascript" src="js/jquery/ztree/jquery.ztree.excheck-3.0.js"></script>
	<script type="text/javascript" src="js/jquery/ztree/jquery.ztree.exedit-3.0.js"></script>

    <script type="text/javascript" src="view/template/engineering/resources/js/esmresources-viewgrid.js"></script>

</head>
<body>
	<!--div style="float:left;width:200px; overflow:auto;">
		<ul id="tree" class="ztree"></ul>
	</div-->
	<div>
		<input type="hidden" id="projectId" value="{projectId}"/>
		<input type="hidden" id="activityId" value="-1"/>
		<input type="hidden" id="activityName" value="项目"/>
		<input type="hidden" id="lft"/>
		<input type="hidden" id="rgt"/>
	</div>
    <table id="esmresourcesGrid"></table>
</body>
</html>