<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en_US" xml:lang="en_US">
<head>
	<title>新增项目设备计划</title>
	<meta http-equiv="Content-Type" content="text/html;charset=gb2312"/>
	{#commonInclude#}
    <!--script type="text/javascript" src="js/jquery/combo/business/yxcombogrid-product.js" ></script-->
    <script type="text/javascript" src="js/jquery/combo/business/yxcombogrid-esmdevice.js" ></script>
	<script type="text/javascript" src="{#jsPath#}/esmresources-add.js" ></script>
    <script type="text/javascript" src="{#jsPath#}/esmresources-resource-combogrid.js" ></script>

</head>
<body>
<div class="main_head2">
    <span class="main_head_title">
      	新增项目设备
    </span>
</div>
<form id="form1" method="post" action="?model=engineering_resources_esmresources&action=add">
<table class="form_main_table">
    <tr>
		<td class="form_text_left_three"><span class="blue">设备名称</span></td>
		<td class="form_text_right_three" >
			 <input type="text" class="txt" name="esmresources[resourceName]" id="resourceName" readonly/>
			 <input type="hidden" name="esmresources[resourceCode]" id="resourceCode"/>
			 <input type="hidden" name="esmresources[resourceId]" id="resourceId"/>
		</td>
		<td class="form_text_left_three">设备类型</td>
		<td class="form_text_right_three" >
			 <input type="text" class="readOnlyText" name="esmresources[resourceTypeName]" id="resourceTypeName" readonly/>
			<input type="hidden" name="esmresources[resourceTypeCode]" id="resourceTypeCode"/>
			<input type="hidden" name="esmresources[resourceTypeId]" id="resourceTypeId"/>
		</td>
		<td class="form_text_left_three">所属项目</td>
		<td class="form_text_right_three" >
			 <input type="text" class="readOnlyText" name="esmresources[projectName]" value="{projectName}" readonly/>
			 <input type="hidden" name="esmresources[projectCode]" value="{projectCode}"/>
			 <input type="hidden"  name="esmresources[projectId]" value="{projectId}"/>
		</td>
    </tr>
    <tr>
		<td class="form_text_left_three"><span class="blue">数&nbsp;&nbsp;&nbsp;&nbsp;量</span></td>
		<td class="form_text_right_three" >
			 <input type="text" class="txt" name="esmresources[number]" id="number" onblur="calResource();"/>
		</td>
		<td class="form_text_left_three">单&nbsp;&nbsp;&nbsp;&nbsp;位</td>
		<td class="form_text_right_three" >
			 <input type="text" class="readOnlyText" name="esmresources[unit]" id="unit" readonly/>
		</td>
		<td class="form_text_left_three">所属任务</td>
		<td class="form_text_right_three" >
			 <input type="text" class="readOnlyText" name="esmresources[activityName]" value="{activityName}" readonly/>
			 <input type="hidden" name="esmresources[activityId]" value="{activityId}"/>
		</td>
    </tr>
    <tr>
		<td class="form_text_left_three">领用日期</td>
		<td class="form_text_right_three" >
			<input type="text" class="txt Wdate" name="esmresources[planBeginDate]" id="planBeginDate" value="{planBeginDate}" onfocus="WdatePicker()" onchange="timeCheck(this);calResource();" readonly/>
		</td>
		<td class="form_text_left_three">归还日期</td>
		<td class="form_text_right_three" >
			<input type="text" class="txt Wdate" name="esmresources[planEndDate]" id="planEndDate" value="{planEndDate}" onfocus="WdatePicker()" onchange="timeCheck(this);calResource();" readonly/>
		</td>
		<td class="form_text_left_three"><span class="blue">使用天数</span></td>
		<td class="form_text_right_three" >
			<input type="text" class="txt" name="esmresources[useDays]" id="useDays" value="{days}" onblur="calResource();"/>
		</td>
    </tr>
    <tr>
		<td class="form_text_left_three">设备折价</td>
		<td class="form_text_right_three" >
			 <input type="text" class="formatMoney readOnlyText" name="esmresources[price]" id="price" readonly/>
		</td>
		<td class="form_text_left_three">设备成本</td>
		<td class="form_text_right_three" colspan="3">
			 <input type="text" class="readOnlyText formatMoney" name="esmresources[amount]" id="amount" readonly/>
		</td>
    </tr>
    <!--tr>
		<td class="form_text_left_three">工作内容</td>
		<td class="form_text_right_three" colspan="5">
			<textarea class="txt_txtarea_biglong" name="esmresources[workContent]" id="workContent">{workContent}</textarea>
		</td>
    </tr-->
    <tr>
		<td class="form_text_left_three">备注说明</td>
		<td class="form_text_right_three" colspan="5">
			<textarea class="txt_txtarea_biglong" name="esmresources[remark]" id="remark">{remark}</textarea>
		</td>
    </tr>
    <tr>
		<td class="txt_btn" colspan="6">
		   <input type="submit" class="txt_btn_a" value="保  存"/>
		   <input type="button" class="txt_btn_a" value="关  闭" onclick="self.parent.tb_remove();"/>
		</td>
    </tr>
</table>
</form>
</body>
</html>