<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en_US" xml:lang="en_US">
<head>
	<title>查看项目设备申请表</title>
	{#commonInclude#}
	<link rel="stylesheet" type="text/css" href="css/yxstyle2.css" />
	<script type="text/javascript" src="js/common/approval.js"></script>
	<script type="text/javascript" src="{#jsPath#}/resourceapply-view.js" ></script>
	<script type="text/javascript" src="{#jsPath#}/resourceapply-common.js" ></script>
</head>
<body>
	<table class="form_main_table" style="width:1050px;margin:auto;align:center" align="center">
		<tr>
			<td colspan="4">
		    	<div class="main_head2">
		    		<span class="main_head_title">
						设备申请 -- 单号 ：{formNo}
						<input type="button" value="申请操作记录" class="txt_btn_a" style="margin-left:10px;" onclick="viewLog({id});" />
		        	</span>
		    	</div>
			</td>
		</tr>
		<tr>
			<td colspan="4" style="text-align:left;">
				撤回原因：<span class='red' style="font-weight:bold;">{backReason}</span>
			</td>
		</tr>
		<tr>
			<td colspan="4">
			<fieldset>
				<legend class="legend" onclick="showAndHide('baseImg','contractinfo')">基本信息
					<img src="images/icon/info_up.gif" id="baseImg" />
				</legend>
				<table width="100%" id="contractinfo" class="form_in_table">
					<tr>
						<td class="form_text_left">申 请 人</td>
						<td class="form_text_right" width="30%">
							{applyUser}
						</td>
						<td class="form_text_left">申请人部门</td>
						<td class="form_text_right">
							{deptName}
						</td>						
					<tr>
						<td class="form_text_left">申请日期</td>
						<td class="form_text_right">
							{applyDate}
						</td>						
						<td class="form_text_left">
							申请类型
						</td>
						<td class="form_text_right">
							{applyTypeName}
						</td>						
					</tr>
					<tr>
						<td class="form_text_left">项目编号</td>
						<td class="form_text_right">
							{projectCode}
						</td>
						<td class="form_text_left">
							领用方式
						</td>
						<td class="form_text_right">
							{getTypeName}
						</td>						
					</tr>
					<tr>
						<td class="form_text_left">项目名称</td>
						<td class="form_text_right">
							{projectName}
						</td>
						<td class="form_text_left">项目经理</td>
						<td class="form_text_right">
							{managerName}
						</td>						
					</tr>
					<tr>
						<td class="form_text_left">设备使用地</td>
						<td class="form_text_right">
							{place}
						</td>
						<td class="form_text_left">联系电话</td>
						<td class="form_text_right">
							{mobile}
						</td>
					</tr>
					<tr>
						<td class="form_text_left">申请原因</td>
						<td class="form_text_right" colspan="3">
							{reason}
						</td>
					</tr>
					<tr>
						<td class="form_text_left">备注信息</td>
						<td class="form_text_right" colspan="3">
							{remark}
						</td>
					</tr>
					<tr>
						<td class="form_text_left">邮寄地址</td>
						<td class="form_text_right" colspan="3">
							{address}
						</td>
					</tr>
				</table>
				</fieldset>
			</td>
		</tr>
		<tr >
			<td colspan="6" >
				<fieldset style="width:200">
					<legend class="legend" onclick="showAndHideDiv('importTableImg','importTable')">设备信息
						<img src="images/icon/info_up.gif" id="importTableImg" />
					</legend>
				    <div id="importTable"></div>
				</fieldset>
			</td>
		</tr>
		<tr>
			<td class="innerTd" colspan="4">
				<table class="form_in_table">
					<tr>
						<td class="td_table" id="approvalView">
							<input type="hidden" id="pid" value="{id}"/>
							<input type="hidden" id="itemType" value="oa_esm_resource_apply"/>
						</td>
					</tr>
				</table>
			</td>
		</tr>
		<tr id="closeBtn">
			<td class="txt_btn" colspan="4">
				<input type="hidden" id="id"  value="{id}" />
				<input type="button" class="txt_btn_a" value=" 关  闭 " onclick="closeFun();"/>
			</td>
		</tr>
	</table>
</body>
</html>