
<html>
<head>
<title></title>
<LINK rel="stylesheet" href="js/jquery/tab/css/tabs.css" type="text/css">
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/jquery/tab/tabs.js"></script>
<script type="text/javascript" src="js/jquery/tab/toolbox.history.js"></script>
<script type="text/javascript">

$(function() {
 	var tabArr = [
                  "?model=outsourcing_supplier_basicinfo&action=toView&id={id}&actType={actType}",
                  "?model=outsourcing_supplier_personnel&action=toViewList&suppId={id}",
                  "?model=outsourcing_supplier_proejct&action=toViewList&suppId={id}",
                  "?model=outsourcing_supplier_certify&action=toViewList&suppId={id}",
                  "?model=outsourcing_supplier_changeInfo&action=page&suppId={id}"
    			];
    $("#tabs1").tabs(".panes > iframe",{ history: true,onClick:function(i,e) {
		var actTabId="#iframe" + (parseInt(e) + 1);
   	 if($(actTabId).attr("src") == ""){
   		$(actTabId).attr("src",tabArr[e]);
    }
    }
    });
});

    </script>

</head>
<body>
<div><!-- the tabs -->
<ul class="tabs" id="tabs1">
	<li><a href="#tab1">基本信息</a></li>
	<li><a href="#tab2">人员信息</a></li>
	<li><a href="#tab3">项目信息</a></li>
	<li><a href="#tab4">资质证书</a></li>
	<li><a href="#tab5">认证等级变更记录</a></li>
</ul>

<!-- tab "panes" -->
<div class="panes">

<iframe class="pane" id="iframe1" src="" height="95%" frameborder="0">
</iframe>
<iframe class="pane" id="iframe2" src="" height="85%"  frameborder="0">
</iframe>
<iframe class="pane" id="iframe3" src="" height="85%"  frameborder="0">
</iframe>
<iframe class="pane" id="iframe4" src="" height="85%" frameborder="0">
</iframe>
<iframe class="pane" id="iframe5" src="" height="85%" frameborder="0">
</iframe>
</div>
</div>
</body>
</html>


