<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en_US" xml:lang="en_US">
<head>
	<title>查看供应商资质证书</title>
      {#commonInclude#}
   <script type="text/javascript" src="{#jsPath#}/certify-view.js" ></script>
</head>
<body>

<table class="form_main_table">
<tr>
	<td colspan="4">
      <div class="main_head">
          <span class="main_head_title">
            	资质证书信息
          </span>
      </div>
   </td>
</tr>
<tr>
		<td class="form_text_left">外包供应商</td>
		<td class="form_text_right">
			{suppName}
		</td>
		<td class="form_text_left">类型</td>
		<td class="form_text_right">
			{typeName}
		</td>
</tr>
<tr>
		<td class="form_text_left">资质名称</td>
		<td class="form_text_right">
			{certifyName}
		</td>
		<td class="form_text_left">资质等级</td>
		<td class="form_text_right">
			{certifyLevel}
		</td>
</tr>
<tr>
		<td class="form_text_left">资质证书编号</td>
		<td class="form_text_right">
			{certifyCode}
		</td>
		<td class="form_text_left">资质发放单位</td>
		<td class="form_text_right">
			{certifyCompany}
		</td>
</tr>
<tr>
		<td class="form_text_left">资质有效期(起始日)</td>
		<td class="form_text_right">
			{beginDate}
		</td>
		<td class="form_text_left">资质有效期(终止日)</td>
		<td class="form_text_right">
			{endDate}
		</td>
</tr>
<tr>
		<td class="form_text_left">备注</td>
		<td class="form_text_right" colspan="3">
			{remark}
		</td>
</tr>
		<tr>
			<td class="form_text_left">附  件</td>
		<td class="form_text_right" colspan="3">{file}</td>
		</tr>
   <tr>
		<td class="txt_btn" colspan="4">
         <input  type="hidden" id="id"  value="{id}" />
	      <input  type="button" class="txt_btn_a" value=" 关  闭 " onclick="self.parent.tb_remove();"/>
		</td>
</tr>
</table>
</body>
</html>