<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" " http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns=" http://www.w3.org/1999/xhtml">
<head>
	<title>编辑供应商项目信息</title>
   {#commonInclude#}
   <script type="text/javascript" src="{#jsPath#}/proejct-edit.js" ></script>
</head>
<body>
<form id="form1" method="post" action="?model=outsourcing_supplier_proejct&action=edit" >
<table class="form_main_table">
   <tr>
      <td colspan="4">
          <div class="main_head">
             <span class="main_head_title">
               	项目信息
             </span>
         </div>
      </td>
   </tr>
<tr>
		<td class="form_text_left">供应商编号</td>
		<td class="form_text_right" >
			 <input type="text" class="readOnlyText" id="suppCode"  name="proejct[suppCode]"  value="{suppCode}" readonly/>
		</td>
		<td class="form_text_left">外包供应商</td>
		<td class="form_text_right" >
			 <input type="text" class="readOnlyText" id="suppName"  name="proejct[suppName]"  value="{suppName}" readonly/>
			 <input type="hidden" class="txt" id="suppId"  name="proejct[suppId]"  value="{suppId}" />
		</td>
</tr>
<tr>
		<td class="form_text_left">项目编号</td>
		<td class="form_text_right" >
			 <input type="text" class="readOnlyText" id="projectCode"  name="proejct[projectCode]"  value="{projectCode}" readonly/>
		</td>
		<td class="form_text_left">项目名称</td>
		<td class="form_text_right" >
			 <input type="text" class="readOnlyText" id="projectName"  name="proejct[projectName]"  value="{projectName}" readonly/>
			 <input type="hidden" class="txt" id="projectId"  name="proejct[projectId]"  value="{projectId}" />
		</td>
</tr>
<tr>
		<td class="form_text_left">外包编号</td>
		<td class="form_text_right" >
			 <input type="text" class="readOnlyText" id="outContractCode"  name="proejct[outContractCode]"  value="{outContractCode}" readonly/>
			 <input type="hidden" class="txt" id="outContractId"  name="proejct[outContractId]"  value="{outContractId}" />
		</td>
		<td class="form_text_left">项目类型</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" id="projectType"  name="proejct[projectType]"  value="{projectType}" />
			 <input type="hidden" class="txt" id="projectTypeCode"  name="proejct[projectTypeCode]"  value="{projectTypeCode}" />
		</td>
</tr>
<tr>
		<td class="form_text_left">外包方式</td>
		<td class="form_text_right" >
			 <input type="text" class="readOnlyText" id="outsourcingName"  name="proejct[outsourcingName]"  value="{outsourcingName}" readonly/>
		</td>
		<td class="form_text_left"><span style="color:blue">人员数量</span></td>
		<td class="form_text_right" >
			 <input type="text" class="txt" id="personNum"  name="proejct[personNum]"  value="{personNum}" />
		</td>
</tr>
<tr>
		<td class="form_text_left">项目实施周期(开始)</td>
		<td class="form_text_right" >
			 <input type="text" class="readOnlyText" id="beginDate"   name="proejct[beginDate]" value="{beginDate}"  readonly/>
		</td>
		<td class="form_text_left">项目实施周期(结束)</td>
		<td class="form_text_right" >
			 <input type="text" class="readOnlyText" id="endDate"  name="proejct[endDate]" value="{endDate}"  readonly/>
		</td>
</tr>
<tr>
		<td class="form_text_left">外包金额</td>
		<td class="form_text_right" >
			 <input type="text" class="readOnlyText" id="totalMoney"  name="proejct[totalMoney]"  value="{totalMoney}" readonly/>
		</td>
		<td class="form_text_left">考核得分</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" id="checkScore"  name="proejct[checkScore]"  value="{checkScore}" />
		</td>
</tr>
<tr>
		<td class="form_text_left" >扣分原因</td>
		<td class="form_text_right" colspan="3">
            <textarea class="txt_txtarea_font" id="deductReason"  name="proejct[deductReason]">{deductReason}</textarea>
		</td>
</tr>

<tr>
		<td class="form_text_left" >项目评价</td>
		<td class="form_text_right"  colspan="3">
            <textarea class="txt_txtarea_font" id="evaluate"  name="proejct[evaluate]">{evaluate}</textarea>
		</td>
</tr>

           <tr>
   		<td class="txt_btn" colspan="4">
            <input  type="hidden" id="id" name="proejct[id]" value="{id}" />
   		   <input  type="submit" class="txt_btn_a" value=" 保  存 "/>
   		   <input  type="button" class="txt_btn_a" value=" 关  闭 " onclick="self.parent.tb_remove();"/>
   		</td>
        </tr>
     </table>
  </form>
 </body>
</html>