<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" " http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns=" http://www.w3.org/1999/xhtml">
<head>
	<title>新增供应商项目信息</title>
   {#commonInclude#}
   <script type="text/javascript" src="js/jquery/combo/business/yxcombogrid-outsourccontract.js"></script>
   <script type="text/javascript" src="{#jsPath#}/proejct-add.js" ></script>
</head>

<body>
   <form id="form1" method="post" action="?model=outsourcing_supplier_proejct&action=add" >
      <table class="form_main_table">
      	<tr>
      		<td colspan="4">
            <div class="main_head">
             <span class="main_head_title">
               	项目信息
             </span>
            </div>
            </td>
         </tr>
       <tr>
			<td class="form_text_left">供应商编号</td>
			<td class="form_text_right" >
				 <input type="text" class="readOnlyText" id="suppCode"  name="proejct[suppCode]"  value="{suppCode}" readonly/>
			</td>
      		<td class="form_text_left">供应商外包</td>
      		<td class="form_text_right" >
      			 <input type="text" class="readOnlyText" id="suppName" name="proejct[suppName]" value="{suppName}" readonly/>
      			 <input type="hidden" class="txt" id="suppId" name="proejct[suppId]"  value="{suppId}"/>
      		</td>
       </tr>
       <tr>
      		<td class="form_text_left">项目编号</td>
      		<td class="form_text_right" >
      			 <input type="text" class="readOnlyText" id="projectCode" name="proejct[projectCode]" readonly/>
      		</td>
      		<td class="form_text_left">项目名称</td>
      		<td class="form_text_right" >
      			 <input type="text" class="readOnlyText" id="projectName" name="proejct[projectName]" readonly/>
      			 <input type="hidden" class="txt" id="projectId" name="proejct[projectId]" />
      		</td>
       </tr>
       <tr>
      		<td class="form_text_left"><span style="color:blue">外包编号</span></td>
      		<td class="form_text_right" >
      			 <input type="text" class="txt" id="outContractCode" name="proejct[outContractCode]" />
      			 <input type="hidden" class="txt" id="outContractId" name="proejct[outContractId]" />
      		</td>
      		<td class="form_text_left">项目类型</td>
      		<td class="form_text_right" >
      			 <input type="text" class="txt" id="projectType" name="proejct[projectType]" />
      			 <input type="hidden" class="txt" id="projectTypeCode" name="proejct[projectTypeCode]" readonly/>
      		</td>
       </tr>
       <tr>
      		<td class="form_text_left">外包方式</td>
      		<td class="form_text_right" >
      			 <input type="hidden" class="readOnlyText" id="outsourcing" name="proejct[outsourcing]" readonly/>
      			 <input type="text" class="readOnlyText" id="outsourcingName" name="proejct[outsourcingName]" readonly/>
      		</td>
      		<td class="form_text_left"><span style="color:blue">人员数量</span></td>
      		<td class="form_text_right" >
      			 <input type="text" class="txt" id="personNum" name="proejct[personNum]" />
      		</td>
       </tr>
       <tr>
      		<td class="form_text_left">项目实施周期(开始)</td>
      		<td class="form_text_right" >
      			 <input type="text" class="readOnlyText" id="beginDate"  readonly  name="proejct[beginDate]" />
      		</td>
      		<td class="form_text_left">项目实施周期(结束)</td>
      		<td class="form_text_right" >
      			 <input type="text" class="readOnlyText" id="endDate" readonly  name="proejct[endDate]" />
      		</td>
       </tr>
       <tr>
      		<td class="form_text_left">外包金额</td>
      		<td class="form_text_right" >
      			 <input type="text" class="readOnlyText" id="totalMoney" name="proejct[totalMoney]" readonly/>
      		</td>
      		<td class="form_text_left">考核得分</td>
      		<td class="form_text_right" >
      			 <input type="text" class="txt" id="checkScore" name="proejct[checkScore]" />
      		</td>
       </tr>
      <tr>
      		<td class="form_text_left" >扣分原因</td>
      		<td class="form_text_right" colspan="3">
                  <textarea class="txt_txtarea_font" id="deductReason" name="proejct[deductReason]"></textarea>
      		</td>
      </tr>

      <tr>
      		<td class="form_text_left" >项目评价</td>
      		<td class="form_text_right" colspan="3">
                  <textarea class="txt_txtarea_font" id="evaluate" name="proejct[evaluate]"></textarea>
      		</td>
      </tr>

          <tr>
      		<td class="txt_btn" colspan="4">
      		   <input  type="submit" class="txt_btn_a" value=" 保  存 "/>&nbsp;&nbsp;&nbsp;&nbsp;
      		   <input  type="button" class="txt_btn_a" value=" 关  闭 " onclick="self.parent.tb_remove();"/>
      		</td>
       </tr>
      </table>
   </form>
</body>
</html>