<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en_US" xml:lang="en_US">
<head>
<title></title>
<meta http-equiv="Content-Type" content="text/html;charset=gb2312" />
	<link rel="stylesheet" type="text/css" href="css/yxstyle.css" />
	<link rel="stylesheet" type="text/css" href="js/jquery/style/yxgrid.css" />
	<script type="text/javascript" src="js/jquery/jquery-1.4.2.js"></script>
	<script type="text/javascript" src="js/jquery/woo.js"></script>
	<script type="text/javascript" src="js/jquery/component.js"></script>
	<script type="text/javascript" src="js/jquery/dump.js"></script>
	<script type="text/javascript" src="js/thickbox.js"></script>
	<link rel="stylesheet" href="js/thickbox.css" type="text/css" media="screen" />

	<script type="text/javascript" src="js/jquery/grid/yxsgrid.js"></script>
	<script type="text/javascript" src="js/jquery/grid/yxgrid.js"></script>
	<script type="text/javascript" src="js/jquery/grid/yxegrid.js"></script>
	<script type="text/javascript" src="js/jquery/menu/yxmenu.js"></script>
	<script type="text/javascript" src="js/jquery/ztree/yxtree.js"></script>
	<link type="text/css" href="js/jquery/style/yxtree.css" media="screen" rel="stylesheet" />
	<link type="text/css" href="js/jquery/style/yxmenu.css" media="screen" rel="stylesheet" />
	<!-- 主题css，可切换 -->
	<link type="text/css" href="js/jquery/style/yxmenu.theme.css" media="screen" rel="stylesheet" />
	<script type="text/javascript" src="js/thickbox.js"></script>
	<script type="text/javascript" src="js/topoptions.js"></script>
	<script type="text/javascript" src="js/common/businesspage.js"></script>
<script>
      function tempadd(){
         var temp = $("#tempId").val();
         var type = $("#type").val();
          if(confirm("【确认是否将物料新增至物料信息】")){
				    showOpenWin('?model=stock_productinfo_productinfo&action=tempadd&id='
				     + temp
				     +'&type='
				     +type
			         +'&placeValuesBefore&TB_iframe=true&modal=false&height=500&width=900');

				}else{
				}

      }
      function tempedit(){
         var temp = $("#tempId").val();
         var type = $("#type").val();
         if(confirm("【确认物料信息中已有该物料吗？】")){
                   showOpenWin('?model=stock_productinfo_productinfo&action=tempedit&id='
                   + temp
                   + '&type='
                   + type
                   +'&placeValuesBefore&TB_iframe=true&modal=false&height=500&width=900');

         }else{
         }
      }
</script>
</head>
<body>

<table class="form_main_table">
    <tr>
        <td>
           <b>请选择如何处理临时物料信息</b>
        </td>
    </tr>
	<tr>
		<td class="txt_btn" colspan="4">
		<input type="hidden" value="{tempId}" id="tempId"/>
		<input type="hidden" value="{type}" id="type" />
		<input type="button" class="txt_btn_a" value=" 新 增 " onclick="tempadd();"/>
		<input type="button" class="txt_btn_a" value=" 已 有 " onclick="tempedit();"/>
		</td>
	</tr>
</table>
</body>
</html>