<!DOCTYPE html>
<html>
<head>
    <title>ŒÔ¡œ—°‘Ò</title>
    {#commonInclude#}
    <script type="text/javascript" src="js/jquery/combo/business/yxcombogrid-product.js"></script>
    <script type="text/javascript" src="view/template/stock/productinfo/js/productinfo-select-grid.js?v201711"></script>

</head>
<body>
<div>
    <input type='hidden' id='showcheckbox' value='{showcheckbox}'/>
    <input type='hidden' id='showButton' value='{showButton}'/>
    <input type='hidden' id='checkIds' value='{checkIds}'/>
    <input type='hidden' id='businessBelong' value='{businessBelong}'/>
</div>
<div>
    <input type="hidden" id="proType"/>
    <input type="hidden" id="proTypeId"/>
    <table id="productSelectGrid" style="display: none">
    </table>
</div>
</body>
</html>
