<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" " http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>编辑项目关闭申请</title>
    {#commonInclude#}
    <script type="text/javascript" src="{#jsPath#}/esmclose-common.js"></script>
    <script type="text/javascript" src="{#jsPath#}/esmclose-edit.js"></script>
</head>

<body>
<form id="form1" method="post" action="?model=engineering_close_esmclose&action=edit">
    <table class="form_main_table" style="width:900px;margin:auto;text-align:center" align="center">
        <tr>
            <td colspan="2">
                <div class="main_head2">
					<span class="main_head_title">
						编辑项目关闭申请
					</span>
                </div>
            </td>
        </tr>
        <tr>
            <td class="form_text_left_three">项目编号</td>
            <td class="form_text_right" width="30%">
                {projectCode}
            </td>
        </tr>
        <tr>
            <td class="form_text_left_three">项目名称</td>
            <td class="form_text_right">
                {projectName}
            </td>
        </tr>
        <tr>
            <td class="form_text_left_three">描 述</td>
            <td class="form_text_right">
                <textarea name="esmclose[content]" rows="4" class="txt_txtarea_font"
                          style="width:645px;">{content}</textarea>
            </td>
        </tr>
        <tr>
            <td colspan="4" class="innerTd">
                <div id="closeRules"></div>
            </td>
        </tr>
        <tr>
            <td class="txt_btn" colspan="2">
                <input type="hidden" id="id" name="esmclose[id]" value="{id}"/>
                <input type="hidden" name="esmclose[projectId]" id="projectId" value="{projectId}"/>
                <input type="hidden" id="projectCode" name="esmclose[projectCode]" value="{projectCode}"/>
                <input type="button" id="sub" class="txt_btn_a" value=" 提  交 "/>
                <input type="button" class="txt_btn_a" value=" 关  闭 " onclick="window.close();"/>
            </td>
        </tr>
        <tr>
            <td class="txt_btn" colspan="2">
                <span class="blue">注：请优先执行人员释放、设备归还、文档归档再填写相关的书面描述。</span>
            </td>
        </tr>
    </table>
</form>
</body>
</html>