<!DOCTYPE html>
<html>
<head>
    <title>工程项目列表</title>
    {#commonInclude#}
    <script type="text/javascript" src="view/template/engineering/project/js/esmproject-showDetail.js"></script>
    <style>
        #loadingWrap{position: absolute;top: 50%;bottom: 50%;left: 50%;right: 50%;}
        #loadingWrap>img{height: 25px;width: 25px;}
    </style>
</head>
<body>
<input type="hidden" id="t" value="{t}"/>
<input type="hidden" id="year" value="{year}"/>
<input type="hidden" id="month" value="{month}"/>
<input type="hidden" id="officeId" value="{officeId}"/>
<input type="hidden" id="province" value="{province}"/>
<input type="hidden" id="ids" value="{ids}"/>
<input type="hidden" id="projectCodes" value="{projectCodes}"/>
<div id="loadingWrap">
    <img id="loading" style="vertical-align: middle;" src="js/jquery/images/grid/load.gif">
</div>
<div id="grid"></div>
</body>
</html>