<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en_US" xml:lang="en_US">
<head>
	<title>编辑工程项目</title>
	<meta http-equiv="Content-Type" content="text/html;charset=gb2312"/>
	{#commonInclude#}

	<script type="text/javascript" src="{#jsPath#}/esmproject-remanager.js"></script>
</head>
<body>
<div class="main_head">
    <span class="main_head_title">
      	关联合同 项目：{projectName}({projectCode})
    </span>
</div>
<form id="form1" method="post" action="?model=engineering_project_esmproject&action=remanager" onsubmit="return checkform();">
<table class="form_main_table">
   	<tr>
		<td class="form_text_left">原项目经理</td>
		<td class="form_text_right" width="70%">
			 <input type="hidden" name="esmproject[orgManagerId]" id="orgManagerId" value="{managerId}" />
			 <input type="text" class="readOnlyTxtNormal" id="orgManagerName" name="esmproject[orgManagerName]" value="{managerName}" readonly="readonly"/>
		</td>
   	</tr>
   	<tr>
		<td class="form_text_left">新项目经理</td>
		<td class="form_text_right" >
			<input type="hidden" name="esmproject[managerId]" id="managerId"/>
			<input type="text" class="txt" name="esmproject[managerName]" id="managerName" readonly="readonly"/><span class="red">[*]</span>
		</td>
   	</tr>
   	<tr>
		<td colspan="2">
			<span class="red">新项目经理不能和原项目经理为同一人<br/>
			转接完成后，原项目经理不能继续看到该项目</span>
		</td>
   	</tr>
    <tr>
		<td class="txt_btn" colspan="2">
         	<input type="hidden" name="esmproject[id]" value="{id}" />
         	<input type="hidden" name="esmproject[projectCode]" value="{projectCode}" />
         	<input type="hidden" name="esmproject[projectName]" value="{projectName}" />
		    <input type="submit" class="txt_btn_a" value="保  存"/>
		    <input type="button" class="txt_btn_a" value="关  闭" onclick="closeFun();"/>
		</td>
    </tr>
</table>
</form>
</body>
</html>