<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<link rel="stylesheet" type="text/css" href="css/yxstyle.css" />
<script type="text/javascript" src="js/jquery.js"></script>
<title>项目查看</title>
</head>

<body>
<div class="form_main">
<table class="form_main_table">
	<tr>
		<td class="form_text_left">项目名称</td>
		<td class="form_view_right">{projectName}</td>
		<td class="form_text_left">项目编号</td>
		<td class="form_view_right" width="30%">{projectCode}</td>
	</tr>
	<tr>
		<td class="form_text_left">所属办事处</td>
		<td class="form_view_right">{officeName}</td>
		<td class="form_text_left">项目类别</td>
		<td class="form_view_right">{projectType}</td>
	</tr>
	<tr>
		<td class="form_text_left">项目系数</td>
		<td class="form_view_right">{projectPoint}</td>
		<td class="form_text_left">优先级</td>
		<td class="form_view_right">{projectLevel}</td>
	</tr>
	<tr>
		<td class="form_text_left">主要网络</td>
		<td class="form_view_right">{mainNet}</td>
		<td class="form_text_left">长/短期</td>
		<td class="form_view_right">{cycle}</td>
	</tr>
	<tr>
		<td class="form_text_left">(预计)开始</td>
		<td class="form_view_right">{planDateStart}</td>
		<td class="form_text_left">(预计)结束</td>
		<td class="form_view_right">{planDateClose}</td>
	</tr>
	<tr>
		<td class="form_text_left">项目天数</td>
		<td class="form_view_right">{appraiseWorkload} 天</td>
		<td class="form_text_left">人天数</td>
		<td class="form_view_right">{dayPerPeople}</td>
	</tr>
	<tr>
		<td class="form_text_left">主管经理</td>
		<td class="form_view_right">{mainManager}</td>
		<td class="form_text_left">项目经理</td>
		<td class="form_view_right">{managerName}</td>
	</tr>
	<tr>
		<td class="form_text_left">所属省</td>
		<td class="form_view_right" colspan="3">{proName}</td>
	</tr>
	<tr>
		<td class="form_text_left">项目工作内容</td>
		<td class="form_view_right" colspan="3"><textarea
			class="textarea_read" readonly="readonly">{description}</textarea></td>
	</tr>
</table>
</div>
</body>

</html>
