<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en_US" xml:lang="en_US">
<head>
	<title>查看工程项目</title>
	<meta http-equiv="Content-Type" content="text/html;charset=gb2312"/>
	<link rel="stylesheet" type="text/css" href="css/yxstyle2.css"/>

	<script type="text/javascript" src="js/jquery/jquery-1.4.2.js"></script>
	<script type="text/javascript" src="js/common/businesspage.js"></script>
</head>
<body>
<div class="main_head2">
    <span class="main_head_title">
      	查看工程项目信息
    </span>
</div>
<table class="form_main_table">
	<tr>
		<td colspan="6">
			<fieldset>
				<legend class="legend">基 本 信 息</legend>
				<table class="form_in_table">
					<tr>
				   		<td class="form_text_left_three">办 事 处</td>
						<td class="form_text_right_three">
							{officeName}
						</td>
						<td class="form_text_left_three">项目编号</td>
						<td class="form_text_right_three">
							{projectCode}
						</td>
						<td class="form_text_left_three">项目名称</td>
						<td class="form_text_right_three">
							{projectName}
						</td>
					</tr>
				    <tr>
						<td class="form_text_left_three">工程进度</td>
						<td class="form_text_right_three">
							 {projectProcess}&nbsp;%
						</td>
						<td class="form_text_left_three" title="实时费用进度">
							<span class="blue">费用进度</span>
						</td>
						<td class="form_text_right_three" >
							 <span>{feeAllProcess}</span>&nbsp;%
						</td>
						<td class="form_text_left_three" title="实时进度差距">
							<span class="blue">进度差距</span>
						</td>
						<td class="form_text_right_three">
							<span>{processGap}</span>&nbsp;%
						</td>
				    </tr>
				    <tr>
						<td class="form_text_left_three">项目状态</td>
						<td class="form_text_right">
							{statusName}
						</td>
						<td class="form_text_left_three">审批状态</td>
						<td class="form_text_right">
							{ExaStatus}
						</td>
						<td class="form_text_left_three">最近更新</td>
						<td class="form_text_right">
							{updateTime}
						</td>
				    </tr>
				</table>
			</fieldset>
		</td>
	</tr>
	<tr>
		<td colspan="6">
			<fieldset>
				<legend class="legend">详 细 信 息</legend>
				<table class="form_in_table">
					<tr>
						<td class="form_text_left_three">预计开始</td>
						<td class="form_text_right_three">
							{planBeginDate}
						</td>
						<td class="form_text_left_three">预计结束</td>
						<td class="form_text_right_three">
							{planEndDate}
						</td>
						<td class="form_text_left_three">预计工期</td>
						<td class="form_text_right_three">
							<span>{expectedDuration}</span>
							<span id="expectedDurationUnit" style="display:none">天</span>
						</td>
					</tr>
				    <tr>
						<td class="form_text_left_three">实际开始</td>
						<td class="form_text_right_three">
							{actBeginDate}
						</td>
						<td class="form_text_left_three">实际结束</td>
						<td class="form_text_right_three">
							{actEndDate}
						</td>
						<td class="form_text_left_three">实际工期</td>
						<td class="form_text_right_three">
							<span>{actDuration}</span>
							<span id="actDurationUnit" style="display:none">天</span>
						</td>
				    </tr>
				    <tr>
						<td class="form_text_left_three">已实施天数</td>
						<td class="form_text_right">
							<span>{workedDays}</span>
							<span id="workedDaysUnit" style="display:none">天</span>
						</td>
						<td class="form_text_left_three">预计还需</td>
						<td class="form_text_right" colspan="3">
							<span>{needDays}</span>
							<span id="needDaysUnit" style="display:none">天</span>
						</td>
				    </tr>
				    <tr>
						<td class="form_text_left_three">总 人 数</td>
						<td class="form_text_right_three">
							<span>{peopleNumber}</span>
							<span id="needDaysUnit" style="display:none">人</span>
						</td>
						<td class="form_text_left_three">鼎利人数</td>
						<td class="form_text_right_three">
							<span>{dlPeople}</span>
							<span id="dlPeopleUnit" style="display:none">人</span>
						</td>
						<td class="form_text_left_three">外包人数</td>
						<td class="form_text_right_three">
							<span>{outsourcingPeople}</span>
							<span id="outsourcingPeopleUnit" style="display:none">人</span>
						</td>
				    </tr>
				    <tr>
						<td class="form_text_left_three">外包类型</td>
						<td class="form_text_right">
							{outsourcingName}
						</td>
						<td class="form_text_left_three">外包方式</td>
						<td class="form_text_right">
							{outsourcingTypeName}
						</td>
						<td class="form_text_left_three">外包分担工作</td>
						<td class="form_text_right">
							{outsourcingJob}
						</td>
				    </tr>
				</table>
			</fieldset>
		</td>
	</tr>
	<tr>
		<td colspan="6">
			<fieldset>
				<legend class="legend">预 决 算</legend>
				<table class="form_in_table">
					<tr>
						<td class="form_text_left_three">总 预 算</td>
						<td class="form_text_right_three" >
							<span class="formatMoney">{budgetAll}</span>
						</td>
						<td class="form_text_left_three" title="总决算 = 现场决算 + 人力决算 + 设备决算 + 外包决算">
							<span class="blue">总 决 算</span></td>
						<td class="form_text_right_three">
							<span class="formatMoney">{feeAll}</span>
						</td>
						<td class="form_text_left_three">挣 值</td>
						<td class="form_text_right_three" >
							<span class="formatMoney">{earnedValue}</span>
						</td>
				    </tr>
					<tr>
						<td class="form_text_left_three">现场预算</td>
						<td class="form_text_right_three" >
							<span class="formatMoney">{budgetField}</span>
						</td>
						<td class="form_text_left_three" title="此决算为报销系统中的实时报销费用及应付费用分摊金额之和">
							<span class="blue">现场决算</span>
						</td>
						<td class="form_text_right_three">
							<span class="formatMoney">{feeField}</span>
						</td>
						<td class="form_text_left_three">人均挣值</td>
						<td class="form_text_right_three">
							<span class="formatMoney">{perEarnedValue}</span>
						</td>
				    </tr>
				    <tr>
						<td class="form_text_left_three">人力预算(元)</td>
						<td class="form_text_right_three">
							<span class="formatMoney">{budgetPerson}</span>
						</td>
						<td class="form_text_left_three">人力预算(天)</td>
						<td class="form_text_right_three">
							<span class="formatMoney">{budgetPeople}</span>
						</td>
						<td class="form_text_left_three">人天预算(天)</td>
						<td class="form_text_right_three">
							<span class="formatMoney">{budgetDay}</span>
						</td>
				    </tr>
				    <tr>
						<td class="form_text_left_three" title="实时人力决算">
							<span class="blue">人力决算(元)</span>
						</td>
						<td class="form_text_right_three">
							<span class="formatMoney">{feePerson}</span>
						</td>
						<td class="form_text_left_three" title="实时人力决算">
							<span class="blue">人力决算(天)</span>
						</td>
						<td class="form_text_right_three">
							<span class="formatMoney">{feePeople}</span>
						</td>
						<td class="form_text_left_three" title="实时人天决算">
							<span class="blue">人天决算(天)</span>
						</td>
						<td class="form_text_right_three">
							<span class="formatMoney">{feeDay}</span>
						</td>
				    </tr>
				    <tr>
						<td class="form_text_left_three">设备预算</td>
						<td class="form_text_right_three">
							<span class="formatMoney">{budgetEqu}</span>
						</td>
						<td class="form_text_left_three" title="实时设备决算">
							<span class="blue">设备决算</span>
						</td>
						<td class="form_text_right_three" >
							<span class="formatMoney">{feeEqu}</span>
						</td>
						<td class="form_text_left_three">外包预算</td>
						<td class="form_text_right_three">
							<span class="formatMoney">{budgetOutsourcing}</span>
						</td>
				    </tr>
				    <tr>
						<td class="form_text_left_three" title="实时外包决算">
							<span class="blue">外包决算</span>
						</td>
						<td class="form_text_right" colspan="5">
							<span class="formatMoney">{feeOutsourcing}</span>
						</td>
				    </tr>
				</table>
			</fieldset>
		</td>
	</tr>
	<tr>
		<td colspan="6">
			<fieldset>
				<legend class="legend">负 责 人 员</legend>
				<table class="form_in_table">
					<tr>
				   		<td class="form_text_left_three">项目经理</td>
						<td class="form_text_right_three">
							{managerName}
						</td>
						<td class="form_text_left_three">大区经理</td>
						<td class="form_text_right_three">
							{areaManager}
						</td>
						<td class="form_text_left_three">技术经理</td>
						<td class="form_text_right_three">
							{techManager}
						</td>
					</tr>
				    <tr>
						<td class="form_text_left_three">客户姓名</td>
						<td class="form_text_right_three">
							{customerLinkMan}
						</td>
						<td class="form_text_left_three">销售负责人</td>
						<td class="form_text_right_three">
							{salesman}
						</td>
						<td class="form_text_left_three">研发责任人</td>
						<td class="form_text_right_three">
							{rdUser}
						</td>
				    </tr>
				</table>
			</fieldset>
		</td>
	</tr>
	<tr>
		<td colspan="6">
			<fieldset>
				<legend class="legend">项 目 分 类</legend>
				<table class="form_in_table">
					<tr>
						<td class="form_text_left_three">客户类型</td>
						<td class="form_text_right_three" >
							{customerTypeName}
						</td>
						<td class="form_text_left_three">项目属性</td>
						<td class="form_text_right">
							{attributeName}
						</td>
						<td class="form_text_left_three">长/短 期</td>
						<td class="form_text_right_three">
							{cycleName}
						</td>
					</tr>
				    <tr>
						<td class="form_text_left_three">项目类别</td>
						<td class="form_text_right_three">
							{categoryName}
						</td>
						<td class="form_text_left_three">性 质 1</td>
						<td class="form_text_right_three">
							{natureName}
						</td>
						<td class="form_text_left_three">性 质 2</td>
						<td class="form_text_right_three">
							{nature2Name}
						</td>
				    </tr>
				    <tr>
						<td class="form_text_left_three">方案及平台</td>
						<td class="form_text_right_three">
							{platformName}
						</td>
						<td class="form_text_left_three">网 络</td>
						<td class="form_text_right_three">
							{netName}
						</td>
						<td class="form_text_left_three">建立方式</td>
						<td class="form_text_right_three">
							{createTypeName}
						</td>
				    </tr>
				    <tr>
						<td class="form_text_left_three">签定方式</td>
						<td class="form_text_right_three">
							{signTypeName}
						</td>
						<td class="form_text_left_three">工具类型</td>
						<td class="form_text_right_three" colspan="3">
							{toolType}
						</td>
				    </tr>
				</table>
			</fieldset>
		</td>
	</tr>
	<tr>
		<td colspan="6">
			<fieldset>
				<legend class="legend">合 同 信 息</legend>
				<table class="form_in_table">
					<tr>
						<td class="form_text_left_three">鼎利合同号</td>
						<td class="form_text_right_three" >
							{contractCode}
						</td>
						<td class="form_text_left_three">临时合同号</td>
						<td class="form_text_right_three">
							{contractTempCode}
						</td>
						<td class="form_text_left_three">合同业务号</td>
						<td class="form_text_right_three">
							{rObjCode}
						</td>
					</tr>
				    <tr>
						<td class="form_text_left_three">客户名称</td>
						<td class="form_text_right">
							{customerName}
						</td>
						<td class="form_text_left_three">所属省份</td>
						<td class="form_text_right_three">
							{proName}
						</td>
						<td class="form_text_left_three">工作占比</td>
						<td class="form_text_right" colspan="3">
							{workRate}&nbsp;%
						</td>
				    </tr>
				</table>
			</fieldset>
		</td>
	</tr>
	<tr>
		<td colspan="6">
			<fieldset>
				<legend class="legend">描 述 信 息</legend>
				<table class="form_in_table">
				    <tr>
						<td class="form_text_left_three">项目描述</td>
						<td class="form_text_right" colspan="5">
							<pre>{description}</pre>
						</td>
				    </tr>
				    <tr>
						<td class="form_text_left_three">工作量描述</td>
						<td class="form_text_right" colspan="5">
							<pre>{workDescription}</pre>
						</td>
				    </tr>
				    <tr>
						<td class="form_text_left_three">备注说明</td>
						<td class="form_text_right" colspan="5">
							<pre>{remark}</pre>
						</td>
				    </tr>
				</table>
			</fieldset>
		</td>
	</tr>
    <tr>
		<td class="txt_btn" colspan="6">
			<input type="button" class="txt_btn_a" value="关  闭" onclick="closeFun();"/>
		</td>
    </tr>
</table>
</body>
</html>