<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>工程项目呈现</title>
	{#commonInclude#}
    <script type="text/javascript" src="view/template/engineering/project/js/esmreport-show.js"></script>
</head>
<body>
	<table class="main_table_search">
	<tr>
		<td class="form_text_right" >统计类别:</td>
		<td "form_text_right">项目数量:
			<input type="hidden" id="memoryused" value='{memoryused}'></input>
			<input type="hidden" id="user" value='{user}'></input>
			<input type="checkbox" class="checkItems"  id="showProjectCount"/>
		</td>
		<td "form_text_right">合同额:
			<input type="checkbox" class="checkItems"  id="showContractMoneySum"/>
		</td>
		<td "form_text_right">营收:
			<input type="checkbox" class="checkItems"  id="showSalesMoney"/>
		</td>
		<td "form_text_right">成本:
			<input type="checkbox" class="checkItems"  id="showCost"/>
		</td>
		<td "form_text_right">毛利:
			<input type="checkbox" class="checkItems"  id ="showProfitMoney"/>
		</td>
		<td "form_text_right">毛利率:
			<input type="checkbox" class="checkItems"  id="showProfitRate"/>
		</td>
		<td "form_text_right">预算:
			<input type="checkbox" class="checkItems"  id="showBudget"/>
		</td>
		<td "form_text_right">概算:
			<input type="checkbox" class="checkItems"  id="showEstimate"/>
		</td>
	</tr>
	</table>
	<table class="main_table_search">
	<tr>
		<td class="form_text_right" >统计配置:</td>
	</tr>
		<tr>
			<td class="form_text_right" width="40%">
				统计区间:
				<input class="Wdate" id="beginDate" name="beginDateSearch" value="{beginDate}" onfocus="WdatePicker();"></input>
				 至
				<input class="Wdate" id="endDate" name="endDateSearch" value="{endDate}" onfocus="WdatePicker();"></input> 
			</td>
			<td class="form_text_right">
				项目状态:
				<select id="status" class="txtmiddle" name="status">
				<option value ="" selected = 'selected'>所有</option>
					{status}
				</select>
			</td>
			<td class="form_text_right">
				 业务:
				<select id="nature" class="txtmiddle" name="nature">
				<option value ="" selected = 'selected'>所有</option>
					{nature}
				</select>
			</td>
		</tr>
		<tr>
			<td class="form_text_right">
				统计方式:
				<select id="statistical" class="txtmiddle" name="statistical">
					<option value="1" selected= "selected">执行进度</option>
					<option value="2">费用进度</option>
				</select>
			</td>
			<td class="form_text_right">
				 合同属性:
				<select id="contractType" class="txtmiddle" name="contractType">
					<option value="" selected="selected">所有</option>
					<option value="HTLX-FWHT">服务</option>
					<option value="HTLX-XSHT">销售</option>
					<option value="HTLX-YFHT">研发</option>
					<option value="GCXMYD-04">PK</option>
				</select>
			</td>
			<td class="form_text_right">
				 产品线:
				<select id="productLine" class="txtmiddle" name="productLine">
					<option value ="" selected = 'selected'>所有</option>
					{productLine}
				</select>
			</td>
			<td class="form_text_right" width="10%">
				<input type="button" id="search" class="txt_btn_a" value=" 查 询 "/>&nbsp;&nbsp;&nbsp;
				<span><img id="loading" style="display:none;vertical-align:middle;" src="js/jquery/images/grid/load.gif"/></span>
			</td>
		</tr>
	</table>
    <div id="esmprojectGrid"></div>
    
</body>
</html>