<!DOCTYPE>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=GBK"/>
    <title>已审核项目周报</title>

    <link rel="stylesheet" type="text/css" href="css/yxstyle2.css"/>
    <link rel="stylesheet" type="text/css" href="js/thickbox.css" media="screen"/>

    <script type="text/javascript" src="js/jquery/jquery-1.4.2.js"></script>
    <script type="text/javascript" src="js/common/businesspage.js"></script>

    <script type="text/javascript" src="js/jquery/woo.js"></script>
    <script type="text/javascript" src="js/jquery/component.js"></script>
    <script type="text/javascript" src="js/jquery/dump.js"></script>

    <script type="text/javascript" src="js/jquery/grid/yxeditgrid.js"></script>

    <script type="text/javascript" src="view/template/engineering/project/js/statusreport-gridaudited.js"></script>

</head>
<body>
	<table class="main_table_search">
		<tr>
			<td class="form_text_right">
				<b>已审核项目周报：</b>
				每页条数:
				<select id="pageSize" class="txtmiddle" name="pageSize" onchange="initList()">
					<option value="20" selected="selected">20</option>
					<option value="50">50</option>
					<option value="100">100</option>
				</select>
				<input type="button" class="txt_btn_a" value=" 刷 新 " onclick="show_page();"/>
			</td>
		</tr>
	</table>
    <div id="statusreportGrid"></div>
    <div id="loading" style="display:none;"><img src="images/loading1.gif"/></div>
</body>
</html>