<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<link rel="stylesheet" type="text/css" href="css/yxstyle.css"/>
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/menu.js"></script>
<script>

	$(document).ready(function(){
		$("#scApply").bind("click",function(){
			parent.document.getElementById("main").src="index1.php?model=engineering_serviceContract_serviceContract&action=toMyApprovalTab";
		});
		$("#scApplyChange").bind("click",function(){
			parent.document.getElementById("main").src="index1.php?model=engineering_serviceContract_serviceContract&action=toChangeAuditTab";
		});
	    $("#serviceContractClose").bind("click",function(){
			parent.document.getElementById("main").src="index1.php?model=engineering_serviceContract_serviceContract&action=toCloseAuditTab";
		});
		$("#salescontract").bind("click",function(){
			parent.document.getElementById("main").src="index1.php?model=projectmanagent_order_order&action=auditTab";
		});
		$("#salescontractChange").bind("click",function(){
			parent.document.getElementById("main").src="index1.php?model=contract_change_change&action=contractChangeTab";
		});
		$("#salescontractClose").bind("click",function(){
			parent.document.getElementById("main").src="index1.php?model=projectmanagent_order_order&action=toCloseAuditTab";
		});
		$("#rcApply").bind("click",function(){
			parent.document.getElementById("main").src="index1.php?model=contract_rental_rentalcontract&action=toApprovalTab";
		});
		$("#rcChange").bind("click",function(){
			parent.document.getElementById("main").src="index1.php?model=contract_rental_rentalcontract&action=toChangeAuditTab";
		});
		$("#rentalClose").bind("click",function(){
			parent.document.getElementById("main").src="index1.php?model=contract_rental_rentalcontract&action=toCloseAuditTab";
		});
		$("#rdcontract").bind("click",function(){
			parent.document.getElementById("main").src="index1.php?model=rdproject_yxrdproject_rdproject&action=toApprovalTab";
		});
		$("#rdcontractChange").bind("click",function(){
			parent.document.getElementById("main").src="index1.php?model=rdproject_yxrdproject_rdproject&action=toChangeAuditTab";
		});
		$("#rdcontractClose").bind("click",function(){
			parent.document.getElementById("main").src="index1.php?model=rdproject_yxrdproject_rdproject&action=toCloseAuditTab";
		});
		$("#borrow").bind("click",function(){
			parent.document.getElementById("main").src="index1.php?model=projectmanagent_borrow_borrow&action=auditTab";
		});
	});

</script>
</head>
<body>

<div class="menu_wrap">
	<p class="menu_top">
		<span class="left"><img src="images/menu_close1.gif"></span>
		<span class="right"><img src="images/menu_close3.gif"></span>
		<span class="close"><img src="images/menu_close.gif" /></span>
	</p>
	<div class="menu_content">
		<p class="menu_title"><img src="images/menu_ico.gif"/>我的审批</p>
		<ul class="menu_menus">
			<li class="selected" id="scApply">服务合同  <img src="images/menu_ico1.gif" /></li>
			<li id="scApplyChange">服务合同变更  <img src="images/menu_ico1.gif" /></li>
			<li id="serviceContractClose">服务合同异常关闭审批  <img src="images/menu_ico1.gif" /></li>
			<li id="salescontract">销售合同  <img src="images/menu_ico1.gif" /></li>
			<li id="salescontractChange">销售合同变更  <img src="images/menu_ico1.gif" /></li>
			<li id="salescontractClose">销售合同异常关闭审批  <img src="images/menu_ico1.gif" /></li>
			<li id="rcApply">租赁合同  <img src="images/menu_ico1.gif" /></li>
			<li id="rcChange">租赁变更  <img src="images/menu_ico1.gif" /></li>
			<li id="rentalClose">租赁合同异常关闭审批  <img src="images/menu_ico1.gif" /></li>
			<li id="rdcontract">研发合同  <img src="images/menu_ico1.gif" /></li>
			<li id="rdcontractChange">研发合同变更  <img src="images/menu_ico1.gif" /></li>
			<li id="rdcontractClose">研发合同异常关闭审批  <img src="images/menu_ico1.gif" /></li>
			<li id="borrow">借试用申请  <img src="images/menu_ico1.gif" /></li>
		</ul>
	</div>
</div>

</body>
</html>