<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title></title>
   <script type="text/javascript" src="js/jquery/tab/jquery-1.3.1.js"></script>
    <script type="text/javascript" src="js/jquery/tab/tabs.js"></script>
    <script type="text/javascript" src="js/jquery/tab/toolbox.history.js"></script>
     <LINK rel="stylesheet" href="js/jquery/tab/css/tabs.css" type="text/css">
    <script type="text/javascript">



$(function() {
	var parentId = $("#parentId").val();

	//初始化tabsURL
 	var tabArr=[
    			"?model=engineering_serviceContract_serviceContract&action=toUnDoContractList",
    			"?model=engineering_serviceContract_serviceContract&action=toDoContractList",
    			"?model=engineering_serviceContract_serviceContract&action=toCloseContractList"
    			];
	//绑定事件(待抽出来)
    $("#tabs1").tabs(".panes > iframe",{ history: true,onClick:function(i,e) {
   		 var actTabId="#iframe" + (parseInt(e) + 1);
            $(actTabId).attr("src",tabArr[e]);
    }});


});

    </script>

</head>
<body>

<div>
    <!-- the tabs -->
    <ul class="tabs" id="tabs1">
        <li><a href="#tab1" >未执行合同</a></li>
        <li><a href="#tab2" >在执行合同</a></li>
        <li><a href="#tab3" >已关闭合同</a></li>

    </ul>

    <!-- tab "panes" -->
    <div class="panes">
            <iframe class="pane" id="iframe1"  src= "about:blank" height="650px"   frameborder= "0" >
            </iframe>
            <iframe class="pane"  id="iframe2"   src= "about:blank" height="650px"  scrolling="no" frameborder= "0">
            </iframe>
            <iframe class="pane"  id="iframe3"   src= "about:blank" height="650px"  scrolling="no" frameborder= "0">
            </iframe>
    </div>

	<input type="hidden" value="{parentId}" id="parentId" />
</div>

</body>
</html>