<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
	<title></title>
	<link rel="stylesheet" type="text/css" href="css/yxstyle.css"/>
	<script type="text/javascript" src="js/jquery/jquery-1.4.2.js"></script>
    <script type="text/javascript" src="js/jquery/tab/tabs.js"></script>
    <script type="text/javascript" src="js/jquery/tab/toolbox.history.js"></script>
    <LINK rel="stylesheet" type="text/css" href="js/jquery/tab/css/tabs.css" />
	<script type="text/javascript">
	$(function() {
		var contractID = $("#contractID").val();

		//初始化tabsURL
	 	var tabArr=[
	    			"?model=purchase_task_basic&action=taskMyListExecution",
	    			"?model=purchase_task_basic&action=taskMyListReceive",
	    			"?model=purchase_task_basic&action=taskMyListClose",
	    			"?model=purchase_task_basic&action=taskMyListChange",
	    			"?model=purchase_task_equipment&action=toExeEquList"
	    			//"?model=purchase_change_notice&action=toChangeTaskList"
	    			];

	    $("#tabs1").tabs(".panes > iframe",{ history: true,onClick:function(i,e) {
	   		 var actTabId="#iframe" + (parseInt(e) + 1);
	            $(actTabId).attr("src",tabArr[e]);
	    }});
	});
    </script>

</head>
<body scroll="no">

	<!--
	<div class="main_head">
	    <span class="main_head_title">
	      	我的采购任务
	    </span>
	</div>
	<table border="0" width="100%" cellspacing="0" cellpadding="3" class="small">
	  <tr>
	    <td class="Big"><img src="images/sys_config.gif"><b><font color="#000000"> 我的采购任务</font></b>
	    </td>
	  </tr>
	</table>
	 -->

	<div >
	    <!-- the tabs -->
	    <ul class="tabs" id="tabs1">
	    <!-- -->
	        <li><a href="#tab1" >执行中</a></li>
	        <li><a href="#tab2" >待接收</a></li>
	        <li><a href="#tab3" >已关闭</a></li>
	        <li><a href="#tab4" >变更的采购任务</a></li>
	        <li><a href="#tab5" >执行中物料汇总</a></li>
	       <!--<li><a href="#tab4" >变更通知</a></li> -->

	    </ul>

	    <!-- tab "panes" -->
	    <div class="panes">
	            <iframe class="pane" id="iframe1"  src= "about:blank" scrolling="no" frameborder= "0" height="92%">
	            </iframe>
	            <iframe class="pane" id="iframe2"  src= "about:blank" scrolling="no" frameborder= "0" height="92%">
	            </iframe>
	            <iframe class="pane" id="iframe3"  src= "about:blank"  scrolling="no" frameborder= "0" height="92%">
	            </iframe>
	            <iframe class="pane" id="iframe4"  src= "about:blank"  scrolling="no" frameborder= "0" height="92%">
	            </iframe>
	            <iframe class="pane" id="iframe5"  src= "about:blank"  scrolling="no" frameborder= "0" height="92%">
	            </iframe>
	    </div>
	</div>

</body>
</html>