<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" " http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns=" http://www.w3.org/1999/xhtml">
<head>
	<title>工程超权限申请</title>
    {#commonInclude#}
</head>
<body>
	<table class="form_main_table">
		<tr>
			<td colspan="4">
				<div class="main_head2">
					<span class="main_head_title">
						工程超权限申请
					</span>
				</div>
			</td>
		</tr>
		<tr>
			<td class="innerTd" colspan="4">
				<fieldset>
					<legend class="legend">基 本 信 息</legend>
					<table class="form_in_table">
					    <tr>
							<td class="form_text_left">申请类型</td>
				      		<td class="form_text_right" colspan="3">
				     			{applyTypeName}
							</td>
						</tr>
						<tr>
							<td class="form_text_left">申请单号</td>
							<td class="form_text_right" width="30%">
								{formNo}
							</td>
							<td class="form_text_left">
				      			申请金额
					      	</td>
							<td class="form_text_right" >
								<span class="formatMoney">{applyMoney}</span>
							</td>
						</tr>
						<tr>
				      		<td class="form_text_left">
				      			申请日期
				    		</td>
				      		<td class="form_text_right" >
				      			{applyDate}
				      		</td>
				      		<td class="form_text_left">
				      			申 请 人
				      		</td>
				      		<td class="form_text_right" >
				      			{applyUserName}
				      		</td>
				        </tr>
						<tr>
							<td class="form_text_left">归属项目</td>
							<td class="form_text_right" >
								{projectName}
							</td>
				      		<td class="form_text_left">
				      			使用区域
				      		</td>
							<td class="form_text_right" >
								{area}
							</td>
						</tr>
						<tr>
				      		<td class="form_text_left">
				     			租车性质
							</td>
							<td class="form_text_right" >
								{rentalTypeName}
							</td>
				      		<td class="form_text_left">
				      			车 辆 数
				      		</td>
							<td class="form_text_right" >
								{carNumber}
							</td>
						</tr>
						<tr>
							<td class="form_text_left">适用范围</td>
				      		<td class="form_text_right" colspan="3">
								{useRangeName}
							</td>
						</tr>
				      	<tr>
				      		<td class="form_text_left">
				      			申请原因
							</td>
				      		<td class="form_text_right" colspan="3">
				      			 <pre>{applyReson}</pre>
				      		</td>
						</tr>
				        <tr>
				      		<td class="form_text_left">备注信息</td>
				      		<td class="form_text_right" colspan="3">
				      			 <pre>{remark}</pre>
				      		</td>
				        </tr>
					</table>
				</fieldset>
			</td>
	    </tr>
		<tr>
			<td class="innerTd" colspan="4">
				<fieldset>
					<legend class="legend">审 核 信 息</legend>
					<table class="form_in_table">
						<tr>
				      		<td class="form_text_left">审 核 人</td>
				      		<td class="form_text_right" width="30%">{ExaUserName}</td>
				      		<td class="form_text_left">审核日期</td>
				      		<td class="form_text_right" >
	      						{ExaDT}
				      		</td>
						</tr>
						<tr>
				      		<td class="form_text_left">审核结果</td>
				      		<td class="form_text_right" colspan="3">
				      			{ExaStatus}
			      			</td>
						</tr>
						<tr>
				      		<td class="form_text_left">审核意见</td>
				      		<td class="form_text_right" colspan="3">
				      			 <pre>{ExaContent}</pre>
			      			</td>
						</tr>
					</table>
				</fieldset>
			</td>
		</tr>
		<tr>
      		<td class="txt_btn" colspan="4">
      		    <input type="button" class="txt_btn_a" value=" 关  闭 " onclick="self.parent.tb_remove();"/>
      		</td>
		</tr>
	</table>
</body>
</html>