<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en_US" xml:lang="en_US">
<head>
    <title>查看通用预警功能</title>
    {#commonInclude#}
    <script type="text/javascript" src="{#jsPath#}/warning-view.js"></script>
</head>
<body>

<table class="form_main_table">
    <tr>
        <td colspan="4">
            <div class="main_head">
                <span class="main_head_title">
            	    查看通用预警功能信息
                </span>
            </div>
        </td>
    </tr>
    <tr>
        <td class="form_text_left">业务名称</td>
        <td class="form_text_right">
            {objName}
        </td>
    </tr>
    <tr>
        <td class="form_text_left">描述信息</td>
        <td class="form_text_right">
            {description}
        </td>
    </tr>
    <tr>
        <td class="form_text_left">查询脚本</td>
        <td class="form_text_right">
            {executeSql}
        </td>
    </tr>
    <tr>
        <td class="form_text_left">是否启用</td>
        <td class="form_text_right">
            {isUsing}
        </td>
    </tr>
    <tr>
        <td class="form_text_left">执行业务类</td>
        <td class="form_text_right">
            {executeClass}
        </td>
    </tr>
    <tr>
        <td class="form_text_left">执行业务方法</td>
        <td class="form_text_right">
            {executeFun}
        </td>
    </tr>
    <tr>
        <td class="form_text_left">执行邮件通知编码</td>
        <td class="form_text_right">
            {mailCode}
        </td>
    </tr>
    <tr>
        <td class="form_text_left">传入邮件字段</td>
        <td class="form_text_right">
            {inKeys}
        </td>
    </tr>
    <tr>
        <td class="form_text_left">邮件接收人id字段</td>
        <td class="form_text_right">
            {receiverIdKey}
        </td>
    </tr>
    <tr>
        <td class="form_text_left">邮件接收人姓名字段</td>
        <td class="form_text_right">
            {receiverNameKey}
        </td>
    </tr>
    <tr>
        <td class="form_text_left">是否通知上级</td>
        <td class="form_text_right">
            {isMailManager}
        </td>
    </tr>
    <tr>
        <td class="form_text_left">最后执行时间</td>
        <td class="form_text_right">
            {lastTime}
        </td>
    </tr>
    <tr>
        <td class="form_text_left">间隔时间(天)</td>
        <td class="form_text_right">
            {intervalDay}
        </td>
    </tr>
    <tr>
        <td class="form_text_left">定期计划</td>
        <td class="form_text_right">
            {regularPlan}
        </td>
    </tr>
    <tr>
        <td class="txt_btn" colspan="4">
            <input type="hidden" id="id" value="{id}"/>
            <input type="button" class="txt_btn_a" value=" 关  闭 " onclick="self.parent.tb_remove();"/>
        </td>
    </tr>
</table>
</body>
</html>