<HTML>
<HEAD>
<TITLE>源单查询功能</TITLE>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=gb2312">
<OBJECT id="Report" classid="CLSID:50CA95AF-BDAA-4C69-A9C6-93E1136E68BC" codebase="webreport/griectl.cab#Version=5,0,9,808" VIEWASTEXT></OBJECT>
<script src="webreport/CreateControl.js" language="javascript"></script>
<link rel="stylesheet" type="text/css" href="css/yxstyle.css" />
<link rel="stylesheet" type="text/css" href="js/thickbox.css" media="screen" />

<script type="text/javascript" src="js/jquery/jquery-1.4.2.js"></script>
<script type="text/javascript" src="js/common/businesspage.js"></script>
<script>

	function upSearch(){
		var formId = ReportViewer.Report.FieldByName("relDocId").AsString;
		var formType = ReportViewer.Report.FieldByName("relDocType").AsString;
   		if(formType != ""){
			showModalWin("?model=common_search_searchSource&action=upList&objType=stockin&orgObj="+ formType +"&ids=" + formId );
   	    }else{
			alert('没有相关联的单据');
   	    }
	}

	function downSearch(){
		var formId = ReportViewer.Report.FieldByName("id").AsString;
		if( formId != ""){
			$.ajax({
			    type: "POST",
			    url: "?model=common_search_searchSource&action=checkDown",
			    data: {"objId" : formId , 'objType' : 'stockin' },
			    async: false,
			    success: function(data){
			   		if(data != ""){
						showModalWin("?model=common_search_searchSource&action=downList&objType=stockin&orgObj="+data+"&objId=" +formId);
			   	    }else{
						alert('没有相关联的单据');
			   	    }
				}
			});
		}else{
			alert('请选择一条记录');
		}
	}
</script>
<SCRIPT LANGUAGE="JavaScript" FOR="ReportViewer" EVENT="ContentCellClick(pSender)">
<!--

    if (pSender.Column.Name == "docCode")
    {
        //获取单据Id
        var formId = Report.FieldByName("id").AsString;
        var skey = "";
        $.ajax({
		    type: "POST",
		    url: "?model=stock_instock_stockin&action=md5RowAjax",
		    data: {"id" : formId},
		    async: false,
		    success: function(data){
		   	   skey = data;
			}
		});
		showModalWin("index1.php?model=stock_instock_stockin&action=toView&id="+formId+"&docType=RKPURCHASE&skey=" + skey,1);
    }
-->
</SCRIPT>

</HEAD>
<BODY style="margin:0" bgcolor="buttonface">
<table border="0" width="100%" height="100%">
	<tr>
		<td>
			<input type="button" class="txt_btn_a" id="searchBtn" onclick="upSearch()" value=" 上  查 "/>
			<input type="button" class="txt_btn_a" id="searchBtn" onclick="downSearch();" value=" 下  查 "/>

			<input type="hidden" id="objId" value="{objId}"/>
			<input type="hidden" id="objType" value="{objType}"/>
			<input type="hidden" id="sourceType" value="{sourceType}"/>

			<input type="hidden" id="ids" value="{ids}"/>

			<input type="hidden" id="orgObj" value="{orgObj}"/>
		</td>
	</tr>
	<tr height="100%">
		<td colspan="5" style="font-size: 10pt;" height="100%">
			<script language="javascript">
			    //用查询显示控件展现报表，从URL“../grf/1a.grf”获取报表膜板定义，从URL“../data/xmlCustomer.php”获取XML形式的报表数据，
				CreateDisplayViewer("view/template/common/search/stockin-sourcelist.grf"
				,"view/template/common/search/stockin-sourcelist.php"
				+ "?objId=" + $("#objId").val()
				+ "&objType=" + $("#objType").val()
				+ "&sourceType=" + $("#sourceType").val()
				+ "&ids=" + $("#ids").val()
				)
			</script>
		</td>
	</tr>
</table>
</BODY>
</HTML>