<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>
			应付账款明细查询条件选择
		</title>
		<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
		<link rel="stylesheet" type="text/css" href="css/yxstyle.css" />
		<!-- 主题css，可切换 -->
		<link rel="stylesheet" type="text/css" href="js/jquery/style/yxgrid.css"/>
		<link rel="stylesheet" type="text/css" href="js/jquery/style/yxmenu.css"media="screen" />
		<link rel="stylesheet" type="text/css" href="js/jquery/style/yxmenu.theme.css"media="screen" />

		<script type="text/javascript" src="js/jquery/jquery-1.4.2.js"></script>
		<script type="text/javascript" src="js/common/businesspage.js"></script>
		<script type="text/javascript" src="js/DatePicker/WdatePicker.js"></script>

		<script type="text/javascript" src="js/jquery/woo.js"></script>
		<script type="text/javascript" src="js/jquery/component.js"></script>

		<script type="text/javascript" src="js/jquery/combo/yxcombo.js"></script>
		<script type="text/javascript" src="js/jquery/grid/yxsgrid.js"></script>
		<script type="text/javascript" src="js/jquery/grid/yxgrid.js"></script>
		<script type="text/javascript" src="js/jquery/combo/yxcombogrid.js"></script>
		<script type="text/javascript" src="js/jquery/combo/business/yxselect-dept.js"></script>
		<script type="text/javascript" src="js/jquery/combo/business/yxselect-user.js"></script>

		<script type="text/javascript" src="js/jquery/combo/business/yxcombogrid-supplier.js"></script>

		<script type="text/javascript" src="view/template/finance/payable/js/payable-todetailpage.js"></script>
	</head>
	<body>
		<div class="main_head">
			<span class="main_head_title">
				应付账款明细查询条件选择
			</span>
		</div>
		<form id="form1" action="?" method="get">
			<table class="form_main_table">
				<tr>
					<td class="form_text_left">
						查询对象
					</td>
					<td class="form_text_right">
						<select name="payable[countProject]" class="select">
							<option value="supplier">供应商</option>
						</select>
						<input type="hidden" name="model" value="finance_payable_payable"/>
						<input type="hidden" name="action" value="detailPage"/>
					</td>
				</tr>
				<tr>
					<td class="form_text_left">
						供应商名称
					</td>
					<td class="form_text_right">
						<input type="hidden" id="supplierId"  name="payable[supplierId]"/>
						<input type="text" id="supplierName" class="txt" name="payable[supplierName]"/>
					</td>
				</tr>
				<tr>
					<td class="form_text_left">
						相关部门
					</td>
					<td class="form_text_right">
						<input type="text" id="deptName" class="txt" name="payable[deptName]" readonly="readonly"/>
						<input type="hidden" id="deptId" name="payable[deptId]"/>
					</td>
				</tr>
				<tr>
					<td class="form_text_left">
						相关业务员
					</td>
					<td class="form_text_right">
						<input type="text" id="salesman" class="txt" name="payable[salesman]" readonly="readonly"/>
						<input type="hidden" id="salesmanId" name="payable[salesmanId]"/>
					</td>
				</tr>
				<tr>
					<td class="form_text_left">
						年份
					</td>
					<td class="form_text_right">
						<input type="text" id="year" class="txt" name="payable[year]" value="{year}"/>
					</td>
				</tr>
				<tr>
					<td class="form_text_left">
						从
					</td>
					<td class="form_text_right">
						<select id="beginMonth" class="select" name="payable[beginMonth]">
							<option value="1">1月</option>
							<option value="2">2月</option>
							<option value="3">3月</option>
							<option value="4">4月</option>
							<option value="5">5月</option>
							<option value="6">6月</option>
							<option value="7">7月</option>
							<option value="8">8月</option>
							<option value="9">9月</option>
							<option value="10">10月</option>
							<option value="11">11月</option>
							<option value="12">12月</option>
						</select>
					</td>
				</tr>
				<tr>
					<td class="form_text_left">
						至
					</td>
					<td class="form_text_right">
						<select id="endMonth" class="select" name="payable[endMonth]">
							<option value="1">1月</option>
							<option value="2">2月</option>
							<option value="3">3月</option>
							<option value="4">4月</option>
							<option value="5">5月</option>
							<option value="6">6月</option>
							<option value="7">7月</option>
							<option value="8">8月</option>
							<option value="9">9月</option>
							<option value="10">10月</option>
							<option value="11">11月</option>
							<option value="12" selected="selected">12月</option>
						</select>
					</td>
				</tr>
				<tr>
					<td colspan="2">
						<input type="submit" class="txt_btn_a" value="确 定" />
					</td>
				</tr>
			</table>
		</form>
	</body>

</html>