<!DOCTYPE html>
<html>
<head>
    <title>新增红色产品入库单</title>
    {#commonInclude#}
    <script type="text/javascript" src="js/jquery/combo/business/yxcombogrid-stockinfo.js"></script>
    <script type="text/javascript" src="{#jsPath#}/stockin-stockinfo-combogrid.js"></script>
    <script type="text/javascript" src="js/jquery/combo/business/yxcombogrid-product.js"></script>
    <script type="text/javascript" src="{#jsPath#}/stockin-productinfo-combogrid.js"></script>
    <script type="text/javascript" src="js/jquery/combo/business/yxcombogrid-customer.js"></script>
    <script type="text/javascript" src="{#jsPath#}/stockin-customer-combogrid.js"></script>
    <script type="text/javascript" src="{#jsPath#}/stockin-common.js"></script>
    <script type="text/javascript" src="{#jsPath#}/stockin-product-add.js"></script>
</head>
<script type="text/javascript">
    $(document).ready(function () {
        reloadItemProduct();
        reloadItemStock();
        $("#itembody").css("color", "red");
        $("#purchaserName").yxselect_dept({
            hiddenId: 'purchaserCode'
        });
    });
</script>
<body>
<div class="main_head">
    <span class="main_head_title">
      	<font color="red">产品入库单</font>
    </span>
</div>
<form action="?model=stock_instock_stockin&action=add" method="post" id="form1" onsubmit="return checkForm();">
<table class="form_main_table">
    <tr>
        <td class="form_text_left">单据日期</td>
        <td class="form_text_right" colspan="3">
            <input type="text" id="auditDate" name="stockin[auditDate]" onfocus="WdatePicker()" value="{auditDate}" class="txt"/>
        </td>
    </tr>
    <tr>
        <td class="form_text_left">源单类型</td>
        <td class="form_text_right">
            <input type="text" id="relDocTypeName" class="readOnlyTxtNormal" value="{relDocTypeName}"/>
            <input type="hidden" name="stockin[relDocType]" id="relDocType" value="{relDocType}"/>
        </td>
        <td class="form_text_left">源单编号</td>
        <td class="form_text_right" width="30%">
            <input type="text" class="readOnlyTxtNormal" name="stockin[relDocCode]" value="{relDocCode}"/>
            <input type="hidden" name="stockin[relDocId]" value="{relDocId}"/>
            <input type="hidden" name="stockin[relDocName]" value="{relDocName}"/>
        </td>
    </tr>
    <tr>
        <td class="form_text_left">交货单位</td>
        <td class="form_text_right">
            <input type="text" class="txt" id="purchaserName" name="stockin[purchaserName]" value="{purchaserName}"/>
            <input type="hidden" id="purchaserCode" name="stockin[purchaserCode]" value="{purchaserCode}"/>
        </td>
        <td class="form_text_left">收料仓库名称</td>
        <td class="form_text_right">
            <input type="text" id="inStockName" class="txt" name="stockin[inStockName]" value="{inStockName}"/>
            <input type="hidden" id="inStockId" name="stockin[inStockId]" value="{inStockId}"/>
            <input type="hidden" id="inStockCode" name="stockin[inStockCode]" value="{inStockCode}"/>
        </td>
    </tr>
    <tr>
        <td class="form_text_left">客户名称</td>
        <td class="form_text_right">
            <input type="text" class="txt" id="clientName" name="stockin[clientName]" value="{clientName}"/>
            <input type="hidden" id="clientId" name="stockin[clientId]" value="{clientId}"/>
        </td>
    </tr>

    <tr>
        <td class="form_text_left">备注</td>
        <td colspan=3 class="form_text_right">
            <textarea style="width:80%;" class="txt_txtarea_font" name="stockin[remark]">{remark}</textarea>
        </td>
    </tr>
</table>
<table class="main_table" id="itemtable">
    <thead>
    <tr>
        <td colspan="15" class="form_header">
            物料清单&nbsp;&nbsp; <span id="proTipInfo" style="color:#6CA6CD;text-align:center"></span>
        </td>
    </tr>
    <tr class="main_tr_header">
        <th>
            <img src="images/add_item.png" align="absmiddle" onclick="addItems();" title="新增物料" alt="新增物料"/>
            <input type="hidden" id="itemscount" value="{itemscount}"/>
        </th>
        <th>序号</th>
        <th>物料编码</th>
        <th>物料分类</th>
        <th>k3编码</th>
        <th>物料名称</th>
        <th>规格型号</th>
        <th>单位</th>
        <th>批次号</th>
        <th>应收数量</th>
        <th>实收数量</th>
        <th>收料仓库</th>
        <th>单价</th>
        <th>金额</th>
        <th>保修期（月）</th>
    </tr>
    </thead>
    <tbody id="itembody">
    {stockinItems}
    </tbody>
</table>
<table class="form_main_table">
    <tr>
        <td class="txt_btn" colspan="4">
            <input type="hidden" name="stockin[isRed]" id="isRed" value="1"/>
            <input type="hidden" id="docStatus" name="stockin[docStatus]" value="WSH"/>
            <input type="hidden" name="stockin[docType]" value="{docType}"/>
            <input type="hidden" name="stockin[orgId]" id="orgId" value="{orgId}"/>
            <input type="submit" value=" 保 存 " class="txt_btn_a"/>
            <input type="button" value=" 审 核 " class="txt_btn_a" onclick="return confirmAudit();"/>
            <input type="button" value=" 返 回 " class="txt_btn_a" onclick="closeFun()"/>
        </td>
    </tr>
</table>
</form>
</body>
</html>
