<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=gbk"/>
        <title>OA</title>
        <link rel="stylesheet" href="js/thickbox.css" type="text/css" media="screen" />
        <link rel="stylesheet" type="text/css" href="js/jqeasyui/themes/default/easyui.css"/>
        <link rel="stylesheet" type="text/css" href="js/jqeasyui/themes/icon.css"/>
        <script type="text/javascript" src="js/jqeasyui/jquery.min.js"></script>
        <script type="text/javascript" src="js/jqeasyui/jquery.easyui.min.js"></script>
        <script type="text/javascript" src="js/jqeasyui/locale/easyui-lang-zh_CN.js"></script>
        <script type="text/javascript" src="js/thickbox.js"></script>
        <script type="text/javascript">
            var wh=parent.document.documentElement.clientHeight;
            $(function(){
                $('#datalist').treegrid({
                    title:'',
                    iconCls:'icon-save',
                    fit:true,
                    fitColumns: true,
                    nowrap: false,
                    rownumbers: true,
                    animate:false,
                    collapsible:false,
                    url:'{url}',
                    idField:'id',
                    treeField:'name',
                    sortName: 'id',
                    sortOrder: 'desc',
                    pageSize:20,
                    frozenColumns:[[
                            {field:'name',title:'栏目',width:350}
                        ]],
                    columns:[[ {field:'action',title:'action',width:350,
                                formatter:function(value,row,index){
                                    var e = '<a href="#" onclick="tb_show(\''+row.name+'-> 开放对象（蓝色表示开放方式：部门蓝色代表以部门方式开通）\', \'?model=system_menu&action=showobj&id='
                                        +row.id+'&type=menu&TB_iframe=true&height=650\')">查看开放对象</a> '+'| ';
                                    if(row.pam>=1){
                                        e=e+'<a href="#" onclick="tb_show(\''+row.name+'-> 权限范围\', \'?model=system_menu&action=showobj&type=prv&id='
                                        +row.id+'&TB_iframe=true&height=650\')">查看权限范围</a> '+'| ';
                                    }
                                    e=e+'<a href="#" onclick="tb_show(\''+row.name+'-> 修改\', \'?model=system_menu&action=edit&id='
                                        +row.id+'&pid='+row._parentId+'&TB_iframe=true&height=650&width=650\')">修改</a> '+'| '
                                        +'<a href="#" onclick="tb_show(\''+row.name+'-> 添加子栏目\', \'?model=system_menu&action=add&pid='
                                        +row.id+'&TB_iframe=true&height=650&width=650\')">添加子栏目</a>';
                                    return e;
                                }
                            }
                        ]],
                    onBeforeLoad:function(row,param){
                        if (row){
                            $(this).treegrid('options').url = '{data_url}&pid='+row.id;
                        }else{

                        }
                    }
                });
            });
            $('#tabdiv').css('height',(wh-130+2*((wh-400)/80)));
            function treeReload(){
                var row = $('#datalist').treegrid('getSelected');
                if (row){
                    $('#datalist').treegrid('reload', row.id);
                }
            }
        </script>
        <style type="text/css">
            .linebutton{

            }
        </style>
    </head>
    <body id="tabdiv" class="easyui-layout">
        <div region="north" border="false" style="height:28px;padding-left: 5px;padding-top: 2px;background:#fafafa;overflow: hidden">
            <div style="float:left;">
                <input type="text">
                <a href="#" class="easyui-linkbutton" plain="true" icon="icon-search"></a>
            </div>
            <div style="float:left;">
                <a href="#" class="easyui-linkbutton" plain="true" onclick="treeReload()" icon="icon-reload">刷新</a>
            </div>
        </div>
        <div region="center" border="true">
            <table id="datalist" border="false" cellpadding="0" cellspacing="0"></table>
        </div>
    </body>
</html>