<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en_US" xml:lang="en_US">
<head>
	<title>新增国家</title>
	{#commonInclude#}
	<script type="text/javascript" src="js/DatePicker/WdatePicker.js"></script>
    <script type="text/javascript" src="view/template/system/procity/js/country-add-validator.js"></script>

</head>
<body>
<div class="main_head">
    <span class="main_head_title">
      	添加国家
    </span>
</div>
<form id="form1" method="post" action="?model=system_procity_country&action=add" name="form1">
<table class="form_main_table">
<tr>
		<td class="form_text_left"><span style=color:blue>国家编号</span></td>
		<td class="form_text_right" >
			 <input type="text" id="countryCode" class="txt" name="country[countryCode]" />
		</td>
</tr>
<tr>
		<td class="form_text_left"><span style=color:blue>国家名称</span></td>
		<td class="form_text_right" >
			 <input type="text" class="txt" id="countryName" name="country[countryName]" />
		</td>
</tr>
<!--
<tr>
		<td class="form_text_left">序号</td>
		<td class="form_text_right" >
			 <input type="text" id="orderNum" class="txt" name="country[orderNum]" />
		</td>
</tr> -->
<tr>
		<td class="form_text_left">备注</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" name="country[remark]" />
		</td>
</tr>
<tr>
		<td class="txt_btn" colspan="4">
		   <input  type="submit" class="txt_btn_a" value=" 保  存 "/>
		   <input  type="button" class="txt_btn_a" value=" 关  闭 " onclick="self.parent.tb_remove();"/>
		</td>
</tr>
</table>
</form>
</body>
</html>