<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<link rel="stylesheet" type="text/css" href="css/yxstyle.css">
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript"
	src="view/template/system/procity/js/province-show.js"></script>


<title>2/3级级联下拉选框</title>
</head>
<body>

<form>
<table>
	<tr>
		<td>
		<select name="province" id="province" class="select">
			<option>请选择省</option>
		</select></td>
		<td><select name="city" id="city" class="select">
			<option>请选择市</option>
		</select></td>
	</tr>
</table>
</form>
</body>
</html>
