<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>²Ù×÷¹ì¼£</title>
{#commonInclude#}
<script type="text/javascript" src="{#jsPath#}/tracklog-grid.js"></script>
<script type="text/javascript" src="{#jsPath#}/tracklog-list.js"></script>
</head>
<body>
<div>
<input type="hidden" id="objType" value="{objType}" />
<input type="hidden" id="objId" value="{objId}" />
<div id="logGrid" >
</div>
</div>
</body>
</html>
