<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />

<link rel="stylesheet" type="text/css" href="css/yxstyle.css" />
<link rel="stylesheet" type="text/css" href="js/thickbox.css" />
<link rel="stylesheet" type="text/css"
	href="js/jquery/style/Validator.css" />
<script type="text/javascript" src="js/DatePicker/WdatePicker.js"></script>
<script type="text/javascript" src="js/common/businesspage.js"></script>

</head>

<body>

<div class="main_head"><span class="main_head_title">
新建考核计划 </span></div>

<table class="form_main_table">
	<tr>
		<td class="form_text_left">计划名称</td>
		<td class="form_text_right">{planName}</td>
	</tr>
	<tr>
		<td class="form_text_left">起始日期</td>
		<td class="form_text_right">{planStartTime}</td>
	</tr>
	<tr>
		<td class="form_text_left">结束日期</td>
		<td class="form_text_right">{planEndTime}</td>
	</tr>
	<tr>
		<td class="form_text_left">办事处</td>
		<td class="form_text_right">{office}</td>
	</tr>
	<tr>
		<td class="form_text_left">备注</td>
		<td class="form_text_right">{remark}</td>
	</tr>
	<tr>
		<td class="txt_btn" colspan="4"><input name="" type="button"
			class="txt_btn_a" value="关  闭" onclick="self.parent.tb_remove();" />
		</td>
	</tr>
</table>

</body>
</html>
