<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" " http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns=" http://www.w3.org/1999/xhtml">
<head>
	<title>编辑增员申请表</title>
   {#commonInclude#}
	<script type="text/javascript" src="js/jquery/combo/business/yxcombogrid-position.js"></script>
	<script type="text/javascript" src="js/jquery/combo/business/yxcombogrid-esmproject.js"></script>
	<script type="text/javascript" src="js/jquery/combo/business/yxcombogrid-rdprojectfordl.js"></script>
  

	<!-- 附件上传开始 -->
	<script type="text/javascript" src="swfupload/swfupload.js"></script>
	<script type="text/javascript" src="swfupload/swfupload.queue.js"></script>
	<script type="text/javascript" src="swfupload/fileprogress.js"></script>
	<script type="text/javascript" src="swfupload/handlers.js"></script>
	<link rel="stylesheet" type="text/css" href="swfupload/upload.css" />
	<link rel="stylesheet" type="text/css" href="js/jqeasyui/themes/default/easyui.css"/>
	<script type="text/javascript" src="js/jqeasyui/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="{#jsPath#}/plan-common.js" ></script>
    <script type="text/javascript" src="{#jsPath#}/plan-edit.js" ></script>
</head>
<body>
<form id="form1" method="post" action="?model=hr_recruitplan_plan&action=edit"  onsubmit="return checkData();">
      <table class="form_main_table">
      	<tr>
      		<td colspan="6">
            <div class="main_head">
             <span class="main_head_title">
               	修改招聘计划表
             </span>
            </div>
            </td>
         </tr>
       <tr>
      		<td class="form_text_left_three"><span style="color:blue">需求部门</span></td>
      		<td class="form_text_right_three" >
      			 <input type="text" class="txt" id="deptName" name="plan[deptName]" value="{deptName}" readonly/>
      			 <input type="hidden" class="txt" id="deptId" name="plan[deptId]" value="{deptId}" />
      		</td>
      		<td class="form_text_left_three"><span style="color:blue">职位类型</span></td>
      		<td class="form_text_right_three" >
      			 <select class="select" id="postType" name="plan[postType]" >
      			 	<option value="">...请选择...</option>
      			 	{postType}
      			 </select>
      		</td>
      		<td class="form_text_left_three"><span style="color:blue">需求职位</span></td>
      		<td class="form_text_right_three" >
      			 <input type="text" class="txt" id="positionName" name="plan[positionName]"  value="{positionName}" />
      			 <input type="hidden" class="txt" id="positionId" name="plan[positionId]"  value="{positionId}" readonly/>
      		</td>
       </tr>
       <tr>
      		<td class="form_text_left_three">研发职位</td>
      		<td class="form_text_right_three" >
      			 <input type="text" class="txt" id="developPositionName" name="plan[developPositionName]" value="{developPositionName}"/>
      		</td>
      		<td class="form_text_left_three"><span style="color:blue">级别</span></td>
      		<td class="form_text_right_three" >
				<input type="text" class='txt' id="positionLevel" style="width:202px;" onclick="initLevel()" />
				<input type="hidden" name="plan[positionLevel]" id="positionLevelHidden"  value="{positionLevel}"/>
      		</td>
      		<td class="form_text_left_three"><span style="color:blue">是否紧急</span></td>
      		<td class="form_text_right_three" >
      		     &nbsp;<input type="radio" name="plan[isEmergency]" value="1" {isEmergency}/>&nbsp;是&nbsp;
      		     &nbsp;<input type="radio" name="plan[isEmergency]" value="0" {noEmergency}/>&nbsp;否&nbsp;
      		</td>
      	</tr>
      	<tr>
      		<td class="form_text_left_three"><span style="color:blue">需求人数</span></td>
      		<td class="form_text_right_three" >
      			 <input type="text" class="txt" id="needNum" name="plan[needNum]" value="{needNum}"/>
      			  <input type="hidden" class="txt" id="entryNum" name="plan[entryNum]" value="{entryNum}"/>
      		</td>
      		<td class="form_text_left_three"><span style="color:blue">希望到岗时间</span></td>
      		<td class="form_text_right_three" >
      			 <input type="text" class="txt" id="hopeDate" onfocus="WdatePicker()" readonly  name="plan[hopeDate]" value="{hopeDate}"/>
      		</td>
      		<td class="form_text_left_three"><span style="color:blue">工作地点</span></td>
      		<td class="form_text_right_three" >
      			 <input type="text" class="txt" id="workPlace" name="plan[workPlace]" value="{workPlace}"/>
      		</td>
      	</tr>
      	<tr>
      		<td class="form_text_left_three"><span style="color:blue">工资范围</span></td>
      		<td class="form_text_right_three" >
      			 <input type="text" class="txt" id="wageRange" name="plan[wageRange]" value="{wageRange}"/>
      		</td>
      		<td class="form_text_left_three"><span style="color:blue">建议补充方式</span></td>
      		<td class="form_text_right_three" >
						<input type="text" class='txt' id="addModeName" style="width:202px;" onclick="initPCC()" readonly/>
						<input type="hidden" name="plan[addMode]" id="addModeNameHidden" value="{addMode}"/>
      		</td>
      		<td class="form_text_left_three"><span style="color:blue">增员类型</span></td>
      		<td class="form_text_right_three" >
      			 <select class="select" id="addTypeCode" name="plan[addTypeCode]" >
      			 	<option value="">...请选择...</option>
      			 	{addTypeCode}
      			 </select>
      		</td>
       </tr>
       <tr>
      		<td class="form_text_left_three"><span id="leaveStyle">离职/换岗人姓名</span></td>
      		<td class="form_text_right_three" >
      			 <input type="text" class="readOnlyText" id="leaveManName" name="plan[leaveManName]" readonly value="{leaveManName}"/>
      		</td>
      		<td class="form_text_left_three"><span style="color:blue">用工类型</span></td>
      		<td class="form_text_right_three" >
      			 <select class="select" id="employmentTypeCode" name="plan[employmentTypeCode]" >
      			 	<option value="">...请选择...</option>
      			 	{employmentTypeCode}
      			 </select>
      		</td>
      		<td class="form_text_left_three"><span style="color:blue">归属区域<br/>(支撑中心)</span></td>
      		<td class="form_text_right_three" >
      			 <input type="text" class="txt" id="useAreaName" name="plan[useAreaName]" value="{useAreaName}"/>
      			 <input type="hidden" class="readOnlyText" id="useAreaId" name="plan[useAreaId]" readonly value="{useAreaId}"/>
      		</td>
       </tr>
       <tr>
      		<td class="form_text_left_three">项目类型</td>
      		<td class="form_text_right_three" >
      			 <input type="hidden" class="" id="projectTypeValue"  value="{projectType}"/>
      			 <select class="select" id="projectType" name="plan[projectType]" >
      			 	<option value="">...请选择...</option>
      			 	<option value="YFXM">研发项目</option>
      			 	<option value="GCXM">工程项目</option>
      			 </select>
      		</td>
      		<td class="form_text_left_three"><span id="leaveStyle">所在项目组</span></td>
      		<td class="form_text_right_three" >
      			 <input type="text" class="txt" id="projectGroup" name="plan[projectGroup]" readonly onclick="checkProjectType();" value="{projectGroup}"/>
      			 <input type="hidden" class="" id="projectGroupId" name="plan[projectGroupId]" readonly  value="{projectGroupId}"/>
      			 <input type="hidden" class="" id="projectCode" name="plan[projectCode]" readonly  value="{projectCode}"/>
      		</td>
      		<td class="form_text_left_three">性别</td>
      		<td class="form_text_right_three" >
      		     &nbsp;<input type="radio" name="plan[sex]" value="男" {manCheck}/>&nbsp;男&nbsp;
      		     &nbsp;<input type="radio" name="plan[sex]" value="女" {womanCheck}/>&nbsp;女&nbsp;
      		     &nbsp;<input type="radio" name="plan[sex]" value="不限" {otherCheck}/>&nbsp;不限&nbsp;
      		</td>
       </tr>
       <tr>
      		<td class="form_text_left_three">年龄</td>
      		<td class="form_text_right_three" >
      			 <input type="text" class="txt" id="age" name="plan[age]" value="{age}"/>
      		</td>
      		<td class="form_text_left_three">婚姻</td>
      		<td class="form_text_right_three" >
      			 <select class="select" id="maritalStatus" name="plan[maritalStatus]" >
      			 	<option value="">...请选择...</option>
      			 	{maritalStatus}
      			 </select>
      		</td>
      		<td class="form_text_left_three">学历</td>
      		<td class="form_text_right_three" >
      			<input type="hidden" name="plan[educationName]"/>
      			 <select class="select" id="education" name="plan[education]" >
      			 	<option value="">...请选择...</option>
      			 	{education}
      			 </select>
      		</td>
       </tr>
       <tr>
      		<td class="form_text_left_three">专业要求</td>
      		<td class="form_text_right_three" >
      			 <input type="text" class="txt" id="professionalRequire" name="plan[professionalRequire]" value="{professionalRequire}"/>
      		</td>
      		<td class="form_text_left_three" >工作经验要求</td>
      		<td class="form_text_right_three" >
      			 <input type="text" class="txt" id="workExperiernce" name="plan[workExperiernce]" value="{workExperiernce}"/>
      		</td>
      		<td class="form_text_left_three">填表人</td>
      		<td class="form_text_right_three" >
      			 <input type="text" class="readOnlyText" id="formManName" name="plan[formManName]" value="{formManName}" readonly/>
      			 <input type="hidden" class="txt" id="formManId" name="plan[formManId]" value="{formManId}"/>
      		</td>
       </tr>
       <tr>
      		<td class="form_text_left_three">填表日期</td>
      		<td class="form_text_right_three" >
      			 <input type="text" class="readOnlyText" id="formDate"  readonly  name="plan[formDate]" value="{formDate}"/>
      		</td>
      		<td class="form_text_left_three">网络</td>
      		<td class="form_text_right_three" >
      			 <input type="text" class=txt id="network"  name="plan[network]" value="{network}"/>
      		</td>
      		<td class="form_text_left_three">设备</td>
      		<td class="form_text_right_three">
      			 <input type="text" class="txt" id="device"  name="plan[device]" value="{device}"/>
      		</td>
       </tr>
       <tr>     	
      		<td class="form_text_left_three"><span style="color:blue">简历发送至</span></td>
      		<td class="form_text_right_three"  colspan="5">
      			 <input type="hidden" class="txt" id="resumeToId" name="plan[resumeToId]" value="{resumeToId}"/>
      			 <input type="text" class="txt500" id="resumeToName" name="plan[resumeToName]" value="{resumeToName}" readonly/>
      		</td>
       </tr>
      <tr>
      		<td class="form_text_left_three" ><span style="color:blue">需求原因</span></td>
      		<td class="form_text_right_three" colspan="5">
                  <textarea class="txt_txtarea_biglong" id="applyReason" name="plan[applyReason]">{applyReason}</textarea>
      		</td>
      </tr>
      <tr>
      		<td class="form_text_left_three" >工作职责</td>
      		<td class="form_text_right_three"  colspan="5">
                  <span >工作职责详见职位说明书，该处填写补充内容</span><br/>
                  <textarea class="txt_txtarea_biglong" id="workDuty" name="plan[workDuty]">{workDuty}</textarea>
      		</td>
      </tr>
      <tr>
      		<td class="form_text_left_three" >试用期内的工作安排(请逐月填写)</td>
      		<td class="form_text_right_three"  colspan="5">
                  <textarea class="txt_txtarea_biglong" id="workArrange" name="plan[workArrange]">{workArrange}</textarea>
      		</td>
      </tr>
      <tr>
      		<td class="form_text_left_three" >试用期结束后的主要考核指标</td>
      		<td class="form_text_right_three"  colspan="5">
                  <textarea class="txt_txtarea_biglong" id="assessmentIndex" name="plan[assessmentIndex]">{assessmentIndex}</textarea>
      		</td>
      </tr>
       <tr>
			<td class="form_text_left_three">附件</td>
			<td colspan="3" class="form_text_right_three">
				<div class="upload">
					<div class="upload" id="fsUploadProgress"></div>
					<div class="upload">
						<span id="swfupload"></span>
						<input id="btnCancel" type="button" value="中止上传" onclick="cancelQueue(uploadfile);" disabled="disabled" />
						<br />
					</div>
					<div id="uploadfileList" class="upload">{file}</div>
				</div>
			</td>
       </tr>
          <tr>
   		<td class="txt_btn" colspan="6">
            <input  type="hidden" id="id" name="plan[id]" value="{id}" />
   		   <input  type="submit" class="txt_btn_a" value=" 保  存 "/>
               &nbsp; &nbsp; &nbsp;
               <input type="submit" id="submitApp" value=" 提交审批 " class="txt_btn_a" onclick="toSubmit()"/>
               &nbsp; &nbsp; &nbsp;
   		   <input  type="button" class="txt_btn_a" value=" 返  回 " onclick="closeFun();"/>
   		</td>
       </tr>
      </table>
   </form>
</body>
</html>