<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN""http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en_US" xml:lang="en_US">
<head>
	<title>预算项目</title>
	{#commonInclude#}
	 <script type="text/javascript" src="view/template/engineering/baseinfo/js/budget-add.js"></script>
	 <script type="text/javascript" src="view/template/engineering/baseinfo/js/budget-combotree.js"></script>

</head>
<body>
<div class="main_head">
    <span class="main_head_title">
      	预算项目 - 上级 ：{budgetName}({budgetCode})
    </span>
</div>
<form id="form1" method="post" action="?model=engineering_baseinfo_budget&action=add">
<table class="form_main_table">
    <tr>
		<td class="form_text_left">预算编码</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" name="budget[budgetCode]" id="budgetCode"/>
			 <span class="red">[*]</span>
		</td>
		<td class="form_text_left">预算名称</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" name="budget[budgetName]" id="budgetName" />
			<span class="red">[*]</span>
		</td>
    </tr>
    <tr>
		<td class="form_text_left">父节点名称</td>
		<td class="form_text_right" >
			 <input type="hidden" id="parentId" name="budget[parentId]" value="{id}" />
			 <input type="hidden" id="parentCode" name="budget[parentCode]" value="{budgetCode}"/>
			 <input type="text"readOnly class="txt" id="parentName" name="budget[parentName]" value="{budgetName}"/>
			 <span class="red">[*]</span>
		</td>
		<td class="form_text_left">货币单位</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" name="budget[currencyUnit]" id="currencyUnit"/>
		</td>
    </tr>
    <tr>
		<td class="form_text_left">排序顺序号</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" name="budget[orderNum]" />
		</td>
		<td class="form_text_left">科目名称</td>
		<td class="form_text_right" >
			 <input type="hidden" id="subjectCode" name="budget[subjectCode]" />
			 <input type="text" class="txt" name="budget[subjectName]" />
		</td>
    </tr>
    <tr>
		<td class="form_text_left">费用类型</td>
		<td class="form_text_right" colspan="3">
			<select class="select" name="budget[budgetType]">
				{budgetType}
			</select>
		</td>
    </tr>
    <tr>
		<td class="form_text_left">备注</td>
		<td class="form_text_right" colspan="3">
			<textarea class="txt_txtarea_font" id="remark" name="budget[remark]"></textarea>
		</td>
    </tr>
    <tr>
    <tr>
		<td class="txt_btn" colspan="4">
		   <input type="submit" class="txt_btn_a" value="保  存"/>
		   <input type="button" class="txt_btn_a" value="关  闭" onclick="self.parent.tb_remove();"/>
		</td>
    </tr>
</table>
</form>
</body>
</html>