<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" " http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>编辑人力预算项目</title>
   {#commonInclude#}
   <script type="text/javascript" src="{#jsPath#}/eperson-edit.js" ></script>
</head>
<body>
<form id="form1" method="post" action="?model=engineering_baseinfo_eperson&action=edit" >
	<table class="form_main_table">
		<tr>
			<td colspan="4">
				<div class="main_head">
		            <span class="main_head_title">
		              	编辑人力预算项目
		            </span>
				</div>
			</td>
		</tr>
		<tr>
			<td class="form_text_left">人员等级</td>
			<td class="form_text_right" >
				 <input type="text" class="txt" id="personLevel" name="eperson[personLevel]" value="{personLevel}" />
				<span class="red">[*]</span>
			</td>
			<td class="form_text_left">上级名称</td>
			<td class="form_text_right" width="30%">
				<input type="text" class="readOnlyTxtNormal" id="parentName" name="eperson[parentName]" value="{parentName}" readonly="readonly"/>
				<input type="hidden" id="parentId" name="eperson[parentId]" value="{parentId}" />
			</td>
		</tr>
		<tr>
			<td class="form_text_left">计量系数</td>
			<td class="form_text_right" >
				 <input type="text" class="txt" name="eperson[coefficient]" value="{coefficient}" />
			</td>
			<td class="form_text_left">资源单价</td>
			<td class="form_text_right" >
				 <input type="text" class="txt" name="eperson[price]" value="{price}" />
			</td>
		</tr>
        <tr>
            <td class="form_text_left">自定义单价</td>
            <td class="form_text_right" colspan="3">
                <select class="txt" id="customPrice" name="eperson[customPrice]">
                    <option value="0">否</option>
                    <option value="1">是</option>
                </select>
                <input type="hidden" id="customPriceHidden" value="{customPrice}"/>
            </td>
        </tr>
		<tr>
			<td class="form_text_left">计量单位</td>
			<td class="form_text_right" >
				 <input type="text" class="txt" name="eperson[unit]" value="{unit}" />
			</td>
			<td class="form_text_left">排 序 号</td>
			<td class="form_text_right" >
				 <input type="text" class="txt" name="eperson[orderNum]" value="{orderNum}" />
			</td>
		</tr>
		<tr>
      		<td class="form_text_left">非家庭和办事处城市参加项目(短期)</td>
      		<td class="form_text_right" >
      			 <input type="text" class="txt" name="eperson[nonFamilyShort]" value="{nonFamilyShort}" />
      		</td>
      		<td class="form_text_left">非家庭和办事处城市参加项目(长期)</td>
      		<td class="form_text_right" >
      			 <input type="text" class="txt" name="eperson[nonFamilyLong]" value="{nonFamilyLong}" />
      		</td>
		</tr>
      	<tr>
		<td class="form_text_left">归属行政中心或办事处所在城市参与项目</td>
      		<td class="form_text_right" >
      			 <input type="text" class="txt" name="eperson[adminProject]" value="{adminProject}" />
      		</td>
		<td class="form_text_left">家庭所在城市参与项目</td>
      		<td class="form_text_right" >
      			 <input type="text" class="txt" name="eperson[familyProject]" value="{familyProject}" />
      		</td>
		</tr>
		<tr>
			<td class="form_text_left">备注信息</td>
			<td class="form_text_right" colspan="3">
				<textarea class="txt_txtarea_font" id="remark" name="eperson[remark]">{remark}</textarea>
			</td>
		</tr>
   		<tr>
			<td class="txt_btn" colspan="4">
	        	<input type="hidden" name="eperson[id]" value="{id}" />
				<input type="submit" class="txt_btn_a" value=" 保  存 "/>
			    <input type="button" class="txt_btn_a" value=" 关  闭 " onclick="self.parent.tb_remove();"/>
			</td>
		</tr>
	</table>
</form>
</body>
</html>