<!DOCTYPE html>
<html>
<head>
    <title>更新收入确认方式</title>
    {#commonInclude#}
</head>
<body>
<form id="form1" method="post" action="?model=engineering_baseinfo_esmcommon&action=updateIcom">
    <table class="form_main_table">
        <tr>
            <td colspan="4">
                <div class="main_head">
                    <span class="main_head_title">
                        更新收入确认方式
                    </span>
                </div>
            </td>
        </tr>
        <tr>
            <td class="form_text_left">收入确认方式</td>
            <td class="form_text_right">
                <select class="select" name="esmIncome[type]">
                    {type}
                </select>
            </td>
        </tr>
        <tr id="remarkShow" style="display: none;">
            <td class="form_text_left">备注</td>
            <td class="form_text_right">
                <textarea name="esmIncome[remark]" style="height:80px;width:350px;"></textarea>
            </td>
        </tr>
        <tr>
            <td class="txt_btn" colspan="4">
                <input type="hidden" id="id" name="esmIncome[id]" value="{id}"/>
                <input type="hidden" id="needRemark" value="{needRemark}"/>
                <input type="submit" class="txt_btn_a" value=" 保  存 "/>
                <input type="button" class="txt_btn_a" value=" 关  闭 " onclick="self.parent.tb_remove();"/>
            </td>
        </tr>
    </table>
</form>
</body>
<script type="text/javascript">
    $(function() {
        if ($("#needRemark").val() == "1") {
            $("#remarkShow").show();
        }
    });
</script>
</html>
