<!DOCTYPE html>
<html>
<head>
	<title>沟通板通知</title>
	<meta http-equiv="Content-Type" content="text/html;charset=gbk"/>
	<link rel="stylesheet" type="text/css" href="css/yxstyle.css"/>
	<link rel="stylesheet" type="text/css" href="js/thickbox.css"/>
	<script type="text/javascript" src="js/jquery.js"></script>
	<script type="text/javascript" src="js/common/businesspage.js"></script>
</head>
<body>

<table class="form_main_table">
	<tr>
		<td colspan="2">
			<div class="main_head2">
				<span class="main_head_title">
	            	沟通板通知
	          	</span>
			</div>
		</td>
    </tr>
    <tr>
        <td class="form_text_left">日期</td>
        <td class="form_text_right" >
            {noticeDate}
        </td>
    </tr>
    <tr>
        <td class="form_text_left">类别</td>
        <td class="form_text_right" >
            {categoryName}
        </td>
    </tr>
    <tr>
        <td class="form_text_left">主题</td>
        <td class="form_text_right" >
            {noticeTitle}
        </td>
    </tr>
    <tr>
        <td class="form_text_left">内容</td>
        <td class="form_text_right" >
            {content}
        </td>
    </tr>
    <tr>
        <td class="form_text_left">附件</td>
        <td class="form_text_right" >
            {files}
        </td>
    </tr>
    <tr>
        <td class="form_text_left">发布人</td>
        <td class="form_text_right" >
            {createName}
        </td>
    </tr>
    <tr>
        <td class="form_text_left">发布时间</td>
        <td class="form_text_right" >
            {createTime}
        </td>
    </tr>
    <tr>
        <td class="txt_btn" colspan="2">
            <input type="button" class="txt_btn_a" value=" 关  闭 " onclick="closeFun();"/>
        </td>
    </tr>
</table>
</body>
</html>