<!DOCTYPE html>
<html>
<head>
    <title>沟 通 板</title>
    {#commonInclude#}
    <script type="text/javascript" src="view/template/engineering/baseinfo/js/esmNotice-grid.js"></script>
</head>
<body>
<table id="searchTbl" class="main_table_search" style="display: none;">
    <tr>
        <td class="form_text_right">
            查询范围：
            <select id="period">
                <option value="lastThreeMonth">最近3个月</option>
                <option value="all">全部</option>
            </select>
            <input type='button' id="search" value=' 查 询 ' class="txt_btn_a" onclick="initView();"/>
            <span><img id="loading" style="display:none;vertical-align:middle;" src="js/jquery/images/grid/load.gif"/></span>
        </td>
    </tr>
</table>
<input type="hidden" id="manage" value="{manage}"/>
<input type="hidden" id="t" value="{t}"/>
<div id="grid"></div>
</body>
</html>