<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en_US" xml:lang="en_US">
<head>
	<title>新增资源</title>
	{#commonInclude#}
	<script type="text/javascript" src="js/jquery/combo/business/yxcombogrid-budget.js" ></script>
    <script type="text/javascript" src="view/template/engineering/baseinfo/js/resource-add.js"></script>

</head>
<body>
<div class="main_head">
    <span class="main_head_title">
      	新增资源 - 上级 ：{resourceName}({resourceCode})
    </span>
</div>
<form id="form1" method="post" action="?model=engineering_baseinfo_resource&action=add">
<table class="form_main_table">
    <tr>
		<td class="form_text_left">资源编码</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" name="resource[resourceCode]" id="resourceCode" />
			 <span class="red">[*]</span>
		</td>
		<td class="form_text_left">资源名称</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" name="resource[resourceName]" id="resourceName"/>
			 <span class="red">[*]</span>
		</td>
    </tr>
    <tr>
		<td class="form_text_left">上级名称</td>
		<td class="form_text_right" >
			 <input type="text" id="parentName" class="txt" readOnly name="resource[parentName]" value="{resourceName}"/>
			 <input type="hidden" id="parentId" name="resource[parentId]" value="{id}"/>
			 <input type="hidden" id="parentCode" name="resource[parentCode]" value="{resourceCode}"/><span class="red">[*]</span>
		</td>
		<td class="form_text_left">排序号码</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" name="resource[orderNum]" />
		</td>
    </tr>
    <tr>
		<td class="form_text_left">资源单价</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" name="resource[price]" id="price"/>
		</td>
		<td class="form_text_left">货币单位</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" name="resource[currencyUnit]" id="currencyUnit"/>
		</td>
    </tr>
    <tr>
		<td class="form_text_left">预算项目</td>
		<td class="form_text_right">
			 <input type="text" class="txt" name="resource[budgetName]" id="budgetName" value="{budgetName}"/>
			 <input type="hidden" id="budgetCode" name="resource[budgetCode]" value="{budgetCode}"/>
		</td>
		<td class="form_text_left">计量单位</td>
		<td class="form_text_right" >
			 <input type="text" class="txt" name="resource[units]" id="units"/>
		</td>
    </tr>
    <tr>
        <td class="form_text_left">资源性质</td>
        <td class="form_text_right" colspan="3">
             <select class="select" name="resource[resourceNature]" id="resourceNature">
             </select>
        </td>
    </tr>
    <tr>
		<td class="form_text_left">资源备注</td>
		<td class="form_text_right" colspan="3">
			 <textarea class="txt_txtarea_font" name="resource[remark]"></textarea>
		</td>
    </tr>
    <tr>
		<td class="txt_btn" colspan="4">
		   <input type="submit" class="txt_btn_a" value="保  存"/>
		   <input type="button" class="txt_btn_a" value="关  闭" onclick="self.parent.tb_remove();"/>
		</td>
    </tr>
</table>
</form>
</body>
</html>