<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en_US" xml:lang="en_US">
	<head>
		<title>
			查看日志考核结果设置
		</title>
		{#commonInclude#}
		<script type="text/javascript" src="{#jsPath#}/esmassresult-view.js"></script>
	</head>
	<body>
		<table class="form_main_table">
			<tr>
				<td colspan="4">
					<div class="main_head">
						<span class="main_head_title">
							查看日志考核结果设置信息
						</span>
					</div>
				</td>
			</tr>
			<tr>
				<td class="form_text_left">
					考核结果
				</td>
				<td class="form_text_right">
					{resultName}
				</td>
			</tr>
			<!--<tr>-->
				<!--<td class="form_text_left">-->
					<!--对应值-->
				<!--</td>-->
				<!--<td class="form_text_right">-->
					<!--{resultVal}-->
				<!--</td>-->
			<!--</tr>-->
			<!--<tr>-->
				<!--<td class="form_text_left">-->
					<!--考核分数-->
				<!--</td>-->
				<!--<td class="form_text_right">-->
					<!--{resultScore}-->
				<!--</td>-->
			<!--</tr>-->
            <tr>
                <td class="form_text_left">
                    10
                </td>
                <td class="form_text_right">
                    {score_10}
                </td>
            </tr>
            <tr>
                <td class="form_text_left">
                    9
                </td>
                <td class="form_text_right">
                    {score_9}
                </td>
            </tr>
            <tr>
                <td class="form_text_left">
                    8
                </td>
                <td class="form_text_right">
                    {score_8}
                </td>
            </tr>
            <tr>
                <td class="form_text_left">
                    7
                </td>
                <td class="form_text_right">
                    {score_7}
                </td>
            </tr>
            <tr>
                <td class="form_text_left">
                    6
                </td>
                <td class="form_text_right">
                    {score_6}
                </td>
            </tr>
            <tr>
                <td class="form_text_left">
                    5
                </td>
                <td class="form_text_right">
                    {score_5}
                </td>
            </tr>
            <tr>
                <td class="form_text_left">
                    4
                </td>
                <td class="form_text_right">
                    {score_4}
                </td>
            </tr>
            <tr>
                <td class="form_text_left">
                    3
                </td>
                <td class="form_text_right">
                    {score_3}
                </td>
            </tr>
            <tr>
                <td class="form_text_left">
                    2
                </td>
                <td class="form_text_right">
                    {score_2}
                </td>
            </tr>
            <tr>
                <td class="form_text_left">
                    1
                </td>
                <td class="form_text_right">
                    {score_1}
                </td>
            </tr>
            <tr>
                <td class="form_text_left">
                    0
                </td>
                <td class="form_text_right">
                    {score_0}
                </td>
            </tr>
			<tr>
				<td class="txt_btn" colspan="4">
					<input type="hidden" id="id" value="{id}" />
					<input type="button" class="txt_btn_a" value=" 关  闭 " onclick="self.parent.tb_remove();"/>
				</td>
			</tr>
		</table>
	</body>

</html>