<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" " http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns=" http://www.w3.org/1999/xhtml">
	<head>
		<title>
			新增日志考核结果设置
		</title>
		{#commonInclude#}
		<script type="text/javascript" src="{#jsPath#}/esmassresult-add.js"></script>
	</head>
	<body>
		<form id="form1" method="post" action="?model=engineering_assess_esmassresult&action=add">
			<table class="form_main_table">
				<tr>
					<td colspan="4">
						<div class="main_head">
							<span class="main_head_title">
								新增日志考核结果设置
							</span>
						</div>
					</td>
				</tr>
				<tr>
					<td class="form_text_left">
						考核结果
					</td>
					<td class="form_text_right">
						<input type="text" class="txt" id="resultName" name="esmassresult[resultName]"/>
					</td>
				</tr>
				<tr>
					<td class="form_text_left">
						对应值
					</td>
					<td class="form_text_right">
						<input type="text" class="txt" id="resultVal" name="esmassresult[resultVal]"/>
					</td>
				</tr>
				<tr>
					<td class="form_text_left">
						考核分数
					</td>
					<td class="form_text_right">
						<input type="text" class="txt" id="resultScore" name="esmassresult[resultScore]"/>
					</td>
				</tr>
                <tr>
                    <td class="form_text_left">
                        10
                    </td>
                    <td class="form_text_right">
                        <input type="text" class="txt" id="score_10" name="esmassresult[score_10]"/>
                    </td>
                </tr>
                <tr>
                    <td class="form_text_left">
                        9
                    </td>
                    <td class="form_text_right">
                        <input type="text" class="txt" id="score_9" name="esmassresult[score_9]"/>
                    </td>
                </tr>
                <tr>
                    <td class="form_text_left">
                        8
                    </td>
                    <td class="form_text_right">
                        <input type="text" class="txt" id="score_8" name="esmassresult[score_8]"/>
                    </td>
                </tr>
                <tr>
                    <td class="form_text_left">
                        7
                    </td>
                    <td class="form_text_right">
                        <input type="text" class="txt" id="score_7" name="esmassresult[score_7]"/>
                    </td>
                </tr>
                <tr>
                    <td class="form_text_left">
                        6
                    </td>
                    <td class="form_text_right">
                        <input type="text" class="txt" id="score_6" name="esmassresult[score_6]"/>
                    </td>
                </tr>
                <tr>
                    <td class="form_text_left">
                        5
                    </td>
                    <td class="form_text_right">
                        <input type="text" class="txt" id="score_5" name="esmassresult[score_5]"/>
                    </td>
                </tr>
                <tr>
                    <td class="form_text_left">
                        4
                    </td>
                    <td class="form_text_right">
                        <input type="text" class="txt" id="score_4" name="esmassresult[score_4]"/>
                    </td>
                </tr>
                <tr>
                    <td class="form_text_left">
                        3
                    </td>
                    <td class="form_text_right">
                        <input type="text" class="txt" id="score_3" name="esmassresult[score_3]"/>
                    </td>
                </tr>
                <tr>
                    <td class="form_text_left">
                        2
                    </td>
                    <td class="form_text_right">
                        <input type="text" class="txt" id="score_2" name="esmassresult[score_2]"/>
                    </td>
                </tr>
                <tr>
                    <td class="form_text_left">
                        1
                    </td>
                    <td class="form_text_right">
                        <input type="text" class="txt" id="score_1" name="esmassresult[score_1]"/>
                    </td>
                </tr>
                <tr>
                    <td class="form_text_left">
                        0
                    </td>
                    <td class="form_text_right">
                        <input type="text" class="txt" id="score_0" name="esmassresult[score_0]"/>
                    </td>
                </tr>
				<tr>
					<td class="txt_btn" colspan="4">
						<input type="submit" class="txt_btn_a" value=" 保  存 " />
						<input type="button" class="txt_btn_a" value=" 关  闭 " onclick="self.parent.tb_remove();"/>
					</td>
				</tr>
			</table>
		</form>
	</body>
</html>