<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en_US" xml:lang="en_US">
<head>
	<title>查看考核等级配置表</title>
	{#commonInclude#}
	<script type="text/javascript" src="{#jsPath#}/esmasslevel-view.js"></script>
</head>
<body>

<table class="form_main_table">
	<tr>
		<td colspan="4">
		<div class="main_head2"><span class="main_head_title">
		查看考核结果</span></div>
		</td>
	</tr>
	<tr>
		<td class="form_text_left">考核结果</td>
		<td class="form_text_right">{name}</td>
	</tr>
	<tr>
		<td class="form_text_left">评分上限</td>
		<td class="form_text_right">{upperLimit}</td>
	</tr>
	<tr>
		<td class="form_text_left">评分下限</td>
		<td class="form_text_right">{lowerLimit}</td>
	</tr>
	<tr>
		<td class="txt_btn" colspan="4"><input type="hidden" id="id"
			value="{id}" /> <input type="button" class="txt_btn_a"
			value=" 关  闭 " onclick="self.parent.tb_remove();" /></td>
	</tr>
</table>
</body>
</html>
