<head>
<title>管理工程项目</title>
<meta http-equiv="Content-Type" content="text/html;charset=gb2312" />
<link rel="stylesheet" type="text/css" href="css/yxstyle.css" />
<link rel="stylesheet" type="text/css" href="js/thickbox.css" />
<link rel="stylesheet" type="text/css" href="js/jquery/style/Validator.css" />
<link rel="stylesheet" type="text/css" href="js/jquery/tab/css/tabs.css" />

<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/thickbox.js"></script>

<script type="text/javascript" src="js/common/businesspage.js"></script>
<script type="text/javascript" src="js/jquery/tab/tabs.js"></script>
<script type="text/javascript">
	$(function() {
		var tabArr = [
			"?model=engineering_assess_esmasstemplate",
			"?model=engineering_assess_esmassindex",
			"?model=engineering_assess_esmasslevel",
			"?model=engineering_assess_esmassresult"
		];


		$("#tabs1").tabs(".panes > iframe", {
			history : true,
			onClick : function(i, e) {
				var actTabId = "#iframe" + (parseInt(e) + 1);
				if ($(actTabId).attr("src") == "") {
					$(actTabId).attr("src", tabArr[e]);
				}
			}
		});
	});
</script>

</head>
<body>

<div><!-- the tabs -->
<ul class="tabs" id="tabs1">
	<li><a href="#tab1">周报考核模板</a></li>
	<li><a href="#tab2">周报考核指标</a></li>
	<li><a href="#tab3">周报考核结果设置</a></li>
	<li><a href="#tab3">日志考核分数设置</a></li>
</ul>

<!-- tab "panes" -->
<div class="panes">
	<iframe class="pane" id="iframe1" src="" style="height:96%" frameborder="0"> </iframe>
	<iframe class="pane" id="iframe2" src="" style="height:96%" frameborder="0"> </iframe>
	<iframe class="pane" id="iframe3" src="" style="height:96%" frameborder="0"></iframe>
	<iframe class="pane" id="iframe4" src="" style="height:96%" frameborder="0"></iframe>
</div>
</div>
</body>
</html>
