<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en_US" xml:lang="en_US">
<head>
<title>不合格序列号</title>
{#commonInclude#}
<script type="text/javascript" src="view/template/produce/quality/js/qualityereport-serialno-view.js"></script>
</head>
<body>
<script type="text/javascript">
	
</script>
<div class="main_head"><span class="main_head_title">
物料序列号管理 </span></div>
<form id="form1" method="post"
	action="?model=produce_quality_serialno&action=qualitAdd" name="form1" onSubmit="return checkSubmit();">
<table class="form_main_table">
	<tr>
		<td class="form_text_left">物料编号</td>
		<td class="form_text_right">
			{productCode}
		</td>
		<td class="form_text_left">物料名称</td>
		<td class="form_text_right">
			{productName}
		</td>
	</tr>

	<tr>
		<td class="form_text_left">规格型号</td>
		<td class="form_text_right" colspan="3">
			{pattern}
		</td>
	</tr>
	<tr>
		<td colspan="4">
		<div style="height: 320px; overflow-y: auto; overflow-x: hidden; text-align:left;">
		<div id="serial"></div>
		</div>
		</td>
	</tr>

	<tr>
		<td class="txt_btn" colspan="4">
			<input type="hidden" id="productNum" value="{productNum}" name="serialno[productNum]" />
			<input type="hidden" class="txt" name="serialno[relDocId]" value="{id}"  id="relDocId"/> 
			<input type="hidden" class="txt" name="serialno[productId]" value="{productId}" id="productId" />
			<input type="button" class="txt_btn_a" value=" 关  闭 " onclick="closeFun()" />
		</td>
	</tr>
</table>
</form>
</body>
</html>