<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en_US" xml:lang="en_US">
<head>
	<title>新增物料不合格序列号</title>
	{#commonInclude#}
	<script type="text/javascript" src="view/template/produce/quality/js/serialno-dealview.js"></script>
</head>
<body>
<div class="main_head2">
	<span class="main_head_title">
		物料序列号管理
	</span>
</div>
	<table class="form_main_table">
		<tr>
			<td class="form_text_left">物料编号</td>
			<td class="form_text_right">
				{productCode}
			</td>
			<td class="form_text_left">物料名称</td>
			<td class="form_text_right">
				{productName}
			</td>
		</tr>
		<tr>
			<td class="form_text_left">规格型号</td>
			<td class="form_text_right">
				{pattern}
			</td>
			<td class="form_text_left">应填数量</td>
			<td class="form_text_right">
				{productNum}
			</td>
		</tr>
		<tr>
			<td class="form_text_left">填入数量</td>
			<td class="form_text_right" colspan="3">
				<span id="numShow">{num}</span>
			</td>
		</tr>
		<tr>
			<td class="form_text_left" valign="top">序列号</td>
			<td colspan="3" class="form_text_right">
				<textarea id="sequences" class="textarea_read" readonly="readonly">{sequences}</textarea>
			</td>
		</tr>
		<tr>
			<td class="txt_btn" colspan="4">
				<input type="button" class="txt_btn_a" value=" 关  闭 " onclick="closeFun()" />
			</td>
		</tr>
	</table>
</body>
</html>