<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" " http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns=" http://www.w3.org/1999/xhtml">
<head>
	<title>非报销类费用添加</title>
   {#commonInclude#}
   <script type="text/javascript" src="{#jsPath#}/otherfee-add.js" ></script>
</head>

<body>
   <form id="form1" method="post" action="?model=finance_otherfee_otherfee&action=add" >
      <table class="form_main_table">
      	<tr>
      		<td colspan="4">
            <div class="main_head">
             <span class="main_head_title">
               	非报销类费用添加
             </span>
            </div>
            </td>
         </tr>
       <tr>
      		<td class="form_text_left"><span class="blue">会计年度</span></td>
      		<td class="form_text_right" >
      			 <select class="txt" id="accountYear" name="otherfee[accountYear]" >
					<!-- <option value = "2005">2005</option>
					<option value = "2006">2006</option>
					<option value = "2007">2007</option>
					<option value = "2008">2008</option>
					<option value = "2009">2009</option>
					<option value = "2010">2010</option>
					<option value = "2011">2011</option>
					<option value = "2012">2012</option>
					<option value = "2013">2013</option> -->
					{yearStr}
				 </select>
      		</td>
      		<td class="form_text_left"><span class="blue">会计期间</span></td>
      		<td class="form_text_right" >
      			 <select class="txt" id="accountPeriod" name="otherfee[accountPeriod]" >
					<!-- <option value="1">1</option>
					<option value="2">2</option>
					<option value="3">3</option>
					<option value="4">4</option>
					<option value="5">5</option>
					<option value="6">6</option>
					<option value="7">7</option>
					<option value="8">8</option>
					<option value="9">9</option>
					<option value="10">10</option>
					<option value="11">11</option>
					<option value="12">12</option> -->
					{monthStr}
				 </select>
      		</td>
       </tr>
       <tr>
      		<td class="form_text_left">摘要</td>
      		<td class="form_text_right" >
      			 <input type="text" class="txt" id="summary" name="otherfee[summary]" />
      		</td>
      		<td class="form_text_left"><span class="blue">科目名称</span></td>
      		<td class="form_text_right" >
      			 <input type="text" class="txt" id="subjectName" name="otherfee[subjectName]" />
      		</td>
       </tr>
       <tr>
      		<td class="form_text_left"><span class="blue">借方金额</span></td>
      		<td class="form_text_right" >
      			 <input type="text" class="formatMoney txt" id="debit" name="otherfee[debit]" />
      		</td>
      		<td class="form_text_left">商机编号</td>
      		<td class="form_text_right" >
      			 <input type="text" class="txt" id="chanceCode" name="otherfee[chanceCode]" />
      		</td>
       </tr>
       <tr>
      		<td class="form_text_left">试用项目编号</td>
      		<td class="form_text_right" >
      			 <input type="text" class="txt" id="trialProjectCode" name="otherfee[trialProjectCode]" />
      		</td>
      		<td class="form_text_left"><span class="blue">费用归属部门</span></td>
      		<td class="form_text_right" >
      			 <input type="text" class="txt" id="feeDeptName" name="otherfee[feeDeptName]"/>
      		</td>
       </tr>
 	<tr>
      		<td class="form_text_left">合同编号</td>
      		<td class="form_text_right" >
      			 <input type="text" class="txt" id="contractCode" name="otherfee[contractCode]" />
      		</td>
      		<td class="form_text_left">省份</td>
      		<td class="form_text_right" >
      			 <input type="text" class="txt" id="province" name="otherfee[province]" />
      		</td>
       </tr>
          <tr>
      		<td class="txt_btn" colspan="4">
      		   <input  type="submit" class="txt_btn_a" value=" 保  存 "/>
      		   <input  type="button" class="txt_btn_a" value=" 关  闭 " onclick="self.parent.tb_remove();"/>
      		</td>
       </tr>
      </table>
   </form>
</body>
</html>