<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en_US" xml:lang="en_US">
<head>
	<title>查看员工辅导计划详细表</title>
      {#commonInclude#}
   <script type="text/javascript" src="{#jsPath#}/coachplaninfo-view.js" ></script>  
</head>
<body>

<table class="form_main_table">
<tr>
	<td colspan="4">
      <div class="main_head">
          <span class="main_head_title">
            	查看员工辅导计划详细表信息
          </span>
      </div>
   </td>
</tr>
<tr>
		<td class="form_text_left">辅导计划id</td>
		<td class="form_text_right">
			{coachplanId}
		</td>
</tr>     
<tr>
		<td class="form_text_left">所属月份</td>
		<td class="form_text_right">
			{containMonth}
		</td>
</tr>     
<tr>
		<td class="form_text_left">培养目标</td>
		<td class="form_text_right">
			{fosterGoal}
		</td>
</tr>     
<tr>
		<td class="form_text_left">具体培养措施</td>
		<td class="form_text_right">
			{fosterMeasure}
		</td>
</tr>     
<tr>
		<td class="form_text_left">达成情况（员工）</td>
		<td class="form_text_right">
			{reachinfoStu}
		</td>
</tr>     
<tr>
		<td class="form_text_left">补充说明（员工）</td>
		<td class="form_text_right">
			{remarkStu}
		</td>
</tr>     
<tr>
		<td class="form_text_left">达成情况（导师）</td>
		<td class="form_text_right">
			{reachinfoTut}
		</td>
</tr>     
<tr>
		<td class="form_text_left">补充说明（导师）</td>
		<td class="form_text_right">
			{remarkTut}
		</td>
</tr>     
   <tr>
		<td class="txt_btn" colspan="4">
         <input  type="hidden" id="id"  value="{id}" />
	      <input  type="button" class="txt_btn_a" value=" 关  闭 " onclick="self.parent.tb_remove();"/>
		</td>
</tr>
</table>
</body>
</html>