<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en_US" xml:lang="en_US">
<head>
	<title>查看导师奖励管理--明细</title>
      {#commonInclude#}
   <script type="text/javascript" src="{#jsPath#}/rewardinfo-view.js" ></script>
</head>
<body>

<table class="form_main_table">
<tr>
	<td colspan="4">
      <div class="main_head">
          <span class="main_head_title">
            	查看导师奖励管理--明细信息
          </span>
      </div>
   </td>
</tr>
<tr>
		<td class="form_text_left">主表id</td>
		<td class="form_text_right">
			{rewardId}
		</td>
</tr>
<tr>
		<td class="form_text_left">导师员工编号</td>
		<td class="form_text_right">
			{userNo}
		</td>
</tr>
<tr>
		<td class="form_text_left">导师员工账号</td>
		<td class="form_text_right">
			{userAccount}
		</td>
</tr>
<tr>
		<td class="form_text_left">导师姓名</td>
		<td class="form_text_right">
			{userName}
		</td>
</tr>
<tr>
		<td class="form_text_left">考核分数</td>
		<td class="form_text_right">
			{assessmentScore}
		</td>
</tr>
<tr>
		<td class="form_text_left">导师管理id</td>
		<td class="form_text_right">
			{tutorId}
		</td>
</tr>
<tr>
		<td class="form_text_left">学员员工编号</td>
		<td class="form_text_right">
			{studentNo}
		</td>
</tr>
<tr>
		<td class="form_text_left">学员员工账号</td>
		<td class="form_text_right">
			{studentAccount}
		</td>
</tr>
<tr>
		<td class="form_text_left">学员名称</td>
		<td class="form_text_right">
			{studentName}
		</td>
</tr>
<tr>
		<td class="form_text_left">转正日期</td>
		<td class="form_text_right">
			{tryEndDate}
		</td>
</tr>
<tr>
		<td class="form_text_left">奖品价格</td>
		<td class="form_text_right">
			{rewardPrice}
		</td>
</tr>
<tr>
		<td class="form_text_left">辅导总体情况</td>
		<td class="form_text_right">
			{situation}
		</td>
</tr>
   <tr>
		<td class="txt_btn" colspan="4">
         <input  type="hidden" id="id"  value="{id}" />
	      <input  type="button" class="txt_btn_a" value=" 关  闭 " onclick="self.parent.tb_remove();"/>
		</td>
</tr>
</table>
</body>
</html>