<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en_US" xml:lang="en_US">
<head>
	<title>查看导师奖励管理</title>
      {#commonInclude#}
<!--         <script type="text/javascript" src="js/Lodop6.058/LodopFuncs.js"></script>-->
<!--<object id="LODOP_OB" classid="clsid:2105C259-1E0C-4534-8141-A753534CB4CA" width=0 height=0>-->
<!--	<embed id="LODOP_EM" type="application/x-print-lodop" width=0 height=0 pluginspage="js/Lodop6.058/install_lodop.exe"></embed>-->
<!--</object>-->
   <script type="text/javascript" src="{#jsPath#}/reward-viewbydept.js" ></script>
</head>
<body>
<div id="table">
<table class="form_main_table">
<tr>
	<td colspan="4">
      <div class="main_head">
          <span class="main_head_title">
                导师奖励方案
          </span>
      </div>
   </td>
</tr>
    <tr>
		<td class="form_text_left">方案名称</td>
		<td class="form_text_right">{name}</td>
	</tr>
	<tr>
	    <td class="form_text_left">申请人</td>
		<td class="form_text_right">{createName}</td>
		<td class="form_text_left">申请时间</td>
		<td class="form_text_right">{createTime}</td>
	</tr>
</table>
 <table class="form_main_table">
	<tr>
		<td colspan="6" class="innerTd">
		<fieldset class="list_fieldset"><legend style="text-align:left">
		<b>导师奖励方案</b></legend>
		<div id="rewardList"></div>
		</fieldset>
		</td>
	</tr>
	</table>
</div>
 <table class="form_main_table">
   <tr>
		<td class="txt_btn" colspan="4">
         <input  type="hidden" id="id"  value="{id}" />
         <input  type="hidden" id="deptId"  value="{deptId}" />
         <input  type="hidden" id="isPublish"  value="{isPublish}" />
<!--          <input type="button" class="txt_btn_a" onclick="javascript:previewDom('table');" value="打  印" />-->
	      <input  type="button" class="txt_btn_a" value=" 关  闭 " onclick="closeFun();"/>
		</td>
</tr>

</body>
</html>