<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" " http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns=" http://www.w3.org/1999/xhtml">
<head>
	<title>导师考核表</title>
   {#commonInclude#}
   <script type="text/javascript" src="{#jsPath#}/scheme-addscore-dept.js" ></script>
</head>

<body>
   <form id="form1" method="post" action="?model=hr_tutor_scheme&action=edit" >
      <table class="form_main_table">
      	<tr>
      		<td colspan="12">
            <div class="main_head">
             <span class="main_head_title">
               	导师考核评分
             </span>
            </div>
            </td>
         </tr>
       <tr>
			<td class="form_text_left_three">新员工部门</td>
      		<td class="form_text_right_three" >
      			 {studentDeptName}
      		</td>
      		<td class="form_text_left_three">新员工</td>
      		<td class="form_text_right_three" >
      			 {studentName}
      		</td>
      		<td class="form_text_left_three">新员工职务</td>
      		<td class="form_text_right_three" >
      			 {studentJob}
      		</td>
       </tr>
       <tr>
       		<td class="form_text_left_three">导师姓名</td>
      		<td class="form_text_right_three" >
      			 {userName}
      		</td>
      		<td class="form_text_left_three">试用开始日期</td>
      		<td class="form_text_right_three" >
      			 {tryBeginDate}
      		</td>
      		<td class="form_text_left_three">试用结束日期</td>
      		<td class="form_text_right_three" >
      			 {tryEndDate}
      		</td>
       </tr>
       </table>
       <div id="schemeTable"></div>
       <table  class="form_main_table" id="tb1" border="1px">
		<tr>
      		<td class="txt_btn" colspan="12">
      		   <input type="hidden" class="txt" id="id" value="{id}" name="scheme[id]" />
      		   <input type="hidden" id="userId" value="{userId}" />
      		  <!-- <input  type="button" class="txt_btn_a" value=" 完成考核 " onclick="sub()"/>&nbsp&nbsp -->
      		   <input  type="submit" class="txt_btn_a" value=" 提  交 "/>
      		   <input  type="button" class="txt_btn_a" value=" 关  闭 " onclick="closeFun()"/>
      		</td>
       </tr>
      </table>
   </form>
</body>
</html>