<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" " http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns=" http://www.w3.org/1999/xhtml">
<head>
	<title>不指定导师</title>
    {#commonInclude#}

</head>

<body>
   <form id="form1" method="post" action="?model=hr_tutor_tutorrecords&action=newadd" >
      <table class="form_main_table">
      	<tr>
      		<td colspan="4">
            <div class="main_head2">
             <span class="main_head_title">
               	不指定导师
             </span>
            </div>
            </td>
         </tr>
	<tr>
		<td class="form_text_left">学员姓名</td>
		<td class="form_text_right" >
			 <input type="text" class="readOnlyTxtNormal" name="tutorrecords[studentName]" id="studentName" value="{staffName}" readonly="readonly"/>
			 <input type="hidden" name="tutorrecords[studentNo]" id="studentNo" value="{userNo}"/>
			 <input type="hidden" name="tutorrecords[studentAccount]" id="studentAccount" value="{userAccount}"/>
		</td>
		<td class="form_text_left">学员部门</td>
		<td class="form_text_right" >
			 <input type="text" class="readOnlyTxtNormal" name="tutorrecords[studentDeptName]" id="studentDeptName" value="{belongDeptName}" readonly="readonly"/>
			 <input type="hidden" name="tutorrecords[studentDeptId]" id="studentDeptId" value="{belongDeptId}"/>
		</td>
	</tr>
	<tr>
		<td class="form_text_left">学员职位</td>
		<td class="form_text_right" >
			 <input type="text" class="readOnlyTxtNormal"  name="tutorrecords[studentJob]" id="studentJob" value="{jobName}" readonly="readonly"/>
			 <input type="hidden" name="tutorrecords[studentJobId]" id="studentJobId" value="{jobId}"/>
		</td>
	</tr>
	<tr>
		<td class="form_text_left">备注说明</td>
		<td class="form_text_right" colspan="3">
			<textarea name="tutorrecords[remark]" class="txt_txtarea_800"></textarea>
		</td>
	</tr>

	<tr>
		<input type="hidden" value="{perid}" name="tutorrecords[perid]" />
		<td class="txt_btn" colspan="4">
		   <input  type="submit" class="txt_btn_a" value=" 确  定 "/>
		   <input  type="button" class="txt_btn_a" value=" 关  闭 " onclick="self.parent.tb_remove();"/>
		</td>
	</tr>
      </table>
   </form>
</body>
</html>