<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en_US" xml:lang="en_US">
<head>
	<title>查看导师考核表</title>
      {#commonInclude#}
   <script type="text/javascript" src="{#jsPath#}/tutorassess-view.js" ></script>  
</head>
<body>

<table class="form_main_table">
<tr>
	<td colspan="4">
      <div class="main_head">
          <span class="main_head_title">
            	查看导师考核表信息
          </span>
      </div>
   </td>
</tr>
<tr>
		<td class="form_text_left">导师记录ID</td>
		<td class="form_text_right">
			{tutorId}
		</td>
</tr>     
<tr>
		<td class="form_text_left">导师员工编号</td>
		<td class="form_text_right">
			{userNo}
		</td>
</tr>     
<tr>
		<td class="form_text_left">导师员工账号</td>
		<td class="form_text_right">
			{userAccount}
		</td>
</tr>     
<tr>
		<td class="form_text_left">导师姓名</td>
		<td class="form_text_right">
			{userName}
		</td>
</tr>     
<tr>
		<td class="form_text_left">导师职位id</td>
		<td class="form_text_right">
			{jobId}
		</td>
</tr>     
<tr>
		<td class="form_text_left">导师职位名称</td>
		<td class="form_text_right">
			{jobName}
		</td>
</tr>     
<tr>
		<td class="form_text_left">导师部门Id</td>
		<td class="form_text_right">
			{deptId}
		</td>
</tr>     
<tr>
		<td class="form_text_left">导师部门名称</td>
		<td class="form_text_right">
			{deptName}
		</td>
</tr>     
<tr>
		<td class="form_text_left">学员员工编号</td>
		<td class="form_text_right">
			{studentNo}
		</td>
</tr>     
<tr>
		<td class="form_text_left">学员员工账号</td>
		<td class="form_text_right">
			{studentAccount}
		</td>
</tr>     
<tr>
		<td class="form_text_left">学员姓名</td>
		<td class="form_text_right">
			{studentName}
		</td>
</tr>     
<tr>
		<td class="form_text_left">学员部门id</td>
		<td class="form_text_right">
			{studentDeptId}
		</td>
</tr>     
<tr>
		<td class="form_text_left">学员部门名称</td>
		<td class="form_text_right">
			{studentDeptName}
		</td>
</tr>     
<tr>
		<td class="form_text_left">试用开始日期</td>
		<td class="form_text_right">
			{tryBeginDate}
		</td>
</tr>     
<tr>
		<td class="form_text_left">试用结束日期</td>
		<td class="form_text_right">
			{tryEndDate}
		</td>
</tr>     
<tr>
		<td class="form_text_left">新员工直接上级</td>
		<td class="form_text_right">
			{superiorName}
		</td>
</tr>     
<tr>
		<td class="form_text_left">直接上级ID</td>
		<td class="form_text_right">
			{superiorId}
		</td>
</tr>     
<tr>
		<td class="form_text_left">HR评分人</td>
		<td class="form_text_right">
			{hrName}
		</td>
</tr>     
<tr>
		<td class="form_text_left">HR评分人ID</td>
		<td class="form_text_right">
			{hrId}
		</td>
</tr>     
<tr>
		<td class="form_text_left">部门助理ID</td>
		<td class="form_text_right">
			{assistantId}
		</td>
</tr>     
<tr>
		<td class="form_text_left">部门助理</td>
		<td class="form_text_right">
			{assistantName}
		</td>
</tr>     
<tr>
		<td class="form_text_left">创建人Id</td>
		<td class="form_text_right">
			{createId}
		</td>
</tr>     
<tr>
		<td class="form_text_left">创建人名称</td>
		<td class="form_text_right">
			{createName}
		</td>
</tr>     
<tr>
		<td class="form_text_left">创建时间</td>
		<td class="form_text_right">
			{createTime}
		</td>
</tr>     
<tr>
		<td class="form_text_left">修改人Id</td>
		<td class="form_text_right">
			{updateId}
		</td>
</tr>     
<tr>
		<td class="form_text_left">修改人名称</td>
		<td class="form_text_right">
			{updateName}
		</td>
</tr>     
<tr>
		<td class="form_text_left">修改时间</td>
		<td class="form_text_right">
			{updateTime}
		</td>
</tr>     
<tr>
		<td class="form_text_left">系统公司名称</td>
		<td class="form_text_right">
			{sysCompanyName}
		</td>
</tr>     
<tr>
		<td class="form_text_left">系统公司id</td>
		<td class="form_text_right">
			{sysCompanyId}
		</td>
</tr>     
   <tr>
		<td class="txt_btn" colspan="4">
         <input  type="hidden" id="id"  value="{id}" />
	      <input  type="button" class="txt_btn_a" value=" 关  闭 " onclick="self.parent.tb_remove();"/>
		</td>
</tr>
</table>
</body>
</html>