
<html>
<head>
	<title>查看新员工周报表</title>
      {#commonInclude#}
   <script type="text/javascript" src="{#jsPath#}/weekly-view.js" ></script>
</head>
<body>

<table class="form_main_table">
<tr>
	<td colspan="4">
      <div class="main_head" style="width:100%">
          <span class="main_head_title">
            	新员工周报
          </span>
      </div>
   </td>
</tr>
<tr>
      		<td class="form_text_left">学员姓名</td>
      		<td class="form_text_right" >
      			 {studentName}
      		</td>
      		<td class="form_text_left">学员部门</td>
      		<td class="form_text_right" >
      			{studentDeptName}
      		</td>
       </tr>
       <tr>
      		<td class="form_text_left">学员职位</td>
      		<td class="form_text_right" >
      			{studentJob}
      		</td>
      		<td class="form_text_left">导师姓名</td>
      		<td class="form_text_right" >
      			 {userName}
      		</td>
       </tr>
       <tr>
      		<td class="form_text_left">填写日期</td>
      		<td class="form_text_right" >
      			{createTime}
      		</td>
      		<td class="form_text_left">批复日期</td>
			<td class="form_text_right" colspan="3">
				 {signDate}
			</td>
       </tr>
       <tr>
      		<td class="form_text_left">上周工作总结</td>
      		<td class="form_text_right" colspan="3">
      			 <div id="lastweekSummary" class="divChangeLine">{lastweekSummary}</div>
      		</td>
       </tr>
       <tr>
      		<td class="form_text_left">下周工作计划</td>
      		<td class="form_text_right" colspan="3">
      			 <div id="nextweekSummary" class="divChangeLine">{nextweekSummary}</div>
      		</td>
       </tr>
       <tr>
      		<td class="form_text_left">工作中存在的问题</td>
      		<td class="form_text_right" colspan="3">
      			 <div id="problem" class="divChangeLine">{problem}</div>
      		</td>
       </tr>
       <tr>
      		<td class="form_text_left">意见、建议、想法</td>
      		<td class="form_text_right" colspan="3">
      		    <div id="idea" class="divChangeLine">{idea}</div>
      		</td>
       </tr>
<tr>
		<td class="form_text_left">导师指导意见</td>
		<td class="form_text_right" colspan="3">
		      <textarea  class="textarea_read_overflow"  readonly>{guideIdea}</textarea>
		</td>
</tr>
   <tr>
		<td class="txt_btn" colspan="4">
         <input  type="hidden" id="id"  value="{id}" />
	      <input  type="button" class="txt_btn_a" value=" 关  闭 " onclick="closeFun();"/>
		</td>
</tr>
</table>
</body>
</html>