<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>项目任务</title>
<meta http-equiv="Content-Type" content="text/html; charset=GBK" />
<link rel="stylesheet" href="css/yxstyle.css" type="text/css" />
<link rel="stylesheet" href="js/thickbox.css" type="text/css" media="screen" />
<link rel="stylesheet" href="js/jquery/style/yxgrid.css" type="text/css" />
<link rel="stylesheet" href="js/jquery/style/yxmenu.css" type="text/css" media="screen" />
<!-- 主题css，可切换 -->
<link rel="stylesheet" href="js/jquery/style/yxmenu.theme.css" type="text/css" media="screen" />

<script type="text/javascript" src="js/jquery/jquery-1.4.2.js"></script>
<script type="text/javascript" src="js/common/businesspage.js"></script>
<script type="text/javascript" src="js/thickbox.js"></script>

<script type="text/javascript" src="js/jquery/woo.js"></script>
<script type="text/javascript" src="js/jquery/component.js"></script>

<script type="text/javascript" src="js/jquery/grid/yxsgrid.js"></script>
<script type="text/javascript" src="js/jquery/grid/yxgrid.js"></script>
<script type="text/javascript" src="js/jquery/grid/yxegrid.js"></script>
<script type="text/javascript" src="js/jquery/menu/yxmenu.js"></script>

<script type="text/javascript" src="view/template/contract/sales/js/sales-audited.js"></script>



</head>
<body>

<table id="salesAudited" style="display:none;">

</table>
</body>
</html>
