
<html>
<head>
<title>销售合同信息</title>
<LINK rel="stylesheet" href="js/jquery/tab/css/tabs.css" type="text/css">
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/jquery/tab/tabs.js"></script>
<script type="text/javascript" src="js/jquery/tab/toolbox.history.js"></script>
<script type="text/javascript">

$(function() {
    var id = $("#id").val();
    var contNumber = $('#contNumber').val();
 	var tabArr = [
	    "?model=contract_sales_sales&action=readDetailedInfoNoedit&id="+id,
	    "?model=finance_invoice_invoice&action=getRecordesContract&invoice[objCode]="+contNumber + '&invoice[objType]=KPRK-XSHT',
	    "?model=finance_income_incomeAllot&action=getIncomeAllot&contNumber="+contNumber,
	    "?model=contract_sales_sales&action=versionShow&contNumber="+contNumber,
	    "?model=contract_common_bcinfo&action=initCloseInfo&id="+id
	];
    $("#tabs1").tabs(".panes > iframe",{ history: true,onClick:function(i,e) {
		var actTabId="#iframe" + (parseInt(e) + 1);
		if($(actTabId).attr("src") == ""){
			$(actTabId).attr("src",tabArr[e]);
		}
    }
    });
});

</script>

</head>
<body>
<input type="hidden" value="{id}" id="id" />
<input type="hidden" value="{contNumber}" id="contNumber">
<div><!-- the tabs -->
	<ul class="tabs" id="tabs1">
		<li><a href="#tab1">基本信息</a></li>
		<li><a href="#tab2">开票记录</a></li>
		<li><a href="#tab3">到款记录</a></li>
<!-- 		<li><a href="#tab4">出库记录</a></li> -->
		<li><a href="#tab5">合同历史</a></li>
		<li><a href="#tab6">关闭信息</a></li>
	</ul>

<!-- tab "panes" -->
	<div class="panes">
		<iframe class="pane" id="iframe1" src="" height="96%" frameborder="0"></iframe>
		<iframe class="pane" id="iframe2" src="" height="96%" frameborder="0"></iframe>
		<iframe class="pane" id="iframe3" src="" height="96%" frameborder="0"></iframe>
<!--		<iframe class="pane" id="iframe4" src="" height="96%" frameborder="0"></iframe> -->
		<iframe class="pane" id="iframe5" src="" height="96%" frameborder="0"></iframe>
		<iframe class="pane" id="iframe6" src="" height="96%" frameborder="0"></iframe>
	</div>
</div>

</body>
</html>


