<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en_US" xml:lang="en_US">
<head>
	<title>补差单搜索</title>
	<meta http-equiv="Content-Type" content="text/html;charset=gb2312"/>
	<link rel="stylesheet" type="text/css" href="css/yxstyle.css"/>
	<link rel="stylesheet" type="text/css" href="js/jquery/style/yxmenu.css" media="screen" />
	<link rel="stylesheet" type="text/css" href="js/jquery/style/yxmenu.theme.css" media="screen" />
	<link rel="stylesheet" type="text/css" href="js/jquery/style/yxgrid.css" />

	<script type="text/javascript" src="js/jquery/jquery-1.4.2.js"></script>
	<script type="text/javascript" src="js/common/businesspage.js"></script>
	<script type="text/javascript" src="js/DatePicker/WdatePicker.js"></script>

	<script type="text/javascript" src="js/jquery/woo.js"></script>
	<script type="text/javascript" src="js/jquery/component.js"></script>

	<script type="text/javascript" src="js/jquery/combo/yxcombo.js"></script>
	<script type="text/javascript" src="js/jquery/grid/yxsgrid.js"></script>
	<script type="text/javascript" src="js/jquery/grid/yxgrid.js"></script>
	<script type="text/javascript" src="js/jquery/combo/yxcombogrid.js"></script>

	<script type="text/javascript" src="js/jquery/combo/business/yxselect-user.js"></script>
	<script type="text/javascript" src="js/jquery/combo/business/yxcombogrid-supplier.js"></script>
	<script type="text/javascript" src="js/jquery/combo/business/yxcombogrid-product.js"></script>

	<script type="text/javascript" src="view/template/finance/adjust/js/adjust-listinfo-search.js"></script>

</head>
<body>
<div class="main_head">
    <span class="main_head_title">
      	高级搜索
    </span>
</div>
<table class="form_main_table">
	<tr>
		<td class="form_text_left">开始日期</td>
		<td class="form_text_right" >
			 <input type="text" class="txt toClear" id="formDateBegin" onfocus="WdatePicker()" value="{formDateBegin}"/>
		</td>
		<td class="form_text_left">截止日期</td>
		<td class="form_text_right" >
			 <input type="text" class="txt toClear" id="formDateEnd" onfocus="WdatePicker()" value="{formDateEnd}"/>
		</td>
	</tr>
	<tr>
		<td class="form_text_left">供应商名称</td>
		<td class="form_text_right" >
			 <input type="text" class="txt toClear" id="supplierName" value="{supplierName}"/>
			 <input type="hidden" id="supplierId" class="toClear" value="{supplierId}"/>
		</td>
		<td class="form_text_left">物料编号</td>
		<td class="form_text_right">
			 <input type="hidden" id="productId" class="toClear" value="{productId}"/>
			 <input type="text" class="txt toClear" id="productNo" value="{productNo}"/>
		</td>
	</tr>
	<tr>
		<td class="txt_btn" colspan="4">
		   <input  type="button" class="txt_btn_a" value="确   认" onclick="confirm();" />
		   <input  type="button" class="txt_btn_a" value="清  空 " onclick="refresh();" />
		</td>
	</tr>
</table>
</body>
</html>