<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en_US" xml:lang="en_US">
<head>
	<title>库存警告分析</title>
      {#commonInclude#}
   <!-- 
   	<script type="text/javascript" src="{#jsPath#}/procompositebase-view.js" ></script>  
    -->
   <script type="text/javascript" >
	$(document).ready(function(){
		$("#tableDiv").width(document.documentElement.clientWidth-30);
	})
	
	/**
	*补库申请
	*/
	function tofillUp(){
		showThickboxWin("?model=stock_fillup_fillup&action=toPush"
				+ "&perm=view&placeValuesBefore&TB_iframe=true&modal=false&height=500&&width=820");
	}

</script>
</head>
<body>

<table class="form_main_table">
<tr>
	<td colspan="4">
      <div class="main_head">
          <span class="main_head_title">
            	库存警告分析
          </span>
      </div>
   </td>
</tr>
<tr><td colspan="4">
<div id="tableDiv" style="width: 1000px; height: 300px; overflow-y: auto; overflow-x: auto">
<table class="main_table" id="itemtable"  border=1 >
 			<thead>
                           <tr class="main_tr_header">
                                <th>
                                    序号
                                </th>
                                <th>
                                   物料编号
                                </th>

                                <th>
                                   物料名称                        
                                </th>   
                                <th>
                                    规格型号
                                </th>
                                <th>
                                    单位
                                </th>                                
                                <th>
                                    现有库存
                                </th>
                                <th>
                                     最低库存
                                </th>
                                <th>
                                     最高库存                      
                                </th>
                                 <th>
                                     在途
                                </th>                               
                                 <th>
                                    用途
                                </th>
                                 <th>
              MOQ
                                </th>                                                                
                                <th>
                                    采购单价
                                </th>
                                <th>
                                    采购员
                                </th>                                
                                <th>
                                    备货周期
                                </th>
                                <th>
                                    最小库存金额                                    
                                </th>
                                <th>
                                    是否下达补库
                                </th>                                
                                <th>
                                    补库数量
                                </th>                                
						</tr>
			</thead>
			<tbody id="itembody" border="1">
			{itemsList}
      		</tbody>
</table>
</div>
</td></tr>
<tr>
	 <td class="txt_btn" colspan="4">
	 	<input  type="button" class="txt_btn_a" value=" 补  库 " onclick="tofillUp();"/>
      	<input  type="button" class="txt_btn_a" value=" 关  闭 " onclick="closeFun();"/>
	 </td>
</tr>
</table>
</body>
</html>