<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
		<link rel="stylesheet" type="text/css" href="css/yxstyle.css" />
		<script type="text/javascript" src="js/jquery.js"></script>
	</head>
	<body>
		<table class="form_main_table">
			<tr>
				<td class="main_tr_header" colspan="4">
					基本信息
				</td>
			</tr>
			<tr>
				<td class="form_text_left">
					任务名称
				</td>
				<td class="form_text_right" colspan="3">
					{name}
				</td>
			</tr>
			<tr>
				<td class="form_text_left">
					所属模板
				</td>
				<td class="form_view_right" colspan="3">
					{templateName}
				</td>
			</tr>
			<tr>
				<td class="form_text_left">
					任务类型
				</td>
				<td class="form_text_right">
					{taskType}
				</td>
				<td class="form_text_left">
					优先级
				</td>
				<td class="form_text_right">
					{priority}
				</td>
			</tr>
			<tr>
				<td class="form_text_left">
					估计工作量(小时)
				</td>
				<td class="form_text_right">
					{appraiseWorkload}
				</td>
				<td class="form_text_left">
					计划工期(天)
				</td>
				<td class="form_text_right">
					{planDuration}
				</td>
			</tr>
			<tr>
				<td class="form_text_left">
					任务描述
				</td>
				<td class="form_text_right" colspan="3">
					<textarea style="width:700" name="rdttask[remark]" class="textarea_read">{remark}</textarea>
				</td>
			</tr>
			<tr>
				<td colspan="4">
					<input name="" type="button" class="txt_btn_a" onclick="self.parent.tb_remove();" value=" 关闭 ">
				</td>
			</tr>
		</table>
	</body>
</html>