
<html>
<head>
<title></title>
<LINK rel="stylesheet" href="js/jquery/tab/css/tabs.css" type="text/css">
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/jquery/tab/tabs.js"></script>
<script type="text/javascript" src="js/jquery/tab/toolbox.history.js"></script>
<script type="text/javascript">

$(function() {
 	var tabArr = [
                  "?model=projectmanagent_order_order&action=toAuditNo",
                  "?model=projectmanagent_order_order&action=toAuditYes",
                  "?model=projectmanagent_order_order&action=toChangeAuditNO",
                  "?model=projectmanagent_order_order&action=toChangeAuditYes"
    			];
    $("#tabs1").tabs(".panes > iframe",{ history: true,onClick:function(i,e) {
		var actTabId="#iframe" + (parseInt(e) + 1);
   	 if($(actTabId).attr("src") == ""){
   		$(actTabId).attr("src",tabArr[e]);
    	}
    }
    });
});

    </script>

</head>
<body>
<div><!-- the tabs -->
<ul class="tabs" id="tabs1">
	<li><a href="#tab1">未审批的销售合同</a></li>
	<li><a href="#tab2">已审批的销售合同</a></li>
	<!--
	<li><a href="#tab3">未审批的变更合同</a></li>
	<li><a href="#tab4">已审批的变更合同</a></li> -->
</ul>

<!-- tab "panes" -->
<div class="panes">

<iframe class="pane" id="iframe1" src="" height="96%" frameborder="0">
</iframe>
<iframe class="pane" id="iframe2" src="" height="96%" frameborder="0">
</iframe>

<iframe class="pane" id="iframe3" src="" height="96%" frameborder="0">
</iframe>
<iframe class="pane" id="iframe4" src="" height="96%" frameborder="0">
</iframe>
</div>
</div>
</body>
</html>


