<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<link rel="stylesheet" type="text/css" href="css/yxstyle.css" />
<title>无标题文档</title>
</head>

<body>
<table class="form_main_table">
    <tr>
      <td class="form_text_left">license类型</td>
		<td class="form_text_right">
		   <select class="select" >
		       <option>Pioneer License</option>
		       <option>Navigator License</option>
		       <option>Walktour 权限列表</option>
		       <option>RCU配置权限表</option>
		       <option>Fleet License</option>
		       <option>UMPC / WLAN权限表</option> </select>
		       <span class="red">[*]</span></td>
    </tr>
</table>
<table width="767" height="429" border="1">
  <tr>
    <td height="21" colspan="9" class="form_header">支持网络</td>
  </tr>
  <tr>
    <td height="23" colspan="9" class="form_header">网络一 GSM </td>
  </tr>
  <tr class="main_tr_header">
    <td width="68">BASE</td>
    <td width="61">GPRS</td>
    <td width="60">EDGE</td>
    <td colspan="3">连接手机数量（2-8）部</td>
    <td width="70">&nbsp;</td>
    <td width="81">&nbsp;</td>
    <td width="184">&nbsp;</td>
  </tr>
  <tr>
    <td height="24"><form id="form4" name="form4" method="post" action="">
        <label>
        <input type="checkbox" name="checkbox4" value="checkbox" />
        </label>
    </form></td>
    <td><form id="form3" name="form3" method="post" action="">
        <label>
        <input type="checkbox" name="checkbox3" value="checkbox" />
        </label>
    </form></td>
    <td><form id="form2" name="form2" method="post" action="">
        <label>
        <input type="checkbox" name="checkbox2" value="checkbox" />
        </label>
    </form></td>
    <td colspan="3"><form id="form1" name="form1" method="post" action="">
      <label>
        <input type="checkbox" name="checkbox" value="checkbox" />
        </label>
    </form>    </td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td height="25" colspan="9" class="form_header">网络二 UMTS </td>
  </tr>
  <tr class="main_tr_header">
    <td>BASE</td>
    <td>GSM</td>
    <td>GPRS</td>
    <td width="73">EDGE</td>
    <td width="49">HSDPA</td>
    <td width="63">HSUPA</td>
    <td>HSPA+21M</td>
    <td>HSPA+42M</td>
    <td>`连接手机数量（2-8）部</td>
  </tr>
  <tr>
    <td height="24"><form id="form2" name="form2" method="post" action="">
        <label>
        <input type="checkbox" name="checkbox2" value="checkbox" />
        </label>
    </form></td>
    <td><form id="form2" name="form2" method="post" action="">
        <label>
        <input type="checkbox" name="checkbox2" value="checkbox" />
        </label>
    </form></td>
    <td><form id="form2" name="form2" method="post" action="">
        <label>
        <input type="checkbox" name="checkbox2" value="checkbox" />
        </label>
    </form></td>
    <td><form id="form2" name="form2" method="post" action="">
        <label>
        <input type="checkbox" name="checkbox2" value="checkbox" />
        </label>
    </form></td>
    <td><form id="form2" name="form2" method="post" action="">
        <label>
        <input type="checkbox" name="checkbox2" value="checkbox" />
        </label>
    </form></td>
    <td><form id="form2" name="form2" method="post" action="">
        <label>
        <input type="checkbox" name="checkbox2" value="checkbox" />
        </label>
    </form></td>
    <td><form id="form2" name="form2" method="post" action="">
        <label>
        <input type="checkbox" name="checkbox2" value="checkbox" />
        </label>
    </form></td>
    <td><form id="form2" name="form2" method="post" action="">
        <label>
        <input type="checkbox" name="checkbox2" value="checkbox" />
        </label>
    </form></td>
    <td><form id="form2" name="form2" method="post" action="">
        <label>
        <input type="checkbox" name="checkbox2" value="checkbox" />
        </label>
    </form></td>
  </tr>
  <tr>
    <td height="26" colspan="9" class="form_header">网络三 CDMA </td>
  </tr>
  <tr class="main_tr_header">
    <td height="30">BASE</td>
    <td> 1X </td>
    <td>EVDORev0</td>
    <td>EVDORevA</td>
    <td>EVDO RevB</td>
    <td>CDMA2000</td>
    <td colspan="2">连接手机数量（2-8）部</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td height="26"><form id="form2" name="form2" method="post" action="">
        <label>
        <input type="checkbox" name="checkbox2" value="checkbox" />
        </label>
    </form></td>
    <td><form id="form2" name="form2" method="post" action="">
        <label>
        <input type="checkbox" name="checkbox2" value="checkbox" />
        </label>
    </form></td>
    <td><form id="form2" name="form2" method="post" action="">
        <label>
        <input type="checkbox" name="checkbox2" value="checkbox" />
        </label>
    </form></td>
    <td><form id="form2" name="form2" method="post" action="">
        <label>
        <input type="checkbox" name="checkbox2" value="checkbox" />
        </label>
    </form></td>
    <td><form id="form2" name="form2" method="post" action="">
        <label>
        <input type="checkbox" name="checkbox2" value="checkbox" />
        </label>
    </form></td>
    <td><form id="form2" name="form2" method="post" action="">
        <label>
        <input type="checkbox" name="checkbox2" value="checkbox" />
        </label>
    </form></td>
    <td colspan="2"><form id="form5" name="form5" method="post" action="">
      <label>
        <input type="checkbox" name="checkbox5" value="checkbox" />
        </label>
    </form>    </td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td height="30" colspan="9" class="form_header">网络四 TD </td>
  </tr>
  <tr class="main_tr_header">
    <td>BASE</td>
    <td>GSM</td>
    <td>GPRS</td>
    <td>EDGE</td>
    <td>HSDPA</td>
    <td>HSUPA</td>
    <td colspan="2">连接手机数量（2-8）部</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td height="24"><form id="form2" name="form2" method="post" action="">
        <label>
        <input type="checkbox" name="checkbox2" value="checkbox" />
        </label>
    </form></td>
    <td><form id="form2" name="form2" method="post" action="">
        <label>
        <input type="checkbox" name="checkbox2" value="checkbox" />
        </label>
    </form></td>
    <td><form id="form2" name="form2" method="post" action="">
        <label>
        <input type="checkbox" name="checkbox2" value="checkbox" />
        </label>
    </form></td>
    <td><form id="form2" name="form2" method="post" action="">
        <label>
        <input type="checkbox" name="checkbox2" value="checkbox" />
        </label>
    </form></td>
    <td><form id="form2" name="form2" method="post" action="">
        <label>
        <input type="checkbox" name="checkbox2" value="checkbox" />
        </label>
    </form></td>
    <td><form id="form2" name="form2" method="post" action="">
        <label>
        <input type="checkbox" name="checkbox2" value="checkbox" />
        </label>
    </form></td>
    <td colspan="2"><form id="form6" name="form6" method="post" action="">
      <label>
        <input type="checkbox" name="checkbox6" value="checkbox" />
        </label>
    </form>    </td>
    <td>&nbsp;</td>
  </tr>
  <tr >
    <td height="32" colspan="9" class="form_header">网络五 WiMax </td>
  </tr>
  <tr class="main_tr_header">
    <td>BASE</td>
    <td colspan="2">Beceem BCSM250</td>
    <td colspan="2">SequansSQN1130</td>
    <td>BASE</td>
    <td>Profession</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td height="30"><form id="form7" name="form7" method="post" action="">
      <label>
        <input type="checkbox" name="checkbox7" value="checkbox" />
        </label>
    </form>    </td>
    <td colspan="2"><form id="form8" name="form8" method="post" action="">
      <label>
        <input type="checkbox" name="checkbox8" value="checkbox" />
        </label>
    </form>    </td>
    <td colspan="2"><form id="form9" name="form9" method="post" action="">
      <label>
        <input type="checkbox" name="checkbox9" value="checkbox" />
        </label>
    </form>    </td>
    <td><form id="form10" name="form10" method="post" action="">
      <label>
        <input type="checkbox" name="checkbox10" value="checkbox" />
        </label>
    </form>    </td>
    <td><form id="form11" name="form11" method="post" action="">
      <label>
        <input type="checkbox" name="checkbox11" value="checkbox" />
        </label>
    </form>    </td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
</table>
</body>
</html>
