<html>
<title>导入EXCEL数据</title>
<link rel="stylesheet" type="text/css" href="css/yxstyle.css" />
<script type="text/javascript" src="js/DatePicker/WdatePicker.js"> </script>
<script type="text/javascript" src="js/jquery/jquery-1.4.2.js"></script>
<script>
     function loading(){
        $("#loadingD").html('<img src="images/loading1.gif">');
     }
</script>
<body>
<div class="main_head">
      <span class="main_head_title">
            合同导入
      </span>
</div>
<form action="?model=contract_common_relcontract&action=upExcel" ENCTYPE="multipart/form-data" method="POST" name="form1" id="form1">
<input type="hidden" name="leadExcel" value="true">

<table class="form_main_table" align="center" width="90%" border="0">
    <span class="red">点击导入后有延迟请稍作等待...</span>
    <tr>
        <td class="form_text_left">
			选择建立时间:
		</td>
		<td class="form_text_right">
            <input type="text" class="txt" name="import[ExaDT]" onfocus="WdatePicker()" value="{dateTime}"/>
		</td>
    </tr>
	<tr>
		<td class="form_text_left">
			<label for="file">上传文件:</label>
		</td>
		<td class="form_text_right">
		    <input type="file" class="txt" name="inputExcel" />&nbsp&nbsp
		    <input type="button" onclick="javascript:window.open('upfile/orderImport.xls')" class="txt_btn_a" value="下载模版">

            <input type="submit" class="txt_btn_a" value=" 导 入 " onclick="loading()"/>
		</td>
	</tr>
    <tr>
        <td id="loadingD" colspan=2>

        </td>
    </tr>
</table>
</form>
</body>
</html>