<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en_US" xml:lang="en_US">
<head>
	<title>查看租车合同变更</title>
	{#commonInclude#}
	<script type="text/javascript" src="{#jsPath#}/rentcar-changeview.js" ></script>
</head>
<body>
	<div class="main_head">
		<span class="main_head_title">查看租车合同变更信息
			<!--<span class="red">(红色部分为变更本次变更的内容)</span>-->
		</span>
	</div>
	<table class="form_main_table">
		<tr>
			<td class="form_text_left_three">合同性质</td>
			<td class="form_text_right_three">
				{contractNature}
			</td>
			<td class="form_text_left_three">合同类型</td>
			<td class="form_text_right_three">
				{contractType}
				<input type="hidden" class="txt" id="contractTypeCode" value="{contractTypeCode}"/>
			</td>
			<td class="form_text_left_three">租车申请单号</td>
			<td class="form_text_right_three">
				{rentalcarCode}
			</td>
		</tr>
		<tr>
			<td class="form_text_left_three">项目编号</td>
			<td class="form_text_right_three">
				<span id="projectCode">{projectCode}</span>
			</td>
			<td class="form_text_left_three">项目名称</td>
			<td class="form_text_right_three">
				<span id="projectName">{projectName}</span>
			</td>
			<td class="form_text_left_three">项目类型</td>
			<td class="form_text_right_three">
				<span id="projectType">{projectType}</span>
			</td>
		</tr>
		<tr>
			<td class="form_text_left_three">鼎利合同号</td>
			<td class="form_text_right_three">
				<span id="orderCode">{orderCode}</span>
			</td>
			<td class="form_text_left_three">合同名称</td>
			<td class="form_text_right_three">
				<span id="orderName">{orderName}</span>
			</td>
			<td class="form_text_left_three">合同负责人</td>
			<td class="form_text_right_three">
				<span id="principalName">{principalName}</span>
			</td>
		</tr>
		<tr>
			<td class="form_text_left_three">签约公司</td>
			<td class="form_text_right_three">
				<span id="signCompany">{signCompany}</span>
			</td>
			<td class="form_text_left_three">公司省份</td>
			<td class="form_text_right_three">
				<span id="companyProvince">{companyProvince}</span>
			</td>
			<td class="form_text_left_three">负责人部门</td>
			<td class="form_text_right_three">
				<span id="deptName">{deptName}</span>
			</td>
		</tr>
		<tr>
			<td class="form_text_left_three">合同金额</td>
			<td class="form_text_right_three">
				<span class="formatMoney" id="orderMoney">{orderMoney}</span>
			</td>
			<td class="form_text_left_three">公司城市</td>
			<td class="form_text_right_three">
				<span id="companyCity">{companyCity}</span>
			</td>
			<td class="form_text_left_three">联 系 人</td>
			<td class="form_text_right_three" >
				<span id="linkman">{linkman}</span>
			</td>
		</tr>
		<tr>
			<td class="form_text_left_three">是否需要盖章</td>
			<td class="form_text_right_three">
				<span id="isNeedStamp">{isNeedStamp}</span>
			</td>
			<td class="form_text_left_three">盖章类型</td>
			<td class="form_text_right_three">
				<span id="stampType">{stampType}</span>
			</td>
			<td class="form_text_left_three">联系电话</td>
			<td class="form_text_right_three">
				<span id="phone">{phone}</span>
			</td>
		</tr>
		<tr>
			<td class="form_text_left_three">计费方式</td>
			<td class="form_text_right_three">
				{rentUnitPriceCalWay}
			</td>
			<td class="form_text_left_three">{rentUnitPriceLabel}</td>
			<td class="form_text_right_three">
				<span class="formatMoney" id="rentUnitPrice">{rentUnitPrice}</span>
			</td>
			<td class="form_text_left_three">归属公司</td>
			<td class="form_text_right_three">
				<span id="ownCompany">{ownCompany}</span>
			</td>
		</tr>
		<tr>
			<td class="form_text_left_three">合同开始日期</td>
			<td class="form_text_right_three">
				<span id="contractStartDate">{contractStartDate}</span>
			</td>
			<td class="form_text_left_three">合同结束日期</td>
			<td class="form_text_right_three">
				<span id="contractEndDate">{contractEndDate}</span>
			</td>
			<td class="form_text_left_three">签约日期</td>
			<td class="form_text_right_three">
				<span id="signDate">{signDate}</span>
			</td>
		</tr>
		<tr>
			<td class="form_text_left_three">是否使用油卡</td>
			<td class="form_text_right_three">
				<span id="isUseOilcard">{isUseOilcard}</span>
				<input type="hidden" id="isUseOilcardVal" value="{isUseOilcardVal}"/>
			</td>
			<td class="form_text_left_three" style="display:none" id="oilcardMoneyTd1">油卡金额(元)</td>
			<td class="form_text_right_three" style="display:none" id="oilcardMoneyTd2">
				<span id="oilcardMoney" class="formatMoney">{oilcardMoney}</span>
			</td>
			<td class="form_text_left_three" style="display:none" id="oilPriceTd1">油价(元/升)</td>
			<td class="form_text_right_three" style="display:none" id="oilPriceTd2">
				<span id="oilPrice" class="formatMoney">{oilPrice}</span>
			</td>
			<td class="form_text_left_three" style="display:none" id="fuelChargeTd1">燃油费(元/公里)</td>
			<td class="form_text_right_three" style="display:none" id="fuelChargeTd2">
				<span id="fuelCharge" class="formatMoney">{fuelCharge}</span>
			</td>
			<td class="form_text_left_three">合同用车天数</td>
			<td class="form_text_right_three">
				<span id="contractUseDay">{contractUseDay}</span>
			</td>
		</tr>
		<!--<tr>-->
			<!--<td class="form_text_left_three">付款银行</td>-->
			<!--<td class="form_text_right_three">-->
				<!--<span id="payBankName">{payBankName}</span>-->
			<!--</td>-->
			<!--<td class="form_text_left_three">付款账号</td>-->
			<!--<td class="form_text_right_three">-->
				<!--<span id="payBankNum">{payBankNum}</span>-->
			<!--</td>-->
			<!--<td class="form_text_left_three">付款人</td>-->
			<!--<td class="form_text_right_three">-->
				<!--<span id="payMan">{payMan}</span>-->
			<!--</td>-->
		<!--</tr>-->
		<!--<tr>-->
			<!--<td class="form_text_left_three">付款条件</td>-->
			<!--<td class="form_text_right_three">-->
				<!--<span id="payConditions">{payConditions}</span>-->
			<!--</td>-->
			<!--<td class="form_text_left_three">付款方式</td>-->
			<!--<td class="form_text_right_three">-->
				<!--<span id="payType">{payType}</span>-->
			<!--</td>-->
			<!--<td class="form_text_left_three">付款申请人</td>-->
			<!--<td class="form_text_right_three">-->
				<!--<span id="payApplyMan">{payApplyMan}</span>-->
			<!--</td>-->
		<!--</tr>-->
		<tr>
			<td class="form_text_left_three">租赁车辆状况</td>
			<td class="form_text_right_three" colspan="5">
				<div id="vehicleInfo"></div>
			</td>
		</tr>
		<tr>
			<td class="form_text_left_three">合同附加费用</td>
			<td class="form_text_right_three" colspan="3">
				<div id="feeInfo"></div>
			</td>
			<td class="form_text_right_three" colspan="2">
				<span style="color:red">此费用在租车登记选择后会累加到租赁费用里面</span>
			</td>
		</tr>
		<tr>
			<td class="form_text_left_three">付款信息</td>
			<td class="form_text_right_three" colspan="5">
				<div id="payInfoWrap">
					<table class="form_main_table">
						<tbody>
						{payInfoStr}
						</tbody>
					</table>
				</div>
			</td>
		</tr>
		<tr>
			<td class="form_text_left_three">联系地址</td>
			<td class="form_text_right_three" colspan="5">
				<textarea class="textarea_read" readonly="readonly" rows="4" id="address">{address}</textarea>
			</td>
		</tr>
		<tr>
			<td class="form_text_left_three">款项条件</td>
			<td class="form_text_right_three" colspan="5">
				<textarea class="textarea_read" readonly="readonly" rows="4" id="fundCondition">{fundCondition}</textarea>
			</td>
		</tr>
		<tr>
			<td class="form_text_left_three">合同内容</td>
			<td class="form_text_right_three" colspan="5">
				<textarea class="textarea_read" readonly="readonly" rows="4" id="contractContent">{contractContent}</textarea>
			</td>
		</tr>
		<tr>
			<td class="form_text_left_three">变更说明</td>
			<td class="form_text_right_three" colspan="5">
				<textarea class="textarea_read" readonly="readonly" rows="4">{changeReason}</textarea>
			</td>
		</tr>
		<tr>
			<td class="form_text_left_three">附  件</td>
			<td class="form_text_right_three" colspan="5">
				<div class="upload">
					<div id="uploadfileList" class="upload">{file}</div>
				</div>
			</td>
		</tr>
		<input type="hidden" id="pid" value="{id}"/>
		<input type="hidden" id="originalId" value="{originalId}"/>
	</table>
</body>
</html>