<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en_US" xml:lang="en_US">
<head>
	<title>编辑变动方式</title>
   {#commonInclude#}
   <script type="text/javascript" src="js/jquery/formvalidator/formValidator-4.1.1.js"	charset="UTF-8"></script>
   <script type="text/javascript" src="js/jquery/formvalidator/formValidatorRegex.js"	charset="UTF-8"></script>
        <script type="text/javascript" src="view/template/asset/basic/js/change-add.js"></script>
        <script>
            $(document).ready(function(){
					$("#type").val('{type}');
			})
        </script>

<title>编辑变动方式</title>
</head>
<body>
<br />
<form id="form1" action="?model=asset_basic_change&action=edit" method="post" >
  <input type="hidden" id="id" name="change[id]" value="{id}" />

<table class="form_main_table">
<tr><td colspan="2">
	<div class="main_head">
	    <span class="main_head_title">
	      	编辑变动方式信息
	    </span>
	</div>
	</td>
</tr>
    <tr>
		<td class="form_text_left"><span class="blue">编码</span></td>
		<td class="form_view_right">
		  <input type="text" id="codet" name="change[code]"  value="{code}" class="readOnlyTxtNormal" readOnly />
			</td>
	</tr>
	<tr>
		<td class="form_text_left"><span class="blue">变动方式名称</span></td>
		<td class="form_view_right"><input class="txt" type="text"
			id="name" name="change[name]" value="{name}" />
		 </td>
	</tr>

<!--	<tr>-->
<!--		<td class="form_text_left">凭证字</td>-->
<!--		<td class="form_view_right"><input class="txt" type="text"-->
<!--			size="5" id="vouchers" name="change[vouchers]" value="{vouchers}"/><span class="red">[*]</span></td>-->
<!--	</tr>-->
<!--	<tr>-->
<!--		<td class="form_text_left">对方科目</td>-->
<!--		<td class="form_view_right">-->
<!--		<input class="txt" type="text"-->
<!--			size="5" id="subName" name="change[subName]" value="{subName}"/><span class="red">[*]</span></td>-->
<!--	</tr>-->
<!--	<tr>-->
<!--		<td class="form_text_left">对方科目编码</td>-->
<!--		<td class="form_view_right">-->
<!--			<input class="txt" type="text"-->
<!--			size="5" id="subcode" name="change[subcode]" value="{subcode}"/><span class="red">[*]</span>-->
<!--		</td>-->
<!--	</tr>-->
  <tr>
		<td class="form_text_left">类型</td>
		<td class="form_view_right">
		    <select id="type" name="change[type]" class="select">
		    	<option value="0">增加</option>
		    	<option value="1">减少</option>
		    </select>
		</td>
	</tr>

	<tr>
		<td class="form_text_left">摘要</td>
		<td class="form_view_right" >
		  <input  class="txt" type="text" id="digest" name="change[digest]" value="{digest}"/>
		</td>
	</tr>

</table>
<table class="form_main_table">
	<tr>
		<td class="formtd1" colspan="2"
			style="height: 80px; text-align: center;"><input
			class="txt_btn_a" type="submit" value=" 保存 " /> <input
			class="txt_btn_a" type="button" onclick="closeFun();"
			value=" 取消 " /></td>
	</tr>

</table>
</form>

</body>
</html>
