<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en_US" xml:lang="en_US">
<head>
	<title>查看折旧方式</title>
	{#commonInclude#}
</head>
<body>
<div class="main_head">
    <span class="main_head_title">
      	查看折旧方式信息
    </span>
</div>
<table class="form_main_table">
<tr>
		<td class="form_text_left">编码</td>
		<td class="form_text_right" width="30%">{code}</td>
		<td class="form_text_left">折旧名称</td>
		<td class="form_text_right">{name}</td>
</tr>
<tr>
		<td class="form_text_left">公式文字描述</td>
		<td class="form_text_right" colspan="3" style="white-space:normal;width:100%">{describes}</td>
</tr>
<!--<tr>-->
<!--		<td class="form_text_left">公式字段描述</td>-->
<!--		<td class="form_text_right" colspan="3" style="white-space:normal;width:100%">{expression}</td>-->
<!--</tr>-->
<!--<tr>-->
<!--		<td class="form_text_left">说明</td>-->
<!--		<td class="form_text_right" colspan="3" style="white-space:normal;width:100%">{remark}</td>-->
<!--</tr>-->
<tr>
		<td class="txt_btn" colspan="4">
	      <input  type="button" class="txt_btn_a" value=" 关  闭 " onclick="closeFun();"/>
		</td>
</tr>
</table>
</body>
</html>