<html>
<head>
  		<meta http-equiv="Content-Type" content="text/html;charset=gb2312"/>
		{#commonInclude#}
       <script type="text/javascript" src="{#jsPath#}/directory-edit.js"></script>

       <script>
         $(document).ready(function(){
		$("#depr").val('{depr}');
		});

       </script>
<title>编辑资产类别</title>
</head>
<body>
<div class="main_head">
    <span class="main_head_title">
      	编辑资产类别
    </span>
</div>
<form id="form1" action="?model=asset_basic_directory&action=edit" method="POST" >
<table border="1" width="90%" class="form_main_table" cellpadding="0"
	cellspacing="0" align="center">
	<tr>
		<td class="form_text_left"><span class="blue">资产类别</span></td>
		<td class="form_text_right">
		<input type="text" name="directory[name]" id="name" class="txt" value="{name}" readonly="readonly"/>
		<td class="form_text_left"><span class="blue">资产类别编码</span></td>
		<td class="form_text_right">
		<input type="text" name="directory[code]" id="code" class="txt" value="{code}" readonly="readonly"/>
	</tr>
	<tr>
		<td class="form_text_left">固定资产科目</td>
		<td class="form_text_right"><input type="text" name="directory[assetSubject]" id="assetSubject"
			class="txt" value="{assetSubject}" /></td>
			<td class="form_text_left"><span class="blue">使用年限</span></td>
		<td class="form_text_right"><input type="text" name="directory[limitYears]" id="limitYears"
			class="txt" value="{limitYears}" />
	</tr>

	<tr>
		<td class="form_text_left"><span class="blue">净残值率</span></td>
		<td class="form_text_right"><input type="text" name="directory[salvage]" id="salvage"
			class="txt" value="{salvage}" />%
			<td class="form_text_left">计量单位</td>
		<td class="form_text_right"><input type="text" name="directory[unit]" id="unit"
			class="txt" value="{unit}" /></td>
	</tr>

	<tr>
		<td class="form_text_left">预设折旧方法</td>
		<td class="form_text_right">
            <select name="directory[depr]" id="depr" class="txt">{listOption}
            </select>
		</td>
		<td class="form_text_left">折旧科目</td>
		<td class="form_text_right"><input type="text" name="directory[subName]" id="subName"
			class="txt" value="{subName}" /></td>
	</tr>

    <tr>
		<td class="form_text_left">折旧状态</td>
		<td class="form_text_right" colspan="3">
			<input type="hidden" id="isDeprHidden" value="{isDepr}"/>
			<input type="radio"  name="directory[isDepr]" id="isDepr" value="1"/><span>&nbsp;由使用状态决定是否提折旧</span> &nbsp;&nbsp;
            <input type="radio" name="directory[isDepr]" id="isDepr" value="2"/><span>&nbsp;不管使用状态如何一定提折旧</span>&nbsp;
			<input type="radio" name="directory[isDepr]" id="isDepr" value="3"/><span>&nbsp;不管使用状态如何一定不提折旧</span>&nbsp;
		</td>
	</tr>
	<tr>
		<td class="formtd1" colspan="4" style="height: 80px; text-align: center;">
			<input type="hidden" id="id" name="directory[id]" value="{id}" />
			<input class="txt_btn_a" type="submit" value=" 保存 " />
			<input class="txt_btn_a" type="button" onclick="closeFun();" value=" 取消 " />
		</td>
	</tr>
	</table>
</form>
</body>
</html>
