<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en_US" xml:lang="en_US">
<head>
	<title>查看工单从表</title>
      {#commonInclude#}
   <script type="text/javascript" src="{#jsPath#}/orderequ-view.js" ></script>  
</head>
<body>

<table class="form_main_table">
<tr>
	<td colspan="4">
      <div class="main_head">
          <span class="main_head_title">
            	查看工单从表信息
          </span>
      </div>
   </td>
</tr>
<tr>
		<td class="form_text_left">主表ID</td>
		<td class="form_text_right">
			{parentId}
		</td>
</tr>     
<tr>
		<td class="form_text_left">施工人员</td>
		<td class="form_text_right">
			{personName}
		</td>
</tr>     
<tr>
		<td class="form_text_left">施工人员ID</td>
		<td class="form_text_right">
			{personId}
		</td>
</tr>     
<tr>
		<td class="form_text_left">身份证号码</td>
		<td class="form_text_right">
			{IdCard}
		</td>
</tr>     
<tr>
		<td class="form_text_left">邮箱</td>
		<td class="form_text_right">
			{email}
		</td>
</tr>     
<tr>
		<td class="form_text_left">项目预计开始时间</td>
		<td class="form_text_right">
			{exceptStart}
		</td>
</tr>     
<tr>
		<td class="form_text_left">项目预计结束时间</td>
		<td class="form_text_right">
			{exceptEnd}
		</td>
</tr>     
<tr>
		<td class="form_text_left">工价（元）</td>
		<td class="form_text_right">
			{price}
		</td>
</tr>     
<tr>
		<td class="form_text_left">结算方式</td>
		<td class="form_text_right">
			{payWay}
		</td>
</tr>     
<tr>
		<td class="form_text_left">结算说明</td>
		<td class="form_text_right">
			{payExplain}
		</td>
</tr>     
<tr>
		<td class="form_text_left">备注</td>
		<td class="form_text_right">
			{remark}
		</td>
</tr>     
   <tr>
		<td class="txt_btn" colspan="4">
         <input  type="hidden" id="id"  value="{id}" />
	      <input  type="button" class="txt_btn_a" value=" 关  闭 " onclick="self.parent.tb_remove();"/>
		</td>
</tr>
</table>
</body>
</html>