<html>

	<head>
	<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
	<title>修改任务</title>

	<link rel="stylesheet" type="text/css" href="css/yxstyle.css" />
	<link rel="stylesheet" type="text/css" href="js/thickbox.css" />
	<link rel="stylesheet" type="text/css" href="js/jquery/style/Validator.css"/>

	<script type="text/javascript" src="js/jquery.js"></script>
	<script type="text/javascript" src="js/thickbox.js"></script>

	<script type="text/javascript" src="js/jquery/formValidator.js" charset="UTF-8"></script>
	<script type="text/javascript" src="js/jquery/formValidatorRegex.js" charset="UTF-8"></script>

	<script type="text/javascript" src="js/DatePicker/WdatePicker.js"></script>
	<script type="text/javascript" src="js/common/businesspage.js"></script>
	<script type="text/javascript" src="view/template/rdproject/task/js/rdtk_onekey_tab.js"></script>
	<script type="text/javascript" src="view/template/rdproject/task/js/rdtask-onekey-add-formValidator.js"></script>

	<script type="text/javascript" src="js/ext/ext-base.js"></script>
	<script type="text/javascript" src="js/ext/ext-all.js"></script>
	<script type="text/javascript" src="js/ext/common-ext.js"></script>
	<link rel="stylesheet" type="text/css" href="js/ext/resources/css/ext-all.css" />
	<link rel="stylesheet" type="text/css" href="js/ext/css/styles.css" />

	<script type="text/javascript" src="js/ext/ux/grid/MyGrid.class.js"></script>
	<script type="text/javascript" src="js/ext/ux/combox/MyGridComboBox.class.js"></script>
	<script type="text/javascript" src="view/template/common/combogrid/rdProjectinfoComboGrid.js"></script>
	<script type="text/javascript" src="view/template/rdproject/task/js/rdtk_onekey_projectinfo-list.js"></script>
	<!-- 附件上传开始 -->
	<script type="text/javascript" src="swfupload/swfupload.js"></script>
	<script type="text/javascript" src="swfupload/swfupload.queue.js"></script>
	<script type="text/javascript" src="swfupload/fileprogress.js"></script>
	<script type="text/javascript" src="swfupload/handlers.js"></script>
	<link rel="stylesheet" type="text/css" href="swfupload/upload.css">



</head>
<body>
<form action="?model=engineering_task_protask&action=view" method="POST" name="form1" id="form1">
<table class="form_main_table">
	<tr>
		<td class="main_tr_header" colspan="4">基本信息</td>
	</tr>

	<tr>
		<td class="form_text_left">任务名称</td>
		<td class="form_text_right" colspan="3">
            {name}
        </td>

    </tr>
    <tr>
		<td class="form_text_left">任务类型</td>
		<td class="form_text_right">
		{taskType}
        </td>
		<td class="form_text_left">优先级</td>
		<td class="form_text_right">
		{priority}
		</td>
	</tr>
	<tr>
	    <td class="form_text_left">责任人</td>
		<td class="form_view_right" colspan="3">
			{chargeName}
		</td>
	 </tr>
	 <tr>
	     <td class="form_text_left">发布人</td>
		<td class="form_view_right" colspan="3">
			{publishName}
		</td>
	 </tr>

	<tr>
		<td class="form_text_left">计划开始日期</td>
		<td class="form_text_right">
		  {planBeginDate}
		 </td>
		<td class="form_text_left">计划完成日期</td>
		<td class="form_text_right">
		{planEndDate}
		</td>
	</tr>
   <tr>
		<td class="form_text_left">任务描述</td>
		<td class="form_text_right" colspan="3">
		{remark}
		</td>
	</tr>


</table>
</form>
</body>
</html>

