
<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />

<link rel="stylesheet" type="text/css" href="css/yxstyle.css" />
<link rel="stylesheet" type="text/css" href="js/thickbox.css" />
<link rel="stylesheet" type="text/css" href="js/jquery/style/Validator.css" />

<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/thickbox.js"></script>
<script type="text/javascript" src="js/jquery/formValidator.js"
	charset="UTF-8"></script>

<script type="text/javascript" src="js/jquery/formValidatorRegex.js"
	charset="UTF-8"></script>
<script type="text/javascript" src="js/DatePicker/WdatePicker.js"></script>

<script type="text/javascript" src="js/common/businesspage.js"></script>
<script type="text/javascript"
	src="view/template/rdproject/task/js/rdtk_onekey_tab.js"></script>

<script type="text/javascript" src="js/ext/ext-base.js"></script>
<script type="text/javascript" src="js/ext/ext-all.js"></script>
<script type="text/javascript" src="js/ext/common-ext.js"></script>
<link rel="stylesheet" type="text/css"
	href="js/ext/resources/css/ext-all.css" />
<link rel="stylesheet" type="text/css" href="js/ext/css/styles.css" />
<script type="text/javascript" src="js/ext/ux/grid/MyGrid.class.js"></script>
<script type="text/javascript" src="js/ext/ux/combox/MyGridComboBox.class.js"></script>


</head>
<body>
    <form action="?model=engineering_task_tkover&action=addPutTaskinfo" id="form1" method="POST" name="form1" >
  <table class="form_main_table">
	<tr>
		<td class="main_tr_header" colspan="4">自我评价</td>
	</tr>
	<tr>
		<td class="form_text_left">自评等级</td>
		<td class="form_text_right" colspan="3">
		<input type="hidden" name="tkover[taskId]" id="taskId" value="{id}">
		<select class="select" name="tkover[selfGrade]" id="selfGrade">
		    <option value="优秀">优秀</option>
		    <option value="良好">良好</option>
		    <option value="一般">一般</option>
		    <option value="差">差</option>
		</select></td>

	</tr>
	<tr>
		<td class="form_text_left">审核人</td>
		<td class="form_text_right" colspan="3">
		     <input type="hidden"  id="auditId"   name="tkover[auditId]">
		     <input type="hidden"  id="taskId"   name="tkover[taskId]" value="{taskId}">
			 <input type="text"    class="txt"    id="auditName"        name="tkover[auditName]"  >
			 <input type="button"  value="选 择"   class="txt_btn_a" 	onclick="loadOrgWindow2('auditId','auditName')">
			 <input type="button"  value="清 空"   class="txt_btn_a"    	onclick="clearOrgInfo('auditId','auditName')"> <span class='red'>[*]</span>

		</td>
	</tr>
	<tr>
		<td class="form_text_left">自我描述</td>
		<td class="form_text_right" colspan="4"><textarea
			name="tkover[selfRemark]" class="txt_txtarea_font" id="selfRemark"></textarea></td>
	</tr>
	<tr>
		<td colspan="4">
			<input  type="submit" class="txt_btn_a"  value="确定">
			<input type="button" class="txt_btn_a" onclick="self.parent.tb_remove();" value="返回 "></td>
	</tr>
</table>
</form>

</body>
</html>

