<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" " http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns=" http://www.w3.org/1999/xhtml">
<head>
	<title>设置积分规则</title>
    {#commonInclude#}
    <base target="_self"/>
    <script type="text/javascript" src="{#jsPath#}/trialplantemdetailex-viewrule.js" ></script>
</head>
<body>
	<table class="form_main_table">
	   <tr>
			<td colspan="4">
				<div class="main_head2">
					<span class="main_head_title">
	               		设置积分规则 - {taskName}
					</span>
				</div>
			</td>
		</tr>
	       <tr>
			<td class="innerTd" colspan="4">
				<table class="form_in_table" id="trialplantemdetailex"></table>
			</td>
		</tr>
		<tr>
	   		<td class="txt_btn" colspan="4">
	        	<input  type="hidden" id="id" value="{id}" />
	   		    <input  type="button" class="txt_btn_a" value=" 关  闭 " onclick="closeFun();"/>
	   		</td>
		</tr>
	</table>
</body>
</html>