<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en_US" xml:lang="en_US">
<head>
<title>查看用车明细(oa_carrental_records_detail)</title>
<meta http-equiv="Content-Type" content="text/html;charset=gb2312" />
<link rel="stylesheet" type="text/css" href="css/yxstyle.css" />
<link rel="stylesheet" type="text/css" href="js/thickbox.css" />
<link rel="stylesheet" type="text/css"
	href="js/jquery/style/Validator.css" />

<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/thickbox.js"></script>

<script type="text/javascript" src="js/common/businesspage.js"></script>

</head>
<body>

<table class="form_main_table">
	<tr>
		<td colspan="4">
			<div class="main_head2">
				<span class="main_head_title">租车明细</span>
			</div>
		</td>
	</tr>
	<tr>
		<td class="form_text_left">使用日期</td>
		<td class="form_text_right">{useDate}</td>
		<td class="form_text_left">车 牌</td>
		<td class="form_text_right" width="30%">{carNo}</td>
	</tr>
	<tr>
		<td class="form_text_left">里 程 数</td>
		<td class="form_text_right">{mileage}</td>
		<td class="form_text_left">租车性质</td>
		<td class="form_text_right">{rentalTypeName}</td>
	</tr>
	<tr>
		<td class="form_text_left">使用时长</td>
		<td class="form_text_right">{useHours}</td>
		<td class="form_text_left">乘 车 费</td>
		<td class="form_text_right">{travelFee}</td>
	</tr>
	<tr>
		<td class="form_text_left">油 费</td>
		<td class="form_text_right">{fuelFee}</td>
		<td class="form_text_left">路 桥 费</td>
		<td class="form_text_right">{roadFee}</td>
	</tr>
	<tr>
		<td class="form_text_left">停 车 费</td>
		<td class="form_text_right">{parkingFee}</td>
		<td class="form_text_left">有效LOG</td>
		<td class="form_text_right">{effectiveLog}</td>
	</tr>
	<tr>
		<td class="form_text_left">创 建 人</td>
		<td class="form_text_right">{createName}</td>
		<td class="form_text_left">创建时间</td>
		<td class="form_text_right">{createTime}</td>
	</tr>
	<tr>
		<td class="form_text_left">用 途</td>
		<td class="form_text_right" colspan="3">
			<pre>{useReson}</pre>
		</td>
	</tr>
	<tr>
		<td class="txt_btn" colspan="4">
			<input type="button" class="txt_btn_a" value=" 关  闭 " onclick="self.parent.tb_remove();" />
		</td>
	</tr>
</table>
</body>
</html>
